<header id="site-header" role="banner">
    <div class="container">
        [% INCLUDE 'header_logo.html' %]
        <label id="nav-link" for="main-nav-btn" aria-expanded="false">[% loc('Main Navigation') %]</label>
    </div>
</header>

<div class="nav-wrapper">
    <div class="container">
        [% INCLUDE 'main_nav.html' %]
    </div>
</div>

[% IF c.req.uri.path == '/' %]
    <div class="front-warning">
        <div class="container">
            Please don&rsquo;t endanger your safety to make a report to us, only do so from a safe location
        </div>
    </div>
[% END %]
