[%# Assumes fixmystreet cobrand is using FMS map template - for bonus points preload all the right map elements. %]

[% PROCESS "maps/fms.html" %]
[% INCLUDE 'header.html', title = '', bodyclass = 'mappage frontmappage' %]

<form action="[% c.uri_for('/around') %]" method="get" name="mapForm" id="mapForm">
<script type="text/javascript">
var fixmystreet = {
    'page': '',
    'latitude': 52.505241,
    'longitude': -1.815285,
    'zoom': 3,
    'numZoomLevels': 5,
    'zoomOffset': 13,
    'map_type': ""

}
</script>
<div id="map_box">
    
    <div id="map"><noscript>
        <div id="drag"><input type="image"
            alt="NW map tile" id="t2.2"
            name="tile_32437.21496"
            src="http://a.tilma.mysociety.org/sv/16/32437/21496.png"
            style="top:0; left:0;"><input type="image"
            alt="NE map tile" id="t2.3"
            name="tile_32438.21496"
            src="http://b.tilma.mysociety.org/sv/16/32438/21496.png"
            style="top:0px; left:256px;"><br><input type="image"
            alt="SW map tile" id="t3.2"
            name="tile_32437.21497"
            src="http://c.tilma.mysociety.org/sv/16/32437/21497.png"
            style="top:256px; left:0;"><input type="image"
            alt="SE map tile" id="t3.3"
            name="tile_32438.21497"
            src="http://tilma.mysociety.org/sv/16/32438/21497.png"
            style="top:256px; left:256px;"></div>
        <div id="pins"></div>
        

<div style="position: absolute; left: 4px; top: 4px; z-index: 1007;" class="olControlPanZoom olControlNoSelect" unselectable="on">
    <div style="position: absolute; left: 13px; top: 4px; width: 18px; height: 18px;"><a rel="nofollow" href="http://seesomething.test.mysociety.org/around?lat=52.509535&zoom=3&lon=-1.812744&pc=ST%25+6PG"><img style="position: relative; width: 18px; height: 18px;" src="/jslib/OpenLayers-2.10/img/north-mini.png" border="0"></a></div>
    <div style="position: absolute; left: 4px; top: 22px; width: 18px; height: 18px;"><a rel="nofollow" href="http://seesomething.test.mysociety.org/around?lat=52.506191&zoom=3&lon=-1.818237&pc=ST%25+6PG"><img style="position: relative; width: 18px; height: 18px;" src="/jslib/OpenLayers-2.10/img/west-mini.png" border="0"></a></div>
    <div style="position: absolute; left: 22px; top: 22px; width: 18px; height: 18px;"><a rel="nofollow" href="http://seesomething.test.mysociety.org/around?lat=52.506191&zoom=3&lon=-1.807251&pc=ST%25+6PG"><img style="position: relative; width: 18px; height: 18px;" src="/jslib/OpenLayers-2.10/img/east-mini.png" border="0"></a></div>
    <div style="position: absolute; left: 13px; top: 40px; width: 18px; height: 18px;"><a rel="nofollow" href="http://seesomething.test.mysociety.org/around?lat=52.502848&zoom=3&lon=-1.812744&pc=ST%25+6PG"><img style="position: relative; width: 18px; height: 18px;" src="/jslib/OpenLayers-2.10/img/south-mini.png" border="0"></a></div>
    <div style="position: absolute; left: 13px; top: 63px; width: 18px; height: 18px;"><a rel="nofollow" href="http://seesomething.test.mysociety.org/around?lat=52.505241&zoom=4&lon=-1.815285&pc=ST%25+6PG"><img style="position: relative; width: 18px; height: 18px;" src="/jslib/OpenLayers-2.10/img/zoom-plus-mini.png" border="0"></a></div>
    <div style="position: absolute; left: 13px; top: 81px; width: 18px; height: 18px;"><a rel="nofollow" href="http://seesomething.test.mysociety.org/around?zoom=0&pc=ST%25+6PG"><img style="position: relative; width: 18px; height: 18px;" src="/jslib/OpenLayers-2.10/img/zoom-world-mini.png" border="0"></a></div>
    <div style="position: absolute; left: 13px; top: 99px; width: 18px; height: 18px;"><a rel="nofollow" href="http://seesomething.test.mysociety.org/around?lat=52.505241&zoom=2&lon=-1.815285&pc=ST%25+6PG"><img style="position: relative; width: 18px; height: 18px;" src="/jslib/OpenLayers-2.10/img/zoom-minus-mini.png" border="0"></a></div>
</div>

    </noscript></div>
    </div>

    <div id="side-form">
        <div id="report-a-problem-main">
            [% form = PROCESS 'around/postcode_form.html' %]
            [% form %]

            [% IF error %]
                <p class="form-error">[% error %]</p>
            [% END %]

            <div class="tablewrapper">
                <div id="front-howto">
                    [% INCLUDE 'index-steps.html' %]
                </div>

            </div>

        </div>
    </div>
</form>

[% INCLUDE 'footer.html' pagefooter = 'yes' %]
