[%# Assumes fixmystreet cobrand is using FMS map template - for bonus points preload all the right map elements. %]

[% PROCESS "maps/fms.html" %]
[% INCLUDE 'header.html', title = '', bodyclass = 'mappage' %]

<form action="[% c.uri_for('/around') %]" method="get" name="mapForm" id="mapForm">
<script type="text/javascript">
var fixmystreet = fixmystreet || {};
$.extend(fixmystreet, {
    'latitude': 52.505241,
    'longitude': -1.815285,
    'zoom': 3,
    'numZoomLevels': 5,
    'zoomOffset': 13,
    'map_type': ""
});
</script>
<div id="map_box">
    <div id="map"></div>
    </div>

    <div id="side-form">
        <div id="report-a-problem-main">
            [% form = PROCESS 'around/postcode_form.html' %]
            [% form %]

            [% IF error %]
                <p class="form-error">[% error %]</p>
            [% END %]

            <div class="tablewrapper">
                <div id="front-howto">
                    [% INCLUDE 'index-steps.html' %]
                </div>

            </div>

        </div>
    </div>
</form>

[% INCLUDE 'footer.html' pagefooter = 'yes' %]
