[%

    IF report.used_map;
        PROCESS "maps/${map.type}.html";
    END;

    INCLUDE 'header.html',
        title  => loc('Report created')
        bodyclass => 'mappage',
        robots => 'noindex,nofollow';
%]


    [% IF report.used_map %]
    [% map_html %]

    </div>
    [% END %]

    <div id="side">
<div id="report-a-problem-main">
    <h1>Complete</h1>
    <p>Your report has been sent. If you included contact details we may be in touch to follow up or request more details.</p>
    <p>Thank you for saying something and making our transport safer.</p>
    <p><img src="../cobrands/seesomething/images/btp-wmp-logos.png" alt="British Transport Police and the West Midlands Police" width="271" height="116"></p>
</div>
    </div>

[% INCLUDE 'footer.html' %]
