<div class="shropshire-footer">
    <div class="container">
        <div class="footer-links">
            <ul>
                <li>
                    <a id="skip-contact" href="https://www.shropshire.gov.uk/customer-services/how-to-contact-us/">Contact Shropshire Council</a>
                </li>
                <li>
                    <a href="https://shropshire.gov.uk/feedback">Complaints</a>
                </li>
                <li>
                    <a href="https://careers.shropshire.gov.uk/" target="_blank">Jobs</a>
                </li>
                <li>
                    <a href="https://shropshire.gov.uk/about-this-site/cookies/">Cookie information</a>
                </li>
                <li>
                    <a href="https://shropshire.gov.uk/about-this-site/">About this site</a>
                </li>
                <li>
                    <a href="https://shropshire.gov.uk/website-information/help-using-our-website/accessibility-statement-for-shropshire-council/">Accessibility statement</a>
                </li>
                <li>
                    <a href="https://shropshire.gov.uk/privacy/">Privacy statement</a>
                </li>
                <li>
                    <a href="https://shropshire.gov.uk/access-to-information/">Data protection and FOIs</a>
                </li>
                <li>
                    <a class="btn-twitter" href="https://wwww.twitter.com/ShropCouncil" title="Follow our twitter">@ShropCouncil</a>
                </li>
                <li>
                    <a class="btn-facebook" href="https://www.facebook.com/shropshirecouncil" title="Like our facebook">Like our facebook</a>
                </li>
            </ul>
            <div class="footer-link-wrapper">
                <p class="footer-link">
                    <a class="button map" href="https://shropshire.maps.arcgis.com/apps/PublicGallery/index.html?appid=adf20c247d5149ea95f482335e002f6c" title="">Maps</a>
                </p>
                <p class="footer-link">
                    <a class="button feedback" href="https://shropshire.gov.uk/forms/web-feedback?url={{current page URL}}">Leave feedback</a>
                </p>
                <p class="footer-link">
                    <a class="button govroam" href="https://shropshire.gov.uk/privacy/govroam-service-information/" aria-label="Govroam"></a>
                </p>
            </div>
        </div>
        <small class="copy">© Shropshire Council 2022. Made in Shropshire by <a href="https://shropshire.gov.uk/projectwip" title="Project WIP homepage">Project WIP</a>.</small>
    </div>
</div>
[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
