@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#site-logo {
    background: url(/cobrands/makemyisland/make-my-island-logo.gif) 0px 0px no-repeat;
    background-size: contain;
    background-color: $blue;
}

#united-nations-dp-logo {
  display: none;
}

#site-header,
body.frontpage #site-header,
body.mappage #site-header,
{
    min-height: 3em;
    @include background(none);
    background-color: $blue;
}

div#location-buttons {
  margin: 1.333em auto;
  .island-button {
    margin:0 auto 1.5em auto;
  }
  a.front-page-button {
    // @include button-reset(#FFD000, #cc9000, #aa7000, #300, #FFD000, #cc9000, #aa7000, #300);
    @include button-reset($blue, darken($blue, 10%), darken($blue, 30%), white, $blue, darken($blue, 20%), darken($blue, 30%), white);
    #front-main & {
      text-decoration: none;
    }
    &:visited, &:hover {
      color:white;
    }
  }
}

.share-report-on-facebook {
    a {
        display: block;
        padding:0.7em 0.5em 0.5em 0.5em;
        @include border-radius(4px);
        background: #3b5998;
        color: #fff;
        text-align: center;

        &:visited {
            color: #fff;
        }

        &:hover,
        &:focus {
            background: darken(#3b5998, 5%);
            text-decoration: none;
        }

        img {
            margin-right: 0.5em;
            vertical-align: -0.2em;
            height: 1.3em;
            width: auto;
        }
    }
}

.issue-list li,
.form-box,
h4.static-with-rule {
    background-color: mix(#fff, desaturate($primary, 40%), 90%);
}