@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#site-logo {
    background: url(/cobrands/makemyisland/make-my-island-logo.gif) 0px 0px no-repeat;
    background-size: contain;
    background-color: $blue;
}

#united-nations-dp-logo {
  display: none;
}

#site-header,
body.frontpage #site-header,
body.mappage #site-header,
{
    min-height: 3em;
    @include background(none);
    background-color: $blue;
}
 
div#location-buttons {
  margin: 1.333em auto;
  .island-button {
    margin:0 auto 1.5em auto;
  }
  a.front-page-button {
    // @include button-reset(#FFD000, #cc9000, #aa7000, #300, #FFD000, #cc9000, #aa7000, #300);
    @include button-reset($blue, darken($blue, 10%), darken($blue, 30%), white, $blue, darken($blue, 20%), darken($blue, 30%), white);
    #front-main & {
      text-decoration: none;
    }
    &:visited, &:hover {
      color:white;
    }
  }  
}
