@import "_colours";

@import "../sass/layout";

#site-logo,
body.frontpage #site-logo {
    margin-top: -8px;
    margin-left: 10px;
    height: 100px;
    background: url(/cobrands/makemyisland/make-my-island-logo.gif) 0px 0px no-repeat;
}

body.mappage #site-logo {
    height: 60px;
    background-size: contain;
}

body.frontpage #site-logo {
    margin-top: -35px;
    width: 100px;
}

body.frontpage #united-nations-dp-logo {
  display: block;
  float:right;
  position: relative;
  background: url(/cobrands/makemyisland/undp-logo-2013.png) top right no-repeat;
  background-size: contain;
  background-color: transparent;
  text-indent: -999999px;
  height: 100px;
  width: 51px;
  margin: 10px 10px 0 0;
  z-index:3; // clear of the nav container
}

ul#main-menu {
  margin-right: 70px; // to clear the UNDP logo
}