                    [% IF pagefooter %]
                    [%# this section of template isn't currently used %]
                    <footer role="content-info">
                        <div class="tablewrapper bordered">
                            <div id="footer-mobileapps">
                                <h4>Mobile apps</h4>
								<p>
                                Looking for a mobile app?
                                We don't have one yet, but with your support we can build one.
                                <a href="mailto:hello@collideosco.pe">Support Us</a>
								</p>
                            </div>

                            <div id="footer-help">
                                <ul>
                                    <li>
                                        <h4> Are you a cycling charity? </h4>
                                        <p> We're looking for supporters to help us build Collideoscope to provide better
                                        information for the police, highways departments, planning departments,
                                        and campaign groups.
                                        <a href="mailto:hello@collideosco.pe">Support Us</a>
                                    </li>
                                    <li>
                                        <h4> Are you from a highways department? </h4>
                                        <p> Would you like to receive email reports of incidents on Collideoscope?
                                        <a href="mailto:hello@collideosco.pe">Contact Us</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                    [% END %]
                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    <ul id="main-menu">
                        <li><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %]
                            >[% loc("Find &amp; report") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/reports' %]span[% ELSE %]a href="/reports"[% END
                            %]>[% loc("Statistics") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
                            %]>[% loc("FAQs") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>[%
                        %]<li><a href="/sponsors"[%
                            %]>[% loc("Sponsors") %]</a></li>
                     <!--    [% IF c.user_exists %]
                        <li>
                            <a href="/auth/sign_out">[% loc('Sign out') %]</a>
                        </li>
                        [% END %] -->
                    </ul>
                </div>
            </div>
        </div>

<!-- [% INCLUDE 'debug_footer.html' %] -->
    </div> <!-- .wrapper -->

    [% TRY %][% PROCESS 'footer_extra.html' %][% CATCH file %][% END %]

</body>
</html>
