        <link href="http://fonts.googleapis.com/css?family=Cabin:400,700|Oswald" rel="stylesheet" type="text/css">
        <script src="/cobrands/smidsy/js/jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
        <link rel="stylesheet" href="/cobrands/smidsy/js/jquery-ui/css/jquery-ui-1.10.4.custom.min.css" />
        <script src="[% version('/cobrands/smidsy/js/report.js') %]"></script>
        <script>
            var severity = {
                categories: [% c.cobrand.severity_categories_json %],
                minor_threshold: [% c.cobrand.severity_minor_threshold %],
                major_threshold: [% c.cobrand.severity_major_threshold %]
            };
        </script>
