[%

color_he_darkblue = '#011e41';
color_he_blue = '#0073a6';
color_he_brightblue = '#0082c9';
color_he_paleblue = '#99cceb';
color_he_black = '#00050d';
color_he_orange = '#f28a00';
color_he_green = '#4a7529';
color_he_red = '#d13339';
color_he_yellow = '#ffc726';
color_he_pink = '#cc2b99';

color_he_grey1 = '#f2f2f2';
color_he_grey2 = '#eff0f2';
color_he_grey3 = '#cfd1d1';
color_he_grey4 = '#59595c';
color_he_grey5 = '#38383b';
color_he_grey6 = '#241f21';

body_background_color = color_he_grey3
body_text_color = color_he_grey6

header_background_color = '#fff'
header_text_color = color_he_black

secondary_column_background_color = color_he_grey2

button_background_color = color_he_blue
button_text_color = '#fff'

logo_file = "email-logo.png"
logo_width = "118" # pixel measurement, but without 'px' suffix
logo_height = "35" # pixel measurement, but without 'px' suffix

%]
