[%

color_green = '#00b341'
color_black = '#000000'
color_white = '#FFFFFF'
color_hackney_pale_green = '#f2f7f0'
color_hackney_dark_green = '#00664f'

body_background_color = color_hackney_pale_green
body_text_color = color_black

header_background_color = color_black
header_text_color = color_white

secondary_column_background_color = color_white

button_background_color = color_hackney_dark_green
button_text_color = color_white

logo_file = 'hackney-logo-white.png'
logo_width = "200" # pixel measurement, but without 'px' suffix
logo_height = "36" # pixel measurement, but without 'px' suffix
header_padding = "20px 30px"

%]
