[% INCLUDE 'admin/header.html' title=tprintf(loc('Response Templates for %s'), body.name) -%]
[% rt = response_template %]

<h2> [% tprintf(loc('Response Templates for %s'), body.name) %] </h2>

<h3> [% IF rt.id %]
    [% tprintf(loc('Template &laquo;%s&raquo;'), rt.title) %]
    [% ELSE %]
    [% loc('New template') %]
    [% END %]
</h3>

<form method="post"
    action="[% c.uri_for_action('/admin/templates/edit', body.id, rt.id || 'new' ) %]"
    enctype="application/x-www-form-urlencoded"
    accept-charset="utf-8"
    class="validate">

    [% IF errors.title %]
        <div class="form-error">[% errors.title %]</div>
    [% END %]
    <p>
        <strong>[% loc('Title:') %] </strong>
        <input type="text" name="title" class="form-control required" size="30" value="[% rt.title| html %]">
    </p>
    <p>
        <strong>[% loc('Text:') %] </strong>
        <textarea name="text" class="form-control required">[% rt.text |html %]</textarea>
    </p>
    <p>
    <input type="hidden" name="token" value="[% csrf_token %]" >
    <input type="submit" class="btn" name="Edit templates" value="[% rt.id ? loc('Save changes') : loc('Create template') %]" >
    </p>
    [% IF rt.id %]
        <p>
            <input class="delete btn-danger" type="submit" name="delete_template" value="[% loc('Delete template') %]">
        </p>
    [% END %]
</form>

[% INCLUDE 'admin/footer.html' %]
