<footer class="lgd-footer">
  <div class="lgd-footer__pre-footer">
    <div class="lgd-container">
      <div class="lgd-row">
        <div class="lgd-row__one-third">
          <div class="lgd-region lgd-region--footer-first region region-footer-first">
            <div class="lgd-container padding-horizontal">
              <div class="lgd-region__inner lgd-region__inner--footer-first">
                <div id="block-webform" class="block block-webform block-webform-block">
                  <h2>Keep up to date</h2>
                  <form class="webform-submission-form webform-submission-add-form webform-submission-subscribe-form-form webform-submission-subscribe-form-add-form webform-submission-subscribe-form-node-450-form webform-submission-subscribe-form-node-450-add-form js-webform-details-toggle webform-details-toggle" data-drupal-selector="webform-submission-subscribe-form-node-450-add-form" action="/" method="post" id="webform-submission-subscribe-form-node-450-add-form" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-email,edit-actions-submit">
                    <div id="edit-header-text" class="js-form-item form-item js-form-type-processed-text form-item- js-form-item- form-no-label">
                      <p>Sign up for email newsletters for the latest update and news from Hart District Council.</p>
                    </div>
                    <div class="form-wrapper">
                      <div class="js-form-item form-item js-form-type-email form-item-email js-form-item-email">
                        <label for="edit-email">Email</label>
                        <input data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" placeholder="Enter email address..." class="form-email" autocomplete="email">
                      </div>
                      <div data-drupal-selector="edit-actions--2" class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions--2">
                        <input class="webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit" name="op" value="Subscribe">
                      </div>
                      <input autocomplete="off" data-drupal-selector="form-nbugzwdeud3mzbpniv-dqjlqfrboa7sbj4lct79j0qo" type="hidden" name="form_build_id" value="form-nBuGZWDEuD3MZBPnIv-DQjLQFrBOA7sbJ4LCt79J0qo">
                      <input data-drupal-selector="edit-webform-submission-subscribe-form-node-450-add-form" type="hidden" name="form_id" value="webform_submission_subscribe_form_node_450_add_form">
                    </div>
                  </form>
                </div>
                <div id="block-bbd-socials-media-links" class="block block-block-content block-block-content6f3c3717-c1ca-4247-b5ff-e56b8b75112f">
                  <h2>Follow us</h2>
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p>Keep up to date through your favourite <br> social media account. </p>
                  </div>
                  <ul class="social-media-links--platforms platforms vertical">
                    <li>
                      <a class="social-media-link-icon--facebook ext" href="https://www.facebook.com/HartDistrictCouncil" data-extlink="" target="_blank" rel="noopener nofollow noreferrer">
                        <span class="fab fa-facebook fa-2x"></span>
                        <span class="fa-ext extlink">
                          <span class="fas fa-external-link-alt" aria-label="(link is external)"></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="social-media-link-icon--instagram ext" href="https://www.instagram.com/hartcouncil" data-extlink="" target="_blank" rel="noopener nofollow noreferrer">
                        <span class="fab fa-instagram fa-2x"></span>
                        <span class="fa-ext extlink">
                          <span class="fas fa-external-link-alt" aria-label="(link is external)"></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="social-media-link-icon--twitter ext" href="https://www.twitter.com/HartCouncil" data-extlink="" target="_blank" rel="noopener nofollow noreferrer">
                        <span class="fab fa-twitter fa-2x"></span>
                        <span class="fa-ext extlink">
                          <span class="fas fa-external-link-alt" aria-label="(link is external)"></span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="social-media-link-icon--youtube ext" href="https://www.youtube.com/channel/UCTtl7LMcq6PZwwSfb00mHxg" data-extlink="" target="_blank" rel="noopener nofollow noreferrer">
                        <span class="fab fa-youtube fa-2x"></span>
                        <span class="fa-ext extlink">
                          <span class="fas fa-external-link-alt" aria-label="(link is external)"></span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lgd-row__one-third">
          <div class="lgd-region lgd-region--footer-second region region-footer-second">
            <div class="lgd-container padding-horizontal">
              <div class="lgd-region__inner lgd-region__inner--footer-second">
                <div id="block-sitebranding" class="block block-system block-system-branding-block">
                  <div class="branding">
                    <div class="branding__item branding__item--logo">
                      <a href="https://www.hart.gov.uk/" rel="home" aria-label="Go to Hart council home page" class="branding__logo">
                      </a>
                    </div>
                  </div>
                </div>
                <nav aria-labelledby="block-footer-menu" id="block-footer" class="block block-menu navigation navigation--footer">
                  <h2 class="visually-hidden" id="block-footer-menu">Footer</h2>
                  <ul class="menu menu--footer">
                    <li class="menu-item">
                      <a href="https://www.hart.gov.uk/about-council/contact-us" target="_blank">
                        Contact us
                        <span class="visually-hidden">Opens in a new tab</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www.hart.gov.uk/accessibility" target="_blank">
                        Accessibility
                        <span class="visually-hidden">Opens in a new tab</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www.hart.gov.uk/disclaimer" target="_blank">
                        Disclaimer
                        <span class="visually-hidden">Opens in a new tab</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www.hart.gov.uk/privacy" target="_blank">
                        Privacy
                        <span class="visually-hidden">Opens in a new tab</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www.hart.gov.uk/cookies" target="_blank">
                        Cookies 
                        <span class="visually-hidden">Opens in a new tab</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www.hart.gov.uk/about-council/data-and-transparency/your-data-and-privacy/data-protection-and-access-information-1" target="_blank">
                        Data and transparency
                        <span class="visually-hidden">Opens in a new tab</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <div id="block-webchat" class="block block-bbd-custom block-bbd-web-chat">
                  <a href="https://www.hart.gov.uk/contact-us" class="bbd-web-chat">Web chat</a>
                </div>
                <div id="block-copyrightfooter" class="block block-copyright-footer"> Copyright © 2023 Hart district council </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
