            </div><!-- .content role=main -->

        </div><!-- .container -->

    </div><!-- .table-cell -->

    <div class="nav-wrapper clearfix">
        <div class="main-menu-wrapper">
            <div class="main-menu">
              [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area hide_mysoc_link=1 ul_class="clearfix" hide_privacy_link=1 %]
            </div>
        </div>
        <div class="nav-wrapper-2 clearfix">
            <div id="main-nav" class="clearfix" role="navigation">
                <ul class="nav-menu">
                    <li>
                        <a href="http://www.hart.gov.uk/home">Home</a>
                    </li>
                    <li>
                        <a href="http://www.hart.gov.uk/services">My Services</a>
                    </li>
                    <li>
                        <a href="http://www.hart.gov.uk/residents">Residents</a>
                    </li>
                    <li>
                        <a href="http://www.hart.gov.uk/businesses">Businesses</a>
                    </li>
                    <li>
                        <a href="http://www.hart.gov.uk/visiting">Visiting</a>
                    </li>
                    <li>
                        <a href="http://www.hart.gov.uk/the-council">The Council</a>
                    </li>
                </ul>
            </div>
            <div class="sign-in">
                [% IF c.user_exists %]
                    <p>
                        [% tprintf(loc('Hi %s'), c.user.name || c.user.email) %]
                        <a href="/auth/sign_out">[% loc('sign out') %]</a>
                    </p>
                [% END %]
            </div>
        </div>
    </div>

    <div class="hart-footer-wrapper">
        <div id="footer_outside_wrapper">
            <div id="footer_inside_wrapper" class="clearfix">
                <div id="footer-right" class="clearfix">
                    <ul class="footer-nav">
                        <li> <a href="http://www.hart.gov.uk/sitemap">Site map</a> </li>
                        <li> <a href="http://www.hart.gov.uk/Accessibility">Accessibility</a> </li>
                    </ul>
                </div>
                <footer id="hart-footer" class="clearfix">
                    <div id="copyright-block" class="desk-only">
                        <strong>©</strong> &nbsp;
                            <a href="http://www.hart.gov.uk/disclaimer" title="More information on the Disclaimer">Hart District Council</a>
                    </div>
                    <ul class="footer-nav clearfix">
                        <li> <a href="http://www.hart.gov.uk/disclaimer">Disclaimer</a></li>
                        <li> <a href="http://www.hart.gov.uk/freedom-information">Freedom of Information</a></li>
                        <li> <a href="http://www.hart.gov.uk/privacy">Privacy</a></li>
                    </ul>
                </footer>
                <div class="clearfix" id="footer-row-2">
                    <div id="hart-powered-by">
                        <a href="https://www.fixmystreet.com/about/council">Powered by <img src="/cobrands/hart/fms-logo.png" alt="FixMyStreet" style="height:20px;"></a>
                    </div>
                    <div id="footer-images">
                        <a href="https://twitter.com/HartCouncil">
                            <img alt="" src="/cobrands/hart/twitter-logo.png" style="height:43px; width:43px" />
                        </a> 
                        <a href="http://www.facebook.com/HartDistrictCouncil">
                            <img alt="" src="/cobrands/hart/facebook-logo.png" style="height:43px; margin-right: 10px; width:43px" />
                        </a> 
                        <a href="http://www.gov.uk">
                            <img alt="" src="/cobrands/hart/gov-logo.png" style="height:43px; width:172px" />
                        </a>
                    </div>
                </div>
                <div id="footer-row-3">
                    <div id="copyright-block-mobile" class="mob-only">
                        <strong>©</strong> &nbsp;
                        <a href="http://www.hart.gov.uk/disclaimer" title="More information on the Disclaimer">
                            Hart District Council</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_border">
    </div>

    [% INCLUDE 'common_footer_tags.html' %]

</div>
</body>
</html>
