<!doctype html>
<!--[if IE 8]>   <html class="no-js ie8" lang="[% lang_code %]"><![endif]-->
<!--[if IE 9]>   <html class="no-js ie9" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="[% lang_code %]"><!--<![endif]-->
    <head>
        <meta name="viewport" content="initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

        [% INCLUDE 'header_opengraph.html' %]
        [% INCLUDE 'header/css.html' %]
        <link rel="stylesheet" href="[% version('/cobrands/hart/hart.css') %]">
        [% INCLUDE 'common_header_tags.html' %]

        <link rel="Shortcut Icon" type="image/x-icon" href="/cobrands/hart/favicon.ico">

    </head>
    [% TRY %][% PROCESS 'set_body_class.html' %][% CATCH file %][% END %]
    <body class="[% bodyclass | html IF bodyclass %]">

    [% INCLUDE 'debug_header.html' %]

    <div class="wrapper">
        <div class="table-cell">
            <header id="site-header" role="banner">
                <div class="mobile-header-nav">
                    <ul>
                        <li> <a href="http://www.hart.gov.uk/"><div class="home-icon">&nbsp;</div></a>
                        <li> <a href="#main-nav"><div class="menu-icon">&nbsp;</div></a>
                    </ul>
                </div>
                <div class="container">
                    <a id="site-logo" href="http://www.hart.gov.uk">Hart District Council</a>
                </div>
            </header>

            [% pre_container_extra | safe %]

            <div class="container">
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">
