<h2> How to report </h2>

<ol class="big-numbers">
    <li>[% question %]</li>
    <li> Locate it on a map of the area </li>
    <li> Enter its details </li>
    <li>Confirm the report and [% c.cobrand.council_name %] will investigate</li>
</ol>

<div id="hart_hants_note">
    This site can also be used to report problems to Hampshire County Council via FixMyStreet.
</div>

<section class="full-width">
[% INCLUDE "front/stats.html" %]
[% TRY %][% INCLUDE "front/tips.html" %][% CATCH file %][% END %]
</section>

