<footer class="site-footer">
    <div class="container site-footer__container">
        <div class="site-footer__section">
            <div class="identity">
                <a class="identity__link" href="https://www.warwickshire.gov.uk/">
                    <span class="icon icon-logo identity__logo"></span>
                    <span class="visually-hidden">Warwickshire County Council</span>
                </a>
            </div>
            <div class="site-footer__info">
                <p class="site-footer__text site-footer__rights">&copy; Warwickshire County Council</p>
            </div>
        </div>
        <div class="site-footer__section">
            <nav class="site-footer__navigation" aria-label="Footer Navigation">
                <div class="site-footer__group site-footer__group--primary">
                    <ul class="list">
                        <li class="list__item"><a class="list__link" href="https://www.warwickshire.gov.uk/a-to-z"><span class="list__link-text">
                        A-Z of services
                    </span></a></li>
                        <li class="list__item"><a class="list__link" href="https://www.warwickshire.gov.uk/disclaimer"><span class="list__link-text">
                        Privacy and disclaimer
                    </span></a></li>
                        <li class="list__item"><a class="list__link" href="https://www.warwickshire.gov.uk/accessibility"><span class="list__link-text">
                        Accessibility
                    </span></a></li>
                        <li class="list__item"><a class="list__link" href="https://www.warwickshire.gov.uk/contactus"><span class="list__link-text">
                        Contact us
                    </span></a></li>
                        <li class="list__item"><a class="list__link" href="https://www.warwickshire.gov.uk/customerserviceandcomplaints"><span class="list__link-text">
                        Customer service and complaints
                    </span></a></li>
                        <li class="list__item"><a class="list__link" href="https://www.warwickshire.gov.uk/help"><span class="list__link-text">
                        Help using the website
                    </span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="site-footer__section">
            <div class="site-footer__suppliers">
                <p class="site-footer__text">
                    Powered by <a class="site-footer__text-link" href="https://www.fixmystreet.com/pro">FixMyStreet Platform</a>
                </p>
            </div>
        </div>
    </div>
</footer>
