        </div>
    </div>
</div>

<div class="container" id="footer-container">
<!-- 3P footer begins -->
            <footer>
              <div class="row">
                    <div class="span3">
                        <aside id="text-7" class="widget widget_text">          <div class="textwidget"><div style="text-align:center;padding-top:5px;">
<img style="width:auto !important;" src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WDlogo/$file/wdwhitelogo.png" alt="Warwickshire Direct">
<img style="width:auto !important;" src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WSWCClogo/$file/WCC+logo.png" alt="Warwickshire County Council">
<img style="width:auto !important;" src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/W4Wlogofooter/$file/w4w-footer.png" alt="Working For Warwickshire">
</div></div>
        </aside>                    </div>
                    <div class="span3">
                        <aside id="text-3" class="widget widget_text"><h3 class="widget-title">Contact details</h3>         <div class="textwidget"><ul>
<li><h4>Address</h4>Warwickshire County Council<br />Shire Hall<br />Warwick<br>CV34 4RL<br /></li>
<li><a href="//www.warwickshire.gov.uk/locationmap">Warwick town centre map</a></li>
<li><h4>Telephone</h4>Customer Service Centre<br />01926 410410<br>Mon-Fri: 8am-8pm<br />Sat: 9am-4pm<br /></li>
</ul></div>
        </aside>                    </div>
                    <div class="span2">
                        <aside id="text-4" class="widget widget_text"><h3 class="widget-title">Further help</h3>            <div class="textwidget"><ul>
<li><a href="//www.warwickshire.gov.uk/accessibility" accesskey="0">Accessibility</a></li>
<li><a href="//www.warwickshire.gov.uk/cookies">Cookies</a></li>
<li><a href="//www.warwickshire.gov.uk/complaints" accesskey="//www.warwickshire.gov.uk7">Complaints</a></li>
<li><a href="//www.warwickshire.gov.uk/consultations">Consultations</a></li>
<li><a href="//www.warwickshire.gov.uk/customerservice">Customer service</a></li>
<li><a href="//www.warwickshire.gov.uk/apps">Mobile apps</a></li>
<li><a href="//www.warwickshire.gov.uk/disclaimer" accesskey="8">Privacy policy, disclaimer and copyright</a></li>

</ul></div>
        </aside>                    </div>
                    <div class="span2">
                        <aside id="text-5" class="widget widget_text"><h3 class="widget-title">Information for</h3>         <div class="textwidget"><ul>
<li><a href="//www.warwickshire.gov.uk/business">Businesses</a></li>
<li><a href="//www.warwickshire.gov.uk/carers">Carers</a></li>
<li><a href="//www.warwickshire.gov.uk/olderpeople">Older people</a></li>
<li><a href="//www.warwickshire.gov.uk/parents">Parents and guardians</a></li>
<li><a href="//www.warwickshire.gov.uk/staff">Staff and partners</a></li>
<li><a href="//www.warwickshire.gov.uk/childrenandyoungpeople">Young People</a></li>
</ul></div>
        </aside><aside id="text-9" class="widget widget_text">          <div class="textwidget"><script src="//static.warwickshire.gov.uk/libs/js/wcc/e-services/engage-test.js"></script></div>
        </aside>                    </div>
                    <div class="span2">
                        <aside id="text-6" class="widget widget_text"><h3 class="widget-title">Find us on</h3>          <div class="textwidget"><ul>
<li><a href="//www.flickr.com/photos/56273443@N04">Flickr</a></li>
<li><a href="//twitter.com/WarksDirect">Twitter</a></li>
<li><a href="//www.youtube.com/warwickshirecc">YouTube</a></li>
<li><a href="//www.warwickshire.gov.uk/socialnetworking">Other social networks</a></li>
</ul></div>
        </aside>                    </div>
                    
                </div>
                <div class="row">
                    <div class="span12" style="text-align:center;">
                        <p>&copy; Warwickshire County Council</p>
                    </div>
                </div>
                </footer>
        </div> <!-- /container -->
        <div id="footer-logos-bottom">
            <div class="container">
                <ul class="inline">
                    <li><a href="//www.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/GovUKLogo.png" alt="Gov.uk"></a></li>
                    <li><a href="//www.stratford.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/sdclogo.png" alt="Stratford District Council"></a></li>
                    <li><a href="//www.rugby.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/rbclogo.png" alt="Rugby Borough Council"></a></li>
                    <li><a href="//www.nuneatonandbedworth.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/nbbclogo.png" alt="Nuneaton and Bedworth Borough Council"></a></li>
                    <li><a href="//www.northwarks.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/nwbc-small-footer.png" alt="North Warwickshire Borough Council"></a></li>
                    <li><a href="//www.warwickdc.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/wdc-logo-footer.png" alt="Warwick District Council"></a></li>
                    <li><a href="//www.warwickshire.police.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/warkspollogo.png" alt="Warwickshire Police"></a></li>
                </ul>
            </div>
        </div>
        
    </body>
</html><!-- 3P footer ends -->