<!DOCTYPE html><!-- 3P header begins -->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8" lang="[% lang_code %]"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="[% lang_code %]"> <!--<![endif]-->

<head>
    <meta name="viewport" content="initial-scale=1.0">

    <link rel="shortcut icon" href="/cobrands/warwickshire/vendor/gamma/images/favicon_wcc.ico" />
    <link rel="icon" type="image/png" href="/cobrands/warwickshire/vendor/gamma/images/favicon-WCC.png" />
    <link rel="apple-touch-icon" href="/cobrands/warwickshire/vendor/gamma/images/apple-touch-icon-WCC.png" />

    <link rel="stylesheet" href="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/style.css') %]" />
    <link rel="stylesheet" href="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/bootstrap-responsive.css') %]" />
    <link rel="stylesheet" href="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/image-navigation.css') %]" />
    <link rel="stylesheet" href="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/venues.css') %]" />
    <link rel="stylesheet" media="print" href="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/print.css') %]" />

    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/modernizr-2.6.2-respond-1.1.0.min.js') %]" type="text/javascript"></script>
    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/jquery-1.9.0.min.js') %]" type="text/javascript"></script>
    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/bootstrap.min.js') %]" type="text/javascript"></script>
    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/main.js') %]" type="text/javascript"></script>
    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/jquery.tabSlideOut.v1.3.js') %]" type="text/javascript"></script>
    <script type="text/javascript">
        function popup(mylink, wname) {
            if (! window.focus)return true;
            var href;
            if (typeof(mylink) == 'string')
            href=mylink;
            else
            href=mylink.href;
            window.open(href,wname,'width=345, height=590,scrollbars=no');
            return false;
        }
    </script>
    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/jquery.cycle.js') %]" type="text/javascript"></script>
    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/jquery.zrssfeed.o.js') %]" type="text/javascript"></script>
    <script src="[% version ('/cobrands/' _ c.cobrand.moniker _ '/vendor/gamma/homepage-slider-test.js') %]" type="text/javascript"></script>

    [% INCLUDE 'header/css.html' %]
    [% INCLUDE 'common_header_tags.html' %]
</head>

[% TRY %][% PROCESS 'set_body_class.html' %][% CATCH file %][% END %]
<body class="style-1 [% bodyclass | html IF bodyclass %]">

    [% INCLUDE 'warwickshire_masthead.html' %]

    [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area hide_all_reports_link=1 ul_class='container' %]

    <div id="wrapper" class="container wrapper">
        <div id="mysociety">
            [% pre_container_extra %]
            <div class="content[% " $mainclass" | html IF mainclass %]" role="main">
