<link rel="apple-touch-icon" sizes="180x180" href="/cobrands/warwickshire/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/cobrands/warwickshire/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/cobrands/warwickshire/images/favicon-16x16.png">
<link rel="manifest" href="/cobrands/warwickshire/images/site.webmanifest">
<link rel="mask-icon" href="/cobrands/warwickshire/images/safari-pinned-tab.svg" color="#076440">
<link rel="shortcut icon" href="/cobrands/warwickshire/images/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Warwickshire County Council">
<meta name="application-name" content="Warwickshire County Council">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
