/* COLOURS */

$mappage-header-height: 58px + 23px;

$body-font: Johnston100-Light, Arial, Helvetica, sans-serif;
$meta-font: Johnston100-Light, Arial, Helvetica, sans-serif;
$heading-font: Johnston100-Medium, Arial, Helvetica, sans-serif;

/* Primary is white on bluey */
$primary: #113b92;
$primary_b: #000;
$primary_text: #fff;

$base_bg: #fff;
$base_fg: #222;

$map_nav_bg: #222;
$nav_fg: #fff;
$nav_fg_hover: $primary;

$col_click_map: #00BD08;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$header-top-border: false;
