/* COLOURS */

$johnston-black: #03071C;
$beck-blue: #0019A8;
$dark: #2D3039;
$grey90: #637282;
$grey70: #86909E;
$grey50: #C1C8D2;
$grey30: #E1E4E8;
$grey10: #F2F4F5;
$grey5: #F7F9FA;
$white: #FFFFFF;

$yellow: #FAB928;
$yellow-light: #FDEBCE;
$blue-light: #F2F4FF;
$blue-dark: #000C51;
$turquoise: #00727D;
$green: #00A95D;
$red-light: #FBE9E8;
$red: #DC241F;

$error_color: $red;

$mappage-header-height: 60px;

$body-font: Johnston100-Light, Arial, Helvetica, sans-serif;
$meta-font: Johnston100-Light, Arial, Helvetica, sans-serif;
$heading-font: Johnston100-Regular, Arial, Helvetica, sans-serif;
$bold-font: Johnston100-Medium, Arial, Helvetica, sans-serif;

/* Primary is white on bluey */
$primary: $beck-blue;
$primary_b: $johnston-black;
$primary_text: $johnston-black;

$link-color: $beck-blue;
$link-text-decoration: 'underline';
$link-hover-color: $blue-dark;

$base_bg: $white;
$base_fg: $johnston-black;

$map_nav_bg: $johnston-black;
$nav_fg: $white;
$nav_fg_hover: $primary;

$col_click_map: $beck-blue;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$header-top-border: false;

$search-help-alignment: left;
$search-help-background: $red-light;
$search-help-header-background: $red;
$search-help-margin-desktop: -1em -1em 0em -1em;

$dropzone-button-text: $white;
$button-primary-bg-top: $beck-blue;
$button-primary-text: $white;

$mobile-sticky-sidebar-button-menu-image: "menu-white";

@mixin tflbutton {
  background: $beck-blue;
  border-radius: 22.5px;
  font-family: $heading-font;
  padding: 0.7em 2em;
  display: inline-block;
  border: 0;
  color: $white !important;
  &:hover,
  &:active,
  &:focus {
    background: transparent;
    background-color: $blue-dark;
    color: $white !important;
    outline-offset: 2px;
  }
}

@mixin tflfield {
  border: 1px solid $dark;
  border-radius: 2px;
  font-family: $body-font;
  background-color: $white;
  box-shadow: none;
  padding: 0.4em;
}

$postcodeform-background: transparent;
$report-forms-wrapper-flex-column-gap: 3rem;
$postcodeform-max-width: 50%;
