@font-face {
    font-family: 'Johnston100-Light';
    src: url("https://tfl.gov.uk/cdn/static/assets/fonts/Johnston100-Light.woff2") format("woff2"),url("https://tfl.gov.uk/cdn/static/assets/fonts/Johnston100-Light.woff") format("woff")
}

@font-face {
    font-family: 'Johnston100-Medium';
    src: url("https://tfl.gov.uk/cdn/static/assets/fonts/Johnston100-Medium.woff2") format("woff2"),url("https://tfl.gov.uk/cdn/static/assets/fonts/Johnston100-Medium.woff") format("woff")
}

@font-face {
    font-family: 'Johnston100-Regular';
    src: url("https://tfl.gov.uk/cdn/static/assets/fonts/Johnston100-Regular.woff2") format("woff2"),url("https://tfl.gov.uk/cdn/static/assets/fonts/Johnston100-Regular.woff") format("woff")
}

@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";

/* Header */

.tfl-mayor-logo {
  display: none;
}

.logo {
    float: left;
    margin-bottom: 0;
    margin-left: -1em;
    padding: 6px 4px 6px 10px;
    width: 48px;
    height: 43px;
    background-color: #113B92;
    background-position: center center;
}
.logo .name {
  display: none;
}
#site-logo {
    background-image: url("https://tfl.gov.uk/static/1/images/vsprite_x2.6cea7f1f.png");
    background-image: url("https://tfl.gov.uk/static/1/images/vsprite.236da77f.png") \9;
    background-size: 126px 4914px;
    background-position: -42px -210px;
    height: 42px;
    width: 42px;
}

#site-header {
    border-bottom: 3px solid #121315;
    background-color: #2D3039;
    max-height: 58px;
    position: relative
}

/* Mobile navigation links */

.top-row-extras a, .top-row-extras a:visited {
  color: #fff;
}
.top-row-extras a:first-child {
  border-left: 1px solid #565961;
  margin-right: -1em;
}
.top-row-extras a {
  float: right;
  padding: 18px 8px 13px;
  text-decoration: none;
  .arrow {
    display: inline-block;
    background-image: url("https://tfl.gov.uk/static/1/images/vsprite_x2.6cea7f1f.png");
    background-image: url("https://tfl.gov.uk/static/1/images/vsprite.236da77f.png") \9;
    background-size: 96px 3744px;
    background-position: -64px -672px;
    height: 28px;
    width: 21px;
    margin: -4px 0 0 -8px;
  }
}

.top-row-extras span {
    float: left;
}

.top-row-extras a {
    display: block;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s
}
.top-row-extras a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.top-row-extras a:hover,.top-row-extras a:focus {
    background-color: #444856;
    border-bottom: 3px solid #2070B0;
    margin-bottom: -3px
}

/* Footer */

#footer {
    border-top: 3px solid #ccc;
    background-color: #202329;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0px,#292C34),color-stop(6px,#373D48),color-stop(300px,#1F2329));
    background-image: -webkit-linear-gradient(#292C34 0px,#373D48 6px,#1F2329 300px);
    background-image: linear-gradient(#292C34 0px,#373D48 6px,#1F2329 300px)
}

#footer ul, #footer li {
    list-style-type: none;
    margin-bottom: 0
}

#footer a,#footer a:visited {
    color: #CDCDCD;
    font-size: 14px;
    padding: 7px 0;
    display: block
}

#footer .footer-links {
    padding-top: 10px;
    height: 100%;
    margin: 0 2.54% 10px
}

#footer .about-tfl-menu,#footer .terms-and-conditions-menu {
    margin: 0
}

#footer .secondary-footer {
    background-color: #2C2F38
}

#footer .secondary-footer span.heading {
    margin-left: 2.54%;
    color: #fff;
    font-size: 14px
}

#footer .secondary-footer a,#footer .secondary-footer a:visited {
    color: #66CCCC;
    text-decoration: underline;
    font-size: 14px
}
