<footer class="westminster-footer" id="westminster-footer">

  <div class="container">

    <div class="westminster-footer-logo__desktop">
      <a href="https://www.westminster.gov.uk/">City of Westminster</a>
    </div>

    <ul class="westminster-site-links">
      <li><a href="https://www.westminster.gov.uk/all-services">All council services</a></li>
      <li><a href="https://www.westminster.gov.uk/report-it">Report it</a></li>
      <li><a href="https://www.westminster.gov.uk/events">Events</a></li>
      <li><a href="https://www.westminster.gov.uk/news">News</a></li>
      <li><a href="https://www.westminster.gov.uk/jobs">Jobs</a></li>
    </ul>

    <ul class="westminster-social-links">
      <li><a href="https://www.facebook.com/CityWestminster/" class="westminster-social-links__facebook">Facebook</a></li>
      <li><a href="https://twitter.com/CityWestminster" class="westminster-social-links__twitter">Twitter</a></li>
      <li><a href="https://www.instagram.com/citywestminster" class="westminster-social-links__instagram">Instagram</a></li>
      <li><a href="https://www.linkedin.com/company/westminster-city-council" class="westminster-social-links__linkedin">LinkedIn</a></li>
    </ul>

    <ul class="westminster-tertiary-links">
      <li><a href="https://www.westminster.gov.uk/accessibility">Accessibility</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="https://www.westminster.gov.uk/data-protection">Data protection</a></li>
      <li><a href="https://www.westminster.gov.uk/freedom-of-information">Freedom of information</a></li>
      <li><a href="https://www.westminster.gov.uk/sites/default/files/gender_pay_gap_2018_2019.pdf" class="ext" target="_blank">Gender pay gap</a></li>
      <li><a href="https://www.westminster.gov.uk/modern-slavery-statement">Modern slavery</a></li>
      <li><a href="https://www.westminster.gov.uk/terms-conditions">Terms and conditions</a></li>
      <li><a href="https://www.westminster.gov.uk/contact-us">Contact us</a></li>
    </ul>

    <div class="westminster-footer-logo__mobile">
      <a href="https://www.westminster.gov.uk/">City of Westminster</a>
    </div>

  </div>

</footer>

<div class="westminster-cookie-banner">
    <div class="alert cookiealert" role="alert">
      <div class="row p-6">
        <div class="col text-left">
          <div>
            <span class="header-4 text-white"
              >We use cookies on this site to enhance your user experience</span
            >
            <p>By clicking the Accept button, you agree to us doing so.</p>
            <div>
              <a
                href="https://www.westminster.gov.uk/data-protection/privacy"
                class="text-link-colour underline hover:text-link-hover-colour"
                target="_blank"
                rel="noopener noreferrer"
                >More info on our cookie policy</a
              >
            </div>
          </div>
        </div>
        <div class="col ml-auto text-right">
          <div class="text-center">
            <button
              type="button"
              id="cookiepolicy"
              class="primary-button bg-button-default"
            >
              Accept cookies policy
            </button>
            <div class="mt-3">
              <a href="/report-it" id="declinepolicy">Decline cookies policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
