<footer class="westminster-footer" id="westminster-footer">

  <div class="container">

    <div class="westminster-footer-logo">
      <a href="https://www.westminster.gov.uk/">City of Westminster</a>
    </div>

    <ul class="westminster-site-links">
      <li><a href="https://www.westminster.gov.uk/apply-and-pay">Apply and pay</a></li>
      <li><a href="https://www.westminster.gov.uk/report-it">Report it</a></li>
      <li><a href="https://www.westminster.gov.uk/licensing-and-planning">Licensing and planning</a></li>
      <li><a href="https://www.westminster.gov.uk/find-it">Find</a></li>
    </ul>

    <ul class="westminster-social-links">
      <li><a href="https://www.facebook.com/CityWestminster/" class="westminster-social-links__facebook">Facebook</a></li>
      <li><a href="https://twitter.com/CityWestminster" class="westminster-social-links__twitter">Twitter</a></li>
      <li><a href="https://www.instagram.com/citywestminster" class="westminster-social-links__instagram">Instagram</a></li>
    </ul>

    <ul class="westminster-tertiary-links">
      <li><a href="https://www.westminster.gov.uk/accessibility">Accessibility</a></li>
      <li><a href="https://www.westminster.gov.uk/jobs">Careers</a></li>
      <li><a href="https://www.westminster.gov.uk/data-protection">Data protection</a></li>
      <li><a href="https://www.westminster.gov.uk/freedom-of-information">Freedom of information</a></li>
      <li><a href="https://www.westminster.gov.uk/sites/default/files/gender_pay_gap_2018_2019.pdf" class="ext" target="_blank">Gender pay gap</a></li>
      <li><a href="https://www.westminster.gov.uk/modern-slavery-statement">Modern slavery statement</a></li>
      <li><a href="https://www.westminster.gov.uk/stay-informed-westminster-newsletter">Newsletters</a></li>
      <li><a href="https://www.westminster.gov.uk/terms-conditions">Terms and conditions</a></li>
    </ul>

  </div>

</footer>
