[%

color_greenwich_red = '#D42828'
color_greenwich_gunmetal = '#4b5459'
color_greenwich_pale_gunmetal = '#e0e6e9'

body_background_color = color_greenwich_gunmetal
body_text_color = color_greenwich_pale_gunmetal

header_background_color = color_greenwich_pale_gunmetal
header_text_color = color_greenwich_red

secondary_column_background_color = color_greenwich_pale_gunmetal

button_background_color = color_greenwich_pale_gunmetal

logo_width = "96" # pixel measurement, but without 'px' suffix
logo_height = "50" # pixel measurement, but without 'px' suffix

%]
