                    [% IF pagefooter %]
                    <footer role="contentinfo">
                        <p><a href="/privacy">Privacy and cookies</a></p>
                    </footer>
                    [% END %]
                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="container">
                <div id="main-nav" role="navigation">
                    [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area omit_wrapper=1 hide_privacy_link=1 %]
                </div>
            </div>
        </div>
    </div> <!-- .wrapper -->

    <section class="occlss-a-to-z" id="pagefooter">
        <div class="occlss-wrapper occlss-a-to-z__wraper">
            <ul class="occlss-u-unstyled-list"><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/A">A</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/B">B</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/C">C</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/D">D</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/E">E</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/F">F</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/G">G</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/H">H</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/I">I</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/J">J</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/K">K</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/L">L</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/M">M</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/N">N</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/O">O</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/P">P</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/Q">Q</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/R">R</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/S">S</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/T">T</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/U">U</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/V">V</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/W">W</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/X">X</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/Y">Y</a>
                </li><li class="occlss-a-to-z__item">
                    <a class="occlss-a-to-z__letter" href="https://www2.oxfordshire.gov.uk/cms/atoz/Z">Z</a>
                </li>
            </ul>

        </div>
    </section>

    <footer class="occlss-page-footer" id="occlss-footer">
      <div class="occlss-wrapper occlss-page-footer__wraper">
        <div class="occlss-layout occlss-layout--gutter-s">
          <div class="occlss-layout__col occlss-layout__col--sm-5 s-cms-content-footer">

            <h4>Oxfordshire County Council</h4>
            <p>County Hall, New Road, Oxford, OX1 1ND</p>
            <p>
            <a href="https://www2.oxfordshire.gov.uk/cms/public-site/contact-oxfordshire-county-council" class="occlss-u-more-link">
              Contact us
              <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                  <svg aria-hidden="true" class="occlss-icon__container occlss-u-more-link__icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/cobrands/oxfordshire/images/occlss-sprite.svg#arrow-right-long-right-secondary" class="icon__source icon__source--svg"></use>
                  </svg>
              </span>
            </a>
            </p>
            <ul class="icon-list">

              <li>
                <a href="http://www.facebook.com/OxfordshireCountyCouncil" target="_blank" id="occlss_facebook_lnk">
                  <span class="occlss-icon occlss-icon--facebook" aria-hidden="false" id="occlss_facebook_icon">
                    <svg role="img" title="Oxfordshire county council on facebook" class="occlss-icon__container">
                      <title>Oxfordshire county council on facebook</title>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/cobrands/oxfordshire/images/occlss-sprite.svg#facebook" class="icon__source icon__source--svg"></use>
                    </svg>
                  </span>
                </a>
              </li>

              <li>
                <a href="http://www.twitter.com/oxfordshirecc" target="_blank" id="occlss_twitter_lnk">
                  <span class="occlss-icon occlss-icon--twitter" aria-hidden="false" id="occlss_twitter_icon">
                    <svg role="img" title="Oxfordshire county council on twitter" class="occlss-icon__container">
                      <title>Oxfordshire county council on twitter</title>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/cobrands/oxfordshire/images/occlss-sprite.svg#twitter" class="icon__source icon__source--svg"></use>
                    </svg>
                  </span>

                </a>
              </li>

              <li>
                <a href="https://www.oxfordshire.gov.uk/cms/feeds/top-stories.xml" target="_blank" id="occlss_rss_lnk">
                  <span class="occlss-icon occlss-icon--rss" aria-hidden="false" id="occlss_rss_icon">
                    <svg role="img" title="Top stories rss feed" class="occlss-icon__container">
                      <title>Top stories rss feed</title>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/cobrands/oxfordshire/images/occlss-sprite.svg#rss" class="icon__source icon__source--svg"></use>
                    </svg>
                  </span>
                </a>
              </li>

            </ul>
            <h4>Sign up for the YourOxfordshire newsletter</h4>
            <p>Get the latest news direct to your inbox every month.</p>
            <a href="http://oxfordshire.us1.list-manage1.com/subscribe?u=feb3ea90bfa82dcb90c21a3e7&amp;id=206c6fb447" class="occlss-button occlss-button--primary occlss-button--fullwidth occlss-form__sign-up-form-submit" target="_blank">Sign up to the newsletter</a>
          </div>
          <div class="occlss-layout__col occlss-layout__col--sm-4 s-cms-content-footer">
            <h4>Services</h4>

              <ul>
                <li>
                  <a href="https://www2.oxfordshire.gov.uk/cms/public-site/business">Business</a>
                </li>
                <li>
                  <a href="https://www2.oxfordshire.gov.uk/cms/public-site/children-education-and-families">Children, education and families</a>
                </li>
                <li>
                  <a href="https://www2.oxfordshire.gov.uk/cms/public-site/community-and-living">Community and living</a>
                </li>
                <li>
                  <a href="https://www2.oxfordshire.gov.uk/cms/public-site/environment-and-planning">Environment and planning</a>
                </li>
                <li>
                  <a href="https://www2.oxfordshire.gov.uk/cms/public-site/fire-and-public-safety">Fire and public safety</a>
                </li>
                <li>
                  <a href="https://www2.oxfordshire.gov.uk/cms/public-site/leisure-and-culture">Leisure and culture</a>
                </li>
                <li>
                  <a href="https://www2.oxfordshire.gov.uk/cms/public-site/social-and-health-care">Social and health care</a>
                </li>
              </ul>

          </div>
          <div class="occlss-layout__col occlss-layout__col--sm-3 s-cms-content-footer">
            <h4>Information</h4>
            <ul>
              <li>
                <a href="https://www2.oxfordshire.gov.uk/cms/public-site/access-data-and-information">Access to information</a>
              </li>
              <li>
                <a href="https://www2.oxfordshire.gov.uk/cms/content/website-terms-and-conditions#cookies">How we use cookies</a>
              </li>
              <li>
                <a href="/privacy">Privacy</a>
              </li>
              <li>
                <a href="https://www2.oxfordshire.gov.uk/cms/public-site/working-oxfordshire-county-council">Working for us</a>
              </li>
              <li>
                <a href="https://www2.oxfordshire.gov.uk/cms/sitemap">Sitemap</a>
              </li>
              <li>
                <a href="http://www.gov.uk/">GOV.UK</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

</div> <!-- oxford-wrapper -->

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
