<!doctype html>
<!--[if IE 7]>   <html class="no-js ie7 iel8" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="no-js ie8 iel8" lang="[% lang_code %]"><![endif]-->
<!--[if IE 9]>   <html class="no-js ie9" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="[% lang_code %]"
[% IF appcache ~%]
 manifest="/offline/appcache.manifest"
[%~ END %]><!--<![endif]-->
    <head>
        <meta name="viewport" content="initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

        <link rel="stylesheet" href="[% version('/cobrands/' _ c.cobrand.moniker _ '/base.css') %]">
        <link rel="stylesheet" href="[% version('/cobrands/' _ c.cobrand.moniker _ '/layout.css') %]" media="(min-width:48em)">
        [% extra_css %]
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="[% version('/cobrands/' _ c.cobrand.moniker _ '/layout.css') %]">
        <![endif]-->

        [% INCLUDE 'common_header_tags.html' %]

        [% INCLUDE 'tracking_code.html' %]
    </head>
    <body class="[% bodyclass | html IF bodyclass %]">
<div id="oxford-wrapper">
    <div id="oxford-header" class="desk-only">
        <a href="https://www.oxfordshire.gov.uk/" title="Home" class="logo">Oxfordshire County Council</a>
        <span id="oxford-links">
            <a href="https://www.oxfordshire.gov.uk/" title="">Oxfordshire County Council home</a>
        </span>
        <div style="clear:both"></div>
        <span class="header"><a href="/">Report a road or street problem</a></span>

        <div id="navigation">
            <div class="menubar">
                <div class="menu-inner">
                    [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area hide_privacy_link=1 omit_wrapper=1 ul_class="menu" %]
                </div>
            </div>
        </div>

    </div> <!-- end of oxford header -->

    <div class="wrapper">

        <div class="table-cell">
            <header id="site-header" role="banner">
                <div class="container">
                    <a href="/" id="site-logo">Oxfordshire FixMyStreet</a>
                    <a href="#main-nav" id="nav-link">Main Navigation</a>
                </div>
            </header>

            [% pre_container_extra %]

            <div class="container">
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">

        <!-- [% INCLUDE 'debug_header.html' %] -->
