<h2>[% loc('How to report a problem') %]</h2>

<ol class="big-numbers">
    <li><b>[% question %]</b></li>
    <li>
        <b>[% loc('Locate the problem on a map of the area') %].</b>
        Use the satellite view option on the right of the map if you require more detail of landmarks on the map.
    </li>
    <li>
        <b>Select the category and subcategory (if necessary) most relevant for your report.</b>
        There is guidance on some categories to clarify what the category is for or provide more information.
    <li>
        <b>[% loc('Enter details of the problem') %].</b>
        You can add photos to highlight the severity and help us to locate the problem.
    </li>
    <li>
        <b>Confirm the report and it will be investigated.</b>
        You will receive an update on your report once it’s been investigated and you can subscribe to updates of reports already made on the system.
    </li>
</ol>
