                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area hide_mysoc_link=1 %]
            </div>
        </div>
    </div> <!-- .wrapper -->

    [% IF pagefooter %]
      <div class="angus_footer">
        <footer role="contentinfo">
            [% INCLUDE 'front/footer-marketing.html' %]
        </footer>
      </div>
    [% END %]

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
