[%
    SET html_att = ' lang="' _ lang_code _ '"';
    # For a right-to-left language, use the following line in your own header:
    # SET html_att = html_att _ ' dir="rtl"';
-%]
<!doctype html>
<!--[if IE 8]>   <html class="no-js ie8"[% html_att %]><![endif]-->
<!--[if IE 9]>   <html class="no-js ie9"[% html_att %]><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"[% html_att %]><!--<![endif]-->
    <head>
        <meta name="viewport" content="initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

        [% INCLUDE 'header_opengraph.html' %]
        [% INCLUDE 'header/css.html' %]
        [% INCLUDE 'common_header_tags.html' %]

        [% IF c.req.uri.host == 'osm.fixmystreet.com' %]
            <link rel="canonical" href="https://www.fixmystreet.com[% c.req.uri.path_query %]">
        [% END %]

        [% TRY %][% PROCESS 'header_extra.html' %][% CATCH file %][% END %]

    </head>
    [% TRY %][% PROCESS 'set_body_class.html' %][% CATCH file %][% END %]
    <body class="[% bodyclass | html IF bodyclass %]">

    <div class="wrapper">
        <div class="table-cell">
            <header id="site-header" role="banner">
                <div class="container">
                    [% INCLUDE 'header_logo.html' %]
                    <a href="#main-nav" id="nav-link">Main Navigation</a>

                    [% INCLUDE 'angus_search.html' %]
                </div>
            </header>

            [% INCLUDE 'post_header_extra.html' %]
            [% pre_container_extra %]

            <div class="container">
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">

        <!-- [% INCLUDE 'debug_header.html' %] -->
