<div class="cobrand-footer">

    <div class="cobrand-footer__background">
        <img src="/cobrands/dudley/images/skyline.png" alt="">
    </div>
    <div class="container">
        <nav class="cobrand-footer__nav" role="navigation" aria-label="Footer Menu">
            <ul class="cobrand-footer__list">
                <li>
                    <a href="https://www.dudley.gov.uk/council-community/contact-us/">Contact Us</a>
                </li>
                <li>
                    <a href="https://www.dudley.gov.uk/privacy-disclaimer-statement/">Privacy &amp; Disclaimer</a>
                </li>
                <li>
                    <a href="https://www.dudley.gov.uk/council-community/councillors/find-my-councillor/">Find my Councillor</a>
                </li>
                <li>
                    <a href="https://www.dudley.gov.uk/accessibility-statement/">Accessibility Statement</a>
                </li>
                <li>
                    <a href="https://www.dudley.gov.uk/residents/care-and-health/modern-slavery/">Modern Slavery</a>
                </li>
                <li>
                    <a href="https://www.dudley.gov.uk/residents/parking-and-roads/roads-highways-and-pavements/car-cruising-injunction/">Car Cruising Ban - High Court</a>
                </li>
            </ul>
        </nav>
    
        <div class="cobrand-footer__strapline">
            <a href="https://www.dudley.gov.uk/"><img src="/cobrands/dudley/images/dudley-logo.jpg" class="cobrand-footer__logo cobrand-footer__logo--main" alt="Dudley Council"></a>
            <h3 class="cobrand-footer__strapline-title">... the historic capital of the Black Country</h3>
            <img src="/cobrands/dudley/images/black-country.jpg" class="cobrand-footer__logo cobrand-footer__logo--secondary" alt="the historic capital of the Black Country">
        </div>
    
        <p class="cobrand-footer__copyright">© 2026 Dudley Metropolitan Borough Council</p>
    </div>
</div>

[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
