[%

submit_footer_td_style = "text-align: left; vertical-align: top; font-weight: normal; color: #fff;"
submit_footer_h2_style = "font-size: 16px; line-height: 18px; margin: 0 0 10px 0;";
submit_footer_link_style = "color: #9CD0EA;";

%]

<table [% table_reset %]>
  <tr>
    <th style="[% td_style %] padding: [% column_padding %]px; background-color: [% color_yellow %]; color: [% color_black %];">
      <h2 style="[% h2_style %] margin-bottom: 15px;">
        Never retype another FixMyStreet report
      </h2>
      <p style="margin: 0;">
        Good news: we can now send these reports from FixMyStreet
        directly into your customer service queue.
        <a href="https://www.fixmystreet.com/pro/">Find out how</a>.
      </p>
    </th>
  </tr>
</table>

<table [% table_reset %] style="table-layout: fixed;">
  <tr>
    <th style="[% submit_footer_td_style %] padding: [% column_padding %]px 40px 0 0;">
      <h2 style="[% submit_footer_h2_style %]">
        Where did this report come from?
      </h2>
      <p>
        <a href="https://www.fixmystreet.com" style="[% submit_footer_link_style %]">FixMyStreet</a>
        is the website and app that makes it easy for anyone to report
        street faults, anywhere in the UK.
        <a href="https://www.mysociety.org/better-cities/fixmystreet-in-the-uk/" style="[% submit_footer_link_style %]">Find out more</a>.
      </p>
    </th>
    <th style="[% submit_footer_td_style %] padding: [% column_padding %]px 0 0 0;">
      <h2 style="[% submit_footer_h2_style %]">
          Is there a better contact address?
      </h2>
      <p>
        Are reports about [% category_footer %] best sent to a
        different address? Please let us know by visiting
        <a href="https://www.fixmystreet.com/contact" style="[% submit_footer_link_style %]">fixmystreet.com/contact</a>,
        and help make the service smoother for your residents.
        We also welcome any other feedback you may have.
      </p>
    </th>
  </tr>
</table>
