[% IF cobrand.moniker == 'fixmystreet' %]

<table [% table_reset | safe %] style="table-layout: fixed;">
  <tr>
    <td style="[% td_style %][% header_style %] padding: [% column_padding %]px;">
      <h2 style="[% h2_style %] margin: 0px;">Frequently Asked Questions</h2>
    </td>
  </tr>
  <tr>
    <td style="[% td_style %][% primary_column_style %] padding: [% column_padding %]px;">
      <h3 style="[% submit_footer_h2_style %]">
        Where did this report come from?
      </h3>
      <p>
        FixMyStreet is an independent website, built by the charity <a href="https://www.mysociety.org/">mySociety</a> to make it easier for citizens to report problems in their community. <a href="https://www.fixmystreet.com/about/information-for-councils/">Read more about FixMyStreet</a>.
      </p>
    </td>
  </tr>
  <tr>
    <td style="[% td_style %][% primary_column_style %] padding:0 [% column_padding %]px [% column_padding %]px">
      <h3 style="[% submit_footer_h2_style %]">
        Why has this report come to this email address?
      </h3>
      <p>
        We do our best to ensure reports go to the right place at each council. If there’s a better contact address for reports about [% report.category | html %] issues, <a href="mailto:support@fixmystreet.com">please let us know</a>. We can also add or remove categories if you wish.
      </p>
    </td>
  </tr>
  <tr>
    <td style="[% td_style %][% primary_column_style %] padding:0 [% column_padding %]px [% column_padding %]px">
      <h3 style="[% submit_footer_h2_style %]">
        How do we reply to this report?
      </h3>
      <p>
        Replies to this email will go directly into the report-maker's inbox. Your reply is not published on the FixMyStreet website (unless you use FixMyStreet Pro, which can display responses to help close the feedback loop).
      </p>
    </td>
  </tr>
  <tr>
    <td style="[% td_style %][% primary_column_style %] padding:0 [% column_padding %]px [% column_padding %]px">
      <h3 style="[% submit_footer_h2_style %]">
        Can you include more information in these reports?
      </h3>
      <p>
        If you need to receive extra data that isn’t currently included in the report, please <a href="mailto:support@fixmystreet.com">let us know what’s missing</a>.
      </p>
    </td>
  </tr>
  <tr>
    <td style="[% td_style %][% primary_column_style %] padding:0 [% column_padding %]px [% column_padding %]px">
      <h3 style="[% submit_footer_h2_style %]">
        Do we have to receive email reports from FixMyStreet?
      </h3>
      <p>
        No! FixMyStreet reports can be sent directly into existing council systems - and there are a few different ways this can be achieved.
      </p>
    </td>
  </tr>
  <tr>
    <td style="[% td_style %][% primary_column_style %] padding:0 [% column_padding %]px [% column_padding %]px">
      <h3 style="[% submit_footer_h2_style %]">
        How can FixMyStreet connect directly with council systems?
      </h3>
      <ol>
        <li>You can do this yourself (for free) using our <a href="https://www.fixmystreet.com/about/open311-api-info">Open311 API</a></li>
        <li>We can build and maintain the integration for you (carries an annual fee)</li>
        <li>You can become a <a href="https://www.societyworks.org/services/highways/">FixMyStreet Pro</a> user. FixMyStreet Pro is a more advanced version of FixMyStreet, which seeks to eliminate the significant costs councils incur from duplicate reporting, unnecessary contact and failure demand (we have the stats to prove it!). </li>
      </ol>
      <p>As a charity our goal is to help improve services for citizens and local authorities. To find out more about connecting FixMyStreet to your own systems, please <a href="mailto:support@fixmystreet.com">get in touch</a>.</p>
    </td>
  </tr>
</table>
[% END %]
