@import "../sass/h5bp";
@import "typography";
@import "colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

body {
  font-family: Cabin, Arial, sans-serif;
}

#site-logo {
  background: 0;
  text-indent: 0;
  color: #fff;
  width: auto;
  line-height: 40px; // to match height
  font-size: 1.2em;
}

.footer {
  display: none;
}

#ui-datepicker-div {
    font-size: 0.7em; // correct an interaction with FMS font-size?
}

div.form_datetime {
    overflow: auto;

    div {
        width: 48%;
        float: left;
    }

    div + div {
        float: right;
    }
}

.change_location {
    color: #666;
    padding-left: 24px;
    background: transparent url(images/wrong-location.png) 4px 50% no-repeat;
    margin-top: -0.5em;
}

#report-a-problem-main {
    fieldset {
        margin: 0;
    }

    select {
        max-width: none;
    }

    .form-box {
        margin-top: 1.5em;

        & > :first-child {
            margin-top: 0;
        }
    }
}

.severity {
    label {
        margin-top: 0;
    }

    p {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }

        label {
            font-weight: normal;
        }

        input {
            margin-right: 0.5em;
        }
    }
}

.description_tips {
    @include clearfix;

    h4 {
        margin: 0.5em 0;
    }

    ul {
        width: 49%;
        margin: 0;
        float: left;
        font-size: 14px;
        line-height: 20px;
    }

    li {
        margin-bottom: 0;
        padding-left: 20px;
        list-style: none;
        background: transparent url(images/tick-10px-8px.png) 4px 5px no-repeat;
    }

    .do {
        color: #1c8012;
    }

    .dont {
        float: right;
        color: #881111;

        li {
            background-image: url(images/cross-7px-7px.png);
            background-position: 6px 6px;
        }
    }
}

body.twothirdswidthpage {
  .content {
    .sticky-sidebar {
      background-color: $color-neutral-raincloud;
      padding: 1em;
      margin: 0 -1em;

      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}
