@import "_colours";
@import "../sass/layout";

@media only screen and (min-width: 48em) {
    body.frontpage #site-logo {
        background: url('/cobrands/smidsy/images/icon_536_5072_text.png') 0px 0px no-repeat;
    }

    .big-green-banner {
        background: $darker_brown;
    }
}

#report-a-problem-main {
    .form-box {
        margin: 1.5em -1em 0.25em -1em;
        padding: 1em;

        & > :first-child {
            margin-top: 0;
        }
    }

    @media only screen and (min-width: 48em) {
        input[type=text], input[type=password], input[type=email], textarea {
            max-width: 27em;
        }
    }
}
