@import "typography";
@import "colours";
@import "../sass/layout";

#site-logo {
  display: inline-block; // rather than block
  position: relative; // rather than absolute, just so we can still use z-index
  top: 0;
  background: none;
  height: auto;
  width: auto; // override default 300px
  font-size: 24px;
  line-height: 60px;
  padding: 0 15px;
  margin-top: 4px; // height of border-top on #nav-wrapper-2

  body.frontpage & {
    top: 0;
    background: none;
    height: auto;
    width: auto; // override default 300px
    font-size: 30px;
  }
}

%nav-item-style {
  font-size: 18px;
  line-height: 60px;
  padding: 0 12px;
}

#main-nav ul#main-menu li a {
  @extend %nav-item-style;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

#main-nav ul#main-menu li span {
  @extend %nav-item-style;

  color: #fff;
  text-decoration: underline;
}

.nav-wrapper .nav-wrapper-2 {
  border-top-color: #fff;
}

body {
  background-image: url('/cobrands/smidsy/images/background-1280x854.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%; // fill window width, calculate height automatically

  &.frontpage {
    background-image: url('/cobrands/smidsy/images/background-home-1280x854.jpg')
  }
}

.content {
  @include box-shadow(none);
  margin-left: 15px; // to match nav items
  margin-right: 15px; // to match nav items
}

.mysoc-footer {
  // The below lines are so that on e.g. /faq the footer will move on
  // top of the fixed sidebar in narrow height situations.
  position: relative;
  z-index: 1;
}

body.mappage .mysoc-footer {
    display: none;
}

body.mappage {
  #main-nav {
    width: auto;
    margin-right: 10px;

    ul#main-menu li a,
    ul#main-menu li span {
      padding: 0 12px; // to match normal pages
    }
  }

  .nav-wrapper .nav-wrapper-2 {
    min-height: 0; // no min-height; rely on the 60px lineheight of children
  }

  @media only screen and (min-width: 48em) and (max-width: 61em) {
    #site-header {
      height: auto; // override 6em height from core; rely on 60px lineheight of children
    }

    #fms_pan_zoom {
      top: 4.75em !important; // similar story: core moves this down, so we move it back
    }
  }

  .content {
    margin: 0; // fit map page sidebar up against top and sides of window
    background: rgba(243,243,243,0.9);
  }

  .big-green-banner {
    display: none; // hide the empty banner by default

    &.mobile-map-banner {
      display: block; // show it again once the mobile javascript adds this class
    }
  }

  .click-the-map {
    color: #000;
    margin: -15px -15px 0 -15px;
    padding: 18px 16px;
    border-bottom: 1px solid #e9e9e9;
    background: #fff url('/cobrands/smidsy/images/click-map-chevron-big.gif') 90% 100% no-repeat;

    h2 {
      margin: 0 0 5px 0;
    }

    p {
      margin: 0 0 5px 0;
      font-size: 18px;
      line-height: 20px;
    }

    img {
      // the little chevron icon
      vertical-align: -1px;
      margin-left: 0.2em;
    }
  }

  #skip-this-step {
    display: block;
    color: inherit;
    margin: 0 -15px;
    padding: 16px;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid #E7E1C0;
    background: #FDF4C5;

    em {
      font-style: normal;
      text-decoration: underline;
      color: $color-primary-blue;
    }

    &:hover {
      text-decoration: none;
    }

    html.js & {
      // If javascript is enabled, hide the skip link off-screen,
      // but keep it visible for screen readers.
      position: absolute;
      top: -999px;

      &:focus {
        // And show it again if it receives focus (eg: via tab key)
        position: static;
      }
    }
  }

  .incident-list-header {
    margin: 15px 15px 5px 15px;
  }

  .incident-list {
    margin: 0;

    li {
      list-style: none;
      margin-bottom: 0;

      a {
        display: block;
        padding: 15px;
        padding-left: 75px;
        color: inherit;
        background: transparent url(/cobrands/smidsy/images/dot-generic-slight.png) 20px 50% no-repeat;

        &:hover {
          text-decoration: none;
          background-color: #f9f9f9;
        }

        @each $participant in 'bicycle', 'generic', 'horse', 'pedestrian', 'vehicle' {
          @each $severity in 'miss', 'slight', 'serious', 'fatal' {
            &.#{$participant}-#{$severity} {
              background-image: url(/cobrands/smidsy/images/dot-#{$participant}-#{$severity}.png);
            }
          }
        }

      }

      h3 {
        margin: 0;
        font-size: 18px;
        line-height: 21px;
      }

      p {
        margin: 3px 0 0 0;
        font-size: 15px;
        line-height: 15px;
        color: $color-neutral-slategrey;
      }
    }
  }

  .no-incidents {
    text-align: center;
    font-size: 18px;

    .circled-icon {
      margin-bottom: 20px;
      margin-top: 40px;
      background-color: mix(#f3f3f3, $color-neutral-duckegg, 50%);

      img {
        margin-top: 29px; // move the smiley face down
      }
    }
  }
}

.report-list-filters {
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid mix(#ccc, $color-neutral-raincloud);

    label {
        display: inline;
        margin: 0;
        color: $color-neutral-slategrey;
        font-weight: normal;

        input {
            margin-left: 10px; // line up with the report icons in the list underneath
            margin-right: 0.2em;
            vertical-align: 1px;
        }
    }
}

#report-a-problem-main {
    .form-box {
        margin: 1.5em -1em 0.25em -1em;
        padding: 1em;
        background: transparentize($color-neutral-slategrey, 0.8);

        & > :first-child {
            margin-top: 0;
        }
    }

    input[type=file]{
      background: transparent;
    }

    @media only screen and (min-width: 48em) {
        input[type=text], input[type=password], input[type=email], textarea {
            max-width: 27em;
        }
    }
}

@media only screen and (min-width: 48em) and (max-width: 61em) {
  input[type=text],
  input[type=password],
  input[type=email],
  textarea{
    width: 100%;
  }
}

#forgotten-pw,
.general-sidebar-notes {
  position: static;
  margin: 0;
  width: auto;
  @include box-shadow(none);

  p.dark {
    background: $color-neutral-slategrey;
  }
}

body.twothirdswidthpage {
  .container {
    .content {
      width: auto;
      padding-left: 16em;
      padding-right: 2em;
      padding-top: 1.5em;

      .sticky-sidebar {
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: $color-neutral-raincloud;
        width: 15em;
        padding: 0;

        aside {
          box-shadow: none;
          background-color: $color-neutral-raincloud;
        }
      }
    }
  }
}

#front-main {
  background: transparent;
  color: #fff;
  padding: 0;
  margin-bottom: 4em;

  h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }

  p.lead {
    font-size: 30px;
  }

  #postcodeForm {
    padding-bottom: 1em;

    div {
      width: 500px;

      input#pc {
        width: 80%;
        height: 54px;
        line-height: 40px;
        font-size: 30px;
      }

      input#sub {
        width: 20%;
        height: 54px;
        line-height: 54px;
        font-size: 30px;
        font-weight: normal;
        font-family: $body-font;
        padding-top: 0; // reset some weird default padding
      }
    }
  }

  a#geolocate_link {
    font-size: 21px;

    &, &:hover {
      background: transparent url('/cobrands/smidsy/images/geolocate-icon-13x20.png') left center no-repeat;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('/cobrands/smidsy/images/geolocate-icon-26x40.png');
          background-size: 13px 20px;
      }
    }
  }
}

.front__how-it-works,
.front__statistics,
.front__support {

  h2 {
    font-size: 32px;
  }

  p, ul {
    font-size: 20px;
    line-height: 28px;
  }

  ul {
    line-height: 26px;
  }

  .container {
    padding: 0 15px;
  }
}

.front__statistics {
  strong {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 10px;
  }
}

.front__stats19 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;

    strong {
        font-size: 1.2em;
        line-height: 1em;
        margin: 0 0.1em;
    }
}

.smidsy-two-column,
.smidsy-four-column {
  display: table;
  width: 100%;
  overflow: visible; // no more floats to clear, so back to default
  margin: 0;

  & > * {
    display: table-cell;
    float: none;
    margin: 0;
    width: 50%;
    padding: 2%;
  }

  & > :first-child {
    padding-left: 0; // line up with left edge of parent
  }

  & > :first-child + * {
    float: none;
  }

  & > :first-child + * + * {
    clear: none;
  }

  & > :last-child {
    padding-right: 0; // line up with right edge of parent
    float: none;
  }
}

.smidsy-four-column {
  & > * {
    width: 25%;
  }
}

.sponsors__primary,
.sponsors__secondary {
  display: table;
  width: 104%;
  margin: 0 -2%;

  & > * {
    display: table-cell;
    width: 50%;
    padding: 0 2%;
  }

  h3 {
    font-weight: bold;

    a {
      color: inherit;
    }
  }
}

.sponsors__primary {
  p:last-child {
    margin-bottom: 0;
  }
}

.sponsors__secondary {
  & > * {
    width: 33%;
  }
}

.sponsors__form {
  overflow: auto;
}

.sponsors__form__question {
  float: left;
  width: 48%;

  &:nth-child(2n){
    float: right;
  }

  &:last-child {
    margin-top: 5px;
  }
}

.statistics-filter {
  text-align: center;

  label {
    display: inline;
  }
}
