/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

// BREAKPOINTS
$max-mobile: 30em;
$max-tablet: 64rem;

/* COLOURS */
$black: #000;
$gray: #3b3b3a;
$gray-200: #e9ecef; // Card bg
$gray-300: #dee2e6; // Card hover bg
$gray-400: #CED4DA; // Gray button
$gray-500: #ADB5BD; // Gray button Focus and hover
$gray-600: #6C757D; // Gray button Active
$gray-borders: #CDD3D9; // Input borders

$cyan: #00aeef;
$cyan-600: #0089BC;
$cyan-700: #006489;

$blue: #007fae;
$blue-600: #005A7B;
$blue-700: #003548;

$yellow: #FBB040;
$yellow-600: #FA9B0E;
$yellow-700: #D17F04;

$purple: #8064A9;
$pink: #E6007E;
$green: #CDCE00;

$white: #ffffff;

$primary: $blue;
$primary_b: $black;
$primary_text: $black;

$base_bg: $white;
$base_fg: $black;

$nav_background_colour: $white;
$nav_colour: $black;
$nav_hover_background_colour: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: $black;
$layout_front_stats_color: $black;

$col_click_map: $white;

$container-max-width: 65.75em;

$heading-font: "ff-cocon-web-pro","Karla",Arial,Helvetica,sans-serif;
$body-font: 'Karla', sans-serif;
$meta-font: 'Karla', sans-serif;

$dropzone-button-text: $white;

// NAVBAR
$header-top-border-width: 0;
$mappage-header-height: 70px;

// FRONT PAGE
$front-main-color: $black;
$front-main-background: $white;
$postcodeform-background: $white;
$front-main-background-desktop: no-repeat center/cover url("/cobrands/cyclinguk/images/cyclinguk-hero.webp");
$front-main-container-background-desktop: $white;
$front-main-color-desktop: $primary_b;

// LINKS
$link-color: $black;
$link-hover-color: $yellow;
// Based on website: https://www.cyclinguk.org/article/how-plan-cycle-route
$link-text-decoration: underline;
$link-hover-text-decoration: underline;


// BUTTONS
$button-padding-top: 0.625rem;
$button-padding-bottom: 0.625rem;
$button-padding-left: 1.5rem;
$button-padding-right: 1.5rem;
$button-border-radius: 2rem; // This var doesn't exist in other cobrands

// Usage 
/*
  .btn--primary {
      @include border-radius($button-border-radius);
      @include button-variant($bg-top: $button-primary-bg-top, $bg-bottom: $button-primary-bg-bottom, $border: $button-primary-border, $text: $button-primary-text, $hover-bg-bottom: $button-primary-hover-bg-bottom, $hover-bg-top: $button-primary-hover-bg-top, $hover-border: $button-primary-hover-border, $hover-text: $button-primary-hover-text,$focus-bg-bottom: $button-primary-focus-bg-bottom, $focus-bg-top: $button-primary-focus-bg-top, $focus-border: $button-primary-focus-border, $focus-text: $button-primary-focus-text);
  }
*/
$button-primary-bg-top: $yellow;
$button-primary-bg-bottom: $yellow;
$button-primary-border: $yellow;
$button-primary-text: $primary_text;
$button-primary-hover-bg-bottom: $yellow-600;
$button-primary-hover-bg-top: $yellow-600;
$button-primary-hover-border: $yellow-600;
$button-primary-hover-text: $primary_text;
$button-primary-focus-bg-bottom: $yellow-600;
$button-primary-focus-bg-top: $yellow-600;
$button-primary-focus-border: $yellow-600; 
$button-primary-focus-text: $primary_text;

/*
  .btn, .btn-secondary {
      @include border-radius($button-border-radius);
      @include button-variant($bg-top: $button-secondary-bg-top, $bg-bottom: $button-secondary-bg-bottom, $border: $button-secondary-border, $text: $button-secondary-text, $hover-bg-bottom: $button-secondary-hover-bg-bottom, $hover-bg-top: $button-secondary-hover-bg-top, $hover-border: $button-secondary-hover-border, $hover-text: $button-secondary-hover-text,$focus-bg-bottom: $button-secondary-focus-bg-bottom, $focus-bg-top: $button-secondary-focus-bg-top, $focus-border: $button-secondary-focus-border, $focus-text: $button-secondary-focus-text);
  }
*/
$button-secondary-bg-top: $gray-400;
$button-secondary-bg-bottom: $gray-400;
$button-secondary-border: $gray-400;
$button-secondary-text: $primary_text;
$button-secondary-hover-bg-bottom: $gray-500;
$button-secondary-hover-bg-top: $gray-500;
$button-secondary-hover-border: $gray-500;
$button-secondary-hover-text: $primary_text;
$button-secondary-focus-bg-bottom: $gray-500;
$button-secondary-focus-bg-top: $gray-500;
$button-secondary-focus-border: $gray-500; 
$button-secondary-focus-text: $primary_text;

$col_click_map: $yellow;
