@import "../sass/h5bp";
@import "./_variables";
@import "../sass/mixins";

@import "../sass/base";

/* New report conditional questions */

body {
    color: $black;
}

@supports( #{"selector(:has(*))"} ) {
    input[name$="CyclingUK_transport_other"],
    label[for$="form_CyclingUK_transport_other"] {
        #js-post-category-messages & {
            display: none;
        }
        #js-post-category-messages:has(select[name$="CyclingUK_transport_mode"] option[value="other"]:checked) & {
            display: block;
        }
    }
}

// NAVBAR
$site-logo-height: 76px;
#site-logo {
    width: 12.5rem;
    height: $site-logo-height;
    padding: 1em 0;
    background: url('/cobrands/cyclinguk/images/fill-that-hole-logo.png') 0 50% no-repeat;
    background-size: auto 70px;
}

.logos-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

#nav-link {
    right: 1rem;
}

#report-cta {
    right: 4rem;
    height: 36px;
    box-sizing: border-box;
    line-height: 23px;
}

.nav-menu--main {
    text-align: right;

    li {
        background: $white;
    }

    span {
        font-size: 1rem;
    }

    a {
        text-decoration: none;
        font-size: 1rem;

        &.btn-secondary {
            display: inline-block;
            margin-top: 1rem;
        }

        &.report-a-problem-btn {
            display: inline-block;
        }
    }

    a.report-a-problem-btn {
        margin-bottom: 1rem;
    }
}

#nav-link {
    background-color: $primary;
    border-radius: 50%;
    padding-top: 36px;
    width: 36px;
    background-size: 18px;
}

//  BUTTONS
.btn,
.btn--primary,
.btn-secondary,
.postcode-form-box input#sub,
.nav-menu--main a.btn--primary,
.nav-menu--main a.btn-secondary,
a#geolocate_link,
#report-cta,
.nav-menu--main a.report-a-problem-btn  {
    border-radius: $button-border-radius;
    text-transform: uppercase;
    font-weight: 400;
    // line-height: 100%;
    outline: none;
    text-decoration: none;
    -webkit-transition: background-color 0.30s ease-out, color 0.30s ease-out, border-color 0.30s ease-out, box-shadow 0.30s ease-out ;
    -moz-transition: background-color 0.30s ease-out, color 0.30s ease-out, border-color 0.30s ease-out, box-shadow 0.30s ease-out ;
    -o-transition: background-color 0.30s ease-out, color 0.30s ease-out, border-color 0.30s ease-out, box-shadow 0.30s ease-out ;
    transition: background-color 0.30s ease-out, color 0.30s ease-out, border-color 0.30s ease-out, box-shadow 0.30s ease-out ;
    padding-left: $button-padding-left;
    padding-right: $button-padding-right;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
    &:hover, &:focus {
        box-shadow: none;
    }
}

.nav-menu--main a.report-a-problem-btn {
    display: none;
}

.btn,
.btn-secondary,
.nav-menu a.btn-secondary,
a#geolocate_link {
    @include button-variant($bg-top: $button-secondary-bg-top, $bg-bottom: $button-secondary-bg-bottom, $border: $button-secondary-border, $text: $button-secondary-text, $hover-bg-bottom: $button-secondary-hover-bg-bottom, $hover-bg-top: $button-secondary-hover-bg-top, $hover-border: $button-secondary-hover-border, $hover-text: $button-secondary-hover-text,$focus-bg-bottom: $button-secondary-focus-bg-bottom, $focus-bg-top: $button-secondary-focus-bg-top, $focus-border: $button-secondary-focus-border, $focus-text: $button-secondary-focus-text);
    &:focus {
        outline: 0.25rem solid $black;
        outline-offset: -1px;
    }
}

.btn--primary,
.postcode-form-box input#sub,
#report-cta {
    @include button-variant($bg-top: $button-primary-bg-top, $bg-bottom: $button-primary-bg-bottom, $border: $button-primary-border, $text: $button-primary-text, $hover-bg-bottom: $button-primary-hover-bg-bottom, $hover-bg-top: $button-primary-hover-bg-top, $hover-border: $button-primary-hover-border, $hover-text: $button-primary-hover-text,$focus-bg-bottom: $button-primary-focus-bg-bottom, $focus-bg-top: $button-primary-focus-bg-top, $focus-border: $button-primary-focus-border, $focus-text: $button-primary-focus-text);
    &:focus {
        outline: 0.25rem solid $black;
        outline-offset: -1px;
    }
}

// GENERAL COMPONENTS
h1 {
    font-size: 2.5rem;
}

.lead {
    font-size: 2rem;
    font-family: $body-font;
}

.heading-font-family {
    font-family: $heading-font;
}

.form-control,
select.form-control {
    box-shadow: none;
}

body:not(.admin) {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select.form-control,
    .postcode-form-box input#pc {
        border: 1px solid $gray-borders;
        border-radius: $button-border-radius;
        padding-left: 1rem; // This prevent the text to be too close the left border due to the border radious.
        &:focus,
        &:active {
            outline: none;
            border-color: $yellow;
        }
    }

    textarea {
        border-radius: 5px;
    }
}

label[for$="form_CyclingUK_injury_suffered"] {
    span {
        display: block;
        font-weight: normal;
        font-size: 0.9em;
        line-height: 120%;
    }
}

.cuk-social-media-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 1.25rem;
    justify-content: center;
    align-items: center;

    a {
        box-sizing: border-box;
        border: 1px solid $white;
        width: 40px;
        height: 40px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        &:hover, &:focus {
            color: $yellow;
            border: 1px solid $yellow;
        }

        &.is--primary {
            border-color: $primary;
            color: $primary;

            &:hover, &:focus {
                border-color: $yellow;
                color: $yellow;
            }
        }
    }

    h3 {
        margin: 0;
    }
}

.border-wrapper {
    border: 0.5rem solid $black;
    padding: 1rem;
    margin: 3rem 0rem;

    h3 {
        font-family: $heading-font;
        &:first-child {
            margin-top: 0;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    &.is--purple{
        border-color: $purple;
    }
}

.bg-cyclinguk {
    background-color: $primary;
    margin-bottom: 1.125rem;

    .confirmation-header {
        color: $white;
        p {
            color: $white;
        }
    }
}

.text-orange{
    color: $yellow;
}

.cuk-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .cuk-cards__item {
        border-radius: 0.625rem;
        overflow: hidden;
        text-decoration: none;
        color: $black;
        text-align: center;

        h3 {
            margin: 0;
            padding: 1rem 2rem;
            background-color: $gray-200;
            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
        }

        &:hover {
            text-decoration: none;
            h3 {
                background-color: $gray-300;
            }
        }
    }
}

// This component has media rules for mobile, tablet and desktop
.cuk-cta {
    margin-top: 3rem;
    padding-bottom: 20rem;
    position: relative;
    background-image: url('/cobrands/cyclinguk/images/cta/cta-background-mobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    .cuk-cta__message {
        padding: 1rem;
        padding-bottom: 0;
        position: relative;
        z-index: 3;
        color: $white;
        text-align: center;
        background-color: $primary;
        .message__title {
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -100%;
            left: 0;
            background-color: $primary;
            clip-path: ellipse(50% 18% at 50% 0%);
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        div {
            position: relative;
            z-index: 3;
        }
    }
}

@media screen and (min-width: $max-mobile) {
    // For tablets
    .cuk-cta {
        background-image: url('/cobrands/cyclinguk/images/cta/cta-background-tablet.webp');
        padding-bottom: 15rem;
        .cuk-cta__message {
            padding: 3rem;
            padding-bottom: 0;
            .message__title {
                font-size: 3rem;
            }
        }
    }
}

@media screen and (min-width: $max-tablet) {
    // For desktop
    .cuk-cta {
        padding-bottom: 0;
        background-image: url('/cobrands/cyclinguk/images/cta/cta-background-desktop.webp');
        background-size: auto 100%;
        background-position: right;
        .cuk-cta__message {
            max-width: 400px;
            text-align: left;
            padding-bottom: 3rem;

            &::before {
                right: 0;
                bottom: 0;
                clip-path: circle(50% at 0 50%);
                transform: translateX(75%);
            }
        }
    }
}

// FRONTPAGE
body.frontpage {
    #report-cta {
        display: none;
    }

    .content {
        max-width: 450px;
        margin: 0 auto;
    }
}

#front-main {
    #front-main-container {
        text-align: center;
        box-sizing: border-box; // Align with the logo borders
        
        max-width: 450px;
        margin: 0 auto;
        padding: 0; // So it aligns with the .content below
    }
}

.postcode-form-box {
    div {
        border: none;
        margin: 0 auto;
    }

    input#pc {
        margin-right: 0.5rem;
        background-color: $white;
    }
}

.front-stats-wrapper {
    text-align: center;
    padding: 1rem;

    #front_stats {
        background-color: transparent;
        border-top: 0.25em solid $yellow;
    
        big {
            font-family: $heading-font;
        }
    
        div {
            font-size: 1rem;
        }
    }
}

ol.big-numbers>li:before {
    font-family: $heading-font;
}

// MAPPAGE
body.mappage {
    #site-logo {
        width: 200px;
        height: 60px;
        box-sizing: border-box;
        background-size: auto 50px;
    }
}

.big-green-banner {
    color: $black;
    font-weight: 400;
    font-family: $body-font;
}

.item-list--reports__item a {
    text-decoration: none;
}

// REPORT PAGES
.confirmation-header {
    padding: 140px 1rem 2rem;
    background-size: 80px;
    background-position: center top 50px;
    background-image: url('/cobrands/cyclinguk/images/icons/confirmation.png');

    &.confirmation-header--inbox {
        background-image: url('/cobrands/cyclinguk/images/icons/inbox-in-circle.png');
    }

    &.confirmation-header--failure {
        background-image: url('/cobrands/cyclinguk/images/icons/error.png');
    }

    &.confirmation-header--phone {
        background-image: url('/cobrands/cyclinguk/images/icons/phone.png');
    }

    h1 {
        a {
            text-decoration: none;
            &:hover, &:focus {
                color: $yellow;
            }
        }
    }
}

.content {
    background: transparent;
}



// FOOTER
.page-footer {
    background-color: $blue;
    color: $white;
    padding-top: 6rem;
    padding-bottom: 9rem;
    text-align: center;

    a {
        color: $white;
    }

    .cuk-logo img, 
    .cuk-fundraising-regulator-logo img {
        width: 183px;
        height: auto;
        margin-bottom: 1.25rem;
    }

    .cuk-fundraising-regulator-logo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .cuk-people {
        margin-bottom: 1.25rem;
        span {
            color: $yellow;
        }
    }


    .cuk-copyright-text {
        text-transform: uppercase;
        max-width: 950px;
        margin-bottom: 1.25rem;
    }

    .cuk-footer-menu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 950px;
        padding: 0;
        line-height: 0.75rem;
        margin-left: 0;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
        justify-content: center;

        li {
            list-style-type: none;

            a {
                text-decoration: underline;
                &:hover, &:focus {
                    color: $yellow;
                }
            }
        }
    }

}

//Account page
.my-account-buttons {
    a {
        background-color: transparent;
    }
}

.segmented-control--radio input:checked+label {
    color: $white !important; // Override !important rule on _base
}

// REPORTING FORM

p.cyclinguk-marketing-opt-in {
    margin-top: 3em;
}
