@import "_variables";
@import "../sass/layout";

.big-green-banner {
    background: $col_click_map inline-image("../fixmystreet/images/chevron-white-#{$right}.svg") $right center no-repeat;
    background-size: 43px 33px;
}

// Navigation bar of CyclingUK is 160px.
$site-logo-height: 60px;
$site-logo-padding: 32px;
$total-navbar-height: $site-logo-height + $site-logo-padding * 2;

#site-logo {
    padding: 0;
    height: $total-navbar-height;
    width: 305px;
    background-size: auto 110px;
    background-position-y: bottom;
}

$subnav-height: 52px;
#main-nav {
    float: none;
    min-height: $subnav-height;
    margin-top:$total-navbar-height - 10px; // Put the main FMS navigation below the header 108px + $subnav-height = 160px.

    .ie9 & > * {
      #{$right}: auto;
      #{$left}: 0;
    }
}

// White "nav bar" with red border-top, below the logo
#site-header {
    &:after {
        content: " ";
        height: $subnav-height;
        display: block;
        background-color: white;
    }
}

.nav-menu--main {
    display: flex; // So the a.report-a-problem-btn is aligned with the rest.
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    a {
        &.btn-secondary {
            margin-top: 0;
        }
    }
}

.nav-menu--main a, .nav-menu--main span {
    padding: $button-padding-top 0.5rem;
    line-height: 100%;
    font-size: 1rem;
    border: 1px solid transparent;
    margin: 0 0.2rem;
    
    &:hover {
        border-bottom: 1px solid $blue;
        background-color: transparent;
        color: $primary-b;
    }
}

.nav-menu--main span {
    border-bottom: 1px solid $blue;
    color: $primary_b;
}

// GENERAL COMPONENTS
h1 {
    font-size: 3rem;
}

.cuk-cards {
    flex-direction: row;
    gap: 3rem;
}

// BUTTONS
.nav-menu--main a.report-a-problem-btn {
    line-height: 100%;
    padding: 0.625rem $button-padding-left;
    @include button-variant($bg-top: #fff, $bg-bottom: #fff, $border: $orange, $text: $orange, $hover-bg-bottom: $black, $hover-bg-top: $black, $hover-border: $black, $hover-text: $white,$focus-bg-bottom: $button-primary-focus-bg-bottom, $focus-bg-top: $button-primary-focus-bg-top, $focus-border: $button-primary-focus-border, $focus-text: $button-primary-focus-text);
    margin: 0;
}

// FRONTPAGE
#front-main {
    padding-bottom: 0;
    #front-main-container {
        margin-top: 100px;
        padding: 2rem;
    }
}

body.frontpage {
    .content {
        padding: 2rem;
        max-width: 100%;
    }
}

.front-howto-wrapper {
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1em;
    }
}

.front-howto-wrapper {
    max-width: 424px;
    margin: 0 auto;
}

#front_stats {
    margin: 0 auto;
    max-width: 550px;
    border-top:0.25em solid $yellow;
}

.border-wrapper {
    border-width: 1rem;
    margin: 3rem auto;
    .frontpage & {
        margin: 3rem -2rem;
    }
}

.report-forms-wrapper {
    justify-content: center;
    margin-top: 1rem;
}

// MAPPAGE
body.mappage {
    #site-header {
        background-color: $orange;
    }

    #site-logo {
        padding: 0;
        height: $mappage-header-height;
        width: 265px;
        background-size: auto 66px;
        background-position: left 0 center;
        background-image: url(/cobrands/cyclinguk/images/fill-that-hole-logo-white.png);
    }

    .nav-menu__item--news,
    .nav-menu__item--press,
    .nav-menu__item--privacy {
        display: none;
    }

    @media screen and (max-width: 1350px) {
        a.report-a-problem-btn {
            display: none !important;
        }
    }


    .nav-menu--main {
         li {
            background-color: transparent;
            a:not(.report-a-problem-btn):not(.btn-secondary) { 
                color: $white;
                border: none;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-color: $white;
                }
            }
         }

         a, span {
            padding: $button-padding-top 0.75rem;
         }

        a.report-a-problem-btn {
            padding: $button-padding-top $button-padding-left;
         }

        span {
            border-bottom: 1px solid $white;
            color: $white;
        }
    }

   #main-nav {
        float: right;
        margin-top: 0;
        min-height: $mappage-header-height;
    }
}

// EMAIL SENT
.confirmation-header {
    padding: 5rem 0 5rem 162px;
    box-sizing: border-box;
    background-size: 100px;
    background-position: left 2rem top 5rem;
    max-width: $container-max-width;
    width: 100%;
    margin: 0 auto;
}

// ALERTPAGE
body.alertpage {
    .postcode-form-box div {
        margin: 0;
    }
}

#key-tools {
    border-top: 0.25em solid $yellow;
}

// Footer
.page-footer {
    text-align: left;

    .cuk-social-media-icons { 
        justify-content: start;
    }

    .cuk-footer-menu ul {
        justify-content: start;
    }

    .cuk-fundraising-regulator-logo {
        justify-content: flex-start;
    }
}
