@import "../sass/h5bp";
@import "_variables";
@import "../sass/mixins";

@import "../sass/base";

/*TYPOGRAPHY */
h1, .h1,
h2, .h2,
h3, .h3, 
.item-list__heading {
    font-weight: 700;
}

/* BUTTONS */
a#geolocate_link,
#report-cta {
  @include button-variant($bg-top: $button-primary-bg-top, $bg-bottom: $button-primary-bg-bottom, $border: $button-primary-border, $text: $button-primary-text, $hover-bg-bottom: $button-primary-hover-bg-bottom, $hover-bg-top: $button-primary-hover-bg-top, $hover-border: $button-primary-hover-border, $hover-text: $button-primary-hover-text);
  text-decoration: none;
}

a {
  &:focus {
    outline: none;
    // Important to override styles in .sticky-sidebar a:focus and navigation bar
    color: $cobrand_white !important;
    background-color: $primary!important;
    box-shadow: 0 -2px $primary, 0 4px #0b0c0c;
    text-decoration: none;
  }
}

/* NAVBAR */
#site-logo {
  background-image: url("/cobrands/southkesteven/images/southkesteven-logo.svg");
  background-size: auto 3rem;
}

.nav-menu--main {
  a {
    background-color: $cobrand_white;
    color: $primary;
    text-decoration: none;

    &:visited {
      color: $primary;
    }
  }

  span {
    background-color: $primary;
    color: $primary_text;
  }
}

/* FRONTPAGE */
.postcode-form-box {
  input#sub {
    font-family: $body-font;
    font-weight: 600;
    background-color: $button-primary-bg-top;

    &:hover {
      background-color: $button-primary-hover-bg-top;
      color: $button-primary-text;
    }
  }
}

/* OTHERS */
.item-list__item {
  a {
    text-decoration: none;

    &:focus {
      h3, small {
        color: $primary_text;
      }
    }
  }
}

/* SITE MESSAGE */
// Found here: https://www.southkesteven.gov.uk/schools/music-lessons/music-tuition
.site-message {
  color: $primary_b;
  padding: 1.5rem;
  background-color: $cobrand_white;
  border: none;
  border-left: 2px solid white;
  word-wrap: break-word;
}

/* FOOTER */
.southkesteven-footer {
  color: $primary_text;
  background-color: $base_fg;
  padding: 1.5rem 0 4.6875rem;
  position: relative;
  margin-top: 5rem;

  h2, h3 {
    font-size: 1.375rem;
  }

  .btn-white {
    display: inline-block;
    color: $primary_b;
    background-color: $cobrand-white;
    font-weight: 700;
    text-decoration: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 1rem;
    transition: all ease-in-out 0.2s;

    &:hover {
      color: $primary_b;
      background: #e0e0e0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
      text-decoration: none;
    }
  }

  .footer-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 2rem;

    // Layout for the grid child container
    .newsletter-container {
        grid-column: 1;
        grid-row: 2;
    }

    .contact-container {
        grid-column: 1;
        grid-row: 1;
    }
    
    .footer-nav {
        grid-column: 1;
        grid-row: 3;
    }
  }

  .social-container {
    max-width: 320px;
    margin-top: 3.75rem;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin: 0 22px 0 0;
      }
    }

    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }

    a {
      display: block;
      border-radius: 3px;
      width: 32px;
      height: 32px;
      padding: 0;
      position: relative;
      overflow: hidden;
      background: #fff;
      text-align: center;
      transition: all ease-in-out 0.2s;

      &.social-media-link-icon--facebook {
        background: 0;
        padding: 0;

        span {
          font-size: 46px;
          left: -8px;
          color: $primary_text;
        }

         &:hover {
          background: 0;
          span {
            color: #e0e0e0;
          }
         }

         &:focus {
          // Overrides anchor focus state
          color: #fff !important;
         }
      }

      span {
        position: relative;
        font-size: 24px;
        line-height: 32px;
        vertical-align: top;
        color: $primary_b;
      }

      &:hover {
        background: #e0e0e0;
      }

      &:focus {
        span {
          // Overrides anchor focus state
          color: $primary_text !important;
        }
      }
    }
  }

  .footer-nav {
    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      gap: 0.25rem;

      li {
        list-style: none;
        margin-bottom: 0;
      }
    }

    a {
      font-size: 0.75rem;
      color: $primary_text;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .sk-logo-container {
    position: absolute;
    right: 0px;
    bottom: 0px;

    a {
      position: absolute;
      z-index: 2;
      right: 25px;
      bottom: 35px;
      width: 94px;
      height: 40px;
    }

    &::after {
      content: '';
      width: 375px;
      height: 195px;
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      background-image: url("/cobrands/southkesteven/images/bg-footer-frame.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

@import "../fixmystreet-uk-councils/societyworks-footer";
