/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

// From http://style.bristol.gov.uk/patterns/colours/

$bcc_red: #bc0031;
$g1: #2e3137;
$g2: #676973;
$g6: #eaeaea;
$g7: #f1f1f1;
$b3: #0d45a0;
$b4: #74a9ff;

$primary: $bcc_red;
$primary_b: $g1;
$primary_text: $g1;

$base_bg: white;
$base_fg: $g1;

$map_nav_bg: $g1;
$nav_fg: #fff;
$nav_fg_hover: $primary;

$header-top-border: false;

$col_click_map: $g1;
$col_click_map_dark: darken($g1, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
