@import "../sass/h5bp";
@import "./_colours";
@import "./_fonts";
@import "../sass/mixins";

@import "../sass/base";
@import "../sass/report_list_pins";

@import "./cookieconsent.unmin";

// Put the BCC logo in place, and reveal the 'bristol.gov.uk' text alongside it
#site-logo {
  @extend %bold-font;

  height: auto;
  background: url(/cobrands/bristol/img/bcclogo.svg) 0 50% no-repeat;
  background-size: 37px;
  text-indent: 47px;
  line-height: 37px;
  font-size: 24px;
  padding: 0.5em 0;
  margin: 0;
  color: white;
}

#site-header {
  border-bottom: solid 5px $bcc_red;
}

// Style the Bristol footer correctly
.bristol_footer {
  background-color: $black;
  border-top: solid 0.5rem $bcc_red;

  footer {
    margin: 0 auto;
    padding: 1.25rem 0;
    text-align: left;

    #footer-logo {
      display: block;
      text-align: left;

      a {
        background-image: url(/cobrands/bristol/img/bcclogo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 5rem;
        width: 5rem;
        display: inline-block;
        margin-bottom: 1.25rem;
      }
    }

    .footer-title {
      margin-bottom: 0.5rem;
      display: block;
      color: white;
      font-family: $heading-font;
      font-size: 1.2em;
      margin-top: 0.5em;
      display: none;
    }

    ul {
      list-style: none;
      margin-left: 0;

      li {
        display: inline-block;
      }
    }

    .legal-nav {
      ul {
        display: flex;
        flex-direction: column;
      }
    }

    .footer-social-links {
      ul {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        column-gap: 1.875rem;
      }

      a {
        display: inline-block;
        &:hover {
          color: $primary;
        }
      }
    }

    a, a:hover {
      color: white;
      text-decoration: none;
    }
  }
}

// Set the default font colour everywhere
body, .content {
  color: $g1;
}

// Make sure the numbers on the front page have the correct font weight
#front_stats {
  color: white;

  div {
    @extend %bold-font;
  }
}

// FAQ/privacy pages should have correctly-weighted headers
dl dt {
  @extend %bold-font;
}


#front-main {
  h1 {
    font-size: 1.75em;
    color: $primary_b;
  }
  h2 {
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
  }
}

label {
  @extend %bold-font;
}

// uses important because btn also uses it
#highways .segmented-control--radio input:checked + label.btn {
    color: $g7 !important;
    font-weight: bold !important;
}

b, strong {
  @extend %bold-font;
}
