<footer class="site-footer">
   <a class="footer-logo" href="https://www.kingston.gov.uk" aria-label="Logo: Visit the www.kingston.gov.uk home page"></a>
   <nav class="site-footer__group" aria-label="Footer Navigation">
        <ul class="list-inline">
            <li class="list__item"><a class="list__link" href="https://www.kingston.gov.uk/council-democracy/privacy-notice-data-protection/1">Privacy Statement</a></li>
            <li class="list__item"><a class="list__link" href="https://www.kingston.gov.uk/council-democracy/privacy-notice-data-protection/4">Accessibility Statement</a></li>
            <li class="list__item"><a class="list__link" href="https://www.kingston.gov.uk/site-map">Site Map</a></li>
            <li class="list__item"><a class="list__link" href="https://www.kingston.gov.uk/council-democracy/contact-us/1">Contact Us</a></li>
            <li class="list__item"><a class="list__link" href="https://www.kingston.gov.uk/jobs-careers-volunteering">Careers</a></li>
            <li class="list__item"><a class="list__link" href="https://www.kingston.gov.uk/modernslaverystatement">Modern Slavery</a></li>
            <li class="list__item"><a class="list__link" href="https://www.kingston.gov.uk/domestic-sexual-violence/violence-women-girls/2">White Ribbon</a></li>
        </ul>                    
    </nav>
    <nav class="nav nav--social-links" aria-label="social links">
        <ul class="list-inline">
            <li class="list__item"><a class="list__link" href="https://www.facebook.com/RBKingstonCouncil/" title="Follow us on Facebook" target="_blank" rel="noopener"><div class="icon icon-misc-facebook"></div><span class="visually-hidden">Follow us on Facebook</span></a></li>
            <li class="list__item"><a class="list__link" href="https://twitter.com/RBKingston" title="Follow us on Twitter" target="_blank" rel="noopener"><div class="icon icon-misc-twitter"></div><span class="visually-hidden">Follow us on Twitter</span></a></li>
            <li class="list__item"><a class="list__link" href="https://www.youtube.com/user/KingstonCouncil" title="Follow us on YouTube" target="_blank" rel="noopener"><div class="icon icon-misc-youtube"></div><span class="visually-hidden">Follow us on YouTube</span></a></li>
        </ul>
    </nav>
</footer>
[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
