[%

color_cobrand_primary = '#95398d'
color_cobrand_primary_darker = '#592255'
color_cobrand_light_grey = '#EFF0F4'
color_cobrand_white = '#fff'
color_cobrand_green = '#397364'
color_black = '#0B0C0C'
color_red_dark = '#E00519'

body_font_family = "Arial,sans-serif"

header_background_color = color_cobrand_primary
header_text_color = color_cobrand_white

primary_column_text_color = color_black

secondary_column_background_color = color_cobrand_light_grey
secondary_column_text_color = color_black

button_background_color = color_cobrand_green
button_text_color = color_white

link_text_color = color_cobrand_primary
link_hover_text_color = color_cobrand_primary_darker

logo_file = "logo.png"
logo_width = "254" # pixel measurement, but without 'px' suffix
logo_height = "60" # pixel measurement, but without 'px' suffix

%]
