*.ttc
*.swp
*~
._*
.prove

.vagrant
.bundle
.DS_Store
.carton
local-lib5
META.yml
Makefile
blib/
inc/
.sass-cache
_Inline/
lib
tags

*.mo
FixMyStreet-EmptyHomes.po
FixMyBarangay.po

/web/css/core.css
/web/css/main.css
/web/cobrands/*/*.css
/web/cobrands/seesomething
/web/photo
/local
/local-carton

/web/cobrands/fixmystreet/compass_app_log.txt

phonegap/www/js/config.js
phonegap/Android/bin/
phonegap/iPhone/FixMyStreet.xcodeproj/project.xcworkspace/xcuserdata
phonegap/Android/gen/

/fixmystreet-international
*[Mm]ake[Mm]y[Ii]sland*
