# General
*.swp
*~
._*
.DS_Store

# Compiled templates
*.ttc

# Translations
*.mo
FixMyStreet-EmptyHomes.po
FixMyBarangay.po

# CSS
.bundle
.sass-cache
/web/css/core.css
/web/css/main.css
/web/cobrands/*/*.css
/web/cobrands/*/*.css.map
*.auto.*

# Photo upload cache
/web/photo

# Installation
/local
/local-*
.prove
.vagrant
.carton
META.yml
Makefile
blib/
inc/
_Inline/
*.pyc
docker-compose.override.yml

# International
/fixmystreet-international
*[Mm]ake[Mm]y[Ii]sland*
ug_fixmycommunity
UG_FixMyCommunity.pm
gh_fixmycommunity
*[Aa]rregla[Mm]i[Bb]arrio*
*[Ff]ix[Mm]indelo*
*[Dd]ans[Mm]on[Qq]wat*
*[Cc]uido[Mm]i[Cc]iudad*
*[Yy]o[Dd]enuncio*

# Commercial
/fixmystreet-commercial
*[Gg]round[Cc]ontrol*
[Ss]midsy*
[Kk]iit[Cc]*
