Anders Einar Hilden <hildenae@gmail.com>
Andrew Perry <me@andrewperry.com.au>
Anna Powell-Smith <annapowellsmith@gmail.com> <anna>
Anna Powell-Smith <annapowellsmith@gmail.com> <annapowellsmith@gmail.com>
bci-cities <bci-cities>
Chris Lightfoot <chris@ex-parrot.com> <chris>
Dave Whiteland <dave@mysociety.org> <dave@balti.ukcod.org.uk>
Dave Whiteland <dave@mysociety.org> <dave@fury.ukcod.org.uk>
Duncan Parkes <duncan@mysociety.org> <duncan@fury.ukcod.org.uk>
Edmund von der Burg <evdb@mysociety.org> <evdb@ecclestoad.co.uk>
Francis Irving <francis@mysociety.org> <francis>
Guillaume Rischard <fixmystreet@stereo.lu> <fixmystreet@stereo.lu>
Guillaume Rischard <fixmystreet@stereo.lu> <git@stereo.lu>
Josh Angell <josh@supercooldesign.co.uk> <jbangell@gmail.com>
Kagee <hildenae@gmail.com>
Keith Garrett <keith@mysociety.org> <keith>
Kevin Brubeck Unhammer <unhammer@fsfe.org>
Louise Crow <louise@mysociety.org> <louise.crow@gmail.com>
Louise Crow <louise@mysociety.org> <louise@peas.ukcod.org.uk>
Louise Crow <louise@mysociety.org> <louise>
Mark Longair <mark@mysociety.org> <mhl@pobox.com>
Matthew Somerville <matthew@mysociety.org> <matthew>
Matthew Somerville <matthew@mysociety.org> <matthew@balti.ukcod.org.uk>
Matthew Somerville <matthew@mysociety.org> <matthew@cake.ukcod.org.uk>
Matthew Somerville <matthew@mysociety.org> <matthew@dracos.co.uk>
Matthew Somerville <matthew@mysociety.org> <matthew@fury.ukcod.org.uk>
Matthew Somerville <matthew@mysociety.org> <matthew-github@dracos.co.uk>
Matthew Somerville <matthew@mysociety.org> <matthew@mysociety.org>
Matthew Somerville <matthew@mysociety.org> <matthew@rocket.ukcod.org.uk>
Struan Donald <struan@mysociety.org> <struan@exo.org.uk>
Struan Donald <struan@mysociety.org><struan@fury.ukcod.org.uk>
Tim Morley <t_morley@argonet.co.uk> <timsk>
Tony Bowden <tony@tmtm.com>
