<meta http-equiv="content-type" content="text/html; charset=utf-8">
<script type="text/javascript" src="/jslib/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="[% version('/js/geo.min.js') %]"></script>
<script type="text/javascript" src="[% version('/js/fixmystreet.js') %]"></script>

[% map_js %]

[% IF category_extras_json && category_extras_json != '{}' %]
<script type="text/javascript">
    category_extras = [% category_extras_json %];
</script>
[% END %]

[% IF robots %]
    <meta name="robots" content="[% robots %]">
[% ELSIF c.config.STAGING_SITE %]
    <meta name="robots" content="noindex,nofollow">
[% END %]

[% IF rss %]
    <link rel="alternate" type="application/rss+xml" title="[% rss.0 %]" href="[% rss.1 %]">
[% END %]

<title>
    [% "$title :: " | html IF title %]
    [% c.cobrand.site_title %]
</title>
