[% INCLUDE 'header.html', title => loc('Create a report') %]

[%
    messages = {
        problem => {
            action => loc('your problem will not be posted'),
            worry  => loc("we'll hang on to your problem report while you're checking your email."),
        },
        update => {
            action => loc('your update will not be posted'),
            worry  => loc("we'll hang on to your update while you're checking your email."),
        },
        alert => {
            action => loc('your alert will not be activated'),
            worry  => loc("we'll hang on to your alert while you're checking your email."),
        },
    }
%]

<h1>[% loc("Nearly Done! Now check your email...") %]</h1>

<p>[% loc("The confirmation email <strong>may</strong> take a few minutes to arrive &mdash; <em>please</em> be patient.") %]</p>

<p>[% loc("If you use web-based email or have 'junk mail' filters, you may wish to check your bulk/spam mail folders: sometimes, our messages are marked that way.") %]</p>

<p>[% tprintf( loc("You must now click the link in the email we've just sent you &mdash; if you do not, %s."), messages.$email_type.action ) %].</p>

<p>[% tprintf( loc("(Don't worry &mdash; %s)"), messages.$email_type.worry ) %]</p>

[% INCLUDE 'footer.html' %]
