    </div><!-- #mysociety .container -->

    <div id="top" class="container">
        <div class="spacer"></div>
        <ul id="top-nav" class="nav">
            <li><a href="/my">[% loc("Your reports") %]</a></li>[%
            %]<li><a href="/reports">[% loc("All reports") %]</a></li>[%
            %]<li><a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]">[% loc("Local alerts") %]</a></li>[%
            %]<li><a href="/faq">[% loc("Help") %]</a></li>
        </ul>

        <ul id="mysociety-tab" class="nav">
            <li><a id="mysociety-logo" href="http://www.mysociety.org/">mySociety</a></li>[%
            %]<li><a href="http://mysociety.org/donate/">Donate</a></li>[%
            %]<li><a href="http://www.mysociety.org/projects/">Our Sites</a></li>
        </ul>

    </div>

</div></div></div><!-- wrappers -->

<div id="footer">

    <p><a href="/contact">[% loc("Contact FixMyStreet") | replace(' ', '&nbsp;') %]</a>
    <br>Mobile apps:
        <a href="http://itunes.apple.com/gb/app/fixmystreet/id297456545">iPhone</a>,
        <a href="http://itunes.apple.com/gb/app/streetreport/id371891859">StreetReport (iPhone)</a>
    | <a href="https://market.android.com/details?id=com.android.fixmystreet">Android</a>
    | <a href="http://store.ovi.com/content/107557">Nokia</a>
    </p>
      
    <p>[% loc('Are you from a <strong>council</strong>? Would you like better integration with FixMyStreet?') %]
      <a href="http://www.mysociety.org/fixmystreet-for-local-council-websites/">[% loc('Find out about FixMyStreet for councils') %]</a>.
    </p>
  
    <p>[% loc('Are you a <strong>developer</strong>? Would you like to contribute to FixMyStreet?') %]
    [% loc('Our code is open source and <a href="http://github.com/mysociety/fixmystreet">available on GitHub</a>.') %]
    </p>

</div>

[% INCLUDE 'debug_footer.html' %]

</body>
</html>
