<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="[% lang_code %]">
    <head>

        [% INCLUDE 'common_header_tags.html' %]
                
        <style type="text/css">@import url("/css/core.css"); @import url("/css/main.css");</style>
        <!--[if LT IE 7]>
             <style type="text/css">@import url("/css/ie6.css");</style>
        <![endif]-->

    </head>
    <body>

        [% IF NOT title AND NOT c.req.path %]<h1 id="header">[% ELSE %]<div id="header"><a href="/">[% END %]
            [%- loc('Fix<span id="my">My</span>Street') %]
        [%- IF NOT title AND NOT c.req.path %]</h1>[% ELSE %]</a></div>[% END %]

        <ul id="meta">
            [% IF c.user_exists %]
                <li>[% tprintf(loc('Signed in as %s'), c.user.name || c.user.email) %]
                <li><a href="/auth/logout">[% loc('Sign out') %]</a></li>
            [% ELSE %]
                <li>&nbsp;</li>
            [% END %]
        </ul>

        <div id="wrapper"><div id="mysociety">

    [% INCLUDE 'debug_header.html' %]
