<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="[% lang_code %]">
    <head>

        <link rel="stylesheet" type="text/css" href="[% css('/css/core.css') %]">
        <link rel="stylesheet" type="text/css" href="[% css('/css/main.css') %]">
        <!--[if LT IE 7]>
            <link rel="stylesheet" type="text/css" href="/css/ie6.css">
        <![endif]-->

        [% INCLUDE 'common_header_tags.html' %]
                
        [% IF c.req.uri.host == 'osm.fixmystreet.com' %]
            <link rel="canonical" href="http://www.fixmystreet.com[% c.req.uri.path_query %]">
        [% END %]

        [% INCLUDE 'tracking_code.html' %]
    </head>
    <body>

        [% IF NOT title AND NOT c.req.path %]<h1 id="header">[% ELSE %]<div id="header"><a href="/">[% END %]
            [%- loc('Fix<span id="my">My</span>Street') %]
        [%- IF NOT title AND NOT c.req.path %]</h1>[% ELSE %]</a></div>[% END %]

        <ul id="meta">
            [% IF c.user_exists %]
                <li>[% tprintf(loc('Signed in as %s'), c.user.name || c.user.email) %]
                <li><a href="/auth/sign_out">[% loc('Sign out') %]</a></li>
            [% ELSE %]
                <li>&nbsp;</li>
            [% END %]
        </ul>

        <div id="wrapper"><div id="mysociety">

    [% INCLUDE 'debug_header.html' %]
