<script type="text/javascript">
    validation_strings = {
        update: '[% loc('Please enter a message') %]',
        title: '[% loc('Please enter a subject') %]',
        detail: '[% loc('Please enter some details') %]',
        name: {
            required: '[% loc('Please enter your name') %]',
            validName: '[% loc('Please enter your full name, councils need this information - if you do not wish your name to be shown on the site, untick the box') %]',
        },
        category: '[% loc('Please choose a category') %]',
        rznvy: {
            required: '[% loc('Please enter your email') %]',
            email: '[% loc('Please enter a valid email') %]',
        },
        email: {
            required: '[% loc('Please enter your email') %]',
            email: '[% loc('Please enter a valid email') %]',
        }
    };
</script>
