[% IF pager.last_page > 1 %]
    <p>
        [% IF pager.previous_page %]
            <a href="[% c.req.uri_with({ $param => pager.previous_page }) %]">&larr; Previous</a>
        [% ELSE %]
            &larr; Previous
        [% END %]
        |
        [% pager.first %] to [% pager.last %] of [% pager.total_entries %]
        |
        [% IF pager.next_page %]
            <a href="[% c.req.uri_with({ $param => pager.next_page }) %]">Next &rarr;</a>
        [% ELSE %]
            Next &rarr;
        [% END %]
    </p>
[% END %]
