                </div><!-- .content role=main -->
        <p id="bromley-powered-by" class="desk-only">
            <a href="http://www.mysociety.org/for-councils/fixmystreet/">Powered by <img src="/cobrands/bromley/fms-logo.png" alt="FixMyStreet" style="height:20px;"></a>
        </p>

            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    <ul id="mysoc-menu">
                        <li><a href="http://www.mysociety.org/for-councils/fixmystreet/">Powered by <img src="/cobrands/bromley/fms-logo.png" alt="FixMyStreet" style="height:20px;"></a></li>
                    </ul>
                    <ul id="main-menu">
                        <li><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %] class="report-a-problem-btn"
                            >[% loc("Report a problem") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/my' %]span[% ELSE %]a href="/my"[% END
                            %]>[% loc("Your reports") %]</[% c.req.uri.path == '/my' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/reports/Bromley' %]span[% ELSE %]a href="/reports/Bromley"[% END
                            %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/alert' %]span[% ELSE %]a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]"[% END
                            %]>[% loc("Local alerts") %]</[% c.req.uri.path == '/alert' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
                            %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>
                    </ul>
                </div>
            </div>
        </div>

    </div> <!-- .wrapper -->

<div id="bromley-footer" class="desk-only">
	<p class="copy">&copy; 2012 London Borough of Bromley</p>
		
	<a href="http://www.direct.gov.uk/"><img src="https://www.bromley.gov.uk/site/images/directgov.jpg" alt="Directgov website link - Public services all in one place" /></a>
		
	<ul class="footer-nav">
		<li><a href="#bromley-header">To the top</a></li>
		<li><a href="http://www.bromley.gov.uk/terms">Disclaimer</a></li>
		<li><a href="http://www.bromley.gov.uk/privacy" rel="nofollow">Privacy and cookies</a></li>
		<li><a href="http://www.bromley.gov.uk/accesstoinfo">Access to information</a></li>
	</ul>

</div>

    </div></div>
</body>
</html>
