[% USE date %]
<footer class="site-footer">
    <div class="container container--flex">
        <nav class="site-footer__group" aria-label="Footer Navigation">
            <ul class="list">
                <li class="list__item">
                    <a class="list__link" href="https://www.bromley.gov.uk/privacy">Privacy</a>
                </li>
                <li class="list__item">
                    <a class="list__link" href="https://www.bromley.gov.uk/accessibility">Accessibility
                    </a>
                </li>
                <li class="list__item">
                    <a class="list__link" href="https://www.bromley.gov.uk/terms">Disclaimer</a>
                </li>
                <li class="list__item">
                    <a class="list__link" href="https://www.bromley.gov.uk/privacy">Cookies</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="site-footer__content-left">
            <p class="site-footer__text site-footer__rights">© London Borough of Bromley.
                <span class="site-footer__rights-tag">All Rights Reserved.</span>
            </p>
        </div>
    </div>
    <div class="site-footer__content-right">
        <nav class="nav nav--social-links" aria-label="social links">
            <span class="h4 nav__heading">Stay connected</span>
            <div class="social-wrapper">
                    <a class="list__link twitter" href="https://twitter.com/LBofBromley" title="Twitter" target="_blank" aria-label="Follow us on Facebook"></a>
                    <a class="list__link facebook" href="http://facebook.com/LBBromley" title="Facebook" target="_blank" aria-label="Follow us on Facebook"></a>
                    <a class="list__link youtube" href="https://www.youtube.com/user/LBBromley" title="Youtube" target="_blank" aria-label="Follow us on Youtube"></a>
            </div>
        </nav>
    </div>
</footer>
[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
