                    [% IF pagefooter %]
                    <footer role="contentinfo">
                        [% INCLUDE 'front/footer-marketing.html' %]
                    </footer>
                    [% ELSIF bodyclass == 'waste' %]
                    <div class="bromley-waste-credits">
                        <p>Powered by</p>
                        <p>
                            <a href="https://www.societyworks.org/services/waste/">SocietyWorks</a>
                        </p>
                    </div>
                    [% END %]
                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->
    </div> <!-- .wrapper -->

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
