    <div class="bromley-header clearfix">
        <a href="http://www.bromley.gov.uk/" id="site-logo">[% site_name %]</a>

        <ul class="linear-links subtext float-right top-links">
            <li class="first-child"><i class="fa fa-home"></i><a href="http://www.bromley.gov.uk">Home</a></li>
            <li><i class="fa fa-sitemap"></i><a href="http://www.bromley.gov.uk/site_map">Sitemap</a></li>
            <li><i class="fa fa-user"></i><a href="https://www.bromley.gov.uk/SiteLogin">Register/Sign in</a></li>
        </ul>

        <form action="http://www.bromley.gov.uk/site/scripts/google_results.aspx" method="get" id="search" class="main-search" role="search">
            <label for="SearchSite" class="hidden">Search this site</label>
            <input type="text" size="18" class="main-search-input field" name="q" id="SearchSite" value="" placeholder="Search the website">
            <input value="Search" type="submit" class="button__primary">
        </form>
    </div>
</div>
<div class="container main-menu-container">
    <div class="a-z-container ">
        <nav class="main-a-z custom-side-nav">
            <ul class="drop-down-nav">
                <li class="first-child">
                    <a href="#" class="main-nav-title">A-Z</a>
                    <ul class="nav-hover-item nav-hover-item-active a-z">
                        <li class="first-child"><a href="http://www.bromley.gov.uk/a_to_z/A">a</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/B">b</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/C">c</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/D">d</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/E">e</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/F">f</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/G">g</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/H">h</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/I">i</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/J">j</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/K">k</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/L">l</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/M">m</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/N">n</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/O">o</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/P">p</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/Q">q</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/R">r</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/S">s</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/T">t</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/U">u</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/V">v</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/W">w</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/X">x</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/Y">y</a></li>
                        <li><a href="http://www.bromley.gov.uk/a_to_z/Z">z</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="breadcrumb">
        <!-- Breadcrumb --><!-- googleoff:all -->
        <ul>
            <li class="first-child"><a href="http://www.bromley.gov.uk">Home</a></li>
            <li class="current"><span>FixMyStreet</span></li>
        </ul>
        <!-- END Breadcrumb --><!-- googleon:all -->
    </div>
