<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 7]>   <html class="no-js ie7 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="no-js ie8 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 9]>   <html class="no-js ie9 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="[% lang_code %]"><!--<![endif]-->
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

        <link rel="stylesheet" href="[% version('/cobrands/bromley/base.css') %]">
        <link rel="stylesheet" href="[% version('/cobrands/bromley/layout.css') %]" media="(min-width:48em)">
	<link rel="stylesheet" href="[% version('/cobrands/bromley/bromley.css') %]">
        [% extra_css %]
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="[% version('/cobrands/bromley/layout.css') %]">
        <![endif]-->

        <script src="[% version('/js/modernizr.custom.js') %]" charset="utf-8"></script>
        <script src="[% version('/cobrands/bromley/position_map.js') %]" charset="utf-8"></script>
        [% INCLUDE 'common_header_tags.html', js_override = '/cobrands/fixmystreet/fixmystreet.js' %]
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-12543967-1']);
          _gaq.push(['_setDomainName', 'bromley.gov.uk']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        [% extra_js %]

	<link rel="Shortcut Icon" type="image/x-icon" href="/cobrands/bromley/favicon.ico">

    </head>
    <body class="[% bodyclass | html IF bodyclass %]">
        [%# ie_wrapper is to prevent a horizontal scrollbar in IE7, it appears (from Bromley site) %]
        <div id="bromley-wrapper"><div id="bromley-ie_wrapper">

<div id="bromley-header" class="desk-only">
	<ul class="header-nav"> 
		<li><a href="http://www.bromley.gov.uk/accessibility">Accessibility</a></li>
		<li><a class="skiplink" href="http://www.bromley.gov.uk/#user-meta" rel="nofollow">Skip to content</a></li>
		<!-- <li><a rel="nofollow" href="http://www.bromley.gov.uk/a_to_z?previewstyle=generic/print.css">Printer friendly</a></li> -->
		<!-- <li><a href="http://www.bromley.gov.uk/accessibility/settings">Text size: AAA</a></li> -->
		<li><div id="google_translate_element"></div></li>
	</ul>
			
	<div class="logo">
		<a href="http://www.bromley.gov.uk"><img src="/cobrands/bromley/bromley-logo.jpg" alt="London Borough of Bromley logo" width="159" height="114" style="width:159px; height:114px;" /></a>
	</div>
			
	<div class="sign-in">
        [% IF c.user_exists %]
            <p>
                [% tprintf(loc('Hi %s'), c.user.name || c.user.email) %] 
                <a href="/auth/sign_out">[% loc('sign out') %]</a>
            </p>
        [% END %]
	</div>
			
	<div class="main-menu">
		<ul>
        <li class="home"><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %] class="report-a-problem-btn"
            >[% "Report" %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
        %]<li><[% IF c.req.uri.path == '/my' OR ( c.req.uri.path == '/auth' AND c.req.params.r == 'my' ) %]span[% ELSE %]a href="/my"[% END
            %]>[% loc("Your reports") %]</[% ( c.req.uri.path == '/my' OR ( c.req.uri.path == '/auth' AND c.req.params.r == 'my' ) ) ? 'span' : 'a' %]></li>[%
        %]<li><[% IF c.req.uri.path == '/reports/Bromley' %]span[% ELSE %]a href="/reports/Bromley"[% END
            %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
        %]<li><[% IF c.req.uri.path == '/alert' %]span[% ELSE %]a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]"[% END
            %]>[% loc("Local alerts") %]</[% c.req.uri.path == '/alert' ? 'span' : 'a' %]></li>[%
        %]<li class="last"><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
            %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>
		</ul>
	</div>

</div>
		
    <div class="wrapper">
        <div class="table-cell">
            <div id="site-header" role="banner">
                <div class="container">
                    <a href="/" id="site-logo">FixMyStreet</a>
                    <a href="#main-nav" id="nav-link">Main Navigation</a>
                </div>
            </div>

          [% IF c.user_exists %]
            <div id="user-meta">
                <p>
                    [% tprintf(loc('Hi %s'), c.user.name || c.user.email) %] 
                    <a href="/auth/sign_out">[% loc('sign out') %]</a>
                </p>
            </div>
          [% END %]

            <h1 class="main desk-only">Reporting a problem in Bromley&rsquo;s streets or parks</h1>

            [% pre_container_extra %]

            <div class="container">
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">


