<header class="bromley-header">
    <div class="container">
        <a href="https://www.bromley.gov.uk/" id="site-logo">
            <img src="/cobrands/bromley/images/waste.png" alt="Bromley Council">
        </a>
        <label class="bromely-header__nav-link" for="main-nav-btn" aria-expanded="false">[% loc('Main Navigation') %]<span></span></label>

        <div class="nav-wrapper">
            [% INCLUDE 'main_nav.html' %]
        </div>
    </div>
</header>
<div class="secondary-bar">
    <div class="container">
        <div class="d-flex row justify-content-between align-item-center">
            <span>Check Bromley's frequent issues</span>
            <a class="green-btn ml-1" href="https://www.bromley.gov.uk/a_to_z/" target="_blank">See more<a>
        </div>
        <form action="https://www.bromley.gov.uk/site_search/results/" method="get" id="search" class="main-search" role="search">
            <label for="SearchSite" class="hidden">Search this site</label>
            <input type="text" size="18" class="main-search-input field" name="q" id="SearchSite" value="" placeholder="Search the website">
            <input value="Search" type="submit" class="btn is--search">
        </form>
    </div>
</div>


