<footer class="scc-footer">
    <div class="container">
        <div class="footer-upper-section">

            <ul class="scc-footer__list scc-footer__list--contact-channels">
                <li class="scc-footer__item scc-footer__item--contact">
                    <a aria-label="Contact the council" class="scc-footer__link" href="https://www.surreycc.gov.uk/council-and-democracy/contact-us">Contact</a>
                </li>
                <li class="scc-footer__item scc-footer__item--find">
                    <a class="scc-footer__link" href="https://www.surreycc.gov.uk/council-and-democracy/offices">Offices</a>
                </li>
            </ul>

            <div class="scc-footer__list--pages">
                <ul class="scc-footer__list u-text-lg-right m-0">
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/website/disclaimer">Disclaimer</a>
                    </li>
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/council-and-democracy/your-privacy">Your privacy</a>
                    </li>
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/website/cookies">Cookies</a>
                    </li>
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/website/accessibility">Accessibility</a>
                    </li>
                </ul>
                <ul class="scc-footer__list u-text-lg-right m-0">
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/website">About our website</a>
                    </li>
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/council-and-democracy/how-the-council-works/council-policies-and-strategies/modern-slavery-statement">Modern slavery statements</a>
                    </li>
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/site-map">Site map</a>
                    </li>
                </ul>
            </div>


        </div>

        <div class="row">
            <div class="col-12">
                <div class="scc-social-icons">
                    <ul class="scc-social-icons__list mb-3">
                        <li class="scc-social-icons__item">
                            <a class="scc-social-icons__link scc-footer__link scc-footer__link--icon fa-brands fa-x-twitter" href="https://twitter.com/SurreyNews">
                                <span class="sr-only">Follow us on Twitter</span>
                            </a>
                        </li>
                        <li class="scc-social-icons__item">
                            <a class="scc-social-icons__link scc-footer__link scc-footer__link--icon fa-brands fa-facebook" href="https://www.facebook.com/Surrey-County-Council-126261804063269/">
                                <span class="sr-only">Follow us on Facebook</span>
                            </a>
                        </li>
                        <li class="scc-social-icons__item">
                            <a class="scc-social-icons__link scc-footer__link scc-footer__link--icon fa-brands fa-youtube" href="https://www.youtube.com/user/SurreyCountyCouncil">
                                <span class="sr-only">Follow us on YouTube</span>
                            </a>
                        </li>
                        <li class="scc-social-icons__item">
                            <a class="scc-social-icons__link scc-footer__link scc-footer__link--icon fa-brands fa-instagram" href="https://www.instagram.com/surreycountycouncil/">
                                <span class="sr-only">Follow us on Instagram</span>
                            </a>
                        </li>
                        <li class="scc-social-icons__item">
                            <a class="scc-social-icons__link scc-footer__link scc-footer__link--icon fa-brands fa-linkedin" href="https://www.linkedin.com/company/surrey-county-council/careers?trk=top_nav_careers">
                                <span class="sr-only">Follow us on LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="scc-footer__list">
                    <li class="scc-footer__item">
                        <a class="scc-footer__link" href="https://www.surreycc.gov.uk/"><span class="sr-only">Surrey County Council </span>Home</a>
                    </li>
                    <li class="scc-footer__item">
                        © Surrey County Council 2024
                    </li>
                </ul>
                <a href="#site-header" class="sr-only">Return to top</a>
            </div>
        </div>
    </div>
</footer>
<div class="societyworks-footer">
    <div class="container">
        <p>
            Powered by
            <a class="societyworks-footer__logo societyworks-footer__logo--fms-pro" href="https://www.societyworks.org/services/highways/">FixMyStreet Pro</a>
        </p>
    </div>
</div>
