<section class="scc-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="mt-0"><i class="fa-solid fa-envelope scc-subscribe__icon"></i><a href="https://www.surreycc.gov.uk/community/news/newsletters">Subscribe to our newsletters</a> for latest news and events.</p>
            </div>
        </div>
    </div>
</section>
<footer class="scc-footer">
    <div class="container">
        <ul class="scc-footer__list">
            <li class="scc-footer__item">
                © Surrey County Council
            </li>
            <li class="scc-footer__item">
                <a class="scc-footer__link" href="https://www.surreycc.gov.uk/"><span class="sr-only">Surrey County Council</span>Home</a></li>
            <li class="scc-footer__item">
                <a class="scc-footer__link" href="https://www.surreycc.gov.uk/disclaimer">Disclaimer</a>
            </li>
            <li class="scc-footer__item">
                <a class="scc-footer__link" href="https://www.surreycc.gov.uk/privacy">Your privacy</a>
            </li>
            <li class="scc-footer__item">
                <a class="scc-footer__link" href="https://www.surreycc.gov.uk/cookies">Cookies</a>
            </li>
            <li class="scc-footer__item">
                <a class="scc-footer__link" href="https://www.surreycc.gov.uk/accessibility">Accessibility</a>
            </li>
            <li class="scc-footer__item">
                <a class="scc-footer__link" href="https://www.surreycc.gov.uk/contactus">Contact us</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div id="happy-or-not-smiley-digital-embed"></div>
    </div>
</footer>
<div class="societyworks-footer">
    <div class="container">
        <p>
            Powered by
            <a class="societyworks-footer__logo societyworks-footer__logo--fms-pro" href="https://www.societyworks.org/services/highways/">FixMyStreet Pro</a>
        </p>
    </div>
</div>
