@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";


// Colour tab to match colour scheme
#nav-link {
  width: 50px;
  height: 48px;
  background: url('/cobrands/thereader/images/tab-green.png') 0 0 no-repeat;
}

#site-header {
  background: none;
  background-color: $thereader_white;
  height: 60px;
}

#site-logo {
  margin-top:4px;
  background-image: url('/cobrands/thereader/images/logo-black-text.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: 4px solid $thereader_light;
  width: 80px;
  height: 72px;
}

#main-nav ul#mysoc-menu li a#mysoc-logo {
  background-image: none;
  text-indent: 0;
  img {
    display: inline;
    height: 20px;
    width: 105px;
  }
}

.thereader-preamble {
    background: #E0E0E0;
    margin: 0em auto 1em auto;
    padding: 1em 1em 0.5em 1em;
}

dd, p {
  line-height: 1.4em;
}

