/* COLOURS */

$menu-image: 'menu-black';

$mappage-header-height: 134px;

// Primary
$white: #fff;
$green: #337b1c;
$grey: #666664;


// Secondary
$orange: #ea8032; 
$blue: #43609a;
$pale_green: #f2f7f0;
$alt_green: #328b15;
$light_green: #73bf5b;
$dark_green: #0f4a40;
$teal :#1e98a7;
$black: #333;

$primary: $green;
$primary_b: #222;
$primary_text: $white;

$base_bg: $white;
$base_fg: #222;

$link-color: $green;
$link-visited_color: $dark_green;
$link-hover-color: $dark_green;

$nav_background_colour: $white;
$nav_colour: $grey;
$nav_hover_background_colour: darken($green, 10%);

$col_click_map: $green;

$header-top-border: false;

$roboto: 'Roboto', Arial, sans-serif;

$heading-font: $roboto;
$body-font: $roboto;
$meta-font: $roboto;

$search-help-alignment: left;
$search-help-background: #fff3f3;
$search-help-margin: 1em -1em 0 -1em;
$search-help-margin-desktop: -2em -1em 0 -1em;
$search-help-header-font-size-desktop: 1.25em;

$geolocation-link: $green;

$front-main-color: $black;
$front-main-color-desktop: $black;
$postcodeform-background: transparent;
$postcodeform-color: $primary_b;
$postcodeform-color-desktop: $primary_b;

$mobile-sticky-sidebar-button-menu-image: "menu-white";

$button-border-radius: 0.25em;
$button-padding-top: .55em;
$button-padding-bottom: .55em;
$button-padding-left: 1em;
$button-padding-right: 1em;

$button-primary-bg-top: $primary;
$button-primary-bg-bottom: $primary;
$button-primary-border: $primary;
$button-primary-text: $white;

$button-primary-hover-bg-top: darken($green, 5%);
$button-primary-hover-bg-bottom:darken($green, 5%);
$button-primary-hover-border: darken($green, 5%);
$button-primary-hover-text: $white;

$button-primary-focus-bg-top: $primary;
$button-primary-focus-bg-bottom: $primary;
$button-primary-focus-border: $primary;
$button-primary-focus-text: $white;
