@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";

#site-logo {
    width: 162px;
    height: 56px;
    padding: 0.5em 0;
    background-image: url("/cobrands/peterborough/images/logo.svg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 162px 56px;
}

#map_box #map {
    background-color: white;
}

input {
    font-family: $body-font;
}

label {
    cursor: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2 {
    color: $alt-green;
}

.btn--primary, .btn-secondary {
    border: 0.2em solid $primary;
    padding: 0.55em 1em;
    border-radius: 0.25em;
    text-decoration: none !important;
    font-weight: bold;
    line-height: 100%;
    font-size: 1em;

    &:focus {
        box-shadow: #4c9aff 0px 0px 0px 3px;
        outline: none;
    }
}

@mixin next-back-button($orientation) {
    padding-#{$orientation}: 2em;
    background-size: 9px auto;
    background-position: center $orientation 1em;
    background-repeat: no-repeat;

    &.is--disabled, &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none
    }
}

.btn--primary {
    background: $primary;

    &:hover,
    &:active {
        background: darken($green, 5%);
        border-color: darken($green, 5%);
    }

    &:focus {
        color: $primary_text;
        background: $primary;
    }
}

.btn-secondary, input.btn-secondary {
    color: $primary ;
    background-color: $primary_text;

    &:hover,
    &:active {
        color: $primary_text ;
        background-color: $primary ;
        border-color: $primary ;
    }

    &:focus {
        color: $primary !important;
    }

    &.is--disabled, &:disabled {
        color: $primary !important;
        border: 0.2em solid $primary;
        opacity: 0.5;
        pointer-events: none;
    }
}

#front-main {
    h2 {
        font-style: normal;
        font-weight: normal;
    }
}

.postcode-form-box {
    input#sub {
        background-color: $link-color;
    }
}

.general-notes {
    .box-warning {
      font-size: 1.2em;
    }
}

.nav-menu {
    font-weight: 700;
}

.big-green-banner {
    text-transform: none;
}

.pboro-footer {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e9e9e9;
    p {
        margin: 30px 0 0;
    }

    ul {
        margin: 10px 0 15px;
    }

    li {
        list-style: none;
    }

    a {
        color: $black;
        text-decoration: underline;
        margin: 0 0.5em;
        font-size: 1.1em;
    }
}

.covid-banner {
    background-color: #AF5412;
    color: white;
    padding: 2em;
    font-size: 1.2em;
    a {
        text-decoration: underline;
        color: white;
    }
}

@import "../sass/waste";

// Waste style overrides
.waste {
    .govuk-panel__title {
        color: $pale_green;
    }
}

.peterborough-waste-credits {
    margin: 2em auto 1em;
    text-align: left;
    width: 193px;

    p {
      font-size: 0.875em;
      color: #666;
      margin: 0;
    }

    a {
      display: inline-block;
      height: 0;
      padding-top: 40px;
      overflow: hidden;
      margin: 0.5em 0 0;

      &[href*="societyworks"] {
        width: 193px;
        background: transparent none 0 0 no-repeat;
        background-image: url("/cobrands/fixmystreet-uk-councils/images/logo-societyworks.svg");
        background-size: 193px 40px;
        vertical-align: -4px;
      }
    }
}

// Icons for WW
// Waste icons
.icon-link {
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: left 0 center;
    color: $primary_b;
    padding: 0.5em;
    padding-left: 30px;

    &.is--calendar {
        background-image: url("/cobrands/peterborough/images/calendar.svg");
        background-size: 22px;

        &:hover, &:focus {
            background-image: url("/cobrands/peterborough/images/calendar-hover.svg");
        }
    }
}

// Bulky Goods/Waste

body.bulky {
  $border: 1px solid #e9e9e9;
  $bulky-mobile-breakpoint: 720px;

  .govuk-summary-list {
    padding-bottom: 0;
  }

  .govuk-summary-list__row {
    border-bottom: none;
    .govuk-summary-list__key, .govuk-summary-list__value {
      border-bottom: none;
      padding-top: 0.5em;
    }
  }

  .waste-service-descriptor {
    border-bottom: none;
  }

  .waste-service-name {
    margin-top: 1em;
  }

  .waste-service-image {
    display: block;
    margin-right: auto;
  }

  .waste-services-launch-panel {
    margin-bottom: 2em;
    padding-bottom: 1.5em;
  }

  .waste-service-name.govuk-heading-m {
    text-align: left;
    border-bottom: none;
    margin-top: 0;
  }

  .waste-service-wrapper {
    margin-bottom: 5em;
    .govuk-summary-list__key, .govuk-summary-list__value {
      border-bottom: none;
    }
  }

  .govuk-warning-text__img {
    align-self: auto;
  }

  .govuk-grid-column-two-thirds {
    @media only screen and (max-width: ($bulky-mobile-breakpoint - 1px)) {
      // So the service-navbar on the right doesn't overlap with the content on the left.
      width:100%;
    }
  }

  .services-navbar {
    // This variables will help when we want to reuse this
    //component on another cobrand and the default colors
    // don't pass the contrast test.
    $background-color: $primary !default;
    $color: $primary_text !default;
    $padding-x: 1rem;

    display: none;
    background-color: $background-color;
    max-width: 200px;

    position: fixed;
    top: 100px;
    right: 0;

    @media only screen and (min-width: $bulky-mobile-breakpoint) {
      display:block;
    }

    @media only screen and (min-width: 1500px) {
      // To take advantage of the extra space on the right side
      // of the screen. Because of the size and  background of the element
      // the user probably won't overlook it.
      left: 0;
    }

    h3 {
      color: $color;
      margin-top:$padding-x;
      padding: 0 $padding-x;
    }

    a {
      display: block;
      color: $color;
      padding: 0.5em $padding-x;

      &:hover, &:active, &:focus {
        // To improve accessibility
        background-color: $color;
        color: $background-color;

        .highlight-label {
          background-color: $background-color;
          color: $color;
        }
      }

      .highlight-label {
        background-color: $color;
        color: $background-color;
        font-size: 0.8em;
        padding: 0.2em 0.3em;
        border-radius: 5px;
        margin-left: 5px;
      }
    }

    hr {
      border-top: none;
      height: 1px;
      background-color: transparentize($color, 0.8);
    }
  }

  .cta-announcement-wrapper {
    .cta-announcement {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      padding: 0.5em 1em;
      background-color: transparentize($primary, 0.8);
      border-radius: 0.2em;

    }

    &.is--mobile-only {
      @media only screen and (min-width: $bulky-mobile-breakpoint) {
        display:none;
      }
    }
  }
}

.img-preview {
    border-radius: 5px;
    object-fit: cover;

    &.is--small {
        width: 60px;
        height: auto;

    }

    &.is--medium {
        max-width: 100px;
        height: auto;
    }
}
