@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";

#site-logo {
    width: 162px;
    height: 56px;
    padding: 0.5em 0;
    @include svg-background-image('/cobrands/peterborough/images/logo');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 162px 56px;
}

#postcodeForm .form-hint {
    color: $white;
}

#map_box #map {
    background-color: white;
}

input {
    font-family: $body-font;
}

label {
    cursor: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2 {
    color: $alt-green;
}

#front-main {
    h2 {
        font-style: normal;
        font-weight: normal;
        color: $primary_b;
    }
    #postcodeForm {
        background-color: #fff;
        div input#sub {
            background-color: $link-color;
        }
    }
    label,
    .form-hint {
        color: $primary_b;
    }
    a#geolocate_link {
        background-color: transparent;
        padding: 0;
        color: $link-color;
        &:hover,
        &:active,
        &:focus {
            background-color: transparent;
            text-decoration: underline
        }
    }
}

.btn-primary,
.green-btn,
.btn--primary {
    border: none;
    background: $green;

    &:hover,
    &:active {
        background: lighten($green, 5%);
    }
}

.general-notes {
    .box-warning {
      font-size: 1.2em;
    }
}

.nav-menu {
    font-weight: 700;
}

a,
.fake-link   {
  color: $link-color;

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:active {
    color: $link-hover-color;
  }
}

.dz-clickable .dz-message u {
    color: $link-color;
}

.big-green-banner {
    text-transform: none;
}

.pboro-footer {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e9e9e9;
    p {
        margin: 30px 0 0;
    }

    ul {
        margin: 10px 0 15px;
    }

    li {
        list-style: none;
    }

    a {
        color: $black;
        text-decoration: underline;
        margin: 0 0.5em;
        font-size: 1.1em;
    }
}

.covid-banner {
    background-color: #AF5412;
    color: white;
    padding: 2em;
    font-size: 1.2em;
    a {
        text-decoration: underline;
        color: white;
    }
}
