@import "_colours";

@import "../sass/layout";

#site-logo {
    padding: 1em 0;
}

body.frontpage #front-main {
    padding: 2.5em 0;
}

#front-main { 
    h1 {
        font-size: 3em;
    }
    h2 {
        font-weight: normal;
        font-size: 1.5em;
    }
}

#postcodeForm .form-hint {
    color: $grey;
}

#main-nav {
    min-height: 84px;
}

body.mappage #site-header {
    height: 84px;
}

#map_box,
#map_sidebar {
    top: 84px;
}



// Stop visited nav links being purple when hovering over them
.nav-menu--main {
    a:hover {
      color: $primary_text;
    }
    span {
        color: $primary_b;
    }
    a.report-a-problem-btn {
        background-color: transparent;
        color: $grey;
        padding: 0.75em;
        margin: 0;
        border-radius: 0;
        &:hover,
        &:active,
        &:focus {
            background-color: $nav_hover_background_colour;
            color: #fff;
        }
    }
}

.pboro-footer {
    li {
        display: inline-block;
    }
    li:first-child {
        border: none;
    }
}

// Waste
.govuk-warning-text__img {
    // This corrects the horizontal spacing disparity when you have 
    // consecutive warning messages.
    flex-basis: 0;
    margin-right: 1em;
}
