#postcodeForm {
   background-color: #F3F4F4;
}

#mysociety #postcodeForm label {
    float: none;
    margin-bottom: 5px;
    width: auto !important;
}

#mysociety #map_box {
    width: 380px;
}

#mysociety #map, #mysociety #drag {
    width: 378px;
    height: 378px;
}

#mysociety p {
    margin: 1em 0px;
    padding: 0px;
}

#mysociety #update_form {
    clear: both;
}

#mysociety #form_sign_in {
    padding-top: 2em;
}

#mysociety form label {
    width: 6em;
    display: inline;
    margin-right: 0px;
}

#mysociety div.checkbox {
    padding-left: 6.5em;
}

#mysociety textarea,
#mysociety input {
    background-color: #f9f9f1;
    margin: 4px;
}

#mysociety #fileupload_normalUI input {
    background-color: white;
}

#mysociety input[type='submit']{
    border: 0px;
    color: white;
    padding: 3px;
    vertical-align: top;
    font:150%/1.4em "Trebuchet MS", Helvetica, Arial, Sans-serif;
    background:url(http://www.lichfielddc.gov.uk/site/styles/css_img/nav-bg.png) top repeat-x;
}
