#postcodeForm {
   background-color: #F3F4F4;
}

#mysociety #postcodeForm label {
    float: none;
    margin-bottom: 5px;
    width: auto !important;
}

#mysociety #map_box {
    width: 380px;
}

#mysociety #map, #mysociety #drag {
    width: 378px;
    height: 378px;
}
