[%

color_kingston_black = '#3c3c3c'
color_kingston_blue = '#09509d'
color_kingston_green = '#029A81'
color_kingston_red = '#a0505c'
color_kingston_very_pale_blue = '#cce4fd'
color_kingston_very_pale_grey = '#f4f4f4'

body_background_color = color_kingston_very_pale_grey
body_text_color = color_kingston_black

header_background_color = color_white
header_text_color = color_kingston_black

secondary_column_background_color = color_kingston_very_pale_blue

button_background_color = color_kingston_red
button_text_color = color_white

logo_file = 'RBK-black-banner.png'
logo_width = "258" # pixel measurement, but without 'px' suffix
logo_height = "69" # pixel measurement, but without 'px' suffix

%]
