[%

color_kingston_black = '#0B0C0C'
color_kingston_blue = '#0060AC'
color_kingston_blue_600 = '#003078'
color_kingston_green = '#029A81'
color_kingston_red = '#00681F'
color_kingston_very_pale_blue = '#E8F1F8'
color_kingston_very_pale_grey = '#F3F2F1'

body_background_color = color_kingston_very_pale_grey
body_text_color = color_kingston_black

header_background_color = color_white
header_text_color = color_kingston_black

secondary_column_background_color = color_kingston_very_pale_blue

button_background_color = color_kingston_blue
button_text_color = color_white

link_text_color = color_kingston_blue
link_hover_text_color = color_kingston_blue_600

logo_file = 'kingston-logo.png'
logo_width = "92" # pixel measurement, but without 'px' suffix
logo_height = "112" # pixel measurement, but without 'px' suffix

%]
