[%

email_columns = 1;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Thanks for using [% site_name %]</h1>
  <p style="[% p_style %]">Please click on the link below to confirm your email address for [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% c.uri_for_action( 'auth/token', token ) %]">Yes, this is my address</a>
  </p>
  <p style="[% p_style %]">Once you&rsquo;ve done this, you&rsquo;ll be able to view or amend your subscription.</p>
</th>

[% INCLUDE '_email_bottom.html' %]
