[%

USE pounds = format('%.2f');
PROCESS '_garden_data.html';

BLOCK show_fields;
    FOR field IN fields;
        IF field.2;
            SET val = report.get_extra_metadata(field.1);
        ELSE;
            SET val = report.get_extra_field_value(field.1);
        END;
        IF val;
            '<p style="' _ p_style _ '">';
            IF payments;
                field.0 _ ': £' _ pounds(val / 100) _ "\n\n";
            ELSE;
                field.0 _ ': ' _ val _ "\n\n";
            END;
            '</p>';
        END;
    END;
END;

email_columns = 2;

PROCESS '_email_settings.html';
INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]

  <p style="[% p_style %]">Dear [% report.name %],</p>

  <p style="[% p_style %]">[% email_summary %]</p>

    [% INCLUDE '_council_reference.html' problem=report %]

[% IF type != 'cancel' ~%]
  <p style="[% p_style %]">
    You have signed up for:
  </p>
[% END %]

[% IF quantity AND NOT sacks ~%]
  <p style="[% p_style %]">
    Number of bin subscriptions: [% quantity %]
  </p>
[% END %]

[% IF new_bins > 0 ~%]
  <p style="[% p_style %]">
    [% IF sacks ~%]
    Garden waste sack collection: 1 roll
    [% ELSE ~%]
    Bins to be delivered: [% new_bins %]
    [% END ~%]
  </p>
[% ELSIF new_bins < 0 AND NOT sacks ~%]
  <p style="[% p_style %]">
    Bins to be removed: [% 0 - new_bins %]
  </p>
[% END %]

[% INCLUDE show_fields payments=1 fields=[
    [ 'Subscription cost', 'payment' ],
    [ 'Payment', 'pro_rata' ],
    [ 'Admin fee for new bin(s)', 'admin_fee' ],
] %]

[% IF total %]
  <p style="[% p_style %]">
    Total: £[% pounds(total / 100) %]
  </p>
[% END %]

[% IF type == 'new' ~%]
  <p style="[% p_style %]">
    Your subscription will last for 12 months and starts after your first collection date.
  </p>
[% END %]

[% IF type == 'renew' ~%]
  <p style="[% p_style %]">
    Your subscription will last for 12 months and starts from the following collection date
    [% IF new_bins > 0 %]
        once your
        [% IF sacks %]sacks[% ELSE %]bins[% END %]
        have been delivered
    [% END %].
  </p>
[% END %]

  <p style="[% p_style %]">
    You can <a href="https://www.kingston.gov.uk/bins-recycling-rubbish/find-waste-recycling-collection-day/1">check your collection day online</a>.
  </p>

[% IF new_bins > 0 ~%]
  <p style="[% p_style %]">
    We will aim to deliver your [% IF container == 28 %]roll of sacks[% ELSE %]new bin(s)[% END %] within 20 working days.
    You don’t need to be at home for the delivery - we’ll leave them outside your address.
  </p>
[% END %]

  <p style="[% p_style %]">
    Your garden waste needs to be at the boundary of your property by 6.30am on the day of collection.
    <a href="https://www.kingston.gov.uk/bins-recycling-rubbish/recycling-rubbish-collections-guide/3">Find out what you can put in your garden waste</a>.
  </p>

  <p style="[% p_style %]">
    Kind regards,<br>Waste Services Team
  </p>

  [% end_padded_box | safe %]
</th>

[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    [% report.detail | html_para_email(secondary_p_style) %]
[% END %]

[% INCLUDE '_email_bottom.html' %]
