[%

color_sutton_black = '#0b0c0c'
color_sutton_green = '#00856a'
color_sutton_white = '#fff'
color_sutton_very_pale_green = '#CFDCDA'
color_sutton_very_pale_grey = '#f8f9fa'

body_background_color = color_sutton_very_pale_grey
body_text_color = color_sutton_black

header_background_color = color_sutton_white
header_text_color = color_white

secondary_column_background_color = color_sutton_very_pale_green

button_background_color = color_sutton_green
button_text_color = color_white

logo_file = 'sutton-logo.png'
logo_width = "183" # pixel measurement, but without 'px' suffix
logo_height = "65" # pixel measurement, but without 'px' suffix

%]
