[% IF report.category == 'Garden Subscription' OR report.category == 'Cancel Garden Subscription' ~%]
[% PROCESS 'other-reported-garden.html' ~%]
[% ELSIF report.category == 'Bulky collection' ~%]
[% PROCESS 'waste/other-reported-bulky.html' ~%]
[% ELSE ~%]
[%

email_summary = "Thanks for logging your report";
email_columns = 2;

PROCESS '_email_settings.html';
INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]
  <h1 style="[% h1_style %]">Your report has been&nbsp;logged</h1>
  <p style="[% p_style %]">Your report to [% report.body %] has been logged on [% site_name %].</p>

[% INCLUDE '_council_reference.html' problem=report %]

[% IF report.category == 'Request new container' %]
<p style="[% p_style %]">Due to the current high demand, please allow up to
[% cobrand.wasteworks_config.request_timeframe %]
for this order to be processed. We thank you for your patience and
understanding in advance.</p>
[% END %]

  [% end_padded_box | safe %]
</th>
[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    [% report.detail | html_para_email(secondary_p_style) %]
[% END %]

[% INCLUDE '_email_bottom.html' %]
[% END %]
