<footer class="pcg-footer-black">
    <div class="container footer-grid">
        <div class="pcg-footer-black__wrapper--contacts col-12 col-sm-6 col-lg-3">
            <h3 class="pcg-footer-black__subtitle">Follow us</h3>
            <ul class="pcg-footer-black__social">
                <li class="pcg-footer-black__social-item">
                    <a href="https://www.facebook.com/GloucesterCityCouncil/" target="_blank" title="https://www.facebook.com/GloucesterCityCouncil/" class="pcg-sn-icon pcg-contrast__link-hovered icon icon-facebook" aria-label="Go to https://www.facebook.com/GloucesterCityCouncil/">
                    </a>
                </li>
                
                <li class="pcg-footer-black__social-item">
                    <a href="https://twitter.com/GloucesterCity" target="_blank" title="https://twitter.com/GloucesterCity" class="pcg-sn-icon pcg-contrast__link-hovered icon icon-twitter" aria-label="Go to https://twitter.com/GloucesterCity">
                    </a>
                </li>
            </ul>
        </div>

        <div class="pcg-footer-black__wrapper--nav col-12 col-sm-6 col-lg-3">
            <h2 class="pcg-footer-black__title" id="footer-menu-title-2b7317">About Gloucester</h2>

            <nav class="pcg-footer-navigation pcg-footer-black__navigation" aria-labelledby="footer-menu-title-2b7317">
                <ul class="pcg-footer-navigation__list">
                    <li>
                        <a href="http://visitgloucester.co.uk/" target="_blank" class="pcg-footer-navigation__link" aria-label="Visit Gloucester - Opens new tab">Visit Gloucester</a>
                        <img src="/cobrands/gloucester/images/external-icon.svg" alt="" role="presentation" aria-hidden="true" width="16">
                    </li>
                    <li>
                        <a href="http://democracy.gloucester.gov.uk/mgFindMember.aspx" target="_blank" class="pcg-footer-navigation__link" aria-label="Find your councillor - Opens new tab">Find your councillor</a>
                        <img src="/cobrands/gloucester/images/external-icon.svg" alt="" role="presentation" aria-hidden="true" width="16">
                    </li>
                    <li>
                        <a href="https://www.gloucesterlottery.co.uk/" target="_blank" class="pcg-footer-navigation__link" aria-label="Gloucester Lottery - Opens new tab">Gloucester Lottery</a>
                        <img src="/cobrands/gloucester/images/external-icon.svg" alt="" role="presentation" aria-hidden="true" width="16">
                    </li>
                </ul>
            </nav>
        </div>

        <div class="pcg-footer-black__wrapper pcg-footer-black__wrapper--nav col-12 col-sm-6 col-lg-3">
            <h2 class="pcg-footer-black__title" id="footer-menu-title-77cd40">Using our site</h2>
            <nav class="pcg-footer-navigation pcg-footer-black__navigation" aria-labelledby="footer-menu-title-77cd40">
                <ul class="pcg-footer-navigation__list">
                    <li>
                        <a href="https://www.gloucester.gov.uk/about-the-council/data-protection-and-freedom-of-information/data-protection/" target="_self" class="pcg-footer-navigation__link pcg-contrast__link">How we use your information</a>
                    </li>
                    <li>
                        <a href="https://www.gloucester.gov.uk/sitemap/" target="_self" class="pcg-footer-navigation__link pcg-contrast__link">Sitemap</a>
                    </li>
                    <li>
                        <a href="https://www.gloucester.gov.uk/accessibility/" target="_self" class="pcg-footer-navigation__link pcg-contrast__link">Accessibility</a>
                    </li>
                    <li>
                        <a href="https://www.gloucester.gov.uk/cookies/" target="_self" class="pcg-footer-navigation__link pcg-contrast__link">Cookies</a>
                    </li>
                    <li>
                        <a href="https://www.gloucester.gov.uk/about-the-council/consultations-and-feedback/compliments-comments-and-complaints/" target="" class="pcg-footer-navigation__link pcg-contrast__link">Make a comment, complaint or compliment</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
