[%

color_peabody_teal = '#009baa'
color_peabody_brick = '#b3460f'
color_peabody_pale_blue = '#e4f6ff'
color_peabody_grey_l2 = '#f4f4f4'

body_background_color = color_peabody_grey_l2
body_text_color = color_black

header_background_color = color_peabody_teal
header_text_color = color_white

secondary_column_background_color = color_peabody_pale_blue

button_background_color = color_peabody_brick
button_text_color = color_white

logo_file = 'peabody_logo_white.png'
logo_width = "195" # pixel measurement, but without 'px' suffix
logo_height = "45" # pixel measurement, but without 'px' suffix

%]
