/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$orange: #ff9900;
$bluey: #6688ff;
$RCCGreen: #a7b980;
$RCCGreen_dark: #265123;
$RCCbg: #F1F1F1;

$primary: $RCCGreen;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: $RCCbg;
$base_fg: #000;

$nav_background_colour: $RCCbg;
$nav_colour: #000;
$nav_hover_background_colour: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$col_click_map: $RCCGreen_dark;

//$image-sprite: '/cobrands/rutland/RCCLogo.gif';

