@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";


#site-logo {
    background-image: url('/cobrands/rutland/images/rutland-logo.svg');
    background-size: contain;
    height: 50px;
    width: 110px;
}

.societyworks-footer {
    margin-top: 2em;
}

@import "../fixmystreet-uk-councils/societyworks-footer";
