@import "_colours";
@import "../sass/layout";


body.frontpage #site-header {
  height: 10em;
}


body.frontpage #site-logo {
    @include svg-background-image("/cobrands/rutland/images/rutland-logo");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 220px;
}


a.platform-logo {
    background-image: url(/cobrands/fixmystreet/images/fms-platform-logo-dark.svg);
}

.nav-menu--main span {
  color: darken($primary, 10%);
}
