@import "_colours";
@import "../sass/layout";


body.frontpage #site-header {
  height: 10em;
}


body.frontpage #site-logo {
    background-size: contain;
    background-repeat: no-repeat;
    height: 110px;
    width: 220px;
}


a.platform-logo {
    background-image: url(/cobrands/fixmystreet/images/fms-platform-logo-dark.svg);
}

.nav-menu--main span {
  color: darken($primary, 10%);
}

.nav-menu--main a.report-a-problem-btn {
    @include button-variant($bg-top: $button-primary-bg-top, $bg-bottom: $button-primary-bg-bottom, $border: $button-primary-border, $text: $button-primary-text, $hover-bg-bottom: $button-primary-hover-bg-bottom, $hover-bg-top: $button-primary-hover-bg-top, $hover-border: $button-primary-hover-border, $hover-text: $button-primary-hover-text);
    border-radius: 5rem;
}

.big-green-banner {
  font-weight: bold;
  color: $primary_b;
  background: $primary inline-image("../fixmystreet/images/chevron-black-#{$right}.svg") $right center no-repeat;
}
