[% USE date %]
<section class="place-banner place-banner_horizon place-banner_purple">
	<div class="place-banner__bg">
		<div class="place-banner__bg-inner-container">
			<div class="place-banner__bg-inner">
				<div class="place-banner__horizon"></div>
			</div>
		</div>
	</div>
</section>

<div class="brent_footer">
  <footer class="footer">
    <div class="footer__upper-container footer_3-cols">
      <div class="footer__content">
        <div class="footer__column footer__column_with-logo">
          <a href="/" class="footer__logo">Brent homepage</a>
        </div>
          <div class="footer__column">
            <div class="footer__column-content">
              <div class="footer__column-title">
                 Your council
              </div>
                <div class="footer__column-pages">
                    <a class="footer__column-link" href="https://www.brent.gov.uk//the-council-and-democracy/complaints-and-feedback">
                      Complaints and feedback
                    </a>
                    <a class="footer__column-link" href="https://www.brent.gov.uk//the-council-and-democracy/contact-us">
                      Contact the council
                    </a>
                    <a class="footer__column-link" href="https://fa-epzg-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1" target="_blank">
                      Jobs at the council
                        <svg class="svg-inline--fa fa-external-link-alt" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L306.7 128 169.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L352 173.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V64c0-17.7-14.3-32-32-32H288zM80 64C35.8 64 0 99.8 0 144V400c0 44.2 35.8 80 80 80H336c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v80c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V144c0-8.8 7.2-16 16-16h80c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"></path></svg><!-- <i class="fas fa-external-link-alt"></i> -->
                    </a>
                    <a class="footer__column-link" href="https://www.brent.gov.uk/news-in-brent">
                      News and Press office
                    </a>
                    <a class="footer__column-link" href="https://public.govdelivery.com/accounts/UKBRENT/signup/10620" target="_blank">
                      Sign up to our weekly email news updates
                        <svg class="svg-inline--fa fa-external-link-alt" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L306.7 128 169.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L352 173.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V64c0-17.7-14.3-32-32-32H288zM80 64C35.8 64 0 99.8 0 144V400c0 44.2 35.8 80 80 80H336c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v80c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V144c0-8.8 7.2-16 16-16h80c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"></path></svg><!-- <i class="fas fa-external-link-alt"></i> -->
                    </a>
                </div>
    
            </div>
          </div>
          <div class="footer__column">
            <div class="footer__column-content">
              <div class="footer__column-title">
                My Account
              </div>
    
                <div class="footer__column-summary">
                  Manage your Council Tax, housing benefits, council rent account and more through My Account.
                </div>
    
    
            </div>
              <a class="footer__cta" href="https://customerportal.brent.gov.uk/myaccount">Sign in or register</a>
          </div>
          <div class="footer__column">
            <div class="footer__column-content">
              <div class="footer__column-title">
                Follow us on social
              </div>
    
    
    
                <div class="footer__social-networks">
                    <a class="footer__social-network footer__social-network_facebook" href="https://www.facebook.com/BrentCouncil/">Brent council's Facebook page</a>
                    <a class="footer__social-network footer__social-network_instagram" href="https://www.instagram.com/brentcouncil">Brent council's Instagram page</a>
                    <a class="footer__social-network footer__social-network_linkedin" href="https://www.linkedin.com/company/brent-council">Brent council's LinkedIn site</a>
                    <a class="footer__social-network footer__social-network_twitter" href="https://twitter.com/brent_council">Brent council's Twitter feed</a>
                    <a class="footer__social-network footer__social-network_youtube" href="https://www.youtube.com/user/BrentCouncilLondon/videos">Brent council's YouTube channel</a>
                </div>
            </div>
          </div>
      </div>
    </div>
    
        <div class="footer__legal-pages legal-pages">
      <div class="legal-pages__content">
        <div class="legal-pages__links">
            <a class="legal-pages__link" href="https://www.brent.gov.uk/accessibility-statements/brent-website">
              Accessibility statement
            </a>
            <a class="legal-pages__link" href="https://www.brent.gov.uk/the-council-and-democracy/access-to-information/data-protection-and-privacy/cookies">
              Cookies policy
            </a>
            <a class="legal-pages__link" href="https://www.brent.gov.uk/the-council-and-democracy/access-to-information/data-protection-and-privacy/brent-privacy-policy">
              Privacy policy
            </a>
            <a class="legal-pages__link" href="https://www.brent.gov.uk/the-council-and-democracy/legal">
              Terms of use
            </a>
        </div>
        <div class="legal-pages__copyright">© Copyright Brent Council 2022</div>
      </div>
    </div>
  </footer>
</div>

[% PROCESS '_footer_extra_powered_by.html' %]
