                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="container">
                [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area %]
            </div>
        </div>
    </div> <!-- .wrapper -->

    [% IF pagefooter %]
      <div>
        <footer role="contentinfo">
            [% INCLUDE 'front/footer-marketing.html' %]
        </footer>
      </div>
    [% END %]

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
