.site-title {
    @extend .image-replacement;
    height: 60px;
    width: 320px;
    display: block;
    background-position: top left;
    background-size: 320px 60px;
    background-repeat: no-repeat;
    background-image: url('../img/fixmystreet-logo.svg');
}
