$source: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, serif;

$colour_orange: #f79421;

$colour_background: #f5f4ee;
$colour_links: $colour_orange;

$giant-screen: 87.5em;
$large-screen: 64em;
$medium-screen: 33.75em;
