$source: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, serif;

$colour_orange: #f79421;
$colour_light_grey: #e4e3dd;
$colour_dark_grey: #787774;
$colour_black: #333333;

$colour_background: #f3f1eb;
$colour_links: $colour_orange;
$colour_borders: $colour_light_grey;

$giant-screen: 77.777777778em;
$large-screen: 56.888888889em;
$medium-screen: 30em;

//These should always be overridden in _config.scss
$logo_path: "../img/fixmystreet-logo.svg" !default;
$logo_height: 60px !default;
$logo_width: 320px !default;
$background_image_path: "../img/default-bg.jpg" !default;
$background_repeat: no-repeat !default;
$background_size: cover !default;
