$source: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, serif;

$colour_orange: #f79421;
$colour_light_grey: #e4e3dd;
$colour_dark_grey: #787774;
$colour_black: #333333;

$colour_background: #f7f4f0;
$colour_links: $colour_orange;
$colour_borders: $colour_light_grey;

$giant-screen: 87.5em;
$large-screen: 64em;
$medium-screen: 33.75em;
