@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'pygment_trac';
@import 'fixmystreet';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
    height: 100%;
}

body {
    font-family: $source;
    background-color: $colour_background;
    color: $colour_black;
    font-size: 1em;
    line-height: 1.5em;
    height: 100%;
    min-height: 100%;
}

a {
    color: $colour_links;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.66em;
}
h1,
.primary-heading {
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 700;
}

h2,
.secondary-heading {
    font-size: 2em;
    font-weight: 300;
}

h3,
.tertiary-heading {
    font-size: 1.3125em;
    font-weight: 700;
}

h4,
.quarternary-heading {
    font-size: 1em;
    text-transform: uppercase;
}

p {
    line-height: 1.4375em;
}

.lead {
    font-size: 1.1875em;
    color: $colour_dark_grey;
    border-bottom: 1px solid $colour_borders;
    padding-bottom: 1em;
    margin-bottom: 1.2em;
    margin-top: 0;
}

pre, code, kbd, samp {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

code {
    border: 1px solid $colour_borders;
    border-radius: 3px;
    padding: 0 0.2em;
}

pre {
    display: block;
    white-space: pre-wrap;
    background-color: $colour_background;
    border: 1px solid $colour_borders;
    border-radius: 3px;
    padding: 1em;
    max-width: 100%;
    overflow-x: scroll;
    font-size: .9375em;
    line-height: 1.4375em;
    code {
        border: none;
        padding: 0;
    }
}

hr {
    border: none;
    border-top: 1px solid $colour_borders;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 1.3em;
}

/* mySociety header */
.ms-header {
    background: transparent;
    border-top: 4px solid #424242;
}

.ms-header__row {
    @extend .container;
}

.ms-header__logo {
    @extend .image-replacement;
    display: block;
    position: absolute;
    right: 0.75em;
    top: 0;
    background-color: #424242;
    background-repeat: no-repeat;
    height: 38px;
    width: 44px;
    border-radius: 0 0 0.75em 0.75em;
    background-size: 22px;
    background-position: 11px 7px ;
    background-image: url('../img/mysociety-bloom.png');

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../img/mysociety-bloom@2.png');
    }

    @media (min-width: $medium-screen) {
        border-radius: 0 0 1.25em 1.25em;
        background-position: 16px 10px ;
        background-size: 93px 19px;
        background-repeat: no-repeat;
        background-image: url('../img/mysociety-logo.png');
        width: 125px;
        height: 39px;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/mysociety-logo@2.png');
        }
    }
}

.page {
    @extend .container;
}

.main-content-column {
    @media (min-width: $medium-screen) {
        @extend .grid-column--three-of-four;
    }
}

.main-content {
    background: #fff;
    padding: 3%;
    border: 1px solid $colour_borders;
}

.secondary-content-column {
    @media (min-width: $medium-screen) {
        @extend .grid-column--one-of-four;
    }
}
