[% USE date %]
                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="container">
                    <div id="main-nav" role="navigation">
                      [% IF c.user_exists %]
                        <p>
                            [% tprintf(loc('Hi %s'), c.user.name || c.user.email) %]
                        </p><p><a href="/admin">[% loc('Summary') %]</a> | <a href="/auth/sign_out">[% loc('sign out') %]</a>
                        </p>
                      [% END %]
                        <ul class="nav-menu nav-menu--main mob-only">
                            <li><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %]
                            class="report-a-problem-btn"
                            >[% loc("Report a problem") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
                            %]<li><[% IF c.req.uri.path == '/reports' %]span[% ELSE %]a href="/reports"[% END
                            %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
                            %]<li><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
                            %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div> <!-- .wrapper -->

    <div id="zurich-footer-wrapper" class="desk-only">
    <div id="zurich-footer">
        &copy; [% date.format(date.now, '%Y') %] Stadt Z&uuml;rich
        <span class="hidden">|</span> <a href="http://www.stadt-zuerich.ch/content/portal/de/index/footer/rechtliche_hinweise.html">Rechtliche Hinweise</a>
        <span class="hidden">|</span> <a href="http://www.stadt-zuerich.ch/content/portal/de/index/footer/impressum.html">Impressum</a>
    </div>
    </div>

    <script src="[% version('/cobrands/zurich/validation_rules.js') %]"></script>
    [% INCLUDE 'common_footer_tags.html' %]
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" charset="utf-8"></script>
    <script src="[% version('/cobrands/zurich/js.js') %]"></script>

</body>
</html>
