@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";


#site-header {
  box-shadow: 
    0 0 0 6px $white,
    0 0 0 10px $dark-green,
    0 0 0 13px $white,
    0 0 0 16px $green,
    0 0 0 19px $white,
    0 0 0 21px $light-green;
}

#site-logo {
    background: transparent url('/cobrands/hackney/images/hackney-logo-white.png') 0 50% no-repeat;
    background-size: 200px 36px;
    width: 200px;
    &:focus {
      outline: 4px solid $yellow;
    }
}

.nav-menu--mysoc {
  a {
    color: $primary_text;
    background-color: $primary;
  }
}

#front-main {
  margin: 2em 0;
}

.postcode-form-box {
  margin: 0;
  padding: 0;

  div {
      border: none;
      position: relative;
      box-shadow: 1px 1px 5px 1px rgba(104, 104, 104, 0.4);

      input#pc {
          box-sizing: border-box;
          padding: 10px 22px;
      }

      input#sub {
          width: 0;
          padding-left: 50px;
          overflow: hidden;
          @include flex(0 0 auto);
          background: $black url('/cobrands/hackney/hackney-search-icon.png') no-repeat 50% 50%;
          background-size: 25px 25px;
          color: $black;
          &:hover,
          &:focus {
              background: $dark-green url('/cobrands/hackney/hackney-search-icon.png') no-repeat 50% 50%;
              background-size: 25px 25px;
              color: $dark_green;
          }
          &:focus {
              outline: 4px solid $yellow;
          }
      }
  }
}

.hackney-footer {
  background-color: $dark_green;
  color: #fff;
  padding: 1em 0;
}

.hackney-footer__logo {
  background: transparent url('/cobrands/hackney/images/hackney-logo-white.png') 0 50% no-repeat;
  background-size: 200px 36px;
  width: 200px;
  height: 54px;
  text-indent: -999999px;
  display: inline-block;
  &:focus {
    outline: 4px solid $yellow;
  }
}

#front_stats {
  background-color: $dark_green;
  color: #fff;
}

.btn {
  border-radius: 4px;
  font-size: 1.1875em;
  font-weight: 400;
  line-height: 1.4375em;
  vertical-align: top;
  display: inline-block;
  border: 1px solid $dark_green;
  box-shadow: inset #003d2f 0 -2px 0 0;
  &:hover {
    background: none;
    background-color: #005a30;
    color: #fff !important;
  }
  
  &:focus {
    border-color:#ffdd00;
    color:#0b0c0c !important;
    background: none;
    background-color:#ffdd00;
    box-shadow: 0 2px 0#0b0c0c;
  }
}

.btn--primary {
  background: $dark_green;
  border: 2px solid transparent;
  color: #ffffff;
  box-shadow: 0 2px 0 #002d18;
}

textarea.form-control,
.dropzone,
input.form-control {
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-shadow: none;
  &:focus {
    outline: 3px solid#ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }
}

label, legend, .label {
  font-weight: 300;
}

.big-green-banner {
  background-color: $dark_green;
  text-transform: none;
}

div.form-error, p.form-error {
  color: $red;
  background-color: transparent;
  padding: 0;
  width: 100%;

  a {
    color: $red;
    text-decoration: underline;
  }
}


input.form-error, textarea.form-error,
select.form-error {
  border-color: $red;
  border-radius: 0 !important;
}

.box-warning {
  background-color: rgba(164, 214, 94, 0.5);
}

.sso-staff-sign-in {
  font-size: 0.9em;
  margin: 1em 0;
}

.hackney-announcement {
  padding: 24px 0;
  margin: 20px 0 36px 0;
  color: #0b0c0c;
  background-color: rgba(164,214,94,.5);
  border-top: 1px solid #84bd00;
  border-bottom: 1px solid #84bd00;

  h2 {
    margin-top: 0;
    font-weight: 600;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.lbh-announcement {
    padding: 1rem;
	margin: 1rem 0;
    border-top: 1px solid #84bd00;
    border-bottom: 1px solid #84bd00;
    background: rgba(164, 214, 94, 0.2);
}
.lbh-announcement--site {
    background: rgba(164, 214, 94, 0.5);
}
.lbh-announcement__title {
	margin-top: 0;
	margin-bottom: 0.75rem;
}
.lbh-announcement__content p:last-child {
	margin-bottom: 0;
}
.lbh-container {
    margin-left: auto;
    margin-right: auto;
}

@import "../fixmystreet-uk-councils/societyworks-footer";
