@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";


#site-header {
  box-shadow: 
    0 0 0 6px $white,
    0 0 0 10px $dark-green,
    0 0 0 13px $white,
    0 0 0 16px $green,
    0 0 0 19px $white,
    0 0 0 21px $light-green;
}

#site-logo {
    background: transparent url('images/hackney-logo-white.png') 0 50% no-repeat;
    background-size: 200px 36px;
    width: 200px;
    &:focus {
      outline: 4px solid $yellow;
    }
}

.nav-menu--mysoc {
  a {
    color: $primary_text;
    background-color: $primary;
  }
}

#front-main {
    background-color: $white;
    margin: 0;
    padding: 1em;
    text-align: inherit;

    h1 {
        color: $black;
    }

    #postcodeForm {
        margin: 0;
        padding: 0;
        background: transparent;
        color: inherit;

        div {
            border: none;
            background: transparent;
            position: relative;
            background: #fff;
            box-shadow: 1px 1px 5px 1px rgba(104, 104, 104, 0.4);

            input#pc {
                box-sizing: border-box;
                padding: 10px 22px;
            }

            input#sub {
                width: 0;
                padding-left: 50px;
                overflow: hidden;
                @include flex(0 0 auto);
                background: $black url('hackney-search-icon.png') no-repeat 50% 50%;
                background-size: 25px 25px;
                color: $black;
                &:hover,
                &:focus {
                    background: $dark-green url('hackney-search-icon.png') no-repeat 50% 50%;
                    background-size: 25px 25px;
                    color: $dark_green;
                }
                &:focus {
                    outline: 4px solid $yellow;
                }
            }
        }
    }

    a#geolocate_link {
        background: transparent;
        display: block;
        padding: 0;
        margin-top: 0.5em;
        font-family: inherit;
        font-size: 1em;
        border-radius: 0;
        color: $dark_green;

        &:hover {
            background: transparent;
            text-decoration: underline;
        }
    }

    .form-hint {
        color: inherit;
    }
}

.hackney-footer {
  background-color: $dark_green;
  color: #fff;
  padding: 1em 0;
}

.hackney-footer__logo {
  background: transparent url('images/hackney-logo-white.png') 0 50% no-repeat;
  background-size: 200px 36px;
  width: 200px;
  height: 54px;
  text-indent: -999999px;
  display: inline-block;
  &:focus {
    outline: 4px solid $yellow;
  }
}

#front_stats {
  background-color: $dark_green;
  color: #fff;
}

.green-btn,
.btn {
  border-radius: 4px;
  font-size: 1.1875em;
  font-weight: 400;
  line-height: 1.4375em;
  vertical-align: top;
  display: inline-block;
  position: relative;
  border: 1px solid $dark_green;
  color: $dark_green;
  background:#ffffff;
  box-shadow: inset#003d2f 0 -2px 0 0;
  &:hover {
    background: none;
    background-color: #005a30;
    color: #fff !important;
  }
  
  &:focus {
    border-color:#ffdd00;
    color:#0b0c0c !important;
    background: none;
    background-color:#ffdd00;
    box-shadow: 0 2px 0#0b0c0c;
  }
}

.btn--primary,
.green-btn {
  background: $dark_green;
  border: 2px solid transparent;
  color: #ffffff;
  box-shadow: 0 2px 0 #002d18;
}

textarea.form-control,
.dropzone,
input.form-control {
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-shadow: none;
  &:focus {
    outline: 3px solid#ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }
}

label, legend, .label {
  font-weight: 300;
}

.big-green-banner {
  background-color: $dark_green;
  text-transform: none;
}

div.form-error, p.form-error {
  color: $red;
  background-color: transparent;
  padding: 0;
  width: 100%;
}


input.form-error, textarea.form-error,
select.form-error {
  border-color: $red;
  border-radius: 0 !important;
}

.box-warning {
  background-color: rgba(164, 214, 94, 0.5);
}

.dz-clickable:hover, .dz-drag-hover {
  border-color: $light-green;
}

.dz-clickable:hover .dz-message u, .dz-drag-hover .dz-message u {
  color: $green;
}