                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="container">
                [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area %]
            </div>
        </div>
    </div> <!-- .wrapper -->

    [% IF pagefooter %]
      <div class="bucks_footer">
        <footer role="contentinfo" class="clearfix">
            [% INCLUDE 'front/footer-marketing.html' %]
        </footer>
      </div>
    [% END %]

    [% INCLUDE 'common_footer_tags.html' %]

<script nonce="[% csp_nonce %]">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_300776.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>

</body>
</html>
