@import "_colours";
@import "../sass/layout";

#site-header {
    background: $merton-jade-j3;
}
.nav-menu {
    padding: 0;
    background: transparent;

    a:hover {
        color: $link-hover-color;
        background: transparent;
    }

    span {
        color: #333;
    }
}

#front-main {
    padding: 3em 1em;

    #postcodeForm {
        overflow: visible;
    }
}

#front_stats big {
    color: $merton-jade-j2;
}

body.mappage {
    $merton-header-height: 110px;
    $merton-nav-height: 60px;

    #site-header,
    .nav-wrapper {
        top: $merton-header-height;
    }

    #map_box,
    #map_sidebar {
        top: ( $merton-header-height + $merton-nav-height );
    }

    .nav-wrapper {
        background-color: $merton-jade-j3;
    }
}

body.twothirdswidthpage .content {

    background: #ffffff;

    aside {
        background-color: #ffffff;
    }

    .sticky-sidebar {
        left: 43em; // up from 42em now we have a wider container
        top: 0; // full height of .content, so aside can move vertically
        bottom: 0;
    }

    aside,
    .sticky-sidebar aside {
        position: static; // fallback
        position: sticky;
        top: 0;
    }
}
