@import "_colours";
@import "../sass/layout";

// HEADER
.nav-menu {
    padding: 0;
    background: transparent;
    max-width: calc(100vw - 185px);
    display: flex;
    align-items: center;

    a:hover {
        color: $link-hover-color;
        background: transparent;
    }

    a:visited {
        color: $merton-dark-green;
    }

    span {
        color: #333;
    }

    li a, li span {
        text-align: center;
    }
    li .report-a-problem-btn {
        white-space: nowrap;
    }
}

.merton-header {
    border-top-width: 5px;
    padding: 11px 0;
}
.merton-header__logo {
    width: 186px;
    background-position-y: 6px;
}

// HOMEPAGE
#front-main {
    padding: 3em 1em;

    #postcodeForm {
        overflow: visible;
    }
}

#front_stats big {
    color: $merton-jade-j2;
}

body.mappage {
    $merton-header-height: 87px;
    $merton-nav-height: 64px;

    #site-header,
    .nav-wrapper {
        top: $merton-header-height;
    }

    #map_box,
    #map_sidebar {
        top: ( $merton-header-height + $merton-nav-height );
    }

    .nav-wrapper {
        background-color: $merton-jade-j3;
    }
}

// WASTEWORKS
body.waste h1.govuk-heading-xl:not(:empty) {
    font-size: 2.375rem;
}
