@import "_colours";
@import "../sass/layout";

#site-header {
    background: $merton-jade-j3;
}
.nav-menu {
    padding: 0;
    background: transparent;

    a:hover {
        color: $link-hover-color;
        background: transparent;
    }

    span {
        color: #333;
    }
}

#front-main {
    padding: 3em 1em;

    #postcodeForm {
        overflow: visible;
    }
}

#front_stats big {
    color: $merton-jade-j2;
}

body.mappage {
    $merton-header-height: 100px;
    $merton-nav-height: 60px;

    #site-header,
    .nav-wrapper {
        top: $merton-header-height;
    }

    #map_box,
    #map_sidebar {
        top: ( $merton-header-height + $merton-nav-height );
    }

    .nav-wrapper {
        background-color: $merton-jade-j3;
    }
}
