/* COLOURS */

// for whypoll FMS

$whypoll_base_bgcol: #fff;
$whypoll_grey: #ddd;

$orange: yellow;
$bluey: $whypoll_base_bgcol;


$primary: $whypoll_grey;
$primary_b: #000000;
$primary_text: #222222;

$col_click_map: red;
$col_click_map_dark: yellow; //darken($mindelo_green, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
