// WhyPoll base

@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

$image-sprite: 'images/sprite.png';

@import "../sass/base";

#site-logo{
  width: 225px !important;
  background: url($image-sprite) -3px -3px no-repeat;
}

#front-main-container #postcodeForm  {
  background-color: $whypoll_base_bgcol;
}
