// WhyPoll layout

@import "_colours";

$image-sprite: 'images/sprite.png'; // WhyPoll has its own sprite, with logo

@import "../sass/layout";

/*
Note: The fact that the below has to override the CSS, though it is for the
default template, is a sign that the CSS is not best organised. It needs
refactoring, and making more maintainable through the use of SMACSS, OOCSS
and similar.
*/

body {
    background: $whypoll_base_bgcol;
}

body.mappage {
    .nav-wrapper {
        .nav-wrapper-2 {
            background: $bluey;
        }
    }
}

#main-nav {
    ul {
        li {
            a, span {
                color: #000;
            }
        }
        &#main-menu {
            li {
                a:hover {
                    background: $primary;
                }
            }
        }
    }
}
#front-howto #front_stats div big {
  color: black;
}

body.frontpage {
    #site-logo {
        width: 370px !important;
        height: 70px;
        background: url('images/sprite.png') -3px -106px no-repeat;
        top: 2em;
        left: 1em;
    }
}
