/* COLOURS */

$white: #ffffff;
$black: #000000;

$primary: $black;
$primary_b: $black;
$primary_text: $white;

$base_bg: $white;
$base_fg: #000;

$map_nav_bg: $black;
$nav_fg: #ffffff;
$nav_fg_hover: #000;

$col_click_map: $black;
$col_click_map_dark: darken($black, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$button-color: #FF5308;
$alt-background: #f5f5f5;
