@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

$body-font: 'Lato', sans-serif !default;
$meta-font: 'Lato', sans-serif !default;
$heading-font: 'Lato', sans-serif !default;

@import "../sass/base";

body {
    font-weight: 300;
}

input {
    background-color: $alt-background;
}

#front-main {
    h2 {
        font-weight: 300;
    }

    #postcodeForm {
        div {
            border: 0px;
            background: $primary_b;
            input#pc {
                background-color: $alt-background;
                border: 0px;
                border-radius: 0px;
                box-shadow: none;
                width: 80%;
            }
            input#sub {
                background-color: $button-color;
                border: 1px solid $alt-background;
                border-radius: 5px;
                color: white;
                margin-left: 5px;
            }
        }
    }
}

#site-logo {
    background: none;
    text-indent: 0px;
    text-transform: uppercase;
    width: auto;
    margin-right: 80px;
    @media( min-width: 350px ) {
        margin-top: 0.5em;
    }
    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        font-weight: 300;
        margin-bottom: 0em;
    }
    .orange {
        color: $button-color;
        font-weight: bold;
    }
    #brought-to-you {
        display: none;
    }
}
