@import "_colours";
@import "../sass/layout";

body {
    &.frontpage {
        .nav-wrapper-2 {
            background-color: $primary;
            color: $primary_text;
            height: auto;
        }

        #site-header {
            background-color: $base_bg;
        }

        #site-logo {
            background: none;
            color: black;
            width: auto;
            a {
                color: black;
            }
            p {
                font-size: 2em;
                font-weight: 300;
            }
            #brought-to-you {
                display: block;
                font-size: 0.75em;
            }
        }
    }
}

.nav-wrapper {
    .nav-wrapper-2 {
        border: none;
        min-height: 0;
    }
}

#main-nav {
    ul#mysoc-menu {
        li {
            a {
                color: $primary_text;
            }
        }
    }
    ul#main-menu {
        li {
            span {
                color: $primary_text;
            }
        }
    }
}

#site-header {
    background: $primary;
    height: auto;
}

.container {
    padding: 0em 1em;
}

#front-main {
    #front-main-container {
        max-width: 40em;
        h2 {
            text-align: left;
        }
    }
    #postcodeForm {
        div {
            width: 30em;
            input#pc {
                max-width: none;
                width: 27em;
            }
        }
    }
}
