/* COLOURS */

$primary: #FFD000;
$primary_b: #F3B11E; // For the box around the front page postcode form only
$primary_text: #222;

// Tiled main body background
$base_bg: #272727 url(images/tile.jpg) 0 0 repeat;
$base_fg: #fff;

$map_nav_bg: #222;
$nav_fg: #fff;
$nav_fg_hover: #444;

// The "Click map" box on /around
$col_click_map: #00BD08;

// The "fixed" message on a report page
$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$itemlist_item_background: #f6f6f6;
$itemlist_item_background_hover: mix(#fff, $primary, 70%);

$layout_front_stats_color: #222;

$nicetable-stripe-background: #f3f3f3;

$high-dpi-screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';
