/* COLOURS */

$container-max-width: 66em;

$primary: #FFD000;
$primary_b: #F3B11E; // For the box around the front page postcode form only
$primary_text: #222;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

// Tiled main body background
$base_bg: #272727 url(/cobrands/fixmystreet.com/images/tile.jpg) 0 0 repeat;
$base_fg: #fff;

$nav_background_colour: #222;
$nav_colour: #fff;
$nav_hover_background_colour: #444;

// The "Click map" box on /around
$col_click_map: #00BD08;

$itemlist_item_background: #f6f6f6;
$itemlist_item_background_hover: mix(#fff, $primary, 70%);

$postcodeform-max-width: 45%;

$layout_front_stats_color: #222;

$nicetable-stripe-background: #f3f3f3;

$high-dpi-screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';

$front-main-background-desktop: $primary url(/cobrands/fixmystreet.com/images/tile-y.jpg);
$dropzone-frontpage-white-background-desktop: true;

$dropzone-frontpage-color: #222;

$button-primary-bg-top: $primary;
$button-primary-text: $primary_text;
