/* Base stylesheet for FixMyStreet look
 *
 * In a mobile first way, this contains the look of the site, and a basic
 * layout for browsers that can't handle media queries. Baseline grid of 1.5em.
 */

@namespace svg "http://www.w3.org/2000/svg";

@import "../sass/h5bp";
@import "_colours";
@import "../sass/base";

// Don't need these styles from core any more,
// as we do funky stuff with the FMS.com logo.
#site-logo {
    text-indent: 0;
    background: none;

    // Vertically centre the 35px SVG in the 60px mobile header.
    svg {
        margin-top: ((60px - 35px) / 2);
    }
}

// Hide SVG logo (on homepage, see header_logo.html) by default.
.site-logo__svg {
    display: none;
    visibility: hidden;
}

// Then show it again for browsers that support inline SVGs.
// (https://codepen.io/tigt/post/inline-svg-fallback-without-javascript-take-2)
svg|g.site-logo__svg {
    display: inline;
    visibility: visible;
}

// Fall back to SVG/PNG background-image on non-homepage pages,
// and on the homepage when a browser doesn't support inline SVGs.
.site-logo__fallback {
    display: block;
    width: 175px;
    height: 0;
    padding-top: 60px;
    overflow: hidden;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 175px 35px;
    @include svg-background-image("/cobrands/fixmystreet/images/site-logo");
}

.next-steps {
  margin: 0 -1em; // counteract padding on parent
  background-color: #faf7e2;
}

.next-steps__step {
  box-sizing: border-box;
  padding: 1em;

  & + .next-steps__step {
    border-top: 1px solid #ede8c9;
  }

  h2 {
    margin-top: 0;
  }

  p {
    color: #666666;
    margin-bottom: 0;
  }
}

.next-steps__step__cta {
  @include clearfix;
  padding-top: 0.4em; // extra padding between buttons and previous paragraph

  a {
    float: $left;
    margin: flip(1em 0.6em 0 0, 1em 0 0 0.6em);

    &:last-child {
      margin-#{$right}: 0;
    }
  }

  .next-steps__step--goodies & {
    min-height: 37px; // stop absolutely positioned img overlapping bottom of parent element

    img {
      // absolute positioning to overlap floated goodies image to the right
      position: absolute;
      max-width: none;
    }
  }
}

.next-steps__step--goodies {
  @include clearfix;

  .goodies-preview {
    float: $right;
    margin-#{$left}: 1em;
    margin-#{$right}: -0.5em;
  }
}

.unresponsive-council__header {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;

    p {
        font-size: 1.2em;
        margin-bottom: 0;
    }
}

.unresponsive-council-cta {
    display: block;
    padding: 1em;
    margin: 1em 0;
    background-color: #555;
    border-radius: 0.2em;
    color: #fff;

    &:visited {
        color: #fff;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: #777;
        color: #fff;
    }
}

.unresponsive-council-cta--primary {
    background-color: $primary;
    color: #000;

    &:visited {
        color: #000;
    }

    &:hover,
    &:focus {
        background-color: mix(#fff, $primary, 30%);
        color: #000;
    }
}

// Yellow primary buttons on FMS.com, rather than green.
.btn-primary,
.btn--primary {
    @include button-variant(
        mix($primary, #fff, 50%),
        $primary,
        mix($primary, #ccc, 30%),
        inherit,
        darken($primary, 3%),
        darken(mix($primary, #fff, 50%), 3%),
        mix($primary, #ccc, 30%),
        inherit
    );
}

// Avoid double border between mobile nav and footer
.nav-menu--main > :last-child a {
  border-bottom: none;
}


$mysoc-footer-background-color: #222;
$mysoc-footer-text-color: #acacac;
$mysoc-footer-site-name-text-color: #fff;

$mysoc-footer-link-text-color: #fff;
$mysoc-footer-link-hover-text-color: #fff;

$mysoc-footer-border-top: 0.25em solid $primary;

$mysoc-footer-divider-color: #4b4b4b;

$mysoc-footer-donate-background-color: #333;
$mysoc-footer-donate-text-color: #fff;
$mysoc-footer-donate-button-background-color: $primary;
$mysoc-footer-donate-button-text-color: #000;

$mysoc-footer-legal-text-color: #9a9a9a;

$mysoc-footer-image-path: 'images/mysoc-footer/';
$mysoc-footer-breakpoint-sm: 48em;

$grid-max-width: 60em;
$grid-gutter: 2em;
$grid-breakpoint-sm: $mysoc-footer-breakpoint-sm;

@import "mysoc_footer";

html.lazyload .js-lazyload {
  background-image: none;
}

.mysoc-footer {

  @media print {
    display: none;
  }

  li {
    list-style: none;
  }

  .container {
    margin: 0 auto;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
    max-width: $grid-max-width;
  }

  .row {
    @include clearfix;
    margin-left: $grid-gutter / -2;
    margin-right: $grid-gutter / -2;
  }

  %col {
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @extend %col;
    }
  }

  @media(min-width: $grid-breakpoint-sm) {
    %col-float {
      float: left;
    }

    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        @extend %col-float;
        width: 100% / 12 * $i;
      }
    }
  }
}

.mysoc-footer__org__logo--fms-platform {
  width: 205px;
  background-repeat: no-repeat;
  background-size: 205px 32px;
  @include svg-background-image('#{$mysoc-footer-image-path}logo-fms-platform');
}

.fms-app-badges {
  margin: 1em 0;
}
.fms-app-badge {
  display: inline-block;
  text-decoration: none;
  width: 135px;
  height: 0;
  padding-top: 40px;
  background-size: 135px 40px;
  overflow: hidden;
  margin-right: 0.5em;
}
.fms-app-badge--ios {
  @include svg-background-image('/cobrands/fixmystreet/images/itunes_store_logo');
}
.fms-app-badge--android {
  @include svg-background-image('/cobrands/fixmystreet/images/google_play_logo');
}

.fms-pro-promo {
    margin: 0 -1em;

    h2 {
        margin-top: 0;
    }

    .lead {
        font-weight: bold;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.fms-pro-promo__pro,
.fms-pro-promo__stats {
    padding: 1.5em 1em;
}

.fms-pro-promo__pro {
    background: $primary;
}

.fms-pro-promo__stats {
    border-bottom: 0.25em solid $primary;
}

.healthcheck-unit {
    padding-left: 50px;
    @include svg-background-image('/cobrands/fixmystreet.com/images/healthcheck-good');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: $left 0;

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    & + & {
        margin-top: 1em;
    }
}

.healthcheck-unit--bad {
    @include svg-background-image('/cobrands/fixmystreet.com/images/healthcheck-bad');
}

.healthcheck-cta-trio {
    margin: -1em;

    h3 {
        font-size: 1em;
        font-weight: bold;
    }
}

.dashboard-row--yellow {
    border-top: $primary solid 0.75em;
    background-color: mix(#fff, $primary, 60%);
}

.dashboard-fms-case-studies {
    & > div {
        a {
            display: block;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
            padding: 1.5em;
            background-color: #fff;
            margin-bottom: 1em;
            border-radius: 3px;

            & > :first-child {
                margin-top: 0;
            }

            & > :last-child {
                margin-bottom: 0;
            }
        }

        small {
            display: inline-block; // prevent inheritance of underline from parent
            text-transform: uppercase;
            color: #767676;
            font-weight: bold;
            font-style: normal;
        }

        h3 {
            margin-top: 0.8em;
        }
    }
}

.council-dashboard-login {
    margin: 0 -1em;
    padding: 1em;
    background: #b2b2b2 url(/cobrands/fixmystreet.com/images/dashboard-teaser-blurred.jpg) 0 0 no-repeat;
    background-size: 100%;

    strong {
        color: #c00;
    }

    form {
        max-width: 24em;
        padding: 2em;
        margin: 2em auto;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }

    .form-group {
        position: relative;
    }

    .submit-group {
        margin-top: 1.5em;
    }

    .required {
        position: absolute;
        top: 0.5em;
        right: 0;
    }

    .required,
    .form-note {
        color: #777;
        font-size: 0.8em;
        line-height: 1em;
    }
}

.area-reports-dashboard-cta {
    background-color: mix(#fff, $primary, 60%);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    & > :last-child {
        margin-bottom: 0;
    }
}
