/*
    FixMyStreet for Councils page.
    Todo: This should be in a separate stylesheet
*/
$fms-yellow: #FFD000; // same as $primary from cobrands/fixmystreet/_colours.scss
$fms-orange: #f4a140;
$fms-red: #e04b4b;
$fms-blue: #4faded;
$fms-green: #62b356;

.fms-for-councils {
  background-color: #1a1a1a;

  img {
    max-width: 100%;
  }

  .wrapper {
    display: block;
    @media only screen and (min-width: 48em) {
      display: table;
    }
  }
  .content {
      background-color: transparent;
      color: #c2c2c2;
      padding: 0 !important;
      margin: 0;
      h1,h2,h3,h4,h5,h6 {
        color: #fff;
        font-family: MuseoSans,Helmet,Freesans,sans-serif;
        font-weight: bold;
      }
  }
  .container {
    width: 100%;
    padding: 0;
  }
  #site-header {
    .container {
      @media only screen and (min-width: 60em) {
        max-width: 60em;
      }
    }
  }

  .fixed-container {
    @media only screen and (min-width: 60em) {
      width: 100%;
    }
    max-width: 58em; /*(60em - 1em + 1em padding)*/
    padding: 0;
    width: auto;
    margin: 0 auto;
    position: relative;
    padding: 0 1em;
  }

  .button-base {
    padding: 0.5em 1.25em;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: #fff;
    }
  }

  .button {
      @extend .button-base;
      color: #fff;
      background-color: $fms-orange;
      border: none;
      width: 100%;
      padding: 0.75em 0;
       @media only screen and (min-width: 48em) {
        width: auto;
        padding: 0.5em 1.25em;
      }
      &:hover,
      &:active,
      &:focus {
          background-color: darken($fms-orange, 5%);
      }
  }

  .councils-reporting-hint {
    display: block;
    background: $fms-yellow;
    color: #222;
    padding: 0.75em;
    line-height: 1em;
    font-size: 0.9em;
    text-align: center;

    @media only screen and (min-width: 48em) {
      display: none;
    }

    &:hover, &:focus, &:active {
      text-decoration: none;
      color: mix(#222, $fms-yellow, 50%);
      background: mix(#ff0, $fms-yellow, 50%);
    }

    em {
      font-style: inherit;
      border-bottom: 1px solid;
    }
  }

  .hero {
    border-top: 0;
    background-image: url(/cobrands/fixmystreet.com/images/fms-for-councils/all-yellow.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 4em 0;
    color: #333;
    @media only screen and (min-width: 48em) {
      padding: 7em 0 9em;
    }
  }

    .hero-quote {
      font-size: 2em;
      font-weight: bold;
      font-family: "Helvetica Neue", Arial, Helvetica, Helmet, Freesans, sans-serif;
      letter-spacing: -2px;
      @media only screen and (min-width: 48em) {
        font-size: 4em;
        line-height: 1.2em;
      }
    }

    .hero-cite {
      display: block;
      font-style: normal;
      margin-top: 1em;
      margin-bottom: 4em;
      &:before {
        display: inline-block;
        content:"– ";
        margin-right: 0.25em;
      }
    }

    .hero-whatsup {
      font-size: 1.1em;
      max-width: 37em;
      margin-top: 2em;
      @media only screen and (min-width: 48em) {
        font-size: 1.25em;
      }
    }

    .button {
      background-color: #333;
      color: $fms-yellow;
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        background-color: #333;
        color: #fff;
      }
    }

    .mysoc-footer {
      margin-top: 0;
      border-top: 0;
    }

  }
