/*
    FixMyStreet for Councils page.
*/

@import '../sass/mixins';

$fms-yellow: #FFD000; // same as $primary from cobrands/fixmystreet/_colours.scss
$fms-orange: #f4a140;
$fms-red: #e04b4b;
$fms-blue: #4faded;
$fms-green: #62b356;
$fms-pink: #E65376;

.fms-for-councils {
  background-color: #1a1a1a;
  img {
    max-width: 100%;
  }

  // Allow page contents to stretch to edges of window
  .container {
    max-width: none;
    padding: 0;
  }

  #site-header,
  .nav-wrapper,
  .mysoc-footer {
    .container {
      max-width: 60em;
      padding: 0 1em;
    }
  }

  .content {
    background-color: transparent;
    padding: 0 !important;
    margin: 0;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
    }

    strong {
      font-weight: 500;
    }
  }

  .fixed-container {
    max-width: 90em;
    padding: 0;
    width: auto;
    margin: 0 auto;
    position: relative;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
  }

  .councils-content-wrapper {
    max-width: 66em;
    margin: 0 auto;
    padding: 0 1.5em;
    @media (min-width: 60em) {
      padding: 0 3em;
    }

  }

  .councils-logo {
    background-image: url('images/fms-for-councils/fms-fc-logo.svg');
    background-size: 260px 68px;
    text-indent: -5000%;
    width: 260px;
    height: 68px;
    margin: 0.5em auto;
    white-space: nowrap;
    overflow: hidden;
  }

  .councils-hero {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 2em;
  }

  .councils-hero__presentation {
    background-color: #FED876;
    padding-top: 1em;
    padding-bottom: 3em;
    margin-bottom: 175px;
  }

  .councils-hero__title {
    text-align: center;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.35em;
    margin-bottom: -150px;
    max-width: 23em;
    @media (min-width: 44em) {
      font-size: 2.5em
    }
  }

  .councils-hero__product {
    position: relative;
    bottom: -170px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
    @media (min-width: 44em) {
      bottom: -200px;
    }
  }

  .councils-hero__subtitle {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125em;
    line-height: 1.5em;
    text-align: center;
    padding: 0 1em;
    @media (min-width: 44em) {
      font-size: 1.3125em;
      line-height: 1.5em;
    }
  }

  .councils-hero__subtitle__primary {
    font-size: 1.35em;
    line-height: 1.35em;
  }

  .councils-hero__subtitle__secondary {
    color: #777;
  }

  .councils-hero__demo-access {
    background-color: $fms-pink;
    border-radius: 3px;
    color: #fff;
    padding: 2em;
    margin: 4em auto -4em auto;
    max-width: 26em;
    position: relative;
    z-index: 1;

    @media (min-width: 44em) {
      padding: 3em;
    }

    h2 {
      text-align: center;
      margin: 0 0 1em 0;
    }

    .form-group {
      margin-left: auto;
      margin-right: auto;
    }

    label {
      font-weight: normal;
    }

    // Avoid border collapse jump on jQuery.slideDown()
    .form-group:first-child label {
      margin-top: 0;
    }

    input[type="text"],
    input[type="email"] {
      border: 1px solid desaturate(darken($fms-pink, 10%), 20%);
      width: 100%;
      padding: 0.5em;
      border-radius: 3px;
      font-size: 1em;
      box-sizing: border-box;
    }

    .btn {
      display: block;
      margin: 0 auto;
      background-image: none;
      background-color: desaturate(darken($fms-pink, 10%), 20%);
      border: none;

      &:hover,
      &:active,
      &:focus {
        background-color: desaturate(darken($fms-pink, 20%), 20%);
      }
    }

    .required,
    .form-note {
      color: mix($fms-pink, #fff, 30%);
    }
  }

  .councils-sales {
    padding: 2em 0 5em;
    .councils-content-wrapper {
      max-width: 58em;
    }
  }

  .councils-sales__grid {
    .flex & {
      @include flex-container();
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }
    .no-js &,
    .no-flex & {
      @include clearfix();
    }

  }

  .councils-features__feature {
    width: 100%;
    .no-js &,
    .no-flex & {
      float: left;
    }
    @media (min-width: 44em) {
      width: 47%;
      .no-js &,
      .no-flex & {
        margin-right: 3%;
      }
    }
    h3 {
      font-weight: normal;
      margin-bottom: 0.25em;
    }
    p {
      color: #777;
      font-size: 0.875em;
    }
  }

  .councils-sales--benefits {
    background-color: #F7F6F5;
    border-bottom: 1px solid #e9e9e9;
    padding-top: 5em;

    h2 {
      font-size: 2.5em;
      text-align: center;
      color: $fms-pink;
    }
    p {
      color: #666;
    }
  }

  .councils-sales--features {
    border-top: 1px solid #e9e9e9;
    padding-top: 2em;
    h2 {
      font-size: 2.5em;
      text-align: center;
      color: $fms-pink;
    }
}

  .councils-features__thumb {
    height: 63px;
    width: 63px;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    float: left;
    margin-top: 18px;
  }

  .councils-features__thumb--authority {
    background-image: url('images/fms-for-councils/authority.svg');
  }

  .councils-features__thumb--automated-instruction {
    background-image: url('images/fms-for-councils/automated-instruction.svg');
  }

  .councils-features__thumb--brand {
    background-image: url('images/fms-for-councils/brand.svg');
  }

  .councils-features__thumb--customise {
    background-image: url('images/fms-for-councils/customise.svg');
  }

  .councils-features__thumb--dashboard {
    background-image: url('images/fms-for-councils/dashboard.svg');
  }

  .councils-features__thumb--end-to-end {
    background-image: url('images/fms-for-councils/end-to-end.svg');
  }

  .councils-features__thumb--inspection {
    background-image: url('images/fms-for-councils/inspection.svg');
  }

  .councils-features__thumb--integrated {
    background-image: url('images/fms-for-councils/integrated.svg');
  }

  .councils-features__thumb--intelligent-routing {
    background-image: url('images/fms-for-councils/intelligent-routing.svg');
  }

  .councils-features__thumb--open-standards {
    background-image: url('images/fms-for-councils/open-standards.svg');
  }

  .councils-features__thumb--map-centric {
    background-image: url('images/fms-for-councils/map-centric.svg');
  }

  .councils-features__thumb--mobile-app {
    background-image: url('images/fms-for-councils/mobile-app.svg');
  }

  .councils-features__thumb--responsive-web {
    background-image: url('images/fms-for-councils/responsive-web.svg');
  }

  .councils-features__thumb--syncronised {
    background-image: url('images/fms-for-councils/syncronised.svg');
  }

  .order-now-button {
    background-color: $fms-pink;
    color: #fff;
    border: 0;
    text-transform: none;
    padding: 0.6em 1.5em;
    text-align: center;
    display: block;
    margin: 2em auto 0;
    border-radius: 3px;
    max-width: 5em;
    &:hover,
    &:active,
    &:focus {
      background-color: desaturate(darken($fms-pink, 10%), 10%);
      text-decoration: none;
    }
  }

  .councils-clients {
    background-color: #FED876;
    padding: 1em 0 2.5em;
    h2 {
      font-size: 2.5em;
      text-align: center;
      color: #333;
    }
  }

  .councils-clients__grid {
    .flex & {
      @include flex-container();
      @include justify-content(space-around);
      @include flex-align(center);
      @include flex-wrap(wrap);
    }
    .no-js &,
    .no-flex & {
      @include clearfix();
    }
    margin: 0 2%;
    @media (min-width: 44em) {
      flex-wrap: nowrap;
    }
  }

  .councils-clients__client {
    text-align: left;
    .no-js &,
    .no-flex & {
      float: left;
      width: 50%;
      @media (min-width: 44em) {
        width: 20%;
      }
    }
  }


  .screenshot-of-themes {
    background-color: #FED876;
  }

  .councils-compatibility {
    background-color: $fms-pink;
    padding: 0.5em 0 2.5em;
    a {
      color: #fff;
      opacity: 0.8;
    }
    h2, h3 {
      color: #fff;
    }
    h2 {
      margin-top: 1em;
      margin-bottom: 0.25em;
    }
    h3 {
      font-size: 0.875em;
    }
    ul {
      list-style: none outside none;
      padding: 0;
      margin: 0;
      li {
        list-style: none outside none;
        font-size: 0.875em;
      }
    }
  }

  .councils-compatibility__grid {
    .flex & {
      @include flex-container();
      @include flex-wrap(wrap);
      @include justify-content(flex-start);
    }

    .no-js &,
    .no-flex & {
      @include clearfix();
    }

    @media (min-width: 44em) {
      flex-wrap: nowrap;
    }
  }

  .councils-compatibility__item {
    width: 100%;
    .no-js &,
    .no-flex & {
      float: left;
    }
    @media (min-width: 44em) {
      width: 25%;
      .no-js &,
      .no-flex & {
        margin-right: 3%;
      }
    }
  }

  .split-list {
    @include flex-container();
    @include justify-content(flex-start);
    @include flex-align(flex-start);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    li {
      width: 50%;
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      flex-grow: 1;
    }
  }

  .councils-compatibility__item--wide {
    width: 100%;
    .no-js &,
    .no-flex & {
      float: left;
    }
    @media (min-width: 44em) {
      width: 50%;
      .no-js &,
      .no-flex & {
        margin-right: 3%;
      }
    }
  }

  .councils-pricing {
    padding: 2em 0;
    margin-bottom: 3em;
    h2 {
      font-size: 2.5em;
      text-align: center;
      color: #FEC32B;
    }
  }

  .pricing-table {
    th, td {
      text-align: left;
      font-weight: normal;
      vertical-align: middle;
      border: 1px solid #e9e9e9;
    }

    th {
        background-color: #F7F6F5;

        &.blank {
          background-color: transparent;
          border: none;
        }
    }

    th[scope="row"] {
      @media (min-width: 44em) {
        width: 30%;
      }
    }

    td {
      width: 15%;
      line-height: 1.5em;
    }

    span {
      display: inline-block;
      padding: 0.666em 1em;
      box-sizing: border-box;
    }
  }

  .pricing-table__tier-name {
    font-weight: 500;
    font-size: 1.25em;
  }

  .pricing-table__feature-name {
    text-align: left;
    font-size: 0.875em;
  }

  .pricing-table__feature-value {
    font-size: 0.875em;
    line-height: 1.4em;
    width: 100%;
  }

  .pricing-table__show-more {
    td {
      border: none;
      padding: 2em 1em;
      text-align: center;
    }

    .button {
      display: inline-block;
      padding: 0.6em 1.5em;
      text-align: center;

      border-radius: 3px;
      border: none;
      background-color: #F7F6F5;
      color: #333;
      font-size: 0.875em;
      line-height: 1.5em;
      font-weight: normal;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background-color: #FED876;
      }
    }
  }

  .pricing-table__prices {
    td {
      background-color: $fms-pink;
      color: #fff;
      border-color: darken($fms-pink, 10%);
    }
  }

  .pricing-table__price {
    font-weight: 500;
    font-size: 1.25em;
  }

  .boolean-icon {
    margin: 0 auto;
    display: inline-block;
    font-style: normal;
    width: 24px;
    height: 24px;
    background-image: url('images/fms-for-councils/boolean-no.svg');
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .boolean-icon--no {
    background-image: url('images/fms-for-councils/boolean-no.svg');
  }

  .boolean-icon--yes {
    background-image: url('images/fms-for-councils/boolean-yes.svg');
  }

  // Verticalise the table on narrow screens
  @media (max-width: 54em) {
    .pricing-table {
      &,
      tr,
      th,
      th[scope="row"],
      td,
      tbody,
      span {
        display: block;
        width: auto;
      }

      thead {
        display: none;
      }

      th,
      td {
        @include clearfix();
        border: none;
      }

      tr {
        border: 1px solid #e9e9e9;
      }

      .pricing-table__show-more tr {
        border: none;
      }

      tr + tr {
        border-top: none;
      }

      td[data-tier-name] {
        &:before {
          content: attr(data-tier-name);
          display: block;
          font-size: 0.875em;
          line-height: 1.4em;
          color: darken(#FEC32B, 15%);
          float: left;
          padding: 0.666em 1em;
          width: 5em;
        }
      }

      // Collapse padding between "rows" of a feature
      td + td .pricing-table__feature-value,
      td + td[data-tier-name]:before {
        padding-top: 0;
      }

      .boolean-icon {
        margin: -0.33em 0;
      }
    }
  }

  .council-case-studies {
    margin-bottom: 3em;
    border-top: 1px solid #e9e9e9;
    background-color: #60B6C7;
    padding: 2em 0;
    h2 {
      text-align: center;
      color: #fff;
      margin-bottom: 1.5em;
    }
  }

  .council-case-studies__grid {
    .flex & {
      @include flex-container();
      @include justify-content(space-around);
      @include flex-wrap(wrap);
      @include flex-align(center);
    }
    .no-js &,
    .no-flex & {
      @include clearfix();
    }
    @media (min-width: 44em) {
      @include flex-wrap(nowrap);
      @include justify-content(space-between);
    }
    margin: 0 3.3334%;
  }

  .council-case-studies__grid-item {
    width: 100%;
    max-width: 380px;
    .no-js &,
    .no-flex & {
      float: left;
      margin: 0 auto;
    }
    @media (min-width: 44em) {
        width: 31%;
        .no-js &,
        .no-flex & {
          margin-right: 2%;
          max-width: none;
        }
    }
  }

  .council-case-studies__case-study {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    a {
      display: block;
      color: #fff;
      font-size: 1.25em;
      display: block;
      background-color: rgba(0,0,0,0.3);
      padding: 5em 2em;
      text-align: center;
      margin-bottom: 1em;
      @media (min-width: 30em) {
        margin-bottom: 4em;
        padding: 3em 2em;
      }
      @media (min-width: 48em) {
        padding: 5em 2em;
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background-color: rgba(0,0,0,0.1);
        text-shadow: 0 2px 1px rgba(0,0,0,0.8);
      }
    }
  }

  .council-case-studies__case-study--bristol {
    background-image: url('images/fms-for-councils/bristol.jpg');
  }

  .council-case-studies__case-study--zurich {
    background-image: url('images/fms-for-councils/zurich.jpg');
  }

  .council-case-studies__case-study--barnet {
    background-image: url('images/fms-for-councils/barnet.jpg');
  }

  .radio-as-buttons {
    label {
      margin-right: 0.5em;
      margin-top: 0;
      font-size: 0.875em;
    }
    input {
      margin-right: 1em;
    }
  }

  .checkbox-label {
    margin-left: 25px;
  }

  .checkbox-input {
    margin-left: -25px;
    margin-right: 6px;
  }

  .form-note {
    font-size: 0.75em;
    margin-top: 0.5em;
    color: #777;
  }

  .council-order {
    position: relative;
    background-color: #F7F6F5;
    border: 1px solid #e9e9e9;
    border-left: 0;
    border-right: 0;
    padding: 4em 0;
    h2 {
      color: $fms-pink;
      font-size: 2.5em;
    }
  }

  .council-order__form {
    max-width: 48em;
    padding-bottom: 3em;
    position: relative;
    z-index: 1;
    label {
      font-weight: normal;
    }
    textarea {
      height: 10em;
    }
    textarea,
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      border: 1px solid #ccc;
      width: 100%;
      padding: 0.5em;
      border-radius: 3px;
      font-size: 1em;
      box-sizing: border-box;
      @media (min-width: 44em) {
        max-width: 27em;
      }
    }
    input[type="submit"] {
      background-image: none;
      background-color: $fms-pink;
      color: #fff;
      border: 0;
      text-transform: none;
      padding: 0.6em 1.5em;
      font-family: 'Rubik', sans-serif;
      &:hover,
      &:active,
      &:focus {
        background-color: desaturate(darken($fms-pink, 10%), 10%);
      }
    }
  }

  .form-group {
    position: relative;
    @media (min-width: 44em) {
      max-width: 27em;
    }
  }

  .form-group--wide {
    max-width: none;
  }

  .submit-group {
    margin-top: 2em;
  }

  .required {
    position: absolute;
    right: 0;
    top: 3px;
    font-size: 0.75em;
    color: $fms-pink;
    &.required--optional {
      color: #777;
    }
  }

  .council-order__screenshot {
    display: none;
    @media (min-width: 44em) {
      display: block;
      background-image: url('images/fms-for-councils/window-mockup.jpg');
      background-repeat: no-repeat;
      background-position: top left;
      background-size: cover;
      height: 750px;
      position: absolute;
      z-index: 0;
      right: 0;
      width: 500px;
      bottom: 50px;
    }
    @media (min-width: 82em) {
      width: 748px;
      right: 46px;
    }

  }

  .credits {
    color: #777;
    border-top: 1px solid #e9e9e9;
    background-color: #f4f4f4;
    padding: 2em 0 1em;
    ul {
      list-style: none outside none;
      font-size: 0.75em;
      margin-left: 0;
    }
    li {
      list-style: none outside none;
      margin-right: 2em;
    }
  }

  .mysoc-footer {
    margin-top: 0;
    border-top: 0;
  }

}
