@import "_colours";
@import "../sass/mixins";

body.goodies {
  .pack-preview {
    float: $right;
    margin: flip(0 0 1em 1em, 0 1em 1em 0);
    max-width: 33%;
  }

  .download-button {
    display: inline-block;
    padding: 0.7em 1.2em 0.5em;
    font-weight: bold;
    line-height: 1em;
    background-color: $primary;
    color: #000;
    border-radius: 2em;

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: transparent url(/cobrands/fixmystreet.com/images/arrow-down-16px-16px.png) 0 0 no-repeat;
      margin-#{$right}: 0.5em;
      vertical-align: -0.1em;
    }
  }

  .badge-preview {
    float: $right;
    margin-top: -3em;
    margin-#{$left}: 1em;
  }

  .downloads {
    margin-#{$left}: 0;

    li {
      list-style: none;
      text-align: center;
      margin-bottom: 2em;
    }

    a {
      display: block;
      text-decoration: none;
      color: inherit;

      &:hover, &:focus {
        strong {
          text-decoration: underline;
        }
      }
    }

    img {
      max-width: 200px;
      max-height: 200px;
    }

    strong {
      display: block;
      margin-top: 1em;
    }

    @media only screen and (min-width: 30em) {
      overflow: auto;

      li {
        float: $left;
        width: 50%;
      }

      li:nth-child(odd) {
        clear: both;
        width: 48%;
      }

      li:nth-child(even) {
        width: 48%;
        float: $right;
      }
    }
  }
}

@media only screen and (min-width: 48em) {
    body.goodies {
      .badge-code {
        max-width: 18em;

        @media only screen and (min-width: 57em) {
          max-width: 27em;
        }
      }
    }
}
