[%

westminster_black = '#0d0e16'
westminster_blue = '#3065bd'
westminster_navy = '#0b2265'
westminster_yellow = '#fecb00'
westminster_grey = '#f7f5f6'

body_background_color = westminster_grey
header_background_color = '#fff'
secondary_column_background_color = '#fff'

link_text_color = westminster_blue

header_padding = "20px" # a full CSS padding property (eg: top/right/bottom/left)

logo_width = "139" # pixel measurement, but without 'px' suffix
logo_height = "35" # pixel measurement, but without 'px' suffix
logo_file = "wcc_logo.png"

%]
