</div>
</div>

<div id="emptyhomes-footer">

<div>
Empty Homes<br>
75 Westminster Bridge Road<br>
London<br>
SE1 7HS<br>
Tel: 020 7921 4450 <br>
Email: <a href="mailto:info&#64;emptyhomes.com">info&#64;emptyhomes.com</a>
</div>

<div>
<i>In conjunction with,</i>
</div>

<div>
<i>in Wales:</i><br>
Shelter Cymru<br>
[% lang_code == 'cy' ? '25 Heol Walter<br>Abertawe' : '25 Walter Road<br>Swansea' %]
<br>SA1 5NN<br>
<a href="mailto:emptyhomes&#64;sheltercymru.org.uk">emptyhomes&#64;sheltercymru.org.uk</a>
</div>

<div>
<i>in Scotland:</i><br>
Scottish Empty Homes Partnership<br>
Shelter Scotland<br>
6 South Charlotte Street<br>
Edinburgh EH2 4AW<br>
Tel: 0344 515 2461<br>
<a href="mailto:EmptyHomes&#64;shelter.org.uk">EmptyHomes&#64;shelter.org.uk</a>
</div>

</div>

[% INCLUDE 'debug_footer.html' %]

</body>
</html>

