<!doctype html>
<!--[if lt IE 7]><html class="ie6 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 7]>   <html class="ie7 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="ie8 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 8]><!--><html lang="[% lang_code %]"><!--<![endif]-->
<head>

[% SET start = c.config.ADMIN_BASE_URL IF admin %]

    <link rel="stylesheet" type="text/css" href="[% start %][% version('/css/core.css') %]">
    <link rel="stylesheet" type="text/css" href="[% start %][% version('/cobrands/emptyhomes/css/css.css') %]">
    [% INCLUDE 'common_header_tags.html' %]

</head>
<body>

<div id="header">
    <a href="http://www.emptyhomes.com/"><img id="eha-logo" border="0" src="/cobrands/emptyhomes/eha-logo.jpeg" alt="Empty Homes Agency" width="91" height="71" align="left"></a>
    <div>
        <small><em>in conjunction with</em></small>
        <br>
        <a href="http://www.sheltercymru.org.uk/"><img border="0" src="/cobrands/emptyhomes/Sheltercymru47s.png" alt="Shelter Cymru" width="80" height="33" align="bottom"></a>
        <a href="http://scotland.shelter.org.uk/housing_issues/more_homes/empty_homes"><img border="0" src="/cobrands/emptyhomes/SEHPlogo-bwS.png" alt="Scottish Empty Homes Partnership" width="131" height="40" align="bottom"></a>
        <a href="http://www.channel4.com/"><img src="/cobrands/emptyhomes/c4logo.png" border="0" alt="Channel 4" align="bottom" width="30" height="40"></a>
        <a href="http://www.tigeraspect.co.uk/"><img src="/cobrands/emptyhomes/tiger-aspect.png" border="0" alt="Tiger Aspect" align="bottom" width="113" height="30"></a>
    </div>
</div>

<div id="navigation">
    <ul>
      <li><a href="/">[% loc("Report a problem") %]</a></li>
      <li><a href="/reports">[% loc("All reports") %]</a></li>
      <li><a href="/faq">[% loc("Help") %]</a></li>
      <li><a href="/about">[% loc('About us') %]</a></li>
        [% IF lang_code == 'en-gb' %]
            <li><a href="http://cy.[% c.cobrand.base_host %][% c.req.uri.path_query %]">Cymraeg</a></li>
        [% ELSE %]
            <li><a href="http://en.[% c.cobrand.base_host %][% c.req.uri.path_query %]">English</a></li>
        [% END %]
    </ul>
</div>

<ul id="meta">
    [% IF c.user_exists %]
        <li>[% tprintf(loc('Signed in as %s'), c.user.name || c.user.email) %]
        <li><a href="/auth/sign_out">[% loc('Sign out') %]</a></li>
    [% ELSE %]
        <li>&nbsp;</li>
    [% END %]
</ul>

<div id="wrapper">
<div id="mysociety">

    [% INCLUDE 'debug_header.html' %]

