[%# NB: if the site is reenabled, this template should be deleted,
and we'll then defer to the version in templates/web/base/ again %]

<h2> This site is currently suspended </h2>

<ol class="big-numbers">

    <li> If you would like to report an empty home, please contact your
    local council in England or Empty Homes in Scotland</li>
    <li> If you have recently reported an empty home you will be
    contacted by email </li>
    <li> If you have been contacted, please follow the instructions in your email </li>
</ol>
