[% INCLUDE 'header.html', title = '' %]

<div class="grid-50">
    <!--
    <h1 class="bl">
        <small>[% loc('Report, view, or discuss local problems') %]</small>
    </h1>

    [% IF error %]
        <p class="error">[% error %]</p>
    [% END %]

    [% PROCESS 'around/postcode_form.html' %]
    -->

    <div class="grid-50">
        [% INCLUDE 'front/stats.html' %]
    </div>

[% 
    recent_photos = c.cobrand.recent_photos('front', 2);
    probs         = c.cobrand.recent();
%]
[% IF probs.size %]
    <div class="grid-50">
        <h2 class="bl"><small>[% loc('Recently reported problems') %]</small></h2>
        <ul id="nearby_lists">
        [% FOREACH p IN probs %]
            <li>
                <a href="/report/[% p.id %]">[% p.title | html %]</a>
                <small>[% prettify_dt( p.confirmed, 1 ) %]</small>
            </li>
        [% END %]
        </ul>
    </div>
[% END %]

</div>

<div class="grid-50">
    <div id="eha_steps">
    [% INCLUDE 'index-steps.html',
        question = c.cobrand.enter_postcode_text %]
    </div>

    [% IF recent_photos.size %]
        <p id="front_photos">
        [% FOREACH p IN recent_photos %]
            <a href="/report/[% p.id %]"><img border="0" height="100"
                src="[% p.photos.first.url_tn %]" alt="[% p.title | html %]" title="[% p.title | html %]"></a>
        [% END %]
        </p>
    [% END %]

</div>

[% INCLUDE 'footer.html' %]
