// Wrapped in this selector to ensure specificity.
body.liverpool {

    // Show header on larger layouts (this is hidden in base.css for mobiles).
    .liverpool-header {
        display: block;
    }

    // Respect bootstrap's widths.
    .content {
        width: auto;
    }

    // Don't fix the nav.
    &.mappage .nav-wrapper .nav-wrapper-2 {
        position: absolute;
        background: none;
    }

    // Remove squares from top navigation.
    ul.nav li {
        list-style: none;
    }

    // Fix input sizes to work with Bootstrap.
    input[type=text], input[type=password], input[type=email], textarea {
        -ms-box-sizing: content-box;
        -o-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    // Make sure the navbar always takes up at least 80px to match main site.
    .navbar {
        min-height: 80px;
    }

    // Don't repeat the border, the liverpool header already has one.
    .nav-wrapper .nav-wrapper-2 {
        border: none;
    }

    // Position the main nav at the top of the screen.
    #main-nav {
        margin: 1em 0 0;
        ul {
            float: none;
        }
    }

    @media only screen and (min-width: 48em) and (max-width: 61em) {
        #main-nav {
            float: none;
            padding-left: 0;
        }
    }

    #main-nav ul#main-menu li {
        a {
            color: #373b43;
            background-color: #ededed;

            &:hover {
                background-color: #e3e3e3
            }

            // Don't style the report a problem button differently when it's a link.
            &.report-a-problem-btn {
                margin: inherit;
                padding: 0.75em;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                border-radius: 0;
            }
        }

        span {
            color: #fff;
            background-color: $primary;
        }

        body.mappage & span, body.mappage & a {
            padding: 0.75em;
        }

    }

    // Hide the site header on desktop version as it obscures the nav.
    #site-header {
        display: none;
    }

    // Make sure there is enough room for the navigation with the site-header hidden.
    #front-main {
        margin-top: 5em;
    }

    // Fix position of the user-meta div
    #user-meta {
        float: right;

        p {
            position: static;
            color: #fff;
            background-color: $primary;
        }
    }
}

// Over-specific container widths to allow bootstrap to work.
//
// This is necessary because both Bootstrap and FMS use the .container class
// in different conflicting ways.
body.liverpool .container {
    width: 940px;
}

@media (min-width: 768px) and (max-width: 979px) {
    body.liverpool .container {
        width: 724px;
    }
}
@media (min-width: 1200px) {
    body.liverpool .container {
        width: 1170px;
    }

}
