// Remove squares from top navigation.
ul.nav li {
    list-style: none;
}

input[type=text], input[type=password], input[type=email], textarea {
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
