@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

// Disable the FMS logo for now.
// TODO - see if this is still needed once the layout is sorted RE: Navigation position.
#site-logo {
    background: none !important;
}

.liverpool-header {
    display: none;
}
