          </tr>
        </table>
      </th>
      <th class="spacer-cell"></th>
    </tr>
  </table>
  <table [% wrapper_table | safe %] style="[% wrapper_style %]">
    <tr>
      <th class="spacer-cell"></th>
      <td height="24"> </td>
      <th class="spacer-cell"></th>
    </tr>
    <tr>
      <th class="spacer-cell"></th>
      <th width="[% wrapper_max_width %]" style="[% td_style %][% hint_style %]" class="hint">
        [%~ IF fms_email_footer.defined %]
          [% fms_email_footer | safe %]
        [%~ ELSIF email_footer.defined %]
          [% email_footer %]
        [%~ ELSE %]
          [% loc('This email was sent automatically, from an unmonitored email account. Please do not reply to it.') %]
        [%~ END %]
      </th>
      <th class="spacer-cell"></th>
    </tr>
  </table>
</body>
</html>
