[% FOR update IN data %]
    <div style="[% list_item_style %]">
    [%~ IF update.item_photo %]
      <a href="[% problem_url %]">
        <img style="[% list_item_photo_style %]" src="[% inline_image(update.get_first_image_fp) %]" alt="">
      </a>
    [%~ END %]
    [% IF report.category == 'Bulky collection' AND (update.item_problem_state == 'closed' OR update.item_problem_state == 'fixed - council' OR update.item_problem_state == 'unable to fix') %]
      [% INCLUDE 'waste/_bulky_email_comment_end.html' %]
    [% ELSE %]
      [% email_sanitize_html(update, private_email ? "item_private_email_text" : undef) | replace('<p>', '<p style="' _ list_item_p_style _ '">') %]
      [% IF NOT private_email %]
    <p class="user-name" style="[% list_item_date_style %]">
      [%~ IF update.item_anonymous %]
        <p style="[% warning_message_style %]">
          <img width="16" height="16" alt="" style="vertical-align: text-bottom; margin-right: 4px;" src="[% inline_image('web/cobrands/fixmystreet/images/notice-icon.png') %]">
          [%~ loc('Please be aware this update was posted anonymously by another FixMyStreet user, not by %s.') -%]
        </p>
      [%~ ELSE %]
        [%~ update.item_name | html IF update.item_name -%]
      [%~ ELSE %]
      <!-- TODO This if needs to removed and change for a proper conditional, so it's only display when the authority has provided an update -->
        <p style="[% verified_box_style %]">
          <img width="16" height="16" alt="" style="vertical-align: text-bottom; margin-right: 4px;" src="[% inline_image('web/cobrands/fixmystreet/images/verified-icon.png') %]">
          [%~ loc('Update posted by %s.') | replace('%s', report.body) | safe -%]
        </p>
      [%~ END %]
      [% '(' _ cobrand.prettify_dt(update.confirmed) _ ') ' IF cobrand.include_time_in_update_alerts -%]
    </p>
      [% END %]
    [% END %]
    </div>
[% END %]
