[%

title = report.title | html;
email_summary = "New updates on “" _ title _ "”";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]
  <h1 style="[% h1_style %]">New updates on <a href="[% problem_url %]">[% title %]</a></h1>
  [%~ INCLUDE '_email_comment_list.html' %]
 [% IF unsubscribe_url %]
  <p style="[% p_style %]"><a href="[% unsubscribe_url %]">Unsubscribe from alerts about this report</a></p>
 [% END %]
  [% end_padded_box | safe %]
</th>
[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% title %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
    [% TRY %][% INCLUDE '_council_reference_alert_update.html' problem=report p_style=secondary_p_style %][% CATCH file %][% END %]
[% END %]

[% INCLUDE '_email_bottom.html' %]
