[%

email_columns = 1;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Please confirm your email alert&nbsp;settings</h1>
  <p style="[% p_style %]">Please click on the link below to confirm that you want to receive email alerts within your chosen area.</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Yes, send me alerts</a>
  </p>
  <p style="[% p_style %]">If you no longer wish to subscribe to alerts in this area, just ignore this email.</p>
</th>

[% INCLUDE '_email_bottom.html' %]
