[%

email_summary = "Thanks for logging your report";
email_columns = 2;

PROCESS '_email_settings.html';
INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]
  <h1 style="[% h1_style %]">Your report has been&nbsp;logged</h1>
  <p style="[% p_style %]">Your report to [% report.body %] has been logged on [% site_name %].</p>

[% IF report.non_public %]
<p style="[% p_style %]">It has been marked as private and will not be visible
to the general public; you may view it using the link below, or if you sign in
using the email address associated with the report.</p>
[% END %]

[% IF cobrand.is_council && !cobrand.owns_problem( report ) %]
<p style="[% p_style %]">Please note that [% cobrand.council_name %] is not responsible for this type
of report, so it will instead be sent to [% report.body %].</p>
[% ELSE %]
[% TRY %][% INCLUDE '_council_reference.html' problem=report %][% CATCH file %][% END %]
[% END %]

  <p style="margin: 20px auto; text-align: center">
  <a style="[% button_style %]" href="[% cobrand.base_url_for_report(report) %][% report.view_url %]">View my report</a>
  </p>
  [% end_padded_box | safe %]
</th>
[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
