[%

email_summary = "You need to confirm your " _ site_name _ " report before it can be sent to ${ report.body }.";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]
  <h1 style="[% h1_style %]">Please confirm your&nbsp;report</h1>
  <p style="[% p_style %]">Please click on the link below to confirm that you want to send your report to [% report.body %].
[% IF c.cobrand.is_council && !c.cobrand.owns_problem( report ) %]
Please note that [% c.cobrand.council_name %] is not responsible for this type
of problem, so it will instead be sent to [% report.body %].
[% END %]

[% TRY %][% INCLUDE '_problem-confirm_extra.html' %][% CATCH file %][% END %]
  </p>
  [% UNLESS report.non_public %]<p style="[% p_style %]">Your report will also appear on the [% site_name %] website.</p>[% END %]
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Yes, send my report</a>
  </p>
  <p style="[% p_style %]">If you no longer wish to send this report, please take no further action.</p>
  [% TRY %][% INCLUDE '_problem-confirm_footer.html' %][% CATCH file %][% END %]
  [% end_padded_box | safe %]
</th>
[% WRAPPER '_email_sidebar.html' object = report, url = token_url %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
