[% parts = rt.external_status_code.split(',') ~%]

[% IF errors.external_status_code %]
    <div class="form-error">[% errors.external_status_code %]</div>
[% END %]
<p>
  <label for="resolution_code">External status code / Resolution Code ID</label>
  <input type="text" id="resolution_code" name="resolution_code" class="form-control" size="30" value="[% parts.0 %]">
</p>

<p>
  <label for="task_type">Task type ID</label>
  <input type="text" id="task_type" name="task_type" class="form-control" size="30" value="[% parts.1 %]">
</p>

<p>
  <label for="task_state">Task state</label>
  <select class="form-control" name="task_state" id="task_state">
      <option value="">---</option>
    [% FOR opt IN ['Completed', 'Not Completed'] %]
      <option value="[% opt %]"[% ' selected' IF parts.2 == opt %]>[% opt %]</option>
    [% END %]
  </select>
</p>
