[%

color_primary = '#004289'
color_pale_grey = '#f0f0f0'

body_font_family = "Verdana, sans-serif"

header_background_color = color_primary
header_text_color = color_white

secondary_column_background_color = color_pale_grey

link_text_color = color_primary
link_hover_text_color = '#0081c9'

button_background_color = '#8c4e8d'
button_text_color = color_white

logo_file = 'aberdeenshire-logo-white.png'
logo_width = "293" # pixel measurement, but without 'px' suffix
logo_height = "60" # pixel measurement, but without 'px' suffix

%]
