@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@font-face {
    font-family: "Masterpiece Uni Sans";
    src: url(fonts/MasterpieceUniSans.ttf) format("truetype");
}

@font-face {
    font-family: "Tharlon";
    src: url(fonts/Tharlon-Regular.ttf) format("truetype");
}

$body-font: 'Masterpiece Uni Sans', Tharlon, 'Times New Roman', serif;
$meta-font:  'Masterpiece Uni Sans', Tharlon, 'Times New Roman', serif;
$heading-font:  'Masterpiece Uni Sans', Tharlon, 'Times New Roman', serif;

@import "../sass/base";
