@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

$body-font: Zawgyi-One, Zawgyi1, 'Masterpiece Uni Sans', Tharlon, 'Times New Roman', serif;
$meta-font:  Zawgyi-One, Zawgyi1, 'Masterpiece Uni Sans', Tharlon, 'Times New Roman', serif;
$heading-font:  Zawgyi-One, Zawgyi1, 'Masterpiece Uni Sans', Tharlon, 'Times New Roman', serif;

@import "../sass/base";
