<footer class="cobrand-footer">
  <div class="container">
    <div class="cobrand-footer__logo">
      <a class="cobrand-footer__logo-link" href="https://causeway.com?hsLang=en">
        <img class="cobrand-footer__logo-img" src="/cobrands/causeway/images/logo.svg" alt="Causeway logo - back to homepage" width="536" height="115" loading="lazy">
      </a>
    </div>
    <div class="cobrand-footer__main">
      <div class="cobrand-footer__intro">
        <div class="cobrand-footer__intro-top">
          <div class="cobrand-footer__text flow">
            <h4 class="cobrand-footer__heading">Get in touch with Causeway today</h4>
          </div>
          <div class="cobrand-footer__buttons">
            <div class="cobrand-footer__button-row">
              <a class="btn btn-orange" href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/click?encryptedPayload=AVxigLL%2F9t4se7kFzxQ6oUYrgztsbovrx1tBAVd%2BNyfWsv658uyzzY0M0sXaY8bxSM5mZefLF%2BVrKoWGH%2F5K1R2WZOd%2BHfd4D4Q67Nb36tLXL9orDqGP80WLednEgEBkRkzXZzVH7Z5tkCRj7aUvST%2BNX6IBjXJ%2BZeB8Mc0rjJ4qiKcg7PJroa7Y%2Bbfb&amp;portalId=746800&amp;pageUrl=https%3A%2F%2Fwww.causeway.com%2F&amp;pageTitle=Causeway+construction+and+maintenance+management+software+%7C+Causeway&amp;referrer=https%3A%2F%2Fwww.causeway.com%2F&amp;userAgent=Mozilla%2F5.0+%28Macintosh%3B+Intel+Mac+OS+X+10_15_7%29+AppleWebKit%2F537.36+%28KHTML%2C+like+Gecko%29+Chrome%2F147.0.0.0+Safari%2F537.36&amp;hutk=&amp;hssc=&amp;hstc=&amp;pageId=28440191947">Get in touch</a>
              <a class="btn cobrand-footer__button--secondary" href="https://www.causeway.com/support?hsLang=en">Customer support
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none">
                  <path d="M1 5.652h10.686m0 0L7.5 1.152m4.186 4.5-4.186 4.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="cobrand-footer__social">
          <div class="cobrand-footer__social-title">Follow us</div>
          <div class="cobrand-footer__social-icons">
            <a class="cobrand-footer__social-link" href="https://www.linkedin.com/company/causeway-technologies/" target="blank" rel="nofollow noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                <path d="M18.9999 19.5V12.5413C18.9999 9.12129 18.2637 6.50879 14.2737 6.50879C12.3499 6.50879 11.0674 7.55379 10.5449 8.55129H10.4974V6.81754H6.72119V19.5H10.6637V13.2063C10.6637 11.5438 10.9724 9.95254 13.0149 9.95254C15.0337 9.95254 15.0574 11.8288 15.0574 13.3013V19.4763H18.9999V19.5Z" fill="white"/>
                <path d="M0.308594 6.81738H4.25109V19.4999H0.308594V6.81738Z" fill="white"/>
                <path d="M2.28 0.5C1.02125 0.5 0 1.52125 0 2.78C0 4.03875 1.02125 5.08375 2.28 5.08375C3.53875 5.08375 4.56 4.03875 4.56 2.78C4.56 1.52125 3.53875 0.5 2.28 0.5Z" fill="white"/>
              </svg>
            </a>
            <a class="cobrand-footer__social-link" href="https://twitter.com/causewaytech" target="blank" rel="nofollow noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                <path d="M11.3076 8.5452L18.3808 0.5H16.7046L10.563 7.48554L5.65769 0.5H0L7.41779 11.0634L0 19.5H1.67621L8.16194 12.123L13.3423 19.5H19L11.3072 8.5452H11.3076ZM9.01178 11.1564L8.2602 10.1046L2.28017 1.73469H4.85474L9.68069 8.48944L10.4323 9.54132L16.7054 18.3215H14.1309L9.01178 11.1568V11.1564Z" fill="white"/>
              </svg>
            </a>
            <a class="cobrand-footer__social-link" href="https://www.facebook.com/CausewayTech/" target="blank" rel="nofollow noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="22" viewBox="0 0 11 22" fill="none">
                <path d="M7.14053 22V11.9655H10.3824L10.8688 8.05372H7.14053V5.55662C7.14053 4.42442 7.44202 3.65284 9.00711 3.65284L11 3.65199V0.153153C10.6554 0.10664 9.47232 0 8.0954 0C5.22015 0 3.2517 1.82266 3.2517 5.1692V8.05372H0V11.9655H3.2517V22H7.14053Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="cobrand-footer__menus">
        <div class="cobrand-footer__menu">
          <div class="cobrand-footer__menu-title">Useful links</div>
          <ul class="cobrand-footer__menu-list">
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/contact-sales">Contact</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/support">Support</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/legal">Legal</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/legal">Compliance</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/locations">Locations</a></li>
          </ul>
        </div>
        <div class="cobrand-footer__menu">
          <div class="cobrand-footer__menu-title">Why us</div>
          <ul class="cobrand-footer__menu-list">
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/what-we-stand-for">What we stand for</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/our-history">Our history</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/team">Our team</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/sustainability">Our sustainability commitments</a></li>
          </ul>
        </div>
        <div class="cobrand-footer__menu">
          <div class="cobrand-footer__menu-title">What we do</div>
          <ul class="cobrand-footer__menu-list">
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/causeway-one">CausewayOne</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/design">Design</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/workforce">Workforce</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/supply-chain">Supply Chain</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/commercial">Commercial</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/infrastructure">Infrastructure</a></li>
          </ul>
        </div>
        <div class="cobrand-footer__menu">
          <div class="cobrand-footer__menu-title">Insights</div>
          <ul class="cobrand-footer__menu-list">
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/insights?content_type__in=Blogs">Articles</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/insights?content_type__in=News">News</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/insights?content_type__in=Podcasts">Podcast</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/insights?content_type__in=OnDemand%20Webinars">Webinars</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/insights?content_type__in=Case%20studies">Case Studies</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/insights?content_type__in=Downloads">Downloads</a></li>
          </ul>
        </div>
        <div class="cobrand-footer__menu">
          <div class="cobrand-footer__menu-title">Who we serve</div>
          <ul class="cobrand-footer__menu-list">
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/contractors">Construction contractors</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/local-authorities">Local and highways authorities</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/infrastructure-operators">Infrastructure and utility operators</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/house-builders">House builders</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/engineering-consultants">Engineering consultants</a></li>
            <li class="cobrand-footer__menu-item"><a class="cobrand-footer__menu-link" href="https://www.causeway.com/suppliers-and-manufacturers">Suppliers and manufacturers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="cobrand-footer__secondary" >
  <div class="container">
    <span>Copyright © Causeway Technologies 2026.</span>
    <span>Registered Office: Sterling House 20 Station Road Gerrards Cross Buckinghamshire SL9 8EL United Kingdom</span>
    <span>Registered No. 3921897</span>
  </div>
</div>

[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
