#bikeable-banner {
    background-color: #99C32E;
    color: white;
    text-align: center;

    p {
        margin: 0;
        padding: 0.5em;
    }

    @media screen and (min-width: 48em) {
        position: absolute;
        margin: 0;
        transform: rotate(-15deg);

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 1em;
        width: 150px;
        height: 150px;
        border-radius: 150px;
        top: 120px;
        left: 6px;
    }

    @media screen and (min-width: 1030px) {
        padding: 1.5em;
        left: -17px;
        width: 150px;
        height: 150px;
        border-radius: 150px;
        top: 100px;
    }
}
