/* COLOURS */

$dark_blue: rgb(0, 79, 167);
$zurich_blue: #0f05a0;

$primary: $zurich_blue;
$primary_b: $dark_blue;
$primary_text: #fff;

$link-color: $zurich_blue;
$link-hover-color: lighten($zurich_blue, 5%);

$base_bg: #fff;
$base_fg: #3c3c3c;

$border_colour: #dedede;

$nav_background_colour: $zurich_blue;
/* Unused here, main-nav is mobile only */
$nav_colour: $primary_text;
$nav_hover_background_colour: $primary/1.1;

$col_click_map: $zurich_blue;

$col_fixed_label: #648721;

$mobile_menu_tab_bg_col: #FFFFFF; // the white border and tab on mobile site
$mobile_header_blue: $zurich_blue; // close match to Zurich logo_portal.jpg

$header-top-border: solid 0.25em $mobile_menu_tab_bg_col;
