/* COLOURS */

$dark_blue: rgb(0, 79, 167);
$zurich_blue: #0f05a0;

$primary: $zurich_blue;
$primary_b: $dark_blue;
$primary_text: #fff;

$link-color: $zurich_blue;
$link-hover-color: lighten($zurich_blue, 5%);

$base_bg: #fff;
$base_fg: #3c3c3c;

$border_colour: #dedede;

$nav_background_colour: $zurich_blue;
/* Unused here, main-nav is mobile only */
$nav_colour: $primary_text;
$nav_hover_background_colour: $primary/1.1;

$geolocation-link: $base_fg;
$geolocation-link-border: $base_fg;
$geolocation-link-background-color: $base_bg;

$col_click_map: $zurich_blue;

$col_fixed_label: #648721;

$mobile_menu_tab_bg_col: #FFFFFF; // the white border and tab on mobile site
$mobile_header_blue: $zurich_blue; // close match to Zurich logo_portal.jpg

$header-top-border: solid 0.25em $mobile_menu_tab_bg_col;

$front-main-background-desktop: $base_bg;
$postcodeform-background-desktop: $primary_text;
$postcodeform-background: $primary;
$front-main-color-desktop: $base_fg;
$postcodeform-color-desktop: $base_fg;

$mappage-sidebar-width: 29em;
$mappage-sidebar-width--medium:  29em;
$mappage-sidebar-width--large:  29em;
$mappage-sidebar-width--xlarge: 29em;

$mappage-notes-width: 15em;
$mappage-notes-width--medium: 15em;
$mappage-notes-width--large: 15em;
$mappage-notes-width--xlarge: 15em;
