/* COLOURS */

$dark_blue: rgb(0, 79, 167);
$zurich_blue: rgb(0, 81, 169);

$primary: $zurich_blue;
$primary_b: $dark_blue;
$primary_text: #fff;

$base_bg: #fff;
$base_fg: #3c3c3c;

$nav_background_colour: #366AB6;
/* Unused here, main-nav is mobile only */
$nav_colour: $primary_text;
$nav_hover_background_colour: $primary/1.1;

$col_click_map: $zurich_blue;

$col_fixed_label: #648721;

$mobile_menu_tab_bg_col: #FFFFFF; // the white border and tab on mobile site
$mobile_header_blue: #366AB6; // close match to Zurich logo_portal.jpg

$header-top-border: solid 0.25em $mobile_menu_tab_bg_col;
