/* COLOURS */

$dark_blue: rgb(50, 80, 165);
$lighter_blue: rgb(57, 94, 147);

$primary: $lighter_blue;
$primary_b: $dark_blue;
$primary_text: #fff;

$col_click_map: $lighter_blue;
$col_click_map_dark: darken($lighter_blue, 20%);

$col_fixed_label: #648721;
$col_fixed_label_dark: #4B8304;

$mobile_menu_tab_bg_col: #FFD000; // the yellow border and tab on mobile site
$mobile_header_blue: #366AB6; // close match to Zurich logo_portal.jpg

// Zurich admin tables:

$table_border_color:   #ccc;
$table_heading_bg_col: #595959;
$table_heading_border_col:   #7a7a7a;
$table_heading_col:    #fff;
$table_heading_underline_col: #393939;
$button_col:    #fff;
$button_bg_col: #a1a1a1;  // also search bar (tables)
