// Some things from the Zurich stylesheet

a {
    color: #126094;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#zurich-footer {
    margin-top: 2em; // mySociety
    margin-left: 12px; // mySociety
    font-size: 67.5%;
    line-height: 1.5em;
    clear: both;
    background-image: url(bg_mainnav_portal.png);
    background-repeat: repeat-x;
    border: 1px solid #d8d8d8;
    width: 953px;
    padding: 3px 10px;
    margin-bottom: 24px;
    height: 1.5em
}

#zurich-footer a {
    padding-left: 20px;
}

#zurich-footer a:hover {
    color: #3c3c3c;
}

.admin table {
  width: 100%;
  font-size: 0.9em;
  border: 1px solid $table_border_color;
  border-collapse:collapse;
  th, td {
    padding: 0.666em 0.5em;
    border: 1px solid $table_border_color;
  }
  th {
    color: white;
    background-color: $table_heading_bg_col;
    border-bottom: 2px solid $table_heading_underline_col;
    border-left: 1px solid $table_heading_border_col;
    border-right: 1px solid $table_heading_border_col;
    
  }
  td.record-id {
    text-align: center;
    font-weight: bold;
  }
  tr.filter-row td {
    display: none; /* TODO: reveal when filtering is implemented */
    padding: 4px 4px 4px 40px;
    background-color: $button_bg_col;
    background-image: url('search-icon-white.png');
    background-position: 14px center;
    background-repeat: no-repeat;
    border-bottom: 2px solid $table_border_color;
  }
  tr.filter-row td input[type=text] {
    background-color: #e1e1e1;
    width: 16em;
    @include border-radius(4px);
    border: none;
    padding: 3px 0.5em;
  }
  
}