// Some things from the Zurich stylesheet

a {
    color: #126094;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

// mySociety addition for box shadow on front page with static image
body.frontpage #zurich-footer-wrapper {
    padding: 1px 0;
    @include box-shadow(0 -6px 6px -5px #000);
}

#zurich-footer {
    margin: 2em auto; // mySociety
    font-size: 67.5%;
    line-height: 1.5em;
    clear: both;
    background-image: url(bg_mainnav_portal.png);
    background-repeat: repeat-x;
    border: 1px solid #d8d8d8;
    width: 953px;
    padding: 3px 10px;
    margin-bottom: 24px;
    height: 1.5em
}

#zurich-footer a {
    padding-left: 20px;
}

#zurich-footer a:hover {
    color: #3c3c3c;
}

#form_sign_in_yes {
    .form-txt-submit-box {
        clear: both;
        div.form-error {
            width: 61%;
        }
    }
}
