@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

/* Front page main box is in content now, so get rid of its margin from parent */
#front-main {
    margin: 0;
}

/* Autocomplete dropdown on front page, don't want bullets */
.ui-menu-item {
    list-style-type: none;
}

/* Simplify the problem header on a report page */
.problem-header h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 0;
}
.problem-header .sub {
    color: #666;
    font-size: 85%;
}

.banner--closed {
    border-top-color: #e25436;
    background: mix(#e25436, #fff, 10%);
}

.banner--progress {
    border-top-color: #f3d74b;
    background: mix(#f3d74b, #fff, 10%);
}

#site-logo-text {
    display: none;
}
#site-logo {
    background: url(logo_portal.jpg) 0px -24px no-repeat;
    width: 200px;
    height: 48px;
    margin-left: -1em;
}
#front_stats,
#front-main #postcodeForm {
    background-color: $mobile_header_blue;
}

//  fix here:
//  a percentage width on input#pc breaks iPhone landscape/portrait switching
//  and the other changes make this fix pretty

#front-main #postcodeForm div {
  background: inherit;
  border-color:transparent;
  input#pc {
    max-width: 15em;
    background-color: #fff;
  }
  input#sub {
    width: 3em;
  }
}

// No grey background or other bits
// The amount of resetting here shows this needs refactoring, so that it is FMS making the changes
// Also look into why full-width pulls things out, but then it is its children
// that have to recompensate with padding.
h4.static-with-rule {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
    border-top: 0.25em solid #e5e5e5;
}
.item-list {
    border-bottom: none;
}
.item-list__item {
    padding-left: 0;
    padding-right: 0;
    background: none;
}

.item-list--reports__item {
    .img {
        padding-right: 1em;
    }
}

.form-txt-submit-box input[type=submit] {
    width:auto; // 28% is too narrow
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#fms_pan_zoom_panup,
#fms_pan_zoom_pandown,
#fms_pan_zoom_panleft,
#fms_pan_zoom_panright {
    display: none;
}

.admin-nav {
    background: #f4f4f4;
    @include linear-gradient(#fbfbfb, #efefef);
    border-bottom: 2px solid $table_border_color;
    ul {
        overflow:auto;
        margin:0 0 -2px 0;
        list-style: none;
        padding: 0;
        border-top: 1px solid $table_border_color;
        border-left: 1px solid $table_border_color;
        border-right: 1px solid $table_border_color;
        li {
            border-right: 1px solid $table_border_color;
            float:left;
            list-style: none;
            margin:0;
            padding: 0.5em 1em;
            font-weight: bold;
            color: #000;
            a {
                color: #000;
            }
        }
        li.search-box {
            float: right;
        }
        li.current {
            background-color: #fff;
            border-bottom: 2px solid #fff;
        }
        li.search-box {
            border:none;
            padding: 0.2em 0.5em 0.2em 30px;
            background-image: url('search-icon.png');
            background-position: 2px center;
            background-repeat: no-repeat;
            input {
                height: 100%;
                width: 12em;
                border: none;
                padding: 6px 0.5em;
            }
        }
    }
}

.admin-note__text {
    background-color: #eee;
    padding: 0.5em 1em;
    border-radius: 4px;
    position: relative;
    margin-bottom: 0.5em;

    // add a little speech bubble triangle to the bottom left corner
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -10px;
        left: 10px;
        border-top: 10px solid #eee;
        border-left: 10px solid transparent;
    }

    .admininternal & {
        background-color: #eef;

        &:after {
            border-top-color: #eef;
        }
    }
}

.admin-note__creator {
    padding-left: 30px;
}

.admin-official-answer, .admin-external-message {
    background-color: #1F52A3; // official Zurich blue colour
    color: #fff;
    padding: 0.8em 1em;
    border-radius: 4px;

    p {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

table#admin_bodies tr.is-deleted {
  background-color: transparent;
}

.ui-spinner input {
    // stop jQuery UI spinner inputs from inheriting FMS input styles
    padding: 1px;
    border: none;
    border-radius: 0;
}

.square-map__outer {
    width: 100%;
    height: 0;
    padding-bottom: 100%; // 100% of parent WIDTH!! Makes a square element.
    position: relative;
}

.square-map__inner {
    position: absolute; // Parent must keep its 0 height, so we need to create a new container for tiles.
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    #drag .square-map__tile {
        position: static; // override position:absolute
    }
}

#map_box {
    top: 0em; // the default, 3em, overlaps the content below
}

@media screen {
    dd.screen-no-space-after {
      margin-bottom: 0;
    }

    .admin-report-edit--interact dl.with-message {
        margin-top: 1.5em;
    }
}

@media print {
    #site-header .container {
        position: relative;
    }
    #site-logo {
        top: 0;
    }

    .mappage.admin {
      .container {
          padding: 0;
          position: relative;
      }

      .content {
          overflow: auto;
          font-size: 0.8em;
          background: transparent url(/cobrands/zurich/admin-print-columns.gif) top center repeat-y;
          min-height: 0 !important; // override hard-coded inline min-height style

          form {
              @include clearfix; // because .admin-report-edit children are floated
          }
      }

      #map_box {
          display: none; // Zurich has its own clone of the map, inside admin-report-edit--interact
      }
    }

    .admin-report-edit {
        margin-top: 1em;
        width: 47%;

        input[type=text],
        textarea {
            border: none;
            padding: 0;
        }

        dd {
            padding-left: 1em;
        }

        h2 {
            font-family: inherit;
            font-size: inherit;
            font-weight: bold;
        }
    }

    .admin-report-edit--details {
        float: left;
        border-right: 1px solid #ddd;
        padding-right: 3%;
    }

    .admin-report-edit--interact {
        float: right;
    }

    .map_clone {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    dd.print-no-space-after {
        margin-bottom: 0;
    }

    #print_report_map {
      page-break-before: always;
    }
}
