@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

/* Front page main box is in content now, so get rid of its margin from parent */
#front-main {
    margin: 0;
}

/* Autocomplete dropdown on front page, don't want bullets */
.ui-menu-item {
    list-style-type: none;
}

/* Simplify the problem header on a report page */
.problem-header h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 0;
}
.problem-header .sub {
    color: #666;
    font-size: 85%;
}

// Simplify the banner to just be a floated box. Colours etc. still
// inherited from the base stylesheet.
.banner {
    p {
        position: static;
        float: right;
        font-weight: bold;
        padding: 1em;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        &:before {
            display: none;
        }
        &#closed {
            color: #1a1a1a;
            background: #e25436;
        }
        &#progress {
            color: #1a1a1a;
            background: #f3d74b;
        }
    }
}

#site-header {
    background: $mobile_header_blue;
    border-top: 4px solid $mobile_menu_tab_bg_col;
    height: 48px;
}
#site-logo {
    background: url(logo_portal.jpg) 0px -24px no-repeat;
    width: 200px;
    height: 48px;
    left:0;
    top:4px;
}
#front-howto #front_stats,
#front-main #postcodeForm {
    background-color: $mobile_header_blue;
}

//  fix here:
//  a percentage width on input#pc breaks iPhone landscape/portrait switching
//  and the other changes make this fix pretty

#front-main #postcodeForm div {
  background: inherit;
  border-color:transparent;
  input#pc {
    max-width: 15em;
    background-color: #fff;
  }
  input#sub {
    width: 3em;
  }
}

// No grey background or other bits
// The amount of resetting here shows this needs refactoring, so that it is FMS making the changes
// Also look into why full-width pulls things out, but then it is its children
// that have to recompensate with padding.
h4.static-with-rule {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
    border-top: 0.25em solid #e5e5e5;
}
.issue-list {
    border-bottom: none;
    li {
        padding-left: 0;
        padding-right: 0;
        background: none;
    }
}

.issue-list-a {
    border-bottom: none;
    li {
        background: none;
        .text {
            .img {
                padding-right: 1em;
            }
        }
    }
}

.form-txt-submit-box input[type=submit] {
    width:auto; // 28% is too narrow
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#fms_pan_zoom_panup,
#fms_pan_zoom_pandown,
#fms_pan_zoom_panleft,
#fms_pan_zoom_panright {
    display: none;
}

.admin-nav {
    background: #f4f4f4;
    @include background(linear-gradient(#fbfbfb, #efefef));
    border-bottom: 2px solid $table_border_color;
    ul {
        overflow:auto;
        margin:0 0 -2px 0;
        list-style: none;
        padding: 0;
        border-top: 1px solid $table_border_color;
        border-left: 1px solid $table_border_color;
        border-right: 1px solid $table_border_color;
        li {
            border-right: 1px solid $table_border_color;
            float:left;
            list-style: none;
            margin:0;
            padding: 0.5em 1em;
            font-weight: bold;
            color: #000;
            a {
                color: #000;
            }
        }
        li.search-box {
            float: right;
        }
        li.current {
            background-color: #fff;
            border-bottom: 2px solid #fff;
        }
        li.search-box {
            border:none;
            padding: 0.2em 0.5em 0.2em 30px;
            background-image: url('search-icon.png');
            background-position: 2px center;
            background-repeat: no-repeat;
            input {
                height: 100%;
                width: 12em;
                border: none;
                padding: 6px 0.5em;
            }
        }
    }
}
