@import "../fixmystreet/_h5bp";
@import "./_colours";
@import "../fixmystreet/_mixins";
@import "compass";

@import "../fixmystreet/_base";

.ui-menu-item {
    list-style-type: none;
}

.problem-header h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 0;
}
.problem-header .sub {
    color: #666;
    font-size: 85%;
}

// Simplify the banner to just be a floated box. Colours etc. still
// inherited from the base stylesheet.
.banner {
    p {
        position: static;
        float: right;
        font-weight: bold;
        padding: 1em;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        &:before {
            display: none;
        }
    }
}

// No grey background or other bits
// The amount of resetting here shows this needs refactoring, so that it is FMS making the changes
// Also look into why full-width pulls things out, but then it is its children
// that have to recompensate with padding.
h4.static-with-rule {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
    border-top: 0.25em solid #e5e5e5;
}
.issue-list {
    border-bottom: none;
    li {
        padding-left: 0;
        padding-right: 0;
        background: none;
    }
}

.issue-list-a {
    border-bottom: none;
    li {
        background: none;
        .text {
            .img {
                padding-right: 1em;
            }
        }
    }
}
