// Zurich has a taller map page header than most cobrands.
$mappage-header-height: 7em;

@import "colours";
@import "../sass/layout";
@import "zurich";

// Things to override from parent stylesheet

.content {
    color: #3c3c3c;
}

// Different header and logo
#site-header {
    background-color: #fff;
    border-top: none;
    margin-bottom: 2em;

    .container {
        background: #fff url(logo_portal.x.jpg) top left repeat-x;
        padding: 0;
    }
}

body.mappage {
    #site-header {
        // The header on a map page needs a shadow too
        @include box-shadow(0 0 6px 1px #000);
        z-index: 2; // One more than #zurich-main-nav so it's on top
        .container {
            margin: 0 1em; // White padding left/right
        }
    }
    // Except on admin pages where there's an admin nav directly underneath it
    &.admin #site-header {
        @include box-shadow(none);
    }
}

#site-logo-text {
    display: inline;
    position: absolute;
    top: 0;
    z-index: 3;
    padding-top: 83px;
    padding-left: 10px;
    color: #585858;
    font-size: 85%;
}
body.mappage #site-logo-text {
    padding-left: 0;
}

#site-logo {
    width: 415px;
    height: 83px;
    background-position: top left;
    margin-left: 0;
}

body.mappage #site-logo {
    margin-left: 0;
}

.nav-wrapper {
    top: 18px;
}

#main-nav {
    margin-top: 0;
    display: block; // Stop the default 'flex'
    body.mappage & {
        // As header gets a z-index above for the shadow
        // Otherwise this would be invisible underneath
        z-index: 2;
        position: relative;
    }
}

// Static map on front page
body.frontpage {
    // Front page content needs a shadow.
    // (Purely decorative: No need for border fallback for IE8)
    .content {
        @include box-shadow(0 0 6px 1px #000);
    }

    .table-cell {
        background-position: 50% 117px;
        background-repeat: no-repeat;
        background-image: url(mapbg-1024.jpg);
        @media all and (min-width: 1025px) {
            background-image: url(mapbg-1600.jpg);
        }
        .content {
            margin: 2em auto; // Spacing around front content on top of static map
        }
    }

    #site-header {
        @include box-shadow(0 0 6px 1px #000);
        height: 117px;
    }

    #zurich-footer-wrapper {
        padding: 1px 0;
        @include box-shadow(0 -6px 6px -5px #000);
        position: relative;
    }
}

// Logged in notice in footer (appearing in header)
.nav-wrapper p:first-child {
    font-weight: bold;
    margin-top: 0.75em;
}
.nav-wrapper p {
    line-height: 1.2;
    color: white;
    clear: right;
    float: right;
    margin: 0 1em 0 0;
    font-size: 85%;
    a {
        color: white;
        font-size: 85%;
    }
    a:hover {
        color: white;
    }
}

#front-main {
  background-color: inherit;
  color: inherit;
  margin: 0 0 2em 0;
  #postcodeForm div {
    border-color: $dark_blue;
    input#pc {
      max-width: none;
    }
  }
}

#zurich-main-nav {
  margin: -1em -1em 1em -1em; // -1em spreads back out over content's 1em padding
  padding: 0;
  background-color: #6A6869;

  ul {
      overflow:auto;
      margin:0 0 0 0;
      list-style: none;
      padding: 0;
      li {
          font-size: 80%;
          float:left;
          list-style: none;
          margin:0;
          color: #fff;
          a, span {
            display: block;
            padding: 0.75em 1em;
          }
          a {
              color: #fff;
              text-decoration: none;
              &:hover {
                background-color: #333;
              }
          }
          span {
            background-color: $zurich_blue;
          }
      }
  }
}

body.mappage {
    #zurich-footer {
        display: none;
    }

    #map_sidebar {
        padding-top: 1em + 2.4em; // make space for the #zurich-main-nav
    }

    .banner {
        margin-top: -1em;
    }

    #zurich-main-nav {
      margin: 0;
      position: absolute;
      top: 7em;
      left: 0;
      width: 29em; // width of #map_sidebar (including padding)
      z-index: 1;
    }
}

body.twothirdswidthpage {
    .content {
        .sticky-sidebar aside {
          top: 14em; // overrides default value, due to Zurich nav at top of content
        }
    }
}

#fms_pan_zoom {
    top: 2em;
}
#fms_pan_zoom_zoomin {
    top: 0;
}
#fms_pan_zoom_zoomout {
    top: 44px;
}

// Admin specific changes

body.mappage.admin {
    // Shuffle things around so they're in the right place
    #map_box {
        top: 11em;
        left: 40em;
    }
    #map_sidebar {
        top: 11em;
        width: 40em;
        padding: 0;
        background: #fff url(/cobrands/zurich/admin-faux-columns.gif) top center repeat-y;
    }
}

.admin-report-edit {
    padding: 1em;
    width: 50%;
    float: right;
    font-size: 0.8em;
    box-sizing: border-box;

    button, input[type="submit"], .btn {
        padding: 0.5em 0.5em 0.3em 0.5em;
    }

    h2 {
        font-family: inherit;
        font-size: inherit;
        font-weight: bold;
    }
}

.admin-report-edit--details {
    label[for="title"],
    label[for="detail"] {
        display: none;
    }

    #title {
        margin-top: 1em;
        font-weight: bold;
    }

    #detail {
        margin-bottom: 1em;
    }
}

.admin-report-edit--interact {
    margin-top: -1.25em; // To counteract the label's default top margin
}

.admin {
    .content {
        margin: 2em 0 1em;
        padding: 0 0 0 0;
        ul.no-bullets {
            margin-left: 0;
            > li {
              list-style: none;
            }
        }
        li.assignation {
          list-style: none;
        }
        .mock-label {
          font-weight: bold;
          padding-right: 0.333em;
        }
        textarea {
            min-height: 0;
        }
    }

    button, input[type=submit], .btn {
        &.delete {
            font-size: 0.75em;
            color: #933;
            margin: 2em 0;

            &:hover {
                @include linear-gradient(#fcc, #daa 50%);
            };
        }
    }

    #zurich-footer {
        margin: 2em auto 3em auto;
    }

    .message-updated {
      color: #060;
      font-weight: bold;
      position: absolute;
    }
}

.admin-nav-wrapper {
    padding: 1.5em 0 1em;
}

body.mappage .admin-nav-wrapper {
    margin-top: 6em;
}
