@import "colours";
@import "../fixmystreet/layout";
@import "zurich";

body {
    color: #3c3c3c;
    background-color: #fff;
}

// White background, so no shadow or margin needed.
.content {
    color: #3c3c3c;
    @include box-shadow(none);
}
.ie6, .ie7, .ie8  {
    .content {
        border: none;
    }
}

#site-header .container {
    height: 83px;
    background: url(logo_portal.x.jpg) top left repeat-x;
}

body.frontpage #site-logo, #site-logo {
    width: 415px;
    height: 83px;
    background: url(logo_portal.jpg) top left no-repeat;
    top: 0;
}

.nav-wrapper {
    .nav-wrapper-2 {
        border-top: solid 18px white;
    }
}

body.mappage {
    .nav-wrapper {
        .nav-wrapper-2 {
            border-top: none;
            padding-top: 18px;
            background: url(logo_portal.x.jpg) top left repeat-x;
            height: 83px;
        }
    }
}

#main-nav {
    ul#main-menu {
        li {
            a:hover {
                background: $primary/1.1;
            }
            span {
                color: $primary_text;
            }
        }
    }
}

body.mappage {
    #main-nav ul#main-menu li a,
    #main-nav ul#main-menu li span {
        padding: 0.75em;
    }
    #zurich-footer {
        display: none;
    }
}

body.twothirdswidthpage {
    .content {
        aside {
            @include box-shadow(none);
        }
    }
}

// Zurich base has made this a more simple construct. The top is to pull it up
// over the content padding to be attached to the top of the content area.
// We reduce the padding as no pin image, and change the background.
.banner {
    top: -1em;
    p {
        &#fixed {
            padding-top: 2em;
            @include background(linear-gradient(#769643, #648721 4px));
        }
    }
}
.ie6 .banner p {
    &#fixed {
        background-image: none;
    }
}

