/* COLOURS */

$menu-image: 'menu-black';

$mappage-header-height: 104px;

$purple: #7F1183;
$green: #2C8500;
$blue: #0066cc;
$white: #fff;
$dark: #222;
$grey: #eaeaea;

$primary: $green;
$primary_b: $dark;
$primary_text: $white;


$link-color: $blue;
$link-hover-color: $blue;
$link-visited-color: $blue;

$base_bg: $white;
$base_fg: $dark;

$nav_background_colour: $grey;
$nav_colour: $white;
$nav_header_colour: $primary_b;
$nav_hover_background_colour: darken($green, 10%);

$col_click_map: $purple;

$header-top-border: false;

$heading-font: PraterSansWeb, sans-serif;
$body-font: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$meta-font: $body-font;

$search-help-background: #fff3f3;
$search-help-header-font-size-desktop: 1.25em;
$search-help-header-font-family: inherit;
