@import "_colours";

@import "../sass/layout";

// Northamptonshire have asked for the logos to be removed from the header,
// so move the nav menu over to the left where the logo used to be.
#main-nav {
    float: left !important;
}
#site-logo {
    z-index: -1;
}

#site-header {
    padding: 20px 0;
}

#front-main {
    padding: 3em 1em;
}

.nav-menu {
    a {
        color: $nav_header_colour;
        &:hover, &:visited {
            color: $nav_header_colour;
        }
    }
}

.nav-menu--main {
    a {
        &:hover {
            background-color: transparent;
        }
    }
    a.report-a-problem-btn {
        color: $white;
        &:hover, &:visited {
            background-color: $primary_b;
        }
    }
    span {
        color: $nav_header_colour;
    }
}

footer.northamptonshire {
    li {
        display: inline-block;
        border-left: solid 1px white;
    }
    li:first-child {
        border: none;
    }
}
