<header class="header" id="header">
  <div class="header__inner-wrapper">
    <a aria-label="Link to homepage" class="header__logo column is-half-mobile is-2-tablet-wide is-2-widescreen" href="/"><svg aria-hidden="true" class="svg svg--icon"><use xlink:href="/cobrands/rbkc/sprite.svg#glyph-logo-full"></use></svg></a>
    <nav class="header__nav column is-12-mobile is-6-tablet-wide" id="header__nav">
      [% INCLUDE 'main_nav.html' omit_wrapper=1 always_url=1 ul_class='header__main-nav' liattrs='class="leaf header__nav-item main-nav-item main-nav-item--header"' %]
    </nav>
  </div>
</header>

<main class="main-content">
