/* COLOURS */

$greenwich_red: #d42828;
$greenwich_dark_red: #a71930;
$greenwich_dark_grey: #4b5459;
$greenwich_med_grey: #d9e0e4;
$greenwich_light_grey: #e0e6e9;

$primary: $greenwich_red;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #fff;
$base_fg: #000;

$map_nav_bg: #fff;
$nav_fg: #fff;
$nav_fg_hover: transparent;

$header-top-border: false;

$col_big_numbers: $primary;

$col_click_map: $greenwich_red;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$container-max-width: 990px;
