@import "_colours";
@import "../sass/layout";

/* from http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/* For IE 6/7 only */
.clearfix { *zoom: 1; }


#site-logo,
.ie6 #site-logo,
body.frontpage #site-logo,
.ie6 body.frontpage #site-logo,
body.authpage #site-logo,
.ie6 body.authpage #site-logo,
body.twothirdswidthpage #site-logo,
.ie6 body.twothirdswidthpage #site-logo
{
        position: relative;
        top: 14px;
        left: 14px;
        margin: 0;
        padding: 0;
        background: url("/cobrands/greenwich/logo.gif") 0 0 no-repeat;
        width: 170px;
        height: 83px;
}

#front-main {
    background-color: $base_bg;

    #front-main-container {
        background-color: $greenwich_light_grey;
        padding: 1em 0;
    }
}

body.frontpage #site-header, #site-header {
    height: auto;

    .container {
        min-height: 0;
    }

    .container:first-child {
        background: url("/cobrands/greenwich/mastWave.gif") 100% 0 no-repeat;
        min-height: 110px;
    }
}

body.frontpage {
    #user-meta p {
        top: -9em;
    }

    .issue-list-a li {
        border-left: solid 4px $primary;
    }
}

.nav-wrapper .nav-wrapper-2 {
    border-top: none;
}

#main-menu {
    display: none;
}

#main-menu-desktop {
    display: block;
    background: $greenwich_dark_grey;
    font-family: georgia, 'new century schoolbook', 'times new roman', times, serif;
    font-size: 15px;
    font-style: italic;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: solid 4px $primary;
    border-bottom: solid 4px $greenwich_med_grey;
    text-align: right;
    padding-right: 1em;

    li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0.25em 0.5em;

        span, a {
            color: $nav_fg;
            padding: 0.5em;
        }

        span, a:hover {
            text-decoration: underline;
        }
    }
}
