@import "_colours";
@import "_fonts";
@import "../sass/layout";

#site-logo {
    position: relative;
    top: 14px;
    margin: 0;
    padding: 0;
    background-image: url("/cobrands/greenwich/images/greenwich-logo.svg");
    background-size: contain;
    width: 170px;
    height: 83px;
}

#front-main {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding-top: 0.5em;

    #front-main-container {
        padding: 1em 0;
        .intro-wrap {
            max-width: 720px;
        }
    }

    h1 {
        padding-bottom: 3em;
    }
}

#site-header {
    background: none;
    color: $contrast_text;

    .container:first-child {
        min-height: 110px;
    }
}

body:not(.frontpage) {
    #site-header {
        .container:first-child {
            min-height: 0;
        }
        .page-header-container, .fms-menu-container {
            display: block;
        }
    }

    .main-menu-container {
        background: $greenwich_dark_grey;
        margin: 0 -15px;
        padding-top: 15px;
        @media (min-width: 47em) and (max-width: 82em) {
            padding: 1em 1.5em 0 1.5em;
        }
        .container {
            min-height: 0;
            h1 {
                display: none;
            }
        }
    }
}

body.authpage, body.mappage {
    .footer-skyline, .site-footer, .societyworks-footer {
        display: none;
    }
}

body.alertpage {
    .content {
        max-width: 640px;
    }
}

body.frontpage {
    .item-list--reports__item {
        border-left: solid 4px $primary;
    }

    .main-menu-container {
        background: $greenwich_dark_grey;
        padding: 0 1em;
    }

    .page-header-container {
        position: relative;
        padding: 15px 0;
    }

    .page-header {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .fms-menu-container {
        max-width: 1280px;
        padding: 0;
    }

    .table-cell {
        .content {
            padding: 1em 0;
        }
    }
}

.nav-menu--main {
    display: none;
}

#greenwich-menu-desktop,
#fms-menu-desktop,
#greenwich-breadcrumb {
    display: block;
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0.25em 0.5em;

        span,
        a {
            padding: 0;
        }

        span,
        a:hover {
            text-decoration: underline;
        }
    }
}

#greenwich-menu-desktop {
    font-family: $heading-font;
    text-align: right;
    padding-right: 1em;
    font-weight: 400;
    position: relative;
    top: -40px;
    z-index: 1;

    li {
        span,
        a {
            color: black;
        }
    }
}

#greenwich-breadcrumb {
    background: transparent;
    margin-top: 0.25em;

    li {
        padding: 0;
        margin: 0;
        font-size: 1em;

        &::after {
            content: "|";
            display: inline;
            padding: 0 0.5625rem 0 0.5625rem;
        }
        &:last-of-type::after {
            content: none;
        }

        span,
        a {
            color: $contrast_text;
        }
    }
}

#fms-menu-desktop {
    background: transparent;
    margin-top: 0.5em;
    padding-bottom: 1em;

    li {
        padding: 0.25em 1em 0 0;
        a {
            color: $contrast_text;
            &:hover {
                color: $contrast_text;
            }
        }
        span {
            color: $contrast_text;
        }
    }
}

body.mappage {
    #site-header {
        .container {
            min-height: 0;
            background: transparent;
            #greenwich-menu-desktop {
                display: none;
            }
        }
    }

    .main-menu-container {
        display: none;
    }

    .nav-menu--main {
        display: block;
    }

    #site-logo {
        height: $mappage-header-height;
        width: 80px;
        background-size: 77px 40px;
        top: 0;
    }

    .nav-wrapper {
        border-bottom: solid 4px $primary;
    }

    .nav-menu--main a.report-a-problem-btn {
        color: $nav_colour;
    }

    .nav-menu {
        a,
        span {
            color: $primary_text;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .site-footer {
        display: none;
    }


}

.content footer {
    a.platform-logo {
        background-color: $greenwich_dark_grey;
        background-position: center center;
        background-size: 13em 1.5em;
        width: 14em;
        height: 3em;
        border-radius: 1.5em;
    }

    .tablewrapper {
        padding: 0;
        margin: 1em 0;

        div {
            text-align: center;

            p {
                margin: 0;
                padding: 0;
                line-height: 3em;
            }
        }
    }

    .footer-nav {
        padding: 0;
        margin: 1em 0;

        ul {
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                display: inline;
                padding: 0 4px 0 7px;
                font-size: 0.8em;
                border-left: solid 1px $greenwich_dark_grey;

                &:first-child {
                    border-left: none;
                }

                a,
                a:link,
                a:visited {
                    color: $primary_text;
                }
            }
        }
    }

    hr {
        padding: 0;
        margin: 0 -24px;
        border-bottom: solid 8px $greenwich_red;
        border-top: solid 48px $greenwich_dark_grey;
        height: 0;
    }
}

.footer-skyline {
    background-image: url(https://www.royalgreenwich.gov.uk/site/images/skyline-grey.svg);
    background-position: bottom center;
    background-repeat: repeat no-repeat;
    background-size: contain;
    @include flex(0 0 auto);
    height: 125px;
}

footer {
    margin: 0;
}

.site-footer {
    background: $greenwich_dark_grey;
    color: $contrast_text;
    padding: 2.5rem 0 3rem;
    text-align: center;
    @include flex(0 0 auto);
    overflow: hidden;
    .list__link,
    a {
        color: $contrast_text;
        white-space: nowrap;
    }

    .site-footer__block {
        display: inline-block;
    }
    .site-footer__social {
        margin-top: 2.5rem;
        float: right;
        margin-top: 0;
        text-align: right;
        width: 25%;
        .site-footer__social-links {
            .list--inline {
                margin-top: 0.375rem;
                padding-left: 0.25rem;
            }
        }
    }
    .site-footer__content {
        float: none;
        .site-footer__logo {
            margin-bottom: 0;
            width: 16.66667%;
            .identity {
                width: 100%;
                float: left;
                .identity__link {
                    position: relative;
                    .identity__logo {
                        height: 110px;
                        width: 100%;
                        background-position: top;
                        background-size: contain;
                        display: block;
                    }
                    .icon-logo-white {
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-image: url("/cobrands/greenwich/images/greenwich-logo-reversed.svg");
                    }
                    .visually-hidden {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }
                }
            }
        }
        .site-footer__block {
            display: inline-block;
            float: left;
        }
        .site-footer__copyright-links {
            padding-left: 3rem;
            text-align: left;
            .site-footer__links {
                .list--footer-nav {
                    margin: 0 0 0.5rem;
                    .list__item {
                        display: inline-block;
                        padding-right: 1.125rem;
                        a {
                            &:visited {
                                color: $contrast_text;
                            }
                        }
                    }
                }
            }
            .site-footer__information {
                .site-footer__rights {
                    font-size: 1.375rem;
                    margin-bottom: 0;
                }
                .site-footer__address {
                    font-size: 1rem;
                    font-weight: normal;
                    margin: 0.125rem 0 0.375rem;
                }
                .site-footer__suppliers {
                    font-size: 1rem;
                    font-weight: normal;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.societyworks-footer {
    padding: 2em 0;
    background: #2e3033;
    color: rgba(255, 255, 255, 0.6);
    .container {
        p {
            margin: 0;
        }
    }
    .societyworks-footer__logo {
        display: inline-block;
        height: 0;
        overflow: hidden;
        padding-top: 24px;
        width: 115px;
        background-color: transparent;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 115px 24px;
        background-image: url("/cobrands/fixmystreet-uk-councils/images/societyworks-footer-logo.svg");
        vertical-align: -7px;
        margin-left: 0.5em;
    }
    .societyworks-footer__logo--fms-pro {
        padding-top: 23px;
        width: 123px;
        background-size: 123px 23px;
        background-image: url("/cobrands/fixmystreet-uk-councils/images/societyworks-footer-logo-fms-pro.svg");
        vertical-align: -7px;
    }
}
