@import "_colours";
@import "../sass/layout";

// Header

.header-search .site-search .form-control {
    // overrides from default .form-control
    @include border-radius(0);
    box-shadow: none;
    border: solid 1px #bfc1c3;
    display: inline-block;
}

.header-search .site-search .button {
    background-color: $button-colour;
    border: none;
}

// Navigation
// Style guide has navigation at top-of-HTML, not bottom

.nav-wrapper {
    display: none;
}

.navigation-primary-list {
    display: block;
}

.navigation-primary-list__item {
    margin-bottom: 0; // cancel default
    span { // display same as links
        display: block;
        padding: 0.75em 1em;
    }
    &:first-child span {
        padding-left: 0;
    }
}

// Front page

#front-main {
    padding: 2em 1em;
    background-color: $front_main_background;
    color: $primary_b;

    h1 {
        font-weight: bold;
        font-size: 3em;
    }
    h2 {
        font-weight: normal;
        font-size: 1.5em;
    }
    #postcodeForm {
        margin-top: 0;
        padding: 0;
    }

    a {
        color: $primary_b;
    }

    .front-main-other-issues-wrapper {
        padding: 1em;
        background: $bathens-cyan;
        max-width: 500px;
        margin: 1em auto;

        a {
            &:hover {
                color: $bathnes-navy;
                text-decoration: none;
            }
        }
    }
}

// Map page

.big-green-banner {
    text-transform: none;
}

body.mappage {
    #site-header {
        // So border bottom doesn't overlap map
        box-sizing: border-box;
    }
    .global-footer {
        display: none;
    }
}

// Help

body.twothirdswidthpage .content .sticky-sidebar aside {
    top: 12em;
}

// Stats homepage

#front_stats {
    border-color: $stats-colour;

    big {
        color: $stats-colour;
    }
}
