@import "_colours";
@import "../sass/layout";

// Header

.header-search .site-search .form-control {
    // overrides from default .form-control
    @include border-radius(0);
    box-shadow: none;
    border: solid 1px #bfc1c3;
    display: inline-block;
}

.header-search .site-search .button {
    background-color: $button-colour;
    border: none;
}

// Navigation
// Style guide has navigation at top-of-HTML, not bottom

.nav-wrapper {
    display: none;
}

.navigation-primary-list {
    display: block;
}

.navigation-primary-list__item {
    margin-bottom: 0; // cancel default
    span { // display same as links
        display: block;
        padding: 0.75em 1em;
    }
    &:first-child span {
        padding-left: 0;
    }
}

// Front page

#front-main {
    padding: 2em 1em;
    background-color: #fff;
    color: $primary_b;

    h1 {
        font-weight: bold;
        font-size: 3em;
    }
    h2 {
        font-weight: normal;
        font-size: 1.5em;
    }

    a {
        color: $primary_b;

        &:hover {
            text-decoration: none;
        }
    }

    .front-main-other-issues-wrapper {
        margin-top: 3em;
        margin-left: 0;
        margin-right: 0;
        border: 5px solid #6F777B;
        padding: 20px;
        margin-bottom: 50px;
        background: #ffffff;
        max-width: 100%;

        a {
            &:hover {
                color: $bathnes-navy;
                text-decoration: none;
            }
        }
    }
}

.postcode-form-box {
    padding-top: 0; // The UL above has a large margin bottom
}

// Map page

.big-green-banner {
    text-transform: none;
}

body.mappage {
    #site-header {
        // So border bottom doesn't overlap map
        box-sizing: border-box;
    }
    .global-footer {
        display: none;
    }
}

// Stats homepage

#front_stats {
    border-color: $stats-colour;

    big {
        color: $stats-colour;
    }
}
