/* COLOURS */

$menu-image: 'menu-black';

$primary: #E9E9EA;
$primary_b: #000000;
$primary_text: #3E3D44;

/* Unused here */
$base_bg: #fff;
$base_fg: #1a1a1a;
$map_nav_bg: #222;
$nav_fg: #fff;
$nav_fg_hover: #444;

$col_click_map: #E1E3E4;
$col_click_map_dark: darken(#E1E3E4, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
