/* COLOURS */

$primary: #E9E9EA;
$primary_b: #000000;
$primary_text: #3E3D44;

$col_click_map: #E1E3E4;
$col_click_map_dark: darken(#E1E3E4, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
