@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#mast,
#breadcrumb,
#page-title,
#column_nav,
#footer,
#bottomBar
{ display: none }

#site-header{
    @include background(none);
    background-color: white;
}
#site-logo {
    width: 240px;
    background: url('/cobrands/barnet/img/barnet-logo.gif') 0 0 no-repeat;
    top: 0.6em;
    left: 0.5em;
}

#front-main #postcodeForm div input#sub,
.green-btn,
button.green-btn,
input.green-btn,
.red-btn,
button.red-btn,
input.red-btn{
  @include button-reset;
  background: #5D6167;
  color: white;
}
