@import "_colours";
@import "../sass/layout";

#mast,
#breadcrumb,
#page-title,
#column_nav,
#footer,
#bottomBar {
    display: block;
}

// So that map appears underneath the header
.wrapper {
    position: relative;
}
.ie6, .ie7 {
    .wrapper {
        padding-top: 1em;
    }
}

#front-main {
    @include border-radius(1em 1em 0 0);
    margin-bottom: 1em;
    padding-top: 0;
    width: 678px;
    // layout sets this because base has it slightly lighter
    #front-main-container {
        padding: 1em;
    }
}

#front_intro {
    float: left;
    margin-right: 3em;
}

#front_recent {
    margin-left: 3em;
}

body.fullwidthpage {
    .content {
        width: 52em;
    }
}
.ie6 {
    body.fullwidthpage {
        #front-main {
            margin-top: -4em;
        }
        #front-howto,
        #front-recently {
            width: 26em;
        }
        .container {
            padding: 0;
        }
        .content {
            margin-left: 0px;
            width: 55em;
        }
        div.img {
            margin-top: -3.3em;
        }
    }
}

.content {
    @include box-shadow(none);
}

body.twothirdswidthpage {
    .content {
        width: 640px;
        margin-top: 0;
        .sticky-sidebar {
            display: none;
            aside {
                top: 25em;
            }
        }
    }
}

.nav-wrapper {
    display: none;
}

.mappage {
    #breadcrumb {
        margin-left: 0px;
    }
}

.frontpage .content {
    margin: 0;
}
.iel8 {
    .frontpage .content {
        border: none;
    }
}

#content .container h1 {
    border-bottom: none;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.shadow-wrap {
  position: static;
  padding-top: 0;
  margin-bottom: 1em;
  ul#key-tools {
    border-top: none;
    border-bottom: 1px solid $primary;
    li {
        a.chevron {
            background-position: right -3230px;
        }
        a.feed {
            background-position: right -3080px;
        }
        a.abuse {
            background-position: right -2940px;
        }
    }
  }
  ul#key-tools.singleton {
    li a {
        padding-right: 4em;
    }
  }
}

#content h1.big-green-banner {
    font-size: 1.4em;
    margin-left: -2em;
    background: #e1e3e4 url(/cobrands/fixmystreet/images/sprite.png) right -2192px no-repeat
}

body.frontpage {
    #user-meta {
        p {
            top: 1em;
            color: $primary_text;
            a {
                background: none;
            }
        }
    }
}
#user-meta {
    float: right;
    p {
        @include box-shadow(none);
        color: $primary_text;
        position: relative;
        background: none;
        a {
            color: $primary_text;
            background: none;
        }
        a:hover {
            background: $primary;
        }
    }
}
.ie6 {
    #user-meta {
        float: none;
        p {
            position: absolute;
            margin-top: 35px;
            margin-right: 20px;
            right: 0px;
            left: auto;
        }

    }
    .mappage {
        #user-meta {
            p {
                margin-right: -100px;
            }
        }
    }
}

/* barnet styles */

.clear {
    clear: both;
}

#site-header,
#site-logo {
    display: none !important;
}


#report-a-problem-sidebar {
    left: 29em;
    top: 4em;
    width: 17em;
    .sidebar-tips,
    .sidebar-notes {
        font-size: 0.9em;
    }
}
.ie6 {
    #report-a-problem-sidebar {
        margin-top: -4em;
        left: 29em;
        .sidebar-notes {
            padding-bottom: 0.5em;
        }
        p {
            margin-bottom: 0.4em;
        }
    }
}


.general-notes {
    font-size: 1em;
}

#front-howto #front_stats div big,
ol.big-numbers > li::before {
    color: #C0E8E8;
}

.banner {
    p {
        top: -2em;
    }
    p#fixed {
        padding-top: 4em;
    }
}


#map_box {
    border: 1px solid #999;
}
