		</div>
        </div>

		<!-- End of main content area -->

		

		<!-- Start of footer -->

		<div id="footer">
			<a href="http://www.southampton.gov.uk/council-partners/accesstoinfo/" class="accessInfo"><img alt="Access to Information" src="/cobrands/southampton/accessInfo.gif" /></a>
			<ul id="bottomMenu">
				<li><a href="http://www.southampton.gov.uk/tools/copyright.aspx">Copyright &copy; Southampton City Council 2009</a>|</li>
				<li><a href="http://www.southampton.gov.uk/tools/privacypolicy.aspx">Privacy</a>|</li>
				<li><a href="http://www.southampton.gov.uk/tools/disclaimer.aspx">Disclaimer</a>|</li>
				<li><a href="http://www.southampton.gov.uk/tools/sitestats.aspx">Site Statistics</a>|</li>
				<li><a href="http://www.southampton.gov.uk/living/emergency-planning/">Emergencies</a></li>
			</ul>
		</div>

		<!-- End of footer -->

	</div>
</body>
</html>
