<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--[if lt IE 7]><html class="ie6 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% lang_code %]" lang="[% lang_code %]"><![endif]-->
<!--[if IE 7]>   <html class="ie7 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% lang_code %]" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="ie8 oldie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% lang_code %]" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 8]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% lang_code %]" lang="[% lang_code %]"><!--<![endif]-->
<head>
    <link rel="stylesheet" type="text/css" href="[% version('/css/core.css') %]">
	<link rel="stylesheet" type="text/css" href="[% version('/cobrands/southampton/css/style.css') %]" />
	<link rel="stylesheet" type="text/css" href="[% version('/cobrands/southampton/css.css') %]" />

    [% INCLUDE 'common_header_tags.html', site_title = 'Southampton City Council FixMyStreet' %]
    <script type="text/javascript" src="[% version('/js/southampton.js') %]"></script>

</head>
<body>
	<ul id="topMenu">
		<li><a href="/#content">Skip to content</a>|</li>
		<li><a href="http://www.southampton.gov.uk/tools/accesskeys.aspx">Access keys</a>|</li>
		<li><a href="http://www.southampton.gov.uk/tools/accessibility.aspx">Accessibility Information</a>|</li>
		<li><a href="http://app.readspeaker.com/proreader/proreader.php?cid=5386&amp;lang=en_uk&amp;url=http://www.southampton.gov.uk" class="listen" onclick='window.open(this.href+"&amp;selhtml="+escape(selectedString), "prwin", "width=190, height=120, resizable=1, scrollbars=1, screenX=0, screenY=0, left=0, top=0"); return false;'>Listen</a>|</li>
		<li><a href="http://www.southampton.gov.uk/tools/help.aspx">Site help</a>|</li>
		<li><a href="http://www.southampton.gov.uk/tools/sitemap.aspx">Site map</a></li>
	</ul>
	<div id="wrapper">

		<!-- Start of header -->

		<div id="header">
			<img class="logo" alt="Southampton City Council Logo" src="/cobrands/southampton/SCClogo.png" />
			<a class="siteTitle" href="http://www.southampton.gov.uk">Southampton City Council</a>
			<div id="searchWrap">
				<form id="frmSearch" method="get" action="http://websearch.southampton.gov.uk/search">
					<fieldset>
						<label for="searchbox">Search the site<br /></label>
						<input class="text" type="text" value="" placeholder="Enter keywords" id="searchbox" name="q"/>
	                            		<input type="hidden" id="site" name="site" value="SouthamptonOnline"/>
			 			<input type="hidden" id="client" name="client" value="SouthamptonOnline"/>
			 			<input type="hidden" id="proxystylesheet" name="proxystylesheet" value="SouthamptonOnline"/>
			 			<input type="hidden" id="output" name="output" value="xml_no_dtd"/>
						<input class="button" type="submit" value="search" />
					</fieldset>
	            </form>
				<form id="whereILive" method="post" action="http://www.southampton.gov.uk/MySoton/default.aspx">
	                <fieldset>
						<label for="PostCode">Where I live
						<img class="moreInfo" src="/cobrands/southampton/information.gif" alt="Find information about where you live" title="Find information about where you live" /><br />
						</label>								
						<input id="PostCode" name="Postcode" class="text2" type="text" value="" placeholder="Enter street/postcode" />
						<input class="button" type="submit" value="go" />
					</fieldset>
				</form>

			</div>
			<ul id="topNav">
				<li><a href="http://www.southampton.gov.uk/online/">Do it online</a></li>
				<li><a href="http://www.southampton.gov.uk/customer-service/">Customer Services</a></li>
				<li><a href="http://www.southampton.gov.uk/business/">Business</a></li>
				<li><a href="http://www.southampton.gov.uk/s-environment/">Environment</a></li>
				<li><a href="http://www.southampton.gov.uk/learning/">Learning</a></li>
				<li><a href="http://www.southampton.gov.uk/s-leisure/">Leisure</a></li>
				<li><a href="http://www.southampton.gov.uk/living/">Living</a></li>
				<li><a href="http://www.southampton.gov.uk/council-partners/">Council/Partners</a></li>
				<li><a href="http://www.southampton.gov.uk/news-events/">News and events</a></li>
				<li><a href="http://www.southampton.gov.uk/visitors/">Visitors</a></li>
			</ul>
			<p class="atoz">A-Z of Council Services:</p>
			<ul id="atoz">
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=A">A</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=B">B</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=C">C</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=D">D</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=E">E</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=F">F</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=G">G</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=H">H</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=I">I</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=J">J</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=K">K</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=L">L</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=M">M</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=N">N</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=O">O</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=P">P</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=Q">Q</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=R">R</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=S">S</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=T">T</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=U">U</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=V">V</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=W">W</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=X">X</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=Y">Y</a></li>
				<li><a href="http://www.southampton.gov.uk/atoz/default.aspx?L=Z">Z</a></li>
			</ul>
			<ul id="contacts">
				<li><a href="http://www.southampton.gov.uk/customer-service/contact/">Contact us</a></li>
				<li><a href="http://map.southampton.gov.uk/gis/">location and maps</a></li>
			</ul>

		</div>

		<!-- End of header -->


		<!-- Start of menu bar -->

		<div id="menuBar">
			<ul id="leftMenu">
				<li class="parent"><a href="/">Fix My Street</a></li>
				<li class="selected"><a href="/">Report a problem</a></li>
				<li><a href="/reports/Southampton">All reports</a></li>
				<li><a href="/alerts">Local alerts</a></li>
				<li><a href="/faq">Help</a></li>
				<li><a href="http://www.southampton.gov.uk/customer-service/contact/">Contact</a></li>
			</ul>
		</div>


		<!-- End of menu bar -->


		<!-- Start of main content area -->

		<div id="contentArea">
            <div id="mysociety">
