#mysociety {
    clear: both;
}

#mysociety #postcodeForm {
    padding: 0.8em;
    background-color: #F3F4F4;
}

#mysociety .other-problems {
    margin: 2em 8em 0em 8em;
    font-weight: bold;
}

#mysociety #postcodeForm label {
    float: none;
    margin-bottom: 5px;
    width: auto !important;
}

#mysociety p {
    margin: 1em 0px;
    padding: 0px;
}

#mysociety #update_form {
    clear: both;
}

#mysociety #form_sign_in {
    padding-top: 2em;
}

#mysociety form label {
    width: 6em;
    display: inline;
    margin-right: 0px;
}

#mysociety div.checkbox {
    padding-left: 6.5em;
}

#mysociety textarea,
#mysociety input {
    background-color: #f9f9f1;
    margin: 4px;
}

#mysociety #fileupload_normalUI input {
    background-color: white;
}

#mysociety input[type='submit']{
    border: 0px;
    color: white;
    padding: 3px;
    vertical-align: top;
    font:150%/1.4em "Trebuchet MS", Helvetica, Arial, Sans-serif;
    background:url(http://www.lichfielddc.gov.uk/site/styles/css_img/nav-bg.png) top repeat-x;
}

#mysociety #expl small {
	position: relative;
	top: 6px !important;
	}

#mysociety h2 {
    background: transparent url(http://www.lichfielddc.gov.uk/site/styles/css_img/lilac-dotted-border.png) bottom repeat-x;
    padding:0 0 7px 0 !important;
    margin: 22px 0 14px 0 !important;
    font-size:1.4em;
	}
	
#mysociety #front_stats div {
	background-color: #f5f5f5;
	padding: 5px;
	}
	
#mysociety #front_stats {
	padding: 0 65px;
	}
	
#mysociety #front_stats div big {
	margin-bottom: 4px;
	}
	
#nav {
	font-size: 1em;
	margin: 0 0 30px 0 !important;
	background: transparent url(/cobrands/lichfielddc/i/bg_header.gif) left repeat-x !important;
	clear: both;
	width: 100%;
	float: left;
	border: 1px solid #ccc;
	padding: 0;
	}	

#nav li {
	float: left !important;
	list-style-type: none !important;
	list-style-image: none !important;
	border-right: 1px solid #ccc;
	padding: 0;
	}
	
#nav li a {
	border: none !important;
	color: #111;
	font-weight: bold;
	padding: 8px 12px !important;
	display: block;
	}
	
#nav li a:hover {
	border-bottom: 1px solid #111;
	background: transparent url(/cobrands/lichfielddc/i/bg_header2.gif) left repeat-x !important;
	}
	
#mysociety #fixed {
	padding: 5px !important;
	margin: 70px 0 10px 0 !important;
	width: 405px;
	position: relative;
	top: 7px
	}
	
#mysociety p[style] {
	border: none !important;
	}
	
#mysociety #updates div {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 17px 0;
	margin: 17px 0 0 0;
}

#mysociety #updates {
	margin-bottom: 40px;
	}
	
#mysociety #updates p {
	margin-bottom: 15px;
	}
	
#map_box ul li p {
	margin: 0;
	padding: 0;
}
	
#mysociety input[type='text'], #mysociety input[type='password'], #mysociety input[type='email'] {
	background: #F9F9F1;
	border: 1px solid #666 !important;
	padding: 5px;
	}
	
#mysociety input[type='text']:focus, #mysociety input[type='password']:focus, #mysociety input[type='email']:focus {
	border:1px solid #000000;
	outline:2px solid #98339B;
	}

div#suggest {
	border: none !important;
	}

ul.user {
  list-style-type: none;
  font-size: 80%;
  float: right;
}
