/* COLOURS */

$header_darker: #0a3f6f;

$bg: #1a4f7f;

$primary: #99bfe1;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: $bg;
$base_fg: #fff;

$nav_background_colour: $bg;
$nav_colour: #fff;
$nav_hover_background_colour: $primary;

$col_click_map: $bg;
