/* COLOURS */

$header_darker: #0a3f6f;

$bg: #1a4f7f;

$primary: #99bfe1;
$primary_b: #000000;
$primary_text: #222222;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$base_bg: $bg;
$base_fg: #fff;

$nav_background_colour: $bg;
$nav_colour: #fff;
$nav_hover_background_colour: $primary;

$col_click_map: $bg;

$front-main-background-desktop: $primary;
$postcodeform-background:$primary;
$dropzone-frontpage-white-background-desktop: true;
