$header_back: #99bfe1;
$header_back_lighter: #a9cff1;
$header_colour: #1a4f7f;
$header_darker: #0a3f6f;

// Overrides of core.css

#mysociety {

    #front_stats div {
        width: 6.5em;
    }

    label {
        width: 6em;
    }

    .fieldset div.checkbox, #problem_submit {
        padding-left: 6.5em;
    }

}

@import "../../css/main-import";

// Overrides of main.css

body {
    font-family: Helmet, Freesans, "Helvetica Neue", Arial, sans-serif;
}

a {
    &:link { color: #215d93; }
    &:visited { color: #518dc3; }
    &:hover, &:active { color: #cc0000; }
}

#header {
    padding: 0.1em 0.5em 0.15em;
}

