@import "_colours";
@import "../sass/layout";

#main-nav {
  display: block; // remove flex so nav touches top of parent
  min-height: 0; // no vertical align, so no need for a height
  margin-top: 0; // don't bother overlapping the border
}

.nav-menu--mysoc {
  padding: 0em 0.5em;
  margin-#{$left}: 0.25em;
  background-color: $primary;
  @include border-radius(0 0 0.375em 0.375em);
  a {
    background-color: transparent;
    color: $primary_text;
    text-transform: uppercase;
    font-size: 0.6875em;
    padding: 1.3em 0.7em 1em;
    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }
}

body.frontpage {
  #site-logo {
    margin: 2em 0;
    width: 300px;
    height: 60px;
    background: transparent url('images/homepage-logo.png') 0 50% no-repeat;
  }
}
