@import "_colours";
@import "../sass/layout";

.nav-menu--mysoc {
  padding: 0em 0.5em;
  margin-#{$left}: 0.25em;
  background-color: $primary;
  @include border-radius(0 0 0.375em 0.375em);
  a {
    background-color: transparent;
    color: $primary_text;
    text-transform: uppercase;
    font-size: 0.6875em;
    padding: 1.3em 0.7em 1em;
    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }
}

body.frontpage {
  #site-logo {
    top: 3em;
    width: 300px;
    height: 60px;
    background: url($image-sprite) -2px -108px no-repeat;
  }
}
