</div>
</div>

<h2 class="v">[% loc('Navigation') %]</h2>
<ul id="navigation">
<li><a href="/">[% loc("Report a problem") %]</a></li>
<li id="nav_new"><a href="/my">[% loc("Your reports") %]</a></li>
<li><a href="/reports/Reading">[% loc("All reports") %]</a></li>
<li><a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]">[% loc("Local alerts") %]</a></li>
<li><a href="/faq">[% loc("Help") %]</a></li>
</ul>

		<div style="clear:both"></div>
	</div>
	<div class="footer">
		<div class="contact">
			<p class="title">Contact</p>
			<address>
				Reading Borough Council<br />
				Civic Centre<br />
				Reading<br />
				RG1 7AE
			</address>	
			<div class="phone">
				<p>Phone: 0118 937 3737<br />Text: 81722</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>

<!-- START OF eVisitAnalyst CODE -->
<script language="JavaScript" type="text/javascript">
var ID_section_15243615 = "";//Place section here.
var ID_tt_15243615 = "t";
var ID_uid_15243615 = "23137";
</script>
<script src="http://extra.evisitanalyst.com/eva.js" type="text/javascript"></script>
<script src="http://extra.evisitanalyst.com/tag/evatrackclick.js" type="text/javascript"></script>
<noscript>
    <img src="http://extra.evisitanalyst.com/eva51/collect/?userid=23137&tt=t"
    border="0" alt="eVisit" width="1" height="1">
</noscript>
<!-- END OF eVisitAnalyst CODE -->

</body>
</html>
