</div>
</div>

<h2 class="v">[% loc('Navigation') %]</h2>
<ul id="navigation">
<li><a href="/">[% loc("Report a problem") %]</a></li>
<li id="nav_new"><a href="/my">[% loc("Your reports") %]</a></li>
<li><a href="/reports/Reading">[% loc("All reports") %]</a></li>
<li><a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]">[% loc("Local alerts") %]</a></li>
<li><a href="/faq">[% loc("Help") %]</a></li>
</ul>

<div id="footer">
    <p>[% loc('Built by <a href="http://www.mysociety.org/">mySociety</a>') %]
    | <a href="/contact">[% loc("Contact FixMyStreet") | replace(' ', '&nbsp;') %]</a></p>
[% loc('<a href="http://www.mysociety.org/"><img id="logo" width="133" height="26" src="/i/mysociety-dark.png" alt="View mySociety.org"><span id="logoie"></span></a>') %]
</div>
        <!-- start of footer -->   
	    <div style="clear:both"></div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="footer">
		<div class="contact">
			<p class="title">Contact</p>
			<address>
				Reading Borough Council<br />
				Civic Centre<br />
				Reading<br />
				RG1 7AE
			</address>	
			<div class="phone">
				<p>Phone: 0118 937 3737<br />Text: 81722</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
</body>
</html>
