[%

USE date;
USE Math;

scripts = [];

scripts.push(
    start _ "/js/translation_strings." _ lang_code _ ".js?" _ Math.int( date.now / 3600 ),
    version('/jslib/jquery-1.7.2.min.js'),
    version('/js/validation_rules.js'),
    version('/vendor/jquery.validate.min.js'),
    version('/vendor/dropzone.min.js'),
    version('/js/jquery.multi-select.js'),
    version('/vendor/geo.min.js'),
    version('/cobrands/fixmystreet/fixmystreet.js'),
);

IF c.user_exists AND (c.user.from_body OR c.user.is_superuser);
    scripts.push(
        version('/cobrands/fixmystreet/staff.js')
    );
END;

FOR script IN map_js;
    scripts.push(script);
END;

scripts.push(
    version('/cobrands/fixmystreet/map.js'),
    version('/cobrands/fixmystreet/offline.js'),
);

IF admin;
    scripts.push(
        version('/vendor/jquery-ui/js/jquery-ui-1.10.3.custom.min.js'),
        version('/cobrands/fixmystreet/admin.js'),
    );
END;

FOR script IN extra_js;
    scripts.push(script);
END;

TRY;
    PROCESS 'footer_extra_js.html';
CATCH file;
END;

~%]
