[% IF c.config.STAGING_SITE and c.config.SHOW_DEBUG %]

<hr style="clear: both;">

<ul>
    <li>cobrand.moniker:           [% c.cobrand.moniker %]</li>
    <li>additional_template_paths: [% additional_template_paths.join(', ') || '--empty--' %]</li>
    <li>lang_code:                 [% lang_code %]</li>
    <li>user.id:                   [% c.user.id || '--not logged in--' %]</li>
</ul>

<style type="text/css">
    #overrides_form {
        font-size: 80%;
    }
    #overrides_form label {
            float: left;
            text-align: right;
            padding-right: 0.5em;
            width: 12em;
    }

</style>

<!-- Use a post so that we don't clutter up the url -->
<form action="" method="post" id="overrides_form" name="overrides_form">

    <label for="_override_clear_all">Clear all overrides:</label>
    <input type="checkbox" name="_override_clear_all" id="_override_clear_all" value="1"><br>

    [% FOREACH k IN ['cobrand_moniker', 'lang'] %]
        <label for="override_[% k %]">[% k %]:</label>
        <input type="text" name="_override_[% k %]" id="override_[% k %]" value="[% c.get_override(k)%]"><br>
    [% END %]

    <label>&nbsp;</label><input type="submit" value="Change overrides">
</form>

[% END %]

