[%
    RETURN IF ajax_loading;
    SET html_att = ' lang="' _ lang_code _ '"';
    # For a right-to-left language, use the following line in your own header:
    # SET html_att = html_att _ ' dir="rtl"';
-%]
<!doctype html>
<!--[if IE 9]>   <html class="no-js ie9"[% html_att | safe %]><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"[% html_att | safe %]><!--<![endif]-->
    <head>
        [% INCLUDE 'common_header_tags.html' %]
    </head>
    [% TRY %][% PROCESS 'set_body_class.html' %][% CATCH file %][% END %]
    <body class="[% bodyclass | html IF bodyclass %]">

        <a class="skiplink" href="#content">[% loc('Skip to main content') %]</a>

    [% INCLUDE 'debug_header.html' %]
    [% TRY %][% PROCESS 'before_wrapper.html' %][% CATCH file %][% END %]

    <div class="wrapper">
        <div class="table-cell">
            [% INCLUDE 'header_site.html' %]

            [% TRY %][% INCLUDE 'secondary_navbar.html' %][% CATCH file %][% END %]

            <a name="content"></a>
            [% pre_container_extra | safe %]


            <div class="container[% IF sidebar %] container--sidebar[% END %]">
              [% IF sidebar %]
                [% INCLUDE $sidebar %]
              [% END %]
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">
