<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 iel8" lang="[% lang_code %]"><![endif]-->
<!--[if IE 7]>   <html class="no-js ie7 iel8" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="no-js ie8 iel8" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="[% lang_code %]"><!--<![endif]-->
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

        [% INCLUDE 'header_opengraph.html' %]

        <link rel="stylesheet" href="[% version('/css/core.css') %]">

        [% INCLUDE 'common_header_tags.html' %]
                
    </head>
    <body>

<div id="wrapper"><div id="wrapper2"><div id="wrapper3">

        [% IF NOT title AND NOT c.req.path %]<h1 id="header" role="banner">[% ELSE %]<div id="header" role="banner"><a href="/">[% END
            %][% loc('FixMyStreet') %]
        [%- IF NOT title AND NOT c.req.path %]</h1>[% ELSE %]</a></div>[% END %]

          [% IF c.user_exists %]
            <div id="user-meta">
                <p>
                    [% tprintf(loc('Hi %s'), c.user.name || c.user.email) %]
                    <a href="/auth/sign_out">[% loc('sign out') %]</a>
                </p>
            </div>
          [% END %]

            [% pre_container_extra %]

    <div id="mysociety" class="container" role="main">

    [% INCLUDE 'debug_header.html' %]
