        [% IF problem.photo %]
        [% photo = problem.photos.first %]
        [% data = problem.get_first_image_og %]
        <meta property="og:image" content="[% c.cobrand.base_url %][% photo.url_og %]">
        <meta property="og:image:type" content="[% data.content_type %]">
        <meta property="og:image:width" content="[% data.width %]">
        <meta property="og:image:height" content="[% data.height %]">
        [% ELSE %]
        [% IF file_exists("web/cobrands/" _ c.cobrand.moniker _ "/images/fms-og_image.jpg");
            SET og_moniker = c.cobrand.moniker;
          ELSE;
            SET og_moniker = 'fixmystreet';
          END;
        %]
        <meta property="og:image" content="[% c.cobrand.base_url %]/cobrands/[% og_moniker %]/images/fms-og_image.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        [% END %]
