[% rendered_site_message = 0 %]
[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% SET bodyclass = 'frontpage' %]
[% INCLUDE 'header.html', title = '', inline_css = 1 %]

[% IF gone_error %]
    <p class="form-error">[% gone_error %]</p>
[% END %]

[% PROCESS 'front/site-message.html' %]

[% TRY %][% INCLUDE "front/pre-columns.html" %][% CATCH file %][% END %]

<div class="tablewrapper">
    <div id="front-howto">
      [% TRY %][% INCLUDE "front/pre-steps.html" %][% CATCH file %][% END %]
        [% INCLUDE 'index-steps.html' %]
      [% TRY %][% INCLUDE "front/post-steps.html" %][% CATCH file %]
        <section class="full-width">
            [% INCLUDE "front/stats.html" %]
            [% TRY %][% INCLUDE "front/tips.html" %][% CATCH file %][% END %]
        </section>
      [% END %]
    </div>

    [% INCLUDE 'front/recent.html' %]
</div>

[% INCLUDE 'footer.html' pagefooter = 'yes' %]
