[% IF pager.total_entries > 1 %]
    <p class="pagination" data-page="[% pager.current_page %]">
        [% IF pager.previous_page %]
            <a class="prev" href="[% c.uri_with({ $param => pager.previous_page, ajax => undefined }) %][% '#' _ hash IF hash %]">[% loc('Previous') %]</a>
        [% END %]

        [% tprintf( loc('%d to %d of %d'), pager.first, pager.last, pager.total_entries ) %]

        [% IF pager.next_page %]
            <a class="next" href="[% c.uri_with({ $param => pager.next_page, ajax => undefined }) %][% '#' _ hash IF hash %]">[% loc('Next') %]</a>
        [% ELSIF page == 'around' AND num_old_reports > 0 AND NOT show_old_reports %]
            <a class="next show_old" href="[% c.uri_with({ $param => pager.current_page, show_old_reports = 1, ajax => undefined }) %][% '#' _ hash IF hash %]">[% loc('Show older') %]</a>
        [% END %]
    </p>
[% END %]
