[%

color_blue = '#001aa8'
color_black = '#000000'
color_white = '#FFFFFF'
color_tfl_grey = '#414b56'
color_tfl_pale_blue = '#eff6fd'

body_background_color = color_tfl_pale_blue
body_text_color = color_tfl_grey

header_background_color = color_blue
header_text_color = color_white

secondary_column_background_color = color_white

button_background_color = color_blue
button_text_color = color_white

logo_width = "220" # pixel measurement, but without 'px' suffix
logo_height = "86" # pixel measurement, but without 'px' suffix
header_padding = "10px 20px"

%]
