<div class="mysoc-footer" role="contentinfo">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <h2 class="mysoc-footer__site-name">FixMyStreet Platform</h2>
                <div class="mysoc-footer__site-description">
                    <p>Open source report-mapping software that can be deployed anywhere in the world. Most commonly used for reporting street issues to councils, but flexible enough to fit any project that matches geographical points to email addresses.</p>
                </div>
            </div>

            <div class="col-sm-1">&nbsp;</div>

            <div class="col-sm-3">
                <nav class="mysoc-footer__links">
                    <ul>
                        <li role="presentation"><a href="{{ "/install/" | relative_url }}">Install</a></li>
                        <li role="presentation"><a href="{{ "/overview/" | relative_url }}">Documentation</a></li>
                        <li role="presentation"><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
                        <li role="presentation"><a href="{{ "/community/" | relative_url }}">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-3">
                <div class="mysoc-footer__donate">
                    <p>Your donations keep this site and others like it running</p>
                    <a href="https://www.mysociety.org/donate?utm_source=fixmystreet.org&utm_content=footer+donate+now&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>

        </div>
        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="col-sm-5">
                <div class="mysoc-footer__orgs">
                    <p class="mysoc-footer__org">
                        Built by
                        <a href="https://www.mysociety.org?utm_source=fixmystreet.org&utm_content=footer+logo&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mysoc-footer__legal">
                    <p>mySociety Limited is a project of UK Citizens Online Democracy, a registered charity in England and Wales. For full details visit <a href="https://www.mysociety.org?utm_source=fixmystreet.org&utm_content=footer+full+legal+details&utm_medium=link&utm_campaign=mysoc_footer">mysociety.org</a>.</p>
                </div>
            </div>

            <div class="col-sm-3">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="https://github.com/mysociety/fixmystreet" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                    <li role="presentation"><a href="https://www.twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                    <li role="presentation"><a href="https://www.facebook.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
