/* COLOURS */

$color-oxfordshire-dark-green: #00483a;
$color-oxfordshire-bright-green: #50B948;
$color-oxfordshire-pale-green: #f6fcf0;
$color-oxfordshire-pale-grey-green: #e0e5da;
$color-oxfordshire-bright-blue: #0e73d8; // used for buttons backgrounds
$color-oxfordshire-bright-orange: #EA6C18; // used for a:hover text color
$color-oxfordshire-bright-yellow: #edc856; // used for a:focus background

$primary: $color-oxfordshire-bright-green;
$primary_b: $color-oxfordshire-dark-green;
$primary_text: #fff;

$base_bg: #fff;
$base_fg: #000;

$map_nav_bg: $color-oxfordshire-dark-green;
$nav_fg: #fff;
$nav_fg_hover: #444;

$col_click_map: $color-oxfordshire-bright-green;

$col_fixed_label: $color-oxfordshire-bright-green;
$col_fixed_label_dark: mix(#000, $color-oxfordshire-bright-green, 50%);

$itemlist_item_background: $color-oxfordshire-pale-green;
$itemlist_item_background_hover: #fff;

$body-font: "Open Sans", Arial, Helvetica, "DejaVu Sans Condensed", "DejaVu Sans", sans-serif;;
$heading-font: $body-font;
$meta-font: $body-font;

$pin_prefix: '/cobrands/oxfordshire/images/';
