/* COLOURS */

$color-oxfordshire-dark-green: #00483a;
$color-oxfordshire-bright-green: #50B948;
$color-oxfordshire-pale-green: #f6fcf0;
$color-oxfordshire-pale-orange: #feead2;
$color-oxfordshire-pale-grey-green: #e0e5da;
$color-oxfordshire-bright-blue: #0e73d8; // used for buttons backgrounds
$color-oxfordshire-bright-orange: #EA6C18; // used for a:hover text color
$color-oxfordshire-bright-yellow: #edc856; // used for a:focus background

$color-oxfordshire-link-blue: #0a549d;

$primary: $color-oxfordshire-bright-green;
$primary_b: $color-oxfordshire-dark-green;
$primary_text: #fff;

$link-color: $color-oxfordshire-link-blue;
$link-hover-color: $color-oxfordshire-bright-yellow;

$base_bg: #cfcfcf;
$base_fg: #333;

$nav_background_colour: $color-oxfordshire-dark-green;
$nav_colour: #000;
$nav_hover_background_colour: $nav_colour;

$col_click_map: $color-oxfordshire-bright-green;

$col_fixed_label: $color-oxfordshire-bright-green;

$itemlist_item_background: #fff;
$itemlist_item_background_hover: #e0e2e5;

$body-font: "Open Sans", sans-serif;;
$heading-font: "Fira Sans", sans-serif;
$meta-font: $body-font;

$header-top-border: false;

$form-control-border-color: #525252;

$pin_prefix: '/cobrands/oxfordshire/images/';
