/* COLOURS */

$oxfordshire_dk_green: #114500;
$oxfordshire_lt_green: #339E00;

$primary: $oxfordshire_lt_green;
$primary_b: $oxfordshire_dk_green;
$primary_text: #fff;

$base_bg: #fff;
$base_fg: #000;

/* Unused here */
$map_nav_bg: #222;
$nav_fg: #fff;
$nav_fg_hover: #444;

$col_click_map: $oxfordshire_lt_green;
$col_click_map_dark: $primary_text;

$col_fixed_label: $oxfordshire_lt_green;
$col_fixed_label_dark: $primary_text;

// Oxfordshire have toasty orange buttons

$oxfordshire_button_base: #F35A0E;
$oxfordshire_button_top: #EC6816;
$oxfordshire_button_bottom: #FE4602;
$oxfordshire_button_border: #CCC;
