/* Parts of oxfordshire's main CSS needed for its header/footer and adjusted (see
 * bottom) to not be affected by main FixMyStreet CSS. Not very sustainable;
 * perhaps we should wrap all council CSS within a SCSS #council ID? Hmm.
 */

 @import "_colours";


body {
  font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
  line-height:18px;
  a:not(.btn), a:visited:not(.btn) {text-decoration:none; color:$oxfordshire_link_colour}
  a { font-size: 1em; } // mySociety
  a:hover {text-decoration:underline}
  margin:0;
  background:#E0E0E0 url("images/bg.jpg") repeat-y top center;
}

#oxford-wrapper {
    background: url("images/bg-y.jpg") repeat-y scroll 0 0 #FFFFFF;
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0 8px;
    width: 990px;
}

#oxford-header {
  padding:0 16px 7px 16px;
  clear:both;
  overflow:hidden;
  position:relative;
  width:958px;
  min-height: 133px;

  background: $oxfordshire_lt_green url("images/header.jpg") no-repeat 0 0;

  a.logo:hover {cursor:pointer;cursor:hand}
  a.logo {
    float:left;
    margin:3px 0 6px 10px;
    width:173px;
    height:38px;
    background: url("images/logo.jpg") no-repeat 0 50%;
    text-indent: -999999px;
  }

  h1 {
    float:left; padding:8px 0 0 10px; margin:0; font-size:1.25em; line-height:normal;
    font-weight:bold; color:#ffffff; white-space:nowrap;font-family:"Trebuchet MS",Tahoma,Arial,sans-serif;
  }
  span.header {
    float:left; padding:8px 0 0 10px; margin:0; font-size:1.25em; line-height:normal; font-weight:bold;
    color:#ffffff; white-space:nowrap
  }
  a {
    color:#ffffff;
  }
  #oxford-links {
    padding: 10px 3px 0px 0px; float:right;color:#ffffff;
    a {
      font-size:0.75em; // mySociety putting this back (switched off in body)
      margin: 0px 5px 0px 5px
    }
  }
}

#oxford-main-menu {
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 1em;
  position: relative;
  ul {
    margin: 0 0 0 330px;
    position: relative;
    li {
      margin: 0;
      list-style-type: none;
      float:left;
      width:126px;
      text-align:center;
      background: #e0e0e0;
      padding: 8px 0;
      margin: 0 0 0 2px;
    }
  }
  // from occ.css (client site): #main .view-features-for-homepage ul.tabs
  ul.tabs {
    float:left;
    position:relative;
    padding:0;
    margin:0.5em 0 0 0;
    z-index:10;
    width: 990px;
    //width:635px;
    min-height:32px;
    overflow:hidden;
    clear:both;
    background: #939393 url("images/tabs-featured.png") repeat 0 0;
    li {
      float:left;
      padding:0 0 0px 1px;
      margin:0;
      font:0.813em/27px "Trebuchet MS";
      color:#ffffff;
      height:32px;
      background: #666 url("images/divider1x32.png") no-repeat 0 0;
    }
    li.first {padding:0; background:none}
    span, // mySociety
    a {
      display:block;
      position:relative;
      padding:8px 0 0 0;
      font:bold 1em "Trebuchet MS";
      height:24px;
      color:#ffffff;
      text-align:center;
      background: #939393 url("images/tabs-featured.png") repeat-x 0 0;
      white-space:nowrap;
    }
    a:hover,
    a:focus {
      background: none #EA6C18;
      background:-moz-linear-gradient(100% 100% 90deg, #ff4401, #EA6C18);
      background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#EA6C18), to(#ff4401));
      color: #ffffff;
    }
    li span, // mySociety
    li.active a {
      text-decoration:none;
      background: #4c4c4c url("images/tabs-featured-on.png") repeat-x 0 0;
    }
    li.active a:hover,
    li.active a:focus {color: #ffffff;}
    li.first a {}
    li.last a {border-right:1px solid #666;}
    a {padding:8px 0 0 0;}
  }
}

#oxford-footer {
  float:left;
  display:inline;
  margin:0 -8px 0 -8px;
  padding:10px 25px 30px 21px;
  clear:both;
  overflow:hidden;
  width:960px;
  background:#000000 url(images/footer.jpg) no-repeat bottom left;
  address {float:left; padding:11px 0 0 0; margin:0; color:#989898; font:0.813em arial}
  a {font:1em arial; color:#ffffff; margin:0px 5px 0px 5px}
  address a {font:1em arial; color:#ffffff; margin:0px 0px 0px 0px}
  ul {float:right; padding:5px 0 0 55px; margin:0}
  ul li {float:left; padding:0; font:0.813em/27px arial; color:#ffffff; overflow:hidden}
  /* contact-the-team */
  li {
    margin-left: 0.5em;
    padding: 6px;
    &.powered-by-fms {
      // @include border-radius(6px);
      min-width: 200px;
      img {
        display: inline;
        height:20px;
        width: 105px;
      }
      &:hover {
        background-color:#2c2c2c;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

 /* ---------------------------------------------------------------------------------
    oxfordshire nav menubar from e.g.,
    http://fisd.oxfordshire.gov.uk/kb5/oxfordshire/fsd/includes/css/wireframe/navbar.css
  ---------------------------------------------------------------------------------*/

#navigation {
  position: absolute;
  left: 0;
  top: 90px;
  .menubar {
    width: 972px;
    padding: 0 0 0 18px;
    border-top: 1px solid #004300;
    font-size: 13px; /*  explicit; it was implicit from OCC's styles */
    color: #999999;
    overflow: visible;
    /*width: @gridWidth; only needed for contained menu*/
    display: inline-block;
    z-index: 100;
    .menu-inner {
      background-color: #004300;
      background-repeat: repeat-x;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
      .menu {
        left: 0;
        margin: 0 10px 0 0;
        padding: 0;
        position: relative;
        list-style: none outside none;
        > li {
          list-style: none outside none;
          float: left;
          > a, > span {
            color: #ffffff;
            float: none;
            line-height: 19px;
            padding: 10px 10px 11px;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            display: block;
            text-decoration: none;
            &:hover {
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
  .menubar-fixed-top {
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1000;
  }
}
