@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#site-header {
  background: none;
  background-color: $oxfordshire_dk_green;
  height: 60px;
}

#site-logo {
  margin-top:4px;
  background-image: url('/cobrands/oxfordshire/images/logo.jpg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: 4px solid $oxfordshire_dk_green;
  width: 173px;
  height: 38px;
}

#nav-link {
  height: 60px; // to match #site-header
}

#main-nav ul#mysoc-menu li a#mysoc-logo {
  background-image: none;
  text-indent: 0;
  img {
    display: inline;
    height: 20px;
    width: 105px;
  }
}

.oxfordshire-preamble {
    background: #E0E0E0;
    margin: 0em auto 1em auto;
    padding: 1em 1em 0.5em 1em;
}

dd, p {
  line-height: 1.4em;
}

// TODO: Should this be applied to the base base stylesheet, to prevent possible similar issues in other cobrands?
#sub_map_links {
  line-height: 1em;
}

.council_info_box {
  border-top: 1px solid #ccc;
  padding: 1em;
  margin: 0 -1em -1em -1em; // counteract 1em padding on sidebar without using .full-width which sets an explicit width

  h3 {
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 0.5em 0;
  }

  p {
    color: #666;
    margin: 0 0 0.5em 0;
    font-size: 0.9em;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
