@import "../fixmystreet/_h5bp";
@import "./_colours";
@import "../fixmystreet/_mixins";
@import "compass";

@import "../fixmystreet/_base";


// Colour tab to match colour scheme
#nav-link {
  width: 50px;
  height: 48px;
  background: url('/cobrands/oxfordshire/images/tab-green.png') 0 0 no-repeat;
}