@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";
@import "../sass/report_list_pins";

#site-logo {
  background: transparent url('images/logo.jpg') 0 50% no-repeat;
  width: 173px;
  height: 38px;
  padding: 0.5em 0;
}

#mysoc-logo {
  background-image: none;
  background-color: $primary;
  color: #fff;
  text-indent: 0;
  img {
    display: inline;
    height: 20px;
    width: 105px;
  }
}

.oxfordshire-preamble {
    background: #E0E0E0;
    margin: 0em auto 1em auto;
    padding: 1em 1em 0.5em 1em;
}

dd, p {
  line-height: 1.4em;
}

.council_info_box {
  border-top: 1px solid #ccc;
  padding: 1em;
  margin: 0 -1em -1em -1em; // counteract 1em padding on sidebar without using .full-width which sets an explicit width

  h3 {
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 0.5em 0;
  }

  p {
    color: #666;
    margin: 0 0 0.5em 0;
    font-size: 0.9em;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  .segmented-control + & {
    margin-top: 1em;
  }
}

#side-inspect {
  background-color: mix(#fff, $primary, 85%);
}

#front-main #postcodeForm div input#sub,
.green-btn,
button.green-btn,
input.green-btn,
.btn-primary {
    @include button-reset(
        $color-oxfordshire-bright-blue, $color-oxfordshire-bright-blue, $color-oxfordshire-bright-blue, #fff,
        darken(#0e73d8, 15%), darken(#0e73d8, 15%), darken(#0e73d8, 15%), #fff
    );
    @include box-shadow(
        inset 0 -4px 0 darken(#0e73d8, 15%),
        0 2px 4px 0 rgba(26, 26, 26, 0.2)
    );
    border: none;
    padding: 0.7em 1em 0.85em 1em;
}

.form-txt-submit-box input[type="submit"] {
    padding: 0.7em 1em 0.85em 1em;
}

input[type="tel"],
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="url"],
textarea {
    padding: 0.7em;
}

.box-warning {
    background-color: mix(#fff, $primary, 85%);
}

.extra-text {
  padding: 1em;
  margin: 0 -1em;
  border-bottom: 1px solid $color-oxfordshire-pale-grey-green;

  p:last-child {
    margin-bottom: 0;
  }
}

@media print {
    body {
        background-color: #fff !important;
    }

    .mappage #oxford-header,
    .mappage #side > .extra-text {
        display: none !important;
    }
}
