@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";
@import "../sass/report_list_pins";

body {
    background-color: $base_bg;
}

#oxford-wrapper {
    max-width: 75em;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
}

a:not([class]):focus {
    background-color: $color-oxfordshire-bright-yellow;
    outline: 2px solid $color-oxfordshire-bright-yellow;
}

.form-control,
.postcode-form-box input#pc {
    border-radius: 0;
    box-shadow: none;

    border: 1px solid $form-control-border-color;
    color: $form-control-border-color;
    font-size: 16px;
    font-weight: 400;

    &:focus {
        outline: 2px solid $color-oxfordshire-bright-yellow;
        border: 1px solid $color-oxfordshire-bright-yellow;
    }
}

#site-header {
    border-bottom: 4px solid $color-oxfordshire-bright-green;
    padding: 10px 0;
}

#site-logo {
    background-image: url("/cobrands/oxfordshire/images/site-logo-mobile.svg");
    background-color: $nav_background_colour;
    background-size: 175px 38px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 175px;
    height: 0;
    padding-top: 48px;
    overflow: hidden;
    text-indent: 0;
    margin: 0 -5px;
}

#nav-link {
    #{$right}: 0.5em;
}

.oxfordshire-preamble {
    background: $color-oxfordshire-pale-orange;
    margin: 1em;
    padding: 1em;
}

#front-main {
    h1 {
        font-weight: 700;
    }
}

.postcode-form-box {
    label {
        font-family: $heading-font;
        font-size: 20px;
        font-weight: 500;
    }

    div {
        border: none;

        font-size: 1.25em;
        margin-top: 0.5em;
        max-width: 24em;
    }

    input#pc {
        margin: 0 0.5em 0 0;
    }
}

#front_stats {
    border-top: none;
    margin-bottom: 1.5em;
}

ol.big-numbers {
    li {
        font-weight: 400;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;

        & > :before {
            color: #656d80;
        }
    }
}

.frontpage {
    .item-list__item img {
        display: none;
    }

    .content h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.2em;
        border-bottom: 1px solid $color-oxfordshire-dark-green;
        margin-bottom: 1em;
        padding-bottom: 5px;
    }

    // Overloaded selector, to override `.content h2`
    h2.search-help__header {
        margin-bottom: 0;
        padding-bottom: 1rem;
        font-size: 1em;
    }
}

dd, p {
  line-height: 1.4em;
}

.council_info_box {
  border-top: 1px solid #ccc;
  padding: 1em;
  margin: 0 -1em -1em -1em; // counteract 1em padding on sidebar without using .full-width which sets an explicit width

  p {
    margin: 0 0 0.5em 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  .segmented-control + & {
    margin-top: 1em;
  }
}

#side-inspect {
  background-color: mix(#fff, $primary, 85%);
}

// We want OCCLSS buttons to look like FMS buttons.
.occlss-button {
    @include button-size();
}

// No border and slightly different padding for *all* types of button.
.btn,
.postcode-form-box input#sub,
.occlss-button--primary {
    border: none;
    padding: 0.7em 1em 0.85em 1em;
}

// Regular button style.
.btn {
    @include button-variant(
        #ffffff, #ffffff, #ffffff, #000,
        #f3f3f3, #f3f3f3, #f3f3f3, #000
    );
    box-shadow:
        inset 0 -4px 0 #f3f3f3,
        0 2px 4px 0 rgba(26, 26, 26, 0.2)
    ;
}

// Override all the "primary" buttons across the site!
.postcode-form-box input#sub,
.occlss-button--primary,
.btn--primary {
    @include button-variant(
        $color-oxfordshire-bright-blue, $color-oxfordshire-bright-blue, $color-oxfordshire-bright-blue, #fff,
        darken(#0e73d8, 15%), darken(#0e73d8, 15%), darken(#0e73d8, 15%), #fff
    );
    box-shadow:
        inset 0 -4px 0 darken(#0e73d8, 15%),
        0 2px 4px 0 rgba(26, 26, 26, 0.2)
    ;
}

.form-txt-submit-box input[type="submit"] {
    padding: 0.7em 1em 0.85em 1em;
}

input[type="tel"],
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="url"],
textarea {
    padding: 0.7em;
}

.box-warning {
    background-color: mix(#fff, $primary, 85%);
}

.extra-text {
  padding: 1em;
  margin: 0 -1em;
  border-top: 1px solid $color-oxfordshire-pale-grey-green;

  p:last-child {
    margin-bottom: 0;
  }
}

.report-list-filters-wrapper {
    border-top-color: $color-oxfordshire-pale-grey-green;
    border-bottom-color: $color-oxfordshire-pale-grey-green;
}

.item-list--reports__item {
    small {
        font-style: inherit;
    }

    a {
        &:focus {
            background-color: $color-oxfordshire-bright-yellow;
            outline: 2px solid $color-oxfordshire-bright-yellow;
        }

        &:hover,
        &:focus {
            color: #000;

            h3, small {
                color: inherit;
            }
        }
    }
}

.item-list__heading,
.item-list--reports h3,
.item-list__item h3 {
    color: $color-oxfordshire-link-blue;
}

.asset-spot:before {
    background-color: #007258;
}

// Video section with thumbnail (on the report page)
.video-thumbnail-section {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #E0E2E5;
    a.iframe {
        display: flex;
        flex-direction: row;
        align-items: end;
        .video-thumbnail {
            max-width: 50%;
            flex-basis: 50%;
        }
        .video-cap-wrapper {
            margin-left: 1em;
            flex-basis: 50%;
        }
    }
}

@media print {
    body {
        background-color: #fff !important;
    }

    .mappage #side > .extra-text {
        display: none !important;
    }
}

#key-tools {
    @include list-reset-soft;
    margin-bottom: 1em;
    display: table;
    width: 100%;

    li {
      display: table-cell;
      vertical-align: bottom;
      text-align: center;
      border-#{$right}: 0.25em solid #fff;

      &:last-child {
        border-#{$right}: none;
      }

      &.hidden-js {
        display: none;
        visibility: hidden;
      }
    }

    button {
      width: 100%;
      border: none;
    }

    a,
    button {
      background-color: #f5f5f5;
      background-repeat: no-repeat;
      color: #333 !important;
      padding: 1em;
      font-size: 0.6875em;
      font-family: $meta-font;
      font-weight: normal;
      line-height: 1.2em;
      white-space: normal;
      border-radius: 0;

      &:hover,
      &.hover,
      &:focus {
        text-decoration: none;
        background-color: #333;
        color: #fff !important;
      }
    }

    .sub-area-item {
      display: none;
    }

    &.area-js {
      .feed-list-wrapper, .area-report {
        display: none;
      }

      .sub-area-item {
        display: table-cell;
      }
    }
}

@import "oxfordshire-footer";
@import "oxfordshire-cookiepopup";
