@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";


// Colour tab to match colour scheme
#nav-link {
  width: 50px;
  height: 48px;
  background: url('/cobrands/oxfordshire/images/tab-green.png') 0 0 no-repeat;
}

#site-header {
  background: none;
  background-color: $oxfordshire_dk_green;
  height: 60px;
}

#site-logo {
  margin-top:4px;
  background-image: url('/cobrands/oxfordshire/images/logo.jpg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: 4px solid $oxfordshire_dk_green;
  width: 173px;
  height: 38px;
}

#main-nav ul#mysoc-menu li a#mysoc-logo {
  background-image: none;
  text-indent: 0;
  img {
    display: inline;
    height: 20px;
    width: 105px;
  }
}

.oxfordshire-preamble {
    background: #E0E0E0;
    margin: 0em auto 1em auto;
    padding: 1em 1em 0.5em 1em;
}

dd, p {
  line-height: 1.4em;
}

