$mappage-header-height: 10em;

@import "_colours";
@import "../sass/layout";

.container {
    max-width: none; // max-width on #oxford-wrapper sorts this out for us
}

#site-header {
    box-sizing: border-box; // so that $mappage-header-height doesn't have to account for internal padding
    background: $color-oxfordshire-dark-green url("/cobrands/oxfordshire/images/occ-badge-nav-bg.png");
    background-repeat: no-repeat;
    background-position: 125% 31%;
}

#site-logo {
    background-color: transparent;
    margin: 0 1em;
}

#main-nav {
    display: block; // undo flexbox
    height: auto;
    min-height: 0;
    float: none;
    overflow: visible; // Stop underlines causing a scrollbar

    .ie9 & {
        position: static;
        float: none;

        & > * {
            position: static;
            -ms-transform: none;
        }
    }
}

.nav-menu--main {
    margin-top: 5.5em;
    float: none;
    display: flex;

    li {
        flex: 1 1 0%; // flex-basis (3rd argument) must have a unit, to avoid IE10-11 bugs
        padding: 8px 16px;
        position: relative;
    }

    // No need for `span` in this selector, because Oxfordshire
    // nav items are always links (see main_nav.html)
    a,
    a:hover,
    a:focus {
        color: $nav_colour;
        background-color: transparent;
    }

    a {
        display: inline;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 1.2em;
        font-weight: 700;

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 16px;
            right: 16px;
            top: 100%;
            height: 4px;
            background: $color-oxfordshire-dark-green;
            transition: height 0.1s ease-in-out;
        }
    }

    a:hover {
        border-bottom-width: 8px;
        margin-bottom: -4px;

        &:after {
            height: 8px;
        }
    }

    a:focus {
        outline: 2px solid $color-oxfordshire-bright-yellow;
    }
}

.nav-spacer {
    height: 5.5em;
}

#front-main {
    margin: 2% 0 4% 0;

    h1 {
        font-size: 42px;
        line-height: 68px;
        margin-bottom: 4%;
    }

    #front-main-container {
        padding: 0 1em;
        max-width: none;
        margin: 0;
    }
}

.postcode-form-box {
    div {
        width: auto;
        max-width: 38em;
        margin: 0.75em 0 0 0;
    }

    input#pc {
        max-width: 80%;
    }

    input#sub {
        padding: 0.6em 1.5em;
    }
}

.frontpage {
    .content h2 {
        font-size: 2em;
    }

    // Overloaded selector, to override `.content h2`
    h2.search-help__header {
        font-size: 20px;
    }
}

#front_stats {
    border-top: none;
    padding-top: 0;

    div {
        font-size: 1.2em; // up from 0.8125em in base.scss
        font-weight: 600;
    }

    big {
        font-weight: 900;
        font-family: $heading-font;
        color: #24b137;
    }
}

body.mappage {
  #oxford-wrapper {
    width: auto;
    background: none;
    padding: 0;
  }

  #site-header {
      border-bottom: none;
      background-position: 125% 36%;
      background-position: calc(100% + 130px) 36%;
  }

  .nav-wrapper {
      top: 70px;
      background: #fff;
      border-top: 4px solid $color-oxfordshire-bright-green;
      border-bottom: 1px solid $color-oxfordshire-pale-grey-green;
  }

  .nav-menu--main {
      margin-top: 0;
      padding: 0;
      height: (10 * 16px) - 70px - 4px - 1px; // $mappage-header-height minus .nav-wrapper top, minus .nav-wrapper borders
      align-items: center;

      li {
          padding-top: 0;
      }
  }

  .wrapper .table-cell {
    padding-left: 0;
    padding-right: 0;
  }

  .full-width {
    width: auto;
  }

  input[type="file"] {
    background-color: transparent;
  }

  // Space between green header and sidebar content
  #report-a-problem-main,
  .problem-header {
    padding-top: 1em;
  }

  #occlss-footer {
    display: none;
  }
}

.item-list--reports h3 {
  color: $color-oxfordshire-bright-blue;
}

h2.static-with-rule {
  margin-top: 1em; // down from default 2em, avoid extra space between heading and .council_info_box
  margin-bottom: 0; // no space between this and the .item-list items
  // TODO background: transparent; // rather than light grey
  padding: 0.75em 1em * (1/0.875); // compensate for 0.875 font-size
}

.item-list--updates li {
  background: transparent;
  margin-top: 0; // no space between list items

  // Replicate .item-list--reports styling, a bit
  border-top: 1px solid $color-oxfordshire-pale-grey-green;
  padding: 1em 1em 1em 0;
  margin-left: 1em;

  .item-list__update-text > :last-child {
    margin-bottom: 0;
  }

  .meta-2 {
    font-style: normal;
  }
}

.form-box {
  background-color: $color-oxfordshire-pale-green;
}

.extra-category-questions {
  background-color: $color-oxfordshire-pale-green;

  &:before {
    border-bottom-color: $color-oxfordshire-pale-green;
  }
}

#key-tools {
  border-top-width: 2px;
}

.click-the-map {
    border-bottom-color: $color-oxfordshire-pale-grey-green;

    p {
        color: $color-oxfordshire-bright-green;
        background-image: url(/cobrands/oxfordshire/images/click-map-chevron-small.gif);
    }
}

.extra-text__image {
    float: left;
    margin-right: 1em;
}
