/* COLOURS */
.desk-only {
  display: block !important;
}

.mob-only {
  display: none !important;
}

body {
  background: #1a1a1a url../images/tile.jpg) 0 0 repeat;
}

body.white {
  background: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 0em;
  width: 60em;
  position: relative;
  z-index: 1;
}

.ie6 .container, .ie7 .container {
  z-index: 100;
}

.wrapper {
  display: table;
  caption-side: top;
  width: 100%;
}
.wrapper .table-cell {
  display: table-cell;
}

.ie6 .wrapper, .ie7 .wrapper {
  padding-top: 4em;
}

.nav-wrapper {
  display: table-caption;
}
.nav-wrapper .nav-wrapper-2 {
  width: 100%;
  min-height: 4em;
  position: absolute;
  border-top: 0.25em solid #ffd000;
  z-index: 2;
}

.white .nav-wrapper .nav-wrapper-2 {
  background: #1a1a1a url../images/tile.jpg) 0 0 repeat;
}

.ie6 .nav-wrapper, .ie7 .nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.ie6 .nav-wrapper .nav-wrapper-2, .ie7 .nav-wrapper .nav-wrapper-2 {
  position: static;
}

#site-header {
  height: auto;
  background: none;
  border-top: 0px;
}
#site-header .container {
  position: static;
}

#site-logo {
  top: 0.9em;
  position: absolute;
  z-index: 3;
}

.ie6 #site-header, .ie7 #site-header {
  height: 3em;
}
.ie6 #site-header .container, .ie7 #site-header .container {
  position: relative;
}
.ie6 #site-logo, .ie7 #site-logo {
  position: absolute;
  top: -3.25em;
}

#nav-link {
  left: -999999px;
}

#main-nav {
  margin: 0 auto;
  padding: 0em;
  width: 60em;
}
#main-nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: right;
}
#main-nav ul li {
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 0px;
  float: left;
}
#main-nav ul li a,
#main-nav ul li span {
  display: block;
  color: #fff;
  background: none;
  border-bottom: none;
}
#main-nav ul#main-menu li a, #main-nav ul#main-menu li span {
  padding: 0.75em;
  font-size: 0.9em;
}
#main-nav ul#main-menu li a:hover {
  background: #444;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(10%, #444444), color-stop(95%, #444444), color-stop(100%, #111111));
  background: -webkit-linear-gradient(#000000, #444444 10%, #444444 95%, #111111);
  background: -moz-linear-gradient(#000000, #444444 10%, #444444 95%, #111111);
  background: -o-linear-gradient(#000000, #444444 10%, #444444 95%, #111111);
  background: -ms-linear-gradient(#000000, #444444 10%, #444444 95%, #111111);
  background: linear-gradient(#000000, #444444 10%, #444444 95%, #111111);
}
#main-nav ul#main-menu li a.report-a-problem-btn {
  background: #ffd000;
  padding: 0.25em;
  margin: 0.5em;
  color: #333;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
}
#main-nav ul#main-menu li a.report-a-problem-btn:hover {
  background: #ffe700;
}
#main-nav ul#main-menu li span {
  color: #ffd000;
}
#main-nav ul#mysoc-menu {
  padding: 0em 0.5em;
  margin-left: 0.25em;
  background: #ffd000;
  -moz-border-radius: 0 0 0.375em 0.375em;
  -webkit-border-radius: 0 0 0.375em 0.375em;
  -o-border-radius: 0 0 0.375em 0.375em;
  -ms-border-radius: 0 0 0.375em 0.375em;
  -khtml-border-radius: 0 0 0.375em 0.375em;
  border-radius: 0 0 0.375em 0.375em;
  -moz-box-shadow: 0em 0.3em 0.1em 0em black;
  -webkit-box-shadow: 0em 0.3em 0.1em 0em black;
  -o-box-shadow: 0em 0.3em 0.1em 0em black;
  box-shadow: 0em 0.3em 0.1em 0em black;
}
#main-nav ul#mysoc-menu li a {
  color: #000;
  text-transform: uppercase;
  font-size: 0.6875em;
  padding: 1.3em 0.7em 1em 0.7em;
}
#main-nav ul#mysoc-menu li a#mysoc-logo {
  width: 84px;
  height: 16px;
  background-position: -260px -43px;
  opacity: 0.8;
}
#main-nav ul#mysoc-menu li a#mysoc-logo:hover {
  opacity: 1;
}
#main-nav ul#mysoc-menu li a:hover {
  color: #fff;
}

.content {
  width: 27em;
  margin-top: 3em;
  background: #fff;
  padding: 1em;
  padding-bottom: 3em;
  margin-left: 0.5em;
  margin-bottom: -1em;
  -moz-box-shadow: 0px 0px 6px 1px black;
  -webkit-box-shadow: 0px 0px 6px 1px black;
  -o-box-shadow: 0px 0px 6px 1px black;
  box-shadow: 0px 0px 6px 1px black;
}

body.white .content {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.ie6 .content, .ie7 .content, .ie8 .content {
  border: 1px solid black;
  margin: 0;
}

.ie8 .content {
  margin-top: 3em;
}

body.white.mappage .content {
  -moz-box-shadow: 0px 0px 6px 1px black;
  -webkit-box-shadow: 0px 0px 6px 1px black;
  -o-box-shadow: 0px 0px 6px 1px black;
  box-shadow: 0px 0px 6px 1px black;
}

body.mappage .content {
  float: left;
}
body.mappage #main-nav ul#main-menu li a,
body.mappage #main-nav ul#main-menu li span {
  padding: 1.4em 0.75em 1.35em 0.75em;
}
body.mappage #main-nav ul#main-menu li a.report-a-problem-btn {
  padding: 0.5em;
  margin: 0.9em 0.25em 0.85em 0.25em;
}
body.mappage .nav-wrapper .nav-wrapper-2 {
  position: fixed;
  background: #222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(10%, #222222), color-stop(90%, #222222), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#000000, #222222 10%, #222222 90%, #000000);
  background: -moz-linear-gradient(#000000, #222222 10%, #222222 90%, #000000);
  background: -o-linear-gradient(#000000, #222222 10%, #222222 90%, #000000);
  background: -ms-linear-gradient(#000000, #222222 10%, #222222 90%, #000000);
  background: linear-gradient(#000000, #222222 10%, #222222 90%, #000000);
}
body.mappage #site-logo {
  position: fixed;
}

.ie6 body.mappage .container, .ie7 body.mappage .container {
  float: left;
  width: 27em;
  margin-left: 1.4em;
}
.ie6 body.mappage .nav-wrapper, .ie7 body.mappage .nav-wrapper {
  z-index: 1;
}
.ie6 body.mappage .nav-wrapper .nav-wrapper-2, .ie7 body.mappage .nav-wrapper .nav-wrapper-2 {
  position: static;
}
.ie6 body.mappage #site-logo, .ie7 body.mappage #site-logo {
  position: absolute;
  top: -3.25em;
}

.ie6 body.mappage .container {
  margin-left: 0.7em;
}

.ie8 body.mappage .nav-wrapper {
  position: relative;
  z-index: 0;
}
.ie8 body.mappage .nav-wrapper .nav-wrapper-2 {
  position: static;
}
.ie8 body.mappage #site-logo {
  position: absolute;
  top: -3.25em;
}
.ie8 body.mappage #user-meta p {
  top: 1em;
}
.ie8 body.mappage .content {
  margin-top: 3em;
}

body.fullwidthpage .content, body.twothirdswidthpage .content {
  width: 57em;
}
body.fullwidthpage .intro, body.twothirdswidthpage .intro {
  width: 40em;
}

body.twothirdswidthpage .content {
  width: 40em;
  position: relative;
}
body.twothirdswidthpage .content aside {
  background: #eee;
  position: absolute;
  left: 42em;
  top: 0;
  z-index: -1;
  width: 13em;
  padding: 1em;
  -moz-box-shadow: 0px 0px 6px 1px black;
  -webkit-box-shadow: 0px 0px 6px 1px black;
  -o-box-shadow: 0px 0px 6px 1px black;
  box-shadow: 0px 0px 6px 1px black;
}
body.twothirdswidthpage .content aside h2 {
  margin-top: 0;
}
body.twothirdswidthpage .content aside img {
  margin-bottom: 0.25em;
}
body.twothirdswidthpage .content .sticky-sidebar {
  position: absolute;
  left: 42em;
  z-index: -1;
}
body.twothirdswidthpage .content .sticky-sidebar aside {
  position: fixed;
  top: 7em;
  left: auto;
}

.ie6 body.twothirdswidthpage .content .sticky-sidebar {
  position: static;
}
.ie6 body.twothirdswidthpage .content .sticky-sidebar aside {
  position: absolute;
  left: 42em;
  top: 0;
}

.tablewrapper {
  display: table;
  width: 100%;
  padding: 1em 0;
}
.tablewrapper > div {
  display: table-cell;
  width: 50%;
}
.tablewrapper .full-width {
  width: auto;
  margin: 0;
}

.ie6 .tablewrapper, .ie7 .tablewrapper {
  display: block;
}
.ie6 .tablewrapper div, .ie7 .tablewrapper div {
  width: 48%;
  display: block;
  float: left;
  border: none !important;
}

.bordered {
  margin: 0 -1em;
  padding: 0 1em;
  width: auto;
  border-top: 0.25em solid #ffd000;
}

#footer-mobileapps {
  border-right: 1em solid #fff;
  background: none;
  padding: 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0) 0 0 0;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0) 0 0 0;
  -o-box-shadow: inset rgba(0, 0, 0, 0) 0 0 0;
  box-shadow: inset rgba(0, 0, 0, 0) 0 0 0;
}
#footer-mobileapps h2 {
  color: #222;
  margin-top: 0;
}
#footer-mobileapps ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#footer-mobileapps ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}
#footer-mobileapps ul li a {
  float: left;
  display: block;
}
#footer-mobileapps ul li {
  border-bottom: none;
  float: left;
  margin: 0 1em 1em 0;
}
#footer-mobileapps ul li a {
  color: #222;
  padding: 0;
  width: 96px;
  height: 32px;
  margin: 0 auto;
  text-indent: -999999px;
  background: url(../images/sprite.png) -12px -3610px no-repeat;
  opacity: 0.8;
}
#footer-mobileapps ul li a:hover {
  opacity: 1;
}
#footer-mobileapps ul li a.m-app-iphone {
  background-position: -12px -3610px;
}
#footer-mobileapps ul li a.m-app-iphone-streetreport {
  background-position: -12px -3678px;
  height: 50px;
}
#footer-mobileapps ul li a.m-app-droid {
  background-position: -12px -3756px;
}
#footer-mobileapps ul li a.m-app-nokia {
  background-position: -12px -3820px;
  width: 74px;
}

.ie6 #footer-mobileapps, .ie7 #footer-mobileapps {
  margin: 0 0.5em;
  margin-right: 2%;
}

.ie6 #footer-mobileapps ul li a {
  background: url(../images/ie_mobileapps.gif) -1px -1px no-repeat;
}
.ie6 #footer-mobileapps ul li a.m-app-iphone-streetreport {
  background-position: -1px -69px;
  height: 50px;
}
.ie6 #footer-mobileapps ul li a.m-app-droid {
  background-position: -1px -148px;
}
.ie6 #footer-mobileapps ul li a.m-app-nokia {
  background-position: -1px -212px;
  width: 74px;
}

#footer-ads {
  border-left: 1em solid #fff;
}
#footer-ads ul {
  display: table;
}
#footer-ads ul li {
  display: table-cell;
  border-bottom: none;
}
#footer-ads ul li:last-child {
  border-left: 1.25em solid #fff;
}

.ie6 #footer-ads, .ie7 #footer-ads {
  margin-left: 2%;
}
.ie6 #footer-ads ul, .ie7 #footer-ads ul {
  width: 100%;
}
.ie6 #footer-ads ul li, .ie7 #footer-ads ul li {
  float: left;
  width: 45%;
}

#map_box {
  position: absolute;
  height: 29em;
  width: 29em;
  right: 1em;
  top: 3em;
  z-index: 1;
}

#fms_pan_zoom {
  top: 4.75em !important;
}

#fms_pan_zoom_zoomin {
  left: auto !important;
  right: 30px;
  top: 130px !important;
}

#fms_pan_zoom_zoomout {
  left: auto !important;
  right: 30px;
  top: 174px !important;
}

.olControlAttribution {
  bottom: 0.5em !important;
  left: auto !important;
}

#sub_map_links {
  left: auto;
  bottom: auto;
  bottom: 2em;
}
#sub_map_links #map_links_toggle {
  display: block;
  cursor: pointer;
  position: absolute;
  left: -1em;
  width: 1em;
  height: 100%;
  background: black url(../images/sprite.png) right -4119px no-repeat;
  -moz-border-radius: 0.25em 0 0 0.25em;
  -webkit-border-radius: 0.25em 0 0 0.25em;
  -o-border-radius: 0.25em 0 0 0.25em;
  -ms-border-radius: 0.25em 0 0 0.25em;
  -khtml-border-radius: 0.25em 0 0 0.25em;
  border-radius: 0.25em 0 0 0.25em;
}
#sub_map_links #map_links_toggle:hover {
  left: -1.5em;
  border-right: 0.5em solid #000;
}
#sub_map_links #map_links_toggle.closed {
  background-position: right -4159px;
}

.ie6 #sub_map_links #map_links_toggle {
  height: 1.75em;
  background: black url(../images/ie_sub_map_links_sprite.gif") center -143px no-repeat;
}
.ie6 #sub_map_links #map_links_toggle.closed {
  background-position: center -183px;
}

#user-meta {
  display: block;
  position: relative;
  max-width: 57em;
  margin: 0 auto;
}
#user-meta p {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: absolute;
  top: 1em;
  height: 2em;
  padding: 0.25em 6em 0.5em 0.5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
}
#user-meta p {
  *display: inline;
}
#user-meta p a {
  top: 0.5em;
  right: 0.5em;
  font-size: 0.6875em;
  padding: 0.5em 0.75em;
  line-height: 1em;
}
#user-meta p a:hover {
  text-decoration: none;
  background: #444;
}

.ie6 #user-meta, .ie7 #user-meta {
  z-index: 1;
}

.ie8 #user-meta p {
  top: 5em;
}

.shadow-wrap {
  position: fixed;
  bottom: 0;
  width: 29em;
  overflow: hidden;
  padding-top: 3em;
}
.shadow-wrap ul#key-tools {
  border-top: 0.25em solid #ffd000;
  margin: 0;
  -moz-box-shadow: 0em 0px 1em 1em white;
  -webkit-box-shadow: 0em 0px 1em 1em white;
  -o-box-shadow: 0em 0px 1em 1em white;
  box-shadow: 0em 0px 1em 1em white;
}
.shadow-wrap ul#key-tools li {
  border: none;
}
.shadow-wrap ul#key-tools li a {
  font-size: 0.75em;
  color: #888888;
  padding: 0.5em 1.5em 0.5em 0;
  text-transform: none;
}
.shadow-wrap ul#key-tools li a.abuse {
  background-image: url../images/sprite.png);
  background-position: right -2935px;
}
.shadow-wrap ul#key-tools li a.feed {
  background-image: url../images/sprite.png);
  background-position: right -3074px;
}
.shadow-wrap ul#key-tools li a.chevron {
  background-image: url../images/sprite.png);
  background-position: right -3225px;
}
.shadow-wrap ul#key-tools li a.hover {
  background-image: url../images/sprite.png);
  background-position: right -1876px;
}
.shadow-wrap ul#key-tools.singleton li {
  text-align: right;
}
.shadow-wrap ul#key-tools.singleton li a {
  padding-right: 3em;
}
.shadow-wrap.active {
  padding: 3em 0;
  position: static;
}

.ie6 .shadow-wrap {
  padding-top: 0;
}

.big-green-banner {
  top: auto;
  right: -1.25em;
  margin-left: -2em;
  font-size: 1.375em;
  padding: 1em 3em 1em 1em;
  background: #00bd08 url../images/sprite.png) right -2188px no-repeat;
}
.big-green-banner:before {
  right: 0;
  left: auto;
  top: -0.5em;
  position: absolute;
  border-top: 0.5em solid transparent;
  border-left: 0.5em solid #4B8304;
  border-bottom: none;
}

.ie6 .big-green-banner {
  background: #00bd08 url../images/ie_green_chevron.gif) right center no-repeat;
}

.banner p {
  top: -2.25em;
  padding: 1em;
}
.banner p:before {
  left: -0.75em;
  border-left: 0.75em solid transparent;
  border-bottom: 0.75em solid #888;
}
.banner p#fixed {
  padding-top: 5em;
  background-image: url../images/sprite.png);
  background-position: -324px -326px;
  background-repeat: no-repeat;
}
.banner p#fixed:before {
  border-bottom: 0.75em solid #4B8304;
}

.ie6 .banner p {
  top: -1.5em;
}
.ie6 .banner p#fixed {
  background-image: url../images/ie_fixed.gif);
  background-position: center 0.75em;
}

.full-width {
  margin: 0 0 0em -1em;
  width: 29em;
}

/*FORMS*/
input[type=text],
input[type=password],
input[type=email],
textarea {
  width: 25em;
}

.form-box {
  max-width: 25em;
}

/* form errors */
div.form-error,
p.form-error {
  display: block;
  width: 24.7em;
}

input.form-error,
textarea.form-error {
  -moz-border-radius: 0 0 0.25em 0.25em;
  -webkit-border-radius: 0 0 0.25em 0.25em;
  -o-border-radius: 0 0 0.25em 0.25em;
  -ms-border-radius: 0 0 0.25em 0.25em;
  -khtml-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
}

#report-a-problem-sidebar {
  position: absolute;
  z-index: -1;
  left: 29.5em;
  top: 5em;
  width: 15em;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
}
#report-a-problem-sidebar .sidebar-tips {
  background: #eeeeee;
  padding: 1em;
  font-size: 0.75em;
}
#report-a-problem-sidebar .sidebar-notes {
  background: #333333;
  padding: 1em;
  color: #ffffff;
  font-size: 0.75em;
}

.ie6 #report-a-problem-sidebar, .ie7 #report-a-problem-sidebar {
  left: 29em;
}

.no-js #report-a-problem-sidebar {
  position: static;
  width: auto;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.no-js #report-a-problem-sidebar .sidebar-tips,
.no-js #report-a-problem-sidebar .sidebar-notes {
  font-size: 1em;
}

.general-sidebar-notes {
  position: absolute;
  left: 29.5em;
  width: 15em;
  z-index: -1;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px 1px;
}
.general-sidebar-notes p {
  background: #eeeeee;
  font-size: 0.75em;
  padding: 0.75em;
  margin: 0;
}
.general-sidebar-notes p.dark {
  background: #333333;
  color: #ffffff;
}

.problem-header {
  min-height: 19em;
}

body.frontpage .table-cell > .container {
  width: 100%;
}
body.frontpage .table-cell .content {
  padding-top: 14em;
  margin: 0 auto;
}
body.frontpage .nav-wrapper-2 {
  height: 6em;
}
body.frontpage #site-header {
  height: 9em;
}
body.frontpage #site-logo {
  top: 3em;
  width: 300px;
  height: 60px;
  background-position: -2px -108px;
}
body.frontpage #user-meta p {
  top: -2em;
  right: 0;
}

body.frontpage.white #site-header {
  background: #1a1a1a url../images/tile.jpg) 0 0 repeat;
}

.ie6 body.frontpage #site-header, .ie7 body.frontpage #site-header, .ie8 body.frontpage #site-header {
  height: 4em;
}
.ie6 body.frontpage #site-logo, .ie7 body.frontpage #site-logo, .ie8 body.frontpage #site-logo {
  position: relative;
  width: 60em;
  margin: 0 auto;
}
.ie6 body.frontpage .wrapper .content, .ie7 body.frontpage .wrapper .content, .ie8 body.frontpage .wrapper .content {
  padding-top: 12em;
  margin-top: 1em;
}
.ie6 body.frontpage #user-meta p, .ie7 body.frontpage #user-meta p, .ie8 body.frontpage #user-meta p {
  top: -1em;
}

.ie6 body.frontpage #site-logo, .ie7 body.frontpage #site-logo {
  top: -1em;
}

.ie6 body.frontpage #site-logo {
  background: url../images/ie_front_logo.gif) 0 0 no-repeat;
}

.ie8 body.frontpage .wrapper .content {
  margin-top: 5em;
}
.ie8 body.frontpage #user-meta p {
  top: 3em;
}

#front-main {
  background: #ffd000;
  position: absolute;
  width: 100%;
  left: 0;
  top: 1em;
}
#front-main #front-main-container {
  max-width: 57em;
  margin: 0 auto;
}
#front-main h2 {
  font-style: normal;
  margin: 0;
  color: #222;
}
#front-main #postcodeForm {
  overflow: hidden;
  margin-right: 0.5em;
}
#front-main #postcodeForm label {
  margin: 0.5em 0;
}
#front-main #postcodeForm div {
  display: block;
  margin: 0 auto;
  width: 20em;
  overflow: hidden;
}
#front-main #postcodeForm div input#pc {
  display: block;
  float: left;
  padding: 0.25em 0.5em;
  height: 1.5em;
  width: 16em;
}
#front-main #postcodeForm div input#submit {
  display: block;
  float: right;
  width: 3em;
  height: 2.3em;
  padding-top: 0.2em;
}
#front-main a#geolocate_link {
  background: none;
  color: #222;
  margin: -1em 0 0.5em 0;
}
#front-main a#geolocate_link:hover {
  text-decoration: underline;
  background: none;
}

.ie6 #front-main, .ie7 #front-main {
  top: 2em;
  padding-top: 1em;
}

#front-howto {
  border-right: 1em solid #fff;
}
#front-howto #front_stats {
  background: none;
  border-top: 0.25em solid #ffd000;
  padding-top: 1em;
}
#front-howto #front_stats div big {
  color: #ffd000;
  font-size: 3.2308em;
}

.ie6 #front_stats div, .ie7 #front_stats div {
  width: 8em;
  float: left;
}

#front-recently {
  border-left: 1em solid #fff;
}

.ie6 .tablewrapper #front-howto, .ie7 .tablewrapper #front-howto {
  margin-right: 2%;
}
.ie6 .tablewrapper #front-recently, .ie7 .tablewrapper #front-recently {
  margin-left: 2%;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 48em) and (max-width: 61em) {
  .container {
    width: 100%;
  }

  /*FORMS*/
  input[type=text],
  input[type=password],
  input[type=email],
  textarea {
    width: 95%;
  }

  #main-nav {
    width: auto;
    float: right;
    padding-left: 180px;
  }

  #main-menu {
    margin-top: 3em;
  }

  #site-header {
    height: 6em;
  }

  #fms_pan_zoom {
    top: 7em !important;
  }

  #user-meta p {
    left: 1em;
  }

  body.frontpage #user-meta p {
    left: auto;
  }

  #map_box {
    left: 32em;
    width: auto;
  }

  #report-a-problem-sidebar {
    position: static;
    width: auto;
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  #report-a-problem-sidebar .sidebar-tips,
  #report-a-problem-sidebar .sidebar-notes {
    font-size: 1em;
  }

  .full-width {
    width: auto;
    margin: 0em -1em 0 -1em;
  }

  body.fullwidthpage .content, body.twothirdswidthpage .content {
    width: auto;
  }

  body.twothirdswidthpage .content {
    width: 30em;
  }
  body.twothirdswidthpage .content .sticky-sidebar {
    left: 32em;
    top: 30em;
  }
  body.twothirdswidthpage .content .sticky-sidebar aside {
    top: 9em;
  }
}
