/* stop scrolling on iphone */
#container {
    width: 100%;
    height: 100%;
}

#container .container {
    padding-bottom: 0;
}

.nodisplay {
    display: none;
}

.mobile-nav-banner {
    position: fixed;
    background: black;
}

.mobile-sign-in-banner {
    background: none;
}

.mobile-sign-in-banner a {
  position: absolute;
  left: auto;
  right: 0.3em;
  top: 0.8em;
}

.mobile-info {
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: right;
    z-index: 1;
}

.mobile-info a {
  cursor: pointer;
  font-size: 0.875em;
  font-family: Helmet, Freesans, sans-serif;
  font-weight: bold;
  line-height: 1.375em;
  padding: 0.7em 0.5em 0.5em 0.5em;
  margin: 0;
  width: auto;
  height: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #333333;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #1a1a1a));
  background: -webkit-linear-gradient(#333333, #1a1a1a);
  background: -moz-linear-gradient(#333333, #1a1a1a);
  background: -o-linear-gradient(#333333, #1a1a1a);
  background: -ms-linear-gradient(#333333, #1a1a1a);
  background: linear-gradient(#333333, #1a1a1a);
  border: 1px solid #1a1a1a;
  color: white;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1;
  padding: 0.5em 0.75em;
  position: absolute;
  right: 0.3em;
  bottom: 0.3em;
}

.mobile-header {
    margin-top: 35px;
}

.mobile-header #site-logo {
    margin-top: 35px;
}

#front-main #postcodeForm {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#front-main #postcodeForm label {
    font-size: 0.9em
}

#front-main a#geolocate_link {
    font-size: 1.2em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
    border-radius: 0.25em;
    margin-top: 0.5em;
}

#front-howto h2 {
    margin-top: 0.8em;
}

ol.big-numbers > li {
    margin-bottom: 0.8em;
}

#multiple {
    margin: auto;
    margin-bottom: 1em;
}

#multiple li {
    list-style: none;
    margin: auto;
}

#nav-link {
    display: none;
}

#form_sign_in {
    margin-top: 1em;
}

#sign_out,
#sign_in {
    display: none;
}

input.green-btn,
input.green-btn:hover {
    border-radius: 2px;
    background: #9fde23;
    border-top: #CAEF80;
    border-left: #BCEF58;
    border-right: #BCEF58;
}

#mark-here {
    font-size: 1.2em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -khtml-border-radius: 0.25em;
    border-radius: 0.25em;
    margin-top: 0.5em;
    background: #9fde23;
    border-top: #CAEF80;
    border-left: #BCEF58;
    border-right: #BCEF58;

    position: absolute;
    top: 360px;
    left: 60px;
    z-index: 2000;
    display: none;
    padding: 10px;
}

#OpenLayers_Control_Crosshairs_crosshairs {
    pointer-events: none
}

#around-page .container {
    padding: 0px;
}

#around-page #map_box {
    position: 'absolute';
    top: 0, left: 0, right: 0, bottom: 0;
    padding: 0px;
    height: 100%;
    margin: 0px;
}

/* Jquery mobile overrides */

.ui-btn, .ui-btn-corner-all, .ui-btn-inner {
    text-decoration: none !important;
    border: 0px !important;
    background: none !important;
}

.ui-icon {
    background-color: inherit !important;
}

.ui-btn-left .ui-btn-inner {
    border-right: 1px solid #7fb900 !important;
}

.ui-btn-right .ui-btn-inner {
    border-left: 1px solid #7fb900 !important;
}

.ui-btn-icon-notext .ui-btn-inner {
    border: 0px !important;
}
