/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

// From https://www.figma.com/file/L1Vou6zmX4iEShdY4sjGj0/style-guide%3A-fix-my-street?node-id=0%3A1

/* Instruccion from client
    Use decoration colour for banner and other decorative items/backgrounds
    Do NOT use brand colour for 
    - Header
    - typography
    - buttons
    - links
*/
$decoration-colour: #175B69;

$gray-1: #0b0c0c;
$gray-2: #4d5051;
// $gray-3 For borders.
$gray-3: #8B9192;

$white: #fff;
// $white-2 should be used only for background colours.
$white-2: #f2f5f9;

$blue: #003E90;
$blue-d1: #113255;
$purple: #4c2c92;
$yellow: #ffde02;

// Error and Success colours
$red: #a81010;
$green: #006135;


$primary: $gray-2;
$primary_b: $gray-1;
$primary_text: $gray-1;

$link-color: $blue;
$link-hover-color: $blue-d1;
$link-active-color: $gray-1;
$link-focus-color: $yellow;

$base_bg: $white;
$base_fg: $gray-1;

$nav_background_colour: $gray-1;
$nav_colour: $white;
$nav_hover_background_colour: $primary;

$header-top-border: false;

$col_click_map: $gray-1;
$col_click_map_dark: darken($gray-1, 10%);

$search-help-alignment: left;
$search-help-background: #fff3f3;
$search-help-header-font-weight: normal;
$search-help-header-font-size-desktop: 1.25em;
$search-help-margin-desktop: -1em -1em 0 -1em;

$dropzone-border-colour: $link-color;
$dropzone-button-text: $white;
$dropzone-button-background: $link-color;
$dropzone-button-border: $link-color;
$dropzone-border-color--awakened: $yellow;
