$heading-font-family: 'Inter', sans-serif;
$body-font-family: 'Inter', sans-serif;

$heading-font: $heading-font-family;
$body-font: $body-font-family;
$meta-font: $body-font-family;

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 600 !important;
}

label {
    font-family: $body-font-family;
}

h1 {
    font-size: 32px;
    line-height: 120%;
}

#front-main h1 {
    font-size: 32px;
    line-height: 120%;
}

 h2, #front-main h2 {
    font-size: 24px;
}

 h3 {
    font-size: 18px;
}

 h4 {
    font-size: 16px;
}

@media only screen and (min-width: 641px) {
 h1 {
    font-size: 48px;
 }

 #front-main h1 {
    font-size: 48px;
 }

 h2, #front-main h2 {
    font-size: 32px;
 }

 h3 {
    font-size: 24px;
 }

 h4 {
    font-size: 19px;
 }

 p, body {
    font-size: 19px;
 }
}
