<!doctype html>
<!--[if lt IE 7]><html class="ie6 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 7]>   <html class="ie7 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="ie8 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 8]><!--><html lang="[% lang_code %]"><!--<![endif]-->
    <head>

        <link rel="stylesheet" type="text/css" href="[% version('/css/core.css') %]">
        <link rel="stylesheet" type="text/css" href="[% version('/cobrands/fiksgatami/css.css') %]">

    [% INCLUDE 'common_header_tags.html' %]
    </head>
    <body>

        <div id="header">
            <a href="/">[% loc('Fix<span id="my">My</span>Street') %]</a>
        </div>

        <div id="wrapper"><div id="mysociety">

    [% INCLUDE 'debug_header.html' %]
