<footer class="pboro-footer">
    <ul>
        <li><a href="https://www.peterborough.gov.uk/accessibility/">
            Accessibility
        </a></li>
        <li><a href="https://www.peterborough.gov.uk/privacy/">
            Privacy policy
        </a></li>
        <li><a href="https://www.peterborough.gov.uk/cookies/">
            Cookies
        </a></li>
        <li><a href="https://www.peterborough.gov.uk/disclaimer/">
            Disclaimer
        </a></li>
        <li><a href="https://www.peterborough.gov.uk/contact-us/">
            Contact us
        </a></li>
    </ul>
</div>
