[% IF bodyclass.match('frontpage') %]
<div class="container">
Reports which contain inappropriate, abusive or offensive language are not
acceptable. You should not include any personal information about yourself or
anyone else in your report. Peterborough City Council and its partners will
moderate reports if made aware. Reports may be removed, anonymised or marked as
private. We accept no liability or responsibility for the failure of
individuals to abide by this statement or our privacy policy, these individuals
may be contacted or blocked from using the site.
</div>
[% END %]

<footer class="pboro-footer">
    <ul>
        <li><a href="https://www.peterborough.gov.uk/accessibility/">
            Accessibility
        </a></li>
        <li><a href="/about/privacy">
            Privacy policy
        </a></li>
        <li><a href="/about/privacy#cookies">
            Cookies
        </a></li>
        <li><a href="https://www.peterborough.gov.uk/disclaimer/">
            Disclaimer
        </a></li>
        <li><a href="https://www.peterborough.gov.uk/contact-us/">
            Contact us
        </a></li>
    </ul>
    [% IF bodyclass.match('waste') %]
        <div class="peterborough-waste-credits">
            <p>Powered by</p>
            <p>
                <a href="https://www.societyworks.org/services/waste/">SocietyWorks</a>
            </p>
        </div>
    [% END %]
</div>
[% PROCESS '_footer_main_nav.html' %]

[% IF c.config.BASE_URL == "https://www.fixmystreet.com" %]
<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js" type="text/javascript"></script>
<script nonce="[% csp_nonce %]">
var config = {
    apiKey: '757ec4f62504be20fcc91244814d4888401bee7d',
    product: 'PRO_MULTISITE',
    statement: {
        description: 'For more information visit our',
        name: 'Privacy Statement',
        url: 'https://www.peterborough.gov.uk/privacy',
        updated: '30/04/2020',
    },
    initialState: 'open',
    position: 'LEFT',
    closeStyle: 'button',
    text: {
        closeLabel: 'Confirm your choices',
    },
    consentCookieExpiry: 60,
    branding: {
        removeIcon: true,
        removeAbout: true,
    },
};
CookieControl.load( config );
</script>
[% END %]
