[% IF c.user_exists && (c.user.from_body || c.user.is_superuser) %]
    [% land_type = c.cobrand.land_type_for_problem(problem); IF land_type %]
        [% IF list_page %]
            <div class="[% land_type == 'public' ? 'land-type-public' : 'land-type-private' %]">
                [% land_type.ucfirst %] land
            </div>
        [% ELSIF admin_page %]
            <li>
                [% loc('Land:') %]
                [% land_type.ucfirst %]
            </li>
        [% ELSE %]
            <p>
                <strong>[% loc('Land:') %]</strong>
                [% land_type.ucfirst %]
            </p>
        [% END %]
    [% END %]
[% END %]
