[%

color_merton_lavender = '#422d76'
color_merton_dark_green = '#0c4c57'
color_merton_pale_green = '#E8F4F1'
color_merton_jade = '#009578'
color_merton_grey_g2 = '#e8e8e8'

body_background_color = color_merton_grey_g2
body_text_color = color_black

header_background_color = color_merton_lavender
header_text_color = color_white

secondary_column_background_color = color_merton_pale_green

button_background_color = color_merton_jade
button_text_color = color_white

logo_file = 'merton-logo.png'
logo_width = "88" # pixel measurement, but without 'px' suffix
logo_height = "51" # pixel measurement, but without 'px' suffix

%]
