[%

color_merton_lavender = '#5F3E94'
color_merton_dark_green = '#044925'
color_merton_pale_green = '#D9F3E5'
color_merton_jade = '#078141'
color_merton_grey_g2 = '#e8e8e8'

body_background_color = color_merton_grey_g2
body_text_color = color_black

header_background_color = color_merton_lavender
header_text_color = color_white

secondary_column_background_color = color_merton_pale_green

button_background_color = color_merton_jade
button_text_color = color_white

logo_file = 'merton-logo.png'
logo_width = "220" # pixel measurement, but without 'px' suffix
logo_height = "50" # pixel measurement, but without 'px' suffix

%]
