<footer class="cobrand-footer">
    <h2 class="visuallyhidden" aria-label="Hertfordshire County Council – The County of Opportunity"></h2>
    <div class="container cobrand-footer-inner">

        <div class="cobrand-footer-col cobrand-footer-col--services">
            <img width="140" height="92" src="/cobrands/hertfordshire/images/logo.svg" class="cobrand-footer-mobile" alt="Hertfordshire County Council">
            <ul class="cobrand-footer-nav">
                <li>
                <h3>Services</h3>
                <ul>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Schools-and-education/Schools-and-education.aspx">Schools and education</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Recycling-waste-and-environment/Recycling-waste-and-environment.aspx">Recycling, waste and environment</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Highways-roads-and-pavements/Highways-roads-and-pavements.aspx">Highways, roads and pavements</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Libraries-and-archives/Libraries-and-archives.aspx">Libraries and archives</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Adult-social-services/Adult-social-services.aspx">Adult social services</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Births-deaths-marriages-and-citizenship/Births-deaths-marriages-and-citizenship.aspx">Births, deaths, marriages and citizenship</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Childrens-social-care/Childrens-social-care.aspx">Children's social care</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Fire-and-rescue/Fire-Rescue-and-Being-Prepared.aspx">Fire and rescue</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Health-in-Herts/health-in-herts.aspx">Health in Herts</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/services/Business/Business.aspx">Business and Trading Standards</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/directory">Hertfordshire Directory</a></li>
                </ul>
                </li>
            </ul>
        </div>

        <div class="cobrand-footer-col cobrand-footer-col--about">
            <ul class="cobrand-footer-nav">
                <li>
                <h3>About the Council</h3>
                <ul>
                    <li><a href="https://jobs.hertfordshire.gov.uk/">Jobs and careers</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/About-the-council/Contact-us/Contact-a-service.aspx">Contact us</a></li>
                    <li><a href="https://democracy.hertfordshire.gov.uk/mgMemberIndex.aspx?bcr=1">Councillors and council meetings</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/About-the-council/freedom-of-information-and-council-data/Freedom-of-information-requests/Freedom-of-information-requests.aspx">Freedom of information requests</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/About-the-council/Consultations/Consultations.aspx">Consultations</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/Accessibility/Accessibility-Statement.aspx">Accessibility statement</a></li>
                    <li><a href="https://www.hertfordshire.gov.uk/About-the-council/Legal/Legal.aspx">Cookies and privacy</a></li>
                </ul>
                </li>
            </ul>
        </div>

        <div class="cobrand-footer-col cobrand-footer-col--social">
            <div class="cobrand-footer-logo">
                <h2 class="cobrand-footer-slogan" aria-hidden="true" role="presentation"></h2>
            </div>
            <div class="cobrand-footer-social">
                <h3 class="cobrand-footer-social-heading visuallyhidden" aria-label="Follow Us"></h3>
                <ul class="cobrand-footer-social-links">
                <li class="cobrand-footer-social-item">
                    <a class="cobrand-footer-social-link" href="https://www.facebook.com/hertscountycouncil" aria-label="Like us on Facebook (opens in new window)" title="Like us on Facebook (opens in new window)" target="_blank" rel="noopener noreferrer">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                    </a>
                </li>
                <li class="cobrand-footer-social-item">
                    <a class="cobrand-footer-social-link" href="https://www.twitter.com/hertscc" aria-label="Follow us on X (opens in new window)" title="Follow us on X (opens in new window)" target="_blank" rel="noopener noreferrer">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                    </a>
                </li>
                <li class="cobrand-footer-social-item">
                    <a class="cobrand-footer-social-link" href="https://www.youtube.com/user/hertscountycouncil" aria-label="Find us on YouTube (opens in new window)" title="Find us on YouTube (opens in new window)" target="_blank" rel="noopener noreferrer">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
