/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$orange: #ff9900;
$bluey: #6688ff;

$primary: $orange;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: $bluey;
$base_fg: #000;

$map_nav_bg: $bluey;
$nav_fg: #000;
$nav_fg_hover: $primary;

$col_click_map: $bluey;
$col_click_map_dark: darken($bluey, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
