/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$orange: #ff9900;
$bluey: #6688ff;

$primary: $orange;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: $bluey;
$base_fg: #000;

$nav_background_colour: $bluey;
$nav_colour: #000;
$nav_hover_background_colour: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$col_click_map: $bluey;
