@import "_colours";
@import "../fixmystreet/_layout";

/*
Note: The fact that the below has to override the CSS, though it is for the
default template, is a sign that the CSS is not best organised. It needs
refactoring, and making more maintainable through the use of SMACSS, OOCSS
and similar.
*/

body {
    background: #6688ff;
}

body.mappage {
    .nav-wrapper {
        .nav-wrapper-2 {
            background: $contrast1;
        }
    }
}

#main-nav {
    ul {
        li {
            a, span {
                color: #000;
            }
        }
        &#main-menu {
            li {
                a:hover {
                    background: $primary;
                }
            }
        }
    }
}

