/* COLOURS */

$menu-image: 'menu-black';

// Primary colours
$bromley_blue: #336699;
$bromley_green: #00753b;
$bromley_dark_green: #303030;

// Secondary
$bromley_green_light: #cbe3d7;
$bromley_green_pale: #edfaf4;
$bromley_cream_light: #f5f3ed;
$bromley_grey-light:#eaeaea;
$bromley_teal: #0A7F79;

$primary: $bromley_green;
$primary_b: #ffffff;
$primary_text: #ffffff;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$link-color: $bromley_green;
$link-hover-color: $bromley_green;
$link-visited-color: $bromley_dark_green;

$base_bg: white;
$base_fg: $bromley_dark_green;

$nav_background_colour: white;
$nav_colour: $bromley_dark_green;
$nav_hover_background_colour: $bromley_green_light;

$col_click_map: $bromley_blue;
$col_fixed_label: $bromley_blue;

$header-top-border-width: 0px;

// Override the container width to match Bromley' site, which is wider
$container-max-width: 1200px;

$search-help-header-font-size-desktop: 1.25em;

$emergency-message-border: 3px solid #235e1c;
