/* COLOURS */

$menu-image: 'menu-black';

$bromley_blue: rgb(91,120,147);
$bromley_green: #235e1c;
$bromley_dark_green: #505050;

$primary: $bromley_blue;
$primary_b: #ffffff;
$primary_text: #ffffff;

$base_bg: #f4f4f4;
$base_fg: #1a1a1a;

$nav_background_colour: #f4f4f4;
$nav_colour: #fff;
$nav_hover_background_colour: #444;

$col_click_map: $bromley_blue;
$col_fixed_label: $bromley_blue;

$header-top-border-width: 4px;

// Override the container width to match Bromley' site, which is wider
$container-max-width: 1200px;
