/* COLOURS */

$menu-image: 'menu-black';

$bromley_blue: #336699;
$bromley_green: #00753b;
$bromley_green_l1: #c0dfc9; // Success green background message
$bromley_green_l2: #edfaf4;
$bromley_dark_green: #505050;
$bromley_ligh_grey: #eeece8;
$bromley_black: #171717;
$bromley_yellow: #fdcb4c;
$bromley_red_l1: #e8bac4;
$white: #fff;

$primary: $bromley_blue;
$primary_b: $bromley_black;
$primary_text: $white;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$link-color: $bromley_blue;
$link-hover-color: $bromley_green;
$link-visited-color: $bromley_dark_green;

$base_bg: #f4f4f4;
$base_fg: $bromley_black;

$nav_background_colour: #eaeaea;
$nav_colour: $bromley_green;
$nav_hover_background_colour: $bromley_green_l2;

$geolocation-link-border: $primary;
$geolocation-link: $primary;
$geolocation-link-background-color: $base_bg;

$col_click_map: $bromley_blue;
$col_fixed_label: $bromley_blue;

$header-top-border-width: 4px;

// Override the container width to match Bromley' site, which is wider
$container-max-width: 1200px;

$search-help-header-font-size-desktop: 1.25em;

$site-message-border: 3px solid #235e1c;

$front-main-color: #fff;
$front-main-background: $bromley_green;
$postcodeform-background: $bromley_green;
$postcodeform-color-desktop: $primary_b;


$front-main-color-desktop: $bromley_black;
$front-main-background-desktop: $bromley_green;
$front-main-container-background-desktop: transparent;
$postcodeform-background-desktop: #fff;
$content-background-desktop: $bromley_green_l2;

$geolocation-link: $primary;

$mobile-sticky-sidebar-button-menu-image: "menu-white";

$button-primary-bg-top: $bromley_blue;
$button-primary-bg-bottom: $bromley_blue;
$button-primary-border: $bromley_blue;
$button-primary-text: $white;

$button-primary-hover-bg-top: darken($bromley_blue, 10%);
$button-primary-hover-bg-bottom:darken($bromley_blue, 10%);
$button-primary-hover-border: darken($bromley_blue, 10%);
$button-primary-hover-text: $white;
