/* COLOURS */

$bromley_blue: rgb(91,120,147);

$primary: $bromley_blue;
$primary_b: #000000;
$primary_text: #ffffff;

$col_click_map: $bromley_blue;
$col_click_map_dark: darken($bromley_blue, 10%);
$col_fixed_label: $bromley_blue;
$col_fixed_label_dark: darken($bromley_blue, 10%);
