/* COLOURS */

$menu-image: 'menu-black';

$bromley_blue: rgb(91,120,147);
$bromley_green: #235e1c;
$bromley_dark_green: #505050;

$primary: $bromley_blue;
$primary_b: #ffffff;
$primary_text: #000000;

$base_bg: #f4f4f4;
$base_fg: #1a1a1a;

$map_nav_bg: #f4f4f4;
$nav_fg: #fff;
$nav_fg_hover: #444;

$col_click_map: $bromley_blue;
$col_fixed_label: $bromley_blue;
$col_fixed_label_dark: darken($bromley_blue, 10%);

$header-top-border-width: 4px;

// Override the container width to match Bromley' site, which is wider
$container-max-width: 1200px;
