@import "../sass/h5bp";
@import "./_colours";
@import "./_fonts";
@import "../sass/mixins";

@import "../sass/base";
@import "../sass/report_list_pins";

// Override the site logo
#site-logo {
  width: 80px;
  height: 44px;
  background: url('/cobrands/bromley/bromley-logo.s.png') 0 0 no-repeat;
  text-indent: -999999px;
  z-index:2;
}

#nav-link {
  top: 7px;
  right: 0.5em;
  transform: none;
}

// Reset form placeholders so that they match Bromley's
// input placeholders, these need to be on separate lines as if the browser
// can't understand a selector it will invalidate the whole line.
::-webkit-input-placeholder {
  color: #999;
  font: {
    style:normal;
    size:0.9375em;
  }
}
:-moz-placeholder {
  color: #999;
  font: {
    style:normal;
    size:0.9375em;
  }
}
:-ms-placeholder {
  color: #999;
  font: {
    style:normal;
    size:0.9375em;
  }
}
//this only gets used when the browser doesn't support @placeholder
.placeholder {
  color: #999;
  font: {
    style:normal;
    size:0.9375em;
  }
}

// Reset body line height on front page
body.frontpage.fullwidthpage {
  line-height: normal;
}

#front-main #postcodeForm .form-hint {
  color: mix($primary, $primary_text, 30%);
}

.bromley-header {
  // These are from Bromley's styles, applied here because it's the closest
  // analog to their site header.
  padding-top: 1em;
}

// Override the links to match Bromley's
a {
  text-decoration:none;
  color: $bromley_green;
  opacity: 1;
}
a:hover {
  opacity: 0.8;
  text-decoration:underline;
}
a:visited,
a:active {
  color: $bromley_dark_green;
}

// The map page header looks a bit high for some reason
.big-green-banner {
  top: 0;
}

// Override some of FMS's button styling so that Bromley's styles don't break
// form submit buttons
.form-txt-submit-box input[type=submit] {
  height:2.4em;
  padding-top:0.15em;
  margin-top:0;
}

// Darken the "key tools" links because we've darkened our background and as a
// result they have very little contrast
#key-tools {
  a, button {
    background-color: darken(#f5f5f5, 10%);

    &:after {
      @include svg-background-image("/cobrands/bromley/images/report-tools");
    }
  }
}

.item-list--reports__item a {
    line-height: 2;
}

//////////////////////////////////////////////////////////////////////////////
// Bromley's Mobile-First styles
//////////////////////////////////////////////////////////////////////////////

body {
  font-size: 15px;
  font-weight: 300;
}

h1,h2,h3,h4,h5 {
  font-family:$heading-font;
}

// Bromley's styles for the .top-links nav
.top-links {
  // Needed to push it below FMS' mobile menu bar
  margin: 0 0 13px;
  display: block;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    padding: 0 10px;
    font-size: 0.9em;
    list-style-type: none;
    a {
      font-family: "Helvetica", sans-serif;
      color: #235e1c;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
  }
  .fa {
    color: #235e1c;
    opacity: 0.5;
  }
}

// Bromley's icons
.fa {
  padding-right: 5px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-user:before {
  content: "\f007";
}
.fa-home:before {
  content: "\f015";
}

// Bromley's site search
.main-search {
  margin: 1em 0;
  text-align: center;
  .main-search-input {
    border-radius: 5px 0 0 5px;
    border-right: 0px;
    padding: 7px 2%;
    font-size: 0.9em;
    font-weight: 300;
    width: 74%;
    text-align: left;

    // Undo some FMS' specific styling that breaks Bromley's look and feel
    display: inline-block;
    box-sizing: content-box;

  }
  .button__primary {
    height: 42px;
    line-height: 0;
    padding: 1.3em 1em;
    margin: 0 0 0 -3px;
    border: 1px solid #647890;
    width: 20%;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    background: #647890 url("search-icon.png") no-repeat center center !important;
    text-indent: -10000px;
    border-radius: 0 5px 5px 0;
  }
}

// Bromley's field definitions, with extra tag-level selectors to override
// FMS' input[type=text]
input.field, input.text,
.field, .text, .xfields {
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  padding: 0 6px;
  line-height: 2em;
  height: 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  width: 100%;
  max-width: 100%;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}

// Bromley's button definitions
.button__primary, .button, input[type=submit], .doc-main-content .byEditor .basketitem a.button {
  background: #647890;
  color: white;
  border: none;
}
.button, input[type=submit] {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  font-size: 1em;
  line-height: 2em;
  height: 2em;
  padding: 0 1em;
  margin: 0.5em 0;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

// Bromley's silly A-Z menu
// Add a border to this to approximate Bromley's border between the breadcrumb
// and A-Z menu
.a-z-container {
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.main-a-z {
  padding: 10px 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  clear: both;
  min-height: 10px;
  overflow: hidden;
  background: #647890;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  ul {
    padding-left: 0px;
    text-align: center;
    margin: 0;

    li {
      display: inline-block;
      padding: 0 15px;
      color: #e0e9f3;
      text-align: center;
      margin: 4px 0;

      a {
        color: #FFF;
        opacity: 1;
        text-transform: uppercase;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
      }
    }
  }

  .nav-hover-item {
    margin: 0;
    overflow: auto;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.main-a-z ul > li > a {
  text-transform: capitalize;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .main-a-z ul li {
    padding: 0 14px;
  }
}
.drop-down-nav {
  list-style-type: none;
}
.drop-down-nav > li {
  margin-left: 0!important;
  border-bottom: none!important;
}

// Bromley's breadcrumb
.breadcrumb {
  width: 100%;
  margin-bottom: 15px;

  // Approximate Bromley's top border despite this being in a different
  // location than on their site
  border-top: 1px solid #fff;
  padding-top: 15px;

  ul {
    list-style: none;
    padding: 10px;
    margin-top: 0;
    background: #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.8em;

    // Override FMS' default list styles
    margin-left: 0;
    margin-bottom: 1em;

    li {
      list-style: none;
      display: inline;
      &:before {
        content: '|';
        padding: 0 5px;
      }
      &:first-child:before {
        display: none;
      }
    }
    .current {
      font-weight: 700;
      color: #235E1C;
    }
  }
}

// Hide things in the header on the map page, because the header is small
body.mappage {
  .main-search,
  .breadcrumb,
  .a-z-container,
  .linear-links {
    display: none;
  }
}

// Bromley's footer
.site-footer {
  width: 100%;
  clear: both;
  margin: 0;
  min-height: 210px;
  overflow: hidden;
  // Add more margin to push this down from FMS's footer
  margin-top: 2em;
  .footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .column {
      width: 100% !important;
      margin-right: 0;
      margin-left: 0 !important;
      float: none;
      clear: both;
      &:last-child {
        margin-right:0;
      }

    }
  }
  .additional-links {
    h5 {
      background-color: #cecab7;
      padding: 0.5em 1em;
      margin: 0;
      font-size: 1em;
      font-weight: 400;
      color: #505050;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    ul {
      padding-left: 0px;
      // Undo FMS' left margin for uls
      margin-left: 0;
      // Override top/bottom margins to match Bromley's default ul styling
      margin-top: 1em;
      margin-bottom: 1em;
      li {
        padding-left: 1em;
        width: 80%;
        display: inline-block;
        // Remove the bottom margin FMS puts on
        margin-bottom: 0;
        a {
          font-size: 0.9em;
        }
      }
    }
  }
  .copyright {
    font-size: 0.8em;
    background: #dad7c9;
    color: #505050;
    padding: 0.3em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .social {
    ul {
      li {
        width: auto;
        padding: 0 0 0 1em;
        img {
          max-width: 36px;
        }
      }
    }
  }
}
