@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

a, a:visited {
    color: #369;
    &:hover, &:active {
        color: #369;
    }
}

h1.main {
    color: $primary;
    text-align: center;
    margin: 0.5em 0;
}

// Want a white header, and logo is slightly bigger
#site-header {
    @include background(linear-gradient(#ddd, #fff 10%, #fff));
    height: 4em;
}

// Colour tab to match colour scheme
#nav-link {
  width: 50px;
  height: 48px;
  background: url('/cobrands/bromley/tab-blue.png') 0 0 no-repeat;
}

// Change logo to logo of council
#site-logo {
  display: block;
  width: 80px;
  height: 44px;
  top: 0.9em;
  background: url('/cobrands/bromley/bromley-logo.s.jpg') 0 0 no-repeat;
}

#problems-nav {
    border-bottom:0.25em solid $primary;
    ul li a {
        text-transform: none;
        &.active {
            background: $primary;
            color: #fff;
        }
    }
}

.big-green-banner {
    text-transform: none;
}

#form_sign_in {
    margin-top: 1em;
}
