@import "../sass/h5bp";
@import "./_colours";
@import "./_mixins";
@import "./_fonts";
@import "../sass/mixins";

@import "../sass/base";
@import "../sass/report_list_pins";

//Helper classes
.ml-1 {
  margin:5px
}

.d-flex {
  display: flex;
  
  &.row {
    flex-direction: row;
  }

  &.justify-content-between {
    justify-content: space-between;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }

  &.align-item-center {
    align-items: center;
  }
}

// Override the site logo
#site-logo {
  width: 108px;
  height: 65px;
  @include svg-background-image("/cobrands/bromley/images/bromley-logo");
  background-size: cover;
  text-indent: -999999px;
  z-index:2;
}
body.waste #site-logo {
  width: 129px;
  background: none;
  text-indent: 0;
}

// ERASE THIS
#plDebugToolbarHandle {
  display: none !important;
}

.bromely-header__nav-link {
  text-indent: -9999999px;
  position: absolute;
  top: 35px;
  right: 15px;
  height: 46px;
  width: 30px;
  display: flex;
  justify-content: center;
  outline: none;

  span, span::before, span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $bromley_dark_green;
    transition-duration: .25s;
  }

  span::before {
    content: '';
    top: 12px;
  }

  span::after {
    content: '';
    top: -12px;
  }
  
  &[aria-expanded="true"] {
    span {
      transform: rotate(45deg);
    }

    span::before {
      top: 0;
      transform: rotate(0);
    }
  
    span::after {
      top: 0;
      transform: rotate(90deg);
    }
  }

  &.focussed, &:focus, &:hover {
    span, span::before, span::after {
      background-color: $bromley_blue;
    }
  }
}

#main-nav {
 padding-top: 25px;
 background-color: white;

 form {
   padding: 20px 1em;
 }
}

#nav-link {
  top: 7px;
  right: 0.5em;
  transform: none;
}

// Nav menu overrides

.nav-menu a, .nav-menu span {
  padding: 20px 1em;
  color: $bromley_dark_green;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

// Reset form placeholders so that they match Bromley's
// input placeholders, these need to be on separate lines as if the browser
// can't understand a selector it will invalidate the whole line.
::-webkit-input-placeholder {
  color: #999;
  font-style: normal;
  font-size: 0.9375em;
}
:-moz-placeholder {
  color: #999;
  font-style: normal;
  font-size: 0.9375em;
}
:-ms-placeholder {
  color: #999;
  font-style: normal;
  font-size: 0.9375em;
}
//this only gets used when the browser doesn't support @placeholder
.placeholder {
  color: #999;
  font-style: normal;
  font-size: 0.9375em;
}

// Reset body line height on front page
body.frontpage.fullwidthpage {
  line-height: normal;
}

#front-main #postcodeForm .form-hint {
  color: mix($primary, $primary_text, 30%);
}

.bromley-header {
  // These are from Bromley's styles, applied here because it's the closest
  // analog to their site header.
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.secondary-bar {
  height: auto; // erase this
  background-color: $bromley_green_light;
  padding: 5px 0;

  border-top: 1px solid transparentize($color: $bromley_green, $amount: 0.7);
}

// Override the links to match Bromley's
a {
  color: $bromley_blue;
  text-decoration: underline;
  opacity: 1;
}

a:hover {
  opacity: 0.8;
}

a:active {
  color: $link-visited-color;
}

// Want main text links to be bold
.content a {
    font-weight: bold;
}
// Except in list items
.item-list a {
    font-weight: normal;
}

// The map page header looks a bit high for some reason
.big-green-banner {
  top: 0;
}

// Override some of FMS's button styling so that Bromley's styles don't break
// form submit buttons
.form-txt-submit-box input[type=submit] {
  height:2.4em;
  padding-top:0.15em;
  margin-top:0;
}

// Darken the "key tools" links because we've darkened our background and as a
// result they have very little contrast
#key-tools {
  a, button {
    background-color: darken(#f5f5f5, 10%);

    &:after {
      @include svg-background-image("/cobrands/bromley/images/report-tools");
    }
  }
}

.item-list--reports__item a {
    line-height: 2;
}

//////////////////////////////////////////////////////////////////////////////
// Bromley's Mobile-First styles
//////////////////////////////////////////////////////////////////////////////

body {
  font-size: 15px;
  font-weight: 300;
}

h1,h2,h3,h4,h5 {
  font-family:$heading-font;
}

// Bromley's styles for the .top-links nav
.top-links {
  // Needed to push it below FMS' mobile menu bar
  margin: 0 0 13px;
  display: block;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    padding: 0 10px;
    font-size: 0.9em;
    list-style-type: none;
    a {
      font-family: $body-font;
      color: #235e1c;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
  }
  .fa {
    color: #235e1c;
    opacity: 0.5;
  }
}

// Bromley's icons
.fa {
  padding-right: 5px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-user:before {
  content: "\f007";
}
.fa-home:before {
  content: "\f015";
}

input {
  text-decoration: none !important;
}

// Bromley's site search
form.main-search {
  $max-height-header-search-button: 40px;

  display: flex;
  flex-direction: row;
  max-width: 300px;

  input[type=text] {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #171717;
    font-weight: 400;
    margin: 0;
    padding: 5px 7px;
    position: relative;
    border-radius: 0;
    height: $max-height-header-search-button;
    text-decoration: none;

    &::placeholder {
      text-decoration: none !important;
      color:$bromley_dark_green;
    }

    // -webkit-transition: padding 0.2s ease-out;
    // -o-transition: padding 0.2s ease-out;
    // transition: padding 0.2s ease-out;
  }

  input.is--search {
    @include svg-background-image("/cobrands/bromley/images/search-icon");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #171717;
    border-radius: 0;
    margin: 0;
    opacity: 1;
    height: $max-height-header-search-button;
    width: $max-height-header-search-button;
    text-indent: -10000px;
    margin-left: -5px;
  }
}

// .main-search {
//   margin: 1em 0;
//   text-align: center;
//   .main-search-input {
//     border-radius: 5px 0 0 5px;
//     border-right: 0px;
//     padding: 7px 2%;
//     font-size: 0.9em;
//     font-weight: 300;
//     width: 74%;
//     text-align: left;

//     // Undo some FMS' specific styling that breaks Bromley's look and feel
//     display: inline-block;
//     box-sizing: content-box;

//   }
//   .button__primary {
//     height: 42px;
//     line-height: 0;
//     padding: 1.3em 1em;
//     margin: 0 0 0 -3px;
//     border: 1px solid #647890;
//     width: 20%;
//     opacity: 1;
//     transition: opacity .25s ease-in-out;
//     -moz-transition: opacity .25s ease-in-out;
//     -webkit-transition: opacity .25s ease-in-out;
//     background: $primary url("search-icon.png") no-repeat center center !important;
//     text-indent: -10000px;
//     border-radius: 0 5px 5px 0;
//   }
// }

// Bromley's field definitions, with extra tag-level selectors to override
// FMS' input[type=text]
input.field, input.text,
.field, .text, .xfields {
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  padding: 0 6px;
  line-height: 2em;
  height: 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  width: 100%;
  max-width: 100%;
  font-family: $body-font;
}

.btn-primary,
.btn--primary {
  $bg: $primary;
  $hover-bg: darken($primary, 10%);
  @include button-variant($bg, $bg, false, #fff, $hover-bg, $hover-bg, false, #fff);
}

.green-btn {
  $bg: $bromley_green;
  $hover-bg: darken($bromley_green, 10%);
  @include button-variant($bg, $bg, false, #fff, $hover-bg, $hover-bg, false, #fff);
}

// Bromley's silly A-Z menu
// Add a border to this to approximate Bromley's border between the breadcrumb
// and A-Z menu
.a-z-container {
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.main-a-z {
  padding: 10px 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  clear: both;
  min-height: 10px;
  overflow: hidden;
  background: #647890;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  ul {
    padding-left: 0px;
    text-align: center;
    margin: 0;

    li {
      display: inline-block;
      padding: 0 15px;
      color: #e0e9f3;
      text-align: center;
      margin: 4px 0;

      a {
        color: #FFF;
        opacity: 1;
        text-transform: uppercase;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
      }
    }
  }

  .nav-hover-item {
    margin: 0;
    overflow: auto;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.main-a-z ul > li > a {
  text-transform: capitalize;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .main-a-z ul li {
    padding: 0 14px;
  }
}
.drop-down-nav {
  list-style-type: none;
}
.drop-down-nav > li {
  margin-left: 0!important;
  border-bottom: none!important;
}

// Bromley's breadcrumb
.breadcrumb {
  width: 100%;
  margin-bottom: 15px;

  // Approximate Bromley's top border despite this being in a different
  // location than on their site
  border-top: 1px solid #fff;
  padding-top: 15px;

  ul {
    list-style: none;
    padding: 10px;
    margin-top: 0;
    background: #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.8em;

    // Override FMS' default list styles
    margin-left: 0;
    margin-bottom: 1em;

    li {
      list-style: none;
      display: inline;
      &:before {
        content: '|';
        padding: 0 5px;
      }
      &:first-child:before {
        display: none;
      }
    }
    .current {
      font-weight: 700;
      color: #235E1C;
    }
  }
}

// Hide things in the header on the map page, because the header is small
body.mappage {
  .main-search,
  .breadcrumb,
  .a-z-container,
  .linear-links {
    display: none;
  }
}

// Bromley's footer
.site-footer {
  width: 100%;
  clear: both;
  margin: 0;
  min-height: 210px;
  overflow: hidden;
  // Add more margin to push this down from FMS's footer
  margin-top: 2em;
  .footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .column {
      width: 100% !important;
      margin-right: 0;
      margin-left: 0 !important;
      float: none;
      clear: both;
      &:last-child {
        margin-right:0;
      }

    }
  }
  .additional-links {
    h5 {
      background-color: #cecab7;
      padding: 0.5em 1em;
      margin: 0;
      font-size: 1em;
      font-weight: 400;
      color: #505050;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    ul {
      padding-left: 0px;
      // Undo FMS' left margin for uls
      margin-left: 0;
      // Override top/bottom margins to match Bromley's default ul styling
      margin-top: 1em;
      margin-bottom: 1em;
      li {
        padding-left: 1em;
        width: 80%;
        display: inline-block;
        // Remove the bottom margin FMS puts on
        margin-bottom: 0;
        a {
          font-size: 0.9em;
        }
      }
    }
  }
  .copyright {
    font-size: 0.8em;
    background: #dad7c9;
    color: #505050;
    padding: 0.3em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .social {
    ul {
      li {
        width: auto;
        padding: 0 0 0 1em;
        img {
          max-width: 36px;
        }
      }
    }
  }
}

@import "../sass/waste";

// Waste style overrides
.waste {
  [class^="govuk-heading-"],
  .govuk-fieldset__heading {
    font-family: $heading-font;
    color: darken($bromley_blue, 10%);
  }

  .govuk-heading-xl {
    font-size: 2.2em;
    margin-bottom: 1em;
  }

  .govuk-heading-l {
    font-size: 1.4375em;
  }

  .govuk-heading-m {
    font-size: 1.125em;
  }

  .govuk-summary-list {
    border-top-color: $bromley_blue;
  }

  .govuk-button {
    background-color: $bromley_green;
    box-shadow: 0 2px 0 darken($bromley_green, 10%);
    &:hover {
      //don't override focus as gov.uk is good at that
      background-color: darken($bromley_green, 10%);
    }
  }

  .govuk-button--secondary {
    background-color: $base_bg;
    box-shadow: 0 2px 0 darken($base_bg, 10%);
    &:hover {
      background-color: darken($base_bg, 5%);
      box-shadow: 0 2px 0 darken($base_bg, 15%);
    }
  }
}

@import "../fixmystreet-uk-councils/societyworks-footer";
