/* Parts of Bromley's main CSS needed for its header/footer and adjusted (see
 * bottom) to not be affected by main FixMyStreet CSS. Not very sustainable;
 * perhaps we should wrap all council CSS within a SCSS #council ID? Hmm.
 */

@import "compass";

// Bits of Bromley's forms.css, adjusted
input[type=text],
input[type=password],
input[type=email],
input[type=file],
textarea, 
select { background: #fff; border: 1px solid #768b9a; border-color: #768b9a #d1dee8 #d1dee8 #768b9a; color: #333; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; padding: 8px;
@include border-radius(0); }

.green-btn, button.green-btn, input.green-btn {
    background: #5b7189 url("https://www.bromley.gov.uk/site/styles/css_img/button.gif") repeat-x 0 -1px; border: 1px solid #8e9eb0; color: #fff; font-family: 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif; font-weight: normal; margin: 0; min-height: 23px; outline: 1px solid #405062; padding: 4px 8px; text-transform: uppercase; }
.green-btn:hover, button.green-btn:hover, input.green-btn:hover { background: #5b7189; border: 1px solid #8e9eb0; }
.form-txt-submit-box input[type=submit] {
    padding-top: 0; padding-bottom: 0; width: auto;
}


h1, h2, h3, h4, h5, h6, legend { font-family: 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif; }
body { color: #333; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.4; }

// #header renamed to #bromley-header
#bromley-header { padding: 0 18px 0 25px; }

.header-nav {float:right; background:url('https://www.bromley.gov.uk/site/styles/css_img/header-nav.gif') no-repeat; overflow:hidden; width:651px; height:34px; line-height:34px; padding:0 20px;}
.header-nav li {float:left; width:130px; text-align:center; background:url('https://www.bromley.gov.uk/site/styles/css_img/header-nav-divider.gif') top right no-repeat;}
.header-nav li:last-child {background:none;}
.header-nav a:link, .header-nav a:visited {color:#fff; text-decoration:none;}
.header-nav a:hover, .header-nav a:active {text-decoration:underline;}

/* -------- For Google translate select box only */
.header-nav div#google_translate_element .goog-te-gadget { font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;    }
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo { margin:5px 0 0 5px; padding:0 0 0 2px; background: #9b9b9b; color: #fff; border: 1px solid #606060; font-size: 12px; width: 138px;}
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo option { background:#fff; color: #666; padding: 1px 0; margin: 0; }
/* --- */

.logo {padding:10px 0;}

.sign-in {float:right; margin-top:-87px; width: 650px; text-align: right;}
.sign-in a:link, .sign-in a:visited {color:#333; font-weight:bold; text-decoration:none;}
.sign-in a:hover, .sign-in a:active {text-decoration:underline;}

.main-menu {background:url('https://www.bromley.gov.uk/site/styles/css_img/main-menu.gif') no-repeat; width:689px; height:45px; margin-top:-60px; float:right; clear:right;}
.main-menu li {float:left; width:126px; padding-right:2px; text-align:center; font:150%/45px 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif;}
.main-menu li a:link, .main-menu li a:visited {color:#fff; display:block; text-decoration:none;}
.main-menu li a:hover, .main-menu li a:active {background:url('https://www.bromley.gov.uk/site/styles/css_img/main-menu-hover.gif') repeat-x;}
.main-menu li.home a:hover, .main-menu li.home a:active {background:url('https://www.bromley.gov.uk/site/styles/css_img/main-menu-hover-home.gif') repeat-x;}

//#search { float: right; padding: 10px 17px; width: 270px; }
//#search label {display:none;}
//#search input { background: #ececec; border: 1px solid #768b9a; border-color: #768b9a #d1dee8 #d1dee8 #768b9a; line-height: 9px; padding: 6px 5px 4px; width: 184px; }
//#search input.button { background: #fff; border: 1px solid #8596a8; color: #333; font-family: 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif; font-size:133%; height: 27px; line-height: 27px; padding: 0; vertical-align: top; width: 70px; }

// #footer renamed to #bromley-footer, fixed font size.
#bromley-footer { background: #666 url('https://www.bromley.gov.uk/site/styles/css_img/footer.gif') top center no-repeat; clear: both; width:100%; padding:30px 15px 50px; margin-left:-15px; color:#fff; font-size:92%;}
#bromley-footer a:link, 
#bromley-footer a:visited 				{ color: #fff; text-decoration: none; }
#bromley-footer a:hover,
#bromley-footer a:active 				{ text-decoration: underline;}
#bromley-footer img 					{ float: right; margin-top: -18px; }
#bromley-footer .footer-nav 			{ float: right; height:35px; margin-top: -15px; }
#bromley-footer .footer-nav li 			{ border-right:1px solid #fff; float: left; line-height: 1; padding: 0 20px; }
#bromley-footer .footer-nav li:last-child 	{ border: none; }

// Bromley IE specific CSS
.ie6 {
    div { zoom: 1; }
    #bromley-wrapper { padding: 0; }
    #bromley-footer { margin: 0; }
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; width: 68px; line-height: 24px; }
    input.button { overflow: visible; width: 1%; }
}
.ie7 {
    div { zoom: 1; }
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; width: 68px; line-height: 24px; }
    input.button { overflow: visible; }
}
.ie8 {
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; line-height: 24px; }
}

// mySociety additions
#bromley-header { font-size: 12px; }
.header-nav ul { margin: 0; }
.header-nav li { list-style-type: none; }
// Width is actually 637, but that causes wrap-around, need to ask for fixes and corner image
.main-menu { background: url('/cobrands/bromley/main-menu1.gif') no-repeat; width: 638px; }
.main-menu ul { margin: 0; }
.main-menu li { list-style-type: none; color: #ccf; }
.main-menu li.last { padding-right: 0; }
.main-menu li.last a:hover, .main-menu li.last a:active {background:url('/cobrands/bromley/main-menu-hover-home-right.gif') repeat-x;}
//#search input { display: inline; margin: 0; @include border-radius(0em); }
//#search input.button { font-weight: normal; text-transform: none; }
#bromley-footer { padding-bottom: 60px; }
#bromley-footer .footer-nav li { list-style-type: none; }
#bromley-footer p { margin: 0; }

#bromley-powered-by {
    clear: both;
}

.issue-list-a li .text small {
    display: inline;
}
