@import "_colours";
@import "../sass/layout";

body {
  background-color: white;
}

.container, #front-main-container {
  body.frontpage & {
    max-width: 992px !important;
  }
}

// Alter the logo and the header on every page *but* the map page. On the map
// page it stays small like in base.css
body.fullwidthpage, body.twothirdswidthpage, body.authpage, body.waste {
  #site-logo {
    $logo-height-desktop: 88px;
    width: 157px;
    height: 0;

    @include svg-background-image("/cobrands/bromley/images/site-logo");
    background-size: 157px $logo-height-desktop;
    background-position: center;
    background-repeat: no-repeat;
  
    //Not displaying the text
    padding-top: calc(#{$logo-height-desktop} + 10px);
    overflow: hidden;
    white-space: nowrap;
    text-indent: -999999px;
    z-index:2;
  }
}

#main-nav {
  display: block; // remove flex so nav touches top of parent
  min-height: 0; // no vertical align, so no need for a height
  margin-top: 2em;
  height: auto;

  .ie9 & > * {
    position: static;
    -ms-transform: none;
  }

  body.mappage & {
    margin-top: 0.5em;
  }
}

// Override the FMS main menu to give it a background colour
.nav-menu--main {
  li {
    margin: 0 5px;
  }

  // Bromley doesn't have a special styling for the report button in the nav
  a.report-a-problem-btn {
    border-radius: 0.25em;

    color: #fff;
    background: $bromley_blue;
    padding: 0.75em;

    margin: 0;
    @include border-radius(0.25em);
    &:hover, &:focus {
      background: darken($bromley_blue, 10%);
      color: #fff;
      text-decoration: none;
    }
  }

  span {
    color: $nav_colour;
    background-color: $nav_hover_background_colour;
  }

  a {
    color: $nav_colour;
    border-radius: 0.25em;
    // background-color: $nav_hover_background_colour;
    &:hover, &:focus {
      color: $bromley_blue;
      text-decoration: underline;
    }
  }
}


#map_box, #map_sidebar {
  // Navbar height + border
  top: 66px;
}

#front-main {
  padding-top: 5em;
  padding-bottom: 5em;
  position: relative;

  h1 {
    font-weight: 500;
    max-width: 350px;
    line-height: 130%;
    color: $primary_text;
  }

  #front-main-container {
    position: relative;
    z-index: 2;

    form#postcodeForm {
      margin: 0 0;
      text-align: left;
      border-radius: 8px;
      border: 2px solid $bromley_green;
      max-width: 550px;
      padding: 1.5em 2em;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    @include svg-background-image("/cobrands/bromley/images/curve-top");
    background-position: bottom 0 right 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
    right: 0;
    bottom: -2px;
    z-index: 1;
  }
}

.container .content {
  .frontpage & {
    border: 2px solid #b3d3b3;
    // border: 2px solid $bromley_green;
    border-radius: 8px;

    &:first-child p {
        margin-bottom: 2.5em;
        padding: 1em;
        border-radius: 2px;
        background: $bromley_yellow;
    }

    h2 {
      margin-bottom: 1em;
    }
  }
}

#front_stats {
  border-top-color: $bromley_green !important;
  background: transparent !important;

  big {
    color: $bromley_green !important;
  }
}

// Fix bad margin on local alerts form
body.alertindex form.full-width {
  margin-left: 0;
}

.site-message {
    padding: 1em;
    font-size: 1em;
}

// Bromley's footer
.site-footer {
  padding: 120px 0 0;
  height: 225px;
  margin-top: 3em;

  @media screen and (min-width: 960px) {
    background-size: 2000px;
  }

  .site-footer__content-right {
    bottom: 24px;
    right: 80px;
  }
}
