@import "_colours";
@import "../fixmystreet/_layout";

body {
    background: #fff;
}

#front-main {
    background: $primary;

    // layout sets this because base has it slightly lighter
    h2 {
        color: $primary_text;
    }
}

