@import "_colours";
@import "../sass/layout";

#bromley-wrapper { background: #fff url('https://www.bromley.gov.uk/site/styles/css_img/header-corners.gif') center 110px no-repeat; margin: 1px auto 0; padding: 0 15px; width: 955px;}
.offline #bromley-wrapper { padding: 0 15px 20px; }

// So that map appears underneath the header
.wrapper {
    position: relative;
}
.ie6, .ie7 {
    .wrapper {
        padding-top: 1em;
    }
}

// To prevent font size larger interfering with the fixed Bromley layout
.container { width: auto; }
.full-width { width: 464px; }
.shadow-wrap { width: 464px; }
#map_box { width: 464px; }
.content { width: 432px; }
body.fullwidthpage .content { width: auto; }
body.twothirdswidthpage .content {
    width: 640px;
    aside {
        left: 672px;
        width: 208px;
        padding: 16px;
    }
    .sticky-sidebar {
        left: 672px;
        aside {
            top:7em;
        }
    }
}
.ie6, .ie7 {
    body.mappage .container {
        width: 464px;
        margin-left: 0;
    }
}

#front-main {
    @include border-radius(1em 1em 0 0);
    margin: 2em 1em 0;
    padding-top: 0;
}

// Don't want gap that normal site has
body.frontpage {
    .table-cell {
        .content {
            margin-top: 0;
        }
    }
}

// Don't want FixMyStreet logo on desktop, and we have a skip to content in
// Bromley header
#site-header {
    display: none;
}

#user-meta {
    display: none;
}

// Currently hiding, but do want some internal navigation somewhere at the end
.nav-wrapper {
    display: none;
}

// White background, so no shadow or margin needed.
.content {
    margin: 0;
    @include box-shadow(none);
}
.ie6, .ie7, .ie8  {
    .content {
        margin: 0;
        border: none;
    }
}

// As map can scroll and isn't at the top, give it an edge
#map_box {
    border: solid 1px #999;
    top: 1em;
    right: 0em;
    margin: 0;
}

// Perhaps fix map location (should be in central?)
.ie6 #map_box, .ie7 #map_box {
    right: -480px;
}

.general-sidebar-notes,
#report-a-problem-sidebar {
  position: static;
  width: auto;
  @include box-shadow(rgba(0, 0, 0, 0), 0, 0, 0);
  .sidebar-tips,
  .sidebar-notes {
    font-size:1em;
  }
}

.ie7 .big-green-banner {
    right: 0;
}

// OpenLayers navigation always top right
#fms_pan_zoom {
    top: 0.5em !important;
}

// Fix location of aside sidebar
body.twothirdswidthpage {
    .content {
        aside {
            @include box-shadow(none);
        }
        .sticky-sidebar {
            top: 1em;
            aside {
                position: absolute;
                top: 0;
            }
        }
    }
}

// So as not to interfere with the Bromley footer, make the fixed nav static.
.shadow-wrap {
    position: static;
    padding-top: 0;
    margin-bottom: 1em;
    ul#key-tools {
        border-top: none;
        border-bottom: 1px solid $primary;
    }
}

