/* COLOURS */

$westminster_black: #0d0e16;
$westminster_navy: #0b2265;
$westminster_yellow: #ffdc53;
$westminster_lilac: #f3f4ff;

$primary: $westminster_yellow;

$primary_b: #000000;
$primary_text: #222222;

$base_bg: $westminster_lilac;
$base_fg: #000;

$nav_background_colour: $westminster_navy;
$nav_colour: #fff;
$nav_hover_background_colour: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$header-top-border: false;

$menu-image: 'menu-white';

$col_click_map: $westminster_yellow;

$body-font: "Open Sans", sans-serif;
$heading-font: $body-font;
$meta-font: $body-font;
