/* COLOURS */

$westminster_black: #161616;
$westminster_blue: #0b2265;
$westminster_blue_links: #0e35ff; 
$westminster_blue_btns: #0335ff; 
$westminster_blue_btns_hover: #032DD9; 
$westminster_green: #137c71;
$westminster_pink: #c8007b;
$westminster_navy: #0b2265;
$westminster_yellow: #ffd420;
$westminster_grey: #f7f5f6;
$westminster_dark_grey: #4d5366;
$westminster_body_bkgd: #f3f6fa;

$primary: $westminster_yellow;

$primary_b: #000000;
$primary_text: #222222;

$base_bg: $westminster_grey;
$base_fg: #000;

$nav_background_colour: #fff;
$nav_colour: $westminster_navy;
$nav_hover_background_colour: $westminster_blue;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$header-top-border: false;

$menu-image: 'menu-black';

$col_click_map: $westminster_yellow;

$body-font: 'Open Sans', sans-serif;
$heading-font: $body-font;
$meta-font: $body-font;

$mappage-header-height: 4.5em;
$header-padding: 1.5em;

$high-dpi-screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';

$search-help-alignment: left;
$search-help-background: #fff3f3;
$search-help-margin: 0 -1em;
$search-help-margin-desktop: 1em -1em 0 -1em;

$form-border: #afb6c9;

$container-max-width: 1084px;

$report-forms-wrapper-margin-top: 0rem;

$dropzone-border-colour: $westminster_blue_btns;
$dropzone-button-text: #fff;
$dropzone-button-background: $westminster_blue_btns;
$dropzone-button-border: $westminster_blue_btns;

$front-main-background: $westminster_body_bkgd;
$front-main-background-desktop: $westminster_body_bkgd;
$postcodeform-background: transparent;
$postcodeform-background-desktop: transparent;

$mobile-sticky-sidebar-button-bg: $westminster_blue_btns;
$mobile-sticky-sidebar-button-menu-image: "menu-white";

$button-padding-top: .9em;
$button-padding-bottom: .9em;
$button-padding-left: 1em;
$button-padding-right: 1em;

$button-border-radius: 4.5px;

$button-primary-bg-top: $westminster_blue_btns;
$button-primary-bg-bottom: $westminster_blue_btns;
$button-primary-border: false;
$button-primary-text:#fff;

$button-primary-hover-bg-top: $westminster_blue_btns_hover;
$button-primary-hover-bg-bottom:$westminster_blue_btns_hover;
$button-primary-hover-border: false;
$button-primary-hover-text:#fff;

$button-primary-focus-bg-top: #ffd420;
$button-primary-focus-bg-bottom: #ffd420;
$button-primary-focus-border: false;
$button-primary-focus-text: #222;
