@import "../sass/h5bp";
@import "colours";
@import "fonts";
@import "buttons";
@import "../sass/mixins";

@import "../sass/base";

body.frontpage {
    background-color: #fff; // instead of $westminster_grey

    h1 {
        font-size: 2.2em;
        font-weight: 600;
        letter-spacing: -0.5px;
        color: $westminster_navy;
    }
}

#site-logo {
    background-position: 0 0;
    background-size: 120px 30px;
    height: 30px;
    width: 130px; // 10px of white space to the right, so centred logo position matches main site
    background-image: url(/cobrands/westminster/images/wcc_logo.png);
    margin: 0 auto; // centre logo
}

#site-header {
    padding-top: 13px;
    padding-bottom: 15px;
    border-bottom: 4px solid $westminster-yellow;
}

#nav-link {
    right: auto;
    left: 0.25em; // roughly match "menu" icon location on left of the main site
}

#report-cta {
    right: 1em; // right-aligned, rather than left-aligned
}

.postcode-form-box {
    div {
        position: relative;
        border: none;

        input#pc {
            box-sizing: border-box;
            padding: 10px 22px;
            border: 1px solid $form-border;
            border-radius: 4.5px;
            background: #fff;

            &:focus {
                box-shadow: 0 0 0 3px $westminster-yellow;
                outline: 0;
            }
        }

        input#sub {
            width: 40px;
            height: 46px;
            padding: 0 0 0 50px; // So value 'Go' doesn't display inside search icon
            overflow: hidden;
            @include flex(0 0 auto);
            background: $westminster_blue_links url(/cobrands/westminster/images/search-white.svg) no-repeat 50% 50%;
            background-size: 42px 32px;
            position: absolute;
            border-top-right-radius: 4.5px;
            border-bottom-right-radius: 4.5px;
            top: 0;
            right: 0;

            &:hover,
            &:focus {
                background: $westminster_blue_links url(/cobrands/westminster/images/search-white.svg) no-repeat 50%
                    50%;
                background-size: 42px 32px;
            }
        }
    }
    label {
        font-size: 1.1em;
        font-weight: 600;
    }
}

.content {
    color: $westminster_dark_grey;
}

#front-howto h2,
#front-recently h2 {
    font-weight: 600;
    color: $westminster_blue;
    font-size: 2.2em;
}

ol.big-numbers > li:before {
    color: $westminster_blue;
}

#front_stats {
    background-color: $westminster_blue;
    color: #fff;
}

#report-cta {
    border: 0;
    border-radius: 4.5px;
    background-color: $westminster_blue_links;
    color: #fff;
    padding: 10px 14px;
    &:hover,
    &:focus {
        color: #fff;
    }
}

.westminster-footer {
    background-color: $westminster_navy;
    padding: 1.5em 0;

    a {
        color: #fff;
    }
}

.westminster-footer-logo__mobile {
    margin: 1.8em 0 2em;
    a {
        $image-width: 200px * (130/200);
        $image-height: 49px * (130/200);
        display: inline-block;
        overflow: hidden;
        width: $image-width;
        padding-top: $image-height;
        height: 0;
        background-size: $image-width $image-height;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("/cobrands/westminster/images/footer-logo.svg");
    }
}
.westminster-footer-logo__desktop {
    display: none;
}

.westminster-site-links,
.westminster-social-links,
.westminster-tertiary-links {
    list-style: none;
    margin: 0;

    li {
        list-style: none;
    }
}

.westminster-site-links {
    margin-top: 1.5em;
    font-size: 1.1em;

    li {
        margin-bottom: 1em;
    }
}

.westminster-social-links {
    margin: 1.5em -6px;

    li {
        display: inline-block;
        margin: 0 6px;
    }

    a {
        display: inline-block;
        overflow: hidden;
        width: 38px;
        padding-top: 38px;
        height: 0;
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 14px;
    }
}

.westminster-social-links__linkedin {
    background-image: url("/cobrands/westminster/images/westminster_linkedin.svg");
}

.westminster-social-links__twitter {
    background-image: url("/cobrands/westminster/images/westminster_twitter.svg");
}

.westminster-social-links__instagram {
    background-image: url("/cobrands/westminster/images/westminster_instagram.svg");
}

.westminster-social-links__facebook {
    background-image: url("/cobrands/westminster/images/westminster_facebook.svg");
}

.westminster-tertiary-links {
    padding: 2em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;

    li {
        display: block;
        margin: 0 0 0.8em 0;
    }
}

.item-list__item--expandable__actions a.btn--primary {
    display: none; // No updates
}

.my-account-buttons--email {
    display: none; // hide 'change email' link
}

.my-account-buttons a.change-password {
    display: none;
}

.btn--primary {
    @include btn-medium-primary;
}

body.mappage {
    h1 {
        font-weight: 600;
        letter-spacing: -0.5px;
        color: $westminster_navy;
    }

    #report-a-problem-main {
        button.btn {
            @include btn-primary
        }
    }

    .form-section-preview {
        button.btn {
            @include btn-primary
        }
    }
}

.form-control {
    outline-color: $westminster_yellow;
}

.westminster-cookie-banner {
    *, ::before, ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: #e5e7eb;
    }

    .cookiealert.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        transition: all 200ms;
    }

    .cookiealert {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0 !important;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        border-radius: 0;
        transform: translateY(100%);
        transition: all 200ms ease-out;
        color: #fff;
        background: #0B2265;
        border-top: 0.4rem solid #ffd420;
        font-family: "Source Sans Pro" !important;
        font-size: 19px;
        line-height: 1.78125rem;
    }


    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        position: relative;
    }

    .p-6 {
        padding: 1.5rem;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .ml-auto {
        margin-left: auto;
    }


    .header-4 {
        font-size: 1.5rem;
        font-family: "Source Sans Pro";
        letter-spacing: 0;
        color: #0B2265;
        line-height: 1.9375rem;
    }

    .cookiealert p {
        font-size: 1.0625rem;
        line-height: 1.59375rem;
        margin-top: 0;
        margin-bottom: 0.625rem;
    }

    .cookiealert a {
        color: #ffffff;
        text-decoration: underline;
    }

    .text-link-colour {
        color: rgb(0, 89, 175);
    }

    .text-white {
        color: rgb(255, 255, 255);
    }

    button, [type='button'] {
        background-color: transparent;
        background-image: none;
        cursor: pointer;
        text-transform: none;
    }

    .primary-button {
        font-size: 1.1475rem;
        line-height: 1.336rem;
        background-color: #0335ff;
        color: #ffffff;
        padding: 0.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        box-shadow: 0 0.125rem 0.735rem 0 rgba(0, 0, 0, 0.3);
        outline: none;
        border-radius: 0.4rem;
    }

    .bg-button-default {
        background-color: rgb(3, 53, 255);
    }

    .mt-3 {
        margin-top: 0.75rem;
    }
}
