@import "colours";
@import "../sass/layout";

body.frontpage {
    h1 {
        font-size: 3.3em;
    }

    .container {
        max-width: $container-max-width;
    }

    #front-main {
        #front-main-container {
            padding: 0 1em;
            max-width: $container-max-width;
        }
    }
}

#site-logo {
    margin: 0; // reset the centering we introduced in the mobile view
}

#site-header {
    padding-top: $header-padding;
    padding-bottom: $header-padding;
}

#front-main {
    padding: 50px 0;

    label {
        font-size: 18px;
    }
}

.postcode-form-box {
    overflow: visible;
}

.content {
    #front-howto {
        #front_stats {
            border-top: 0.25em solid $westminster_blue;
            big {
                color: $westminster_blue;
            }
        }
    }
}

body.mappage {
    #site-header {
        box-sizing: border-box; // count padding as part of height, so border-bottom is visible
        padding-top: 18px; // 1.25em minus 3px, to visually compensate for 3px border-bottom
    }

    .nav-wrapper {
        top: -3px; // to visually compensate for 3px border-bottom on #site-header
    }

    .westminster-footer {
        display: none;
    }
}

.nav-menu--main {
    li {
        color: $westminster_blue_links;
    }

    a, span, a:visited {
        padding: 0.25em 0.5em;
        margin: 0.5em 0.25em;
        color: inherit;
        font-weight: 600;
        font-size: 1.1em;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a {
        &:hover {
            background: $westminster_blue_links;
            color: #fff;
            text-decoration: none;
            border-radius: 4.5px;
        }
        &:focus {
            background: $westminster_yellow;
            color: inherit;
            border-radius: 4.5px;
            box-shadow: none;
            outline: none;
        }
    }

    // Make it not look like a button any more.
    a.report-a-problem-btn,
    a.report-a-problem-btn:hover {
        color: inherit;
        background: transparent;
        padding: 0.25em 0.5em;
        margin: 0.5em 0.25em;
    }
}

.big-green-banner {
    color: $westminster-black;
    background: $col_click_map inline-image("../westminster/images/chevron-black-right.svg") $right center no-repeat;
}

.problem-header h1 {
    font-weight: bold;
}

.westminster-footer {
    text-align: inherit;
}

.westminster-footer-logo__desktop {
    display: block;
    a {
        display: inline-block;
        overflow: hidden;
        height: 0;
        $image-width: 200px;
        $image-height: 49px;
        float: right;
        margin-top: 70px;
        width: $image-width;
        padding-top: $image-height;
        background-size: $image-width $image-height;
        background-size: $image-width $image-height;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("/cobrands/westminster/images/footer-logo.svg");
    }
}

.westminster-footer-logo__mobile {
    display: none;
}



.westminster-site-links {
    margin-top: 0;

    li {
        margin-bottom: 0.5em;
    }
}

.westminster-tertiary-links {
    border-bottom: none;

    li {
        display: inline-block;
        margin: 0 1.2em 0.8em 0;
    }
}
