[%

color_primary = '#0B5258'
color_white = '#fff'
color_white_2 = '#e9ecee'
color_black = '#000'
color_link = '#9d3f97'

body_background_color = '#F2F2F2'
body_text_color = color_black

header_background_color = color_primary;
header_text_color = color_white

button_background_color = color_link
button_text_color = color_white

link_text_color = '#01619b'
link_hover_text_color = '#01619b'

secondary_column_background_color = color_white_2
secondary_column_text_color = color_black

logo_width = '103'
logo_height = '60'
logo_file = 'logo.png'

%]
