<div class="wnc-cookie-banner wnc-cookie-hidden" id="wncCookieBanner">
  <div class="wnc-cookie-banner-container">
    <p class="wnc-cookie-title">
      We use cookies on this site to enhance your user experience
    </p>

    <p>
      By clicking the Accept button, you agree to us doing so. More info on our
      <a href="https://www.westnorthants.gov.uk/about-website/cookies" class="wnc-cookie-link">cookie policy</a>
    </p>

    <div class="wnc-cookie-buttons">
      <div>
        <button class="wnc-cookie-button" onclick="updateCookies(true)">
          Accept all cookies
        </button>
      </div>
      <div>
        <button class="wnc-cookie-button" onclick="updateCookies(false)">
          Reject all cookies
        </button>
      </div>
    </div>
  </div>
</div>
