@import "_variables";
@import "../sass/layout";

body {
  font-size: 1.1875em;
}

a.platform-logo {
    background-image: url(/cobrands/fixmystreet/images/fms-platform-logo-dark.svg);
}

// HEADER
#site-logo {
  width: 225px;
}

.nav-menu {
  a, span, a.report-a-problem-btn {
    font-size: 1em;
    border-radius: $button-border-radius;
  }

  span {
    color:$primary_b;
  }
}

// FRONTPAGE
#front-main {
  padding: 5.625rem 1em;
  max-width: 1680px;
  margin: 0 auto;

  .front-main-message {
    width: 100%;

    svg {
      height: 1.9rem;
      width: 1.9rem;
    }
  }
}

#front_stats {
  border-color: $primary_b;
}

// MAP PAGE
.big-green-banner {
  font-size: 1.2rem;
}

//FOOOTER
.northnorthants-footer {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    &.list-links {
      flex-direction: row;
      margin-bottom: 40px;

      a {
        padding: 10px 5px;
      }
    }

    &.list-social-links {
      margin-bottom: 15px;
    }
  }
}
