/* COLOURS */

$menu-image: 'menu-black';

$primary: #b5deec;
$primary_b: #087FA0;
$primary_text: #222;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$base_bg: #eee url(/cobrands/fixamingata/images/tile.jpg) 0 0 repeat;
$base_fg: $primary_text;

$nav_background_colour: unset;
$nav_colour: $primary_text;
$nav_hover_background_colour: #eee;

$header-top-border: false;

$col_click_map: #00BD08;

$high-dpi-screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';

$link-color: #0000CC;
$link-hover-color: #0000CC;

$dropzone-button-text: $primary_text;
$dropzone-frontpage-white-background-desktop: true;
$dropzone-frontpage-color: $primary_text;
