/* COLOURS */

$menu-image: 'menu-black';

$primary: #00b1da;
$primary_b: #0087a6;
$primary_text: #222;

$base_bg: #eee url(/cobrands/fixamingata/images/tile.jpg) 0 0 repeat;
$base_fg: $primary_text;

$map_nav_bg: #eee;
$nav_fg: $primary_text;
$nav_fg_hover: #444;

$col_click_map: #00BD08;
$col_click_map_dark: #4B8304;
$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
