/* COLOURS */

$menu-image: 'menu-black';

$primary: #00b1da;
$primary_b: #0087a6;
$primary_text: #222;

$base_bg: #eee url(images/tile.jpg) 0 0 repeat;
$base_fg: $primary_text;

$nav_background_colour: #eee;
$nav_colour: $primary_text;
$nav_hover_background_colour: #444;

$header-top-border: false;

$col_click_map: #00BD08;
