/* Base stylesheet for FixMyStreet look
 *
 * In a mobile first way, this contains the look of the site, and a basic
 * layout for browsers that can't handle media queries. Baseline grid of 1.5em.
 */

$image-sprite: '/cobrands/fixamingata/images/sprite.png';

@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#site-header {
    @include background(linear-gradient(#000, #ccc 10%, #ccc 90%, #000));
}

#site-logo {
    width: 185px;
    margin-top: 8px;
    margin-left: 10px;
    background: url('/cobrands/fixamingata/images/fms-logo.png') no-repeat;
}
#nav-link {
    background-image: url(/cobrands/fixmystreet/images/menu-black.png);
    background-image: url(/cobrands/fixmystreet/images/menu-black.svg), none;
}

#report-cta {
    font-size: 0.8em;
    margin-top: -0.25em;
    border-color: #999;
    color: #000;
    padding-bottom: 0.2em;
    padding-top: 0.5em;

    &:hover, &:focus {
      background-color: #bbb;
    }
}

#front-main {
    a#geolocate_link {
        font-size: 0.9em;
    }
}

.description_tips {
  h4 {
    margin: 1em 0 0.5em; /* Jon added some margin-top here! */
  }
}
