/* Base stylesheet for FixMyStreet look
 *
 * In a mobile first way, this contains the look of the site, and a basic
 * layout for browsers that can't handle media queries. Baseline grid of 1.5em.
 */

@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

#site-header {
    @include linear-gradient(#000, #ccc 10%, #ccc 90%, #000);
    padding: 0.5em 0;
}

#site-logo {
    height: 35px;
    @include svg-background-image("/cobrands/fixamingata/images/site-logo");
}

#report-cta {
    font-size: 0.8em;
    border-color: #999;
    color: #000;
    padding-bottom: 0.2em;
    padding-top: 0.5em;

    &:hover, &:focus {
      background-color: #bbb;
    }
}

.description_tips {
  h4 {
    margin: 1em 0 0.5em;
  }
}
