/* Base stylesheet for FixMyStreet look
 *
 * In a mobile first way, this contains the look of the site, and a basic
 * layout for browsers that can't handle media queries. Baseline grid of 1.5em.
 */

@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

#site-header {
    @include linear-gradient(#000, #ccc 10%, #ccc 90%, #000);
    padding: 0.5em 0;
}

#site-logo {
    width: 185px;
    height: 38px;
    background: transparent url('images/site-logo.png') 0 50% no-repeat;
}

#report-cta {
    font-size: 0.8em;
    border-color: #999;
    color: #000;
    padding-bottom: 0.2em;
    padding-top: 0.5em;

    &:hover, &:focus {
      background-color: #bbb;
    }
}

#front-main {
    a#geolocate_link {
        font-size: 0.9em;
    }
}

.description_tips {
  h4 {
    margin: 1em 0 0.5em; /* Jon added some margin-top here! */
  }
}
