@font-face {
  font-family: 'MuseoSans';
  src: url('../fixmystreet.com/fonts/MuseoSans_300-webfont.eot');
  src: url('../fixmystreet.com/fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fixmystreet.com/fonts/MuseoSans_300-webfont.woff') format('woff'),
       url('../fixmystreet.com/fonts/MuseoSans_300-webfont.ttf') format('truetype'),
       url('../fixmystreet.com/fonts/MuseoSans_300-webfont.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.eot');
  src: url('../fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.woff') format('woff'),
       url('../fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.ttf') format('truetype'),
       url('../fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.svg#MuseoSans300Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fixmystreet.com/fonts/MuseoSans_500-webfont.eot');
  src: url('../fixmystreet.com/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fixmystreet.com/fonts/MuseoSans_500-webfont.woff') format('woff'),
       url('../fixmystreet.com/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
       url('../fixmystreet.com/fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.eot');
  src: url('../fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.woff') format('woff'),
       url('../fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
       url('../fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.svg#MuseoSans500Italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Museo300-display';
  src: url('../fixmystreet.com/fonts/Museo300-Regular-webfont.eot');
  src: url('../fixmystreet.com/fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fixmystreet.com/fonts/Museo300-Regular-webfont.woff') format('woff'),
       url('../fixmystreet.com/fonts/Museo300-Regular-webfont.ttf') format('truetype'),
       url('../fixmystreet.com/fonts/Museo300-Regular-webfont.svg#Museo300') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Opera has a bug (from around 10.5 upwards to current 11.6) with showing the
 * table caption *at all* if the header is set to a font-face :( */
noindex:-o-prefocus, #site-header {
  font-family: sans-serif;
}

h3, h4,
.item-list__heading {
    font-weight: bold;
}

@import "_colours";
@import "../sass/layout";

body.mappage {
    background-image: none;
}

#site-header {
    background: $nav_background_colour;
    padding: 1em 0;
}

body.frontpage {
    #site-logo {
        width: 300px;
        height: 55px;
        background-size: 275px 55px;
        @include svg-background-image("/cobrands/fixamingata/images/site-logo");
    }

    #main-nav {
        height: 55px + 16px + 16px;
        margin-left: 300px;
    }
}

body.mappage {
    #site-logo {
        margin-top: -5px;
    }
}

#front-main {
    background: $primary url(/cobrands/fixamingata/images/tile-y.jpg);
}

.tablewrapper {
    >div {
        width: auto;
    }
}

#footer-help {
    ul {
        li {
            width: 30%;
            border-right: 1.25em solid transparent;
            &:last-child {
                border-left: none;
            }
        }
    }
}

#postcodeForm { margin-left: -1em !important; margin-right: -1em !important; }

.content footer .tablewrapper { background: #fff; }
