@font-face {
  font-family: 'MuseoSans';
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_300-webfont.eot');
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_300-webfont.woff') format('woff'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_300-webfont.ttf') format('truetype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_300-webfont.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.eot');
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.woff') format('woff'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.ttf') format('truetype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_300_Italic-webfont.svg#MuseoSans300Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_500-webfont.eot');
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_500-webfont.woff') format('woff'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.eot');
  src: url('/cobrands/fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.woff') format('woff'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
       url('/cobrands/fixmystreet.com/fonts/MuseoSans_500_Italic-webfont.svg#MuseoSans500Italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Museo300-display';
  src: url('/cobrands/fixmystreet.com/fonts/Museo300-Regular-webfont.eot');
  src: url('/cobrands/fixmystreet.com/fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/cobrands/fixmystreet.com/fonts/Museo300-Regular-webfont.woff') format('woff'),
       url('/cobrands/fixmystreet.com/fonts/Museo300-Regular-webfont.ttf') format('truetype'),
       url('/cobrands/fixmystreet.com/fonts/Museo300-Regular-webfont.svg#Museo300') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Opera has a bug (from around 10.5 upwards to current 11.6) with showing the
 * table caption *at all* if the header is set to a font-face :( */
noindex:-o-prefocus, #site-header {
  font-family: sans-serif;
}

h3, h4,
.item-list__heading {
    font-weight: bold;
}

@import "_colours";
@import "../sass/layout";

body.mappage {
    background-image: none;
}

#site-header {
    padding: 1em 0;
}

body.frontpage {
    @include linear-gradient(white 5%, #9adfef 65%);

    #site-logo {
        width: 300px;
        height: 55px;
        background-size: 275px 55px;
        background-image: url("/cobrands/fixamingata/images/site-logo.svg");
    }

    #main-nav {
        height: 55px + 16px + 16px;
        margin-left: 300px;
    }
}

body.mappage {
    #site-logo {
        margin-top: -5px;
    }
}

#front-main {
    background: unset;
}

.tablewrapper {
    >div {
        width: auto;
    }
}

#footer-help {
    ul {
        li {
            width: 30%;
            border-right: 1.25em solid transparent;
            &:last-child {
                border-left: none;
            }
        }
    }
}

.content footer .tablewrapper { background: #fff; }

.nav-menu--main {
    a {
	border-radius: 5px;
    }
    span {
    	 color: $primary_text;
    	 font-weight: bold;
    }

    a.report-a-problem-btn {
	display: none;
    }
}

.mappage {
    .nav-menu--main {
	span.report-a-problem-btn {
	    display: block;
	}
	a.report-a-problem-btn {
	    display: block;
	    border-width: 1px;
	    border-color: $primary_text;
	    border-style: solid;
	}
    }
}

body.twothirdswidthpage {
    .content {
       aside {
           background:#fff;
       }
    }
}

#front-main {
    margin: 1em 0 2em;
}

#front-main #postcodeForm .form-hint {
    font-size: .9em;
    margin-top: .5em;
}

.nav-menu a:hover {
    background-color: #e6f7fb;
    color: rgb(34, 34, 34);
}

.content {
    margin-bottom: 2em;
}

#front_stats {
    border-color: #087FA0;
}

#front_stats big {
    color: #087FA0;
}

.item-list, h2.static-with-rule, #key-tools {
    border-color: #087fa0;
}

#offline_list:empty {
    display: none;
}
