# An example Apache virtualhost configuration file.
#
# See our installation help at http://code.fixmystreet.com/
#
# Ubuntu disto repos contains only mod_fcgid as an alternative to mod_fastcgi

<VirtualHost *:80>
    ServerName fixmystreet.yourservername
    DocumentRoot /home/yourname/fixmystreet/web/

    # Pull in the specific config
    Include /home/yourname/fixmystreet/conf/httpd.conf

    <Directory /home/yourname/fixmystreet/web>
        # You also need to enable cgi files to run as CGI scripts.  For example:
        # on production servers these are run under fastcgi
        Options +ExecCGI
        AddHandler fcgid-script .cgi
        AllowOverride None
    </Directory>

    <Location /admin>
        # 
        #  WARNING - enable auth here on production machine
        # 
    </Location>

    Alias /admin/ /home/yourname/fixmystreet/web-admin/

    Alias /jslib/ /home/yourname/fixmystreet/commonlib/jslib/
    <Location /jslib>
        AddOutputFilter DEFLATE js
        Header append Cache-Control "no-transform"
    </Location>

</VirtualHost>
