#! /bin/sh
### BEGIN INIT INFO
# Provides:          application-catalyst-fixmystreet
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts the app server for the "FixMyStreet" site
# Description:       The application server for the "FixMyStreet" site
### END INIT INFO

# This example sysvinit script is based on the helpful example here:
# http://richard.wallman.org.uk/2010/02/howto-deploy-a-catalyst-application-using-fastcgi-and-nginx/

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
SITE_HOME=/var/www/fixmystreet
NAME=fixmystreet
DESC="FixMyStreet app server"
USER=fms
PIDFILE=${SITE_HOME}/${NAME}.pid
LOGDIR=${SITE_HOME}/logs

echo $DAEMON
test -f $DAEMON || exit 0

set -e

start_daemon() {
  su -l -c "cd $SITE_HOME/fixmystreet && script/server --port 9000 --env deployment --daemonize --pid $PIDFILE --access-log $LOGDIR/$NAME.access.log --error-log $LOGDIR/$NAME.error.log" $USER
}

stop_daemon() {
  if [ -e "$PIDFILE" ]; then
    kill -TERM `cat $PIDFILE`
  else
    echo "No $PIDFILE found, skipping KILL."
  fi
}

case "$1" in
  start)
    start_daemon
    ;;
  stop)
    stop_daemon
    ;;
  reload|restart|force-reload)
    stop_daemon
    sleep 5
    start_daemon
    ;;
  *)
    N=/etc/init.d/$NAME
    echo "Usage: $N {start|stop|reload|restart|force-reload}" >&2
    exit 1
    ;;
esac

exit 0
