.icon-arrow-down-white { background-image: url('png/arrow-down-white.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow-left-white { background-image: url('png/arrow-left-white.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-up-white { background-image: url('png/arrow-up-white.png'); background-repeat: no-repeat; }

.icon-arrow-up { background-image: url('png/arrow-up.png'); background-repeat: no-repeat; }

.icon-arrow-white { background-image: url('png/arrow-white.png'); background-repeat: no-repeat; }

.icon-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

.icon-balloons { background-image: url('png/balloons.png'); background-repeat: no-repeat; }

.icon-benefits-assistance { background-image: url('png/benefits-assistance.png'); background-repeat: no-repeat; }

.icon-bins-recycling { background-image: url('png/bins-recycling.png'); background-repeat: no-repeat; }

.icon-business-and-investment { background-image: url('png/business-and-investment.png'); background-repeat: no-repeat; }

.icon-business-investment { background-image: url('png/business-investment.png'); background-repeat: no-repeat; }

.icon-car-service { background-image: url('png/car-service.png'); background-repeat: no-repeat; }

.icon-castle { background-image: url('png/castle.png'); background-repeat: no-repeat; }

.icon-close-btn-dark { background-image: url('png/close-btn-dark.png'); background-repeat: no-repeat; }

.icon-close-btn1 { background-image: url('png/close-btn1.png'); background-repeat: no-repeat; }

.icon-close-btn2 { background-image: url('png/close-btn2.png'); background-repeat: no-repeat; }

.icon-consultations { background-image: url('png/consultations.png'); background-repeat: no-repeat; }

.icon-council-tax { background-image: url('png/council-tax.png'); background-repeat: no-repeat; }

.icon-crime-and-emergency { background-image: url('png/crime-and-emergency.png'); background-repeat: no-repeat; }

.icon-crime-emergencies { background-image: url('png/crime-emergencies.png'); background-repeat: no-repeat; }

.icon-elections { background-image: url('png/elections.png'); background-repeat: no-repeat; }

.icon-envelope { background-image: url('png/envelope.png'); background-repeat: no-repeat; }

.icon-error { background-image: url('png/error.png'); background-repeat: no-repeat; }

.icon-events-celebrations { background-image: url('png/events-celebrations.png'); background-repeat: no-repeat; }

.icon-events { background-image: url('png/events.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-fax { background-image: url('png/fax.png'); background-repeat: no-repeat; }

.icon-flower { background-image: url('png/flower.png'); background-repeat: no-repeat; }

.icon-food-hygiene { background-image: url('png/food-hygiene.png'); background-repeat: no-repeat; }

.icon-forms { background-image: url('png/forms.png'); background-repeat: no-repeat; }

.icon-gym-membership { background-image: url('png/gym-membership.png'); background-repeat: no-repeat; }

.icon-hamburger-menu-white { background-image: url('png/hamburger-menu-white.png'); background-repeat: no-repeat; }

.icon-hamburger-menu { background-image: url('png/hamburger-menu.png'); background-repeat: no-repeat; }

.icon-hamburger-menu2 { background-image: url('png/hamburger-menu2.png'); background-repeat: no-repeat; }

.icon-harrogate-map { background-image: url('png/harrogate-map.png'); background-repeat: no-repeat; }

.icon-health-and-safety { background-image: url('png/health-and-safety.png'); background-repeat: no-repeat; }

.icon-health-safety { background-image: url('png/health-safety.png'); background-repeat: no-repeat; }

.icon-homes-property { background-image: url('png/homes-property.png'); background-repeat: no-repeat; }

.icon-hydro-swimming-pool { background-image: url('png/hydro-swimming-pool.png'); background-repeat: no-repeat; }

.icon-icon-bank { background-image: url('png/icon-bank.png'); background-repeat: no-repeat; }

.icon-information { background-image: url('png/information.png'); background-repeat: no-repeat; }

.icon-jobs { background-image: url('png/jobs.png'); background-repeat: no-repeat; }

.icon-leisure-sport { background-image: url('png/leisure-sport.png'); background-repeat: no-repeat; }

.icon-licences-permissions { background-image: url('png/licences-permissions.png'); background-repeat: no-repeat; }

.icon-licensing-and-permissions { background-image: url('png/licensing-and-permissions.png'); background-repeat: no-repeat; }

.icon-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.icon-magnifying-glass-white { background-image: url('png/magnifying-glass-white.png'); background-repeat: no-repeat; }

.icon-magnifying-glass { background-image: url('png/magnifying-glass.png'); background-repeat: no-repeat; }

.site-content address:before,
.icon-map-pointer { background-image: url('png/map-pointer.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('png/map.png'); background-repeat: no-repeat; }

.icon-menu-up { background-image: url('png/menu-up.png'); background-repeat: no-repeat; }

.icon-minus-btn { background-image: url('png/minus-btn.png'); background-repeat: no-repeat; }

.icon-missed-bin-collection { background-image: url('png/missed-bin-collection.png'); background-repeat: no-repeat; }

.icon-museums-galleries { background-image: url('png/museums-galleries.png'); background-repeat: no-repeat; }

.icon-parking-travel { background-image: url('png/parking-travel.png'); background-repeat: no-repeat; }

.icon-parking { background-image: url('png/parking.png'); background-repeat: no-repeat; }

.icon-parks-openspaces { background-image: url('png/parks-openspaces.png'); background-repeat: no-repeat; }

.icon-payments { background-image: url('png/payments.png'); background-repeat: no-repeat; }

.icon-pest-control { background-image: url('png/pest-control.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-pin { background-image: url('png/pin.png'); background-repeat: no-repeat; }

.icon-planning-and-development { background-image: url('png/planning-and-development.png'); background-repeat: no-repeat; }

.icon-planning-development { background-image: url('png/planning-development.png'); background-repeat: no-repeat; }

.icon-planning-permission { background-image: url('png/planning-permission.png'); background-repeat: no-repeat; }

.icon-plus-btn { background-image: url('png/plus-btn.png'); background-repeat: no-repeat; }

.icon-recycling { background-image: url('png/recycling.png'); background-repeat: no-repeat; }

.icon-red-arrow { background-image: url('png/red-arrow.png'); background-repeat: no-repeat; }

.icon-register-to-vote { background-image: url('png/register-to-vote.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-twitter1 { background-image: url('png/twitter1.png'); background-repeat: no-repeat; }

.icon-twitter2 { background-image: url('png/twitter2.png'); background-repeat: no-repeat; }

.icon-warning { background-image: url('png/warning.png'); background-repeat: no-repeat; }

.icon-your-community { background-image: url('png/your-community.png'); background-repeat: no-repeat; }

.icon-your-council { background-image: url('png/your-council.png'); background-repeat: no-repeat; }

.icon-your-environment { background-image: url('png/your-environment.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

