                    [% IF pagefooter %]
                    <footer role="contentinfo">
                        [% INCLUDE 'front/footer-marketing.html' %]
                    </footer>
                    [% END %]
                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="table-caption">


          <header id="stevenage_cc_header" role="banner">
          <div id="stv-headerWrapper">
            <div id="stv-header">
              <div class="stv-inner">

                <div id="stv-logo">
                  <h1><a href="/"><img src="http://www.stevenage.gov.uk/Images/logo.gif" alt="Stevenage Borough Council"></a></h1>
                </div>

                <div class="stv-mapLogo">
                  <img src="http://www.stevenage.gov.uk/Images/mapLogo.gif" alt="">
                </div>

                <div id="stv-pageTools" class="stv-floatHolder">
                  <div id="stv-searchStatic">
                    <label for="search">Search</label> <input type="hidden" name="view" value="Search results"> <input name="search" type="text" value="" placeholder="Search for..." id="stv-search" class="stv-searchInput"> <input type="submit" value="GO">
                  </div>
                </div>

                <div class="stv-parf stv-floatHolder">
                  <a href="http://www.stevenage.gov.uk/pay/"><span class="stv-title">Pay</span> your Council Tax bill and more</a> <a href="http://www.stevenage.gov.uk/apply/"><span class="stv-title">Apply</span> for planning permission and more</a> <a href="http://www.stevenage.gov.uk/report/"><span class="stv-title">Report</span> a missed bin and more</a> <a href="http://www.stevenage.gov.uk/find/" class="stv-find"><span class="stv-title">Find</span> your local councillor and more</a>
                </div>

              </div>
            </div>
            <div id="stv-menu">
              <div id="stv-primaryNavigation">
                <ul id="stv-ctl00_ctl00_PrimaryNavigationLinks" class="stv-floatHolder">
                  <li>
                    <a href="http://www.stevenage.gov.uk/council-services/">Council Services</a>
                  </li>
                  <li>
                    <a href="http://www.stevenage.gov.uk/about-the-council/">About the Council</a>
                  </li>
                  <li>
                    <a href="http://www.stevenage.gov.uk/about-stevenage/">About Stevenage</a>
                  </li>
                  <li>
                    <a href="http://www.stevenage.gov.uk/news-and-events/">News and Events</a>
                  </li>
                  <li>
                    <a href="http://www.stevenage.gov.uk/links/">Popular Links</a>
                  </li>
                  <li>
                    <a href="http://www.stevenage.gov.uk/have-your-say/">Have Your Say</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          </header>

          <div class="nav-wrapper">
            <div class="container">
                [% INCLUDE "main_nav.html" hide_privacy_link=1 %]
            </div>
          </div>
        </div>
    </div> <!-- .wrapper -->

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
