[%

email_summary = "يجب عليك تأكيد " _ site_name _ " قبل ان يمكن ارساله الى ${ report.body }.";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box %]
  <h1 style="[% h1_style %]">يرجى تأكيد تقريرك</h1>
  <p style="[% p_style %]">يرجى النقر على الرابط أدناه لتأكيد أنك تريد إرسال تقريرك إلى [% report.body %].
[% IF c.cobrand.is_council && !c.cobrand.owns_problem( report ) %]
Please note that [% c.cobrand.council_name %] is not responsible for this type
of problem, so it will instead be sent to [% report.body %].
[% END %]
  </p>
  <p style="[% p_style %]">سوف يظهر تقريرك ايضا على موقع [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">نعم، ارسل تقريري</a>
  </p>
  <p style="[% p_style %]">إذا لم تعد ترغب في إرسال هذا التقرير، يرجى عدم اتخاذ أي إجراء آخر.</p>
  [% end_padded_box %]
</th>
[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
