[%

title = report.title | html;
email_summary = "هل لديك دقيقة اضافية؟ دعنا نعرف ما حدث لتقريرك مباشر عن ${ title }.";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box %]
  <h1 style="[% h1_style %]">هل تم حل مشكلتك؟</h1>
  <p style="[% p_style %]">[% created %] قبل أسابيع، ذكرت مشكلة في أستخدام مباشر.</p>
  <p style="[% p_style %]">ساعدنا على ابقاء مباشر محدثاً من خلال السماح لنا معرفة ما إذا كانت المشكلة قد تم علاجها حتى الآن::</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% fixed_button_style %]" href="[% url %]">حلت</a>
    <a style="[% notfixed_button_style %]" href="[% url %]">لم تحل</a>
  </p>
  <p style="[% p_style %]">شكراً! ملاحظاتك قيمة فعلا.</p>
  [% end_padded_box %]
</th>
[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% title %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
