/* COLOURS */

$menu-image: 'menu-black';

$mappage-header-height: 134px;

// Primary
$white: #fff;
$purple: rgb(125, 43, 128);
$green: rgb(139, 197, 79);

// Secondary
$orange: rgb(245,132,35);
$red: rgb(211,17,69);
$blue: rgb(0, 85, 150);
$dark_green: rgb(0, 137, 82);
$magenta: rgb(236, 0, 140);
$cyan: rgb(0, 174, 239);

$primary: $purple;
//$primary: #dce6f2; // From bexley.gov.uk/services
$primary_b: #222;
$primary_text: $white;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$base_bg: $white;
$base_fg: #222;

$nav_background_colour: $white;
$nav_colour: $purple;
$nav_hover_background_colour: darken($purple, 10%);

$col_click_map: $green;

$header-top-border: false;

$heading-font: InfoText, Frutiger, Arial, sans-serif;
$body-font: Frutiger, Arial, sans-serif;
$meta-font: $body-font;

$geolocation-link: $base_bg;
$geolocation-link-border: $base_bg;
$geolocation-link-background-color: $base_fg;

$search-help-background: #fff3f3;
$search-help-header-background: $red;
$search-help-header-font-size-desktop: 1.25em;

$front-main-color:$primary_b;
$form-hint-color: $primary_text;
$form-hint-color-desktop: $primary_text;
$front-main-color-desktop:$primary_text;
$front-main-background-desktop: $primary;
$geolocation-link: $primary_text;

$mobile-sticky-sidebar-button-menu-image: "menu-white";

$button-primary-bg-top: $green;
$button-primary-border: transparent;
$button-primary-text: #fff;

$button-primary-hover-bg-top: lighten($green, 5%);
$button-primary-hover-bg-bottom: lighten($green, 5%);
$button-primary-hover-border: transparent;
$button-primary-hover-text: #fff;

$dropzone-frontpage-white-background-desktop: true;
