@import "_colours";

@import "../sass/layout";

#site-logo {
    width: 231px;
    height: 102px;
    padding: 1em 0;
    background-size: 231px 102px;
}

// Stop visited nav links being purple when hovering over them
.nav-menu--main {
    a:hover {
      color: $primary_text;
    }
}

.alertpage .postcode-form-box {
    color: #222;
    .form-hint {
        color: #222;
    }
}
