[%

email_summary = "Du måste bekräfta din FixaMinGata-rapport innan den kan skickas till ${ report.body }";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]
  <h1 style="[% h1_style %]">Bekräfta din&nbsp;FixaMinGata-rapport</h1>
  <p style="[% p_style %]">För att bekräfta den rapport som du nyligen lade in på FixaMinGata
måste du klicka på nedanstående knapp.</p>
  <p style="[% p_style %]">Din rapport kommer också att visas på FixaMinGata.</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Skicka min rapport</a>
  </p>
  <p style="[% p_style %]">Om du inte vill skicka din rapport så behöver du inte göra något.</p>
  [% end_padded_box | safe %]
</th>
[% WRAPPER '_email_sidebar.html' object = report, url = token_url %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
