/* COLOURS */

$menu-image: 'menu-black';

$mappage-header-height: 124px;

// Based on
// https://www.iow.gov.uk/
// https://islandroads.com/

$blue: #00478c; // It's the front page background
$blue-700: #057eb6; // Primary colour on  
$cyan: #00aeef; // + 60 25
$orange: #fcaf17;
$green: #75c044;

//Any 20% tint of the above

$primary: $blue-700;
$primary_b: #222;
$primary_text: #fff;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$base_bg: #fff;
$base_fg: #222;

$nav_background_colour: #fff;
$nav_colour: $blue;
$nav_hover_background_colour: $cyan;

$col_click_map: $green;

$header-top-border: false;

$body-font: Helvetica, Arial, sans-serif;
$heading-font: $body-font;
$meta-font: $body-font;

$search-help-background: #fff3f3;
$search-help-header-font-size-desktop: 1.25em;
$geolocation-link: $primary_text;
$geolocation-link-background-color: $blue;

$front-main-color-desktop: $primary_text;
$front-main-background-desktop: $blue;

$front-main-color: $primary_text;
$front-main-background: $blue;
$postcodeform-background: $blue;

// This is not the colour the use on their website for their buttons, but at it matches the navbar and more important is accessible.
$button-primary-bg-top: $blue;
$button-primary-border: $blue;
$button-primary-text: #fff;

$dropzone-frontpage-white-background-desktop: true;
