@import "_colours";

@import "../sass/layout";

#site-logo {
    width: 282px;
    height: 76px;
    padding: 24px 0;
    background-position: 0px 50%;
    background-size: 282px 76px;
}

.mappage #site-header {
    box-sizing: border-box;
    border-bottom: solid 5px $cyan;
}

.meta-highlight {
    margin: 1em -1em;
    padding: 2em 2em;
    background-color: mix(#fff, $primary, 70%);
}

#front-main {
    padding-top: 3em;
    padding-bottom: 3em;
}

.alertpage .postcode-form-box {
    color: #222;
    .form-hint {
        color: #222;
    }
}

a#geolocate_link {
    border-color: white;
}
