[%
scripts.push(
    version('/js/lazyload.js'),
);
IF bodyclass.match('mappage');
    scripts.push( version('/cobrands/fixmystreet/assets.js') );
    scripts.push( version('/cobrands/fixmystreet-uk-councils/alloy.js') );
    scripts.push( version('/cobrands/bathnes/assets.js') );
    scripts.push( version('/cobrands/bexley/assets.js') );
    scripts.push( version('/cobrands/bristol/assets.js') );
    scripts.push( version('/cobrands/bromley/assets.js') );
    scripts.push( version('/cobrands/buckinghamshire/assets.js') );
    scripts.push( version('/cobrands/cheshireeast/assets.js') );
    scripts.push( version('/cobrands/isleofwight/assets.js') );
    scripts.push( version('/cobrands/lincolnshire/assets.js') );
    scripts.push( version('/cobrands/northamptonshire/assets.js') );
    scripts.push( version('/cobrands/hounslow/assets.js') );
    scripts.push( version('/cobrands/westminster/assets.js') );
    scripts.push( version('/cobrands/peterborough/assets.js') );
    scripts.push( version('/cobrands/tfl/assets.js') );
    scripts.push( version('/cobrands/highways/assets.js') );
    scripts.push( version('/cobrands/fixmystreet-uk-councils/council_validation_rules.js') );
    scripts.push(
        version('/vendor/OpenLayers.Projection.OrdnanceSurvey.js'),
    );
END;
IF bodyclass.match('frontpage');
    scripts.push(
        version('/cobrands/fixmystreet.com/front.js'),
    );
ELSIF NOT bodyclass.match('alertpage');
    scripts.push(
        version('/cobrands/fixmystreet.com/js.js'),
    );
END;
%]
