[%
scripts.push(
    version('/js/lazyload.js'),
);
IF bodyclass.match('mappage') AND NOT bodyclass.match('accountpage');
    scripts.push( version('/cobrands/fixmystreet/assets.js') );
    scripts.push( version('/cobrands/buckinghamshire/grass_cutting.js') );
    scripts.push( version('/cobrands/oxfordshire/assets.js') );
    scripts.push( version('/cobrands/highways/assets.js') );
    scripts.push( version('/cobrands/fixmystreet-uk-councils/assets.js') );
    scripts.push( version('/js/asset_layers.js') );
    scripts.push( version('/cobrands/fixmystreet-uk-councils/council_validation_rules.js') );
    scripts.push( version('/cobrands/fixmystreet-uk-councils/council_category_element_display_rules.js') );
    scripts.push( version('/cobrands/centralbedfordshire/flytipping.js') );
    scripts.push(
        version('/vendor/OpenLayers.Projection.OrdnanceSurvey.js'),
    );
END;
IF bodyclass.match('frontpage');
    scripts.push(
        version('/cobrands/fixmystreet.com/front.js'),
    );
ELSIF NOT bodyclass.match('alertpage');
    scripts.push(
        version('/cobrands/fixmystreet.com/js.js'),
    );
END;
%]
