<meta name='theme-color' content='#ffd000'>
<link rel="Shortcut Icon" type="image/x-icon" href="/cobrands/fixmystreet.com/favicon.ico">

[%# We are conducting an A/B experiment %]
[% IF c.config.BASE_URL == "https://www.fixmystreet.com" AND not admin %]
<script src="//www.google-analytics.com/cx/api.js?experiment=ZwMlZkAhSbK_tP_QG64QrQ"></script>
<script src="[% version('/cobrands/fixmystreet.com/experiment.js') %]"></script>
[% END %]
<style>
html .variant1 { display: none !important; }
html.variant1 .variant0 { display: none !important; }
html.variant1 .variant1 { display: block !important; }
</style>

[% INCLUDE 'tracking_code.html' %]
