[% IF c.config.BASE_URL == "https://www.fixmystreet.com" %]
<script nonce="[% csp_nonce %]">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-660910-4', {'storage': 'none'});
ga('set', 'anonymizeIp', true);
[% IF created_report %]
ga('require', 'ecommerce');
ga(function(tracker) {
    var page = tracker.get('location');
    var extra = '';
    if ( page.indexOf('?') != -1 ) {
        extra = '&created_report=1';
    } else {
        extra = '?created_report=1';
    }
    tracker.set('location', page + extra);
});
ga('ecommerce:addItem', {
    'id': 'report/[% report.id %]',
    'quantity': '1',
    'name': 'Report'
});
ga('ecommerce:send');
[% END %]
ga('send', 'pageview');

</script>

[% IF created_report %]
<script nonce="[% csp_nonce %]">
var google_conversion_id = 1067468161;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "1nWDCP3t6GQQgYuB_QM";
var google_remarketing_only = false;
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1067468161/?label=1nWDCP3t6GQQgYuB_QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
[% END %]

[% ELSE %]
<!-- Tracking code not inserted as "[% c.config.BASE_URL %]" not "https://www.fixmystreet.com" -->
[% END %]
