[% IF c.config.BASE_URL == "https://www.fixmystreet.com" %]
<script nonce="[% csp_nonce %]" defer>Object.defineProperty(document,"cookie",{get:function(){var t=Object.getOwnPropertyDescriptor(Document.prototype,"cookie").get.call(document);return t.trim().length>0&&(t+="; "),t+="_ga=GA1.1."+Math.floor(1e9*Math.random())+"."+Math.floor(1e9*Math.random())},set:function(t){t.trim().startsWith("_ga")||Object.getOwnPropertyDescriptor(Document.prototype,"cookie").set.call(document,t)}});</script>
<script nonce="[% csp_nonce %]" defer src="https://www.googletagmanager.com/gtag/js?id=G-QG7Y41TZLL"></script>
<script nonce="[% csp_nonce %]">
    var client_id = Math.floor(Math.random() * 1000000000) + '.' + Math.floor(Math.random() * 1000000000);
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config','G-QG7Y41TZLL', {'client_id': client_id, 'cookie_expires': 1});
</script>
[% ELSE %]
<!-- Tracking code not inserted as "[% c.config.BASE_URL %]" not "https://www.fixmystreet.com" -->
[% END %]
