[% USE date %]

<footer class="cobrand-footer" role="contentinfo">
  <div class="footer-grid container">
    <div class="outBoundSocialLinks">
      <p class="visuallyhidden">Social media links open new website</p>
      <a class="flkr" href="https://www.flickr.com/photos/southwarkcouncil/" rel="external" title="(Opens in a new window)">
        <span class="show-for-sr">Visit our flickr galleries</span>
      </a>
      <a class="twitter" href="https://twitter.com/lb_southwark" rel="external" title="(Opens in a new window)">
        <span class="show-for-sr">Visit our twitter feed</span>
      </a>
      <a class="youtube" href="https://www.youtube.com/user/southwarkcouncil" rel="external" title="(Opens in a new window)">
        <span class="show-for-sr">Visit our youtube channel</span>
      </a>
      <a class="facebook" href="https://www.facebook.com/southwarkcouncil/" rel="external" title="(Opens in a new window)">
        <span class="show-for-sr">Visit our official facebook page</span>
      </a>
      <a class="instagram" href="https://www.instagram.com/southwarkcouncil" rel="external" title="(Opens in a new window)">
        <span class="show-for-sr">Visit our official instagram page</span>
      </a>
    </div>
    <div>
      <div class="fairFuture" aria-label="Fairer future: Delivering our promises"></div>
    </div>
  </div>
  <div style="border-top: 1px solid #e5e5e5;">
    <div class="otherLinks container">
      <ul>
        <li><a href="https://www.southwark.gov.uk/terms-and-disclaimer">Terms and disclaimer</a></li>
        <li><a href="https://www.southwark.gov.uk/important-information/emergency-contacts">emergency contacts</a></li>
        <li><a href="https://www.southwark.gov.uk/council-and-democracy/complaints-comments-and-compliments">Feedback and complaints</a></li>
        <li><a href="https://www.southwark.gov.uk/council-and-democracy/key-documents/modern-slavery-statement">Modern Slavery Statement</a></li>
        <li><a href="https://forms.southwark.gov.uk/LoadForm.asp">Complete saved eform</a></li>
        <li><a href="https://www.southwark.gov.uk/terms-and-disclaimer/accessibility-statement">Accessibility statement</a></li>
      </ul>
    </div>
  </div>
</footer>
[% PROCESS '_footer_main_nav.html' %]
