[%#
* Taken from https://style.bathnes.gov.uk/02-components.html#footer
* Image path changed
* Footer links updated
%]
<footer class="global-footer">
    <div class="footer-wrapper">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="footer-logo">
                    <img src="/cobrands/bathnes/bathnes-logo-mono.png" alt="Bath & North East Somerset Council" />
                </div>

                <ul class="footer-list">
                    <li><a href="http://www.bathnes.gov.uk/contact-us">Contact Us</a></li>
                    <li><a href="/privacy">Privacy and Cookies</a></li>
                </ul>
            </div>

            <div class="column-one-thirds">

            </div>

        </div>
    </div>
</footer>
