[%~
IF bodyclass.match('mappage');
    scripts.push(
        version('/cobrands/fixmystreet-uk-councils/js.js'),
        version('/cobrands/fixmystreet-uk-councils/council_validation_rules.js'),
        version('/vendor/OpenLayers.Projection.OrdnanceSurvey.js'),
        version('/cobrands/fixmystreet/assets.js'),
        version('/cobrands/bathnes/assets.js'),
        version('/cobrands/highways/assets.js'),
    );
END
%]
[%~
SET council_area_id = c.cobrand.council_area_id;
IF c.user_exists AND ((c.user.from_body AND c.user.from_body.areas.$council_area_id) OR c.user.is_superuser);
    scripts.push(
        version('/cobrands/bathnes/staff.js'),
    );
END
%]
