/* LAYOUT */

$container-max-width: 1024px;

/* COLOURS */

$peabody-teal: #009baa; // Primary colour
$peabody-teal-l1: #93D2D7; 
$peabody-teal-l2: #e2fafc;
$peabody-blue: #5cb4e6;
$peabody-blue-d1: #1c78ad; // FILL IT UP
$peabody-green: #008A0E; // FILL IT UP
$peabody-red: #fc1429; // FILL IT UP
$peabody-orange: #ff8026;
$peabody-brick: #a45248;
$peabody-brick-d1: #b3460f;// Links
$peabody-brick-d2: #8d370c; // Links hover
$peabody-purple: #963683;
$peabody-white: #fff;

$peabody-mid-grey: #555555; // headings and paragraphs
$peabody-dark-grey: #37424a; // focussed button bg, hovered primary button bg


$primary: $peabody-teal;
$primary_b: #333; 
$primary_text: $peabody-mid-grey;

$base_bg: #f4f4f4;
$base_fg: $peabody-mid-grey;

$nav_background_colour: $peabody-white;
$nav_colour: $peabody-brick-d1;
$nav_colour_hover: $peabody-brick-d2;
$nav_hover_background_colour: $peabody-brick;

$header-top-border: false;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: $peabody-blue-d1;
$col_click_map: $peabody-blue;

$geolocation-link: $base_bg;
$geolocation-link-border: $peabody-blue-d1;
$geolocation-link-background-color: $peabody-blue-d1;

$mappage-header-height: 64px;

/* VARIABLES */

$button-primary-bg-top: $peabody-brick-d1;
$button-primary-text: $peabody-white;

$border-radius: 5px;
$box-background-colour: mix($primary, $peabody-white, 15%);

$dropzone-border-colour: $peabody-brick;
$dropzone-button-text: $peabody-white;
$dropzone-button-background: $peabody-brick-d1;
$dropzone-button-border: $peabody-brick;

$front-main-container-background-desktop: $peabody-white;
$postcodeform-background: transparent;
$postcodeform-color: $peabody-mid-grey;
$postcodeform-color-desktop: $peabody-mid-grey;

$postcodeform-max-width: 44%;
$report-forms-wrapper-flex-column-gap: 5rem;
$report-forms-wrapper-margin-top: 1.5rem;
