body {font-family:Verdana, Geneva, sans-serif; font-size:62.5%;}

a {text-decoration:none; color:#1c4384;	font-weight:bold;}

a:hover {text-decoration:underline;}

p {margin:0 0 10px 0;}

/* ******* Start of Header ******* */

ul#topMenu {width:860px; height:15px; margin:13px auto 3px auto;}
ul#topMenu li {float:left; list-style-type:none;}
ul#topMenu a {padding:0 5px 2px 5px; font-size:0.9em; color:#000; font-weight:400;}

#wrapper {width:960px; height:auto; margin:0 auto; background:url(../bg-repeat.gif) repeat-y;}
#header {width:100%; height:176px; background:url(../bg-header.jpg) no-repeat; background-position:1px 0px;}
#header .logo {float:left; width:87px; height:81px; margin:25px 0 17px 46px;}
#header a.siteTitle {height:27px; width:287px; background:url(../logo.png) no-repeat; display:block; font-family:verdana; float:left; margin:60px 0 0 15px; text-indent:-9999px;}

a.mctv {float:right; height:37px; width:104px; margin:15px 7px 0 0;}
a.mctv img {border:none;}

#searchWrap {width:210px; height:auto; float:right; margin:10px 30px 0 0;}
#searchWrap form {border:none; padding:0; margin:0 0 10px 0;}
#searchWrap fieldset {border:none; padding:0; margin:0;}
#searchWrap label {color:#1b4384; font-weight:700; font-size:1.1em; margin:0; padding:0;}
#searchWrap input {float:left; background:url(../bg-input.gif) repeat-x; margin:3px 0 0 0; line-height:16px; padding:3px 5px 3px 4px;}
#searchWrap .button {background:url(../bg-button.gif) repeat-x; margin:3px 0 0 5px; float:left; height:26px; padding:0 3px 4px 3px; color:#fff; border:none;}

.moreInfo {margin:0 0 -2px 2px;}
.text {width:109px; color:#999;}
.text2 {width:137px; color:#999;}

ul#topNav {width:870px; height:40px; background:#1b4384; clear:both; margin:0 auto; padding:3px 0 1px 0;}
ul#topNav li {float:left; list-style-type:none; background:url(../line.gif) no-repeat 0 2px;}
ul#topNav li:first-child {background:none;}
ul#topNav li a {color:#ffffff; font-size:1.2em; padding:0 7px 0 8px; font-size:1.2em; font-weight:400;}

p.atoz {float:left; margin:8px 0 0 43px; padding:5px 5px 3px 0; font-size:1.2em; border-bottom:1px solid #E0DBEF;}
ul#atoz {width:420px; float:left; margin:13px 0 0 0; border-bottom:1px solid #E0DBEF; padding:0 0 1px 0;}
ul#atoz li {list-style-type:none; display:inline;}
ul#atoz li a {font-size:13px; font-weight:400;}

ul#contacts {float:right; margin:13px 36px 0 0; padding:0;}
ul#contacts li {float:left; list-style-type:none; background:url(../blue-line.gif) no-repeat 0 2px;}
ul#contacts li:first-child {background:none;}
ul#contacts li a {font-size:1.2em; padding:0 8px 0 10px; font-weight:400;}

/* ******* End of Header ******* */



/* ******* Start of Left Menu Bar ******* */

#menuBar {width:200px; height:auto; float:left; margin:25px 0 0 43px; padding-bottom:25px; clear:both; }

ul#leftMenu {height:auto; width:199px; float:left; background:#e9eef7 url(../bg-box.gif) no-repeat -1px 100%; padding:0 0 10px 0; margin:5px 0 0 0; overflow:hidden;}
ul#leftMenu li {list-style-type:none; width:199px; padding:0;}
ul#leftMenu li a {display:block; width:100%; line-height:1.5em; padding:3px 10px 3px 32px; font-size:1.2em; font-weight:700;}
ul#leftMenu li.parent {background:url(../bulletActiveSG.gif) no-repeat #768eb5; background-position:10px 11px; color:#fff; padding:3px 0 3px 0;}
ul#leftMenu li.parent a {color:#fff}
ul#leftMenu li.selected {background:url(../bullet.gif) no-repeat; background-position:10px 8px; color:#fff; padding:0;}

/* ******* End of Left Menu Bar ******* */



/* ******* Start of Main Content Area ******* */

#contentArea {width:640px; height:auto; float:left; padding-bottom:25px; font-size:1.1em; margin:15px 0 0 0; padding:15px 0 20px 25px;}

/* ******* End of Main Content Area ******* */



/* ******* Start of Footer ******* */

#footer {width:100%; height:54px; clear:both; background:url(../bg-footer.gif) no-repeat;}

a.accessInfo {float:left; height:32px; width:117px; margin:0 10px 0 43px;}
a.accessInfo img {border:none;}

ul#bottomMenu {float:left; margin:10px 0 0 10px;}
ul#bottomMenu li {float:left; list-style-type:none;}
ul#bottomMenu a {padding:0 4px 2px 4px; font-size:0.9em; color:#000; font-weight:400;}

/* ******* End of Footer ******* */
