/* COLOURS */

$menu-image: 'menu-black';

$harrogate_blue: #0067b9;
$harrogate_yellow: #f1c400;

$primary: $harrogate_blue;
$primary_dark: darken($harrogate_blue, 20%);

$col_click_map: $harrogate_blue;
$col_fixed_label_dark: $harrogate_blue;
$col_fixed_label: $harrogate_blue;

$primary_b: #000000;
$primary_text: #ffffff;

$base_bg: #fff;
$base_fg: #1a1a1a;

/* Following seem to be required in layout.scss */
$map_nav_bg: white;
$nav_fg: #000;
$nav_fg_hover: #444;
