// Custom rules required to make the Harrogate header look right within FMS.

#site-header {
  .site-header__right-info, .main-menu, .site-header__tasks__search-outer, .visually-hidden {
    display: block;
  }
}

#site-header {
   .item-list {
    border: none;
  }

  .item-list__item {
    background-color: transparent;
  }

  .site-header__right-two {
      border: 0;
      padding-bottom: 0;
      padding-top: 0;
  }

  .show-hide-link em {
    display: inline;
  }

  .site-header__links.item-list.item-list--inline {
    text-align: right;
    li {
      float: none;
      margin-right: 0;
    }
  }
}

::-webkit-input-placeholder {
  color: #666666;
  font: {
    style:normal;
    size:0.9375em;
  }
}
:-moz-placeholder {
  color:#666666;
  font: {
    style:normal;
    size:0.9375em;
  }
}
:-ms-placeholder {
  color:#666666;
  font: {
    style:normal;
    size:0.9375em;
  }
}
//this only gets used when the browser doesn't support @placeholder
.placeholder {
  color:#666666;
  font: {
    style:normal;
    size:0.9375em;
  }
}
