@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "./_fonts";

@import "../sass/base";

// Hide the standard Harrogate header nav
#site-header {
  .site-header__toggles, .site-header__right-info, .main-menu, .site-header__tasks__search-outer, .visually-hidden, .site-header__tasks__fms-nav {
    display: none;
  }
}

header.site-header {
  .site-header__identity__logo svg {
      height: 50px;
      width: 100px;
  }
}

#report-cta {
    border-color: #ddd;
    color: #000;

    &:hover, &:focus {
      background-color: #eee;
    }
}

.nav-menu--main {
    // blue button background, darker if selected
    a {
        background: #ededed;
    }
    span {
        color: #fff;
        background: $primary;
    }
}

label[for=form_INFO_TEXT] {
    background: yellow;
    border: solid 1px black;
    padding: 1em;
}

#site-header {
    background: none;
}


#council_responsibilities_note {
    background-color: $harrogate_blue;
    color: white;
    padding: 0.5em;
    font-size: 0.8em;
    a {
      color: white;
      text-decoration: underline;
    }
}

.nycc-notice {
    border: solid 1px black;
    background: #00539F;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    a {
        color: white;
        text-decoration: underline;
    }
}

a.platform-logo {
    vertical-align: baseline;
    display: inline-block;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 1.5em;
    background-image: url(/cobrands/fixmystreet/images/fms-platform-logo.svg);
    text-indent: -1000%;
    height: 1.7em;
    width: 16em;
    padding-#{$right}: 0.25em;
}

footer {
  background-color: black;
  color: white;
}

