@import "_colours";
@import "../sass/layout";

@import "_harrogate_header";
@import "_harrogate_header_overrides";

body.fullwidthpage, body.twothirdswidthpage, body.authpage, body.frontpage {
  #main-nav {
    display: none;
  }
  .nav-wrapper .nav-wrapper-2 {
      height: 0;
      min-height: 0;
      border-top: none;
  }
  #site-header {
    height: auto;

    .site-header__tasks__fms-nav {
      display: block;
      
      .container {
        min-height: 0;
      }
      
      ul {
        float: none;
        text-align: center;
        margin: 1em 0 0;
        
        li {
          display: inline-block;
          float: none;
        }
      }
    }

    .nav-menu--header {
      float: none;
    }
  }

  .content .sticky-sidebar aside {
    top: 18em;
  }
}

body.mappage {
  #main-nav {
    display: block;
  }
  #site-header {
    .site-header__tasks__search-outer, .site-header__toggles, .site-header__right-info,  {
      display: none;
    }
    .site-header__identity__logo a {
      position: absolute;
      left: 5px;
      top: 0;
      height: 61px;
      width: 134px;
    }
  }
  .nav-wrapper .nav-wrapper-2 {
    background-color: transparent;
  }
}

#front-main {
  background: transparent;
  color: black;
  
  #front-main-container {
    border: 4px solid $harrogate_yellow;
    padding: 1em;
  }
}

footer {
  padding: 2em 0;
  font-size: 0.9em;

  .site-footer__heading {
    display: none;
  }

  .item-list--inline {
    border: none;
    margin: 0;
    padding: 1em 0;

    .item-list__item {
      display: inline;
      list-style: none;
      background-color: transparent;
      margin: 0;
      padding: 0 1.25em 0 0;

      a {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

footer .container, #site-header .container {
  max-width: 1280px;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  footer .container, #site-header .container {
    width: 1280px;
  }
}
