@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";

@import "styles.css"; // styles taken from rbkc.gov.uk and filtered down with uncss


h1, h2, h3, h4 { 
  font-family: $heading-font;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

a {
  color: $blue;
}

.header {
  position: unset; // fixed header does not really work for FMS

  .header__nav-item > a {
    border-right: none; // no boarder needed
  }
}

.header,
.footer {
  ul li {
    list-style: none; // remove squares
  }
}

html {
  font-size: 10px; // correct font sizes RBKC html base size is 10 where FMS is 14
}

.dev-site-notice {
  font-size: 2.1em; // restore larger font size for notice
  z-index: 200; // ensure notice is above header
}

.main-content {
  font-size: 1.6em; // restore FMS base size for the main content block
}

.frontpage {
  .main-content {
      padding-top: 0;
  }
} 

#front-howto,
#front-recently {
  h2 {
    font-size: 1.5em;
  }
}

#front-main {
  background-color: $front_main_background;
  padding: 1.5em 1em;
  border-bottom: 4px solid $blue;
  #postcodeForm {
    font-family: $body-font;
    background: transparent;
    div input#sub {
      background-color: $mint;
    }
  }
  h2 {
    font-family: $heading-font;
  }
}

ol.big-numbers > li::before {
  color: $mint;
  top: 0.2em;
}

#front_stats {
  font-family: $body-font;
  big {
    color: $mint;
  }
} 