.column{
    display:block;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:1;
    padding:.75rem
}
@media screen and (max-width:767px){
    .column.is-half-mobile{
        flex:none;
        width:50%
    }
    .column.is-12-mobile{
        flex:none;
        width:100%
    }
}
@media print,screen and (min-width:768px){
    .column.is-12-tablet{
        flex:none;
        width:100%
    }
}
@media screen and (min-width:1216px){
    .column.is-1-widescreen{
        flex:none;
        width:8.33333%
    }
    .column.is-offset-1-widescreen{
        margin-left:8.33333%
    }
    .column.is-2-widescreen{
        flex:none;
        width:16.66667%
    }
    .column.is-4-widescreen{
        flex:none;
        width:33.33333%
    }
    .column.is-6-widescreen{
        flex:none;
        width:50%
    }
}
.columns{
    margin-left:-.75rem;
    margin-right:-.75rem;
    margin-top:-.75rem
}
.columns:not(:last-child){
    margin-bottom:.75rem
}
.columns.is-multiline{
    flex-wrap:wrap
}
@media print,screen and (min-width:768px){
    .columns:not(.is-desktop){
        display:flex
    }
}
html{
    line-height:1.15;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
h1{
    font-size:2em;
    margin:.67em 0
}
a{
    background-color:transparent
}
button{
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0
}
button{
    overflow:visible
}
button{
    text-transform:none
}
[type=button],button{
    -webkit-appearance:button
}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type=button]:-moz-focusring,button:-moz-focusring{
    outline:1px dotted ButtonText
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
*,:after,:before,html{
    box-sizing:border-box
}
html{
    background:#fff;
    font-family:Helvetica,Arial,sans-serif;
    font-size:10px
}
body{
    font-family:Source Sans Pro,sans-serif;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    background-color:#f5f5f0;
    min-height:100vh
}
ul{
    list-style:none;
    margin:0;
    padding:0
}
.main-content{
    padding-top:36px
}
@media only screen and (min-width:1024px){
    .main-content{
        padding-top:57px
    }
}
.main-nav-item a{
    position:relative;
    transition:color .25s ease-in-out
}
.main-nav-item a:before{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    background:#e50051;
    bottom:-4px;
    content:"";
    height:2px;
    left:0;
    position:absolute;
    transform:scaleX(0);
    transform-origin:right;
    transition:transform .3s ease-in-out,background .3s ease-in-out;
    width:100%;
    will-change:transform
}
.main-nav-item a:hover{
    color:#e50051;
    text-decoration:none
}
.main-nav-item a:hover:before{
    transform:scaleX(1);
    transform-origin:left
}
.main-nav-item--header>a:before{
    display:none;
    left:24px;
    width:calc(100% - 48px)
}
@media only screen and (min-width:1216px){
    .main-nav-item--header a:before{
        display:block
    }
}
.back-to-top{
    align-items:center;
    background:#333;
    border:1px solid #333;
    border-radius:100px;
    bottom:32px;
    cursor:pointer;
    display:flex;
    height:50px;
    justify-content:center;
    opacity:0;
    padding:0;
    position:fixed;
    right:32px;
    transition:background .2s ease-out,opacity .3s ease-out;
    visibility:visible;
    width:50px
}
.back-to-top .svg--icon{
    color:#fff;
    transform:rotate(-90deg);
    width:20px;
    height:21px
}
.back-to-top:hover{
    background:#888;
    border-color:#888
}
.back-to-top:focus{
    border-color:#007fc5;
    outline:none
}
@media only screen and (min-width:767px){
    .back-to-top{
        height:70px;
        width:70px
    }
    .back-to-top .svg--icon{
        width:30px;
        height:31px
    }
}
a{
    color:#122940;
    font-size:1.6rem;
    text-decoration:none;
    transition:color .15s ease-out,-webkit-text-decoration;
    transition:text-decoration,color .15s ease-out;
    transition:text-decoration,color .15s ease-out,-webkit-text-decoration
}
.svg{
    fill:currentColor;
    position:relative;
    transition:fill .3s
}
.svg--icon{
    display:block;
    flex-shrink:0;
    height:1.5em;
    width:1.5em
}
.footer{
    background:#f5f5f0;
    border-top:1px solid #ccc;
    color:#122940
}
.footer__inner-wrapper{
    margin:0 auto;
    max-width:1408px;
    padding:32px 20px;
    text-align:center
}
.footer__crest{
    color:#122940;
    margin-bottom:32px
}
.footer__crest .svg--icon{
    height:72px;
    margin:0 auto;
    width:71px
}
.footer__crest:hover{
    color:#122940
}
.footer__colophon{
    font-size:1.4rem;
    margin-bottom:32px
}
.footer__colophon .copyright-date{
    display:block;
    margin-bottom:6px
}
.footer__colophon p{
    margin:6px 0
}
.footer__colophon p:first-child{
    margin-top:0
}
.footer__colophon p:last-child{
    margin-bottom:0
}
.footer__menu{
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    display:flex;
    flex-direction:column;
    padding:32px
}
.footer__menu-link a{
    color:#122940;
    display:inline-block;
    padding:12px 0;
    width:auto
}
.footer__social-media{
    display:flex;
    justify-content:center;
    padding-top:32px
}
.footer__social-media-item{
    padding:0 8px
}
.footer__social-media-item .svg--icon{
    fill:#122940;
    height:30px;
    transition:opacity .25s ease-in-out;
    width:30px
}
.footer__social-media-item:hover .svg--icon{
    opacity:.7
}
@media only screen and (min-width:767px){
    .footer__inner-wrapper{
        padding:48px 24px 32px
    }
    .footer__colophon{
        font-size:1.6rem
    }
    .footer__colophon .copyright-date{
        display:inline-block;
        margin-bottom:0
    }
    .footer__colophon p{
        margin:12px 0
    }
    .footer__menu{
        flex-direction:row;
        justify-content:center
    }
    .footer__menu-link a{
        padding:12px 16px
    }
}
@media only screen and (min-width:1216px){
    .footer__inner-wrapper{
        padding:32px 24px
    }
    .footer__colophon,.footer__crest{
        margin-bottom:0
    }
    .footer__colophon p{
        margin:8px 0;
        text-align:left
    }
    .footer__menu{
        border:0;
        justify-content:space-between;
        padding:0
    }
    .footer__menu-link a{
        padding:0
    }
    .footer__social-media{
        justify-content:flex-end
    }
}
@media only screen and (min-width:1408px){
    .footer__inner-wrapper{
        padding:32px 0
    }
}
.header{
    background-color:#f5f5f0;
    box-shadow:0 2px 5px rgba(39,57,113,.2);
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:105
}
.header__inner-wrapper{
    font-family:Source Sans Pro,sans-serif;
    align-items:center;
    display:flex;
    flex-wrap:nowrap;
    margin:0 auto;
    max-width:1408px;
    padding:20px;
    position:relative
}
.header__logo{
    color:#111;
    padding:0
}
.header__logo .svg--icon{
    height:30px;
    width:100px
}
.header__logo:hover{
    color:#111;
    opacity:1
}
.header__nav{
    background:#f5f5f0;
    height:100vh;
    opacity:0;
    overflow-y:scroll;
    padding:0 0 32px;
    position:fixed;
    right:-100vw;
    top:0;
    transition:right .5s ease-out,opacity .5s;
    width:100vw;
    z-index:100
}
.header__nav ul{
    display:flex;
    flex-direction:column
}
.header__nav ul a{
    color:#122940
}
.header__main-nav{
    overflow:hidden
}
.header__nav-item>a{
    border-bottom:1px solid #ccc;
    display:block;
    font-size:2rem;
    padding:32px;
    transition:color .2s ease-in-out,background .2s ease-in-out;
    width:100%
}
.header__nav-item>a:active{
    background:#e50051;
    color:#fff
}
@media only screen and (min-width:767px){
    .header__nav{
        padding-bottom:0
    }
    .header__main-nav{
        border-right:1px solid #ccc;
        overflow:visible;
        width:50%
    }
}
@media only screen and (min-width:1024px){
    .header__inner-wrapper{
        padding:32px
    }
    .header__logo .svg--icon{
        height:50px;
        width:165px
    }
}
@media only screen and (min-width:1216px){
    .header__inner-wrapper{
        position:static
    }
    .header__nav{
        background:none;
        display:flex;
        height:auto;
        max-width:100%;
        opacity:1;
        overflow:visible;
        padding:0;
        position:static;
        right:auto;
        top:auto;
        z-index:0
    }
    .header__nav ul{
        flex-direction:row;
        flex-wrap:nowrap
    }
    .header__nav ul a{
        color:#122940;
        font-size:1.8rem
    }
    .header__main-nav{
        border-right:0;
        width:auto
    }
    .header__nav-item>a{
        border-bottom:0;
        border-right:1px solid #ccc;
        padding:0 24px;
        width:auto
    }
    .header__nav-item>a:hover{
        color:#e50051;
        text-decoration:none
    }
    .header__nav-item>a:active{
        background:none
    }
    .header__nav-item:last-child>a{
        border-right:0
    }
}
@media only screen and (min-width:1470px){
    .header__inner-wrapper{
        padding:32px 0
    }
}
@media only screen and (min-width:767px){
    padding:72px 24px
}
@media only screen and (min-width:1408px){
    padding:72px 0
}
body,html{
    -ms-font-feature-settings:normal
}
main{
    display:block
}
.cms ol li::marker{
    color:#4fa1f3
}
.main-content{
    padding-top:72px
}
@media only screen and (min-width:1024px){
    .main-content{
        padding-top:114px
    }
}
.footer__colophon{
    font-size:1.8rem
}
.footer__menu a{
    font-size:1.8em
}
@media only screen and (min-width:767px){
    .footer__colophon{
        font-size:1.8rem
    }
    .footer__menu a{
        font-size:1.8em
    }
}

