<footer class="site-footer">
    <div class="footer-container">
        <div class="column span-12">
            <div class="additional-links footer-list1">
                <h5>[% loc('A project by') %]</h5>
                <ul>
                    <li class="first-child"><a href="http://kyopol.net/"><img src="/cobrands/alcala/images/kyopol.w.png" alt="Asoc. Kyopol - Ciudad Simbiótica"></a></li>
                </ul>
            </div><!--additional-links-->
            <div class="additional-links footer-list2">
                <h5>[% loc('With the support of') %]</h5>
                <ul>
                    <li class="first-child"><a href="http://mysociety.org/"><img src="/cobrands/alcala/images/mySociety.38w.png" alt="mySociety"></a></li>
                    <li><a href="http://ayto-alcaladehenares.es/"><img src="/cobrands/alcala/images/ayto-alcala.42w.png" alt="Ayto. de Alcalá de Henares"></a></li>
                </ul>
            </div><!--additional-links-->
            <div class="additional-links footer-list3">
                <h5>[% loc('Powered by') %]</h5>
                <ul>
                    <li><a href="http://fixmystreet.com/council"><img src="/cobrands/fixmystreet/images/fms-platform-logo.svg" alt="FixMyStreet for Councils"></a></li>
                </ul>
            </div><!--additional-links-->
        </div>
    </div><!--footer-container-->
</footer>