/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$birmingham_blue: #00a5e3;
$birmingham_green: #48a842;
$birmingham_yellow: #ffc20e;
$birmingham_purple: #8b2388;
$birmingham_dark_purple: #7b1e79;


$primary: white;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: white;
$base_fg: #000;

$map_nav_bg: $birmingham_purple;
$nav_fg: white;
$nav_fg_hover: $birmingham_purple;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: $birmingham_blue;

$col_click_map: $birmingham_green;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$front_main_background: white;
