@import "_colours";
@import "../sass/layout";

.big-green-banner {
  text-transform: none;
}

body.frontpage, body.twothirdswidthpage, body.authpage, body.fullwidthpage {
  #site-header {
    height: 7em;
    background-color: $birmingham_purple;
  }

  .nav-menu {
    line-height: 5.25em;
  }
}

body.mappage {
  .nav-menu--main a.report-a-problem-btn {
    color: white;
    background-color: $birmingham_dark_purple;
  }
}

#front-main {
  background-color: $front_main_background;
}

#site-logo,
body.frontpage #site-logo,
body.twothirdswidthpage #site-logo
{
        background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20aria-hidden%3D%22true%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22260%22%20height%3D%2270%22%20viewBox%3D%220%200%20260%2070%22%3E%3Cpath%20d%3D%22M110.09%2C15.37h4.34V29.46h-4.34V15.37Zm-6.66%2C3.36V18.68A4.62%2C4.62%2C0%2C0%2C0%2C107%2C14.16c0-4.46-3.91-5.22-7.5-5.22H91.82V29.46h8.4c3.65%2C0%2C7.7-1.42%2C7.7-5.71A4.91%2C4.91%2C0%2C0%2C0%2C103.43%2C18.74Zm-7.09-6H99.4c1.42%2C0%2C3%2C.43%2C3%2C2.14s-1.45%2C2.23-2.84%2C2.23H96.33V12.77Zm4.05%2C12.87H96.33V21h3.42c1.48%2C0%2C3.65.32%2C3.65%2C2.26S101.81%2C25.63%2C100.39%2C25.63ZM112.26%2C8.42a2.52%2C2.52%2C0%2C1%2C1-2.52%2C2.52%2C2.52%2C2.52%2C0%2C0%2C1%2C2.52-2.52h0Zm5.3%2C7h4.34v2.26H122A4.3%2C4.3%2C0%2C0%2C1%2C126%2C15a5.7%2C5.7%2C0%2C0%2C1%2C1.45.15v4a6.69%2C6.69%2C0%2C0%2C0-1.85-.29c-3.3%2C0-3.71%2C1.91-3.71%2C4.72v5.88h-4.34V15.37Zm11.79%2C0h4.17v1.91h0.06A4.56%2C4.56%2C0%2C0%2C1%2C137.69%2C15%2C4.41%2C4.41%2C0%2C0%2C1%2C142%2C17.55%2C4.57%2C4.57%2C0%2C0%2C1%2C146.49%2C15c3.82%2C0%2C5%2C2.69%2C5%2C6.11v8.32h-4.34v-8.2c0-1.3-.49-2.4-1.91-2.4-2%2C0-2.64%2C1.42-2.64%2C3.16v7.45h-4.34V22c0-1%2C.06-3.16-1.94-3.16-2.26%2C0-2.61%2C1.77-2.61%2C3.59v7h-4.34V15.37Zm25.25%2C0h4.34V29.46H154.6V15.37Zm2.17-7a2.52%2C2.52%2C0%2C1%2C1-2.52%2C2.52%2C2.52%2C2.52%2C0%2C0%2C1%2C2.52-2.52h0Zm5.3%2C7h4.17v1.91h0.06A4.56%2C4.56%2C0%2C0%2C1%2C170.42%2C15c4.4%2C0%2C5.21%2C2.9%2C5.21%2C6.66v7.77h-4.34v-6.9c0-1.62%2C0-3.71-2.26-3.71s-2.61%2C1.77-2.61%2C3.59v7h-4.34V15.37Zm26.82%2C0v1.85h-0.06A5.75%2C5.75%2C0%2C0%2C0%2C184%2C15c-4%2C0-6.43%2C3.59-6.43%2C7.33%2C0%2C4.26%2C2.75%2C7.27%2C6.92%2C7.27a4.92%2C4.92%2C0%2C0%2C0%2C4-1.85h0.06v1.36c0%2C2-1.25%2C3.45-3.88%2C3.45a6.91%2C6.91%2C0%2C0%2C1-4.58-1.83l-2.4%2C3.59a11%2C11%2C0%2C0%2C0%2C7.07%2C2.06c5.44%2C0%2C8.14-2.84%2C8.14-8.14V15.37h-4Zm-3.48%2C10.43a3.48%2C3.48%2C0%2C1%2C1%2C3.48-3.48A3.5%2C3.5%2C0%2C0%2C1%2C185.42%2C25.81ZM200.71%2C7.55v9.74h0.06A4.07%2C4.07%2C0%2C0%2C1%2C204.7%2C15c4.4%2C0%2C5.21%2C2.9%2C5.21%2C6.66v7.77h-4.34v-6.9c0-1.62%2C0-3.71-2.26-3.71s-2.61%2C1.77-2.61%2C3.59v7h-4.34V7.55h4.34ZM219.39%2C15a9.08%2C9.08%2C0%2C0%2C0-6.2%2C2.26l2.32%2C2.38A4.64%2C4.64%2C0%2C0%2C1%2C219%2C18a2.59%2C2.59%2C0%2C0%2C1%2C2.78%2C2.52c-3.62%2C0-9.53.09-9.53%2C5%2C0%2C2.84%2C2.37%2C4.35%2C5%2C4.35a5.07%2C5.07%2C0%2C0%2C0%2C4.46-2.12h0.06v1.77h4V22.3C225.82%2C17.61%2C224.46%2C15%2C219.39%2C15Zm2.43%2C9.19c0%2C1.74-1.59%2C2.64-3.3%2C2.64-1%2C0-2.06-.49-2.06-1.54%2C0-1.91%2C3-2%2C4.29-2h1.07v0.93Zm6.76-8.84h4.17v1.91h0.06A4.56%2C4.56%2C0%2C0%2C1%2C236.92%2C15a4.41%2C4.41%2C0%2C0%2C1%2C4.34%2C2.52A4.57%2C4.57%2C0%2C0%2C1%2C245.72%2C15c3.82%2C0%2C5%2C2.69%2C5%2C6.11v8.32h-4.34v-8.2c0-1.3-.49-2.4-1.91-2.4-2%2C0-2.64%2C1.42-2.64%2C3.16v7.45h-4.34V22c0-1%2C.06-3.16-1.94-3.16-2.26%2C0-2.61%2C1.77-2.61%2C3.59v7h-4.34V15.37ZM110.17%2C52.25A9%2C9%2C0%2C0%2C1%2C102.58%2C56%2C10.44%2C10.44%2C0%2C0%2C1%2C91.89%2C45.24a10.44%2C10.44%2C0%2C0%2C1%2C10.69-10.78%2C8.92%2C8.92%2C0%2C0%2C1%2C7.09%2C3.25l-1.82%2C1.36a6.77%2C6.77%2C0%2C0%2C0-5.27-2.69c-5.27%2C0-8.43%2C4.14-8.43%2C8.87s3.16%2C8.87%2C8.43%2C8.87A6.57%2C6.57%2C0%2C0%2C0%2C108.46%2C51Zm4.55%2C3.25H112.8V41.93h1.91V55.49Zm-1-17.39a1.39%2C1.39%2C0%2C1%2C1%2C1.39-1.39%2C1.41%2C1.41%2C0%2C0%2C1-1.39%2C1.39h0Zm11.38%2C5.56h-3.91v8c0%2C2%2C.78%2C2.43%2C2%2C2.43a4.25%2C4.25%2C0%2C0%2C0%2C2-.52l0.09%2C1.77a6.38%2C6.38%2C0%2C0%2C1-2.58.49c-1.45%2C0-3.36-.64-3.36-3.62V43.67h-2.87V41.93h2.87V38.11h1.91v3.82h3.91v1.74Zm8.2%2C9.48%2C4.14-11.21h2.32L133%2C59c-0.81%2C2.09-1.91%2C3.42-4.26%2C3.42a6.13%2C6.13%2C0%2C0%2C1-1.77-.2l0.2-1.85a3%2C3%2C0%2C0%2C0%2C1.45.32c1.33%2C0%2C2-.9%2C2.61-2.43l1-2.61-5.56-13.73h2.4Zm31.6-.9A9%2C9%2C0%2C0%2C1%2C157.34%2C56a10.44%2C10.44%2C0%2C0%2C1-10.69-10.78%2C10.44%2C10.44%2C0%2C0%2C1%2C10.69-10.78%2C8.92%2C8.92%2C0%2C0%2C1%2C7.1%2C3.25l-1.82%2C1.36a6.77%2C6.77%2C0%2C0%2C0-5.27-2.69c-5.27%2C0-8.43%2C4.14-8.43%2C8.87s3.16%2C8.87%2C8.43%2C8.87A6.57%2C6.57%2C0%2C0%2C0%2C163.22%2C51Zm9.27-10.66a7.13%2C7.13%2C0%2C1%2C0%2C7.21%2C7.13A6.92%2C6.92%2C0%2C0%2C0%2C174.2%2C41.59Zm0%2C12.52c-3.13%2C0-5.1-2.35-5.1-5.39s2-5.39%2C5.1-5.39%2C5.13%2C2.35%2C5.13%2C5.39S177.36%2C54.1%2C174.2%2C54.1Zm19.87%2C1.39a18.18%2C18.18%2C0%2C0%2C1-.09-2.17h-0.06a5.46%2C5.46%2C0%2C0%2C1-4.55%2C2.52c-3.45%2C0-5.1-1.94-5.1-5.3V41.93h1.91v7.51c0%2C3%2C.84%2C4.67%2C3.68%2C4.67%2C0.41%2C0%2C4.11-.26%2C4.11-5.22v-7h1.91V52.51c0%2C0.72.09%2C2%2C.14%2C3h-2Zm8.11-13.56a18.18%2C18.18%2C0%2C0%2C1%2C.09%2C2.17h0.06a5.46%2C5.46%2C0%2C0%2C1%2C4.55-2.52c3.45%2C0%2C5.1%2C1.94%2C5.1%2C5.3v8.61h-1.91V48c0-3-.84-4.67-3.68-4.67-0.41%2C0-4.11.26-4.11%2C5.22v7h-1.91V44.92c0-.72-0.09-2-0.15-3h2Zm24.12%2C3.19a4.07%2C4.07%2C0%2C0%2C0-3.39-1.8c-3.16-.06-5.1%2C2.29-5.1%2C5.39s1.94%2C5.45%2C5.1%2C5.39a4.06%2C4.06%2C0%2C0%2C0%2C3.39-1.8l1.56%2C1.19a6.56%2C6.56%2C0%2C0%2C1-5%2C2.35%2C6.77%2C6.77%2C0%2C0%2C1-7.18-7.13%2C6.77%2C6.77%2C0%2C0%2C1%2C7.18-7.13%2C6.56%2C6.56%2C0%2C0%2C1%2C5%2C2.35Zm6.4%2C10.37h-1.91V41.93h1.91V55.49Zm-1-17.39a1.39%2C1.39%2C0%2C1%2C1%2C1.39-1.39%2C1.41%2C1.41%2C0%2C0%2C1-1.39%2C1.39h0Zm7.62%2C17.39h-1.91V33.59h1.91V55.49Zm-157.12.07H80.33V8.92h1.91V55.57ZM71%2C14.49a5.59%2C5.59%2C0%2C0%2C0-5.16-5.57H55.36a5.54%2C5.54%2C0%2C0%2C0-4.08%2C1.8L22.07%2C39.92%2C36.21%2C54.07a5.55%2C5.55%2C0%2C0%2C0%2C7.8.06L69.31%2C28.84l0.11-.11h0A5.55%2C5.55%2C0%2C0%2C0%2C71%2C24.85V14.49ZM37%2C18.67l-8-7.95a5.54%2C5.54%2C0%2C0%2C0-4.08-1.8H14.46A5.59%2C5.59%2C0%2C0%2C0%2C9.3%2C14.49V24.85a5.55%2C5.55%2C0%2C0%2C0%2C1.57%2C3.87l8%2C8Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: relative;
        width: 260px;
        height: 70px;
        top: 20px;
        left: 0;
        margin: 0;
        padding: 0;
        display: inline-block;
}

body.mappage {
  #site-logo {
    height: 54px;
    width: 201px;
    top: 7px;
    left: 7px;
  }
}

.nav-wrapper .nav-wrapper-2 {
    border-top-color: transparent;
}

.nav-menu--main {
    a:hover {
        text-decoration: underline;
    }
}

#front-howto #front_stats div big {
    color: $birmingham_purple;
}
