/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$lincs-highlight: #b0bc22;
$lincs-pop: #f05441;
$lincs-border: #bec1c4;
$lincs-panel: #dee0e2;
$lincs-page: #ffffff;
$lincs-text: #212121;
$lincs-text-2nd: #6f787e;
$lincs-link: #005fa6; 
$lincs-link-visited: #4d2f91;
$lincs-link-hover: #2b8cc4;
$lincs-link-focus: #fdb81e;
$lincs-success: #e7f4e3;
$lincs-warning: #fff2da;
$lincs-error: #f9dede;
$lincs-info: #e1f3f8;
$lincs-plum: #bd3a4b;
$lincs-pine: #198749;

$primary: $lincs-highlight;
$primary_b: $lincs-pop;
$primary_text: $lincs-text;

$base_bg: $lincs-page;
$base_fg: #000;

$nav_background_colour: #eee;
$nav_colour: #000;
$nav_hover_background_colour: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: $lincs-text-2nd;

$col_click_map: $lincs-panel;

$col_fixed_label: $lincs-highlight;

$menu-image: 'menu-black';

$front_main_background: white;
// $header-top-border: false;
