
/*== DARK COLOR OVERIDES ==*/
#iewrap, #proposition-image {background:#000; color:#fff}

.online-services h2, .a-z h2 {background-image: url('../images/icon-online-services.png');}
.a-z h2 {background:none}

.online-services li a {background: url(../images/arrow-red.gif) no-repeat 6px 10px}
.whats-on div {background-image: url('../images/icon-whats-on.png');}
.council-meetings div {background-image: url('../images/icon-council-meetings.png');}
.highlights h2 {background-image: url('../images/icon-highlights.png');}
.media h2 {background-image: url('../images/icon-media-centre.png');}
.browse-aloud p {background: url('../images/logo-browse-aloud.gif') no-repeat 10px 0;}

.highlights h2 {border-color:#FFC000;}
.media h2 {border-color: #591cca;}
.online-services h2, .a-z h2 {border-color: #cc6666;}



/*Green borders*/
#pre-footer .box-right div {border: 1px solid #fff; border-bottom:medium none; border-top:medium none;}
#main-propostion, #pre-footer {background:#1e3d3f url('../images/dark/main-prop-border.gif') repeat-y 35px 0pt;}
#col-wrapper, #pre-footer .box-right div, #iewrap #col-wrapper {border-color:#008483}

/*Headings and links*/
.highlights h2, #col-left .highlights a {color:#f7ff9c;}
.media h2, #col-left .media a {color:#d2cffc}

#navigation-index h1, #navigation-index li a, #col-left h2, #col-left .link-bar a, #pre-footer a, 
#pre-footer a:link, #col-left .online-services li a, #col-left .online-services li a:link,
#col-left .whats-on h2 a, #col-left .council-meetings h2 a, #iewrap .media p span, #pre-footer h2 {color:#fff}

.whats-on div, .council-meetings div {background-color:#333}
.link-bar {background:#333; border-color:#fff;}

.media li {border-bottom:1px solid #323232}

#navigation-index li a {border-color:#1E3D3F }

#col-left .a-z li a {background:#1e3d3f; color:#fff}
#col-left .a-z li a:hover {background:#1e3d3f; color:#fff}

/*Righ column*/
#col-right, #col-right div, #iewrap #col-right .useful-links ul {background: url('../images/dark/related-bg.gif');}

/*Dynamic tab*/
#col-right ul ul, #col-right li a.tab-on  {background-color:#000; color:#fff}
#col-right ul ul, #col-right li a.tab-on {border-color:#693a42}
#col-right a, #col-right a:link {color:#fbccd2}

/*Feed Icons*/
#col-left .whats-on h2 .feed {background-image: url('../images/dark/rss-whats-on.gif')}
#col-left .highlights h2 .feed {background-image: url('../images/dark/rss-highlights.gif')}
#col-left .media h2 .feed {background-image: url('../images/dark/rss-media.gif')}

/*Social and Useful Links Logos*/
#col-right li a.leader-listens {background-image: url('../images/dark/link-images/logo-leader-listens.gif')}
#col-right li a.whereilive {background-image: url('../images/dark/link-images/logo-whereilive.gif')}
#col-right li a.facebook {background-image: url('../images/dark/link-images/logo-facebook.gif')}
#col-right li a.twitter {background-image: url('../images/dark/link-images/logo-twitter.gif')}
#col-right li a.you-tube {background-image: url('../images/dark/link-images/logo-youtube.gif')}
#col-right li a.flickr {background-image: url('../images/dark/link-images/logo-flickr.gif')}
#col-right li a.base {background-image: url('../images/dark/link-images/logo-base.gif')}
#col-right li a.direct-me {background-image: url('../images/dark/link-images/logo-directme.gif')}
#col-right li a.directgov {background-image: url('../images/dark/link-images/logo-directgov.gif')}
#col-right li a.support-people {background-image: url('../images/dark/link-images/logo-supporting-people.gif')}

/*Links arrows*/
#navigation-index li a {background-image: url('../images/dark/arrow-green.gif')}
.online-services li a {background-image: url('../images/dark/arrow-red.gif')}

/*Navigation*/
#navigation-index li a.current {background:transparent url(../images/dark/cnr-expanded-tab_nw.png) no-repeat left top;}
#navigation-index li a.current .ne {background:transparent url(../images/dark/cnr-expanded-tab_ne.gif) no-repeat 0 0;}



a, a:link {color:#99ffff}
a, a:visited {color:#9a9a9a}
strong, #pre-footer .social-bookmarking h2, #content form label {color:#fff;}

/*=== Content Page Layout :: Colours and Customisations===*/

#content{border: 1px solid #1e3e3e; border-width: 0 1px 0 1px}
#wrap {background: url(../images/dark/wrap-border.gif) repeat-y 35px 0;}

/*=== Content Page Layout Elements :: Colours and Customisations===*/

h1, h2 {border-bottom: 1px solid #008184; color:#fff}
h3, h4, h5 {color:#fff}

#content a:focus, #content a:active {color:#fff; background: #008184; }

#content blockquote, #content q {
    background: #204343 url('../images/dark/quote.gif') no-repeat 10px 10px;
    border: 1px solid #008184;
    border-width: 1px 0
    }
#content q {background-image:none}

#content ul li {background: url('../images/dark/arrow-green-small.gif') no-repeat 5px 5px}
#content ul li ol li {background: none}
#content ul li ul li, #content ol li ul li {background: url('../images/arrow-hyphen-small.gif') no-repeat 3px 10px}

th {background:#008184; color:#fff}
tr td {background:#1e3e3e}
tr.even td {background:#0f1f1f}
table.data td, table.data th {border-right: 3px solid #000}

    /* Navigation colours */

#left-column #navigation, #left-column #online-services, #left-column #useful-links, #left-column #contact {
    background-image: url(../images/dark/main-prop-border.gif);
    background-position: 35px 0;
    background-repeat: repeat-y;
    }
#left-column #online-services {background-image: url(../images/dark/red-border.gif);}
#left-column #useful-links, #left-column #contact {background-image: url(../images/dark/grey-border.gif);}

#left-column li a, #left-column li strong {color:#fff}

#left-column #navigation {background-color:#1E3D3F}
#left-column #online-services {background-color:#442c2c}
#left-column #useful-links, #left-column #contact {background-color:#343434}

#left-column #navigation h2 {color: #fff; border-color: #008184; background-image: url('../images/dark/icon-welcome.gif')}
#left-column #online-services h2 {color:#fff; border-color: #cc6666; background-image: url('../images/dark/icon-online-services-small.gif')}
#left-column #useful-links h2, #left-column #contact h2 {color:#fff; border-color: #999999; background-image: url('../images/dark/icon-useful-links-small.gif')}
#left-column #contact h2 {background-image: url('../images/dark/icon-contact-small.gif')}

#left-column #navigation li a {background-image: url('../images/dark/arrow-green-small.gif')}
#left-column #online-services li a {background-image: url('../images/dark/arrow-red-small.gif')}
#left-column #useful-links li a {background-image: url('../images/dark/arrow-grey-small.gif')}

#left-column div a {color:#fff}
#left-column li li strong {background-image: url('../images/arrow-current-nav.gif'); background-color: #008184; color:#fff}
#left-column #navigation li li li li li a {background-image: url('../images/arrow-hyphen-small.gif'); background-position: 50px 14px}

    /* Forms colours */

#content input[type|='text'] {border: 1px solid #008184}
.error {color: #d04747}

