/*===== styles for IE Seven ======*/

body {font-size: 80%;}

#switcher {margin-top:-50px}

#main-propostion, #col-wrapper, #pre-footer, .info-bar, #col-right ul, .link-bar {height:1%}
#navigation-index, #proposition-image, #navigation-index li, .menu li {width:49.99%;}

#header form .search-button input {padding: 5px 5px 8px 5px;}
#header form {position:relative; top:-1px}
#header form .search-button {margin:0; position:relative; left:5px}

#header form .search-input input {position:relative; top:1px}

.box-left, .box-right, #col-right li {width:49.9%;}


form .nw {top: 4px; left:0}
form .ne {top: 4px; right:0}
form .sw {bottom: 4px; left:0}
form .se {bottom: 4px; right:0}
.wide-row .nw, .wide-row .ne, .wide-row .sw, .wide-row .se {display:block}

form .wide-row .nw {top: 3px}
form .wide-row .ne {top: 3px}
form .wide-row .sw {bottom: 0px}
form .wide-row .se {bottom: 0px}

form .submit-row .ne {right:-1px}
form .submit-row .se {right:-1px}
.submit-row div {padding: 3px 12px;}


.required {vertical-align: top; padding-top: 0;} 

h1 {line-height:1.3em}
#content .coloured, #content .data {border-spacing: expression(cellSpacing=1); /* for IE */}

.menu p {padding: 3px 0 7px 0}

#col-right .useful-links li {}

.highlights li {min-height:81px;}
.media li {padding-bottom:5px}
#col-right #social-links-tabs {padding:0; margin:0}

.browse-aloud p {margin-bottom:15px}
.tab-on {margin-bottom:20px}

#pre-footer {margin-top:5px}
