/*=========== Styles for IE version 5-6=======*/


/*===Basic styles=======*/

body {font-size: 80%;}

#iewrap {width:expression(document.body.clientWidth < 790? "780px": document.body.clientWidth > 1382? "1380px" : "auto" );}


#header {height:80px}
#switcher {margin:-50px 23px 0 0}

#navigation-index, #proposition-image {width:49.9%;}

#main-propostion, #col-wrapper, #pre-footer, .info-bar, #col-right ul {height:1%}

#header form .search-button input {padding: 5px 5px 8px 5px;}
#header form {position:relative; top:-1px}
#header form .search-button {margin:0; position:relative; left:5px}
#header form .search-input input {position:relative; top:1px}

#col-left {width: 66.6%;}
#col-right {width:33.3%;}

h1 {line-height:1.3em}

.box-left, .box-right, #col-right li {width:49.9%;}

#navigation-index li a.current .ne {margin-right:-3px;}
.menu p {padding: 3px 0 7px 0}

#col-right ul {height:1%}
#col-right ul ul {position: absolute}

.media li {padding-bottom:5px}

.social-links {height:420px}

.highlights li {height: 81px}
#col-right li li {height: 66px}

#col-left .whats-on h2, #col-left .council-meetings h2 {margin:0 0 0 0;}
#col-left h2 .feed {right:10px}

.highlights ul {height:280px}
.media ul {height:285px}
#col-right .useful-links ul {height:175px}


.tab-on {z-index:100}
#col-right ul ul {z-index:50;}

.link-bar, .online-services li a {height:1%}
.a-z li {height:25px; width:25px;}
#col-left .a-z li.numbers a {width:26px}
.a-z ul {width:97%; margin-left:-6px}

.box-left, .box-right {padding:0 0 9px 0;}
.media {padding-bottom:0px}
#pre-footer .box-right div {height:115px;}


.browse-aloud p {margin-bottom:15px}
#col-right #social-links-tabs {padding:0; margin:0}

#navigation-index h1 {background-image: url(../images/icon-welcome.gif)}
.online-services h2 {background-image:url(../images/icon-online-services.gif);}
.whats-on div {background-image:url(../images/icon-whats-on.gif);}
.council-meetings div {background-image:url(../images/icon-council-meetings.gif);}
.highlights h2 {background-image:url(../images/icon-highlights.gif);}
.media h2 {background-image:url(../images/icon-media-centre.gif);}


#content blockquote {height: 100px}

#content form, #content fieldset {position:relative}
#left-column li a, #left-column li strong {height:1%}

#content .coloured, #content .data {border-spacing: expression(cellSpacing=1); /* for IE */}

#left-column {word-wrap: break-word}


.required {vertical-align: top; padding-top: 0;}

