/* FixMyStreet additions */
/* Smaller map */
#mysociety #map_box { 
    width: 380px;
    margin-bottom: 8px;
}
#mysociety #map, #mysociety #drag {
    width: 378px;
    height: 378px;
}

#mysociety p#fixed, #mysociety p#unknown {
    margin-right: 400px;
    width: auto;
}

#mysociety textarea {
    border: 1px solid #999999;
}

/* fix (for the reports page) */
#content #mysociety h1 span {
    display: inline;
    border: none;
    padding: 0;
}

#mysociety #postcodeForm {
    background-color: #E9E9EA;
}
#mysociety #postcodeForm label {
    width: 100%;
}
/*=========FROM CUSTOM=========*/
.cl  {clear: both;}
    
br.cl, div.cl {
    height: 0;
    font-size: 0.1px;
    line-height: .0;
    }
 
.rm {position: absolute; left: -999em;}
 
a.rm:active, a.rm:focus {
    top: 15px;
    left: 230px;
	outline:none;
	padding: 7px 10px;
	font-weight:bold;
    border: 1px solid #fff;
	font-size: 1.2em;
    background-color: #fff;
    color: #008184;
    }

#iewrap {min-width: 775px; max-width: 1382px;}

/*=== Content Page Layout ===*/
#wrap {
    float: right; 
    width: 100%;
    margin: 5px 0 0 -270px;
    padding: 0;
    }

#content{
    margin: 0 35px 0 275px;
    padding: 0 5px 0 5px;
    position: relative;
    }

#left-column {
    float:left;
    width: 270px;
    line-height: 1.3em;
    margin: 5px 0 0 0;
    padding: 0;
    }

/*=== Content Page Elements===*/

#iewrap #print-logo {display:none}

h1 {margin:0}
/*
h3, h4, h5, p, ol, ul, table, dl, address, form {margin-right: 5px; margin-left:5px}
h1, h2 {padding-left: 5px}
*/


/*=== Quotes =====*/
#content blockquote {margin:10px; min-height: 90px; padding-bottom: 10px}

/*=== Tables =====*/

table.data {width:95%;}
table.data th {text-align:left; font-size:1.24em}
caption {text-align:left; font-weight:bold; font-style:italic}

table.data td, table.data th {padding:6px 6px 6px 10px}
table.data {border-spacing:1px;}

/*==== General styles for alignment of elements within the content area ==*/

.image-left, img.alignleft {position: relative;float: left;}
.image-inline, img.inline {display:block;}
.image-right, img.alignright {float:right;clear: right;}

.alignleft {float: left; margin: 5px 10px 10px 0;}
.alignright {float: right; margin: 5px 0 10px 10px;}
.centered {display: block; margin: 10px auto; padding: 10px 0; text-align:center;}

.two-col1 {float: left; width: 48%;}
.two-col2 {float: right; width: 48%;}

/*======== form styles ========*/

.form-info {font-style: italic; font-weight: bold; padding: 5px 0 0 0}

form {margin-top:0}

fieldset {
    margin: 0;
    padding: 0;
    border:none;
    }

legend {
    padding: 0;
    margin: 0;
    font-size:1.308em;
    font-weight:bold
    }
   


/*======= wide rows ======= */
#content textarea {padding: 5px;}




