/*====== Light Colours and Images ======*/


/*==  Homepage Colours and Custimisations ==*/

.online-services h2, .a-z h2 {
    background-image: url('../images/icon-online-services.png');
    color: #663333;
    border-color: #cc6666;
    }
.a-z h2 {background:none}
.online-services li a {background: url(../images/arrow-red.gif) no-repeat 6px 10px}
#col-left .online-services li a, #col-left .online-services li a:link {color:#000}
.whats-on div, .council-meetings div {
    background-color: #e5e5e5;
    border-bottom:1px solid #000;
    }

#col-left .whats-on h2 a, #col-left .council-meetings h2 a {color:#000}
.whats-on div {background-image: url('../images/icon-whats-on.png');}
.council-meetings div {background-image: url('../images/icon-council-meetings.png');}

.media li {border-bottom:1px solid #e5e5e5}
.media p span {color:#666;}

/* Homepage Highlights and Media*/

.highlights h2 {
    background-image: url('../images/icon-highlights.png');
    border-color: #ffc000;
    }
.highlights h2, #col-left .highlights a {color: #996600;}

.media h2 {
    background-image: url('../images/icon-media-centre.png');
    border-color: #591cca;
    }
.media h2, #col-left .media a {color: #6633cc;}

#col-left .whats-on h2 .feed {background-image: url('../images/rss-whats-on.gif')}
#col-left .highlights h2 .feed {background-image: url('../images/rss-highlights.gif')}
#col-left .media h2 .feed {background-image: url('../images/rss-media.gif')}

#col-left .a-z li a {color:#000; background: #d0e7e7}
#col-left .a-z li a:hover {background: #f3e7e7}

.link-bar {background: #e5e5e5; border-bottom: 1px solid #000}
#col-left .link-bar a {color:#000}

/*==== Homepage Tabs Colours and Custimisations ====*/

#col-right, #col-right div, #iewrap #col-right .useful-links ul {background: url('../images/related-bg.gif');}

#col-right a, #col-right a:link {color: #330000}

#col-right ul {border-top: 1px solid #cc6666;}

#col-right li a.leader-listens {background-image: url('../images/link-images/logo-leader-listens.gif')}
#col-right li a.whereilive {background-image: url('../images/link-images/logo-whereilive.gif')}
#col-right li a.facebook {background-image: url('../images/link-images/logo-facebook.gif')}
#col-right li a.twitter {background-image: url('../images/link-images/logo-twitter.gif')}
#col-right li a.you-tube {background-image: url('../images/link-images/logo-youtube.gif')}
#col-right li a.flickr {background-image: url('../images/link-images/logo-flickr.gif')}

#col-right li a.base {background-image: url('../images/link-images/logo-base.gif')}
#col-right li a.direct-me {background-image: url('../images/link-images/logo-directme.gif')}
#col-right li a.directgov {background-image: url('../images/link-images/logo-directgov.gif')}
#col-right li a.support-people {background-image: url('../images/link-images/logo-supporting-people.gif')}


#col-right ul ul {
    border-color: #eed0d0;
    background: #fff;
    }

#col-right li a.tab-on {
    background-color:#fff;
    border-color: #eed0d0;
    }


/*=== Content Page Layout :: Colours and Customisations===*/

#content{border: 1px solid #d6eaea; border-width: 0 1px 0 1px}
#wrap {background: url(../images/wrap-border.gif) repeat-y 35px 0;}

/*=== Content Page Layout Elements :: Colours and Customisations===*/

h1, h2 {border-bottom: 1px solid #008184; color:#003333}
h3, h4, h5 {color:#003333}

#content a:focus, #content a:active {color:#fff; background: #008184; }

#content blockquote, #content q {
    background: #d8ebeb url('../images/quote.gif') no-repeat 10px 10px;
    border: 1px solid #008184;
    border-width: 1px 0
    }
#content q {background-image:none}

#content ul li {background: url('../images/arrow-green-small.gif') no-repeat 5px 5px}
#content ul li ol li {background: none}
#content ul li ul li, #content ol li ul li {background: url('../images/arrow-hyphen-small.gif') no-repeat 3px 10px}

th {background:#008184; color:#fff}
tr td {background:#f0f7f7}
tr.even td {background:#d1e8e8}
table.data td, table.data th {border-right: 3px solid #fff}

    /* Navigation colours */

#left-column #navigation, #left-column #online-services, #left-column #useful-links, #left-column #contact {
    background-image: url(../images/main-prop-border.gif);
    background-position: 35px 0;
    background-repeat: repeat-y;
    }

#left-column #navigation {background-color:#d8ebeb}
#left-column #online-services {background-color:#f9f3f3}
#left-column #useful-links, #left-column #contact {background-color:#e6e6e6}

#left-column #navigation h2 {color: #003333; border-color: #008184; background-image: url('../images/icon-welcome.gif')}
#left-column #online-services h2 {color:#663333; border-color: #cc6666; background-image: url('../images/icon-online-services-small.gif')}
#left-column #useful-links h2, #left-column #contact h2 {color:#000; border-color: #999999; background-image: url('../images/icon-useful-links-small.gif')}
#left-column #contact h2 {background-image: url('../images/icon-contact-small.gif')}

#left-column #navigation li a {background-image: url('../images/arrow-green-small.gif')}
#left-column #online-services li a {background-image: url('../images/arrow-red-small.gif')}
#left-column #useful-links li a {background-image: url('../images/arrow-grey-small.gif')}

#left-column li li strong {background-image: url('../images/arrow-current-nav.gif'); background-color: #008184; color:#fff}
#left-column #navigation li li li li li a {background-image: url('../images/arrow-hyphen-small.gif'); background-position: 50px 14px}

    /* Forms colours */
#content input[type|='text'] {border: 1px solid #008184}
.error {color: #d04747}

/*== Pre-Footer colours + customisations ==*/

#pre-footer {background: #d4e9e9 url(../images/main-prop-border.gif) repeat-y 35px 0;}
#pre-footer .box-right div {border: 1px solid #fff; border-bottom:medium none; border-top:medium none;}
#pre-footer a, #pre-footer a:link {color:#000}
