

* {border-color:#000; color:#000 !important; background: none !important}

#iewrap #print-logo {display:block !important}

#iewrap #header, #iewrap #left-column, #iewrap #footer, #pre-footer .box-right, #iewrap #main-propostion,
#iewrap #col-right {display:none; }

#iewrap h1, #iewrap h2 {padding-left:0}

#iewrap #col-left, #iewrap #pre-footer .box-left {width:100%;}
#iewrap #pre-footer dl {width:33%;}

#iewrap #wrap, #iewrap #col-wrapper, #iewrap #content, #pre-footer {margin:0; padding:0; border: none}