/*== RELAXED LAYOUT ==*/

body {font-size:100%}
#main-propostion #navigation-index {width:66.6%}
#navigation-index li {margin:0}
#main-propostion #proposition-image {width:33.3%}

#iewrap #col-left, #iewrap #col-right {width:100%; float:none}

#col-right {clear:both}
#col-right .cl {display:none}

#col-right .browse-aloud, #col-right .social-links, #col-right .useful-links {
    float:left;
    width:33.3%;
    margin:0;
    }

#col-right .browse-aloud {background:none}
#col-right {background:none; margin-top:10px;}

.index .box-right h2, .media ul, .council-meetings div, .index .link-bar {margin-right:5px}

#navigation-index li a, .online-services li a {background-position: 6px 10px}

#col-right ul {border-top:none;}
#iewrap #col-right ul {margin: 0 5px}
#iewrap #col-right ul ul {margin: -1px 0 0 0}

#iewrap #col-right .tab-on {margin-bottom:0}
#iewrap #col-right ul .tab-2 ul {margin-left:-101.2%;}

#iewrap #col-right .social-links, #iewrap #col-right .useful-links {min-height:0px; padding-bottom:5px}
#iewrap #col-right .useful-links {background: none;}
#iewrap #col-right .useful-links ul {margin: 0 5px 0 0; min-height:384px;}

#iewrap #col-wrapper {border:1px solid #E1E7E7; border-top:none; border-bottom:0}
#iewrap #pre-footer {margin:0}

#pre-footer .box-right div {min-height:185px}

#content form .sw, #content form .se, #content form .nw, #content form .ne {display:none}