/* COLOURS */

$eastsussex_dark: #194C7E;
$eastsussex_primary: #155F91;

$primary: $eastsussex_primary;
$col_click_map: $eastsussex_primary;
$col_fixed_label_dark: $eastsussex_primary;
$col_fixed_label: $eastsussex_primary;

$primary_b: #000000;
$primary_text: #ffffff;

$base_bg: #ffffff;
$base_fg: #1a1a1a;

/* Unused here */
$map_nav_bg: #222;
$nav_fg: #fff;
$nav_fg_hover: #444;
