@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

body {
    font-size: 13px;
}

a, a:visited {
    color: #369;
    &:hover, &:active {
        color: #369;
    }
}

.issue-list-a {
  li {
      color:#666;
      a {
          color:#666;
      }
  }
}

h1.main {
    color: $primary;
    text-align: center;
    margin: 0.5em 0;
}

.container {
    padding: 0 1em 1em; /* if remove this 1em, need to edit .full-width! */
}

#site-header {
    background: $primary;
    height: 76px;
    border-top-width: 4px;
    margin-top: -4px;
}

// Colour tab to match colour scheme
#nav-link {
  width: 50px;
  height: 48px;
}

#breadcrumb_breadcrumbTrail ol li {
    list-style: none;
}

#problems-nav {
    border-bottom:0.25em solid $primary;
    ul li a {
        text-transform: none;
        color: #666;
        &.active {
            background: $primary;
            color: #fff;
        }
    }
}

#report-a-problem-sidebar .sidebar-notes a {
    color: #fff;
    text-decoration: underline;
}

.big-green-banner {
    text-transform: none;
    z-index: 5000;
}

#form_sign_in {
    margin-top: 1em;
}

#front-main {

    margin: 0;
    padding: 1em;

    #front-main-container {
        text-align: center;
    }

    #postcodeForm {
        padding: 1em;

        label {
            text-align: center;
        }

        div {
            padding-top: 0px;
            input#pc {
            }
            input#sub {
                height: 100%;
            }
        }
    }
}

#mysociety {
    h1, h2 {
        text-align: center;
    }
}


body > p {
    margin: 0;
}

.main-menu ul {
    padding: 0;
    margin: 6px;
    text-align: center;

    li {
        display: inline-block;
        list-style: none;

        a, span {
            padding: 2px 6px;
            margin: 3px;
            border-radius: 3px;
        }

        a {
            background-color: #00a1de;
            color: white;
        }

        span {
            background-color: #00a1de;
            color: white;
        }
    }
}

.footer .languages ul {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        float: none !important;
    }
}

button, input[type=submit], .btn {
    text-transform: none;
}
