@import "_colours";;
@import "../sass/layout";

#front-main {
    // Undo the top margin added in base.scss
    margin-top: 0;
    padding: 0
}
#front-main-container {
    background-color: $eastsussex_primary;
    padding: 1em;
}

.container, .eastsussex-container {
    width: 100%;
    max-width: 966px;
}

#menu {
    height: 55px;
}

footer {
    position: relative;
    z-index: 1000;
    margin-top: 0;
    background: #aee1f4;

    a {
        text-decoration: underline;
    }

    h2 {
        margin: 0;
    }

    form.newsletter.form {
        input#newsletter {
            display: inline-block;
        }

        input[type=submit] {
            background: #1e5b83;
            text-transform: none;
        }

        label {
            font-weight: normal;
        }
    }
}


div.form-error, p.form-error {
    display: block !important;
}

body.mappage {
    .main-menu-wrapper {
        position: fixed
    }

    footer {
        display: none;
    }

    #fms_pan_zoom {
        top: 18em!important;
    }

    #mysociety {
        margin-top: 0;
        padding-top: 16em;
        padding-bottom: 0;
        width: auto;
        background: transparent;
    }

    .content {
        div {
            max-width: 27em;
        }

        // required for non-js placement
        #map_box {
            left: 30em;
        }
    }


    #wrapper {
        display: block;
        width: auto;
    }

    #report-a-problem-sidebar {
        top: 1em;
    }

    // Keep the headers fixed at the top on the map page
    #site-header {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
}

.general-notes, #report-a-problem-sidebar p, #report-a-problem-sidebar .sidebar-notes .plain-list li {
    font-size: 13px;
    line-height: 14px;
}

body.twothirdswidthpage .content .sticky-sidebar aside {
    top: 0;
    position: absolute;
}

body.frontpage {
    #site-header {
        height: auto;

        .mobile-header-nav {
            display: none;
        }
    }
}

#site-header {
    border-top-width: 0;
    margin-top: 0;
    background: rgb(3, 160, 227);

    .container {
        position: relative;
    }

    #nav-container.container {
        min-height: 0;
    }

    #breadcrumb_breadcrumbTrail {
        position: relative;

        a {
            color: white;
        }


        .breadcrumb {
            margin: 9px 0 6px 0;

            span {
                font-weight: bold;
            }

            li.level1 a {
                color: #194c7e;
            }
        }

        .sign-in {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }

    .header {
        a.contact {
            text-decoration: underline;
        }

        .alphabet h2 {
            font-size: 1em;
            font-weight: bold;
        }
    }
}

#mysociety {
    margin-top: 0;
    padding-bottom: 24px;

    .container {
        padding: 0;
    }
}

.content {
    margin-top: 0;
    width: auto;
}

.banner p#fixed {
    background-position: -328px -333px;
}

#skipped-map {
    clear: both;
    margin-top: 3em; /* required to push "Your Reports" visible on Safari/IE */
}

.main-menu-wrapper {
    display: none;
}



@media only screen and (max-width: 61em) {
    #site-header {
        height: auto;
    }

    body.twothirdswidthpage .content .sticky-sidebar {
        top: 1em;
    }
}

@media only screen and (min-width: 48em) {
    footer {
        display: block;
    }
}

