@import "_colours";;

@media only screen and (min-width:48em) {
    @import "../sass/layout";

    /* from http://nicolasgallagher.com/micro-clearfix-hack/ */
    .clearfix:before,
    .clearfix:after { content: " "; display: table; }
    .clearfix:after { clear: both; }
    /* For IE 6/7 only */
    .clearfix { *zoom: 1; }

    #front-main {
        padding: 0
    }
    #front-main-container {
        background-color: $eastsussex_primary;
        padding: 1em;
    }

    .container {
        width: initial;
    }

    #site-header .header a.contact {
        text-decoration: underline;
    }

    footer {
        margin-top: 0;

        a {
            text-decoration: underline;
        }

        h2 {
            margin: 0;
        }

        form.newsletter.form {
            input#newsletter {
                display: inline-block;
            }

            input[type=submit] {
                background: #1e5b83;
                text-transform: none;
            }

            label {
                font-weight: normal;
            }
        }
    }

    body.mappage {
        .main-menu-wrapper {
            position: fixed
        }

        footer {
            display: none;
        }

        #fms_pan_zoom {
            top: 14em!important;
        }

        #mysociety {
            padding-top: 7em;
        }

        #report-a-problem-sidebar {
            top: 10em;

            .sidebar-notes .plain-list li {
                font-size: 1em;
            }
        }
    }

    body.mappage, body.twothirdswidthpage {
        .content {
            margin-top: 9em;
            width: 27em;
            .sticky-sidebar aside {
                z-order: 3;
                top: 16em;
            }
        }

        #site-header {
            height: 0;
        }

    }

    body.frontpage {
        #site-header {
            height: 13em;

            .mobile-header-nav {
                display: none;
            }
        }
    }

    #site-header {
        height: 10em;
    }

    #mysociety {
        margin-top: 9px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .content {
        width: auto;
    }

    #skipped-map {
        clear: both;
        margin-top: 3em; /* required to push "Your Reports" visible on Safari/IE */
    }

    #main-nav {
        margin-top: 106px;
        ul {
            margin-left: 157px;
            float: none;
        }
    }

    #main-nav ul li {
        text-align: center;
        text-transform: uppercase;
        padding: 0 15px;
        font-size: 16px;
        border-right: solid 1px white;
        line-height: 1.5em;
    }

    #main-nav ul li a {
        padding: 0;
        font-size: inherit;
    }

    #main-nav ul li:last-child {
        border-right: none;
    }

    #main-nav ul li a:link, #main-nav ul li a:visited {
        color: #fff;
    }

    #main-nav ul li:hover, #main-nav ul li:hover a, {
        background-color: white;
        color: black;
        text-decoration: none;
    }

    .main-menu-wrapper {
        position: absolute;
        height: 2.4em;
        top: 162px;
        z-index: 3;
        background-color: #FFF;
        width:100%;


        ul {
            margin: 0;
        }

        li {
            list-style-type: none;
            padding: 0.5em;
            float: left;
        }

        .main-menu {
            max-width: 966px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 61em) and (min-width: 48em) {
    #main-nav {
        padding-left: 0px;
        float:none;
    }
}

@media only screen and (max-width: 48em) {
    .header {
        background: #004b7b url(img/mobile.jpg) repeat-x !important;
    }

    body > p {
        margin: 0;
    }
    
    #site-header {
        border: none;
        height: 74px;
    }
}