
                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    <ul class="nav-menu nav-menu--main">
                        <li><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %] class="report-a-problem-btn"
                            >[% loc("Report a Stockout") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
                            %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>
                    </ul>
                </div>
            </div>
        </div>

<!-- [% INCLUDE 'debug_footer.html' %] -->
    </div> <!-- .wrapper -->
</body>
</html>
