<link rel="stylesheet" href="[% start %][% version('/js/select2/select2.css') %]" />
<script type="text/javascript" src="[% start %][% version('/js/select2/select2.min.js') %]"></script>

<script>
$(document).ready(function() { 
    $("#clinic").select2({
        placeholder: '[% loc('Enter a clinic name') %]',
        allowClear: true,
    }); 
    $('#show_report').click(
        function() { 
            var report = $('#clinic').select2('val');
            document.location = '[% c.uri_for( '/report' ) %]/' + report;
            return false;
        }
    );
});
</script>
