[%# Assumes fixmystreet cobrand is using FMS map template - for bonus points preload all the right map elements. %]
[% map_js = BLOCK %]
<script>
yepnope.addPrefix( 'preload', function ( resource ) {
    resource.noexec = true;
    return resource;
});
Modernizr.load({
    load: [
        "preload![% version('/js/OpenLayers.fixmystreet.js') %]",
        "preload![% version('/js/map-OpenLayers.js') %]",
        "preload![% version('/js/map-OpenStreetMap.js') %]",
        "preload![% version('/js/jquery.ba-hashchange.min.js') %]"
    ]
});
</script>
[% END %]

[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% INCLUDE 'header.html', title = '', bodyclass = 'frontpage fullwidthpage' %]

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]

<div class="tablewrapper">
    <div id="front-howto">
        [% INCLUDE 'index-steps.html' %]
    </div>

    <div id="front-recently">
        <h2>
            [% loc('About stockouts') %]
        </h2>

        <section class="full-width">
            <p>
            [% loc('In 2013 India faced stockouts of anti-tuberculosis medicines, threatening to leave many patients across the country without access to life-saving treatment. Some government officials have denied that these drug stockouts exist. There is no simple mechanism for gathering drug shortage data, making accountability and transparency impossible. We aim to change this by enabling anyone in Delhi to report stockouts through this website.') %]
            </p>
        </section>

    </div>
</div>

[% INCLUDE 'footer.html' pagefooter = 'yes' %]
