[%

color_bucks_green = '#9FC63B'
color_bucks_dark_green = '#00642F'
color_bucks_text = '#3C3C3B'
color_bucks_grey = '#eeeeee'


body_background_color = color_white
body_text_color = color_bucks_text

header_background_color = color_white
header_text_color = color_bucks_text

button_background_color = color_bucks_text
button_text_color = color_white

secondary_column_background_color = color_white
secondary_column_text_color = color_bucks_text
column_divider_color = color_bucks_grey

logo_width = '100'
logo_height = '100'
logo_file = "email-logo.png"

header_background_color = color_white
header_padding = "10px 0 10px 0" # a full CSS padding property (eg: top/right/bottom/left)

%]
