/* COLOURS */

$black: #000;
$notts_police_blue: #039;
$primary: $notts_police_blue;
$primary_b: #222;
$primary_text: #222;

$base_bg: #fff;
$base_fg: #222;

/* NAVBAR */

$nav_colour: $primary_text;
$nav_background_colour: $primary;
$nav_hover_background_colour: $primary_b;

/* OTHER VARIABLES */

$col_click_map: $primary;

$front-main-color: #fff;
$form-hint-color: #222;
$front-main-color-desktop: #222;
