@import "../sass/h5bp";
@import "./_variables";
@import "../sass/mixins";
@import "../sass/base";
@import "../fixmystreet-uk-councils/societyworks-footer";

.postcode-form-box {
    color: #fff;
}

.border-wrapper {
    border: 0.5rem solid $black;
    padding: 1rem;
    margin: 3rem 0rem;

    h3 {
        font-family: $heading-font;
        &:first-child {
            margin-top: 0;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}
