/* COLOURS */

$angus_green: #008672;
$angus_light_green: lighten($angus_green, 3%);
$angus_dark_green: #006d5c;
$angus_blue: #114a97;
$angus_dark_blue: #0c3469;
$angus_light_grey: #eee;
$angus_grey: #717171;
$angus_dark_grey: #424242;
$angus_grey_link: #c7c7c7;


$primary: $angus_green;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #fff;
$base_fg: #000;

$header-top-border: false;

$map_nav_bg: $angus_green;
$nav_fg: #fff;
$nav_fg_hover: transparent;

$col_big_numbers: $primary;

$col_click_map: $angus_blue;
$col_click_map_dark: darken($col_click_map, 10%);

$col_fixed_label: $angus_green;
$col_fixed_label_dark: darken($col_click_map, 10%);

$container-max-width: 1200px;
