@font-face {
  font-family: angusgov;
  src: url(/cobrands/angus/third_party/fonts/angusgov.eot?-q16et6);
  src: url(/cobrands/angus/third_party/fonts/angusgov.eot?#iefix-q16et6) format("embedded-opentype"),
       url(/cobrands/angus/third_party/fonts/angusgov.woff?-q16et6) format("woff"),
       url(/cobrands/angus/third_party/fonts/angusgov.ttf?-q16et6) format("truetype"),
       url(/cobrands/angus/third_party/fonts/angusgov.svg?-q16et6#angusgov) format("svg");
  font-weight: 400;
  font-style:normal
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/PIPMHY90P7jtyjpXuZ2cLLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/lILlYDvubYemzYzN7GbLkKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(https://themes.googleusercontent.com/static/fonts/sintony/v2/cu1c4tOdDXpghDFFDdv7MgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 700;
  src: local('Sintony Bold'), local('Sintony-Bold'), url(https://themes.googleusercontent.com/static/fonts/sintony/v2/TiXPkS2VjL9yF_daQZv9Ir3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}


$heading-font: 'PT Sans', sans-serif;
$body-font: Sintony, sans-serif;
$meta-font: $heading-font;
