@import "../sass/h5bp";
@import "./_colours";
@import "./_fonts";
@import "../sass/mixins";

@import "../sass/base";

#site-logo {
    background: url("/cobrands/angus/third_party/css_img/angus-logo-header.png") 0 50% no-repeat;
    background-size: contain;
    width: 82px;
    height: 50px;
}

#site-header {
    form.form__search {
      display: none;
    }
}

.item-list--reports__item, #front-main #postcodeForm {
//    background-color: $greenwich_light_grey;
}

label[for=pc] {
    color: $nav_fg;
}

#front-howto #front_stats {
    color: $nav_fg;
}

.angus_nav, .wrapper__main_menu {
  display: none;
}
