<footer class="fmg-footer">
  <div class="container">
    <div id="footer-mobileapps">
      <!--
          <h4></h4>
      <p>
      </p>
      -->
    </div>

    <div id="footer-help">
      <ul>
	<li>
          <h4>Sekretess och kakor</h4>
          <p>Vill du veta mer om det juridiska? Läs vår information <a href="/privacy">om Dataskyddsförordning, sekretess och kakor</a>.</p>
	</li>
        <li>
          <h4>Är du en utvecklare?</h4>
          <p>[% loc('Would you like to contribute to FixMyStreet? Our code is open source and <a href="https://fixmystreet.org">available at fixmystreet.org</a>.') %]</p>
        </li>
	<li>
          <h4>Är du anställd i en kommun?</h4>
          <p>Vill du veta mer om FixaMinGata eller hur det kan fungera för er kommun? <a href="/about/council">Läs mer om FixaMinGata för kommuner</a>.</p>
	</li>
      </ul>
    </div>
  </div>
</footer>
