[%# Assumes fixmystreet cobrand is using FMS map template - for bonus points preload all the right map elements. %]
[% map_js = BLOCK %]
<script>
yepnope.addPrefix( 'preload', function ( resource ) {
    resource.noexec = true;
    return resource;
});
Modernizr.load({
    load: [
        "preload![% version('/js/OpenLayers.fixmystreet.js') %]",
        "preload![% version('/js/map-OpenLayers.js') %]",
        "preload![% version('/js/map-bing-ol.js') %]",
        "preload![% version('/js/jquery.ba-hashchange.min.js') %]"
    ]
});
</script>
[% END %]

[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% INCLUDE 'header.html', title = '', bodyclass = 'frontpage fullwidthpage' %]

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]

[% IF c.cobrand.moniker == 'bromley' %]
<p>This is primarily for reporting physical problems that can be fixed
like graffiti, cleansing issues or road defects. To report other
kinds of problems like missed bins use our
<a href="http://www.bromley.gov.uk/report">online report it forms</a>.
</p>
[% END %]

<div class="tablewrapper">
    <div id="front-howto">
        [% INCLUDE 'index-steps.html' %]
    </div>

    [%
        recent_photos = c.cobrand.recent_photos('front', 5);
    %]

    <div id="front-recently">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <link rel="canonical" href="https://plus.google.com/105025269316032228481" />
        <div style="height: 50px; position: relative;"><div class="fb-like" data-href="https://www.facebook.com/fixamingata" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style="float: left;"></div>&nbsp;&nbsp;&nbsp;<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script><div style="float: left; padding-left: 20px; padding-top: 2px;"><g:plusone></g:plusone></div></div>
        [% IF recent_photos.size %]
        <h2>
            [% IF c.cobrand.moniker == 'hart' %]
                Recently reported
            [% ELSE %]
                [% loc('Recently reported problems') %]
            [% END %]
        </h2>

        <section class="full-width">
            <ul class="issue-list-a">
            [% FOREACH problem IN recent_photos %]
            [% INCLUDE 'report/_item.html', no_fixed = 1 %]
            [% END %]
            </ul>
        </section>

        <!-- [% IF c.cobrand.moniker != 'emptyhomes' %] -->
        <!-- <section class="full-width"> -->
        <!--   [% INCLUDE "front/stats.html" %] -->
        <!--   [% TRY %][% INCLUDE "front/tips.html" %][% CATCH file %][% END %] -->
        <!-- </section> -->
        <!-- [% END %] -->

        [% END %]
    </div>
</div>

<!-- [% TRY %][% INCLUDE 'front/news.html' %][% CATCH file %][% END %] -->

[% INCLUDE 'footer.html' pagefooter = 'yes' %]
