// mySociety: fixed image path

//-----------
// Header
//-----------

#global-header {
    background-color: $bathnes-white;
    position: relative;
}

.header-wrapper {
    position: relative;
    max-width: $site-width;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 15px;
    padding-right: 15px;
    @include media($site-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

.header-global {
    overflow: hidden;
}

.header-logo {
    width: (321px/2.5);
    height: auto;
    img {
        max-width: 100%;
    }
    @include media(desktop) {
        width: (321px/2);
        float: left;
    }
}

.header-search {
    margin-top: 10px;
    margin-bottom: 20px;
    @include media(desktop) {
      margin-top: 1em;
        float: right;
        width: 50%;
        text-align: right;
        margin-top: 12px;
        margin-bottom: 0;
    }
    .site-search {
        position: relative;
        .form-control {
            width: calc(100% - 80px);
            //width: calc(100% - 35px);
            border-width: 1px;
            border-color: $border-colour;
            font-size: 16px;
            height: 36px;
            @include media(desktop) {
                width: calc(100% - 100px);
            }
        }
        .button {
            position: absolute;
            top: 0;
            right: 45px;
            //right: 0;
            text-indent: -9999px;
            background-image: url(images/icon-search-2x.png);
            background-repeat: no-repeat;
            background-position: 55% 50%;
            background-size: 52.5% 40%;
            box-shadow: none;
            width: 36px;
            height: 36px;
            @include media(desktop) {
                right: 0;
            }
        }
    }
}

.header-search--desktop{
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.header-search--mobile{
  @include media(desktop) {
    display: none;
  }
}

#global-header-bar {
    position: relative;
    background-color: $bathnes-primary;
    height: 5px;
}

.header-marque {
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 0 25px;
    border-color: transparent transparent transparent $bathnes-primary;
}

// ----------
// Commercial header
// ----------

.header-commercial {
    position: relative;
    overflow: hidden;
    background-color: $bathnes-black;
    .header-wrapper {
        padding-top: 0.75em;
        padding-bottom: 0.5em;
    }
}

.header-commercial__logo {
    width: (320px/3.5);
    height: auto;
    display: block;
    img {
        max-width: 100%;
    }
    @include media(desktop) {
        width: (320px/3);
    }
}

.header-commercial__marque {
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 0 30px;
    border-color: transparent transparent transparent #fff;
    @include media($site-width) {
        right: 0;
    }
}
