[%

color_primary = '#00604d'
color_background = '#eeeeee'

link_text_color = '#005bab'
link_hover_text_color = '#005bab'

body_background_color = '#E1E1E1'
body_text_color = color_black

header_background_color = color_primary
header_text_color = color_white

secondary_column_background_color = color_background

button_background_color = color_primary
button_text_color = color_white

logo_file = 'surrey_county_council_white.png'
logo_width = "55" # pixel measurement, but without 'px' suffix
logo_height = "50" # pixel measurement, but without 'px' suffix

banner_style = "background-color: #e0e7cf; font-size: 1em; border: 1px solid #ced8b4"
banner_image_style = "vertical-align:middle;"

%]
