// Admin tables

$table_border_color:   #ccc;
$table_heading_bg_col: #595959;
$table_heading_border_col:   #7a7a7a;
$table_heading_col:    #fff;
$table_heading_underline_col: #393939;
$button_col:    #fff;
$button_bg_col: #a1a1a1;  // also search bar (tables)

.admin {
    .full-width {
        padding: 0 1em;
        background-color: #fff;
    }

    table {
        width: 100%;
        font-size: 0.9em;
        border: 1px solid $table_border_color;
        border-collapse: collapse;
        margin-bottom: 1em;
        th, td {
            padding: 0.666em 0.5em;
            border: 1px solid $table_border_color;
        }
        th {
            color: white;
            background-color: $table_heading_bg_col;
            border-bottom: 2px solid $table_heading_underline_col;
            border-#{$left}: 1px solid $table_heading_border_col;
            border-#{$right}: 1px solid $table_heading_border_col;
            a:link, a:visited {
                color: white;
            }
        }
        th.group {
            color: inherit;
            background-color: inherit;
            text-align: left;
        }
        td.record-id {
            text-align: center;
            font-weight: bold;
        }
        tr.filter-row td {
            display: none; /* TODO: reveal when filtering is implemented */
            padding: flip(4px 4px 4px 40px, 4px 40px 4px 4px);
            background-color: $button_bg_col;
            background-image: url('/cobrands/zurich/search-icon-white.png');
            background-position: flip(14px, right) center;
            background-repeat: no-repeat;
            border-bottom: 2px solid $table_border_color;
        }
        tr.filter-row td input[type=text] {
            background-color: #e1e1e1;
            width: 16em;
            @include border-radius(4px);
            border: none;
            padding: 3px 0.5em;
        }
        tr.is-deleted {
          background-color: #ffdddd;
          img {
              filter: grayscale(1);
          }
          td.contact-category, td.icon-size {
            text-decoration: line-through;
          }
        }
    }
    .no-bullets {
      margin-#{$left}: 0;
      > li {
        list-style: none;
      }
    }
    .no-margin {
      margin: 0;
    }
}

.js #admin_contacts tr.is-deleted {
  display: none;
}

.admin-box { // for delimiting forms, etc
    border:1px solid #999;
    padding:0.5em 1em;
    margin:1.5em 0;
    h2 { // only really want on first-child
        margin-top: 0;
    }
}

.admin-offsite-link {
    display: inline;
    padding-#{$right}: 12px;
    background-image: url(../../i/external-link.png);
    background-position: $right top;
    background-repeat: no-repeat;
}

.fms-admin-warning, .fms-admin-info {
    padding: 1em;
    font-size: 90%;
    border-style: solid;
    border-width: 1px;
    border-#{$left}-width: 1em;
    margin-bottom: 1em;
}

.fms-admin-warning {
    border-color: #f99;
    background-color: #ffe1e1;
}

.fms-admin-info {
    border-color: #9f9;
    background-color: #e1ffe1;
}

.admin-open311-only {
    border:1px solid #666;
    padding:1em;
    margin: 1em 0;
}

.admin-open311-section {
    padding-#{$left}: 1em;
    border-#{$left}: 1px solid #ccc;
}

.admin-hint {
    font-size: 80%; // little question marks are small
    cursor: pointer;
    display: block;
    float: $left;
    overflow: hidden;
    padding: 0.2em;
    margin-#{$right}: 0.666em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #f93;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    border-radius: 0.333em;
    p {
        display:none;
    }
    &:before { content: "?" }
    &.admin-hint-show {
        font-size: 90%;
        text-align: $left;
        display: block;
        float:none;
        margin:1em 0;
        &:before { content: "" }
        background-color: inherit !important;
        p {
            font-weight: normal;
            display: block;
            background-color: #ff9;
            color: #000;
            border-style: solid;
            border-width: 1px;
            border-#{$left}-width: 1em;
            border-color: #f93;
            padding:1em;
            margin: 0;
        }
    }
}

.admin-index-search {
    width: 27em;

    select {
        width: 15em;
    }
}

.extra-metadata-item,
.extra-metadata-option {
    border: 1px solid $table_border_color;
    margin: 1em 0;
    border-radius: 4px;
    overflow: hidden;

    // Make it look more "grabbable" if javascript available.
    html.js & {
        box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
    }
}

.extra-metadata-item-placeholder {
    border: 1px solid #fff;
    margin: 1em 0;
}

.extra-metadata-item__header {
    @include flex-container();
    line-height: 1;
    background: #f3f3f3;

    & > * {
        padding: 1em;
        border: none;
        background: transparent;
        text-align: inherit;
        font-family: inherit;
        font-size: 1em;
        -webkit-appearance: none;
    }

    .extra-metadata-item__header__remove {
        color: #DB0030;

        &:hover,
        &:focus {
            background: #ffe1e1;
            color: #AD0026;
        }
    }
}

.extra-metadata-item__header__grab {
    cursor: grab;

    // Overlap padding-left of the title element
    margin-#{$right}: -1em;
    position: relative;
    z-index: 1;
    width: 1em;

    &:before {
        content: "";
        display: block;
        width: 1em;
        height: 2px;
        background: #000;
        box-shadow: 0 -4px 0 0 #000, 0 4px 0 0 #000;
        position: absolute;
        top: 50%;
        left: 1em;
        margin-top: -1px;
    }

    .sortable-dragging & {
        cursor: grabbing;
    }
}

.extra-metadata-item__header__title {
    @include flex(1 0 auto);
    cursor: pointer;
}

.extra-metadata-item__body {
    padding: 0 1em 1em 1em; // 0em to compensate for first label margin-top
    border-top: 1px solid $table_border_color;
}

.extra-metadata-option {
    margin: 0 0 1em 0;
    padding: 0 1em;

    .row {
        @include flex-container();
        margin: 0 -1em;
    }

    .col {
        @include box-sizing(border-box);
        @include flex(1 0 auto);
        padding: 0 1em;
        width: 50%;
    }

    .form-control {
        margin: 0;
    }

    button {
        border: none;
        background: transparent;
        text-align: inherit;
        font-family: inherit;
        font-size: 1em;
        -webkit-appearance: none;
        color: #DB0030;
        float: right;
        padding: 0.5em;
        margin-top: 1em;
        border-radius: 4px;

        &:hover,
        &:focus {
            background: #ffe1e1;
            color: #AD0026;
        }
    }
}

.danger-zone {
    text-align: #{$right};
}

.permissions-checkboxes {
    margin: 0;

    & > li {
        border-top: 1px solid $table_border_color;
        list-style: none;
        padding: 0;
        margin: 1em 0;
        padding-top: 1em;
        font-weight: bold;

        @media (min-width: 48em) {
            display: grid;
            grid-template-columns: 10em auto;
            grid-column-gap: 1em;
        }
    }

    ul {
        font-weight: normal;
    }
}

.truncate_height {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    max-height: initial;
  }
}
