.multi-select-container {
    position: relative;
    display: inline-block; // shrink to width of .multi-select-button
}

.multi-select-menu {
    position: absolute;
    #{$left}: 0;
    top: 0.8em;
    z-index: 2; // stack above mysoc-footer
    float: #{$left}; // shrink to width of child elements
    min-width: 100%; // always at least as wide as its .multi-select-button sibling
    background: #fff;
    margin: 1.5em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.multi-select-menuitem {
    display: block;
    font-size: 0.875em;
    padding: flip(0.6em 1em 0.6em 30px, 0.6em 30px 0.6em 1em);
    margin: 0;
    white-space: nowrap;

    & + & {
        padding-top: 0;
    }

    input {
        position: absolute;
        margin-top: 0.25em;
        margin-#{$left}: -20px;
    }
}

.multi-select-menuitem--titled {
    &:before {
        display: block;
        font-weight: bold;
        content: attr(data-group-title);
        margin: 0 0 0.25em -20px;
        cursor: default;
    }

    &.govuk-checkboxes__item {
        margin-top: 1.85em;
        &:before {
            position: absolute;
            left: 1em;
            top: -1.5em;
        }
    }
}

.multi-select-menuitem--titledsr:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.multi-select-modal {
    display: none;
}

// Centred, modal display for sub-768px screens only.
@media (max-width: 47.94em) {
    .multi-select-menu {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75% !important; // override inline "width: auto"
        max-height: 50%;
        min-width: 0;
        overflow: auto; // allow scrolling
        border: none;
        border-radius: 0.3em;
        box-shadow: 0 1em 3em rgba(0, 0, 0, 0.4);
    }

    .multi-select-menuitem {
        font-size: 1em;
        padding: flip(1em 2.5em 1em 3.5em, 1em 3.5em 1em 2.5em);

        input {
            margin-top: 0.15em;
            margin-#{$left}: -2em;
        }
    }

    .multi-select-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);

        .multi-select-container--open & {
            display: block;
        }
    }
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-button {
    @extend .govuk-select;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    position: relative;
    white-space: nowrap;
    line-height: 1.5rem;
}

.multi-select-container--open {
    .multi-select-menu {
        display: block;
        padding: 0 1em;
    }

    .multi-select-button {
        background-image: inline-image("../fixmystreet/images/chevron-black-up.svg");
    }
}

.multi-select-container--positioned {
    .multi-select-menu {
        box-sizing: border-box;

        label {
            white-space: normal;
        }
    }
}

// Rules when using GOVUK styling
// Using variables for the spacing to make more evident the relationship the dependencies between elements.
.govuk-multi-select {
    .govuk-fieldset__legend {
      padding: 0.5rem 0 0 0.5rem;
    }
}

$govuk-small-input-size: 44px;
$govuk-small-input-visible-size: 24px;

.govuk-multi-select__label {
// Rule outside the .govuk-multi-select so it also target the "All option"
    input[type="checkbox"], input[type="radio"] {
        width: $govuk-small-input-size;
        height: $govuk-small-input-size;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
    }
}

.govuk-multi-select__label {
    display: inline-block;
    padding: 10px 0px 10px $govuk-small-input-size;
    cursor: pointer;
    touch-action: manipulation;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    position: relative;

    .govuk-small & {
        font-size: 1rem;
        line-height: $govuk-small-input-visible-size;
    }

    &:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: ($govuk-small-input-size - $govuk-small-input-visible-size) / 2;
        left: ($govuk-small-input-size - $govuk-small-input-visible-size) / 2;
        width: $govuk-small-input-visible-size;
        height: $govuk-small-input-visible-size;
        border: 2px solid $govuk-input-border-color;
    }

    &:hover {
        &:before {
        box-shadow: 0 0 0 10px $govuk-input-hover-box-shadow;
        }
    }

    &:focus-within {
        &:before {
        outline: 3px solid $govuk-input-border-color;
        box-shadow: 0 0 0 7px $govuk-input-focus-box-shadow;
        outline-offset: -1px;
        }
    }

    &:focus-within:hover {
        &:before {
        box-shadow: 0 0 0 5px $govuk-input-focus-box-shadow, 0 0 0 10px $govuk-input-hover-box-shadow;
        }
    }

    @supports( #{"selector(:has(*))"} ) {
        &:has(> input[type="checkbox"]:checked),
        &:has(> input[type="radio"]:checked) {
            &::after {
            opacity: 1;
            }
        }
    
        &:has(> input[type="checkbox"]){
            &:after {
            // Check icon
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: $govuk-small-input-visible-size / 2;
            left: $govuk-small-input-visible-size / 2;
            clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
            border: solid 10px $govuk-input-border-color;
            opacity: 0;
            }
        }
    
        &:has(> input[type="radio"]){
            &:after {
            // Circle icon
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            width: 14px;
            height: 14px;
            clip-path: circle(50%);
            opacity: 0;
            background-color: $govuk-input-border-color;
            }
        }
    }

    // When has() selector is not available
    &.govuk-multi-select__label--checked {
        &::after {
        opacity: 1;
        }
    }

    // When has() selector is not available
    &.govuk-multi-select__label--checkbox {
        &:after {
        // Check icon
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: $govuk-small-input-visible-size / 2;
        left: $govuk-small-input-visible-size / 2;
        clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
        border: solid 10px $govuk-input-border-color;
        opacity: 0;
        }
    }

    // When has() selector is not available
    &.govuk-multi-select__label--radio {
        &:after {
        // Circle icon
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        width: 14px;
        height: 14px;
        clip-path: circle(50%);
        opacity: 0;
        background-color: $govuk-input-border-color;
        }
    }
}

.govuk-multi-select--radio, .multi-select-presets {
    .govuk-multi-select__label {
        &:before {
        border-radius: 50%;
        }
    }
}

.govuk-multi-select {
    display: flex;
    flex-direction: column;
}
