.report-list-filters-wrapper {
  color: #666;

  .mobile-filters-active & {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
  }
}

.report-list-filters {
  padding: 1em;
  padding-bottom: 0.75em; // compensate for 0.25em border-top on .item-list__item
  margin-bottom: 0;
  font-size: 0.85em;
  line-height: 1.8em;

  & + & {
    padding-top: 0.25em;
  }

  label {
    // Override default label styling
    font-weight: normal;
    margin: 0;
  }

  & > label,
  .multi-select-container {
    display: inline-block;
    vertical-align: top;
  }

  .form-control {
    display: inline-block;
    margin: 0 0.2em;

    // Visually match the teeny tiny .multi-select-buttons
    font-size: 0.875em;
    background-color: #fff;
    color: #000;
    max-width: 10em;
    vertical-align: top;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0;
  }

  .multi-select-container {
    margin: 0 0.2em;
    color: #000;
  }

  .multi-select-menu {
    z-index: 11; // Stack on top of .shadow-wrap which has {z-index: 10}
    line-height: 1.4em;
  }

  .multi-select-button {
    max-width: 10em;
    padding: flip(0 1.5em 0 0.6em, 0 0.6em 0 1.5em);
    line-height: 1.8em;
    vertical-align: top;
  }
}
