// List of variables that controls multi-select inputs with GOVUK styling
$govuk-input-border-color: #000 !default;
$govuk-input-hover-box-shadow: #b1b4b6 !default;
$govuk-input-focus-box-shadow: #fd0 !default;

.report-list-filters-wrapper, #bulk-assign-form {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  .mobile-filters-active & {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    border: none;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.report-list-filters {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8em;

  & + & {
    padding-top: 0;
  }

  label {
    // Override default label styling
    font-weight: normal;
    margin: 0;
  }

  & > label,
  .multi-select-container {
    display: inline-block;
    vertical-align: top;
  }

  .form-control {
    display: inline-block;
    margin: 0 0.2em;

    // Visually match the teeny tiny .multi-select-buttons
    font-size: 0.875em;
    background-color: #fff;
    color: #000;
    max-width: 10em;
    vertical-align: top;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0;
  }

  .multi-select-container {
    color: #000;
  }

  .multi-select-menu {
    z-index: 11; // Stack on top of .shadow-wrap which has {z-index: 10}
    line-height: 1.4em;
  }

  .multi-select-button {
    box-sizing: border-box;
    padding: flip(0.4em 1.5em 0.4em 0.6em, 0.4em 0.6em 0.4em 1.5em);
    vertical-align: top;
  }

  .multi-select-button #bulk-assign-btn {
    display: inline;
  }

  #bulk-assign-form {
    padding-top: 0;
  }

  #inspector {
    max-width: 40%;
  }

  #bulk-assign-btn {
    width: 25%;
    line-height: 1.7em;
  }

  #bulk-assign-btn::after {
    content: none;
  }

  &.sort-select {
    width: fit-content;
  }

}

#bulk-assign-form {
  padding: 16px;

  label {
    margin-top: 0;
  }
}

input.bulk-assign {
    float: right;
    margin: 2em;
    transform: scale(2);
}

.multi-select-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.sort-container {
  float: left;
}

#show_old_reports_wrapper {
  align-self: flex-end;
  .govuk-label.govuk-checkboxes__label {
    font-size: 13px;
  }
}

@media (min-width: 48em) {
  .report-list-filters {
    display: flex;
    flex-direction: row;
    gap: 1em;

    &.sort-container {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  #show_old_reports_wrapper {
    .govuk-label.govuk-checkboxes__label {
      font-size: 1rem;
    }
  }
}

.govuk-fieldset-wrapper {
  padding: 1rem;

  .filter-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .report-list-filters {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    flex-basis: 50%;
  }

  .multi-select-button, .govuk-select {
    width: 150px;
  }

  @media (min-width: 48em) {
    .multi-select-button, .govuk-select {
      width: 200px;
    }
  }
}
