.report-list-filters-wrapper, #bulk-assign-form {
  color: #666;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  .mobile-filters-active & {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    border: none;
  }
}

.report-list-filters, #bulk-assign-form {
  padding: 16px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8em;

  & + & {
    padding-top: 0;
  }

  label {
    // Override default label styling
    font-weight: normal;
    margin: 0;
  }

  & > label,
  .multi-select-container {
    display: inline-block;
    vertical-align: top;
  }

  .form-control {
    display: inline-block;
    margin: 0 0.2em;

    // Visually match the teeny tiny .multi-select-buttons
    font-size: 0.875em;
    background-color: #fff;
    color: #000;
    max-width: 10em;
    vertical-align: top;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0;
  }

  .multi-select-container {
    margin: 0 0.2em;
    color: #000;
  }

  .multi-select-menu {
    z-index: 11; // Stack on top of .shadow-wrap which has {z-index: 10}
    line-height: 1.4em;
  }

  .multi-select-button {
    max-width: 10em;
    padding: flip(0 1.5em 0 0.6em, 0 0.6em 0 1.5em);
    line-height: 1.8em;
    vertical-align: top;
  }

  .multi-select-button #bulk-assign-btn {
    display: inline;
  }

  #bulk-assign-form {
    padding-top: 0;
  }

  #inspector {
    max-width: 40%;
  }

  #bulk-assign-btn {
    width: 25%;
    line-height: 1.7em;
  }

  #bulk-assign-btn::after {
    content: none;
  }

}

input.bulk-assign {
    float: right;
    margin: 2em;
    transform: scale(2);
}
