body.waste {
    label, legend {
      margin-top: 0; font-weight: normal !important;
    } /* from base/h5bp */

    input[type="text"].govuk-input--width-2 {
      max-width: 5.4ex;
    }

    input[type="text"].govuk-input--width-4 {
      max-width: 9ex;
    }

    input[type="text"].govuk-input, input[type="password"].govuk-input, input[type="email"].govuk-input {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
      padding: 5px;
      @media (min-width: 40.0625em) {
        font-size: 19px; font-size: 1.1875rem; line-height: 1.31579;
      }
    }

    .govuk-form-group.loading {
        background: url("/cobrands/fixmystreet/images/spinner-white.gif") flip(0%,100%) 100% no-repeat;
    }
}

.waste__collections,
.waste__summary {
  .govuk-summary-list {
    font-size: 1em;
    padding-bottom: 0.66em;
    background-color: white;
  }

  .govuk-summary-list__row {
    background-color: white;
  }

  .govuk-heading-m {
    margin-bottom: 10px;
  }
  
  .govuk-summary-list__key--sub { 
    padding-top: 10px; 
    font-weight: normal !important; /* Ugh */ 
  }
}

.waste-service-image {
  max-width: 100%;
  max-height: 140px;
  height: auto;
  margin-bottom: 1em;
}

.waste__summary {
  .govuk-button--secondary {
    font-size: 1em;
  }
  .govuk-summary-list__key {
    vertical-align: middle;
  }
}

.govuk-select {
  width: auto;
  min-width: 5em;
}

.waste__address {
  font-size: 1.125em;
  margin-bottom: 2em;
}

.waste__address__title {
  font-weight: normal;
}

.waste__address__property {
  font-weight: bold;
}

.aside-services {
  ul ul {
    margin-top: 0.4em;
  }
}
.waste {
  .govuk-fieldset__heading {
    font-size: 1.4375rem;
    font-weight: bold;
  }
}

.waste-panel-toggle {
  position: relative;
  top: -1em;
  margin-bottom: 0;
  z-index: 1;
}

.waste-services-launch-panel {
  margin-bottom: 3em;
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-out;
  z-index: inherit;
  position: relative;
  max-width: 100%;
  .js &.hidden-js {
    display: block;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 200ms ease-in;
    position: absolute;
  }
}

.waste-service-name.govuk-heading-m {
  margin-top: 1.5em;
  border-bottom: 1px solid #808080;
  padding-bottom: 0.5em;
}

.waste-service-descriptor {
  font-family: $body-font;
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0 0 0.25em 0;
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  -webkit-appearance: none;
  background: transparent;
  font-size: inherit;
  text-align: left; 
  white-space: normal;
  line-height: 1.5;
  .content & {
    font-weight: normal;
  }
}

.waste-service-link,
input[type="submit"].waste-service-link {
  color: $link-color;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &:visited {
    color: $link-color;
  }
}

.waste-service-name-link {
  .waste & {
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.text-centered {
  text-align: center;
}
