[% IF pager.last_page > 1 %]
<section class="full-width">
    <p class="pagination">
        [% IF pager.previous_page %]
            <a class="prev" href="[% c.req.uri_with({ $param => pager.previous_page }) %]">Previous</a>
        [% END %]
        
        [% pager.first %] to [% pager.last %] of [% pager.total_entries %]
        
        [% IF pager.next_page %]
            <a class="next" href="[% c.req.uri_with({ $param => pager.next_page }) %]">Next</a>
        [% END %]
    </p>
</section>
[% END %]
