/* Smaller map */
/*
#map_box {
    width: 380px;
}
#map, #drag {
    width: 378px;
    height: 378px;
}

p#fixed, p#unknown {
    margin-right: 400px;
    width: auto;
}
*/

/* Generics */

body {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* color: #a9aeb0; */
}

h1 {
    margin: 0;
    font-size: 165%;
    padding: 3px;
    color: #FFFFFF;
    background-color: #9999CC;
    background-color: #30517A;

}
h2 {
    font-size: 140%;
    background-color: #B1BECF;
    color: #30517A;
    padding: 3px;
}

h3 {
    color: #30517A;
}

a:link {
    color: #30517A;
}
a:visited {
    color: #354664;
}
a:hover, a:active {
    background-color: #B1BECF;
}

#mysociety blockquote {
    border-left: solid 4px #013B63;
}

#mysociety .a {
    color: #000000;
    background-color: #DCDCED; /* #427499; */
    background-color: #B1BECF;
}

/* Site layout */

#header {
    margin: 0;
    padding: 5px 0;
    float: left;
}

#header img {
    margin-left: 0.5em;
}

#header #eha-logo {
    float: left;
    margin-right: 1em;
}

#header div {
    float: left;
    margin-top: 0.5em;
}

#mysociety {
    width: 100%; /* Must specify a width or IE goes crazy wrong! */
    position: relative;
    margin: 0 auto;
    max-width: 60em;
}

/* Can't put the margin in #mysociety because of above IE craziness */
#wrapper {
    clear: both;
    margin: 0 2em 2em;
    padding-top: 0.5em;
}

#navigation {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 83%;
}
#navigation ul {
    padding: 0;
    margin: 0;
}
#navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

#navigation a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 0.5em 0.5em;
}
#navigation a:link, #navigation a:visited {
    color: #30517A;
}
#navigation a:hover, #navigation a:active {
    background-color: #DCDCED;
    background-color: #9999CC;
    background-color: #B1BECF;

    color: #ffffff;
    color: #30517A;
}

#nav_new a {
    background-image: url("/i/new.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

#meta {
    clear: right;
    float: right;
    list-style-type: none;
    margin: 0.25em 0.5em 0 1em;
    padding: 0;
    font-size: 83%;
}
#meta li {
    display: inline;
    margin: 0;
    padding: 0 0 0 0.25em;
    border-left: solid 1px #B1BECF;
}
#meta li:first-child {
    border-left: none;
}

#logo {
    border: none;
    position: absolute;
    top: 4em;
    right: 10px;
}

#emptyhomes-footer {
    clear: both;
    font-size: 83%;
    border-top: solid 2em #ffffff;
    background-color: #80AE7D;
    color: #FFFFFF;
    margin: 2em 0 1em 0;
    padding: 20px;
    overflow: auto;
}

.ie6 #emptyhomes-footer {
    zoom: 1;
}

#emptyhomes-footer div {
    float: left;
    margin-right: 2em;
}

#emptyhomes-footer a {
    color: #FFFFFF;
}

#mysociety #postcodeForm {
    background-color: #80AE7D;
    color: #000000;
    font-size: 130%;
}

#mysociety #front_stats div {
    background-color: #80AE7D;
    color: #000000;
    /*padding: 0.5em 0; */
    width: 9em;
}

#mysociety #problem_form {
    clear: both; 
}

#mysociety #alert_links_area {
    margin-top: 1px;
}

#mysociety #eha_advert {
    clear: both;
    width: 55%;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    background-color: #ffeecc;
    border: solid 1px #ff9900;
}

#mysociety #front_intro {
    margin-bottom: 1em;
}

.video {
    float: right;
    margin-left: 35px;
}

.channel4 {
    font-size: 125%;
}
.channel4 > li:first-child + li {
    margin-bottom: 1em;
}
