body{
	text-align:center;
	background-color: #FFFFFF;
}
#header {
text-align:left;
	margin: 0px;
	width: 760px;
}
#main {
text-align:left;
	margin: 0px;
	width: 760px;
}
#footer {
text-align:left;
	width: 760px;
	clear: both;
	background-color: #80AE7D;
	height: 110px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#logo {
	margin: 0px;
	float: left;
	width: 400px;
}
#search {
	margin: 0px;
	float: right;
	width: 345px;
	height: 70px;
	background-color: #80AE7D;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
}
#bottombox ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#bottombox li {
	width: 170px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #B1BECF;
	margin-bottom: 1px;
}

#smallnav {
	width: 750px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: right;
	font-weight: 400;
	color: #354664;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#topbox ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#topbox li {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	width: 170px;
	background-color: #b1becf;
	margin-bottom: 1px;
}
#topbox a {
	text-decoration: none;
	color: #30517A;
	display: block;
}
#bottombox a:hover {
	background-color: #FFFFFF;
	width: 170px;
}
#topbox a:hover {
	background-color: #FFFFFF;
	width: 170px;
}

#bottombox a {
	color: #30517A;
	text-decoration: none;
	display: block;
}



#left {
	float: left;
	width: 120px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	list-style: none;
}
#middle p {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	width: 420px;
	color: #30517A;
}
#pressnav {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	padding: 3px;
}
#pressreleases {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #30517A;
}
#pressreleases p {
	padding-bottom: 10px;
	background-color: #EBEEF3;
	padding-top: 10px;
	border: 1px dashed #CCCCCC;
}
#bulletin p {
	padding-bottom: 10px;
	background-color: #EBEEF3;
	padding-top: 10px;
	border: 1px dashed #CCCCCC;
}

#events p {
	border: 1px dashed #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EBEEF3;
}





#right {
	width: 160px;
	float: right;
}
#left ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#left ol {
	list-style-type: none;
	display: inline;
	background-color: #B1BECF;
	width: 90px;
	margin-bottom: 1px;
}
#left ol a {
	background-color: #DCDCED;
	color: #30517A;
}
#left ol a:hover {
	background-color: #FFFFFF;
}


#left li {
	margin-bottom: 1px;
	display: block;
}
#smallnav a {
	text-decoration: none;
	color: #30517A;
}
#smallnav a:hover {
	background-color: #B1BECF;
}

#left a {
	display: block;
	width: 120px;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
	background-color: #9999CC;
	color: #FFFFFF;
}
#address2 a {
	color: #FFFFFF;
}
#address1 a {
	color: #FFFFFF;
}


#left a:hover {
	color: #30517A;
	background-color: #FFFFFF;
}



#middle {
	margin: 0 250px 0 155px:
	clear: right;
	width: 410px;
	float: left;
	left: 153px;
	margin: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	top: 135px;
	background-color: #FFFFFF;
}
#address1 {
	float: left;
	width: 180px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	margin-bottom: 20px;
	padding: 20px;
	color: #FFFFFF;
}
#address2 {
	float: left;
	width: 180px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	margin-bottom: 20px;
	padding: 20px;
	color: #FFFFFF;
}
#toptitle {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: small;
	width: 160px;
	background-color: #30517A;
	padding: 5px;
}
#bottomtitle {
	width: 160px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #30517A;
	color: #FFFFFF;
	padding: 5px;
}
#middle h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: large;
	width: 420px;
	background-color: #9999CC;
	color: #FFFFFF;
	padding: 3px;
	font-weight: 500;
}
#middle h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #B1BECF;
	display: block;
	color: #30517A;
}
#middle h3 {
	text-decoration: underline;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	color: #30517A;
}

#middle a:hover {
	background-color: #B1BECF;
}
#middle a {
	color: #30517A;
	text-decoration: underline;
}
#eventsnav {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	padding: 3px;
	text-align: center;
}
#lwoanav {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}
#lwoa {
	border: 1px dotted #CCCCCC;
	width: 420px;
}
#nwoanav {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: center;
}
#nwoa {
	width: 420px;
	border: 1px dotted #CCCCCC;
}
#pubsubleft {
	float: left;
	width: 200px;
	border: 1px solid #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #30517a;
	font-size: x-small;
}
#pubsubright {
	float: right;
	width: 200px;
	border: 1px solid #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
}
#pubtypeleft {
	float: left;
	width: 200px;
	border: 1px solid #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
}
#pubtyperight {
	float: right;
	width: 200px;
	border: 1px solid #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
}
#periodnavleft {
	margin: 0px;
	float: left;
	width: 200px;
	border: 1px solid #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517A;
}
#periodnavright {
	margin: 0px;
	float: right;
	width: 200px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517A;
	border: 1px dashed #CCCCCC;
}
#policynav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
	margin: 0px;
	float: left;
	width: 400px;
	border: 1px solid #CCCCCC;
}
#casenav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
}
#case p {
	padding-bottom: 10px;
	background-color: #EBEEF3;
	padding-top: 10px;
	border: 1px dashed #CCCCCC;
}
#grants p {
	padding-bottom: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #30517a;
	background-color: #EBEEF3;
	padding-top: 10px;
	border: 1px dashed #CCCCCC;
}
#listing {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
}
#suppliernav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	margin: 0px;
	width: 425px;
	border: 1px solid #CCCCCC;
	text-align: center;
}
#publist {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 0px;
	width: 400px;
}
#publist p {
	padding-bottom: 10px;
	background-color: #EBEEF3;
	padding-top: 10px;
	border: 1px dashed #CCCCCC;
}
#contactnav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	margin: 0px;
	width: 425px;
	border: 1px solid #CCCCCC;
	text-align: center;
}
#statsnav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #30517a;
	margin: 0px;
	float: left;
	width: 425px;
}
#buyingnav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
	margin: 0px;
	float: left;
	width: 400px;
	border: 1px solid #CCCCCC;
}
#ownernav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
	margin: 0px;
	float: left;
	width: 400px;
	border: 1px solid #CCCCCC;
}
#campnav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
	margin: 0px;
	float: left;
	width: 400px;
	border: 1px solid #CCCCCC;
}
#sitenav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #30517a;
}
