/* Smaller map */
/*
#map_box {
    width: 380px;
}
#map, #drag {
    width: 378px;
    height: 378px;
}
#watermark {
    background: url("/i/mojwatermark-378.png");
    height: 84px;
    width: 171px;
    position: absolute;
    bottom: 0;
    right: 0;
}

p#fixed, p#unknown {
    margin-right: 400px;
    width: auto;
}
*/

/* Generics */

body {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* color: #a9aeb0; */
}

h1 {
    margin: 0;
    font-size: 165%;
    padding: 3px;
    color: #FFFFFF;
    background-color: #9999CC;
    background-color: #30517A;

}
h2 {
    font-size: 140%;
    background-color: #B1BECF;
    color: #30517A;
    padding: 3px;
}

h3 {
    color: #30517A;
}

a:link {
    color: #30517A;
}
a:visited {
    color: #354664;
}
a:hover, a:active {
    background-color: #B1BECF;
}

blockquote {
    border-left: solid 4px #013B63;
}

.a {
    color: #000000;
    background-color: #DCDCED; /* #427499; */
    background-color: #B1BECF;
}

/* Site layout */

#header {
    font-size: 200%;
    font-weight: bold;
    margin: 0;
    padding: 5px 0.5em;
    float: left;
}

#content {
    width: 100%; /* Must specify a width or IE goes crazy wrong! */
    position: relative;
    margin: 0 auto;
    max-width: 60em;
}

/* Can't put the margin in #content because of above IE craziness */
#wrapper {
    clear: both;
    margin: 0 2em 2em;
    padding-top: 0.5em;
}

#navigation {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 83%;
}
#navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

#navigation a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 0.5em 1em;
}
#navigation a:link, #navigation a:visited {
    color: #30517A;
}
#navigation a:hover, #navigation a:active {
    background-color: #DCDCED;
    background-color: #9999CC;
    background-color: #B1BECF;

    color: #ffffff;
    color: #30517A;
}

#nav_new a {
    background-image: url("/i/new.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

#logo {
    border: none;
    position: absolute;
    top: 4em;
    right: 10px;
}

#footer {
    clear: both;
    font-size: 83%;
    border-top: solid 2em #ffffff;
    background-color: #80AE7D;
    color: #FFFFFF;
    margin: 2em 0 1em 0;
    padding: 20px;
}
#footer a {
    color: #FFFFFF;
}

#postcodeForm {
    background-color: #80AE7D;
    color: #000000;
}

#front_stats div {
    background-color: #80AE7D;
    color: #000000;
    /*padding: 0.5em 0;
    width: 6em; */
}

#problem_form {
    clear: both; 
}

#alert_links_area {
    margin-top: 1px;
}

