// Generics

$header_back: #e3d595;
$header_back_lighter: #f3e5a5;
$header_colour: #5e552b;
$header_darker: #4e451b;

a {
    &:link { color: #0000ff; }
    &:visited { color: #000099; }
    &:hover, &:active { color: #ff0000; }
}

@import "main-import";
