/* COLOURS */

$menu-image: 'menu-black';

$primary: #066539;
$primary_b: $primary;
$primary_text: #fff;

$base_bg: #dddddb;
$base_fg: #222;

$map_nav_bg: #eee;
$nav_fg: #fff;
$nav_fg_hover: #444;

$col_click_map: #00BD08;
$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$container-max-width: 984px; // to match Stevenage header width
