/* COLOURS */

$menu-image: 'menu-black';

$primary: #066539;
$primary_b: $primary;
$primary_text: #fff;

$base_bg: #dddddb;
$base_fg: #222;

$nav_background_colour: #eee;
$nav_colour: #fff;
$nav_hover_background_colour: #444;

$col_click_map: #00BD08;

$container-max-width: 984px; // to match Stevenage header width
