@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

$body-font: 'PTSansRegular', "PT Sans", Verdana, Arial, sans-serif;
$meta-font: $body-font;
$heading-font: 'PTSansCaptionRegular', "PT Sans Caption", Verdana, Arial, sans-serif;

@import "../sass/base";

#site-header {
    background: #eee;
    height: 4em;
    margin-bottom: 1em;

    .container {
      min-height: 0;
    }
}

#site-logo {
  background: transparent;
  width: 82px;
  height: 45px;
  text-indent: 0;
  top: 0.6em;
  left: 0.9em;
}

#report-cta {
  border-color: #ccc;
  color: #000;
  top: 2em;

  &:hover, &:focus {
    background-color: #ddd;
  }
}

#nav-link {
  top: 0.75em;
}

@import "council_header";
@import "council_header_responsive";

body.mappage {
    #stevenage_cc_header {
        display: none;
    }
}
