@import "colours";
@import "../sass/layout";

.wrapper {
    display: table;
    width: 100%;
}
.table-cell {
    display: table-cell;
}
.table-caption {
    display: table-caption;
}

#site-header {
    display: none;
}

.nav-wrapper {
    position: static;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    background-color: #6b6969;
    @include linear-gradient(#6b6969, #555454);
}

#main-nav {
    min-height: 1.9em; // Should be 0, but IE8 shrinks background as if floated, then
    margin-top: 0;
    float: none;

    .ie9 & > * {
        #{$right}: auto;
        #{$left}: 0;
    }
}

.nav-menu {
    float: none;
}

.nav-menu a, .nav-menu span {
    margin: 0;
    margin-right: 2px;
    font-family: 'PTSansRegular', "PT Sans", Verdana, Arial, sans-serif;
}

.nav-menu--main {
    a, span {
        padding: 0.5em 0.75em;
        font-size: 0.8em;
        margin: 0;
        @include border-radius(0.25em);
    }
    a.report-a-problem-btn {
        padding:0.5em 0.75em;
        margin:0;
        margin-left: 0.25em;
        color:#fff;
    }
    span {
        color: #fff;
        background-color: #066539;
    }
}

// d523b431
body.fullwidthpage {
    .content {
        background: none;
    }
}

// 4d5998fb - Missed a sticky-sidebar
body.twothirdswidthpage {
    .content {
        .sticky-sidebar {
            aside {
                top: 19em;
            }
        }
    }
}

// d523b431
#front-main {
    background: #fff;
    color: #222;
    margin: 0 auto;
    margin-top: 1.5em;
    max-width: $container-max-width;
}

// Front page button colour
#front-main {
  #postcodeForm {
    div {
      input#sub {
        color: #fff;
        background: $primary;
        &:hover {
          background: lighten($primary, 10%);
        }
      }
    }
  }
}

body.mappage {
    #site-header {
        // We use the obscured #site-header to push the
        // content sidebar down beyond .nav-wrapper-2
        height: 4em;
        display: block;
        border-top: none;
    }

    .nav-wrapper {
        position: absolute;
        top: 0;
        padding: 0;
        background: #fff url("http://www.stevenage.gov.uk/Images/headerBG.jpg") repeat-x bottom left;
    }

    // Override the defaults, above
    #main-nav {
        float: $right;
        min-height: $mappage-header-height;

        .ie9 & {
            float: none;

            & > * {
                #{$right}: 0;
                #{$left}: auto;
            }
        }
    }

    .nav-menu a {
        color: #000;
    }

    .nav-menu a:hover,
    .nav-menu a:focus,
    a.report-a-problem-btn {
        color: #fff;
    }
}
