@import "colours";
@import "../sass/layout";

// d523b431
.nav-wrapper{
  .nav-wrapper-2{
    position: static;
    min-height: 0;
    // e7c122a4 / 0b0a619b / - "Removed mySociety menu and positioned menu"
    border-top: none;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    background-color: #6b6969;
    @include linear-gradient(#6b6969, #555454);

    .iel8 & {
      background-color: #6b6969;
    }
  }
}

// We use absolute positioning for the header on IE7,
// because IE7 doesn't support the table-caption styles.
// This means, we need to make sure page content doesn't
// disappear behind the header.
.ie6, .ie7 {
    .content {
        margin-top: 10em;
    }

    .frontpage {
        #front-main {
            margin-top: 15em;
        }

        .content {
            margin-top: 0;
        }
    }
}

#main-nav {
    @include clearfix;
    width: auto;
    max-width: 984px; // match the Stevenage header width
    float: none;
    padding-left: 0;
}


.nav-menu {
    float: none;
}

.nav-menu a, .nav-menu span {
    margin: 0;
    margin-right: 2px;
    font-family: 'PTSansRegular', "PT Sans", Verdana, Arial, sans-serif;
}

.nav-menu--main {
    a, span {
        padding: 0.5em 0.75em;
        font-size: 0.8em;
        margin: 0;
        @include border-radius(0.25em);
    }
    a.report-a-problem-btn {
        padding:0.5em 0.75em;
        margin:0;
        margin-left: 0.25em;
        color:#fff;
    }
    span {
        color: #fff;
        background-color: #066539;
    }
}

// d523b431
body.fullwidthpage {
    .content {
        background: none;
    }
}

// 4d5998fb - Missed a sticky-sidebar
body.twothirdswidthpage {
    .content {
        .sticky-sidebar {
            aside {
                top: 19em;
            }
        }
    }
}

// 15591af7 - Stevenage Map page changes
#map_box {
    top: 140px;
}
#fms_pan_zoom {
    top: 190px !important;
}

// 2a23e09f - Moved menu on map page and reverted to full header.
#report-a-problem-sidebar {
    top: 9em;
}

// d523b431
body.frontpage {
    .nav-wrapper-2 {
        height: auto;
    }
    // 1162d5c8 - Changed the colour of the user text when you're logged in to be more readable
    #user-meta {
        p {
            color: #fff;
        }
    }
}

#site-header {
    display: none;
}

// d523b431
#front-main {
    background: #fff;
    color: #222;
    margin: 0 auto;
    margin-top: 1.5em;
    max-width: 60em;
}

// Front page button colour
#front-main {
  #postcodeForm {
    div {
      input#sub {
        color: #fff;
        background: $primary;
        &:hover {
          background: lighten($primary, 10%);
        }
      }
    }
  }
}

@media only screen and (min-width: 48em) and (max-width: 61em) {
    // f432a72d - moved sticky sidebars down a bit to account for the larger header
    body.twothirdswidthpage {
        .content {
            .sticky-sidebar {
                aside {
                    top: 19em;
                }
            }
        }
    }
}

body.mappage {
    #site-header {
        // We use the obscured #site-header to push the
        // content sidebar down beyond .nav-wrapper-2
        height: 3em;
        display: block;

        // For reasons beyond my comprehension, the 3em
        // height results in a 3em gap in IE8. I assume
        // some bug with table-cell / table-caption?
        .ie8 & {
            height: 0;
        }
    }

    // Over-specific selector required to trump _layout.scss
    .nav-wrapper .nav-wrapper-2 {
        position: absolute;
        top: 0;
        padding: 0;
        height: 4em;
        background: #fff url("http://www.stevenage.gov.uk/Images/headerBG.jpg") repeat-x bottom left;
    }

    #site-logo {
        position: absolute;
        top: 0.5em;
    }

    #main-nav {
        float: right;
        margin-right: 1em;
        margin-top: 1em;
    }

    // again, !important to override _layout.scss
    .nav-menu--main a,
    .nav-menu--main span,
    .report-a-problem-btn {
        padding: 0.5em 0.75em 0.4em 0.75em !important;
        margin: 0 !important;
    }

    .nav-menu a {
        color: #000;
    }

    .nav-menu a:hover,
    .nav-menu a:focus,
    a.report-a-problem-btn {
        color: #fff;
    }

    // _layout.scss adds 4em of padding to leave space for
    // an absolutely positioned menu, but I can't tell what
    // that means. Stevenage, at least, doesn't need it.
    .wrapper {
        .ie7 & {
            padding-top: 0;
        }
    }

    // Not sure why IE7 has the old style of "inset" or "floating"
    // sidebar on the map page, but this makes it stop!
    .container {
        .ie7 & {
            margin-left: 0;
        }
    }

}
