[%

site_name = 'Report it'

header_style = "padding: $header_padding; background: $header_background_color; color: $header_text_color; border-bottom: 5px solid $color_bathnes_blue;"

only_column_style = "padding: ${ column_padding }px; vertical-align: top; background-color: $primary_column_background_color; color: $primary_column_text_color; border: 1px solid $column_divider_color; border-width: 0 1px 1px 1px;"
primary_column_style = "vertical-align: top; width: 50%; background-color: $primary_column_background_color; color: $primary_column_text_color; border: 1px solid $column_divider_color; border-width: 0 0 1px 1px;"
secondary_column_style = "vertical-align: top; width: 50%; background-color: $secondary_column_background_color; color: $secondary_column_text_color; border: 1px solid $column_divider_color; border-width: 0 1px 1px 1px;"

%]
