[%

color_bathnes_blue = '#00AEEF'
color_bathnes_grey_1 = '#6F777B'
color_bathnes_grey_2 = '#BFC1C3'
color_bathnes_grey_3 = '#DEE0E2'
color_bathnes_grey_4 = '#F8F8F8'
color_bathnes_link = '#00728F'
color_bathnes_link_hover = '#009BC2'

link_text_color = color_bathnes_link
link_hover_text_color = color_bathnes_link_hover

body_background_color = color_bathnes_grey_4
body_text_color = color_bathnes_grey_1

header_background_color = color_bathnes_blue
header_text_color = color_white

button_background_color = color_bathnes_blue
button_text_color = color_white

secondary_column_background_color = color_bathnes_grey_3
secondary_column_text_color = color_black
column_divider_color = color_bathnes_grey_2

preview_photo_border = 'none'

logo_width = '160'
logo_height = '60'

header_background_color = body_background_color
header_padding = "0 0 20px 0" # a full CSS padding property (eg: top/right/bottom/left)

%]
