$logo_path: "../img/fms-platform-logo.svg";
$logo_height: 60px;
$logo_width: 540px;
$colour_brand: #fff066; // yellow


// Action button icons

$icon_download_path: "../img/icon-download.svg" !default;
$icon_docs_path: "../img/icon-document.svg" !default;
$icon_github_path: "../img/icon-github.svg" !default;
$icon_email_path: "../img/icon-email.svg" !default;
$icon_twitter_path: "../img/icon-twitter.svg" !default;
$icon_irc_path: "../img/icon-hash.svg" !default;
$icon_post_path: "../img/icon-mail.svg" !default;

// Monitor image
$monitor_path: "../img/monitor.png" !default;
$monitor_width: 469px;
$monitor_height: 361px;
$monitor_breakpoint: 520px;

$prev-arrow_path: "../img/icon-arrow-left.svg";
$next-arrow_path: "../img/icon-arrow-right.svg";

// Circle icons
$icon_opensource_path: "../img/icon-opensource.svg" !default;
$icon_paint_path: "../img/icon-paint.svg" !default;
$icon_help_path: "../img/icon-help.svg" !default;
$icon_world_path: "../img/icon-world.svg" !default;

$circle_icon_height: 114px !default;
$circle_icon_width: 114px !default;
