/* Base stylesheet for FixMyStreet look
 *
 * In a mobile first way, this contains the look of the site, and a basic
 * layout for browsers that can't handle media queries. Baseline grid of 1.5em.
 */

@import "../sass/h5bp";
@import "_colours";
@import "../sass/mixins";
@import "compass";
@import "../sass/base";

#country_banner {
    display: none;
    color: $primary_text; background: $primary;
    p#international_message { margin: auto; padding: 0.5em 2em; max-width: 40em; text-align: center; }
    #message_close { float: right; }
}
