@import "compass";
@import "_colours";
@import "_mixins";


//hacks for desk/mob only stuff
.desk-only {
  display:block !important;
}
.mob-only {
  display:none !important;
}


// Page wrapper and header bits follow

.container{
  margin: 0 auto;
  padding: 0em;
  width: 60em;
  position: relative;
}

.wrapper{ 
  display: table;
  caption-side: top;
  width: 100%;
}

.nav-wrapper{
  display: table-caption;
  .nav-wrapper-2{
    width: 100%;
    height: 3.5em;
    position: fixed;
    border-top: 0.25em solid $primary;
    z-index:2;
    background: #222;
    @include background(linear-gradient(#000, #222 10%, #222 90%, #000));
  }
}


// Resets a lot of the mobile styling. #header only used to help position logo on desktop
#header{
  height: auto;
  background: none;
  border-top: 0px;
  #site-logo{
    margin-top: 0.75em;
    position: fixed;
    z-index: 3;
  }
}


#main-nav{
  margin: 0 auto;
  padding: 0em;
  width: 60em;
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    float:right;
    li{
      list-style: none;
      display: inline;
      margin: 0px;
      padding: 0px;
      float:left;
      a,
      span {
        display: block;
        color:#fff;
        background: none;  
        border-bottom: none;      
      }
    }
    &#main-menu{
      li{
        a, span{
          padding: 1em 0.75em 1.3em 0.75em;
          font-size: 0.9em;
        }
        a:hover{
          background:#444;
          @include background(linear-gradient(#000, #444 10%, #444 95%, #111));
        }
        span {
          color:$primary;
        }
      }
    }
    &#mysoc-menu{
      padding: 0em 0.5em;
      margin-left: 0.25em;
      background:$primary;
      @include border-radius(0 0 0.25em 0.25em);
      @include box-shadow(0em 0.3em 0.1em 0em #000);
      li{
        a{
          color:#000;
          text-transform: uppercase;
          font-size: 0.75em;
          padding: 1.25em 0.3em 0.75em 0.3em;
          &:hover{
            color:#fff;
          }
        }
      }
    }
  }
}




// .content Is the white box

// The narrow single column box
.content{
  width: 27em;
  margin-top: 3em;
  background: #fff;
  padding: 1em;
  padding-bottom: 3em;
  margin-left: 0.5em;
  margin-bottom: -1em;
  @include box-shadow(0px 0px 6px 1px #000);
}

#map_box{
  position: absolute;
  height: 25em;
  width: 30em;
  right: 0em;
  top: 0em;
  z-index:1;
}

#user-meta{
  position: absolute;
  top: -2.2em;
  background:#fff;
  height:2em;
  @include box-shadow(#000000 0 0 6px 1px);
  ul {
    display:block;
    background:#fff;
    height:2em;
    border-bottom:10px solid #fff;
    padding:0 0.5em;
    li {
      float:left;
      padding:0.25em 0.25em;
    }
  }
}

// Wraps around #key-tools box
.shadow-wrap{
  position:fixed;
  bottom: 0em;
  margin-left: -1em;
  width: 29em;
  overflow: hidden;
  padding-top: 3em;
  // List sticks to the bottom of the page on desktop
  ul#key-tools{
    border-top: 0.25em solid $primary;
    @include box-shadow(-0em 0px 1em 1em #fff);
    display: block;
    overflow:hidden;
    background: #f6f6f6;
    li{
      display: inline;
      a{
        font-family: 'helvetica', 'arial',sans-serif;
        font-size: 0.75em;
        color:#888888;  
        background: none;      
        padding: 0.5em 0;
      }
    }
  }
}

.full-width{
  margin: 0 0 0em -1em;
  width: 29em;
}


/*FORMS*/
input[type=text],
input[type=password],
input[type=email],
textarea{
  width: 25em;
}


/* Report a problem page*/
.report-a-poblem-page {
  width: 41.25em;
  #map_box {
    width:15em;
  }
  #report-a-poblem-main {
    width: 27em;
  }
  #report-a-poblem-sidebar {
    position:absolute;
    left:29em;
    top:0;
    width:15em;
    .sidebar-tips {
      background:#eeeeee;
      padding:1em;
      font-size:0.75em;
    }
    .sidebar-notes {
      background:#333333;
      padding:1em;
      color:#ffffff;
      font-size:0.75em;
    }
  }
}


/* MEDIA QUERIES */
@media only screen and (min-width: 640px) and (max-width: 960px) {
  .container {
      width: 100%;
  }
  /*FORMS*/
  input[type=text],
  input[type=password],
  input[type=email],
  textarea{
    width: 95%;
  }

  // Remove central positioning of mainmenu and float right.
  // Left padding is to ensure no overlap of the site-logo
  // Background styling replicates header styling

  #main-nav{
    width: auto;
    float:right;
    padding-left: 180px;
    background: #222;
    @include background(linear-gradient(#000, #222 10%, #222 90%, #000));
  }

  //Main menu drops below logo and my-soc menu
  #main-menu{
    margin-top: 3em;
  }

  //Map become percentage width
  #map_box{
    width: 40%;
    margin-right: 5%;
  }

  //Revert to mobile use of the .full-width class
  .full-width{
    width: auto;
    margin: 0em -1em 0 -1em;
  }

  //Remove all styling from the .content box
  .content{ 
    width: 50%;
    @include box-shadow(0px 0px 0px 0px #000);
  }
}