<?xml version="1.0" encoding="utf-8"?>
	<!-- version info etc -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.fixmystreet" android:versionCode="10"
	android:versionName="1.01">

<uses-sdk android:minSdkVersion="3" />
	<!-- Permissions -->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:icon="@drawable/house_icon"
		android:label="Fix My Street" android:debuggable="false">

		<!-- Main screen -->
		<activity android:name=".Home" android:label="@string/app_name"
		android:theme="@style/Theme.Filler">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>


		<!-- Details page -->
		<activity android:name=".Details" android:label="Fix My Street - Add details"
			android:theme="@style/Theme.Filler">
			<intent-filter>
				<action android:name="android.intent.action.DETAILS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Success page -->
		<activity android:name=".Success" android:label="Fix My Street - Success"
			android:theme="@style/Theme.Filler">
			<intent-filter>
				<action android:name="android.intent.action.SUCCESS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- About page -->
		<activity android:name=".About" android:label="Fix My Street - About"
			android:theme="@style/Theme.Filler">
			<intent-filter>
				<action android:name="android.intent.action.ABOUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Help page -->
		<activity android:name=".Help" android:label="Fix My Street - Help"
			android:theme="@style/Theme.Filler">
			<intent-filter>
				<action android:name="android.intent.action.HELP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

	</application>
</manifest> 