[%

color_green = '#8dc63f'
color_purple = '#513785'
color_fuschia = '#9b2262'
color_orange = '#ffc045'
color_brown = '#493a3c'
color_cream = '#edeae3'

body_background_color = color_cream
body_text_color = '#333'

header_background_color = color_purple
header_text_color = '#fff'

secondary_column_background_color = '#f5f3ef'

button_background_color = color_purple
button_text_color = '#fff'

logo_width = "80" # pixel measurement, but without 'px' suffix
logo_height = "80" # pixel measurement, but without 'px' suffix

%]
