<footer class="southkesteven-footer">
    <div class="container footer-grid">
        <div class="newsletter-container">
            <h3>SKtoday - digital newsletter</h3>
            <p>SKtoday is the magazine for all residents and business across the 365 square miles of South Kesteven, with news and features on Council business and the local area. Sign up with us to receive notifications of when the next digital edition is published online.</p>
            <a class="btn-white" href="https://www.southkesteven.gov.uk/sktoday-digital-newsletter">Subscribe</a>

            <div class="social-container">
                <h2>Follow us</h2>
                <p>Find out more about local services and follow our social media accounts</p>
                <ul>
                    <li>
                        <a class="social-media-link-icon--facebook" href="https://www.facebook.com/southkdc" aria-label="Facebook">
                            <span class="fab fa-facebook fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social-media-link-icon--twitter" href="https://www.x.com/southkesteven" aria-label="X">
                            <span class="fab fa-x-twitter fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social-media-link-icon--instagram" href="https://www.instagram.com/discoversouthk" aria-label="Instagram">
                            <span class="fab fa-instagram fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social-media-link-icon--linkedin" href="https://www.linkedin.com/company/south-kesteven-council" aria-label="LinkedIn">
                            <span class="fab fa-linkedin fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social-media-link-icon--youtube" href="https://www.youtube.com/@SouthKestevenGovUK" aria-label="Youtube">
                            <span class="fab fa-youtube fa-2x"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="contact-container">
            <h3>Contact the council</h3>
            <p>Complete the enquiry form on our 'contact us' page below, or find details of your local office.</p>
            <p><a class="btn-white" href="https://www.southkesteven.gov.uk/contact-us">Contact us</a></p>
            <p><a class="btn-white" href="https://www.southkesteven.gov.uk/who-call-emergency">Who to call in an emergency</a></p>
            <p><a class="btn-white" href="https://www.southkesteven.gov.uk/contact-us-office-details">Office addresses and phone numbers</a></p>
            <div>
                <a href="https://www.southkesteven.gov.uk/armed-forces-community-covenant">
                    <img class="armed-forces-logo" loading="lazy" src="/cobrands/southkesteven/images/armed-forces.png" width="165" height="300" alt="Armed forces logo">
                </a>
            </div>
        </div>

        <nav class="footer-nav" aria-labelledby="block-footersecondary-menu">
            <h2 id="block-footersecondary-menu" class="screen-reader-only">Footer secondary</h2>
            <ul>
                <li><a href="https://www.southkesteven.gov.uk/accessibility">Accessibility</a></li>
                <li><a href="https://www.southkesteven.gov.uk/your-council-and-democracy/data-protection-and-freedom-information/cookie-policy">Cookies</a></li>
                <li><a href="https://www.southkesteven.gov.uk/your-council-and-democracy/data-protection-and-freedom-information/privacy-notice">Privacy</a></li>
            </ul>
        </nav>
    </div>

    <div class="sk-logo-container">
        <a href="https://www.southkesteven.gov.uk/" aria-label="Go to South Keveston council home page">
            <img src="/cobrands/southkesteven/images/southkesteven-logo.svg" alt="">
        </a>
    </div>
</footer>

[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
