/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$grey: #979A9A;
$midnight: #2E7D32;

$primary: $grey;
$primary_b: $midnight;
$primary_text: #000000;

$base_bg: $midnight;
$base_fg: #000;

$nav_background_colour: $midnight;
$nav_colour: $grey;
$nav_hover_background_colour: $primary;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #000000;

$col_click_map: $midnight;
