            </div> <!-- content -->
        </div> <!-- container -->
    </div>

    
        
<footer>
<div class="footer screen" role="contentinfo">
    
<div class="languages">
    <div class="container">
        <ul>
            <li lang="zh-Hans" xml:lang="zh-Hans" class="nonLatin">
                <a href="/contactus/translation.aspx?c=zh-Hans&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_chinese" hreflang="zh-Hans" rel="nofollow alternate">中文</a>
            </li>
            <li lang="ar" xml:lang="ar" dir="rtl" class="nonLatin">
                <a href="/contactus/translation.aspx?c=ar&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_arabic" hreflang="ar" rel="nofollow alternate">العربية</a>
            </li>
            <li lang="ur" xml:lang="ur" dir="rtl" class="nonLatin">
                <a href="/contactus/translation.aspx?c=ur&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_urdu" hreflang="ur" rel="nofollow alternate">اردو</a>
            </li>
            <li lang="ku" xml:lang="ku" dir="rtl" class="nonLatin">
                <a href="/contactus/translation.aspx?c=ku&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_kurdish" hreflang="ku" rel="nofollow alternate">کوردی سۆرانی</a>
            </li>
            <li lang="pt" xml:lang="pt">
                <a href="/contactus/translation.aspx?c=pt&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_portugese" hreflang="pt" rel="nofollow alternate">Português</a>
            </li>
            <li lang="pl" xml:lang="pl">
                <a href="/contactus/translation.aspx?c=pl&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_polish" hreflang="pl" rel="nofollow alternate">Polski</a>
            </li>
            <li lang="sk" xml:lang="sk">
                <a href="/contactus/translation.aspx?c=sk&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_slovakian" hreflang="sk" rel="nofollow alternate">Slovenčina</a>
            </li>
            <li lang="tr" xml:lang="tr">
                <a href="/contactus/translation.aspx?c=tr&amp;url=http%3a%2f%2fwww.eastsussex.gov.uk%2fdefault.htm" id="footer_ctl01_ctl00_turkish" hreflang="tr" rel="nofollow alternate">Türkçe</a>
            </li>
            
        </ul>
    </div>
</div> 

    <div class="container footer-content">
        <div class="online">
            <nav>
            <h2>Connect with us</h2>
            
            <p class="social"><a href="/contactus/socialmedia/default.htm" id="footer_ctl01_social"><span class="twitter"><span class="facebook"><span class="youtube"><span class="flickr">&nbsp;</span></span></span></span><span class="find">Find us on social media</span></a></p>
            <ul><li><a href="/about/" id="footer_ctl01_about" accesskey="8">About this site</a></li>
            <li><a href="/about/privacypolicy/default.htm" id="footer_ctl01_privacy">Privacy and cookies</a></li></ul>
            </nav>
        </div>
                
        <form method="post" class="newsletter form" action="https://www.eastsussex.gov.uk/registered/updates/subscribe.aspx">
            <h2>Get money for your project with our Funding News</h2>
            <p><label for="newsletter">My email address is:</label></p>
            <input type="email" id="newsletter" name="newsletter" class="email" />
            <input type="hidden" name="item" value="6" />
            <input type="submit" value="Sign up" class="button" />
        </form>

        <div id="footer_ctl01__ctrl_0_feed" class="petitions">
	
	<div>
        <p><a href="/yourcouncil/consultation/petitions/default.htm" id="footer_ctl01__ctrl_0_feed_footer_start">Start your own petition</a></p>
        </div>
	
</div>
    </div>
</div>
</footer>
    

     

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>



     
    
    
<script src="http://www.eastsussex.gov.uk/js/analytics-autosuggest-config-crossoriginie-documents-home-hometabs-jqueryload-jqueryui-media-statistics-switchview-v19.jsx"></script>

  </body>
</html>



