@import url(https://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700);

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.r {
    float: right;
    margin: 0 0 1em 1em;
}

header {
    background-color: #ffdd00;
    border-bottom: solid 2px #222;
    margin-bottom: 1em;
}

#logo {
    padding: 1em 0;
}

footer {
    margin-top: 1em;
    text-align: center;
    padding: 1em;
    color: #ffdd00;
    background-color: #222;
}

footer a {
    color: #ffdd00;
    text-decoration: underline;
}

.row-fluid {
    max-width: 62em;
    margin: 0 auto;
    position: relative;
}

.row-fluid .head-span-logo {
    /* span6 */
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}

.row-fluid .head-span-nav {
    /* span6 */
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}

.row-fluid .head-span-gh {
    /* span6 */
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}

.row-fluid .head-span-gh ul {
    float: left;
}

@media (min-width: 480px) {
    .row-fluid .head-span-logo {
        /* span4 */
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }
    .row-fluid .head-span-nav {
        /* span6 */
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }
    .row-fluid .head-span-gh {
        /* span2 */
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }
    .row-fluid .head-span-gh ul {
        float: right;
    }
}

@media (min-width: 601px) {
    .row-fluid .head-span-logo {
        /* span3 */
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }

    .row-fluid .head-span-nav {
        /* span7 */
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }
}

.nav > li > a:hover , .nav > li > a:focus {
    background-color: #000000;
    color: #ffdd00;
}

.nav-tabs {
    bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: none;
}
@media (min-width: 480px) {
    .nav-tabs {
        position: absolute;
    }
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    border: none;
}

.nav-tabs a {
    color: #000;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border: none;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #ffdd00;
    background-color: #000000;
    border: none;
}

.nav-pills a {
    color: #000;
    background-color: #ffdd00;
}

.attention-box {
    border-width: 1px;
    border-style: solid;
    padding:0.5em 1em;
    margin:1em;
}
.attention-box.info {
    border-color: #f93;
    background-color: #ff9;
}
.attention-box.warning {
    border-color: #f99;
    background-color: #ffe1e1;
}
.attention-box.helpful-hint {
    border-color: #99f;
    background-color: #e1e1ff;
}
.correspondence {
    font-family: monospace;
    font-size: 90%;
    margin: 1em;
    border: 1px solid #ccc;
    padding: 1em;
}
a.glossary {
    padding-right: 14px;
    background-image: url(../images/glossary-link.png);
    background-repeat: no-repeat;
    background-position: right top;
    color: black;
}
a.glossary:hover {
color: #f93;
}
dl.glossary {
    margin: 2em 0 8em 0; /* big margin helps scroll-to #name at bottom of page */
}
dl.glossary dt {
    clear: both;
    background-color: #ffeecc;
    padding: 0.666em 1em;
    font-weight: bold;
    margin: 3em 0 0;
    border:1px solid #999;
    border-bottom:none;
}
dl.glossary dt a {
    color:#000;
    font-size: 120%;
}
dl.glossary dt a:hover {
    color:#000;
    text-decoration: none;
}
dl.glossary dd {
    border:1px solid #999;
    border-top:none;
    padding: 1em 2em;
    margin: 0;
}
dl.glossary dd p {
    margin-top:0.666em;
}
dl.glossary dd div.more-info {
    margin: 1em 0 0 0;
}
dl.glossary dd div.more-info > p {
    float: left;
    font-style: italic;
    color: #999;
    width: 8em;
    margin: 0;
}
dl.glossary dd div.more-info ul {
    margin-top: 0.5em;
    margin-left: 10em;
}
ul ul {
    margin-bottom: 1em;
}

dl.reveal-on-click dt {
    font-size: 1.2em;
    padding: 8px 8px 8px 30px;
    margin-top: 0.333em;
    background-image:url(/images/reveal-on-click.png);
    background-position: 4px 8px;
    background-repeat: no-repeat;
    clear: right;
}
dl.reveal-on-click dt.revealed, div.reveal-all.revealed {
    background-position: 4px -212px; /* 240px, down 8px, 20px image */
    background-color: #ffeeaa;
}
dl.reveal-on-click dt:hover, div.reveal-all:hover {
    background-color: #ffdd00;
}
dl.reveal-on-click dd {
    margin: 0 0 1em 0;
    padding: 1em 1em 1em 2em;
    border: 1px solid #ccc;
    border-top: none;
}
dl.reveal-on-click dd p {
    margin: 0 0 0.666em 0;
}
div.reveal-all {
    width: auto;
    float: right;
    border:1px solid #ccc;
    background-image:url(/images/reveal-on-click.png);
    background-position: 4px 8px;
    background-repeat: no-repeat;
    padding: 8px 8px 8px 30px;
    margin: 0 0 0.5em 0;
}

dl.dir-structure, dl.dir-structure dl {
    background: url(../images/tree-last.png) no-repeat;
    background-position: 0 -29px;
    padding: 0 0 0 21px;
    margin: 0.5em 0 0 0;
}
dl.dir-structure {
    margin-bottom: 1.5em;
}
dl.dir-structure dt {
    background: url(../images/tree-branch.png) no-repeat;
    background-position: 0 0;
    padding: 20px 0 0 28px;
    margin: 0;
}
dl.dir-structure dd {
    background: url(../images/tree-upright.png) repeat-y;
    padding: 0 0 0em 40px;
    margin: 0;    
}
dl.dir-structure dd p {
    margin:0;
    padding: 0 0 0.5em 0;
}
dl.dir-structure dt.last {
    background: url(../images/tree-last.png) no-repeat;
}
dl.dir-structure dd.last {
    background-image: none;
    padding-bottom: 0; /* gap at bottom of nested trees is big enough as it is */
}
