@import url(https://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700);

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.r {
    float: right;
    margin: 0 0 1em 1em;
}

header {
    background-color: #ffdd00;
    border-bottom: solid 2px #222;
    margin-bottom: 1em;
}

#logo {
    padding: 1em 0;
}

footer {
    margin-top: 1em;
    text-align: center;
    padding: 1em;
    color: #ffdd00;
    background-color: #222;
}

footer a {
    color: #ffdd00;
    text-decoration: underline;
}

.row-fluid {
    max-width: 62em;
    margin: 0 auto;
    position: relative;
}

.row-fluid .head-span-logo {
    /* span6 */
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}

.row-fluid .head-span-nav {
    /* span6 */
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}

.row-fluid .head-span-gh {
    /* span6 */
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}

.row-fluid .head-span-gh ul {
    float: left;
}

@media (min-width: 480px) {
    .row-fluid .head-span-logo {
        /* span4 */
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }
    .row-fluid .head-span-nav {
        /* span6 */
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }
    .row-fluid .head-span-gh {
        /* span2 */
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }
    .row-fluid .head-span-gh ul {
        float: right;
    }
}

@media (min-width: 601px) {
    .row-fluid .head-span-logo {
        /* span3 */
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }

    .row-fluid .head-span-nav {
        /* span7 */
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }
}

.nav > li > a:hover , .nav > li > a:focus {
    background-color: #000000;
    color: #ffdd00;
}

.nav-tabs {
    bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: none;
}
@media (min-width: 480px) {
    .nav-tabs {
        position: absolute;
    }
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    border: none;
}

.nav-tabs a {
    color: #000;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border: none;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #ffdd00;
    background-color: #000000;
    border: none;
}

.nav-pills a {
    color: #000;
    background-color: #ffdd00;
}
