/* COLOURS */


$black: #0B0C0C;
$white: #fff;
$red: #AD0000;
$green: #00681F;
$green-600: #004E17;
$navy-blue: #162655; // RBK Blue
$blue: #0060AC;
$blue-600: #003078;
$yellow: #FFDD00;
$purple: #4C2C92;
$grey-300: #F3F2F1;
$grey-400: #B1B4B6;
$grey-500: #505A5F;
$grey-600: #475054; // Text secondary

$screen-size-min-width-tablet: 48rem; // 768px
$screen-size-min-width-large: 75rem; // 1200px

$primary: $blue;
$primary_b: $black;
$primary_text: $white;
$primary_link_color: $blue;
$primary_link_hover_color: $blue-600;

$link-color: $blue;
$link-hover-color: $blue-600;
$link-visited-color: $purple;

$base_bg: $white;
$base_fg: $black;

$nav_background_colour: $white;
$nav_colour: $navy-blue;
$nav_hover_background_colour: transparent;

$col_click_map: $primary;
$col_fixed_label: $primary;

$header-top-border-width: 0;

$mappage-header-height: 9rem; // Desktop
$heading-font: "Open Sans", serif;
$body-font: "Open Sans", serif;
$meta-font: "Open Sans", serif;

$border-radius: 8px;
//The orginal website uses a width of 1280px, however that looks
//way to spacious for page with no much elements.
$container-max-width: 1340px;

$dropzone-border-colour: #999;
$dropzone-button-text: $white;
$dropzone-button-background: $green;
$dropzone-button-border: $green-600;
$dropzone-link-color--awakened: #999;
$dropzone-border-color--full: $red;
$dropzone-background-color: $white;

$front-main-color-desktop: $primary_b;
$front-main-color: $primary_b;
$front-main-container-background-desktop: transparent;
$postcodeform-background: transparent;
$postcodeform-color-desktop: $primary_b;
$postcodeform-color: $primary_b;

@mixin kingston-form-input($margin: 0.5em 0.5em 0.5em 0, $padding: 0.5rem 0.5rem) {
    margin: $margin;
    padding: $padding;
    border: 2px solid $black;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $grey-600;

    &:focus {
        box-shadow: 0px 0px 0px 4px $yellow;
        outline: none;
    }
}

$button-primary-bg-top: $primary;
$button-primary-bg-bottom: $primary;
$button-primary-border: $primary;
$button-primary-text: $white;
$button-primary-hover-bg-bottom: $blue-600;
$button-primary-hover-bg-top: $blue-600;
$button-primary-hover-border: $blue-600;
$button-primary-hover-text: $white;

@mixin kingston-button-primary($padding: 1rem 1.5rem, $font-size: 1.125rem, $line-height: 100%) {
    @include button-variant($bg-top: $button-primary-bg-top, $bg-bottom: $button-primary-bg-bottom, $border: $button-primary-border, $text: $button-primary-text, $hover-bg-bottom: $button-primary-hover-bg-bottom, $hover-bg-top: $button-primary-hover-bg-top, $hover-border: $button-primary-hover-border, $hover-text: $button-primary-hover-text);
    text-align: center;
    font-size: $font-size;
    line-height: $line-height;
    padding: $padding;
    border-radius: $border-radius;
    transition: all .3s ease;
    box-shadow: 0 4px 0 0 $navy-blue;
    text-decoration: none;
    border: none; // Replaces the border for govuk-button
    flex: none; // Get rid of flex rule in _base .postcode-form-box input#sub

    &:hover {
        box-shadow: 0 4px 0 0 $blue;
        outline:none;
        text-decoration: none;
    }

    &:focus {
        // Overrides govuk-button
        background-color: $blue !important;
        text-decoration: none;
        outline: 4px solid $yellow;
    }

    &.govuk-button:focus:not(:active):not(:hover) {
        border-color: $primary;
        box-shadow: none;
    }

    @media (min-width: $screen-size-min-width-large) {
        font-size: 1.25rem;
    }
}
