/* COLOURS */

$menu-image: 'menu-black';

$primary: #a0505c;
$primary_b: #ffffff;
$primary_text: #000000;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$link-color: #09509d;
$link-hover-color: #0c69cd;
$link-visited-color: #a0505c;

$base_bg: #eef1e6;
$base_fg: #1a1a1a;

$nav_background_colour: #fff;
$nav_colour: #a0505c;
$nav_hover_background_colour: #fff;

$col_click_map: #a0505c;
$col_fixed_label: #a0505c;

// $header-top-border-width: 4px;
