@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";
@import "../sass/waste";
@import "../fixmystreet-uk-councils/societyworks-footer";

$govuk-brand-colour: $blue;
$govuk-error-colour: black;
$govuk-success-colour: $green;

/* TYPOGRAPHY */
body {
    line-height: 1.5;
    color: $black;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.govuk-heading-xl,
.govuk-heading-l {
    font-weight: 600;
}

h1,
h1.govuk-heading-xl {
    font-size: 1.75rem;
    line-height: 1.143;
}

h2,
h2.govuk-heading-l {
    font-size: 1.5rem;
    line-height: 1.167;
}

.h2-small {
    font-size: 1.25rem;
    line-height: 1.2;
}

h3,
h3.govuk-heading-m {
    font-size: 1.25rem;
    line-height: 1.2;
}

.h3-small {
  font-size: 1.125rem;
  line-height: 1.222;
}

.body-large {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

a,
.fake-link {
    text-decoration: underline;

    &:hover,
    &:active {
        color: $link-hover-color;
    }

    &:focus {
        background-color: $link-color;
        color: $white;

        small {
            color: transparentize($color: $white, $amount: 0.3)
        }
    }
}

.fake-link:focus,
.olButton:focus {
    text-decoration: underline;
}

/* GENERAL */
ul>li {
    list-style: disc;
}

input[type="text"], 
input[type="email"], 
textarea,
body.waste input[type="text"].govuk-input {
    @include kingston-form-input;
    height: auto;
    &.govuk-input {
        @include kingston-form-input;
    }
}

.govuk-button {
    @include kingston-button-primary;
}

label,
body.waste label {
    // Overrides _waste default
    font-weight: 600 !important;
    @extend .body-large;
}

label.btn {
    // Avoid weird box-shadow in pills elements in the my account page
    box-shadow: none;
    background: #E8F1F8;
    // overrides button-variant
    color: $primary !important;

    &:hover {
        box-shadow: none;
    }
}

/* NAVBAR */
#site-header {
    box-shadow: 0 2px 4px rgba(22,38,85,0.25);
}

.nav-opened-text {
    display: none;
}

.js-nav-open {
    .nav-opened-text {
        display: block;
    }
    .nav-closed-text {
        display: none;
    }
}

#nav-link {
    padding: 0rem 2.2rem 0rem 1rem;
    background-color: $nav_colour;
    color: $white;
    height: 2.5rem;
    background-position: right 1rem top 50%;
    background-size: 1rem auto;
    right: 1rem;
    border-radius: $border-radius;

    .nav-link-text  {
        line-height: 2.5rem;
        text-decoration: none;
    }

    &.focussed {
        outline: none;
    }
}

#site-logo {
    background-image: url("/cobrands/kingston/images/logo.svg");
    width: 5.625rem;
    height: 8.25rem;
    background-size: auto 6.25rem;
}

.nav-menu--main a {
    @extend .body-large;
    font-weight: 600;
    text-decoration: none
}

#report-cta {
    @include kingston-button-primary;
    right: 9rem;
}

/* FRONTPAGE */
#front-main {
    // Spacing based on Kingston's assets
    padding: 1rem 1.25rem 4rem;
    margin-top: 0;

    #front-main-container {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

.postcode-form-box {
    div {
        border: none;
        background: transparent;
        gap: 1rem;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }

    input#pc {
        @include kingston-form-input($margin: 0 0 0 0);
        min-width: 12.5rem;
    }

    input#sub {
        @include kingston-button-primary();
    }
}

.item-list--reports__item a {
    @extend .fake-link;
    text-decoration: none;

    &:focus {
        text-decoration: none;
        small {
            color: transparentize($color: $white, $amount: 0.3)
        }
    }
}

.govuk-panel--confirmation {
    background-color: $blue !important;
}
.govuk-panel--confirmation h1 {
    color: $white;
}
.govuk-panel__title {
    font-size: 2rem !important;
}
.govuk-panel__body {
    font-size: 1.5rem !important;
}

.form-control {
    @include kingston-form-input();

    .form-txt-submit-box & {
        margin: 0 0 0.5em 0;
    }
}

div.form-error,
p.form-error {
    background: transparent;
    padding: 0;
    border-radius: 0;

    color: $red;
    font-weight: 600;
}

.dropzone {
    padding: 1.5em;
}

#front_stats {
    color: $blue;
    background: transparent;
}

.btn {
    @include kingston-button-primary();
}

.item-list__item--empty {
    color: $blue;
}

.box-warning {
    background-color: $yellow;
}

/* FOOTER */
.site-footer {
    background-color: $navy-blue;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        // Spacing based on Kingston's assets
        padding: 1.25rem;
        padding-top: 2rem;
        padding-bottom: 4rem;
        column-gap: 2rem;
    }

    a {
        color:$white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .list-inline {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        li {
            list-style: none;
        }
    }

    .footer-logo {
        display: block;
        min-width: 6rem;
        height: 7rem;
        background-image: url("/cobrands/kingston/images/logo-white.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.societyworks-footer {
    text-align: center;
}

/* WASTEWORKS */
.waste {
    #front-main + div:not(:has(.site-message)) {
        display: none;
    }
}

.bulky__summary {
    .item-summary-table {
        thead {
            background-color: $white;
            border-color: #F3F2F1;
        }
        tbody {
            tr {
                border-color: #F3F2F1;
            }
        }
    }
    @media (min-width: 48em) {
        .item-summary-table {
            width: 100%;
        }
    }
}
