@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";
@import "../sass/waste";
@import "../fixmystreet-uk-councils/societyworks-footer";

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $body-font;
    color: $primary_b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
    @include visually-hidden;
}

#site-header {
    border-top-width: 0;
    border-bottom: 5px solid $green;
}

#site-logo {
    width: 8.56rem;
    height: $mappage-header-height;
    // Using line-height to vertically align the logo
    line-height: $mappage-header-height;
    background-image: url('images/sutton-logo.png');
    background-size: contain;

    .mappage & {
        height: $mappage-header-height;
    }
}

.nav-menu {
    a {
        background-color: #CFDCDA;
        color: $black;
        font-weight: bold;
    }
}


a,
.fake-link {
    &:hover,
    &:active {
        color: $link-color;
    }
    &:focus {
        background-color: $link-color;
        color: $white !important;
    }
}

.fake-link:focus,
#nav-link.focussed,
.olButton:focus {
    text-decoration: underline;
    
}

.content {
    padding-top: 1em;
}

.olButton:focus {
    z-index: 1; // pull forward, so entire outline is visible
}

#report-cta {
    border-color: $white;
}

#front-main {
    text-align: left;

    #postcodeForm {
        background: transparent;

        div {
            border: none;
            background: transparent;

            $border-radius: 50px;
            input#pc {
                @include sutton-form-input($margin: 0 0 0 0, $padding: 5px 0.5em);
                font-size: 1.25em;
                // border-top-left-radius: $border-radius;
                // border-bottom-left-radius: $border-radius;

                &:hover {
                    background-color: $white;
                }
            }

            input#sub {
                margin-left: 0.5em;
                font-size: 1.25em;
                @include sutton-button($background-color: $green, $color: $white);            }
        }
    }

    h2 {
        font-style: inherit;
        color: $black-l2;
    }

    a {
        @include sutton-button;
        border-width: 2px;
        color: $green !important;

        &:focus {
            color: $black !important;
        }

        &:hover {
            color: $white !important;
        }
    }
}

a#geolocate_link {
    @include sutton-button();
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: $body-font;
    font-weight: bold;
}

h1, .h1 {
    font-size: 2em;
    line-height: 1.25em;
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.17em;
}

label {
    @include sutton-form-label();
}

.form-control {
    @include sutton-form-input();

    .form-txt-submit-box & {
        margin: 0 0 0.5em 0;
    }
}

input[type="submit"] {
    border-radius: 5px;
}

.multi-select-button {
    // Focus style, copied from kingston-form-input() mixin
    &:focus {
        outline: none;
        border: 1px solid #52A8EC;
        box-shadow: 0 1px 3px #000, 0 0 8px #52A8EC;
    }
}

input.form-error,
textarea.form-error {
    background: #FBE3E4;
    border: 1px solid #FBC2C4;
    border-radius: 4px;
}

div.form-error,
p.form-error {
    background: transparent;
    padding: 0;
    border-radius: 0;

    color: #A22C2E;
    font-weight: 700;
}

.dropzone {
    padding: 1.5em;
}

#front_stats {
    color: $blue;
    background: transparent;
}

.btn,
.green-btn,
.lbs-button--tertiary {
    @include sutton-button;
}

body.twothirdswidthpage .content .sticky-sidebar {
    aside {
        margin: 1em 0 2em 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5em;
    }

    li {
        margin: 0 0.5em;
    }
}

.skiplink:focus {
    border: 1px solid #FFFFFF;
    background: #2C2C2C;
    padding: 6px;
    color: #FFFFFF;
    min-width: 150px;
    outline: none;
    text-align: center;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #5F5F5F;

    top: 0.5em;
    left: 0.5em;
}

.item-list__item--empty {
    color: $blue;
}

.box-warning {
    background-color: $yellow;
}

.segmented-control.segmented-control--radio {
    input:checked+label {
        background: $blue !important;
        color: $white !important;
        &:hover {
            background-color: $blue !important;
            color: white !important;
            text-decoration: none !important;
            cursor: default;
        }
    }
    label.btn {
        background: $white !important;
        border-color: $blue;
        color: $blue !important;
        &:hover {
            background: $white !important;
            color: $blue !important;
            text-decoration: underline !important;
        }
        &:last-child {
            border-right-width: 4px;
            border-left-width: 2px;
        }
    }
}

//ADMIN

.my-account-buttons {
    text-align: right;
}

.fms-admin-info {
    border-color: $green;
    background-color: mix($green, $white, 15%);
}

//FOOTER
.lbs-footer {
    border-top: 5px solid $green;
    background-color: lighten($grey-l1, 10%);

    .lbs-row__container {
        max-width: $container-max-width;
        margin-right: 15px;
        margin-left: 15px;
        padding: 1rem 0;
    }

    h2 {
        margin-top: 0.5em;
    }

    a[role="button"] {
        display: block;
        text-align: center;
    }

    ul {
        color: $black;
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;

        li {
            list-style: none;
            margin-bottom: 10px;

            a {
                text-decoration: underline;
            }
        }
    }

    .lbs-footer__icon-container {
        display: flex;
    }

    .lbs-footer__icon {
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1rem;
        padding: 0.5rem;
        border: 2px solid rgba(0,133,106,0.25);
        border-radius: 50%;
        vertical-align: middle;
    }

    .lbs-footer--secondary {
        background-color: $white;

        nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            ul {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;

                li {
                    margin: 0;
                    margin-bottom: 10px;

                    a {
                        font-size: 1rem;
                    }
                }

                &.lbs-footer__navigation--social {
                    flex-direction: row;
                    margin-top: 1rem;
                }
            }
        }
    }
}

.societyworks-footer {
    text-align: center;
}

//WASTEWORKS
.waste {
    .content[role="main"] {
        background-color: $white;

        label {
            margin-bottom: 0.5em;
        }

        input#postcode {
            @include sutton-form-input($margin: 0 0.5em 0 0, $padding: 5px 0.5em);

            &:hover {
                background-color: $white;
            }
        }

        input#go {
            margin-left: 5px;
            @include sutton-button($background-color: $green, $color: $white);
        }
    }

    form.waste {
        flex-direction: row;
        align-items: end;

        div.govuk-form-group {
            display: inline-block;

            &:first-child {
                vertical-align: bottom;
            }
        }

        .govuk-button {
            height: 40px;
            line-height: 1rem;
            margin-bottom: 0;
        }
    } 
    .govuk-button {
        @include sutton-button;
        // Corrects the default behaviour top:2px;
        &:active {
            top: 0;
        }
    }
}

input[type="text"], input[type="email"], textarea {
    &.govuk-input {
        @include sutton-form-input;
    }
}

.govuk-radios__input:focus + .govuk-radios__label:before {
    border-width: 3px;
    box-shadow: 0 0 0 3px mix($green, $white, 65%) !important;
}

.govuk-list.govuk-error-summary__list {
    margin-left: 0;

    li {
        list-style: none;
    }
}

form.waste {
    display: flex;
    flex-direction: column;
}
