@import "_colours";
@import "../sass/layout";

#site-logo {
    height: 9rem;
    width: 5.9375rem;

    .mappage & {
        width: 3.43rem;
        height: 4rem;
    }

    &:focus {
        outline: 2px solid $blue;
        background-color: $white;
    }
}

.nav-wrapper {
    top: 40px;
    .mappage & {
        top: 10px;
    }
}

.nav-menu--main {
    // remove special styling for this nav item
    a.report-a-problem-btn {
        border-radius: 0;
        margin: 0;
        @include kingston-button-primary;
    }

    a,
    span {
        padding: 0.5em 0.75em;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    }

    a {
        &:hover, &:focus {
            background-color: $blue;
            color: $white;
            text-decoration: underline;
        }
    }
}

#front-main {
    margin-top: 60px;
    padding: 0 1em;

    #front-main-container {
        padding: 3em;
        border-top: 4px solid $green;
    }
}

.content {
    padding: 3em;
}

input.form-error,
textarea.form-error {
    border-radius: 4px;
}

.kingston-footer {
    margin-top: 4em;
}

body.mappage #site-header {
    height: $mappage-header-height - 3px;
}

// FOOTER

.site-footer {
    .footer-logo {
        width: 8em;
        height: 9.31em;
    }
}
