@import "_colours";
@import "../sass/layout";

/* TYPOGRAPHY */
h1,
h1.govuk-heading-xl {
    font-size: 2rem;
    line-height: 1.188;

    @media (min-width: $screen-size-min-width-large) {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}

h2,
h2.govuk-heading-l {
    font-size: 1.75rem;
    line-height: 1.214;

    @media (min-width: $screen-size-min-width-large) {
        font-size: 2rem;
        line-height: 1.25;
    }
}

.h2-small {
    font-size: 1.375rem;
    line-height: 1.273;

    @media (min-width: $screen-size-min-width-large) {
        font-size: 1.5rem;
        line-height: 1.333;
    }
}

h3,
h3.govuk-heading-m {
    font-size: 1.375rem;
    line-height: 1.273;

    @media (min-width: $screen-size-min-width-large) {
        font-size: 1.5rem;
        line-height: 1.333;
    }
}

.h3-small {
    font-size: 1.25rem;
    line-height: 1.3;

    @media (min-width: $screen-size-min-width-large) {
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

.body-large {
    font-size: 1.25rem;
    line-height: 1.4rem;
}

/* GENERAL */
input[type="text"], input[type="email"], textarea {
    border-radius: $border-radius;
}

label,
body.waste label {
    // Overrides _waste default
    font-weight: 600 !important;
    @extend .body-large;
}

/* NAVBAR */
#site-logo {
    height: 9rem;
    width: 6.0625rem;
    background-size: auto 7rem;

    &:focus {
        outline: 2px solid $yellow;
        background-color: $white;
    }
}

.nav-menu--main {
    // remove special styling for this nav item
    a.report-a-problem-btn {
        border-radius: 0;
        margin: 0;
        @include kingston-button-primary;
    }

    a,
    span {
        @extend .body-large;
    }

    a {
        &:hover, &:focus {
            text-decoration: underline;
            color: $navy-blue;
        }
    }
}

/* FRONTPAGE */
#front-main {
    padding: 1rem 1.875rem 4rem;

    #front-main-container {
        margin: 0 auto;
        padding: 0;
    }

    @media (min-width: $screen-size-min-width-large) {
        padding: 1rem 3.125rem 6rem;

        h1 {
            margin-bottom: 3rem;
        }
    }

    ul {
        margin-bottom: 0;
    }
}

.postcode-form-box {
    div {
        flex-direction: row;
    }

    @media (min-width: $screen-size-min-width-large) {
        ul {
            margin-top: 3rem;
        }
    }
}

/* FOOTER */
.site-footer {
    margin-top: 0;
    padding: 2rem 1.875rem 4rem;
    column-gap: 4rem;

    @media (min-width: $screen-size-min-width-large) {
        padding: 3rem 3.125rem 4rem;
    }
}
