/* COLOURS */

$orange: #ff9900;
$bluey: #6688ff;

$mindelo_blue: #0855a3;
$mindelo_green: #76c044;

$primary: $mindelo_blue;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #fff url(images/tropical-sea-pattern.jpg);
$base_fg: $primary_text;

$map_nav_bg: #fff;
$nav_fg: #000;
$nav_fg_hover: $primary;

$col_click_map: $mindelo_green;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
