@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

$image-sprite: 'images/sprite.png';

@import "../sass/base";


#site-logo{
  width: 225px !important;
  background: url($image-sprite) -3px -3px no-repeat;
}

#site-header {
  background: url('images/fixmindelo-header.png') 30% 0% repeat-x;
}

#front-main-container #postcodeForm, #front-howto #front_stats {
  color: #fff;
  border-top: 3px solid  $mindelo_green;
  border-bottom: 3px solid $mindelo_green;
}

#nav-link {
  top: -6x;
  background: url('images/sprite.png') -8px -915px no-repeat;
}

#report-cta {
  display: none;
}

#footer-help ul li {
  padding-right: 3em;
  a {
    display: block;
  }
  a.link-fb, a.link-fabap {
    padding-left: 30px;
    background-image: url('images/link_sprites.png');
    background-repeat: no-repeat;
    background-position-x: 0;
  }
  a.link-fb {
    background-position-y: -282px;
    &:hover {
      background-position-y: -222px;
    }
  }
  a.link-fabap {
    background-position-y: -78px;
    &:hover {
      background-position-y: -28px;
    }
  }
}

#main-nav ul#mysoc-menu li a#mysoc-logo {
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAAASCAYAAADBnymNAAADAElEQVR42t2XvarWQBCGcwl7CVspFgfTiO0WdjbptdjeJrXV3kFKC4tFRAubra2CvZA7MKVwQALaKAjrG5jF4SU5CR+JyDfw4Mnfmu/J7Mxu9S8j5+xBD3T0wFUnxO3tbQAZDNW1BuR1eT38SWJ7kIX6gneuQQD2f5VqQYkBNMDJvwmYk8TWIjdc8M4BlHCX/ucOWDluQAC1uscCD1pg+dmZhXGdUIvEEk21I74/emhAmtn54bzIaIBV593MjmcMZWoEJVrgynhCTeMZdc3q6RLBALIiitCJznuRF9W5hoRnIZLYBMwOsS3IMz+e3jS/3t4LoFn4MT3gGDnrFrKRYyqy1JgcAYzlgD5Gq0ubEiuIXGICAx0bFshNQ3AiYNI/HAQSzGIt6EH6+ep+B6kZsKCBxuzlXGSBKwISyRpVPxipfPUlw7k30MeYgGGxbZnGJNEuCZNzY7mvklAfYaTpNS1kyWb9mzNVxA60wpCASI51sRM/I+9WormjxnK/SH9nDr2LFks1Mgs91U0W2+pyAIw67njqUoaUCO9cNCCBRUm/vz0wIAlcAswOsSwwgqAoEbaal2R6CQMauvcQsYZrsjq2FcXKlJwgtAVZcAtiPciCU2Ili3eJdXkztsWSSA+iLiWHiKUmNoG4d1GuOy9kWjCCHpiTMtZxxi7g9iy31KxL6u/uaLFckzPwvBRZKAuj/uEvn7wxYAQTsJXE689NAybQr2w4uh1iuRamS9axfJ36hj1ULDWxguGpIyITiFRnOxHrQJ558Sw1Nx+/JhAhNIA8Q01kos4dZOzujuYV+RkhUkNztOLoQL3UxKgkHSqWm1jcWjeurWshtQPx8YcvAVLzzPNP71tITSDQuF7kcgwrYnnty7G+nNtuYp7FehBm6HwQPO3AgmDp/o725Yv7bmJ1/w6hFgwgAcPXSVTL46qsC7yk42tCC+qNse2K+LE6IThbU3WdwcIjZevhUkfekV25VN7o9NXRwbssUFfXHdy0emDOEutBe+2Zys14a/r/AWrug1ElrRIFAAAAAElFTkSuQmCC');
  background-position: 20px center;
}
