@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

$image-sprite: 'images/sprite.png';

@import "../sass/base";


#site-logo{
  width: 225px !important;
  background: url($image-sprite) -3px -3px no-repeat;
}

#site-header {
  background: url('images/fixmindelo-header.png') 30% 0% repeat-x;
}

#front-main-container #postcodeForm, #front-howto #front_stats {
  color: #fff;
  border-top: 3px solid  $mindelo_green;
  border-bottom: 3px solid $mindelo_green;
}

#nav-link {
  top: -6x;
  background: url('images/sprite.png') -8px -915px no-repeat;
}

#staging-banner {
  background: #dd3333;
  color: #fff;
  padding: 0.2em;
  margin:0;
  text-align:center;
  font-size:80%;
}

.wrapper {
  position: relative; // to make the staging-banner not affect top/left positioning of logo
}

#footer-help ul li {
  padding-right: 3em;
  a {
    display: block;
  }
  a.link-fb, a.link-fabap {
    padding-left: 30px;
    background-image: url('images/link_sprites.png');
    background-repeat: no-repeat;
    background-position-x: 0;
  }
  a.link-fb {
    background-position-y: -282px;
    &:hover {
      background-position-y: -222px;
    }
  }
  a.link-fabap {
    background-position-y: -78px;
    &:hover {
      background-position-y: -28px;
    }
  }
}
