@import "_colours";

$image-sprite: 'images/sprite.png';

@import "../sass/layout";


body {
  .wrapper{
    background-color: #fff;
    background: url('images/fixmindelo-header.png') 30% 0% repeat-x;
  }
  #site-logo {
    left:8px;
  }
}

.nav-menu--main a.report-a-problem-btn {
  color: #fff;
}

body.frontpage {
    #site-logo {
        width: 370px !important;
        height: 70px;
        background: url('images/sprite.png') -3px -106px no-repeat;
        top: 2em;
        left: 1em;
    }

    .wrapper {    
        background: url('images/fixmindelo-header.png') 30% 0% repeat-x;
    }
    
    #front-main-container {
      color: #fff;
      #postcodeForm {
      border-top: none;
      border-bottom: none;
      }
    }
    
    #front-main {
      border-top: 3px solid  $mindelo_green;
      border-bottom: 3px solid $mindelo_green;
    }
}

body.admin {
	.container {
		width: 94%;
		margin: 0 auto;
	}
	table {
    	background: white; // force bg colour since it may overhang the colourful background
	}
}

#mysoc-logo {
  background-position: 6px 10px;
}


