@import "_variables";
@import "../sass/layout";

/* NAVBAR */
#site-logo {
    background-size: auto 55px;
    height: $mappage-header-height;
    width: 300px;
}

.nav-menu--main {
  li {
    margin: 0 5px;
  }

  a, span {
      font-size: 18px;
      color: $nav_colour;
  }

  a, a.report-a-problem-btn {
    background-color:$nav_background_colour;
    color: $nav_colour;
    border-radius: 0;
    padding: 12px 8px;
    margin: 0;
    &:hover {
        color: $nav_colour;
        background-color: $nav_hover_background_colour;
    }
  }

  span {
    text-decoration: underline;
    &:hover {
      color: $nav_colour;
    }
  }
}

body.mappage {
  #site-logo {
    height: $mappage-header-height;
  }
}

/* FRONTPAGE */
#front-main {
  margin: 0 0 45px 0;
  padding: 5em 1em 5em 1em;
  #postcodeForm {
    div {
      margin: 0;
    }
  }
  h1 {
    font-size: 2.5em;
  }
}

#front_stats {
  border-color: $primary_b;
}

/* OTHERS */
.big-green-banner {
  text-align: left;
  line-height: 130%;
}

.alertpage {
  background-color: white;
}

/* FOOTER */
footer.council-footer {
  margin-top: 70px;
  .footer-main {
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto 85px;

    .col-n1 {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
    .col-n2 {
      grid-column: 2 / 2;
      grid-row: 1 / 1;
    }
    .col-n3 {
      grid-column: 3 / 3;
      grid-row: 1 / 1;
    }
    .col-n4 {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
    }

    &--logos {
        .council-logo {
            display: block;
            background-image: url("/cobrands/gloucestershire/images/gloucestershire-logo-white.svg");
            background-size: 274px 42px;
            background-repeat: no-repeat;
            background-position: top left;
            height: 42px;
            width: 488px;
            padding-bottom: 25px;
            border-bottom: solid 1px #31353f;
        }
    }

    &--links {
        h3 {
          font-size: 18px;
        }

        a {
          font-size: 16px;
          padding-bottom: 10px;
        }
    }
  }
}

a.platform-logo {
  background-image: url(/cobrands/fixmystreet/images/fms-platform-logo-dark.svg);
}
