<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
  /* Styles here will be applied by everything except Gmail.com */
  a {
    color: #42A7DB;
  }
  a:hover {
    text-decoration: none;
    color: #3A85AB;
  }

  /* Media query niceties for iOS and Apple Mail */
  @media only screen and (max-width: 600px) {
    #main-layout {
      width: auto !important;
      min-width: 0 !important;
      margin-top: 0 !important;
    }
  }
  </style>
</head>
<body style="margin:0;background:#DCE7E8;">
  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-family:Helvetica,Arial,sans-serif;font-size:18px;line-height:1.4em;">
    <tr>
      <td align="center" style="background:#DCE7E8;">
        <table cellspacing="0" cellpadding="30" border="0" id="main-layout" width="620" style="font-size:inherit;max-width:620px;min-width:400px;margin-top:30px;">
          <tr>
            <td style="background:#5D696A;color:#ffffff;padding:20px 30px;">
              <!--
                <img src="logo.gif" width="236" height="44" alt="Collideoscope" style="font-family:'Gill Sans','Gill Sans MT',Helvetica,Arial,sans-serif;font-size:32px;line-height:40px;vertical-align:middle;"/>
              -->
                <h1 style="font-weight:normal;font-family:'Gill Sans','Gill Sans MT',Helvetica,Arial,sans-serif;font-size:32px;line-height:40px;margin:0;">
                  <a href="#" style="color:#fff;text-decoration:none;">Collideoscope</a>
                </h1>
            </td>
          </tr>
          <tr>
            <td style="background:#ffffff;border:1px solid #A8B1B2;border-top:0;border-bottom:0;">
              <h1 style="margin:0 0 30px 0;font-size:32px;line-height:1.1em;">New reports this week</h1>
              <table cellspacing="0" cellpadding="0" border="0" width="100%" style="text-align:center;color:#6b9094;">
                <tr>
                  <td>
                    <strong style="display:block;font-size:48px;line-height:48px;color:#E5BB1C;">29</strong>
                    New incidents
                    <small style="display:block;">By 28 people</small>
                  </td>
                  <td>
                    <strong style="display:block;font-size:48px;line-height:48px;color:#E5BB1C;">29</strong>
                    Near misses
                    <small style="display:block;">By 28 people</small>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background:#ffffff;padding:0;border:1px solid #A8B1B2;border-top:0;border-bottom:0;">
              <img src="https://maps.googleapis.com/maps/api/staticmap?size=598x300&markers=size:mid|51.824,-3.017|51.829,%20-3.029" alt="Map of incidents" width="598" height"300" style="width:100%;height:auto;">
            </td>
          </tr>
          <tr>
            <td style="background:#ffffff;border:1px solid #A8B1B2;border-top:0;">
              <p style="border-bottom:1px solid #D4D9DA;margin:0;">
                <a href="#" style="display:block;">Near miss involving a car</a>
                <a href="#" style="display:block;padding-bottom:10px;font-size:14px;color:#6b9094;text-decoration:none;">12:10 Monday 23 March</a>
              </p>
              <p style="border-bottom:1px solid #D4D9DA;margin:0;">
                <a href="#" style="display:block;padding-top:10px;">Minor incident involving a horse</a>
                <a href="#" style="display:block;padding-bottom:10px;font-size:14px;color:#6b9094;text-decoration:none;">13:36 Monday 23 March</a>
              </p>
              <p style="margin:0;">
                <a href="#" style="display:block;padding-top:10px;">Near miss involving a car</a>
                <a href="#" style="display:block;font-size:14px;color:#6b9094;text-decoration:none;">14:01 Monday 23 March</a>
              </p>
            </td>
          </tr>
          <tr>
            <td style="color:#8C9C9E;font-size:14px;line-height:1.4em;">We can put disclaimers or other bits of explanatory text here, if we need to.</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
