        <p id="barnet-powered-by" class="desk-only">
            <a href="https://www.fixmystreet.com/council">Powered by <img src="/cobrands/barnet/img/fms-logo.png" style="height:20px;"></a>
        </p>
                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    <ul class="nav-menu nav-menu--mysoc">
                        <li><a href="https://www.fixmystreet.com/council">Powered by <img src="/cobrands/barnet/img/fms-logo.png" style="height:20px;"></a></li>
                    </ul>
                    <ul class="nav-menu nav-menu--main">
                        <li><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %] class="report-a-problem-btn"
                            >[% loc("Report a problem") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/my' %]span[% ELSE %]a href="/my"[% END
                            %]>[% loc("Your reports") %]</[% c.req.uri.path == '/my' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/reports/Barnet' %]span[% ELSE %]a href="/reports/Barnet"[% END
                            %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/alert' %]span[% ELSE %]a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]"[% END
                            %]>[% loc("Local alerts") %]</[% c.req.uri.path == '/alert' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
                            %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>
                    </ul>
                </div>
            </div>
        </div>

    </div> <!-- .wrapper -->
</div>
</div>
</div>

<!-- googleoff: index -->
					<div id="column_nav">
						<div class="navigation active">
							<h2><a href="/">FixMyStreet</a></h2>
              <ul>
                  <li>[% c.req.uri.path == '/'               ? '<strong>Report a problem</strong>' : '<a href="/">Report a problem</a>'           %]</li>
                  <li>[% c.req.uri.path == '/reports/Barnet' ? '<strong>All reports</strong>'      : '<a href="/reports/Barnet">All reports</a>'  %]</li>
                  <li>[% c.req.uri.path == '/alert'          ? '<strong>Local alerts</strong>'     : '<a href="/alert">Local alerts</a>'          %]</li>
                  <li class="lastItem">[% c.req.uri.path == '/faq'            ? '<strong>Help</strong>'             : '<a href="/faq">Help</a>'                    %]</li>
              </ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div id="footer">
						<p class="addNav">
							<a href="http://www.barnet.gov.uk/copyright">Copyright</a> | <a href="http://www.barnet.gov.uk/privacy">Privacy notice</a> | <a accesskey="0" href="http://www.barnet.gov.uk/accessibility">Accessibility</a> | <a accesskey="8" href="http://www.barnet.gov.uk/terms">Disclaimer</a> | <a accesskey="3" href="http://www.barnet.gov.uk/site_map">Sitemap</a> | <a href="http://www.barnet.gov.uk/contact">Contact us</a> | <a accesskey="6" href="http://www.barnet.gov.uk/a_to_z">A - Z</a>
						</p>
						<p class="assocLinks">
							<a id="goto_browsealoud" href="http://www.browsealoud.co.uk" title="BrowseAloud"><span class="hidden">BrowseAloud</span></a>
							<a id="goto_directgov" href="http://www.direct.gov.uk" title="DirectGov"><span class="hidden">DirectGov</span></a>
							<a class="external_link" id="share_facebook" href="http://www.facebook.com/barnetcouncil" title="London Borough of Barnet on Facebook"><span class="hidden">Facebook</span></a>
							<a class="external_link" id="share_twitter" href="http://www.twitter.com/barnetcouncil" title="London Borough of Barnet on Twitter"><span class="hidden">Twitter</span></a>
							<a class="external_link" id="share_youtube" href="http://www.youtube.com/Barnetcouncil1" title="London Borough of Barnet on YouTube"><span class="hidden">YouTube</span></a>
							<a class="external_link" id="share_flickr" href="http://www.flickr.com/photos/barnetcouncil" title="London Borough of Barnet on Flickr"><span class="hidden">Flickr</span></a>
							<a class="external_link" id="share_sharethis" href="http://www.sharethis.com/barnetcouncil" title="London Borough of Barnet on ShareThis"><span class="hidden">ShareThis</span></a>
						</p>
						<div class="clear"></div>
						<p class="hidden">
							<a accesskey="1" href="http://www.barnet.gov.uk">Homepage</a>
							<a accesskey="2" href="http://www.barnet.gov.uk/whats_new" rel="nofollow">What&#39;s new</a>
							<a accesskey="4" href="http://www.barnet.gov.uk/site_search" rel="nofollow">Search facility </a>
							<a accesskey="5" href="http://www.barnet.gov.uk/faqs" rel="nofollow">Frequently asked questions</a>
							<a accesskey="9" href="http://www.barnet.gov.uk/feedback" rel="nofollow">Feedback</a>
							<a accesskey="/" href="#mast" rel="nofollow">Top of the page</a>
							<a accesskey="s" href="#content" rel="nofollow">Skip to content</a>
							<a accesskey="n" href="#column_nav" rel="nofollow">Skip to main navigation</a>
						</p>
						<div id="bottomBar">
						</div>
					</div>
<!-- googleon: index -->
</div>
</div>
	</body>
</html>
