<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 7]>   <html class="no-js ie7 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="no-js ie8 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 9]>   <html class="no-js ie9 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="[% lang_code %]"><!--<![endif]-->
    <head>
        <meta name="viewport" content="initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

		<link rel="ToC" href="http://www.barnet.gov.uk/site_map" />
		<meta name="Keywords" content="fixmystreet barnet pothole streetlights report street problem" />
		<meta name="Description" content="FixMyStreet Barnet: report problems in Barnet like graffiti, fly tipping, broken paving slabs, or street lighting" />

		<link rel="Shortcut Icon" type="image/x-icon" href="/cobrands/barnet/img/favicon.ico" />

        <link rel="stylesheet" href="[% version('/cobrands/barnet/base.css') %]">
        <link rel="stylesheet" href="[% version('/cobrands/barnet/layout.css') %]" media="(min-width:48em)">
        <link rel="stylesheet" href="[% version('/js/fancybox/jquery.fancybox-1.3.4.css') %]">
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="[% version('/cobrands/barnet/layout.css') %]">
        <![endif]-->
        <link rel="stylesheet" href="[% version('/cobrands/barnet/barnet.css') %]" media="(min-width:48em)">
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="[% version('/cobrands/barnet/barnet.css') %]">
        <![endif]-->

        <script src="[% version('/js/modernizr.custom.js') %]" charset="utf-8"></script>
        <script src="[% version('/cobrands/barnet/position_map.js') %]" charset="utf-8"></script>
        [% INCLUDE 'common_header_tags.html', js_override = '/cobrands/fixmystreet/fixmystreet.js' %]
        <script src="[% version('/js/fancybox/jquery.fancybox-1.3.4.pack.js') %]" charset="utf-8"></script>

        [% PROCESS 'header_extra.html' %]

    </head>
    <body class="[% bodyclass | html IF bodyclass %]">
        <div id="barnet-wrapper">
        <div id="ie_wrapper">
            <div id="mast">
                <div class="pseudoH1">
                    <a href="http://www.barnet.gov.uk/"><span>London Borough of Barnet</span> <img src="/cobrands/barnet/img/blank.gif" alt="London Borough of Barnet logo" /></a>
                </div>
                <ul id="skip" class="hidden">
                    <li><a href="#content" rel="nofollow">Skip to content</a></li>
                    <li><a href="#column_nav" rel="nofollow">Skip to main navigation</a></li>
                </ul>
                <div class="mast_links"></div>
                <span class="clear"></span>
                <div id="search"></div>
                <div class="clear"></div>
            </div>
            <div id="page_wrap">
                <div id="page">
                    <div id="breadcrumb">
        <!-- googleoff:all -->
                        <ul>
                            <li><a href="http://www.barnet.gov.uk/">Home</a></li>
                            <li><a href="/">FixMyStreet</a></li>
                            <li class="bc_end"><span>
                            [% IF c.req.uri.path == '/' %]Report a problem[% ELSE %][% title %][% END %]
                            </span></li>
                        </ul>
        <!-- googleon:all -->
                    </div>
                    <div id="content" class="withWidth fullWidth">
                      [% IF c.user_exists %]
                        <div id="user-meta">
                            <p>
                                [% tprintf(loc('Hi %s'), c.user.name || c.user.email) %] 
                                <a href="/auth/sign_out">[% loc('sign out') %]</a>
                            </p>
                        </div>
                      [% END %]

                        <h1 id="page-title">
                            <span>FixMyStreet</span>
                        </h1>

        <div class="wrapper">
        <div class="table-cell">
            <header id="site-header" role="banner">
                <div class="container">
                    <a href="/" id="site-logo">FixMyStreet</a>
                    <a href="#main-nav" id="nav-link">Main Navigation</a>
                </div>
            </header>

            [% pre_container_extra %]

            <div class="container">
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">

              <!-- end of header -->
