<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/styles/standard.css" media="screen" />
<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/styles/generic/ie-six.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/styles/generic/ie-six-print.css" media="print" />
<![endif]-->
<!--[if IE 7]>
	    <link rel="stylesheet" type="text/css" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/styles/generic/ie-seven.css" media="screen" />
<![endif]-->		
<!--[if IE 8]>
	    <link rel="stylesheet" type="text/css" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/styles/generic/ie-eight.css" media="screen" />
<![endif]-->		
		<link rel="stylesheet" type="text/css" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/styles/generic/print.css" media="print" />
		<link rel="stylesheet" type="text/css" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/styles/generic/handheld.css" media="handheld" />
		<link rel="Shortcut Icon" type="image/x-icon" href="http://barnet.dave.pledgebank.com/microsites/barnet/site/favicon.ico" />
		<link rel="ToC" href="http://www.barnet.gov.uk/site_map" />
		<meta name="Keywords" content="fixmystreet barnet pothole streetlights report street problem" />
		<meta name="Description" content="FixMyStreet Barnet: report problems in Barnet like graffiti, fly tipping, broken paving slabs, or street lighting" />

 		<link rel="stylesheet" type="text/css" href="[% version('/css/core.css') %]">    
		<link rel="stylesheet" type="text/css" href="/cobrands/barnet/css/layout.css">

    [% INCLUDE 'common_header_tags.html' %]

	</head>
	<body>
	
	<div style="text-align:center;margin:0;background:#f66;color:#fff;padding:8px;">This is a test site for developers only. You probably want
<a href="http://barnet.fixmystreet.com/">the real Barnet FixMyStreet site</a></div>


		<div id="wrapper">
			<div id="ie_wrapper">
<!-- googleoff: index -->
				<div id="mobile_name">London Borough of Barnet</div>
				<div id="mast">
					<div class="pseudoH1">
						<a href="http://www.barnet.gov.uk/"><span>London Borough of Barnet</span> <img src="http://barnet.dave.pledgebank.com/microsites/barnet/site/images/blank.gif" alt="London Borough of Barnet logo" /></a>
					</div>
					<ul id="skip" class="hidden">
						<li><a href="#content" rel="nofollow">Skip to content</a></li>
						<li><a href="#column_nav" rel="nofollow">Skip to main navigation</a></li>
					</ul>
					<div class="mast_links"></div>
					<span class="clear"></span>
					<div id="search"></div>
					<div class="clear"></div>
				</div>
<!-- googleon: index -->
				<div id="page_wrap">
					<div id="page">
						<div id="breadcrumb">
<!-- googleoff:all -->
							<ul>
								<li><a href="/">FixMyStreet Home</a></li>
								<li class="bc_end"><span>[% IF NOT title %]FixMyStreet[% ELSE %] [% "$title" | html %][% END %]</span></li>
							</ul>
<!-- googleon:all -->
						</div>
						<div id="content" class="withWidth fullWidth">
              <div id="mysociety">

              <!-- end of header --> 