<footer class="aberdeenshire-footer">
    <div class="container pt-3 primary-links-container">
        <ul class="footer-list">
                <li><a href="https://www.aberdeenshire.gov.uk/" class="footer-link">Home</a></li>
                <li><a href="https://www.aberdeenshire.gov.uk/accessibility-translations" class="footer-link">Help with this website</a></li>
                <li><a href="https://www.aberdeenshire.gov.uk/data/accessibility" class="footer-link">Accessibility</a></li>
                <li><a href="https://www.aberdeenshire.gov.uk/data/site-information" class="footer-link">Cookies</a></li>
                <li><a href="https://www.aberdeenshire.gov.uk/data/data-protection" class="footer-link">Privacy</a></li>
                <li><a href="https://www.aberdeenshire.gov.uk/news" class="footer-link">News</a></li>
                <li><a href="https://www.aberdeenshire.gov.uk/contact-us" class="footer-link">Contact the council</a></li>
        </ul>
        <ul class="footer-list">
                <li><a href="https://www.facebook.com/pages/Aberdeenshire/430917186975751" target="_blank" class="footer-link external-link">Facebook <span class="screen-reader-only">opens in a new tab</span></a></li>
                <li><a href="https://twitter.com/aberdeenshire" target="_blank" class="footer-link external-link">X <span class="screen-reader-only">opens in a new tab</span></a></li>
                <li><a href="https://www.linkedin.com/company/aberdeenshire-council" target="_blank" class="footer-link external-link">LinkedIn <span class="screen-reader-only">opens in a new tab</span></a></li>
                <li><a href="https://www.youtube.com/user/aberdeenshirecouncil" target="_blank" class="footer-link external-link">YouTube <span class="screen-reader-only">opens in a new tab</span></a></li>
        </ul>
        <p class="strapline">from mountain to sea... the very best of Scotland!</p>
    </div>
</footer>
[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
