[% IF c.cobrand.problem_response_days(report) == 'emergency' %]
  <p>
    Thank you for contacting Oxfordshire County Council [% report.category %], unfortunately we are currently only available to respond to emergency situations which may have an impact on the health and safety of members of the public, these will be dealt with within a 24 hour period.<br />
    Reported faults will continue to be registered on our management system and these will be tackled in coming months.
  </p>
[% ELSIF c.cobrand.problem_response_days(report) > 0 %]
  <p>
      Problems in the
      [% report.category %]
      category are generally responded to within
      [% c.cobrand.problem_response_days(report) %]
      working days.
  </p>
[% END %]
