[%

email_summary = "Your reports on " _ site_name;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Your reports on [% site_name %]</h1>
  <p style="[% p_style %]">
    Hello [% user.name %],
  </p>
  <p style="[% p_style %]">
    FixMyStreet is being updated in Oxfordshire to
    improve how problems get fixed.
  </p>
  <p style="[% p_style %]">
    As part of these updates, we are closing old reports that appear to be
    resolved but remain open in the system.
  </p>
  <p style="[% p_style %]">
    We noticed that you have [% report_count %] old [% nget('report', 'reports', report_count) %] on the system,
    which we've listed below.
  </p>
  <p style="[% p_style %]">
    If your report is no longer an issue, you don't need to do anything.
  </p>
  <p style="[% p_style %]">
    If you believe that your report is still a problem, you can reopen it by
    clicking the 'view report' button by a report and leaving an update.
  </p>

  [% FOR report IN reports %]
  <div style="[% list_item_style %]">
  [% IF report.photo %]
    <a href="[% cobrand.base_url_for_report( report ) %]/report/[% report.id %]">
      <img style="[% list_item_photo_style %]" src="[% inline_image(report.get_first_image_fp) %]" alt="">
    </a>
  [% END %]
    <h2 style="[% list_item_h2_style %]">
      [%~ report.title | html ~%]
    </h2>
    <p style="[% list_item_p_style %]">[% report.detail | html %]</p>
    <p style="[% list_item_date_style %]">
      Reported [% report.time_ago %] ago.
    </p>
    <p>
      <a style="[% button_style %]" href="[% cobrand.base_url_for_report( report ) %][% report.tokenised_url( user, { reopen => 'true' } ) %]#update_form">View report</a>
    </p>
  </div>
  [% END %]

</th>

[% INCLUDE '_email_bottom.html' %]
