<div id="search-header" data-role="header">
    <a href="#" id="locate" data-transition="slidedown" class="ui-btn-left">Cancel</a>
    <h1>Search</h1>
</div>
<div data-role="content">
    <div id="front-main">
        <h3 class="notopmargin">Enter a nearby GB postcode, or street name and area</h3>
        <form class="inputcard" name="postcodeForm" id="postcodeForm">
            <div>
                <input data-role="none" type="text" name="pc" value="" id="pc" size="10" maxlength="200" placeholder="e.g. ‘B2 4QA’ or ‘Tib St, Manchester’">
            </div>
        </form>
        <input type="button" value="Go" id="submit" data-theme="a"> 
    </div>

    <div id="front-howto">
        <% if (typeof msg != 'undefined' && msg !== '') { %>
            <h2><%= msg %></h2>
        <% } %>
    </div>
</div>
