<div data-id="locate" id="around-header" data-role="header">
    <a id="view-my-reports" class="nodisplay" data-role="button" href="#">
        Drafts <span class="draft_count"><% print( FMS.allDrafts.length ) %></span>
    </a>
    <a id="cancel" class="nodisplay" data-role="button" data-icon="arrow-l">Cancel</a>
    <h1>Find problem</h1>
    <a id="login-options" class="nodisplay ui-btn-right">Account</a>
    <a id="confirm" class="nodisplay" data-role="button" data-iconpos="right" data-icon="arrow-r">Next</a>
</div>

<div data-role="content">
    <div id="locating" class="nodisplay" style="background: white; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3010; text-align: center; padding-top: 50%">
        <p>
        Getting Your Location
        </p>

        <p>
        Current accuracy is <span id="accuracy">unknown</span> - we'll load
        the map when it's <% print( CONFIG.ACCURACY ) %>m or better.
        </p>

        <div style="width:100%; height:15px; border:1px solid black;">
            <div id="progress-bar" style="width:0%; background-color: grey; height:13px;">
            </div>
        </div>

        <p>
        Or hit search below to manually enter a location
        </p>

        <p>
        <input data-theme="a" type="button" id="locate_search" value="Search">
        </p>
    </div>
    <div class="frontpage-menu">
        <form class="inputcard" name="postcodeForm" id="postcodeForm">
        <input type="search" id="pc" name="pc" placeholder="Search or scroll the map">
        </form>
        <a data-role="none" id="relocate" class="nodisplay"><img src="images/location@x2.png"></a>

        <div class="nodisplay" id="front-howto"></div>
    </div>

        <a id="mark-here" data-role="button" data-theme="a" class="map-bottom-btn">
        New Report Here
        </a>
        <a id="reposition" data-role="button" data-theme="c" class="map-bottom-btn nodisplay">
        Reposition Report Here
        </a>
        <a id="confirm-map" data-role="button" data-theme="a" class="map-bottom-btn">
        Confirm Location
        </a>

</div>
