<div data-id="locate" id="around-header" data-role="header">
    <a href="#" id="cancel" class="ui-btn-left nodisplay">Cancel</a>
    <h1>Pinpoint problem</h1>
    <a id="search" class="ui-btn-right">Search</a>
    
</div>

<div data-role="content">
    <div id="locating" class="nodisplay" style="background: white; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3010; text-align: center; padding-top: 50%">
        <p>
        Getting Your Location
        </p>

        <p>
        Current accuracy is <span id="accuracy">unknown</span> - we'll load
        the map when it's <% print( CONFIG.ACCURACY ) %>m or better.
        </p>

        <div style="width:100%; height:15px; border:1px solid black;">
            <div id="progress-bar" style="width:0%; background-color: grey; height:13px;">
            </div>
        </div>

        <p>
        Or hit search below to manually enter a location
        </p>

        <p>
        <input data-theme="a" type="button" id="locate_search" value="Search">
        </p>
    </div>
    <script type="text/javascript">
        var fixmystreet = {
            'page': 'around',
            'area': '',
            'all_pins': '',
            'latitude': localStorage.latitude,
            'longitude': localStorage.longitude,

            'zoom': 4,
            'numZoomLevels': 5,
            'zoomOffset': 13,
            'map_type': "",
            'pins': [  ]

        };
    </script>

    <div class="frontpage-menu">
        <a id="view-my-reports" class="nodisplay" data-role="button" href="#">
            <strong>My Reports</strong>
            <span class="draft_count"><% print( FMS.allDrafts.length ) %></span> Draft Reports
        </a>
        <% if ( FMS.isLoggedIn ) { %>
        <a id="login-options" class="nodisplay loggedin" data-role="button" href="#">
            <strong class="signout">Sign Out</strong>
            (Signed in as <strong><%= user.name %></strong>)
        </a>
        <% } else { %>
        <a id="login-options" class="nodisplay loggedout" data-role="button" href="#">
            <strong class="signin">Sign In</strong>
        </a>
        <% } %>
    </div>


    <div id="map_box" class="mapbox">
        <div id="map"></div>

        <a id="mark-here" data-role="button" data-theme="a" class="map-bottom-btn nodisplay">
        New Report Here
        </a>
        <a id="confirm" data-role="button" data-theme="a" class="map-bottom-btn nodisplay">
        Confirm location
        </a>

        <a data-role="none" id="relocate" class="nodisplay"><img src="images/location@x2.png"></a>
    </div>
</div>
