<div data-role="header">
        <h1>Details</h1>
        <a id="next" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Next</a>
</div>
<div data-role="content">
    <div class="gmailstyletest">
        <div>
            <label for="form_title">Subject</label>
            <input data-role="none" type="text" name="title" id="form_title" placeholder="Provide a title" value="<%= title %>" required>
        </div>

        <div>
            <%= categories %>
        </div>

        <div class="noborder">
            <label for="form_detail">Details</label>
            <textarea data-role="none" name="detail" id="form_detail" placeholder="Please fill in details of the problem." required><%= details %></textarea>
        </div>
    </div>
</div>
