<div data-role="header" data-position="fixed" >
        <h1>Draft Report</h1>
</div>
<div data-role="content" role="main">
    <h2>You have an unsubmitted report</h2>

    <ul id="existing">
    <% if (lat) { %>
        <li>This report has a location</li>
    <% } %>

    <% if ( title ) { %>
        <li>title: <%= title %></li>
    <% } %>

    <% if ( details ) { %>
        <li>details: <%= details %></li>
    <% } %>

    <% if ( category && category != '-- Pick a category --' ) { %>
        <li>category: <%= category %></li>
    <% } %>
    </ul>

    <% if ( file ) { %>
        <div class="photo"><img class="small" src="<%= file %>"></div>
    <% } %>

    <div class="right">
    <input id="use_report" type="button" value="use" data-role="button" data-theme="a" />
    <input id="save_report" type="button" value="save" data-role="button" data-theme="a" />
    <input id="discard" type="button" value="discard" data-role="button" data-theme="a" />
    </div>
</div>
