            <div data-id="locate" id="index-header" data-role="header" data-position="fixed">
                <a href="frontpage-form.html" data-transition="slideup" class="ui-btn-left">Search</a>
                <h1>Locate</h1>
            </div>
            <div class="table-cell">
                <div class="container">
                    <div class="content" role="main">
                        <div class="tablewrapper">
                            <div id="locating" class="nodisplay" style="text-align: center; padding-top: 50%">
                                Determining location<br>
                                <span id="accuracy"></span>
                            </div>
                            <div id="have_saved" class="nodisplay">
                                <p>
                                You have an incomplete report saved. Would you like to:
                                </p>
                                <ul>
                                    <li><input type="button" id="use_saved" value="Complete Saved Report"></li>
                                    <li>Or create a new report and:</li>
                                    <li><input type="button" id="delete_saved" value="Delete Saved Report"></li>
                                    <li><input type="button" id="continue" value="Keep Saved Report"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
