<div data-role="header" data-position="fixed" >
        <h1>Add Photo</h1>
        <% if ( file == '' ) { %>
        <a id="photo-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Skip</a>
        <% } else { %>
        <a id="photo-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Next</a>
        <% } %>
</div>
<div data-role="content">
    <% if ( file != '' ) { %>
    <div id="add_photo" style="display: none">
    <% } else { %>
    <div id="add_photo">
    <% } %>
        <label>Optionally Add a Photo</label>
        <input value="Take Photo" type="button" name="photo_button" id="id_photo_button" data-role="button" data-theme="a"> Or 
        <input value="Choose" type="button" name="existing" id="id_existing" data-role="button" data-theme="a">
    </div>

    <% if ( file == '' ) { %>
    <div id="display_photo" style="display: none">
    <% } else { %>
    <div id="display_photo">
    <% } %>
        <label>Your Photo</label>
        <div class="photo">
        <img class="small" id="photo" src="<%= file %>" />
        </div>
        <div class="right">
        <input value="Remove Photo" type="button" name="del_photo_button" id="id_del_photo_button" data-role="button" data-theme="a">
        <div>
    </div>
</div>
