<div data-role="header">
        <h1>Add Photo</h1>
        <% if ( file == '' ) { %>
        <a id="photo-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Skip</a>
        <% } else { %>
        <a id="photo-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Next</a>
        <% } %>
</div>
<div data-role="content">
    <h2>Add a Photo <em>(optional)</em>:</h2>
    <div class="photo">
    <% if ( file == '' ) { %>
        <img class="small" src="images/placeholder-photo.png" alt="" id="photo">
    <% } else { %>
        <img class="small" id="photo" src="<%= file %>" />
    <% } %>
    </div>
    <div class="bottom-btn">
        <input type="button" id="id_existing" data-theme="c" value="Add an existing photo" >
        <input id="id_photo_button" type="button" data-theme="a" value="Take a new photo">
        <input id="id_del_photo_button" type="button" data-theme="a" value="Remove Photo">
    </div>
</div>
