<div data-role="header" data-position="fixed">
        <h1>My Reports</h1>
        <a id="reports-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Home</a>
</div>
<div data-role="content">
    <h3>Draft reports</h3>

    <ul data-role="listview" data-split-theme="c" data-inset="true" data-split-icon="delete" class="reports">
        <% drafts.each(function(draft) { if ( draft ) { print( '<li id="' + draft.id + '"' +  ( draft.get('lat') ? ' class="with_location"' : '' ) + '><a href="#" class="use_report">' + draft.description() + ( draft.get('lat') ? ' L' : '' ) + '</a><a class="del_report" href="#" title="delete">Delete</a></li>' ); } else { print( '<li>no/li<>'); } } ); %>
    </ul>
</div>
