<div data-role="header" data-position="fixed" >
        <h1>My Reports</h1>
        <a id="reports-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Home</a>
</div>
<div class="container" data-enhance="false">
    <div class="content" role="main">
        <h1>Draft reports</h1>
    </div>

    <ul>
        <% drafts.each(function(draft) { if ( draft ) { print( '<li id="' + draft.id + '">' + draft.description() + ' <a class="del_report">X</a> <a class="use_report">&#8594;</a></li>' ); } else { print( '<li>no/li<>'); } } ); %>
    </ul>
</div>
