<div data-role="header" data-position="fixed" >
        <h1>Offline</h1>
</div>
<div class="container" data-enhance="false">
    <div class="content" role="main">
        <h1>There is no internet connection</h1>

        <p>
        There isn't an internet connection, do you want to save the current report 
        for later?
        </p>

        <div class="right">
        <input id="save_report" type="button" value="save" class="green-btn" />
        <input id="discard" type="button" value="discard" class="green-btn" />
        </div>
    </div>
</div>
