<div id="report-created-header" data-role="header">
    <a class="ui-btn-left">Locate</a>
    <h1>Report Created</h1>
</div>
<div data-role="content">
    <% if ( typeof email_confirm != 'undefined' && email_confirm === 1 ) { %>
    <h3>Confirmation email sent</h3>

    <p>
    We've sent you a confirmation email which may take a few minutes to arrive. Once it arrives
    click the link in the email to confirm your report.
    </p>
    <% } else { %>
    <h3>Your report has been created</h3>

    <p><a onclick="FMS.openExternal(event); return false;" href="<%= site_url %>">View it on the site</a></p>
    <% } %>

    <% if ( device.platform == 'iOS' ) { %>
    <p><a data-role="button" href="itms-apps://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=<% print( CONFIG.APP_ID ) %>&onlyLatestVersion=true&pageNumber=0&sortOrdering=1&type=Purple+Software">Please rate this app</a></p>
    <% } else if ( device.platform == 'Android' ) { %>
    <p><a id="rate_app" data-role="button" href="https://play.google.com/store/apps/details?id=<% print( CONFIG.PLAY_ID ) %>">Please rate this app</a></p>
    <% } %>
</div>
