<div id="report-created-header" data-role="header">
    <a class="ui-btn-left">Locate</a>
    <h1>Report Created</h1>
</div>
<div data-role="content">
    <% if ( typeof email_confirm != 'undefined' && email_confirm === 1 ) { %>
    <h3>Confirmation email sent</h3>

    <p>
    We've sent you a confirmation email which may take a few minutes to arrive. Once it arrives
    click the link in the email to confirm your report.
    </p>
    <% } else { %>
    <h3>Your report has been created</h3>

    <p>You can view it on the site at <a onclick="FMS.openExternal(event); return false;" href="<%= site_url %>"><%= site_url %></a></p>
    <% } %>
</div>
