<div id="submit-header" data-role="header">
    <h1>Your details</h1>
</div>

<div data-role="content">
    <div class="gmailstyletest">
        <div id="password_row">
            <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Your password" required>
            <input data-role="button" data-theme="a" type="button" id="report" name="report" value="Report">
        </div>
        <div id="check_name" class="nodisplay">
            <input data-role="none" type="text" value="" id="form_name" name="name">
            <input data-role="none"type="tel" value="<%= user.phone %>" name="name" id="form_phone" placeholder="Please enter your phone number">
            <div class="checkbox-group">
                <input type="checkbox" name="may_show_name" id="form_may_show_name" value="1" checked>
                <label class="inline" for="form_may_show_name">Show my name publicly</label>
            </div>
            <input data-role="none" type="button" id="report" name="report" value="Confirm name">
        </div>
    </div>
</div>
