<div id="submit-header" data-role="header">
    <h1>Your details</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Your password" required>
            </div>
        </div>
        <div class="bottom-btn">
            <input data-role="button" data-theme="a" type="submit" id="report" name="report" value="Report">
        </div>
    </div>
    <div id="check_name" class="nodisplay">
        <div class="inputcard">
            <div>
                <input data-role="none" type="text" value="" id="form_name" name="name">
            </div>
            <div>
                <input data-role="none"type="tel" value="<%= user.phone %>" name="name" id="form_phone" placeholder="Please enter your phone number (optional)">
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <input type="checkbox" name="may_show_name" id="form_may_show_name" value="1" checked>
                    <label for="form_may_show_name">Show my name publicly</label>
                </fieldset>
            </div>
        </div>
        <div class="bottom-btn">
            <input data-role="button" data-theme="a" type="submit" id="confirm_name" name="report" value="Confirm name">
        </div>
    </div>
    </form>
</div>
