<div id="submit-header" data-role="header">
    <h1>Your details</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Your password" required>
            </div>
        </div>
        <div class="bottom-btn">
            <input data-role="button" data-theme="a" type="submit" id="continue" name="report" value="Continue">
        </div>
    </div>
    </form>
</div>
