<div id="submit-header" data-role="header" data-position="fixed" data-id="locate">
    <h1>Your details</h1>
</div>

<div class="container" data-role="content" data-enhance="false">
    <div id="password_row">
        <input type="password" value="" name="password" id="form_password" placeholder="Your password" required>
        <input class="green-btn" type="button" id="report" name="report" value="Report">
    </div>
    <div id="check_name" class="nodisplay">
        <input type="text" value="" id="form_name" name="name">
        <input class="green-btn" type="button" id="report" name="report" value="Confirm name">
    </div>
</div>
