<div id="submit-header" data-role="header" data-position="fixed" data-id="locate">
    <h1>Submit</h1>
</div>

<div class="container" data-role="content" data-enhance="false">
    <div class="content" role="main">


                <fieldset>
                    <div id="problem_form">
                        <% if ( user && user.password ) { %>
                        <div id="signed_in">
                            <p>
                            You are signed in as <span id="username"><%= user.name %></span>
                            </p>

                            <p id="confirm_details">Confirm details</p>
                            <div id="name_details">
                                <label for="form_may_show_name">Name</label>
                                <input type="text" class="validName" value="<%= user.name %>" name="name" id="form_name" placeholder="Your name">

                                <div class="checkbox-group">
                                    <input type="checkbox" name="may_show_name" id="form_may_show_name" value="1" checked>
                                    <label class="inline" for="form_may_show_name">Show my name publicly</label>
                                </div>

                                <label for="form_phone">Phone number</label>
                                <input type="text" value="<%= user.phone %>" name="phone" id="form_phone" placeholder="Your phone number (optional)">
                            </div>

                            <div class="form-txt-submit-box">
                                <input class="green-btn" type="button" id="submit_signed_in" name="submit_signed_in" value="Report">
                            </div>
                        </div>
                        <% } else { %>
                        <div id="signed_out">
                        <label for="form_email" id="email_label">Your email</label>
                        <input type="email" value="<%= user.email %>" name="email" id="form_email" placeholder="Please enter your email address" required>

                            <div id="form_sign_in">
                                <h4 id="have_password">Do you have a FixMyStreet password?</h4>

                                <div id="form_sign_in_yes" class="form-box">

                                    <h5><strong>Yes</strong> I have a password</h5>

                                    <label class="hidden-js n" for="password_sign_in">Yes I have a password</label>
                                    <div class="form-txt-submit-box">
                                        <input type="password" name="password_sign_in" id="password_sign_in" placeholder="Your password" value="">
                                        <input class="green-btn" type="button" id="submit_sign_in" name="submit_sign_in" value="Report">
                                    </div>
                                </div>

                                <div id="form_sign_in_no" class="form-box">
                                    <h5 id="let_me_confirm"><strong>No</strong> Let me confirm my report by email</h5>

                                    <div id="name_details">
                                        <label for="form_may_show_name">Name</label>
                                        <input type="text" class="validName" value="<%= user.name %>" name="name" id="form_name" placeholder="Your name">

                                        <div class="checkbox-group">
                                            <input type="checkbox" name="may_show_name" id="form_may_show_name" value="1" checked>
                                            <label class="inline" for="form_may_show_name">Show my name publicly</label>
                                        </div>

                                        <label for="form_phone">Phone number</label>
                                        <input type="text" value="<%= user.phone %>" name="phone" id="form_phone" placeholder="Your phone number (optional)">
                                    </div>

                                    <div id="password_surround">
                                        <label class="form-focus-hidden" for="password_register" id="password_label">Password</label>
                                    </div>

                                    <div class="form-txt-submit-box form-focus-hidden">
                                        <input type="password" name="password_register" id="password_register" value="" placeholder="Enter a password (optional)">
                                        <input class="green-btn" type="button" id="submit_register" name="submit_register" value="Report">
                                    </div>

                                </div>
                            </div>
                            </div>
                        <% } %>

                            <div id="report_save" class="form-box">
                                <h5>Save this report for completion later</h5>
                                <div class="form-txt-submit-box">
                                    <input class="green-btn" type="button" id="save_report" name="save_report" value="Save">
                                </div>
                            </div>
                    </div>
                </fieldset>

                <input type="hidden" name="submit_problem" value="1">
            </div>

        </div>
    </div>
</div>
