<div id="submit-header" data-role="header">
    <h1>Your details</h1>
</div>

<div data-role="content">
    <div class="inputcard">
        <div>
            <input data-role="none" type="email" value="<%= user.email %>" name="email" id="form_email" placeholder="Please enter your email address" required>
        </div>
    </div>
    <input data-role="button" data-theme="a" type="button" id="have_password" name="have_password" value="I have a password">
    <input data-role="button" data-theme="a" type="button" id="email_confirm" name="email_confirm" value="I don't">

    <p>
    To make a report on FixMyStreet we require you to confirm your email address either by setting up
    an account, or clicking a link in an email we send you.
    </p>

    <p>
    If you have a FixMyStreet account then choose "I have a password", otherwise choose "I don't".
    </p>

    <p>
    If you choose "I don't" then you can, if you want, set a password.
    </p>
</div>
