[%

color_brent_accent = '#248660';
color_brent_black = '#202124'
color_brent_blue = '#0964b9'
color_brent_white = '#fff'
color_brent_very_pale_blue = '#d7e6f4'
color_brent_very_pale_grey = '#f8f9fa'

body_background_color = color_brent_very_pale_grey
body_text_color = color_brent_black

header_background_color = color_brent_accent
header_text_color = color_white

secondary_column_background_color = color_brent_very_pale_blue

button_background_color = color_brent_blue
button_text_color = color_white

logo_file = 'email-logo.png'
logo_width = "183" # pixel measurement, but without 'px' suffix
logo_height = "65" # pixel measurement, but without 'px' suffix

%]
