<div class="ms-header clearfix">
    <div class="container">
        <div class="ms-header__logo">
            <a href="https://www.mysociety.org/">mySociety</a>
        </div>
        <a class="ms-header__back-to-fms" href="https://www.fixmystreet.com/pro/">
            Get <strong>FixMyStreet Pro</strong> – the one-stop street reporting service for councils
        </a>
    </div>
</div>

<header id="site-header" role="banner">
    <div class="container">
        [% INCLUDE 'header_logo.html' %]
        <a href="#main-nav" id="nav-link">Main Navigation</a>

        <!-- hide this on mobile and on map page -->
        <ul class="site-header__fake-nav">
            <li>Residents</li>
            <li>Businesses</li>
            <li><input type="text"><span class="button">Search</span></li>
        </ul>
    </div>
</header>

<!-- hide this on mobile and on map page -->
<div id="site-subheader">
    <div class="container">
        <h2>Report a problem</h2>
    </div>
</div>
