<footer data-theme="default">
  <div class="wave__wrapper">
    <div class="brand__wave">
      <div class="wave__mask--left">
        <svg version="1.1" viewBox="0 0 1 452.5714285714286" preserveAspectRatio="none">
          <defs>
            <clipPath id="Footer-uvurwpaOCsfL0">
              <path fill="none" stroke="none" d="M 1200 411.42857142857144 C 600 411.42857142857144 600 213.33333333333334 0 213.33333333333334 L 0 411.42857142857144 L 0 1200 L 1200 411.42857142857144"></path>
            </clipPath>
            <clipPath id="Footer-BiFyKHJfPHOS0">
              <path fill="none" stroke="none" d=" M 444.4444444444444 0 L 1200 0 L 1200 411.42857142857144 L 444.4444444444444 411.42857142857144 L 444.4444444444444 0 Z"></path>
            </clipPath>
            <clipPath id="Footer-UsxKaOyvOBfz0">
              <path fill="none" stroke="none" d=" M 0 0 L 444.4444444444444 0 L 444.4444444444444 411.42857142857144 L 0 411.42857142857144 L 0 0 Z"></path>
            </clipPath>
          </defs>
          <g>
            <g>
              <path fill="#adefff" stroke="none" paint-order="stroke fill markers" d=" M 0 242.0168067226891 L 1200 292.0168067226891 L 1200 653.4453781512606 L 0 653.4453781512606 L 0 200.0168067226891 Z"></path>
            </g>
            <g>
              <g transform="translate(1200,0) scale(-1,1)">
                <g clip-path="url(#Footer-uvurwpaOCsfL0)">
                  <g>
                    <path fill="#D7F6FF" stroke="none" paint-order="stroke fill markers" d=" M 0 240 C 600 240 600 0 1200 0 L 1200 212.5714285714286 M 1200 212.5714285714286 C 600 212.5714285714286 600 452.5714285714286 0 452.5714285714286 L 0 240"></path>
                  </g>
                </g>
                <g clip-path="url(#Footer-BiFyKHJfPHOS0)">
                  <g>
                    <path fill="#1e29f5" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 213.563579277865 0 213.563579277865 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                  </g>
                </g>
                <g clip-path="url(#Footer-UsxKaOyvOBfz0)">
                  <g>
                    <path fill="#33d8ff" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 213.563579277865 0 213.563579277865 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="wave">
        <svg version="1.1" viewBox="0 0 1200 452.5714285714286" preserveAspectRatio="none">
          <defs>
            <clipPath id="Footer-uvurwpaOCsfL1">
              <path fill="none" stroke="none" d="M 1200 411.42857142857144 C 600 411.42857142857144 600 213.33333333333334 0 213.33333333333334 L 0 411.42857142857144 L 0 1200 L 1200 411.42857142857144"></path>
            </clipPath>
            <clipPath id="Footer-BiFyKHJfPHOS1">
              <path fill="none" stroke="none" d=" M 444.4444444444444 0 L 1200 0 L 1200 411.42857142857144 L 444.4444444444444 411.42857142857144 L 444.4444444444444 0 Z"></path>
            </clipPath>
            <clipPath id="Footer-UsxKaOyvOBfz1">
              <path fill="none" stroke="none" d=" M 0 0 L 444.4444444444444 0 L 444.4444444444444 411.42857142857144 L 0 411.42857142857144 L 0 0 Z"></path>
            </clipPath>
          </defs>
          <g>
            <g>
              <path fill="#adefff" stroke="none" paint-order="stroke fill markers" d=" M 0 242.0168067226891 L 1200 292.0168067226891 L 1200 653.4453781512606 L 0 653.4453781512606 L 0 200.0168067226891 Z"></path>
            </g>
            <g>
              <g transform="translate(1200,0) scale(-1,1)">
                <g clip-path="url(#Footer-uvurwpaOCsfL1)">
                  <g>
                    <path fill="#D7F6FF" stroke="none" paint-order="stroke fill markers" d=" M 0 240 C 600 240 600 0 1200 0 L 1200 212.5714285714286 M 1200 212.5714285714286 C 600 212.5714285714286 600 452.5714285714286 0 452.5714285714286 L 0 240"></path>
                  </g>
                </g>
                <g clip-path="url(#Footer-BiFyKHJfPHOS1)">
                  <g>
                    <path fill="#1e29f5" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 213.563579277865 0 213.563579277865 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                  </g>
                </g>
                <g clip-path="url(#Footer-UsxKaOyvOBfz1)">
                  <g>
                    <path fill="#33d8ff" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 213.563579277865 0 213.563579277865 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="wave__mask--right">
        <svg version="1.1" viewBox="1199 0 1 452.5714285714286" preserveAspectRatio="none">
          <defs>
            <clipPath id="Footer-uvurwpaOCsfL2">
              <path fill="none" stroke="none" d="M 1200 411.42857142857144 C 600 411.42857142857144 600 213.33333333333334 0 213.33333333333334 L 0 411.42857142857144 L 0 1200 L 1200 411.42857142857144"></path>
            </clipPath>
            <clipPath id="Footer-BiFyKHJfPHOS2">
              <path fill="none" stroke="none" d=" M 444.4444444444444 0 L 1200 0 L 1200 411.42857142857144 L 444.4444444444444 411.42857142857144 L 444.4444444444444 0 Z"></path>
            </clipPath>
            <clipPath id="Footer-UsxKaOyvOBfz2">
              <path fill="none" stroke="none" d=" M 0 0 L 444.4444444444444 0 L 444.4444444444444 411.42857142857144 L 0 411.42857142857144 L 0 0 Z"></path>
            </clipPath>
          </defs>
          <g>
            <g>
              <path fill="#adefff" stroke="none" paint-order="stroke fill markers" d=" M 0 242.0168067226891 L 1200 292.0168067226891 L 1200 653.4453781512606 L 0 653.4453781512606 L 0 200.0168067226891 Z"></path>
            </g>
            <g>
              <g transform="translate(1200,0) scale(-1,1)">
                <g clip-path="url(#Footer-uvurwpaOCsfL2)">
                  <g>
                    <path fill="#D7F6FF" stroke="none" paint-order="stroke fill markers" d=" M 0 240 C 600 240 600 0 1200 0 L 1200 212.5714285714286 M 1200 212.5714285714286 C 600 212.5714285714286 600 452.5714285714286 0 452.5714285714286 L 0 240"></path>
                  </g>
                </g>
                <g clip-path="url(#Footer-BiFyKHJfPHOS2)">
                  <g>
                    <path fill="#1e29f5" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 213.563579277865 0 213.563579277865 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                  </g>
                </g>
                <g clip-path="url(#Footer-UsxKaOyvOBfz2)">
                  <g>
                    <path fill="#33d8ff" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 213.563579277865 0 213.563579277865 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="logo">
      <picture class="logo__standard">
        <source src="/cobrands/canalrivertrust/images/logo-desktop.svg" media="(min-width: 1180px)">
        <a href="https://canalrivertrust.org.uk/">
          <img src="/cobrands/canalrivertrust/images/logo-desktop.svg" alt="Canal &amp; River Trust Logo" loading="eager">
        </a>
      </picture>
    </div>
  </div>
  <nav aria-label="Social" class="social__nav--sm">
    <ul role="menubar" id="menu-social" aria-label="Social">
      <li role="presentation">
        <a target="_blank" href="https://www.facebook.com/canalrivertrust" rel="nofollow" role="menuitem" aria-label="Facebook">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/facebook.svg" alt="Facebook Logo">
        </a>
      </li>
      <li role="presentation">
        <a target="_blank" href="https://x.com/canalrivertrust" rel="nofollow" role="menuitem" aria-label="X">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/twitter.svg" alt="X Logo">
        </a>
      </li>
      <li role="presentation">
        <a target="_blank" href="https://www.instagram.com/canalrivertrust" rel="nofollow" role="menuitem" aria-label="Instagram">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/instagram.svg" alt="Instagram Logo">
        </a>
      </li>
      <li role="presentation">
        <a target="_blank" href="https://www.youtube.com/user/canalrivertrust" rel="nofollow" role="menuitem" aria-label="YouTube">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/youtube.svg" alt="YouTube Logo">
        </a>
      </li>
    </ul>
  </nav>
  <nav aria-label="Social" class="social__nav--lg">
    <ul role="menubar" id="menu-social" aria-label="Social">
      <li role="presentation">
        <a target="_blank" href="https://www.facebook.com/canalrivertrust" rel="nofollow" role="menuitem" aria-label="Facebook">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/facebook.svg" alt="Facebook Logo">
        </a>
      </li>
      <li role="presentation">
        <a target="_blank" href="https://x.com/canalrivertrust" rel="nofollow" role="menuitem" aria-label="X">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/twitter.svg" alt="X Logo">
        </a>
      </li>
      <li role="presentation">
        <a target="_blank" href="https://www.instagram.com/canalrivertrust" rel="nofollow" role="menuitem" aria-label="Instagram">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/twitter.svg" alt="Instagram Logo">
        </a>
      </li>
      <li role="presentation">
        <a target="_blank" href="https://www.youtube.com/user/canalrivertrust" rel="nofollow" role="menuitem" aria-label="YouTube">
          <img loading="lazy" src="/cobrands/canalrivertrust/images/youtube.svg" alt="YouTube Logo">
        </a>
      </li>
    </ul>
  </nav>
  <nav aria-label="Footer" class="links__nav z-0">
    <ul role="menubar" id="menu-footer" aria-label="Footer">
      <li role="presentation" class="first">
        <span role="presentation">Services</span>
        <ul role="menu" aria-labelledby="menu_footer_0_1_0" id="menu_footer_0_1_0" class="menu_level_1">
          <li role="presentation" class="first">
            <a href="https://canalrivertrust.org.uk/notices" role="menuitem">Stoppages</a>
          </li>
          <li role="presentation">
            <a href="https://www.watersidemooring.com/" role="menuitem" rel="nofollow" target="_blank">Mooring</a>
          </li>
          <li role="presentation">
            <a href="https://licensing.canalrivertrust.org.uk/" role="menuitem" rel="nofollow" target="_blank">Boat licensing</a>
          </li>
          <li role="presentation">
            <a href="https://shop.canalrivertrust.org.uk/" role="menuitem" rel="nofollow" target="_blank">Boating shop</a>
          </li>
          <li role="presentation">
            <a href="https://canalrivertrust.org.uk/business-and-trade" role="menuitem">Business &amp; trade</a>
          </li>
          <li role="presentation" class="last">
            <a href="https://canalrivertrust.org.uk/news-and-views/media-centre" role="menuitem">Media centre &amp; filming</a>
          </li>
        </ul>
      </li>
      <li role="presentation" class="last">
        <span role="presentation">Further information</span>
        <ul role="menu" aria-labelledby="menu_footer_1_1_1" id="menu_footer_1_1_1" class="menu_level_1">
          <li role="presentation" class="first">
            <a href="/about-us/work-for-us" role="menuitem">Work for us</a>
          </li>
          <li role="presentation">
            <a href="/contact-us" role="menuitem">Contact us</a>
          </li>
          <li role="presentation">
            <a href="http://collections.canalrivertrust.org.uk/" role="menuitem" rel="nofollow" target="_blank">Archive</a>
          </li>
          <li role="presentation">
            <a href="https://canalrivertrust.org.uk/the-publication-scheme" role="menuitem">Publications</a>
          </li>
          <li role="presentation" class="last">
            <a href="https://canalrivertrust.org.uk/specialist-teams" role="menuitem">Specialist teams</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="charity__wave">
    <div class="brand__wave">
      <div class="wave__mask--left">
        <svg version="1.1" viewBox="0 0 1 411.42857142857144" preserveAspectRatio="none">
          <defs>
            <clipPath id="Charity-bFoGrqxRVZGy0">
              <path fill="none" stroke="none" d=" M 495.86776859504135 0 L 1200 0 L 1200 411.42857142857144 L 495.86776859504135 411.42857142857144 L 495.86776859504135 0 Z"></path>
            </clipPath>
            <clipPath id="Charity-FbDJmTdWsiou0">
              <path fill="none" stroke="none" d=" M 0 0 L 495.86776859504135 0 L 495.86776859504135 411.42857142857144 L 0 411.42857142857144 L 0 0 Z"></path>
            </clipPath>
          </defs>
          <g>
            <g>
              <g clip-path="url(#Charity-bFoGrqxRVZGy0)">
                <g>
                  <path fill="#1e29f5" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 171.70618854829382 0 171.70618854829382 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                </g>
              </g>
              <g clip-path="url(#Charity-FbDJmTdWsiou0)">
                <g>
                  <path fill="#33d8ff" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 171.70618854829382 0 171.70618854829382 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="wave">
        <svg version="1.1" viewBox="0 0 1200 411.42857142857144" preserveAspectRatio="none">
          <defs>
            <clipPath id="Charity-bFoGrqxRVZGy1">
              <path fill="none" stroke="none" d=" M 495.86776859504135 0 L 1200 0 L 1200 411.42857142857144 L 495.86776859504135 411.42857142857144 L 495.86776859504135 0 Z"></path>
            </clipPath>
            <clipPath id="Charity-FbDJmTdWsiou1">
              <path fill="none" stroke="none" d=" M 0 0 L 495.86776859504135 0 L 495.86776859504135 411.42857142857144 L 0 411.42857142857144 L 0 0 Z"></path>
            </clipPath>
          </defs>
          <g>
            <g>
              <g clip-path="url(#Charity-bFoGrqxRVZGy1)">
                <g>
                  <path fill="#1e29f5" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 171.70618854829382 0 171.70618854829382 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                </g>
              </g>
              <g clip-path="url(#Charity-FbDJmTdWsiou1)">
                <g>
                  <path fill="#33d8ff" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 171.70618854829382 0 171.70618854829382 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="wave__mask--right">
        <svg version="1.1" viewBox="0 0 1 411.42857142857144" preserveAspectRatio="none">
          <defs>
            <clipPath id="Charity-bFoGrqxRVZGy2">
              <path fill="none" stroke="none" d=" M 495.86776859504135 0 L 1200 0 L 1200 411.42857142857144 L 495.86776859504135 411.42857142857144 L 495.86776859504135 0 Z"></path>
            </clipPath>
            <clipPath id="Charity-FbDJmTdWsiou2">
              <path fill="none" stroke="none" d=" M 0 0 L 495.86776859504135 0 L 495.86776859504135 411.42857142857144 L 0 411.42857142857144 L 0 0 Z"></path>
            </clipPath>
          </defs>
          <g>
            <g>
              <g clip-path="url(#Charity-bFoGrqxRVZGy2)">
                <g>
                  <path fill="#1e29f5" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 171.70618854829382 0 171.70618854829382 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                </g>
              </g>
              <g clip-path="url(#Charity-FbDJmTdWsiou2)">
                <g>
                  <path fill="#33d8ff" stroke="none" paint-order="stroke fill markers" d=" M 1200 120 L 1200 411.42857142857144 M 1200 411.42857142857144 C 600 411.42857142857144 600 171.70618854829382 0 171.70618854829382 L 0 316.4835164835165 M 0 316.4835164835165 C 600 316.4835164835165 600 120 1200 120 L 1200 411.42857142857144"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="charity__info">
    <div>
      <div class="copyright">
        <p>Copyright © Canal &amp; River Trust 2026</p>
      </div>
      <nav aria-label="Policy">
        <ul role="menubar" id="menu-policy" aria-label="Policy">
          <li role="presentation" class="first">
            <a href="https://canalrivertrust.org.uk/the-publication-scheme/making-a-request-for-information/privacy-notice" role="menuitem">Privacy Notice and Cookies</a>
          </li>
          <li role="presentation">
            <a href="https://canalrivertrust.org.uk/terms-and-conditions" role="menuitem">Terms &amp; conditions</a>
          </li>
          <li role="presentation">
            <a href="https://canalrivertrust.org.uk/accessibility" role="menuitem">Accessibility</a>
          </li>
          <li role="presentation">
            <a href="https://canalrivertrust.org.uk/media/download/modern-slavery-compliance-2025.pdf" role="menuitem">Modern slavery compliance statement</a>
          </li>
          <li role="presentation" class="last">
            <a href="https://canalrivertrust.org.uk/sitemap" role="menuitem">Sitemap</a>
          </li>
        </ul>
      </nav>
      <div class="charity-reg">
        <p>Canal &amp; River Trust is a charity registered with the Charity Commission no. 1146792 and a company limited by guarantee registered in England &amp; Wales no. 07807276.</p>
      </div>
      <a class="logo-link" href="https://www.tripadvisor.co.uk/" rel="nofollow" target="_blank">
        <img loading="lazy" src="/cobrands/canalrivertrust/images/trip-advisor.svg" alt="TripAdvisor Logo">
      </a>
      <a class="logo-link" href="https://www.fundraisingregulator.org.uk/directory/canal-river-trust" rel="nofollow" target="_blank">
        <img loading="lazy" src="/cobrands/canalrivertrust/images/fundraising-regulator.svg" alt="Fundraising Regulator Logo">
      </a>
      <div class="logo-link">
        <iframe loading="lazy" aria-label="cyber essentials certified logo" src="https://registry.blockmarktech.com/certificates/bdde415d-82f2-43e1-8bf1-4b434c66a552/widget/?tooltip_position=bottom_right&amp;theme=transparent&amp;hover=t"></iframe>
      </div>
    </div>
  </div>
</footer>


<!-- Added the CSS for the footer here. Taking in consideration the amount of lines of code for a component that only gets used in a couple of pages is not worth to include in layout or base SCSS -->
<style>
  :root {
    --brand-apple: #afe15a;
    --brand-apple-100: #eff9de;
    --brand-darkslate: #333;
    --brand-sky-200: #adefff;
    --brand-water: #1e29f5;
    --brand-water-600: #1821c4;
    --brand-white: #fff;
    --p: var(--brand-water);
    --pf: var(--brand-water-600);
    --pc: var(--brand-white);
    --bc: var(--brand-darkslate);
  }

  [data-theme=default] {
    --p: var(--brand-water);
    --pf: var(--brand-water-600);
    --pc: var(--brand-white);
    --bc: var(--brand-darkslate);
  }

  /* Reusable container */
  .brand__wave .wave,
  footer .logo,
  footer > .charity__info > div,
  #menu-social,
  #menu-footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    box-sizing: border-box;
  }

  @media (min-width: 320px) {
    footer .logo,
    footer > .charity__info > div,
    #menu-social,
    #menu-footer {
      max-width: 320px;
    }
  }

  @media (min-width: 360px) {
    footer .logo,
    footer > .charity__info > div,
    #menu-social,
    #menu-footer {
      max-width: 360px;
    }
  }

  @media (min-width: 640px) {
    footer .logo,
    footer > .charity__info > div,
    #menu-social,
    #menu-footer {
      max-width: 640px;
      padding-left: 1.56rem;
      padding-right: 1.56rem;
    }
  }

  @media (min-width: 768px) {
    footer .logo,
    footer > .charity__info > div,
    #menu-social,
    #menu-footer {
      max-width: 768px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1024px) {
    footer .logo,
    footer > .charity__info > div,
    #menu-social,
    #menu-footer {
      max-width: 1024px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1180px) {
    footer .logo,
    footer > .charity__info > div,
    #menu-social,
    #menu-footer {
      max-width: 1180px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1536px) {
    footer .logo,
    footer > .charity__info > div,
    #menu-social,
    #menu-footer {
      max-width: 1536px;
    }
  }

  /* Brand Wave */
  .brand__wave {
    margin-bottom: -0.125rem;
    margin-top: -0.125rem;
    z-index: 3;
  }

  .brand__wave img,
  .brand__wave svg {
    height: 100%;
    width: 100%;
  }

  .brand__wave .wave__mask--left,
  .brand__wave .wave__mask--right {
    display: none;
    padding: 0;
  }

  .brand__wave .wave__mask--left {
    margin-right: -0.125rem;
  }

  .brand__wave .wave__mask--right {
    margin-left: -0.125rem;
  }

  .brand__wave .wave {
    flex: none;
    padding: 0 !important;
    width: 100% !important;
  }

  @media (min-width: 768px) {
    .brand__wave {
      display: flex;
    }

    .brand__wave img,
    .brand__wave svg {
      max-height: 450px;
    }

    .brand__wave .wave__mask--left,
    .brand__wave .wave__mask--right {
      display: block;
      flex: 1 1 0%;
    }
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  footer p {
    margin: 0;
    font-weight: 400;
  }

  footer .wave__wrapper {
    position: relative;
    z-index: 1;
  }

  footer .logo img {
    width: 100%;
  }

  footer .logo {
    left: -1rem;
    position: absolute;
    top: 2.5rem;
    width: 100%;
    z-index: 2;
  }

  footer .logo picture {
    display: block;
    height: 100%;
    width: 50%;
    max-width: 22rem;
  }

  footer .logo > .logo__pride {
    margin-left: 0;
    margin-top: 0;
    width: 40%;
  }

  @media (min-width: 320px) {
    footer .logo {
      top: 3.5rem;
    }
  }

  @media (min-width: 360px) {
    footer .logo picture {
      width: 45%;
    }

    footer .logo > .logo__pride {
      margin-left: 0.5rem;
      margin-top: 0.5rem;
      width: 40%;
    }
  }

  @media (min-width: 450px) {
    footer .logo {
      left: 0;
      top: 40%;
    }
  }

  @media (min-width: 640px) {
    footer .logo > .logo__pride {
      margin-left: 0;
      margin-top: 0;
      width: 45%;
    }
  }

  @media (min-width: 768px) {
    footer .logo {
      top: 47%;
    }
  }

  @media (min-width: 1024px) {
    footer .logo {
      left: -1.25rem;
      top: 38%;
      width: 66.666667%;
    }

    footer .logo picture {
      width: 60%;
    }
  }

  @media (min-width: 1180px) {
    footer .logo {
      left: 2.5rem;
      top: 40%;
    }

    footer .logo picture {
      margin-top: 0.75rem;
    }
  }

  footer a {
    color: var(--p);
    font-weight: 400;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration-line: underline;
  }

  @media (min-width: 1024px) {
    footer a {
      font-size: 1.125rem;
    }
  }

  footer > .social__nav--sm {
    background-color: var(--brand-sky-200);
    margin-top: -2.5rem;
    padding-top: 3.5rem;
  }

  @media (min-width: 360px) {
    footer > .social__nav--sm {
      margin-top: -3.5rem;
    }
  }

  @media (min-width: 640px) {
    footer > .social__nav--sm {
      margin-top: -6rem;
      padding-top: 5rem;
    }
  }

  @media (min-width: 768px) {
    footer > .social__nav--sm {
      margin-top: -0.5rem;
      padding-top: 0;
    }
  }

  @media (min-width: 1024px) {
    footer > .social__nav--sm {
      display: none;
    }
  }

  footer > .social__nav--lg {
    display: none;
  }

  @media (min-width: 1024px) {
    footer > .social__nav--lg {
      display: block;
      margin-left: auto;
      margin-top: -8rem;
      width: fit-content;
      z-index: 1;
    }
  }

  @media (min-width: 1180px) {
    footer > .social__nav--lg {
      margin-top: -8rem;
    }
  }

  @media (min-width: 1536px) {
    footer > .social__nav--lg {
      margin-top: -8.4rem;
    }
  }

  footer > .links__nav {
    background-color: var(--brand-sky-200);
  }

  @media (min-width: 1024px) {
    footer > .links__nav {
      margin-top: -5rem;
    }
  }

  footer > .charity__wave {
    background-color: var(--brand-sky-200);
    margin-top: -1rem;
  }

  @media (min-width: 360px) {
    footer > .charity__wave {
      margin-top: -2.5rem;
    }
  }

  @media (min-width: 768px) {
    footer > .charity__wave {
      display: none;
    }
  }

  footer > .charity__info {
    background-color: var(--brand-sky-200);
    font-weight: 300;
    padding-bottom: 3rem;
    text-align: center;
  }

  footer > .charity__info > nav > a {
    text-decoration-color: var(--pc);
  }

  footer > .charity__info > div {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    row-gap: 2rem;
  }

  footer ul {
    padding-inline-start: 0;
  }

  footer ul li {
    list-style: none;
  }

  footer > .charity__info > div > .charity-reg {
    margin-bottom: 2rem;
  }

  footer > .charity__info > div > .logo-link {
    align-self: center;
    max-width: 270px;
    width: 50%;
  }

  footer > .charity__info > div > .logo-link > img {
    width: 100%;
  }

  footer > .charity__info > div > .logo-link > iframe {
    aspect-ratio: 1/1;
    width: 50%;
    border: none;
  }

  footer > .charity__info > div > div.logo-link {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    footer > .charity__info {
      text-align: left;
    }

    footer > .charity__info > div {
      column-gap: 2rem;
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-top: 0;
      row-gap: 1.5rem;
    }

    footer > .charity__info > div > .copyright,
    footer > .charity__info > div > nav {
      grid-column: span 4/span 4;
    }

    footer > .charity__info > div > .charity-reg {
      flex-basis: 100%;
      grid-column: span 4/span 4;
      margin-bottom: 0;
      order: 5;
    }

    footer > .charity__info > div > .logo-link {
      max-width: 200px;
      width: 100%;
    }

    footer > .charity__info > div > div.logo-link {
      display: block;
    }
  }

  footer.explorers > .social__nav--sm,
  footer.explorers > .links__nav,
  footer.explorers > .charity__wave,
  footer.explorers > .charity__info {
    background-color: var(--brand-apple-100);
  }

  /* Social Menu */
  #menu-social {
    display: flex;
    gap: 1.75rem;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  #menu-social > li > a {
    background-color: var(--p);
    border-radius: 9999px;
    color: var(--brand-white);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    height: 3.5rem;
    width: 3.5rem;
  }

  #menu-social > li > a:focus,
  #menu-social > li > a:hover {
    background-color: var(--pf);
  }

  #menu-social > li > a > img {
    filter: invert(100%);
    height: 50%;
  }

  @media (min-width: 768px) {
    #menu-social {
      gap: 6rem;
    }
  }

  @media (min-width: 1024px) {
    #menu-social {
      gap: 0.75rem;
      justify-content: flex-end;
      margin-right: 0;
    }

    #menu-social > li > a {
      height: 3.5rem;
      width: 3.5rem;
    }
  }

  @media (min-width: 1180px) {
    #menu-social {
      margin-right: 0;
    }

    #menu-social > li > a {
      height: 4rem;
      width: 4rem;
    }
  }

  /* Footer Menu */
  #menu-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  #menu-footer > li {
    flex-basis: 50%;
    padding-bottom: 2rem;
    text-align: center;
  }

  #menu-footer > li ul > li {
    padding-top: 0.5rem;
  }

  #menu-footer > li > span {
    color: var(--bc);
    font-size: 1.125rem;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    #menu-footer > li {
      flex-basis: 0px;
      flex-grow: 1;
    }
  }

  @media (min-width: 1024px) {
    #menu-footer {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      padding-top: 11rem;
    }

    #menu-footer > li {
      flex-basis: auto;
      flex-grow: 0;
      text-align: left;
    }

    #menu-footer > li > span {
      font-size: 1.25rem;
    }
  }

  /* Policy Menu */
  #menu-policy {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  #menu-policy > li > a {
    text-decoration-line: underline;
  }

  @media (min-width: 1024px) {
    #menu-policy {
      align-items: flex-start;
      align-self: center;
      column-gap: 1rem;
      flex-direction: row;
      order: 2;
      row-gap: 0;
    }

    #menu-policy > li > a {
      font-size: 1rem;
      text-decoration-line: none;
    }
  }

  /* Utility Classes */
  .z-0 {
    z-index: 0;
  }
</style>

[% PROCESS '_footer_main_nav.html' %]
[% PROCESS '_footer_extra_powered_by.html' %]
