@import "_colours";
@import "_fonts";

$header-top-border: false; // There is, but we want to do it ourselves

@import "../sass/layout";

#site-header {
  border-top-width: 10px;
  border-bottom: none;
  margin-bottom: 4em; // Push content past abs. positioned nav
}

// Don't want larger logo on mappage.
body.frontpage, body.twothirdswidthpage, body.fullwidthpage, body.authpage {
  // Display the BCC logo and header correctly

  .nav-wrapper {
      margin-top: 69px;
      background-color: #6D6D6C;
  }
  #main-nav {
    float: left;
    min-height: 3em;

    .ie9 & > * {
      position: static;
      -ms-transform: none;
    }
  }

  .nav-menu {
    margin-left: 160px;
    a, span {
      display: inline-block; // So the chevrons appear correctly
      padding: 0.5em 0.75em;
      margin: 0;
    }
  }
}

// Stop the 'report a problem' button being red on non-map pages
.nav-menu--main a.report-a-problem-btn {
    color: #fff;
    background-color: transparent;
}
.nav-menu--main a.report-a-problem-btn:hover {
    color: #fff !important;
    background-color: transparent;
}

.nav-menu {
    background-color: transparent;
    span {
        font-size: 1em;
        color: #fff;
        &:hover,
        &:active,
        &:focus {
          color: #fff;
        }
    }
    a {
        font-size: 1em;
        text-decoration: none;
        color: #fff;
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            background-color: transparent;
            color: #fff;
        }
        &:visited {
          color: #fff;
        }
    }
}

#front-main {
    padding-top: 40px;
    padding-bottom: 0;

    h1 {
      font-size: 2.5em;
    }

    h1 + p {
      font-size: 1.5em;
      line-height: 1.25em;
      max-width: 640px;
    }
}

body.mappage {
  // Mappage header is 10px top border, 50px logo (7px 37px 6px), 4px bottom border
  #site-logo {
     padding-top: 6px;
  }

  #main-nav {
      margin-top: 10px;
      min-height: 50px;
  }

  .nav-menu {
    z-index: 10; // Clickable

    a, span {
      padding: 0.5em;
    }
    a.report-a-problem-btn {
      color: white;
      @include bucks-button();
      margin: 0.15em 0.25em 0;
      padding: 0.5em 1em;
      position: relative;
      top: -5px;
      &:hover,
      &:active, 
      &:focus {
        color: $bucks_charcoal !important;
        text-decoration: none;
      }
    }
  }

  .big-green-banner {
    display: block;
    background-color: $bucks_grass_green;
    text-transform: none;
  }
}

.bucks_footer {
    background: url(/cobrands/buckinghamshire/img/footer-bg.png) right bottom no-repeat;
    background-size: contain;
    min-height: 160px;
}

// Set the default font colour everywhere
body, .content {
  color: $bucks_charcoal;
}

.site-message {
  font-size: 1em;
  padding: 20px;
}
