<footer class="page-footer">
  <div class="container">
    <div class="region region-footer">
      <div class="cuk-logo">
        <a href="https://www.cyclinguk.org/">
          <img loading="lazy" src="/cobrands/cyclinguk/images/cyclinguk-logo-white.svg" alt="Cycling UK">
        </a>
      </div>
      <div class="cuk-social-media-icons">
        <span class="facebook">
          <a href="https://www.facebook.com/CyclingUK" target="_blank" title="Connect with Cycling UK on Facebook">
            <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
          </a>
        </span>
        <span class="instagram">
          <a href="https://www.instagram.com/wearecyclinguk/" target="_blank" title="Connect with Cycling UK on Instagram">
            <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
          </a>
        </span>
        <span class="twitter">
          <a href="https://twitter.com/wearecyclinguk" target="_blank" title="Connect with Cycling UK on Twitter">
            <i class="fab  fa-brands fa-x-twitter" aria-hidden="true"></i>
          </a>
        </span>
        <span class="strava">
          <a href="https://www.strava.com/clubs/cycling-uk-453551" target="_blank" title="Connect with Cycling UK on Strava">
            <i class="fab fa-strava fa-lg" aria-hidden="true"></i>
          </a>
        </span>
      </div>
      <div class="cuk-people">
        <div>
          <span class="title">President: </span>Jon Snow
        </div>
        <div>
          <span class="title">Chief Executive: </span>Sarah Mitchell
        </div>
      </div>
      <div class="cuk-copyright-text">Cycling UK is a trading name of Cyclists' Touring Club (CTC) a company limited by guarantee, registered in England no: 25185. Registered as a charity in England and Wales charity no: 1147607 and in Scotland charity no: SC042541. Registered office: Parklands, Railton Road, Guildford, Surrey GU2 9JX.</div>
      <div class="cuk-footer-menu">
        <ul>
          <li>
            <a href="https://shop.cyclinguk.org/cycling-uk-shop" target="_blank">Shop</a>
          </li>
          <li>
            <a href="https://www.cyclinguk.org/cycling-uk-jobs">Jobs</a>
          </li>
          <li>
            <a href="https://app.goassemble.com/auth/login" target="_blank">Volunteering</a>
          </li>
          <li>
            <a href="https://forum.cyclinguk.org" target="_blank">Forum</a>
          </li>
          <li>
            <a href="https://www.cyclinguk.org/contact/press-and-media">Press office</a>
          </li>
          <li>
            <a href="https://www.cyclinguk.org/policies-terms-conditions">Our policies, terms and conditions</a>
          </li>
          <li>
            <a href="https://www.cyclinguk.org/contact">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="cuk-fundraising-regulator-logo">
        <img loading="lazy" src="/cobrands/cyclinguk/images/fundraising-regulator-logo.svg" alt="Fundraising Regulator">
        <a href="https://fixmystreet.org/">
          <img loading="lazy" src="/cobrands/cyclinguk/images/fixmystreet-logo.png" alt="Powered by FixMyStreet">
        </a>
      </div>
    </div>
  </div>
</footer>
[% PROCESS '_footer_main_nav.html' %]
