<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e616598c4c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.typekit.net/lmn7yno.css">

<link rel="icon" type="image/png" sizes="96x96" href="/cobrands/cyclinguk/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="32x32" href="/cobrands/cyclinguk/images/favicon-32x32.png">
