<div class="front-howto-wrapper">
    <h2>[% loc('How to report a problem') %]</h2>
    <h3>You can report any danger to cycling, not just potholes</h3>
    <ol class="big-numbers">
        <li>[% question %]</li>
        <li>[% loc('Locate the problem on a map of the area') %]</li>
        <li>[% loc('Enter details of the problem (note that categories vary from council to council)') %]</li>
        <li>[% loc('We send it to the council on your behalf') %]</li>
    </ol>
</div>

[%
# Disabled until the stats on /reports are accurate
#<section class="full-width front-stats-wrapper">
#<a href="/reports">See all reports</a>
#</section>
%]

<div class="border-wrapper is--purple">
    <h2>Help fix our broken roads</h2>
    <p>Potholes are more than a nuisance - they can be a serious danger to cyclists and others. In the UK, there’s an average of one road defect for every 110 metres of road.</p>

    <h2>What can I do?</h2>
    <p>Local councils have a duty to maintain the roads, but they can only fill a pothole if they know about it. If you want it repaired, you have to report it. Cycling UK set up Fill That Hole to help the public easily report potholes and road defects wherever you find them. We contact the right people to get the roads repaired. Councils are generally quick to respond – we know because you’ve told us. You can report a pothole at the top of this page.</p>

    <h2>Is reporting potholes enough?</h2>
    <p>No - years of serious underinvestment have crippled the UK's local roads network, which is why Cycling UK <a href="https://www.cyclinguk.org/cycle-campaigning">campaigns for proper funding</a> to enable councils to bring their roads into a safe state of repair.
    You can also help us create a better world by bike by <a href="https://www.cyclinguk.org/join-cycling-uk-today">joining Cycling UK today</a> or <a href="https://www.cyclinguk.org/?form=general-donation">supporting us with a donation</a>.
    </p>
</div>
