<div class="front-howto-wrapper">
    <h2>[% loc('How to report a problem') %]</h2>
    <h3>You can report any danger to cycling, not just potholes</h3>
    <ol class="big-numbers">
        <li>[% question %]</li>
        <li>[% loc('Locate the problem on a map of the area') %]</li>
        <li>[% loc('Enter details of the problem (note that categories vary from council to council)') %]</li>
        <li>[% loc('We send it to the council on your behalf') %]</li>
    </ol>
</div>


<section class="full-width front-stats-wrapper">
<a href="/reports">See all reports</a>
</section>

<section class="border-wrapper is--black mob-only">
    <a href="https://www.cycle-sos.co.uk/?utm_source=Cycling+UK&utm_medium=website&utm_campaign=Fill+that+hole" id="site-logo-sos" aria-label="In association with Cycle-SOS">
        <img loading="lazy" src="/cobrands/cyclinguk/images/cycle-sos-logo.png" alt="In association with Cycle SOS">
    </a>
</section>

<div class="border-wrapper is--purple">
    <h2>Help fix our broken roads</h2>
    <p>Potholes are more than a nuisance - they can be a serious danger to cyclists and others. In the UK, there’s an average of one road defect for every 110 metres of road.</p>

    <h2>What can I do?</h2>
    <p>Local councils have a duty to maintain the roads, but they can only fill a pothole if they know about it. If you want it repaired, you have to report it. Cycling UK set up Fill That Hole to help the public easily report potholes and road defects wherever you find them. We contact the right people to get the roads repaired. Councils are generally quick to respond – we know because you’ve told us. Report a pothole now.</p>

    <h2>Is reporting potholes enough?</h2>
    <p>No - years of serious underinvestment have crippled the UK's local roads network, which is why Cycling UK campaigns for proper funding to enable councils to bring their roads into a safe state of repair.</p>
</div>
