<!--This content will be below each success/Thank you/ Error message-->


<div class="cuk-social-media-icons">
  <span class="facebook">
    <a class="is--primary" href="https://www.facebook.com/CyclingUK" target="_blank" title="Connect with Cycling UK on Facebook">
      <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
    </a>
  </span>
  <span class="twitter">
    <a class="is--primary" href="https://twitter.com/wearecyclinguk" target="_blank" title="Connect with Cycling UK on Twitter">
      <i class="fab  fa-brands fa-x-twitter" aria-hidden="true"></i>
    </a>
  </span>
  <h3 class="heading-font-family">Help others to report by sharing this tool</h3>
</div>

<div class="border-wrapper is--purple">
  <h2>Support safer cycling</h2>
  <p>Cycling UK’s work doesn’t stop at potholes – we’re continuously campaigning to make our roads safer and more pleasant for everyone who cycles, and anyone who wants to. Whether it’s tackling close passing, successfully securing a safer Highway Code or pushing governments across the UK to invest in quality space for cycling, our campaigns need your support.</p>
</div>

<div class="cuk-cards">
      <!-- TODO CUK Double Check if this will be a dynamic component that CUK will be updating on their end or it's just and static component. Right now I'm assuming is static. -->
  <a href="https://www.cyclinguk.org/cycle-campaigning" class="cuk-cards__item">
    <img loading="lazy" src="/cobrands/cyclinguk/images/cards/card-1.webp" alt="">
    <h3 class="heading-font-family">Support Cycling UK's campaigning</h3>
  </a>

  <a href="https://www.cyclinguk.org/campaign/fill-hole" class="cuk-cards__item">
    <img loading="lazy" src="/cobrands/cyclinguk/images/cards/card-2.webp" alt="">
    <h3 class="heading-font-family">Our Fill That Hole campaign</h3>
  </a>

  <a href="https://www.cyclinguk.org/article/what-do-if-you-are-involved-cycling-collision-caused-highway-defect-or-pothole" class="cuk-cards__item">
    <img loading="lazy" src="/cobrands/cyclinguk/images/cards/card-3.webp" alt="">
    <h3 class="heading-font-family">What to do if you have a cycling crash</h3>
  </a>
</div>

<div class="cuk-cta">
  <div class="cuk-cta__message">
    <div>
      <h3 class="message__title heading-font-family">Do something <br>
        <span class="text-orange">Incredible</span>
      </h3>
      <p>Join our 70,000 strong membership today, and help us make a better world by bike tomorrow</p>
      <a href="https://www.cyclinguk.org/join-cycling-uk-today" class="btn btn--primary">Join today</a>
    </div>
  </div>
</div>
