[%

color_cuk_primary = '#007fae'
color_cuk_yellow = '#FBB040'
color_black = '#000'
color_white = '#fff'
color_cuk_dark_green = '#0c4c57'
color_cuk_pale_green = '#e9ecef'
color_cuk_grey_400 = '#CED4DA'

link_text_color = color_black
body_background_color = color_cuk_grey_400
body_text_color = color_black

header_background_color = color_cuk_primary
header_text_color = color_white

secondary_column_background_color = color_cuk_pale_green

button_background_color = color_cuk_yellow
button_text_color = color_black

logo_file = 'fill-that-hole-logo-white.png'
logo_width = "223" # pixel measurement, but without 'px' suffix
logo_height = "50" # pixel measurement, but without 'px' suffix

%]
