[%

color_cuk_primary = '#365269'
color_cuk_orange = '#FC5C1F'
color_black = '#000'
color_white = '#fff'
color_cuk_dark_green = '#0c4c57'
color_cuk_pale_green = '#e9ecef'
color_cuk_grey_400 = '#CED4DA'

link_text_color = color_black
body_background_color = color_cuk_grey_400
body_text_color = color_black

header_background_color = color_cuk_primary
header_text_color = color_white

secondary_column_background_color = color_cuk_pale_green

button_background_color = color_cuk_orange
button_text_color = color_white

logo_file = 'fill-that-hole-logo-white.png'
logo_width = "122" # pixel measurement, but without 'px' suffix
logo_height = "70" # pixel measurement, but without 'px' suffix

%]
