[%

color_hylte_deepblue = '#0078BB'
color_black = '#000000'
color_white = '#FFFFFF'
color_hylte_lightblue = '#E6F2F8'

body_background_color = color_white
body_text_color = color_black

header_background_color = color_hylte_deepblue
header_text_color = color_white

secondary_column_background_color = color_hylte_lightblue

button_background_color = color_hylte_deepblue
button_text_color = color_white

logo_file = 'Hylte%20kommun%20logotyp.svg'
logo_width = "175" # pixel measurement, but without 'px' suffix
logo_height = "35" # pixel measurement, but without 'px' suffix
header_padding = "20px 30px"

%]
