/* COLOURS */

$hart_primary: #7ECBA2;

$primary: $hart_primary;
$col_click_map: $hart_primary;
$col_fixed_label: $hart_primary;

$primary_b: #000000;
$primary_text: #ffffff;
$primary_link_color: $primary_text;
$primary_link_hover_color: rgba($primary_text, 0.8);

$link-color: #0077cc;
$link-hover-color: #003078;

$base_bg: #ffffff;
$base_fg: #1a1a1a;

$nav_colour: $link-color;
$nav_background_colour: #fff;
$nav_hover_background_colour: #fff;

$nav_background_colour: $primary;
$mappage-header-height: 165px + 40px; // green header plus white nav-wrapper
$header-top-border: false;

$container-max-width: 80em;

$search-help-background: #fff3f3;
$search-help-header-font-size-desktop: 1.25em;

$dropzone-button-text: $primary_b;
