/* COLOURS */

$hart_primary: #7ECBA2;

$primary: $hart_primary;
$col_click_map: $hart_primary;
$col_fixed_label_dark: $hart_primary;
$col_fixed_label: $hart_primary;

$primary_b: #000000;
$primary_text: #ffffff;

$base_bg: #ffffff;
$base_fg: #1a1a1a;

/* Unused here */
$map_nav_bg: #222;
$nav_fg: #fff;
$nav_fg_hover: #444;
