@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

.item-list--reports__item {
  color: #666;
  a {
    color: #666;
  }
}

h1.main {
    color: #000;
    text-align: center;
    margin: 0.5em 0;
}

#site-header {
    .mobile-header-nav {
        height: 56px;
        float: right;
        li {
            a, a:hover {text-decoration:none;}
            list-style-type: none;
            float: left;
            div {
                height: 57px;
                width: 57px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
            .home-icon { background-image: url('/cobrands/hart/home_mobile.png'); }
            .search-icon { background-image: url('/cobrands/hart/search_mobile.png'); }
            .menu-icon { background-image: url('/cobrands/hart/menu_mobile.png'); }
        }
    }
}

#site-logo {
    display: block;
    background: url("/cobrands/hart/hart-logo-mobile.png") 0 50% no-repeat;
}

.hart-header-menu {
    display: none;
}

.nav-menu {
    a,
    span,
    span.report-a-problem-btn {
        color: $link-color;
        background-color: #fff;

        &:visited {
            color: $link-color;
        }

        &:hover {
            background-color: #fff;
            color: $link-hover-color;
            text-decoration: underline;
        }
    }

    span.report-a-problem-btn {
        cursor: pointer;
    }
}

.big-green-banner {
    text-transform: none;
    color: #000;
}

#form_sign_in {
    margin-top: 1em;
}

#postcode-intro {
    padding: 1em 0;
    background-color: #FFF;
}

#front-main #postcodeForm {
    color: inherit;

    .form-hint {
        color: inherit;
    }
}

#front-main-container {
    padding-bottom: 1em;
}

a#geolocate_link {
    font-weight: normal;
    color: #000;

    &:hover {
        color: #000;
        background: #fff;
    }
}

#front_stats {
    color: #000;
}

@import "../fixmystreet-uk-councils/societyworks-footer";
