@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

.item-list--reports__item {
  color: #666;
  a {
    color: #666;
  }
}

h1.main {
    color: $primary;
    text-align: center;
    margin: 0.5em 0;
}

#site-header {
    .mobile-header-nav {
        height: 56px;
        float: right;
        li {
            a, a:hover {text-decoration:none;}
            list-style-type: none;
            float: left;
            div {
                height: 57px;
                width: 57px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
            .home-icon { background-image: url('/cobrands/hart/home_mobile.png'); }
            .search-icon { background-image: url('/cobrands/hart/search_mobile.png'); }
            .menu-icon { background-image: url('/cobrands/hart/menu_mobile.png'); }
        }
    }
}

#site-logo {
    display: block;
    background: url("/cobrands/hart/hart-logo-mobile.png") 0 50% no-repeat;
}

#main-nav--hart { // Hart has two main menus, basically same on mobile
    margin: 0 -1em;
}

.big-green-banner {
    text-transform: none;
}

#form_sign_in {
    margin-top: 1em;
}

#front-main {
    /* default on mobile view, preventing jagged hart-green box */

    margin: 0;
    padding: 1em;

    #postcodeForm {
        padding: 1em;
        div {
            padding-top: 0px;
            input#pc {
            }
        }
    }
}
