/*

    CARGO CULTED FROM BROMLEY FOR NOW

    */

/* Parts of Bromley's main CSS needed for its header/footer and adjusted (see
 * bottom) to not be affected by main FixMyStreet CSS. Not very sustainable;
 * perhaps we should wrap all council CSS within a SCSS #council ID? Hmm.
 */

@import "compass";
@import "_colours";


// Bits of Bromley's forms.css, adjusted
input[type=text],
input[type=password],
input[type=email],
input[type=file],
textarea, 
select { background: #fff; border: 1px solid #768b9a; border-color: #768b9a #d1dee8 #d1dee8 #768b9a; color: #333; font-family: "Gill Sans MT", Arial, 'Helvetica Neue', Helvetica, sans-serif; padding: 8px;
@include border-radius(0); }

.green-btn, button.green-btn, input.green-btn {
    background: #5b7189 url("https://www.bromley.gov.uk/site/styles/css_img/button.gif") repeat-x 0 -1px; border: 1px solid #8e9eb0; color: #fff; font-family: 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif; font-weight: normal; margin: 0; min-height: 23px; outline: 1px solid #405062; padding: 4px 8px; text-transform: uppercase; }
.green-btn:hover, button.green-btn:hover, input.green-btn:hover { background: #5b7189; border: 1px solid #8e9eb0; }
.form-txt-submit-box input[type=submit] {
    padding-top: 0; padding-bottom: 0; width: auto;
}


h1, h2, h3, h4, h5, h6, legend { font-family: 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif; }
body { color: #333; font-family: "Gill Sans MT", Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.4; background-color: $base_bg;}

// #header renamed to #hart-header
.hart-header {
    padding: 20px 20px 0 20px;
}
.hart-header, .hart-header-wrapper {
    background-color: $hart_primary;
}

@media only screen and (min-width: 48em) {
    .hart-header-wrapper {
        height: 173px;
    }
    
    #site-header {
        display: none;
    }
}

.header-nav {
  float: left;
  margin-top: 96px;
  margin-left: 6px;
}

.header-nav li {
  float: left;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 16px;
  border-right: solid 1px white;
}

.header-nav li:last-child {
    border-right: none;
}

.header-nav a:link, .header-nav a:visited {
  color: #fff;
}

.header-nav li:hover, .header-nav li:hover a, {
  background-color: white;
  color: black;
  text-decoration: none;
}

/* -------- For Google translate select box only */
.header-nav div#google_translate_element .goog-te-gadget { font-family: "Gill Sans MT", Arial, 'Helvetica Neue', Helvetica, sans-serif;    }
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo { margin:5px 0 0 5px; padding:0 0 0 2px; background: #9b9b9b; color: #fff; border: 1px solid #606060; font-size: 12px; width: 138px;}
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo option { background:#fff; color: #666; padding: 1px 0; margin: 0; }
/* --- */

.logo {
    padding: 0;
    float: left;
}

.sign-in {float:right; margin-top:-87px; width: 650px; text-align: right;}
.sign-in a:link, .sign-in a:visited {color:#333; font-weight:bold; text-decoration:none;}
.sign-in a:hover, .sign-in a:active {text-decoration:underline;}

.main-menu {
}

.main-menu li {
  float: left;
  width: 100px;
  text-align: center;
  font-family: 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif;
}

.main-menu li a:link, .main-menu li a:visited {
  color: $hart_primary;
  display: block;
  text-decoration: none;
}

.main-menu li a:hover, .main-menu li a:active {
}

.main-menu li.home a:hover, .main-menu li.home a:active {
}

//#search { float: right; padding: 10px 17px; width: 270px; }
//#search label {display:none;}
//#search input { background: #ececec; border: 1px solid #768b9a; border-color: #768b9a #d1dee8 #d1dee8 #768b9a; line-height: 9px; padding: 6px 5px 4px; width: 184px; }
//#search input.button { background: #fff; border: 1px solid #8596a8; color: #333; font-family: 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif; font-size:133%; height: 27px; line-height: 27px; padding: 0; vertical-align: top; width: 70px; }

// #footer renamed to #bromley-footer, fixed font size.
#hart-footer, .hart-footer-wrapper { background-color: #4F5757; }
#hart-footer { clear: both; width:100%; padding:30px 15px 50px; margin-left:-15px; color:#fff; font-size:92%;}
#hart-footer a:link, 
#hart-footer a:visited 				{ color: #fff; text-decoration: none; }
#hart-footer a:hover,
#hart-footer a:active 				{ text-decoration: underline;}
#hart-footer img 					{ float: right; margin-top: -18px; }
#hart-footer .footer-nav 			{ float: right; height:35px; margin-top: -15px; }
#hart-footer .footer-nav li 			{ border-right:1px solid #fff; float: left; line-height: 1; padding: 0 20px; }
#hart-footer .footer-nav li:last-child 	{ border: none; }

// Bromley IE specific CSS
.ie6 {
    div { zoom: 1; }
    .hart-wrapper { padding: 0; }
    #hart-footer { margin: 0; }
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; width: 68px; line-height: 24px; }
    input.button { overflow: visible; width: 1%; }
}
.ie7 {
    div { zoom: 1; }
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; width: 68px; line-height: 24px; }
    input.button { overflow: visible; }
}
.ie8 {
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; line-height: 24px; }
}

// mySociety additions
.hart-header {
  font-size: 12px;
  clear: both;
}

.header-nav ul {
  margin: 0;
}

.header-nav li {
  list-style-type: none;
}

.main-menu ul {
  margin: 0;
  padding-top: 8px;
}

.main-menu li {
  list-style-type: none;
  color: #000;
}

.main-menu li.last {
  padding-right: 0;
}

.main-menu li.last a:hover, .main-menu li.last a:active {
}

//#search input { display: inline; margin: 0; @include border-radius(0em); }
//#search input.button { font-weight: normal; text-transform: none; }
#hart-footer {
  padding-bottom: 60px;
}

#hart-footer .footer-nav li {
  list-style-type: none;
}

#hart-footer p {
  margin: 0;
}

#hart-powered-by {
    clear: both;
}

.issue-list-a li .text small {
    display: inline;
}
