/*

    CARGO CULTED FROM BROMLEY FOR NOW

    */

@import "../sass/mixins";
@import "_colours";

.green-btn {
    background: #5b7189;
    border: 1px solid #8e9eb0;
    color: #fff;
    font-family: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif;
    font-weight: normal;
    margin: 0; min-height: 23px;
    /* outline: 1px solid #405062; */
    padding: 4px 8px;
    text-transform: uppercase;
}
.green-btn:hover {
    background: #5b7189; border: 1px solid #8e9eb0;
}


h1, h2, h3, h4, h5, h6, legend { font-family: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif; }
body { color: #333; font-family: "Gill Sans MT", "Gill Sans", Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.4; background-color: $base_bg;}

/* -------- For Google translate select box only */
.header-nav div#google_translate_element .goog-te-gadget { font-family: "Gill Sans MT", Arial, 'Helvetica Neue', Helvetica, sans-serif;    }
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo { margin:5px 0 0 5px; padding:0 0 0 2px; background: #9b9b9b; color: #fff; border: 1px solid #606060; font-size: 12px; width: 138px;}
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo option { background:#fff; color: #666; padding: 1px 0; margin: 0; }
/* --- */

.sign-in {
    display: none;
}
@media only screen and (min-width:48em) {
    .sign-in {
      display: block;
      float:right;
      margin-top:-87px;
      height: 2em;
    }
}
.sign-in a:link, .sign-in a:visited {color:#333; font-weight:bold; text-decoration:none;}
.sign-in a:hover, .sign-in a:active {text-decoration:underline;}

.nav-menu--main {
    font-family: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif;
    a {
        &:link, &:visited {
            color: $hart_primary;
        }
        &:hover {
            background-color: $hart_primary;
            color: #FFF;
        }
    }
    span { display: none }
}

#front-main {
  background-color: #FFF;

  #front-main-container {
    padding-bottom: 1em;
  }
}

#postcode-intro {
  background-color: #FFF;
  color: $hart_primary;
  padding-bottom: 1em;
}

.content,
body.frontpage .table-cell .content {
  margin-bottom: 2em;
}

#hart-footer {
  box-shadow: 0px 500px 0px 500px #4F5757;
  background: #4F5757;
  color: #fff;

  @media only screen and (max-width:48em) {
    font-size: 1em;
    margin: 0 !important;
  }

  #footer-inner {
    @media only screen and (max-width:48em) {
      padding: 15px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }

  a {
    color: #fff;
  }

  p {
    padding: 0;
    margin: 0;
  }

  #footer-row-1 {
    padding: 1.5em 0 0.5em 0;

    @media only screen and (max-width:48em) {
      margin: 0;
      padding: 0;
    }

    p {
      float: left;

      .hart {
        margin: 0 5px 0 0;
        padding: 0 10px 0 0;
        border-right: 1px solid #fff;
      }

    }

    #footer-nav {
      float: right;

      li {
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
        float: right;

        &:first-child {
          border-left: 1px solid #fff;
        }
      }

      @media only screen and (max-width:48em) {
        float: none;
        width: 100%;

        ul {
          margin: 15px 0px 0px -2%;
        }

        li {
          float: left;
          width: 45%;
          display: block;
          border-left: none !important;
          border-bottom: 1px solid #797f7f;
          padding: 2px 0px;
          margin: 0 2%;

          &.bottom {
            border: none !important;
          }
        }
      }

    }
  }

  #footer-row-2 {
    margin: 0.5em 0;

    @media only screen and (max-width:48em) {
      margin: 1.5em 0 1em 0;
    }

    li {
      margin: 0 2px;

      @media only screen and (max-width:48em) {
        float: left;
        margin-right: 5px;
      }
    }

    li.web-chat {
      float: right;

      @media only screen and (max-width:48em) {
        float: left;
      }

      a {
        span {
          float: left;
          line-height: 50px;
          margin: 0 10px 0 0;
        }
      }
    }

  }

  #footer-row-3 {
    padding: 0 0 1.5em 0;
    margin: 0.5em 0;
  }
}

// mySociety additions
.hart-header {
  font-size: 12px;
  clear: both;
}

.header-nav ul {
  margin: 0;
}

.header-nav li {
  list-style-type: none;
}

//#search input { display: inline; margin: 0; @include border-radius(0em); }
//#search input.button { font-weight: normal; text-transform: none; }
// The footer breaks the map pages layout, easier to exclude it than
// work out how to make it not be broken.
body.mappage .hart-footer-wrapper {
  display: none;
}

#hart-powered-by {
    float: left;
    width: 50%;
    a {
        margin-left: 10px;
    }
    @media only screen and (min-width:48em) {
        a {
            margin-left: 1em;
        }
    }
    img {
        float: none;
        margin-top: 0;
    }
}

.item-list--reports__item small {
    display: inline;
}

#hart_hants_note {
    background-color: lighten($hart_primary, 30%);
    padding: 0.5em;
    font-size: 0.8em;
}
