/*

    CARGO CULTED FROM BROMLEY FOR NOW

    */

@import "compass";
@import "_colours";

/* from http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/* For IE 6/7 only */
.clearfix { *zoom: 1; }


// Taken from Bromley's form css
input[type=text],
input[type=password],
input[type=email],
input[type=file],
textarea, 
select { background: #fff; border: 1px solid #768b9a; border-color: #768b9a #d1dee8 #d1dee8 #768b9a; color: #333; font-family: "Gill Sans MT", "Gill Sans", Arial, 'Helvetica Neue', Helvetica, sans-serif; padding: 8px;
@include border-radius(0); }

.green-btn, button.green-btn, input.green-btn {
    background: #5b7189; 
    border: 1px solid #8e9eb0; 
    color: #fff; 
    font-family: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif; 
    font-weight: normal; 
    margin: 0; min-height: 23px; 
    /* outline: 1px solid #405062; */
    padding: 4px 8px; 
    text-transform: uppercase; 
}
.green-btn:hover, button.green-btn:hover, input.green-btn:hover { 
    background: #5b7189; border: 1px solid #8e9eb0; 
}
.form-txt-submit-box input[type=submit] {
    padding-top: 0; padding-bottom: 0; width: auto;
}


h1, h2, h3, h4, h5, h6, legend { font-family: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif; }
body { color: #333; font-family: "Gill Sans MT", "Gill Sans", Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.4; background-color: $base_bg;}

.nav-wrapper-2, 
body.mappage .nav-wrapper .nav-wrapper-2,
body.frontpage .nav-wrapper-2 {
    border: 0;
    border-top: solid 4px $hart_primary;  /* otherwise overridden in base layout.scss 
                                             for some templates only */
    min-height: auto;
    background-color: $hart_primary;

    @media only screen and (min-width:48em) {
        height: 173px;
    }
}

@media only screen and (min-width:48em) {
    body.frontpage #site-header {
        height: 13em;

        .mobile-header-nav {
            display: none;
        }
    }

    #skipped-map {
        clear: both;
        margin-top: 3em; /* required to push "Your Reports" visible on Safari/IE */
    }

	#main-nav {
	  margin-top: 106px;
    }
    .nav-menu {
      margin-left: 157px;
	  float: none;
	}

	.nav-menu li {
	  text-align: center;
	  text-transform: uppercase;
	  padding: 0 15px;
	  font-size: 16px;
	  border-right: solid 1px white;
	  line-height: 1.5em;
	}
	.nav-menu li:last-child {
	    border-right: none;
	}

	.nav-menu a {
	    padding: 0;
	    font-size: inherit;
	}

	.nav-menu li:hover, .nav-menu li:hover a, {
	  background-color: white;
	  color: black;
	  text-decoration: none;
	}
}

@media only screen and (max-width: 61em) and (min-width: 48em) {
    #main-nav {
        padding-left: 0px;
        float:none;
    }
}

/* -------- For Google translate select box only */
.header-nav div#google_translate_element .goog-te-gadget { font-family: "Gill Sans MT", Arial, 'Helvetica Neue', Helvetica, sans-serif;    }
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo { margin:5px 0 0 5px; padding:0 0 0 2px; background: #9b9b9b; color: #fff; border: 1px solid #606060; font-size: 12px; width: 138px;}
.header-nav div#google_translate_element .goog-te-gadget .goog-te-combo option { background:#fff; color: #666; padding: 1px 0; margin: 0; }
/* --- */

body.frontpage #site-logo,
#site-logo {
    display: block;
    background: url("/cobrands/hart/hart-logo-mobile.png") 0 0 no-repeat;
    margin: 10px;
    padding-left: 10px;
    position: static;
    @media only screen and (min-width: 48em) {
        position: relative;
        top: 1em;
        margin: 0;
        margin-left: 2.25em;
        padding: 0;
        background: url("/cobrands/hart/hart-logo.png") 0 0 no-repeat;
        width: 123px;
        height: 132px;
    }
}

.sign-in {
    display: none;
}
@media only screen and (min-width:48em) {
    .sign-in {
      display: block;
      float:right;
      margin-top:-87px;
      height: 2em;
    }
}
.sign-in a:link, .sign-in a:visited {color:#333; font-weight:bold; text-decoration:none;}
.sign-in a:hover, .sign-in a:active {text-decoration:underline;}

.main-menu-wrapper {
    /* z-index:2; */
    background-color: #FFF;
    width:100%;
    @media only screen and (min-width:48em) {
        position: absolute;
    }
}

@media only screen and (min-width:48em) {
    body.mappage .main-menu-wrapper {
        position: fixed
    }
}

.main-menu {

  li {
      font-family: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif;
      margin: 0;

      span { display: none }

      a {
          padding: 0.5em 1em;
          background: #f6f6f6;
          color: #333;
          font-size: 1.25em;
          border-bottom: 0.25em solid #333;
          display: block;

          &:link, &:visited {
              color: $hart_primary;
              text-decoration: none;
          }
          &:hover {
              background-color: $hart_primary;
              color: #FFF;
          }
      }
  }
  @media only screen and (min-width:48em) {
    margin-top: 173px;
    height: 2em;
    max-width: 60em;
    margin: 173px auto 0 auto;

    li {
      float: left;
      margin-left: 1em;
      text-align: center;

      span { 
        display: inline;
      }

      a {
          padding: 0;
          background: #fff;
          color: #333;
          font-size: 1em;
          border-bottom: 0;
          display: inline;

          &:link, &:visited {
              color: $hart_primary;
              text-decoration: none;
          }
          &:hover {
              background-color: #fff;
              color: $hart_primary;
              text-decoration: underline;
          }
      }
    }
  }
}

#front-main {
  background-color: #FFF;

  #front-main-container {
    padding-bottom: 1em;
  }
}

#postcode-intro {
  background-color: #FFF;
  color: $hart_primary;
  padding-bottom: 1em;
}

.content,
body.frontpage .table-cell .content {
  margin-bottom: 2em;
}

.hart-footer-wrapper {

    background-color: #4F5757;
    clear: both;
    height: auto;
    overflow: hidden;
    padding: 15px 15px 50px 15px;
    color:#fff; 

    @media only screen and (min-width:48em) {
        margin-left:-15px; 
        padding: 35px 25px 40px 25px;
    }

    #footer_outside_wrapper {
        max-width: 60em;
        margin: 0 auto;
        #footer_inside_wrapper {
            display: block;

            #footer-right {
                @media only screen and (min-width:48em) {
                    float: right;
                    width: 30%;
                }

                .region-footer-right {
                    float: left;
                    max-width: 319px;
                }
            }
            #footer-images {
                width: 50%;
                text-align: right;
                padding-bottom: 10px;
                margin-bottom: 0px;
                @media only screen and (min-width:48em) {
                    margin-top: 1.5em;
                    padding-bottom: 1em;
                }
                float: right!important;
                text-decoration: none!important;
                img {
                    margin-bottom: 5px;
                }
                a, a:hover, a:active {
                    text-decoration: none;
                }
            }
        }
    }
    .footer_border {
        display: block;
    }
    p {
      margin: 0;
    }
    a:link, a:visited { 
        color: #fff; text-decoration: none; 
    }
    a:hover, a:active { 
        text-decoration: underline;
    }

    footer#hart-footer {
        margin-top: 0;

        @media only screen and (min-width:48em) {
            width: 70%;
            float: left;
        }
    }

    #copyright-block {
        float: left;
        margin-left: 1em;
    }
    #copyright-block-mobile {
        margin-left: 10px;
    }

    #footer-row-2 {
        margin-top: 2em;
    }

    .footer-nav,  {
        height:35px; 

        margin-left: 0;
        margin-bottom: 0;

        @media only screen and (min-width:48em) {
            float: right; 
        }

        li { 
            list-style-type: none;
            float: left; 
            width: 50%;
            margin-bottom: 0;

            a {
                display: block;
                border-bottom:1px solid #797f7f; 
                padding: 10px 0;
                margin-left: 10px;
                margin-right: 10px;
            }
            @media only screen and (min-width:48em) {
                border-right:1px solid #fff; 
                width: auto;
                a {
                    border-bottom: none;
                    padding: 0 10px;
                    margin-left: 0;
                    margin-right: 0;
                }
                &:last-child { 
                    border: none; 
                    padding-right: 0;
                }
            }
        }
    }
}

// IE specific CSS
.ie6 {
    div { zoom: 1; }
    .hart-wrapper { padding: 0; }
    #hart-footer { margin: 0; }
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; width: 68px; line-height: 24px; }
    input.button { overflow: visible; width: 1%; }
}
.ie7 {
    div { zoom: 1; }
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; width: 68px; line-height: 24px; }
    input.button { overflow: visible; }
}
.ie8 {
    //#search input { padding: 8px 5px 2px; }
    //#search input.button { padding: 0; line-height: 24px; }
}

// mySociety additions
.hart-header {
  font-size: 12px;
  clear: both;
}

.header-nav ul {
  margin: 0;
}

.header-nav li {
  list-style-type: none;
}

.main-menu ul {
  margin: 0;
  padding-top: 8px;
}

.main-menu li {
  list-style-type: none;
  color: #000;
}

.main-menu li.last {
  padding-right: 0;
}

.main-menu li.last a:hover, .main-menu li.last a:active {
}

//#search input { display: inline; margin: 0; @include border-radius(0em); }
//#search input.button { font-weight: normal; text-transform: none; }
// The footer breaks the map pages layout, easier to exclude it than
// work out how to make it not be broken.
body.mappage .hart-footer-wrapper {
  display: none;
}
#hart-powered-by {
    float: left;
    width: 50%;
    a {
        margin-left: 10px;
    }
    @media only screen and (min-width:48em) {
        a {
            margin-left: 1em;
        }
    }
    img {
        float: none;
        margin-top: 0;
    }
}

.item-list--reports__item small {
    display: inline;
}

#fms_pan_zoom {
    top: 12em;
}

#hart_hants_note {
    background-color: lighten($hart_primary, 30%);
    padding: 0.5em;
    font-size: 0.8em;
}
