@import "_variables";
@import "../sass/layout";

body.twothirdswidthpage .content {
    .sticky-sidebar {
        aside {
            top: 14em;
        }
    }
}

#site-logo {
    height: $mappage-header-height;
    font-size: 30px;
}

.nav-menu {
    padding-bottom: 0;
    a,
    span,
    a.report-a-problem-btn,
    span.report-a-problem-btn {
        line-height: 1em;
        font-size: 18px;
        cursor: pointer;
        padding: 0.75em 1em;
        margin: 1em 0;
        margin-left: 0.5em;
    }

    span.report-a-problem-btn, span {
        background-color: $primary_b;
        color: $nav_colour;

        &:hover {
            background-color: $primary_b;
            color: $nav_colour;
            cursor: auto;
        }
    }

    :first-child {
        a,
        span,
        span.report-a-problem-btn {
            margin-top: 1em;
        }
    }

    a.report-a-problem-btn {
        @include border-radius(0);
        &:hover {
            background-color: $primary_b;
            color: $nav_colour;
        }
    }
}

#front-main {
    background: transparent;
    padding: 0 1em;
    margin: 3em auto 5em auto;
    max-width: $container-max-width;

    #front-main-container {
        max-width: 40em;
        text-align: left;
        padding: 1.5em 0 2em 0;
        margin-left: 1em;
        @include hart-boxshadow(20px, 20px, 0 , 0, $primary);
        background-color: $primary_b;
    }

    #postcode-intro {
        margin-right: 1em;
        margin-left: 1em;
    }

    #postcodeForm {
        padding: 0 2em;
    }
}

#front_stats big {
    color: $col_big_numbers;
}

.big-green-banner {
    color: $primary_text;
    background: $col_click_map inline-image("../fixmystreet/images/chevron-white-#{$right}.svg") $right center no-repeat;
}

// Footer
.lgd-footer {
    .block-webform {
        margin-bottom: 0;
        @media (min-width: 64em) {
            max-width: 400px;
        }
    }
    .block-bbd-custom.block-bbd-web-chat {
        position: absolute;
        right: 0;
        top: 0;
    }

    #block-copyrightfooter {
        align-self: flex-end;
        text-align: right;
    }
}

.lgd-row__one-third {
    margin: 0;
    width: 100%;
}

.lgd-region__inner--footer-first {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    & > .block {
        width: 44%;
    }
}
