@import "_colours";
@import "../sass/layout";

@media only screen and (min-width: 48em) {
  .content {
    margin-top: 11em;
  }

  }
  #front-main-container {
      background-color: $hart_primary;
}

#report-a-problem-sidebar {
  top: 11em;
}
