                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    [% INCLUDE 'main_menu.html' extra_class = 'nav-menu--main' %]
                </div>
            </div>
        </div>
    </div> <!-- .wrapper -->

    [% IF pagefooter %]
    <footer class="site-footer">
        <div class="container">
            <section class="site-footer__useful-links">
                <h2 class="site-footer__heading">Useful links</h2>
                <ul class="site-footer__list item-list item-list--inline">
                    <li class="site-footer__list__item item-list__item"><a class="site-footer__link" href="https://www.harrogate.gov.uk/accessibility">Accessibility</a></li>
                    <li class="site-footer__list__item item-list__item"><a class="site-footer__link" href="https://www.harrogate.gov.uk/contactus">Contact us</a></li>
                    <li class="site-footer__list__item item-list__item"><a class="site-footer__link" href="https://www.harrogate.gov.uk/feedback">Feedback</a></li>
                    <li class="site-footer__list__item item-list__item"><a class="site-footer__link" href="https://www.harrogate.gov.uk/terms">Terms of use</a></li>
                    <li class="site-footer__list__item item-list__item"><a class="site-footer__link" href="https://www.harrogate.gov.uk/cookies">Privacy and cookies</a></li>
                    <li class="site-footer__list__item item-list__item"><a class="site-footer__link" href="http://www.northyorks.gov.uk/" target="_blank">North Yorkshire County Council</a></li>
                    <li class="site-footer__list__item item-list__item"><a class="site-footer__link" href="https://www.gov.uk/" target="_blank">GOV.UK</a></li>
                    <!-- <li><a href="https://www.harrogate.gov.uk/site_map" rel="nofollow">Site map</a></li> -->
                </ul>
                <p class="site-footer__rights">© 2016 Harrogate Borough Council</p>
                <p class="site-footer__rights-two">
                    Powered by <a class="platform-logo" href="https://fixmystreet.com/about/council/">FixMyStreet for Councils</a>
                </p>
            </section>
        </div>
    </footer>
    [% END %]

    [% INCLUDE 'common_footer_tags.html' %]
    <script src="[% version('/cobrands/harrogate/js.js') %]"></script>

</body>
</html>
