<ul class="nav-menu [% extra_class %]">
    <li><[% IF c.req.uri.path == '/'
        %]span[% ELSE %]a href="/"[% END %] class="report-a-problem-btn"
        >[% loc("Report a problem") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
    %]<li><[% IF c.req.uri.path == '/my'
        %]span[% ELSE %]a href="/my"[% END
        %]>[% c.user_exists ? loc("Your account") : loc("Sign in") %]</[% c.req.uri.path == '/my' ? 'span' : 'a' %]></li>[%
    %]<li><[% IF c.req.uri.path == '/reports/Harrogate'
        %]span[% ELSE %]a href="/reports/Harrogate"[% END
        %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports/Harrogate' ? 'span' : 'a' %]></li>[%
    %]<li><[% IF c.req.uri.path == '/alert'
        %]span[% ELSE %]a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]"[% END
        %]>[% loc("Local alerts") %]</[% c.req.uri.path == '/alert' ? 'span' : 'a' %]></li>[%
    %]<li><[% IF c.req.uri.path == '/faq'
        %]span[% ELSE %]a href="/faq"[% END
        %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>[%
    %]<li class="nav-menu__item--privacy"><[% IF c.req.uri.path == '/privacy'
        %]span[% ELSE %]a href="/privacy"[% END
        %]>[% loc("Privacy") %]</[% c.req.uri.path == '/privacy' ? 'span' : 'a' %]></li>
</ul>
