<footer class="northamptonshire">
    <p>© Northamptonshire County Council 2019</p>
    <ul>
        <li><a href="https://www3.northamptonshire.gov.uk/accessibility-and-web-standards/Pages/default.aspx">
            Accessibility and standards
        </a></li>
        <li><a href="https://www3.northamptonshire.gov.uk/accessibility-and-web-standards/Pages/terms-and-conditions.aspx">
            Terms and conditions
        </a></li>
        <li><a href="https://www3.northamptonshire.gov.uk/councilservices/council-and-democracy/transparency/information-policies/privacy-notice/place/Pages/street-doctor.aspx">
            Privacy notice
        </a></li>
        <li><a href="https://www3.northamptonshire.gov.uk/accessibility-and-web-standards/Pages/copyright.aspx">
            Copyright statement
        </a></li>
        <li><a href="https://www3.northamptonshire.gov.uk/councilservices/council-and-democracy/have-your-say/Pages/default.aspx">
            Have your say
        </a></li>
        <li><a href="https://www3.northamptonshire.gov.uk/contact-us/Pages/default.aspx">
            Contact us
        </a></li>
    </ul>
</div>
