<div class="bristol_footer">
    <footer role="contentinfo" class="clearfix">

<div class="span8">
  <div id="footer-logo">
    <p>
      <a href="https://www.bristol.gov.uk" title="Bristol City Council">Bristol City Council</a>
    </p>
  </div>
  <div class="legal-nav">
    <ul class="linklist">
      <li>
        <a href="https://www.bristol.gov.uk/contact">Contact</a>
      </li>
      <li>
        <a href="https://www.bristol.gov.uk/complaints">Complaints and feedback</a>
      </li>
      <li>
        <a href="https://www.bristol.gov.uk/about-our-website/cookies">Cookies</a>
      </li>
      <li>
        <a href="https://www.bristol.gov.uk/about-our-website/privacy">Privacy</a>
      </li>
      <li>
        <a href="https://www.bristol.gov.uk/about-our-website/accessibility">Accessibility</a>
      </li>
    </ul>
  </div>
</div>
<div class="span4">
  <div class="footer-title">
    Follow us:
  </div>
  <div class="footer-social-links">
    <ul class="linklist">
      <li>
        <a href="http://www.facebook.com/BristolCouncil" title="Follow us on Facebook"><img alt="Facebook" src="/cobrands/bristol/img/facebook.png"></a>
      </li>
      <li>
        <a href="http://www.twitter.com/bristolcouncil" title="Follow us on Twitter"><img alt="Twitter" src="/cobrands/bristol/img/twitter.png"></a>
      </li>
      <li>
        <a href="http://www.youtube.com/bristolcitycouncil" title="Follow us on Youtube"><img alt="Youtube" src="/cobrands/bristol/img/youtube.png"></a>
      </li>
      <li>
        <a href="http://www.flickr.com/photos/bristolcouncil" title="Follow us on Flickr"><img alt="Flickr" src="/cobrands/bristol/img/flickr.png"></a>
      </li>
      <li>
        <a href="http://news.bristol.gov.uk/feed/en" title="Council news RSS feed"><img alt="Council news RSS feed" src="/cobrands/bristol/img/rss.png"></a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <a href="https://www.bristol.gov.uk/about-our-website/copyright">Copyright&nbsp;© 2015 Bristol City Council</a>
  </div>
</div>

    </footer>
</div>
