$color-societyworks-yellow: #FED876;
$color-societyworks-pink: #E65376;
$color-societyworks-offwhite: #F7F6F5;
$color-societyworks-black: #333;
$color-societyworks-dark-gunmetal: #3B3F44;
$color-societyworks-bright-blue: #0BA7D1; // useful for links!
$color-societyworks-warm-grey: #9e9a98;
$color-societyworks-bright-green: #0BD198;

$color-societyworks-borders: darken($color-societyworks-offwhite, 10%);

$primary: $color-societyworks-offwhite; // background on #postcodeForm, #front_stats, #front-main on desktop, and border-bottom on various map page sidebar items
$primary_b: $color-societyworks-borders; // border on div around the #postcodeForm input
$primary_text: $color-societyworks-black; // text colour wherever $primary is the background

$base_bg: #fff; // background on body and .tablewrapper on desktop
$base_fg: $color-societyworks-black; // text color on body and .tablewrapper on desktop

$nav_background_colour: #fff; // background for #site-header on mobile, and `.mappage #site-header` on desktop
$nav_colour: $color-societyworks-black; // text color for `.nav-menu a` on desktop
$nav_hover_background_colour: transparent; // hover text color for `.nav-menu a`

$layout_front_stats_color: $color-societyworks-yellow; // text color for homepage stats on desktop

$col_click_map: $color-societyworks-yellow;  // background for .big-green-banner on map page

$header-top-border: false;
$menu-image: 'menu-black';
$mappage-header-height: 7.75em;
$container-max-width: 72em;

$body-font: "Lato",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$meta-font: $body-font;
$heading-font: Lora, Georgia, serif;

$search-help-alignment: left;
$search-help-background: #fff3f3;
$search-help-header-font-size-desktop: 1.25em;
