@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

#site-header {
    border-bottom: 1px solid $color-societyworks-borders;
    padding: 1em 0;
}

#site-logo {
    width: (240px * 0.75);
    height: (60px * 0.75);
    background-image: url("/cobrands/borsetshire/images/logo.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: (240px * 0.75) (60px * 0.75);
}

#report-cta {
    background-color: $color-societyworks-yellow;
    border: none;
    color: #000;
    font-weight: bold;
    padding: 0.4em 0.8em;
    border-radius: 1em;

    &:hover,
    &:focus {
        background-color: darken($color-societyworks-yellow, 10%);
        color: #000;
    }
}

#front-main {
    margin: 0;
    padding: 2em 1em;
    background: $primary;
    border-bottom: 1px solid $color-societyworks-borders;

    h1 {
        margin-top: 0;
    }
}

.postcode-form-box {
    background: transparent;
    padding: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;

    div {
        border: none;
        background: transparent;
    }
    input#pc {
        background: #fff;
        border-radius: 4px;
        margin-right: 0.5em;
        padding: 0.5em;
        border: 1px solid #aaa;
        }
    input#sub {
        border-radius: 4px;
        background: $color-societyworks-yellow;
        color: #000;
        font-weight: bold;
        padding: 0.5em 1em;

        &:hover, &:focus {
            background: darken($color-societyworks-yellow, 10%);
        }
    }
}

a.geolocate-link {
    padding: 0.5em 0;

    svg {
        display: inline-block;
        margin-right: 0.3em;
        vertical-align: -0.1em;
    }
}

.big-green-banner {
    color: $color-societyworks-black;
    text-transform: none;
    font-family: $body-font;
}

.box-warning {
    background-color: $color-societyworks-yellow;
}

body.mappage {
    #site-header {
        box-sizing: border-box; // reveal the border-bottom
    }
}

body.authpage {
    .content {
        max-width: 27em;
        margin-#{$left}: auto;
        margin-#{$right}: auto;
    }
}

#demo-user-list {
    @include list-reset-soft();
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;

    li {
        margin: 2em 0;
    }

    button {
        width: 100%;
    }

    span {
        color: #666;
        font-size: (14em / 16);
        display: block;
        margin-top: 0.5em;
    }
}

.sticky-sidebar {
    li {
        margin: 0;

        a, strong {
            border: 1px solid #ddd;
            display: block;
            padding: 0.5em 1em;
        }

        & + li {
            a, strong {
                border-top: none;
            }
        }

        &:first-child {
            a, strong {
                border-radius: 4px 4px 0 0;
            }
        }

        &:last-child {
            a, strong {
                border-radius: 0 0 4px 4px;
            }
        }
    }
}

@import "../sass/waste";

// Waste style overrides
.waste {
    .content {
        margin: 2em 0;
    }

    #front-main h1 {
        margin-bottom: 0;
    }

    .govuk-heading-xl,
    .govuk-heading-l,
    .govuk-heading-m,
    .govuk-heading-s,
    .govuk-body,
    .govuk-body-m,
    .govuk-accordion__section-button,
    .govuk-button,
    .govuk-fieldset__legend,
    .govuk-fieldset__legend--xl,
    .govuk-fieldset__legend--l,
    .govuk-fieldset__legend--m,
    .govuk-fieldset__legend--s,
    .govuk-fieldset__heading,
    .govuk-label,
    .govuk-checkboxes__item,
    .govuk-summary-list,
    .govuk-input,
    .govuk-details,
    .govuk-radios__item,
    .govuk-radios__divider,
    .govuk-select,
    .govuk-skip-link,
    .govuk-textarea {
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
    }

    .govuk-heading-xl {
        font-family: $heading-font;
        color: inherit;
        font-size: 2.2em;
        margin-bottom: 1em;
    }

    .govuk-heading-l,
    .govuk-heading-m,
    .govuk-fieldset__heading,
    .govuk-summary-list {
        font-family: inherit;
        color: inherit;
    }

    .govuk-heading-l {
        font-size: 1.4375em;
    }

    .govuk-heading-m {
        font-size: 1.125em;
    }

    .govuk-button {
        @include button-size();
        box-shadow: none;

        @include button-variant(
            lighten($color-societyworks-yellow, 10%),
            $color-societyworks-yellow,
            $color-societyworks-yellow,
            $color-societyworks-black,
            darken($color-societyworks-yellow, 10%),
            $color-societyworks-yellow,
            darken($color-societyworks-yellow, 10%),
            $color-societyworks-black
        );

        &:focus {
            outline: auto;
        }

        &:focus:not(:active):not(:hover) {
            box-shadow: none;
            border-color: darken($color-societyworks-yellow, 10%);
        }
    }

    .govuk-button--secondary {
        @include button-variant();

        &:focus:not(:active):not(:hover) {
            border-color: #ccc;
        }
    }

    .govuk-button-s {
        font-size: 1em;
    }

    .govuk-input {
        border: 1px solid $form-control-border-color;
        @include border-radius(4px);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);

        &:focus {
            border: 1px solid $form-control-border-color;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
            outline: auto;
        }
    }

    .govuk-button-s {
        font-size: 1em;
    }
}

//Secondary navbar
.secondary-navbar {
    border-bottom: 1px solid $color-societyworks-borders;
    background-color: $color-societyworks-yellow;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        span {
            text-align: center;
            margin: 5px 0;
        }

        a.btn {
            margin: 5px 0px 5px 10px;
            padding: 0.5em 0.75em;
            background: lighten($color: $color-societyworks-yellow, $amount: 10%);
            border: 2px solid transparentize($color: white, $amount: 0.3);
            &:hover {
                background: transparent;
                border: 2px solid transparentize($color: #333333, $amount: 0.3);
            }
        }
    }
}
