@import "_colours";
@import "../sass/layout";

#site-logo {
    width: 240px;
    height: 60px;
    background-size: 240px 60px;
}

#site-header {
    padding: 2em 0;
}

.content {
    padding: 0; // no need for padding, as content background colour matches body background (white)
    margin: 2em 0; // reinstate vertical spacing, now that padding has gone
}

.nav-menu--main {
    li + li {
        margin-left: 1.5em;
    }

    a, span {
        padding: 0;
        font-size: 1.125em;
        color: $nav_colour;
    }

    span, span:hover {
        color: $color-societyworks-pink;
    }

    a {
        &:hover,
        &:focus {
            color: $nav_colour;
            box-shadow: 0 3px 0 0 $color-societyworks-pink;
        }
    }

    a.report-a-problem-btn {
        color: $nav_colour;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border-radius: 0;

        &:hover, &:focus {
            background-color: transparent;
        }
    }
}

#front-main {
    background: $primary;
    color: inherit;
    padding: 5% 1em;

    #postcodeForm {
        overflow: visible;

        div {
            width: 100%;
            max-width: 30em;
        }
    }

    h1 {
        font-size: 3em;
    }
}

body.authpage {
    .content {
        width: auto;
        max-width: 30em;
    }

    input {
        max-width: none;
    }
}

#demo-user-list {
    li {
        @include clearfix();
    }

    button {
        float: left;
        width: 40%;
    }

    span {
        float: right;
        width: 55%;
        margin-top: 0;
    }
}
