/* COLOURS */

$green: #006d3c;

$primary: $green;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #F9FFF8;
$base_fg: #000;

$map_nav_bg: #fff;
$nav_fg: #000;
$nav_fg_hover: $primary;

$col_click_map: $green;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
