/* COLOURS */

$green: #006d3c;
$purple: #90428C;

$primary: $green;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #F9FFF8;
$base_fg: #000;

$nav_background_colour: #fff;
$nav_colour: #000;
$nav_hover_background_colour: $primary;

$col_click_map: $purple;

$header-top-border: false;
