@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#front-main #front-main-container {
    color: white;
}

#mega-menu-navbar {
    margin-bottom: 0;
    margin-top: 5px;
}

#site-search input[type=text] {
    display: inline-block;
}


.navbar-fixed-top {
    position: static;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

nav ul li {
    list-style: none;
}