@import "_colours";
@import "../sass/layout";

#site-logo {
    padding: 0.9em 0;
    width: 313px;
    height: 51px;
    background-size: 313px 51px;
}

#front-main {
    padding: 3em 0;

    h1 {
        font-size: 3em;
        line-height: 1.3;
        margin-bottom: 0.1em;
    }
}

.postcode-form-box {
    div {
        width: auto;
        max-width: 38em;
    }
    input#pc {
        max-width: none;
    }

    label {
        margin: 1.5em 0 0.5em 0;
    }
}

.site-footer__section {
    box-sizing: border-box;
    float: left;
    padding: 0 1em;
    width: 25%;

    &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &:nth-child(2) {
        width: 50%;
    }
}
