#mysociety {
    .row {
        margin-left: 0;
    }
    
    #postcodeForm {
        label {
            width: auto;
        }
    }

    #site-nav {
        padding: 0;
        margin-bottom: 1em;

        li {
            display: inline-block;
            margin-right: 1em;
        }
    }
    
    ol.big-numbers {
      padding: 0;
      margin: 0;
      counter-reset: li; // reset counter to be 'li' instead of a number
      > li {
        position: relative;
        list-style: none;
        padding:0 0 0 2.5em;
        margin-bottom:2em;
        &:before {
          content: counter(li); // set the content to be whatever the 'li' var is
          counter-increment: li; // add to the counter var
          position: absolute;
          left: 0;
          top:-0.2em;
          color:#ccc;
          line-height:1;
          font: {
            weight:bold;
            size:2.5em;
          }
        }
      }
    }
    
    #powered_by {
        line-height: 20px;
        margin-top: 1em;

        a {
            font-weight: normal;
            &:hover {
                text-decoration: none;
            }
        }

        img {
            height: 20px;
            width: auto;
            margin: 0;
            padding: 0;
        }
    }
}
