<footer class="pcg-footer-black">
    <div class="container">
        <div class="footer-grid">
            <div class="fms-col is--fms-col-1">
                <a href="https://www.gloucestershire.gov.uk/" class="pcg-footer-new-logo">
                    <img src="https://www.gloucestershire.gov.uk/media/2115934/gccstampwhite.png" class="pcg-footer-black__image" alt="GCC logo link to homepage" title="GCC logo link to homepage">
                </a>
            </div>
            <div class="fms-col is--fms-col-2">
                <h2 class="pcg-footer-black__title">Contact Info</h2>
                <span class="pcg-footer-black__subtitle pcg-contrast__color-alt">Contact email</span>
                <a href="mailto:customerservices@gloucestershire.gov.uk" class="pcg-footer-black__email">customerservices@gloucestershire.gov.uk</a>
                <span class="pcg-footer-black__subtitle pcg-contrast__color-alt">Social media</span>
                <ul class="pcg-footer-black__social">
                    <li class="pcg-footer-black__social-item">
                        <a href="https://www.facebook.com/GloucestershireCountyCouncil/" target="_blank" title="@GloucestershireCountyCouncil" class="pcg-sn-icon pcg-contrast__link-hovered icon icon-facebook">
                            <span class="sr-only">@GloucestershireCountyCouncil</span>
                        </a>
                    </li>

                    <li class="pcg-footer-black__social-item">
                        <a href="https://twitter.com/GlosCC" target="_blank" title="@GlosCC" class="pcg-sn-icon pcg-contrast__link-hovered icon icon-twitter">
                            <span class="sr-only">@GlosCC</span>
                        </a>
                    </li>

                    <li class="pcg-footer-black__social-item">
                        <a href="https://www.instagram.com/gloucestershirecc" target="_blank" title="@gloucestershirecc" class="pcg-sn-icon pcg-contrast__link-hovered icon icon-instagram">
                            <span class="sr-only">@gloucestershirecc</span>
                        </a>
                    </li>

                    <li class="pcg-footer-black__social-item">
                        <a href="https://www.youtube.com/gloscountycouncil" target="_blank" title="@GlosCountyCouncil" class="pcg-sn-icon pcg-contrast__link-hovered icon icon-youtube-play">
                            <span class="sr-only">@GlosCountyCouncil</span>
                        </a>
                    </li>

                    <li class="pcg-footer-black__social-item">
                        <a href="https://www.gloucestershire.gov.uk/gloucestershire-county-council-news/rss/" target="_blank" title="News RSS" class="pcg-sn-icon pcg-contrast__link-hovered icon icon-rss">
                            <span class="sr-only">News RSS</span>
                        </a>
                    </li>
                </ul>
            </div>
            <nav class="fms-col is--fms-col-3">
                <ul class="pcg-footer-black__list">
                    <li class="pcg-footer-black__item">
                        <a href="https://www.gloucestershire.gov.uk/council-and-democracy/data-protection/privacy-notices/gloucestershire-county-council-general-privacy-statement/gloucestershire-county-council-general-privacy-statement/" target="_self" class="pcg-footer-black__link pcg-contrast__link-hovered">Privacy</a>
                    </li>
                    <li class="pcg-footer-black__item">
                        <a href="https://www.gloucestershire.gov.uk/accessibility-statement/" target="_self" class="pcg-footer-black__link pcg-contrast__link-hovered">Accessibility</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

[% PROCESS '_footer_extra_powered_by.html' %]
