                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    <ul class="nav-menu nav-menu--mysoc">
                        <li><a id="mysoc-logo" href="http://www.mysociety.org/">mySociety</a></li>
                    </ul>

                    <ul class="nav-menu nav-menu--main">
                        <li><a href="/around?latitude=10.322;longitude=123.907" class="fmb-bgy-btn">Luz</a></li>
                        <li><a href="/around?latitude=10.288;longitude=123.870" class="fmb-bgy-btn">BSN</a></li>
                        <li><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %] class="report-a-problem-btn"
                            >View problems</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/reports' %]span[% ELSE %]a href="/reports"[% END
                            %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/alert' %]span[% ELSE %]a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]"[% END
                            %]>[% loc("Local alerts") %]</[% c.req.uri.path == '/alert' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
                            %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>
                    </ul>
                </div>
            </div>
        </div>

[% IF global.want_fmb_hidden_dialogs %]
	<!-- fancybox hidden dialogues for message-manager reply/hide/help -->
		<div style="display:none">
			<div id="reply-form-container">
				<form action="#" id="reply-form" onsubmit="event.returnValue = false; return false;" method="post" accept-charset="utf-8">
					<div style="display:none;">
						<input type="hidden" name="_method" value="POST"/>
					</div>
					<!-- populated by Ajax call -->
					<div class="input" id="mm-boilerplate-replies-box">
						<label for="boilerplate-replies">Use preloaded reply:</label>
						<select name="boilerplate-replies" id="mm-boilerplate-replies"></select>
					</div>
					<div class="input text">
						<label for="reply_text">Reply text</label>
						<textarea name="reply_text" id="reply_text" cols="32" rows="3"></textarea>
					</div>
					<input type="hidden" name="message_id" id="reply_to_msg_id"/>
					<div class="submit">
						<input  id="reply-submit" type="submit" value="Send Reply"/>
					</div>
				</form>
			</div>
		</div>
		<div style="display:none">
			<div id="hide-form-container">
				<p style="color:#000">Hiding message: <span id="hide-form-message-text"></span></p>
			    <form action="#" id="hide-form" onsubmit="event.returnValue = false; return false;" method="post" accept-charset="utf-8">
					<div style="display:none;">
						<input type="hidden" name="_method" value="POST"/>
					</div>
					<!-- populated by Ajax call -->
					<div class="input" id="mm-boilerplate-hide-reasons-box">
						<label for="boilerplate-hide-reasons">Use preloaded reason:</label>
						<select name="boilerplate-hide-reasons" id="mm-hide-reasons"></select>
					</div>
					<div class="input textarea">
						<label for="reason_text">Reason for hiding message</label>
						<textarea name="reason_text" id="reason_text" cols="32" rows="3"></textarea>
					</div>
					<input type="hidden" name="msg_id" id="hide_msg_id"/>
					<div class="submit">
						<input  id="hide-submit" type="submit" value="Hide Message"/>
					</div>
				</form>
			</div>
		</div>
		<div style="display:none">
			<div id="detach-form-container" class="fancybox-popup">
				<p>
					Are you sure you want to detach this message?
				</p>
				<p>
					Message Manager probably thinks this message is a reply because
					it came in from a number to which we'd recently sent an outward reply.
				</p>
				<p>
					If you detach the message, it will appear as a new, available message (instead of being a reply).
				</p>
				<form action="/dummy" id="detach-form" onsubmit="event.returnValue = false; return false;" method="post" accept-charset="utf-8">
					<div style="display:none;">
						<input type="hidden" name="_method" value="POST">
					</div>
					<input type="hidden" name="msg_id" id="detach_msg_id">
					<div class="submit">
						<input id="detach-submit" type="submit" value="Detach Message">
					</div>
				</form>
			</div>
		</div>
		<div style="display:none">
			<div id="mm-help" style="font-size:90%;">
				<h2> Accessing Message Manager from FixMyBarangay (FMB)</h2>
				<h3>
					Logging into Message Manager
				</h3>
				<p>
					You'll need a username and password (ask your manager if you haven't already got one). Your Message Manager password
					might not be the same as your FMB password.
				</p>
				<p>
					When you've logged in, you'll see the currently available messages (and any replies that have been sent to them).
					You <em>only</em> see messages that are waiting to be used to make reports, and which are tagged with the keywords
					your login allows you to see (these may mean you only see messages for your own barangay).
					If you want to see any other messages, you'll need to have a manager or admin account on Message Manager: click on the 
					<a href="[% c.config.MESSAGE_MANAGER_URL %]">admin</a> link to get there.
				</p>
				<p>
				[% IF global.is_fmb_creation_page %]
					<h3>
						Creating a new report from a message 
					</h3>
					<p>
						If you want to use a message to create a problem report, you'll need to select it first. Click on the radio button. When the message
						is selected, it will go bright green. Now when you click on the map, the report will be used to create the report.
					</p>
					<p>
						To stop two people replying to a message at the same time, if anyone else has just started working on it, you'll see a message
						warning you, and you won't be able to select the radio button. Normally, if nobody works with a message, such a lock is released 
						after about 3 minutes.
					</p>
				[% ELSE %]
					<p>
						Click <strong>show messages for this report</strong> to see
						the message (or messages) that contributed to this report. Often this will be a single message
						if the problem was submitted by SMS. But it will also include any messages that have been 
						added as updates, as well as any replies that were sent back by barangay staff.
						As well as letting you review the background to the report, this also lets you reply (for example, 
						to notify the original reporter that the problem has been fixed).
					</p>
					<h3>
						Adding a message as an update to this report
					</h3>
					<p>
						If you want to add this message's contents as an update to this report, you'll need to select it first. Click 
						on the radio button. When the message is selected, it will go bright green. Now when you click on the 
						<strong>COPY&nbsp;TO&nbsp;UPDATE</strong> button, the message text will be added to this report's update text.
						You can edit the text before clicking <strong>POST</strong>.
					</p>
				[% END %]
				<h3>
					<span class="demo_detach_btn">detach</span> Detaching a message ("not a reply")
				</h3>
				<p>
					Message Manager tries to notice when an incoming message is a reply. Sometimes it guesses wrong. To detach a
					message from its parent &mdash; that is, to mark it as <em>not a reply</em>, hover over the message and click
					<span class="demo_detach_btn">detach</span>.
				</p>

				<h3>
					<span class="demo_reply_btn">reply</span> Replying to a message
				</h3>
				<p>
					You can send an SMS back to the original sender: just hover over the message and click <span class="demo_reply_btn">reply</span>. It will usually
					take a few minutes for the message to arrive.
				</p>
				<h3>
					<span class="demo_info_btn">i</span> Getting message info
				</h3>
				<p>
					Hover over a message and click on its <span class="demo_info_btn">i</span> button to see when it was sent. 
					You can also see the sender, although not their
					actual number (instead the number is scrambled, but will be the <em>same scrambled number</em> on other messages they've sent).
				</p>
				<h3>
					<span class="demo_hide_btn">X</span> Hiding a message
				</h3>
				<p>
					If a message can't be used to create a report, you can hide it by hovering over it and clicking its <span class="demo_hide_btn">X</span> button. If you're not
					going to create a problem report with this message, you might like to reply first, to tell the person who sent the message why not.
					When you click the X, give a reason why you're hiding it so other staff (managers in Message Manager) can see why the message was hidden.
				</p>
			</div>
		</div>

[% END %]

<!-- [% INCLUDE 'debug_footer.html' %] -->
    </div> <!-- .wrapper -->
</body>
</html>
