<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 7]>   <html class="no-js ie7 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 8]>   <html class="no-js ie8 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if IE 9]>   <html class="no-js ie9 oldie" lang="[% lang_code %]"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="[% lang_code %]"><!--<![endif]-->
    <head>
        <meta name="viewport" content="initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="HandHeldFriendly" content="true">
        <meta name="mobileoptimized" content="0">

[% SET start = c.config.ADMIN_BASE_URL IF admin %]

        <link rel="stylesheet" href="[% start %][% version('/cobrands/fixmybarangay/base.css') %]">
        <link rel="stylesheet" href="[% start %][% version('/cobrands/fixmybarangay/layout.css') %]" media="(min-width:48em)">
        [% extra_css %]
        <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="[% start %][% version('/cobrands/fixmybarangay/layout.css') %]">
        <![endif]-->

        <script src="[% start %][% version('/js/modernizr.custom.js') %]" charset="utf-8"></script>
        <script src="[% start %][% version('/cobrands/fixmybarangay/position_map.js') %]" charset="utf-8"></script>
        [% INCLUDE 'common_header_tags.html' js_override = '/cobrands/fixmystreet/fixmystreet.js' %]
        [% extra_js %]

        [% allow_creation = !c.cobrand.only_authed_can_create || (c.user && c.user.from_body); %]
        [% IF allow_creation %]
            <link rel="stylesheet" href="[% start %][% version('/js/fancybox/jquery.fancybox-1.3.4.css') %]">
            <script src="[% start %][% version('/js/fancybox/jquery.fancybox-1.3.4.pack.js') %]" charset="utf-8"></script>
            <script src="[% start %][% version('/cobrands/fixmybarangay/message_manager_client.js') %]" charset="utf-8"></script>
            <script>
                $(document).ready(function() {

                    $('#mm_sign_out').click(function(){
                        message_manager.sign_out();
                    });

                    [% IF c.req.params.external_source_id && problem && problem.external_source_id.match('^\d+$') %]
                        var mm_msg_id ="[% c.req.params.external_source_id %]";
                        var fms_id = "[% problem.id %]";
                        if (mm_msg_id && fms_id) {
                            message_manager.config({url_root: "[% c.config.MESSAGE_MANAGER_URL %]"});
                            message_manager.assign_fms_id(mm_msg_id, fms_id);
                        }
                    [% END %]
                });
            </script>
        [% END %]
    </head>
    <body class="[% bodyclass | html IF bodyclass %]">

    <div class="wrapper">
        <div class="table-cell">
            <header id="site-header" role="banner">
                <div class="container">
                    <a href="/" id="site-logo">FixMyBarangay</a>
                    <a href="#main-nav" id="nav-link">Main Navigation</a>
                </div>
            </header>

            <div id="user-meta">
                [% IF c.user_exists %]
                <p>
                    [% tprintf(loc('Hi %s'), c.user.name || c.user.email) %] 
                    <a href="/auth/sign_out" id="mm_sign_out">[% loc('sign out') %]</a>
                </p>
                [% ELSE %]
                    <!-- <a href="/auth">[% loc('Sign in') %]</a> -->
                [% END %]
            </div>

            [% pre_container_extra %]

            <div class="container">
                <div class="content[% " $mainclass" | html IF mainclass %]" role="main">

        <!-- [% INCLUDE 'debug_header.html' %] -->
