/* COLOURS */

$green: #0a4;

$primary: $green;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #fff;
$base_fg: $primary_text;

$map_nav_bg: #fff;
$nav_fg: #222;
$nav_fg_hover: $primary;

$col_click_map: $green;
$col_click_map_dark: darken($green, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
