@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#site-header {
  background: none;
}

#site-logo {
  width: 175px;
  height: 45px;
  background: url(/cobrands/dansmonqwat/logo_sm.png);
}
