[% USE date %]

<footer class="camden-footer" role="contentinfo" class="clearfix">
  <div class="container">
    <div class="footer-section">
      <a class="footer-logo" href="https://www.camden.gov.uk" title="The London Borough of Camden">The London Borough of Camden</a>
    </div>

    <div class="footer-section">
      <ul class="unstyled-list">
        <li>
          <a href="https://www.camden.gov.uk/data-protection-privacy-and-cookies">Privacy Statement & Cookies</a>
        </li>
        <li>
          <a href="https://www.camden.gov.uk/accessibility#coru">Accessibility statement</a>
        </li>
      </ul>
    </div>

    <div class="footer-section">
      <span>Copyright&nbsp;&copy; [% date.format(date.now, '%Y') %] The London Borough of Camden</span>
    </div>
  </div>
</footer>
[% PROCESS '_footer_main_nav.html' %]
