<div id="location-buttons">
    <!-- 
      Fonadhoo (the island)
      Barasil (northern most)
      Medhuavah (in the middle)
      Kurigam (south)
    -->
    <div class="island-button">
      <a href="/around?pc=Fonadhoo" class="front-page-button">Fonadhoo island</a>
    </div>
    <a href="/around?latitude=1.846;longitude=73.510" class="front-page-button">Barasil</a>    
    <a href="/around?latitude=1.833;longitude=73.501" class="front-page-button">Medhuavah</a>
    <a href="/around?latitude=1.822;longitude=73.488" class="front-page-button">Kurigam</a>

</div>
