[%

color_shropshire_blue = '#007DB8'
color_shropshire_green = '#008A0E'
color_shropshire_very_pale_blue = '#e4f6ff'
color_shropshire_very_pale_grey = '#f4f4f4'

body_background_color = color_shropshire_very_pale_grey
body_text_color = color_black

header_background_color = color_shropshire_blue
header_text_color = color_white

secondary_column_background_color = color_shropshire_very_pale_blue

button_background_color = color_shropshire_green
button_text_color = color_white

logo_file = 'sc-logo-v3.png'
logo_width = "150" # pixel measurement, but without 'px' suffix
logo_height = "45" # pixel measurement, but without 'px' suffix

%]
