[%

color_shropshire_blue_dark = '#132f65'
color_shropshire_blue = '#2A79AB'
color_shropshire_green = '#00873f'
color_shropshire_very_pale_blue = '#e4f6ff'
color_shropshire_very_pale_grey = '#f4f4f4'

body_background_color = color_shropshire_very_pale_grey
body_text_color = color_black

header_background_color = color_shropshire_blue_dark
header_text_color = color_white

secondary_column_background_color = color_shropshire_very_pale_blue

button_background_color = color_shropshire_blue
button_text_color = color_white

logo_file = 'sc-logo-v3.png'
logo_width = "150" # pixel measurement, but without 'px' suffix
logo_height = "33" # pixel measurement, but without 'px' suffix

%]
