@import "_colours";
@import "../sass/layout";

#site-logo,
.site-logo {
    width: 200px;
    height: 60px;
    background-size: 200px 60px;
}

.nav-menu--main {
    li + li {
        margin-left: 1.5em;
    }

    a, span {
        padding: 0;
        font-size: 1em;
        font-weight: bold;
        color: $nav_colour;
    }

    a {
        &:hover,
        &:focus {
            color: $nav_colour;
            box-shadow: 0 4px 0 0 $color-he-brightblue;
        }
    }

    a.report-a-problem-btn {
        color: $nav_colour;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border-radius: 0;

        &:hover, &:focus {
            background-color: transparent;
        }
    }
}

div.form-error,
p.form-error {
    @include flex-container();
}

#front-main {
    padding: 0 0 2% 0;

    #front-main-container {
        padding: 0;
    }

    h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .hero-bg {
        padding: 5% 1em;
    }
}

.postcode-form-box {
    overflow: visible;

    div {
        width: 100%;
        max-width: 30em;

        input#sub {
            padding: 0.5em 1.5em;
        }
    }
}

.site-footer {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
}

// NH want the inspector form to be wider
.with-actions {
    #side-inspect {
        width: 100%;
        input[type=text], input[type=password], input[type=email], textarea {
            max-width: 100%;
        }
    }
}
