@import "../sass/h5bp";
@import "_variables";
@import "_fonts";
@import "../sass/mixins";

@import "../sass/base";

/*TYPOGRAPHY */
h1 {
  font-size: 1.9rem;
}

h1, .h1,
h2, .h2,
h3, .h3, 
.item-list__heading {
    font-weight: 500;
    color: $cobrand_black_headings;
}

body {
  p {
    font-weight: 300;
  }
}

/* INPUT */
.govuk-label {
  font-size: 1rem;
}

.govuk-small .govuk-multi-select__label {
  font-size: 0.9rem;
}


/* BUTTONS */

// The button size for their buttons in their website is
// 1.275rem but that makes the button quite which might cause conflicts.

.btn-crt, .btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
  border-radius: 50px;
  text-decoration: none;
}

.postcode-form-box input#sub:focus {
  &:focus {
    background-color: $cobrand_blue_800;
    outline: none;
    box-shadow: none;
  }
}

a#geolocate_link {
  @include button-variant($bg-top: $button-primary-bg-top, $bg-bottom: $button-primary-bg-bottom, $border: $button-primary-border, $text: $button-primary-text, $hover-bg-bottom: $button-primary-hover-bg-bottom, $hover-bg-top: $button-primary-hover-bg-top, $hover-border: $button-primary-hover-border, $hover-text: $button-primary-hover-text,$focus-bg-bottom: $button-primary-focus-bg-bottom, $focus-bg-top: $button-primary-focus-bg-top, $focus-border: $button-primary-focus-border, $focus-text: $button-primary-focus-text);
  text-decoration: none;
  @extend .btn-crt;
}

#report-cta {
  @include button-variant($bg-top: $button-secondary-bg-top, $bg-bottom: $button-secondary-bg-bottom, $border: $button-secondary-border, $text: $button-secondary-text, $hover-bg-bottom: $button-secondary-hover-bg-bottom, $hover-bg-top: $button-secondary-hover-bg-top, $hover-border: $button-secondary-hover-border, $hover-text: $button-secondary-hover-text,$focus-bg-bottom: $button-secondary-focus-bg-bottom, $focus-bg-top: $button-secondary-focus-bg-top, $focus-border: $button-secondary-focus-border, $focus-text: $button-secondary-focus-text);
  padding: 1em 1em;
  font-weight: 500;
  @extend .btn-crt;
}

a,
.fake-link {
  &:focus-visible {
    outline: 3px solid $cobrand_yellow;
  }
}


/* NAVBAR */
#site-logo {
  background-image: url("/cobrands/canalrivertrust/images/logo.svg");
  background-size: auto 4rem;
  height: 5rem;
}

.nav-menu--main {
  a {
    background-color: $cobrand_white;
    color: $primary;
    text-decoration: none;

    &:visited {
      color: $primary;
    }
  }

  span {
    background-color: $primary;
    color: $primary_text;
  }
}

/* FRONTPAGE */
#front-main-container {
  border-radius: 0.375rem;
}

.postcode-form-box {
  input#sub {
    font-family: $body-font;
    background-color: $button-primary-bg-top;

    &:hover {
      background-color: $button-primary-hover-bg-top;
      color: $button-primary-text;
    }
  }
}

/* OTHERS */
.item-list__item {
  a {
    text-decoration: none;
  }
}

/* SITE MESSAGE */
.site-message {
  // Took from https://www.figma.com/design/pgFRt1j7ayP0C7UKV7Tm46/CRT-Design-System--1-?node-id=6340-3505&m=dev
  background-color: $cobrand_blue_800;
  color: $primary_text;
  padding: 1.5rem;
  border: none;
  word-wrap: break-word;

  a {
    color: $primary_text;
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: none;
      color: $primary_text;
    }
  }
}

@import "../fixmystreet-uk-councils/societyworks-footer";
