/* LAYOUT */

$container-max-width: 1024px;

/* COLOURS */
$shropshire-dark-blue: #132f65; // CTA buttons in header/nav
$shropshire-royal-blue: #2266CA; // links
$shropshire-blue: #2A79AB; // primary brand colour
$shropshire-blue-l1:#2583c5; // border
$shropshire-pale-blue: #87CEEB; // footer links
$shropshire-white: #fff;

$shropshire-green: #00873f; // CTA buttons in body content
$shropshire-mid-grey: #555555; // headings and paragraphs
$shropshire-dark-grey: #2C2C2C; // focussed button bg, hovered primary button bg
$shropshire-yellow: #EEB92A; // focus outlines
$shropshire-red: #D43531; // destructive actions

$primary: $shropshire-blue;
$primary_b: #333;
$primary_text: $shropshire-mid-grey;

$base_bg: #f4f4f4;
$base_fg: $shropshire-mid-grey;

$nav_background_colour: $shropshire-dark-blue;
$nav_colour: $shropshire-white;
$nav_hover_background_colour: $shropshire-dark-blue;

$header-top-border: false;

$geolocation-link: $base_bg;
$geolocation-link-border: $shropshire-green;
$geolocation-link-background-color: $shropshire-green;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: $shropshire-green;
$col_click_map: $shropshire-blue;

$body-font: 'Helvetica Neue', Arial, Helvetica, 'Segoe UI', sans-serif;
$heading-font: 'myriad-pro', 'Helvetica Neue', Arial, Helvetica, 'Segoe UI', sans-serif;;
$meta-font: $body-font;

$mappage-header-height: 64px;

$dropzone-button-text: $shropshire-white;

$front-main-container-background-desktop: $shropshire-white;
$postcodeform-background: transparent;

@mixin shropshire-form-input($margin: 0.5em 0, $padding: 5px) {
    margin: $margin;
    padding: $padding;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: none;

    &:focus {
        outline: none; // hide browser default outline, to match screenshot in branding guidelines
        border: 1px solid #52A8EC;
        box-shadow: 0 1px 3px #000, 0 0 8px #52A8EC;
    }
}

@mixin shropshire-form-label() {
    color: #555;
    font-weight: 700;
}

@mixin shropshire-button-primary($padding: 0.33em 1em, $font-size: 1em, $line-height: 1.5em) {
    border: none;
    font-weight: normal;

    text-align: center;
    font-size: $font-size;
    line-height: $line-height;
    padding: $padding;
    border-radius: 4px;
    border: 2px solid $shropshire-blue;
    background: $shropshire-blue;
    color: #fff !important;

    &:focus {
        border: 2px solid $shropshire-dark-blue;
        background: $shropshire-dark-blue;
        color: #fff !important;
        outline: solid 3px $shropshire-yellow;
    }

    &:hover {
        border: 2px solid $shropshire-dark-blue;
        background: $shropshire-dark-blue;
        color: #fff !important;
    }
}

@mixin shropshire-button-secondary($padding: 0.33em 1em, $font-size: 1em, $line-height: 1.5em) {
    font-weight: normal;

    text-align: center;
    font-size: $font-size;
    line-height: $line-height;
    padding: $padding;
    border: 2px solid $shropshire-green;
    border-radius: 4px;
    background: $shropshire-green;
    color: #fff !important;

    &:focus {
        background: $shropshire-dark-grey;
        border: 2px solid $shropshire-dark-grey;
        color: #fff !important;
        outline: solid 3px $shropshire-yellow;
    }

    &:hover {
        background: #fff !important;
        color: $shropshire-green !important;
    }
}
