@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";
@import "cookies";

a,
.fake-link {
    text-decoration: underline;
    color: $shropshire-royal-blue;
    &:hover,
    &:active {
        color: $shropshire-dark-grey;
        // text-decoration: none;
    }

    #js-reports-list & {
        text-decoration: none;
    }
}

a:focus,
.fake-link:focus,
#nav-link.focussed,
.olButton:focus {
    outline: solid 3px $shropshire-yellow;
}

.olButton:focus {
    z-index: 1; // pull forward, so entire outline is visible
}

#site-header {
    border-bottom: solid 3px $shropshire-dark-blue;
}

#site-logo {
    $logo-width: 140px;
    $logo-height: 40px;
    width:  $logo-width;
    // height: 61px; // see below
    background-size:  $logo-width  $logo-height;
    background-image: url("/cobrands/shropshire/images/sc-logo-v3.svg");

    // text-indent doesn’t play nicely with focus outline,
    // so use padding overflow trick instead
    text-indent: 0;
    height: 0;
    padding-top: calc(#{$logo-height} + 5px);
    overflow: hidden;
}

.nav-menu {
    a, span {
        letter-spacing: 0.08px;
        font-size: 1em;
        color: #fff !important;
    }

    a {
        background-color: #424242;
        border-bottom-color: $primary_b;

        &:hover, &:focus {
            background-color: $primary_b;
        }
    }

    span {
        background-color: $primary_b;
        border-bottom-color: $primary_b;
        color: #fff;
        font-size: 1em;
    }
}

.shropshire-footer {
    background: $shropshire-dark-grey;
    border-bottom: solid 1px $shropshire-mid-grey;
    color: #fff;
    padding: 1.5em 0;

    ul {
        margin: 0;
        font-size: 12px;
    }

    li {
        list-style: none;
        margin: 0.66em 0;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    small.copy {
        text-align: center;
        display: block;
        margin-top: 24px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        width: 70%;

        ul {
            a {
                font-size: 1em;
                text-decoration: none;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }

        .footer-link-wrapper {
            margin-top: 25px;
        }

        p.footer-link {
            .button {
                background-repeat: no-repeat;
                background-position: 0 center;
                color: #ffffff;
                padding-left: 1.5em;
                background-color: transparent;
                font-size: 1em;
                text-decoration: none;
    
                &:hover, &:focus {
                    text-decoration: underline;
                }
    
                &.map {
                    background-image: url('https://images.static.shropshire.gov.uk/external-template/img/map.png');
                    width: auto;
                }
    
                &.feedback {
                    background-image: url('https://images.static.shropshire.gov.uk/external-template/img/feedback.png');
                }
    
                &.govroam {
                    display: block;
                    background-image: url('https://images.static.shropshire.gov.uk/external-template/img/govroam-logo-white-140x80.png');
                    min-width: 140px;
                    min-height: 80px;
                    background-size: contain;
    
                    &:hover {
                        background-image: url('https://images.static.shropshire.gov.uk/external-template/img/govroam-logo-140x80.png'); 
                    }
                }
            }
        }
    }
}

#report-cta {
    border-color: #fff;
}

.screen-reader-only.skip-the-map {
    display: block !important;
    position: static !important;
    top: initial !important;
}

#front-main {
    h2 {
        font-style: inherit;
    }
}

.postcode-form-box {
    div {
        border: none;
    }

    input#pc {
        @include shropshire-form-input($margin: 0 0.5em 0 0, $padding: 5px 0.5em);
        font-size: 1.25em;
    }

    input#sub {
        @include shropshire-button-primary();
        font-size: 1.25em;
    }
}

h1 {
    color: $shropshire-mid-grey;
    font-size: 2em;
    line-height: 1.25em;
    font-weight: bold;
}

label {
    @include shropshire-form-label();
}

.form-control {
    @include shropshire-form-input();

    .form-txt-submit-box & {
        margin: 0 0 0.5em 0;
    }
}

.multi-select-button {
    // Focus style, copied from shropshire-form-input() mixin
    &:focus {
        outline: none;
        border: 1px solid #52A8EC;
        box-shadow: 0 1px 3px #000, 0 0 8px #52A8EC;
    }
}

input.form-error,
textarea.form-error {
    background: #FBE3E4;
    border: 1px solid #FBC2C4;
    border-radius: 4px;
}

div.form-error,
p.form-error {
    background: transparent;
    padding: 0;
    border-radius: 0;

    color: #8A1F11;
    font-weight: 700;
}

.dropzone {
    padding: 1.5em;
}

.btn {
    @include shropshire-button-primary();
}

#front_stats {
    border-top-color: #bde1ce !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: transparent;
    big {
        color: $shropshire-green !important;
    }
}

// As per Shropshire Website style guide
.skiplink:focus {
    border: 1px solid #FFFFFF;
    background: #2C2C2C;
    padding: 6px;
    color: #FFFFFF;
    min-width: 150px;
    outline: none;
    text-align: center;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #5F5F5F;

    top: 0.5em;
    left: 0.5em;
}

.item-list__item--empty {
    color: $shropshire-mid-grey;
}

.box-warning {
    background-color: mix($shropshire-yellow, #fff, 25%);
}

.fms-admin-info {
    border-color: $shropshire-green;
    background-color: mix($shropshire-green, #fff, 15%);
}

.segmented-control--radio input:checked+label {
    background: $shropshire-dark-blue;
    border-color: $shropshire-dark-blue;
    color: #fff !important;
}

.item-list--wards__item a:hover,
.item-list--reports__item a:hover,
.item-list--wards__item a:focus,
.item-list--reports__item a:focus,
.hovered.item-list--wards__item a,
.hovered.item-list--reports__item a {
    background-color: mix($shropshire-blue, #fff, 25%);
}

@import "../fixmystreet-uk-councils/societyworks-footer";
