@import "_colours";
@import "../sass/layout";

$shropshire-nav-height: 55px;
$shropshire-nav-border: 5px;
$shropshire-nav-total-height: calc(#{$shropshire-nav-height} + #{$shropshire-nav-border});

body {
    background-image: url(/cobrands/shropshire/images/full-bg.jpg);
    background-position: 0 $shropshire-nav-total-height; // height of #site-header
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-menu--main {
    // remove special styling for this nav item
    a.report-a-problem-btn {
        border-radius: 0;
        margin: 0;

        &:hover {
            background-color: $nav_hover_background_colour;
        }
    }

    a,
    span,
    a.report-a-problem-btn,
    span.report-a-problem-btn {
        padding: 0.5em 0.75em;
        border-radius: 4px;

        &, &:hover {
            color: $nav_colour;
        }
    }

    // underlines for clickable nav items
    a,
    a.report-a-problem-btn {
        text-decoration: underline;

        &:hover, &:focus {
            text-decoration: none;
            color: $shropshire-pale-blue !important;
        }
    }

    // darken background for selected nav item
    span,
    span.report-a-problem-btn {
        &, &:hover {
            background-color: $nav_hover_background_colour;
        }
    }
}

#site-header {
    height: $shropshire-nav-height;
    border-bottom: $shropshire-nav-border solid $shropshire-blue-l1;
}

#main-nav {
    min-height: $shropshire-nav-total-height;
}

#site-logo {
    width: 240px;
    // height: 61px; // see below
    background-size: 240px 74px;
    @include svg-background-image("images/sc-logo-swoosh-v1_257x80");

    // text-indent doesn’t play nicely with focus outline,
    // so use padding overflow trick instead
    text-indent: 0;
    height: 0;
    padding-top: 74px;
    overflow: hidden;
}

#front-main {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 1em;
    max-width: $container-max-width;
    background: transparent;

    #front-main-container {
        max-width: none;
        background: #fff;
        padding: 4%;
        border-radius: 7px;
    }

    #postcodeForm {
        overflow: visible;

        div {
            margin: 0;
        }
    }
}

.content {
    padding: 4%;
    border-radius: 7px;
}

h1 {
    font-size: 2.5em;
}

input.form-error,
textarea.form-error {
    border-radius: 4px;
}

.shropshire-footer {
    margin-top: 4em;
}

body.mappage #site-header {
    height: $mappage-header-height - 3px;
}

body.twothirdswidthpage .content .sticky-sidebar {
    position: static;

    aside {
        position: static;
        background: transparent;
        padding: 0;
        width: auto;
        margin: 0 0 2em 0;
    }
}
