@import "_colours";
@import "../sass/layout";

$shropshire-nav-height: 55px;
$shropshire-nav-border: 5px;
$shropshire-nav-total-height: calc(#{$shropshire-nav-height} + #{$shropshire-nav-border});

body {
    background-image: url(/cobrands/shropshire/images/full-bg.jpg);
    background-position: 0 $shropshire-nav-total-height; // height of #site-header
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-menu--main {
    // remove special styling for this nav item
    a.report-a-problem-btn {
        border-radius: 0;
        margin: 0;

        &:hover {
            background-color: $nav_hover_background_colour;
        }
    }

    a,
    span,
    a.report-a-problem-btn {
        padding: 0.5em 0.4em;
        margin: 0 4px;
        border-radius: 4px;

        &, &:hover {
            color: $nav_colour;
        }
    }

    // underlines for clickable nav items
    a,
    a.report-a-problem-btn {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            color: $shropshire-pale-blue !important;
        }

        &:focus {
            color: $nav_colour !important;
            text-decoration: none;
        }
    }

    // darken background for selected nav item
    span {
        &, &:hover {
            background-color: $nav_hover_background_colour;
        }
    }
}

#site-header {
    height: $shropshire-nav-height;
    border-bottom: $shropshire-nav-border solid $shropshire-blue-l1;
}

#main-nav {
    min-height: $shropshire-nav-total-height;
}

#site-logo {
    width: 240px;
    // height: 61px; // see below
    background-size: 240px 74px;
    background-image: url("/cobrands/shropshire/images/sc-logo-swoosh-v1_257x80.svg");

    // text-indent doesn’t play nicely with focus outline,
    // so use padding overflow trick instead
    text-indent: 0;
    height: 0;
    padding-top: 74px;
    overflow: hidden;

    @media only screen and (max-width: 59em)  {
        $logo-width: 140px;
        $logo-height: 40px;
        width:  $logo-width;
        // height: 61px; // see below
        background-size:  $logo-width  $logo-height;
        background-image: url("/cobrands/shropshire/images/sc-logo-v3.svg");
    
        // text-indent doesn’t play nicely with focus outline,
        // so use padding overflow trick instead
        text-indent: 0;
        height: 0;
        padding-top: calc(#{$logo-height} + 5px);
        overflow: hidden;
    }
}

#front-main {
    margin-top: 4px;

    #front-main-container {
        box-sizing: border-box;
        padding: 2em;
        border-radius: 7px;
    }
}

.postcode-form-box {
    overflow: visible;
}

.frontpage .content {
    padding: 2em;
    border-radius: 7px;
}

h1 {
    font-size: 2.5em;
}

input.form-error,
textarea.form-error {
    border-radius: 4px;
}

.shropshire-footer {
    margin-top: 4em;
}

body.mappage #site-header {
    height: $mappage-header-height - 3px;
}

.shropshire-footer {
    .footer-link-wrapper {
        margin-top: 0;
    }

    .footer-links {
        flex-direction: row;

        ul {
            width: 50%;
            margin-right: 20px;
            border-right: solid 1px #565656;
        }
    }
}
