    </div><!-- #mysociety -->
    </div><!-- #page -->
    </div><!-- #wrapper -->


<div id="footer">
    <div id="footer-contents">
         <div style="float:right;"><a href="http://webawards.ie/2012-shortlists/"><img src="http://mygov.ie/fms/i/Webs2012Shortlisted.png" /></a></div>
	    <p><a href="/contact">[% loc("Contact FixMyStreet") | replace(' ', '&nbsp;') %]</a></p>
	    <p>Mobile apps: <a href="https://play.google.com/store/apps/details?id=ie.fixmystreet">Android</a>, iPhone Coming soon</p>
	      
	    <p>[% loc('Are you from a <strong>council</strong>? Would you like better integration with FixMyStreet?') %]
	      <a href="/contact">Get in touch to find out how we can help you</a>.
	    </p>
	  
	    <p>[% loc('Are you a <strong>developer</strong>? Would you like to contribute to FixMyStreet?') %]
	    [% loc('The code is open source and <a href="http://github.com/mysociety/fixmystreet">available on GitHub</a>.') %]
	    </p>
    </div>
</div>

</body>
</html>
