/* COLOURS */

$menu-image: 'menu-black';

$mappage-header-height: 128px;

$white: #fff;

$red: #B10E1E;
$error_color: $red;

$royal: #2E358B;
$fuchsia: #912B88;
$aqua: #00A1B3;
$spring: #5DA70E;

$royal_lt: #B3B7E6;
$fuchsia_lt: #E9AFE5;
$aqua_lt: #00CCCC;
$sprint_lt: #B8E26A;

$text_black: #0B0C0C;
$text_grey: #6F777B;

$link-color: #005EA5;
$link-hover-color: #2B8CC4;
$link-visited-color: #4C2C92;
$link-focus-color: #FFBF47;

$grey_border: #BFC1C3;
$grey_panel: #DEE0E2;
$grey_highlight: #F8F8F8;

$col_button: #00823B;
$col_button_hover: #006435;

$primary: $grey_highlight;
$primary_b: $royal;
$primary_text: $text_black;

$base_bg: $white;
$base_fg: $text_black;

$nav_background_colour: $white;
$nav_colour: $text_black;
$nav_hover_background_colour: $fuchsia_lt;

$col_click_map: $aqua;

$header-top-border: false;

$heading-font: Lato, sans-serif;
$body-font: Lato, sans-serif;
$meta-font: $body-font;

$search-help-background: #fff3f3;

$dropzone-border-colour: $fuchsia;
$dropzone-button-text: $white;
$dropzone-button-background: $fuchsia;
$dropzone-button-border: $fuchsia;

$front-main-background-desktop: $grey_highlight;
$dropzone-frontpage-color: $text_black;

$sticky-sidebar-bg-color: mix($fuchsia, #fff, 20%);
$mobile-sticky-sidebar-button-bg: $fuchsia;
$mobile-sticky-sidebar-button-menu-image: "menu-white";

// Button
$button-primary-bg-top: $col_button;
$button-primary-bg-bottom: $col_button;
$button-primary-border: $col_button;
$button-primary-text: $white;

$button-primary-hover-bg-top: $col_button_hover;
$button-primary-hover-bg-bottom:$col_button_hover;
$button-primary-hover-border: $col_button_hover;
$button-primary-hover-text: $white;

$button-border-radius: 0px;
