@import "_colours";

@import "../sass/layout";

#site-header {
    border-top: 7px solid $fuchsia;
}

#site-logo {
    width: 208px;
    height: 80px;
    padding: 24px 0;
    background-position:0;
    background-size: 200px 80px;
}

#front_stats big {
    color: $fuchsia_lt;
}

.frontpage {
    .nav-menu--main {
        margin: 3em 0 0 0;
    }
}

.nav-menu--main {
    a {
        &:hover,
        &:active,
        &:focus {
            color: $text_black;
        }
    }
    a.report-a-problem-btn,
    span {
        background-color: $nav_hover_background_colour;
        color: $text_black;
        border-radius: 0;
        &:hover {
            color: $fuchsia;
            cursor: pointer;
        }
    }
    a[href='/auth'] {
        position: absolute;
        top: 0;
        right: 1em;
        .frontpage & {
            right: 0;
        }
        background-color: $fuchsia;
        color: $white;
        padding: 0 0.75em;
        &:hover,
        &:active,
        &:focus {
            color: $white;
        }
    }
}

.general-notes {
    font-size: 0.89em;
}

#key-tools a,button {
    font-size: 0.89em;
}
