@import "_colours";

@import "../sass/layout";

body.twothirdswidthpage .content .sticky-sidebar aside {
    top: 10em;
}

#site-logo {
    width: 208px;
    height: 80px;
    padding: 24px 0;
    background-position: 8px 50%;
    background-size: 200px 80px;
}

#front_stats big {
    color: $fuchsia_lt;
}

.nav-menu--main {
  span {
    background-color: $nav_hover_background_colour;
  }
}

.general-notes {
    font-size: 0.89em;
}

#key-tools a,button {
    font-size: 0.89em;
}
