/* COLOURS */

$eh_dark_grey: #555;
$eh_med_grey: #dadcda;
$eh_dark_green: #007900;
$eh_green: #2c992c;
$eh_purple: #609;
$eh_blue: #4e96e8;

$primary: $eh_green;
$primary_b: #000000;
$primary_text: #222222;

$base_bg: white;
$base_fg: $eh_dark_grey;

$map_nav_bg: $eh_blue;
$nav_fg: #000;
$nav_fg_hover: $primary;

$header-top-border: false;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$col_click_map: $eh_green;
$col_click_map_dark: darken($eh_green, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$body-font: Verdana,Arial,Helvetica,Geneva,sans-serif;
$meta-font: $body-font;
$heading-font: $body-font;
