/* COLOURS */

$eh_dark_grey: #555;
$eh_green: #00843d;

$primary: $eh_green;
$primary_b: #000000;
$primary_text: #fff;

$base_bg: white;
$base_fg: $eh_dark_grey;

$map_nav_bg: #000;
$nav_fg: #fff;
$nav_fg_hover: $eh_green;

$header-top-border: false;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$col_click_map: $eh_green;
$col_click_map_dark: darken($eh_green, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$body-font: 'Open Sans', sans-serif;
$meta-font: $body-font;
$heading-font: $body-font;

$mappage-header-height: 178px;
