/* COLOURS */

$eh_green: #007A4E; // Updated from their website on 2026
$eh_yellow: #fedd33;
$eh_blue: #007FA3;
$eh_light_grey: #EBEBEB;
$eh_mid_grey: #4A4A4A;
$eh_dark_grey: #262626;

$primary: $eh_light_grey;
$primary_b: #000;
$primary_text: #000;

$base_bg: white;
$base_fg: $eh_dark_grey;

$nav_background_colour: #000;
$nav_colour: #fff;
$nav_hover_background_colour: $eh_green;

$header-top-border: false;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$col_click_map: $eh_green;
$col_click_map_dark: darken($eh_green, 10%);

$body-font: 'Open Sans', sans-serif;
$meta-font: $body-font;
$heading-font: $body-font;

$container-max-width: 70.5em; // match 1128px row width in East Herts template

$eh-header-height: 84px + 16px + 16px;
$eh-nav-height: 48px;
$mappage-header-height: $eh-header-height + $eh-nav-height;

$search-help-alignment: left;
$search-help-background: #fff3f3;
$search-help-header-font-size-desktop: 1.25em;
$search-help-margin-desktop: 0;

$geolocation-link: $eh_green;

$dropzone-border-colour: $eh_green;
$dropzone-button-text: #fff;
$dropzone-button-background: $eh_green;
$dropzone-button-border: $eh_green;

$sticky-sidebar-bg-color: mix($eh_green, #fff, 20%);
$mobile-sticky-sidebar-button-bg: $eh_green;
$mobile-sticky-sidebar-button-menu-image: "menu-white";

$button-primary-bg-top: #007A4E;
$button-primary-text: #fff;
$button-primary-border: #007A4E;
