@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";

#site-header {
    background-image: url('https://www.eastherts.gov.uk/media/29966/Website_background/image/panorama-lomoesque-compressor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#site-logo {
  margin: 0 auto;
  background: url('https://www.eastherts.gov.uk/image/29967/site_logo/original.png');
  width: 150px;
  height: 138px;
}

// Seemed easiest to have a little bar above the header

.toputils {
    background-color: #000;
    position: relative;
    height: 40px;
}

// Footer styles from their stylesheet

.footer {
    padding: 2em 0.75em 1em;
    color: #fff;
    background-color: #000;
    .container {
        padding: 0;
        margin: 0 auto;
    }
}
.footer__logo {
    display: block;
    margin: 0 auto 1em;
}
.footer__socialmedia {
    text-align: center;
    a {
        text-decoration: none;
    }
}
.footer__navigation {
    overflow: hidden;
    margin-bottom: 1em;
    & > ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
}
.footer__navitem {
    margin-bottom: 0;
}
a.footer__navlink {
    color: #fff;
    display: block;
    padding: 0.5em 0;
    text-align: center;
}
.footer__copyright {
    text-align: center;
    clear: both;
}
.footer__goss > a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ccc;
    clear: both;
}
