<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | FixMyStreet Platform | mySociety</title>
    <link rel="stylesheet" href="{{ "/assets/css/fixmystreet-org.css" | relative_url }}">
    <link href="/atom.xml" rel="alternate" title="FixMyStreet Platform" type="application/atom+xml">
    <meta name="viewport" content="initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include google-analytics.html %}
    <script type="text/javascript" src="/assets/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/owl.carousel.min.js"></script>
  </head>
  <body{% if page.bodyclass %} class="{{ page.bodyclass }}"{% endif %}>
    <div class="ms-header">
      <nav class="ms-header__row">
         <a class="ms-header__logo" href="https://www.mysociety.org">mySociety</a>
      </nav>
    </div>

    <header class="site-header">
      <div class="container">
        <a href="{{ "/" | relative_url }}" class="site-title"><h1>FixMyStreet: Platform</h1></a>
      </div>
    </header>

      {{ content }}

      {% include footer.html %}

    <script type="text/javascript" src="/assets/scripts/app.js"></script>

  </body>
</html>
