<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | FixMyStreet Platform | mySociety</title>
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/global.css">
    <link href="/atom.xml" rel="alternate" title="FixMyStreet Platform" type="application/atom+xml">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-660910-6']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

  <div class="ms-header">
    <nav class="ms-header__row">
       <a class="ms-header__logo" href="http://www.mysociety.org">mySociety</a>
    </nav>
  </div>

  <header class="site-header">
    <div class="container">
      <a href="{{ site.baseurl }}" class="site-title"><h1>FixMyStreet</h1></a>
    </div>
  </header>

    {{ content }}

  <footer>


    </footer>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      function replace_str(base, replacement) {
        return base + replacement; // FIXME TODO should replace %s
      }

      $(function(){

        $('.reveal-on-click dd').hide();
        $('.reveal-on-click dt').on('click', function(){
          // $(this).find('+ dd').toggle();
          var $dd = $(this).find('+ dd');
          if ($dd.is(':visible')) {
            $(this).removeClass('revealed');
            $dd.slideUp();
          } else {
            $(this).addClass('revealed');
            $dd.slideDown();
          }
        });

        var reveal_all_text = {'reveal': 'Show all ', 'hide': 'Collapse all '}; // TODO add %s

        $('dl.reveal-on-click').each(function(){
          $(this).before("<div class='reveal-all revealed'>&nbsp;</div>");
        });
        $('.reveal-all').on('click', function(){
          console.log("reveal all clicked");
          var $dl = $(this).find('+ dl.reveal-on-click');
          var noun = $dl.data('reveal-noun');
          if ($(this).hasClass('revealed')) {
            console.log("hiding all");
            $dl.find('dt').removeClass('revealed');
            $dl.find('dd').slideUp();
            $(this).removeClass('revealed');
            $(this).text(replace_str(reveal_all_text['reveal'], noun));
          } else {
            console.log("showing all");
            $dl.find('dt').addClass('revealed');
            $dl.find('dd').slideDown();
            $(this).addClass('revealed');
            $(this).text(replace_str(reveal_all_text['hide'], noun));
          }
        });
        $('.reveal-all').trigger('click');
      });
    </script>
  </body>
</html>
