<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | FixMyStreet Platform | mySociety</title>
    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/pygment_trac.css">
    <meta name="viewport" content="initial-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="side">
        <header>
        <a href="{{ site.baseurl }}"><img src="https://twimg0-a.akamaihd.net/profile_images/1901025535/fms-twitter-avatar_reasonably_small.jpg" width="128" height="128" alt="FixMyStreet" border="0"></a>
          <p>mySociety's much-copied problem reporting platform. We've
          been working to make it much easier to install in other countries, and
          we welcome questions about how it works.</p>
          <ul>
            <li><a href="{{ site.baseurl }}">Home</a></li>
            <li><a href="{{ site.baseurl }}install/">Installing FixMyStreet Platform</a></li>
            <li><a href="{{ site.baseurl }}blog/">Blog</a></li>
            <!-- <li><a href="/fixmystreet/running/">Running</a></li> -->
            <li><a href="{{ site.baseurl }}contact/">Contact</a></li>
          </ul>
          <ul class="buttons">
            <li><a href="https://github.com/mysociety/fixmystreet/zipball/master">Download <strong>ZIP File</strong></a></li>
            <li><a href="https://github.com/mysociety/fixmystreet/tarball/master">Download <strong>TAR Ball</strong></a></li>
            <li><a href="https://github.com/mysociety/fixmystreet">View on <strong>GitHub</strong></a></li>
          </ul>
        </header>
        <footer>
          <p><small>Hosted on GitHub Pages.<br>Theme modified from <a href="https://github.com/orderedlist/minimal">orderedlist/minimal</a></small></p>
        </footer>
      </div>
      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
