---
layout: default
---

<script>
  (function() {
    var cx = '018335012393813682733:yb97auudu-a';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<div class="page-wrapper">
  <div class="page">

      {% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
      {% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
      {% assign previous="" %}
      <ul class="breadcrumb">
      {% if num_parts == "0" or num_parts == "-1" %}
        <li><a href="/">Home</a></li>
        <li><a href="/overview/">Documentation</a></li>
      {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="/overview/">Documentation</a></li>
        {% for unused in page.content limit:num_parts %}
          {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
          {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}
          <li><a href="{{ previous }}/">{{ first_word | capitalize }}</a></li>
          {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
        {% endfor %}
      {% endif %}
      </ul>

      <div class="site-search">
        <gcse:searchresults></gcse:searchresults>
      </div>

      <div class="main-content-column">
        <main role="main" class="main-content">
          {{ content }}
        </main>
      </div>

    <div class="secondary-content-column">
      <nav class="sidebar">

        <div class="site-search">
          <gcse:searchbox></gcse:searchbox>
        </div>

        <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}how-it-works/">How it works</a></li>
          <li><a href="{{ site.baseurl }}overview/">Documentation</a></li>
          <li><h2>Installing</h2>
            <ul>
              <li><a href="{{ site.baseurl }}install/manual-install/">Manually</a>
              <li><a href="{{ site.baseurl }}install/install-script/">Install script</a></li>
              <li><a href="{{ site.baseurl }}install/vagrant/">Vagrant</a></li>
              <li><a href="{{ site.baseurl }}install/ami/">AMI for EC2</a></li>
              <li><a href="{{ site.baseurl }}install/troubleshooting/">Troubleshooting</a></li>
            </ul>
          </li>
          <li><h2>Customising</h2>
            <ul>
              <li><a href="{{ site.baseurl }}customising/">Overview</a>
              <li><a href="{{ site.baseurl }}customising/checklist/">Checklist</a>
              <li><a href="{{ site.baseurl }}customising/config/">Configuration</a>
              <li><a href='{{ site.baseurl }}customising/language/'>Language</a></li>
              <li><a href='{{ site.baseurl }}customising/fms_and_mapit/'>Assigning reports</a></li>
              <li><a href='{{ site.baseurl }}customising/geocoder/'>Geocoder</a></li>
              <li><a href="{{ site.baseurl }}customising/boundaries/">Admin boundaries</a>
              <li><a href='{{ site.baseurl }}customising/css/'>Design (CSS)</a></li>
              <li><a href='{{ site.baseurl }}customising/templates/'>Templates</a></li>
              <li><a href='{{ site.baseurl }}customising/send_reports/'>Sending reports</a></li>
              <li><a href='{{ site.baseurl }}customising/integration/'>Back-end integration</a></li>
              <li><a href='{{ site.baseurl }}feeding-back/'>Feeding back changes</a></li>
            </ul>
          </li>
          <li><h2>Running FixMyStreet</h2>
            <ul>
              <li><a href="{{ site.baseurl }}running/">Overview</a>
              <li><a href='{{ site.baseurl }}running/admin_manual/'>Admin manual</a></li>
              <li><a href='{{ site.baseurl }}running/bodies_and_contacts/'>Bodies and contacts</a></li>
              <li><a href='{{ site.baseurl }}running/users/'>Users</a></li>
              <li><a href='{{ site.baseurl }}running/surveys/'>Surveys</a></li>
            </ul>
          </li>
          <li><h2>Updating your code</h2>
            <ul>
              <li><a href="{{ site.baseurl }}updating/">Overview</a></li>
              <li><a href="{{ site.baseurl }}updating/ami/">AMI</a></li>
            </ul>
          </li>
          <li><h2>Community</h2>
            <ul>
              <li><a href="{{ site.baseurl }}community/">Mailing list</a></li>
              <li><a href="https://github.com/mysociety/fixmystreet">GitHub</a></li>
              <li><a href="{{ site.baseurl }}community/">IRC</a></li>
              <li><a href="https://twitter.com/fixmystreet">Twitter</a></li>
            </ul>
          </li>
          <li><h2>Blog</h2>
            <ul>
              <li><a href="{{ site.baseurl }}blog/">Latest posts</a>
              <li><a href="{{ site.baseurl }}atom.xml">Feed</a>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}glossary/">Glossary</a></li>
        </ul>
      </nav>
    </div>
</div>
