                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="container">
                [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area %]
            </div>
        </div>
    </div> <!-- .wrapper -->

    [% IF pagefooter %]
	<div class="footer clearfix">
		<div class="container">
			<div class="footer__left"><img src="https://www.eastherts.gov.uk/image/29958/EastHertsLogo-Footer/original.png" width="250" height="75" alt="EastHertsLogo-Footer" title="EastHertsLogo-Footer" class="footer__logo" />
				<div class="footer__socialmedia">
				
				<a href="https://www.facebook.com" rel="external" title="Facebook"><img src="https://www.eastherts.gov.uk/image/29956/Facebook/original.png" width="40" height="40" alt="Facebook" title="Facebook" />
				</a>
				
				<a href="https://www.twitter.com" rel="external" title="Twitter"><img src="https://www.eastherts.gov.uk/image/29959/Twitter/original.png" width="40" height="40" alt="Twitter" title="Twitter" />
				</a><img src="https://www.eastherts.gov.uk/image/29957/RSS/original.png" width="40" height="40" alt="RSS" title="RSS" />
				</div>
			</div>
			<div class="footer__right">
		<div class="footer__navigation">
				<ul>
							<li class="footer__navitem"><a href="https://www.eastherts.gov.uk/article/34224/Site-map" class="footer__navlink">Site map</a>
							</li>
							<li class="footer__navitem"><a href="/article/34226/Terms--Conditions" class="footer__navlink">Terms & Conditions</a>
							</li>
							<li class="footer__navitem"><a href="https://www.eastherts.gov.uk/article/34230/Privacy--Cookies" class="footer__navlink">Privacy & Cookies</a>
							</li>
							<li class="footer__navitem"><a href="https://www.eastherts.gov.uk/article/34378/Privacy-Data-Protection-and-Fraud-Prevention" class="footer__navlink">Privacy, Data Protection and Fraud Prevention</a>
							</li>
							<li class="footer__navitem"><a href="https://www.eastherts.gov.uk/article/34376/Comments-Compliments-and-Complaints" class="footer__navlink" accesskey="7">Comments, Compliments and Complaints</a>
							</li>
				</ul>
		</div>
				<div class="footer__copyright">
					<p>&copy; 2017 mySociety</p>
				</div>
				<div class="footer__goss">
					<a href="https://www.fixmystreet.com/pro/">Powered by FixMyStreet</a>
				</div>
			</div>
		</div>
	</div>
    [% END %]

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
