                </div><!-- .content role=main -->
            </div><!-- .container -->
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                [% INCLUDE "main_nav.html" body_name=c.cobrand.council_area hide_mysoc_link=1 %]
            </div>
        </div>
    </div> <!-- .wrapper -->

    [% IF pagefooter %]
    <footer role="contentinfo">
        <ul>
            <li><a href="http://www.eastherts.gov.uk/article/10/A-to-Z">A to Z</a></li>
            <li><a href="http://www.eastherts.gov.uk/article/3347/Accessibility" accesskey="0">Accessibility</a></li>
            <li><a href="http://www.eastherts.gov.uk/article/3351/Disclaimer">Disclaimer</a></li>
            <li><a href="http://www.eastherts.gov.uk/article/3352/Copyright-2016">Copyright 2016</a></li>
            <li><a href="http://www.eastherts.gov.uk/privacy">Privacy, Data Protection and Fraud Prevention</a></li>
            <li class="last"><a href="http://www.eastherts.gov.uk/article/6653/Neighbouring-Councils">Neighbouring Councils</a></li>
        </ul>
        <p>© 2016 East Herts Council , <strong>Telephone:</strong> +44 (0)1279 655261 <strong>Bishop's Stortford Office:</strong>- Charringtons House, Bishop's Stortford, Herts, CM23 2EN. <strong>Hertford Office:</strong>- Wallfields, Pegs Lane, Hertford, SG13 8EQ.</p>
    </footer>
    [% END %]

    [% INCLUDE 'common_footer_tags.html' %]

</body>
</html>
