<footer class="eh-footer">
    <div class="container">

        <p class="eh-footer__copyright">© East Herts District Council</p>

        <nav role="navigation" aria-labelledby="block-eastherts-footer-menu" class="eh-footer__nav">
            <h2 class="visuallyhidden" id="block-eastherts-footer-menu">Footer menu</h2>
            <ul>
                <li>
                    <a href="https://www.eastherts.gov.uk/accessibility">Accessibility</a>
                </li>
                <li>
                    <a href="https://www.eastherts.gov.uk/contactus">Contact Us</a>
                </li>
                <li>
                    <a href="https://www.eastherts.gov.uk/information-requests/data-protection">Data Protection</a>
                </li>
                <li>
                    <a href="https://www.eastherts.gov.uk/information-requests/data-protection/privacy-cookies">Privacy &amp; Cookies</a>
                </li>
            </ul>
        </nav>

        <a href="https://www.eastherts.gov.uk" title="Home" rel="home" class="eh-footer__logo">
            <img src="https://www.eastherts.gov.uk/themes/custom/eastherts/logo.svg" alt="Home">
        </a>

    </div>
</footer>
