<header id="site-header" role="banner">
    <div class="container">
        [% INCLUDE 'header_logo.html' %]
        <a href="#main-nav" id="nav-link">Main Navigation</a>
    </div>
    <div class="header__eh_nav">
        <div class="container">
            <ul>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/11/A">A - Z Index - A</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/12/B">B</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/13/C">C</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/14/D">D</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/15/E">E</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/16/F">F</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/17/G">G</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/18/H">H</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/29071/I">I</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/20/J">J</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/21/K">K</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/22/L">L</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/23/M">M</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/24/N">N</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/25/O">O</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/26/P">P</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/28/R">R</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/29/S">S</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/30/T">T</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/31/U">U</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/32/V">V</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/33/W">W</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/34/X">X</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/35/Y">Y</a>
                </li>
                <li>
                    <a href="http://www.eastherts.gov.uk/article/36/Z">Z</a>
                </li>
            </ul>
        </div>
    </div>
</header>
