<div class="toputils">
    <div class="container">
        <a href="[% c.cobrand.base_url IF admin %]/" id="report-cta" title="[%- loc('Report a problem') -%]">[%- loc('Report') -%]</a>
        <a href="#main-nav" id="nav-link">Main Navigation</a>
        <!-- <a href="https://www.eastherts.gov.uk/article/34246/Search">Search</a> -->

        <div class="toputils__right desk-only">
            <div class="toputils__nav">
                    <ul class="toputils__navlist">
                                <li><a href="/article/34210/Accessibility" class="toputils__navitem">Accessibility</a>
                                </li>
                                <li><a href="/article/34212/A-Z-of-Services" class="toputils__navitem">A-Z of Services</a>
                                </li>
                                <li><a href="/article/34377/Contact-us" class="toputils__navitem">Contact us</a>
                                </li>
                    </ul>
            </div>
        </div>
    </div>
</div>

<header id="site-header" role="banner">
    <div class="container">
        <a href="[% c.cobrand.base_url IF admin %]/" id="site-logo">[% site_name %]</a>
		<div class="mainmenu desk-only">
			<ul class="mainmenu__list">
				<li class="footer__navitem"><a href="http://www.eastherts.gov.uk/residents" class="mainmenu__item">Residents</a></li>
				<li class="footer__navitem"><a href="http://www.eastherts.gov.uk/business" class="mainmenu__item">Business</a></li>
				<li class="footer__navitem"><a href="http://www.eastherts.gov.uk/council" class="mainmenu__item">Your Council</a></li>
				<li class="footer__navitem"><a href="http://www.eastherts.gov.uk/news" class="mainmenu__item">News</a></li>
			</ul>
		</div>
		<div class="searchcontrol desk-only">
			<a href="https://www.eastherts.gov.uk/article/34246/Search" class="searchcontrol__expandtoggle">Search</a>
		</div>
    </div>
</header>
