<a href="[% c.cobrand.base_url IF admin %]/" id="site-logo">[% site_name %]</a>
<a href="[% c.cobrand.base_url IF admin %]/" id="report-cta" title="[%- loc('Report a problem') -%]">[%- loc('Report') -%]</a>

<div class="header__eh_top_nav">
    <ul id="toputilnav" class="internal">
        <li><a href="http://www.eastherts.gov.uk/">Home</a>
        </li>
        <li><a href="http://www.eastherts.gov.uk/cookies">Cookies on our site</a></li>
        [%# <li><a href="http://www.eastherts.gov.uk/article/5/Log-in">Log in</a></li> %]
        <li><a href="http://www.eastherts.gov.uk/search" accesskey="4">Search the site</a></li>
        <li><a href="http://www.eastherts.gov.uk/article/42/Site-Map" accesskey="3">Site Map</a></li>
        <li class="last"><a href="http://www.eastherts.gov.uk/article/6715/Translation-Services">Translation Services</a></li>
    </ul>
    <ul id="bannerimages">
        <li><a href="http://www.eastherts.gov.uk/payments"><img src="[% version('/cobrands/eastherts/img/paymentsd1.gif') %]" width="110" height="50" alt="Payments"></a>
        </li>
        <li><a href="http://www.eastherts.gov.uk/report"><img src="[% version('/cobrands/eastherts/img/reportd1.gif') %]" width="110" height="50" alt="Report"></a>
        </li>
        <li><a href="http://www.eastherts.gov.uk/contactus"><img src="[% version('/cobrands/eastherts/img/contactusd1.gif') %]" width="110" height="50" alt="Contact Us"></a>
        </li>
        <li>
        <img src="[% version('/cobrands/eastherts/img/consultationd1.gif') %]" width="110" height="50" alt="Consultations">
        </li>
    </ul>
</div>