<header class="eh-header">
    <div class="container">
        <a href="https://www.eastherts.gov.uk/" class="eh-header__logo">East Herts District Council</a>
        <a href="#main-nav" class="eh-header__nav-link">Main Navigation</a>
        <form class="eh-header__form" action="https://www.eastherts.gov.uk/search/content" method="get">
            <input class="eh-header__search" type="text" placeholder="Search and discover help, advice and information" name="search" size="30" maxlength="128">
            <button class="eh-header__button" type="submit" value="Search"><i></i> <span>Search</span></button>
        </form>
    </div>
</header>
