/* COLOURS */

$menu-image: 'menu-white';

$mappage-header-height: 107px;
$container-max-width: 1170px;

$white: #fff;
$green: #206c49;
$gold: #ffa100;

$heading-color: #333333;

$text_black: #0B0C0C;
$text_grey: #6F777B;

$link-color: #2e3191;
$link-text-decoration: none;
$link-hover-color: #2e3191;
$link-hover-text-decoration: none;
$link-visited-color: #2e3191;
$link-focus-color: #2e3191;

$col_button: #00823B;
$col_button_hover: $green;

$primary: $white;
$primary_b: $green;
$primary_text: $text_black;
$primary_link_decoration: none;

$base_bg: #f7f7f7;
$base_fg: $text_black;

$nav_background_colour: $green;
$nav_colour: $white;
$nav_hover_background_colour: darken($green, 10%);

$col_click_map: $green;

$header-top-border: false;

$heading-font: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;
$meta-font: $body-font;

$search-help-alignment: left;
$search-help-background: #fff3f3;
$search-help-header-font-size-desktop: 1.25em;
$search-help-margin-desktop: 0;

$dropzone-border-colour: $green;
$dropzone-button-text: $white;
$dropzone-button-background: $green;
$dropzone-button-border: $green;

$front-main-container-background-desktop: #fff;

$sticky-sidebar-bg-color: mix($green, #fff, 20%);
$mobile-sticky-sidebar-button-bg: $green;
$mobile-sticky-sidebar-button-menu-image: "menu-white";

$button-primary-bg-top: $col_button;
$button-primary-border: $col_button;
$button-primary-text: #fff;

$button-primary-hover-bg-top: $green;
$button-primary-hover-bg-bottom: $green;
$button-primary-hover-border: $green;
$button-primary-hover-text: #fff;