[% INCLUDE 'header.html', title = loc('Create a report') %]

<div class="confirmation-header confirmation-header--inbox">

    <h1>[% loc("Nearly done! Now check your email&hellip;") %]</h1>

    <p>
    [% IF email_type == 'problem' %]
        [% IF non_public %]
            We've sent you a confirmation email. Click the link to submit your problem.
        [% ELSE %]
            We've sent you a confirmation email. Click the link to publish your problem.
        [% END %]
    [% ELSIF email_type == 'update' %]
        [% IF non_public %]
            We've sent you a confirmation email. Click the link to submit your update.
        [% ELSE %]
            We've sent you a confirmation email. Click the link to publish your update.
        [% END %]
    [% ELSIF email_type == 'alert' %]
        We’ve sent you a confirmation email. Click the link to activate your alert.
    [% END %]
    </p>

    [% TRY %][% INCLUDE '_email_sent_extra.html' %][% CATCH file %][% END %]

    <p>
        [% loc("Can&rsquo;t find our email? Check your spam folder&nbsp;&ndash; that&rsquo;s the solution 99% of the time.") %]
    </p>

</div>

[% INCLUDE 'footer.html' %]
