<div id="footer" role="contentinfo">
<div class="primary-footer r container">
<div class="about-tfl-menu" role="navigation" aria-labelledby="about-tfl-heading">
<h2 id="about-tfl-heading" class="visuallyhidden">About TfL</h2>
<ul class="footer-links">
<li><a href="https://tfl.gov.uk/help-and-contact/">Help &amp; contacts</a></li>
<li><a class="" href="https://tfl.gov.uk/corporate/careers/">Careers</a></li>
<li><a class="" href="https://tfl.gov.uk/corporate/about-tfl/">About TfL</a></li>
<li><a class="" href="https://tfl.gov.uk/corporate/safety-and-security/">Safety &amp; security</a></li>
<li><a class="" href="https://tfl.gov.uk/corporate/transparency/">Transparency</a></li>
<li><a class="" href="https://tfl.gov.uk/corporate/publications-and-reports/">Publications &amp; reports</a></li>
<li><a class="" href="https://tfl.gov.uk/corporate/tfl-shop/">Gift Shop</a></li>
<li><a class="" href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/">Social media &amp; email updates</a></li>
</ul>
</div>
</div>
<div class="secondary-footer clearfix">
<div class="r container">
<div class="terms-and-conditions-menu" role="navigation" aria-labelledby="site-structure-heading">
<h2 id="site-structure-heading" class="visuallyhidden">Site structure and legal information</h2>
<ul>
<li><a href="https://tfl.gov.uk/corporate/terms-and-conditions/">Terms &amp; conditions </a></li><li><a href="https://tfl.gov.uk/corporate/privacy-and-cookies/">Privacy &amp; cookies</a></li><li><a href="https://tfl.gov.uk/corporate/website-accessibility/">Website accessibility</a></li>
</ul>
</div>
<span class="heading">Copyright TfL</span>
</div>
</div>
<div>
</div>
</div>

