<div id="footer" role="contentinfo">
  <div class="container">
    <div class="terms-and-conditions-menu" role="navigation" aria-labelledby="site-structure-heading">
      <h2 id="site-structure-heading" class="visuallyhidden">Site structure and legal information</h2>
      <ul>
        <li><a href="https://tfl.gov.uk/corporate/terms-and-conditions/website">Terms &amp; conditions </a></li><li><a href="https://tfl.gov.uk/corporate/privacy-and-cookies/reporting-street-problems">Privacy &amp; cookies</a></li><li><a href="https://tfl.gov.uk/corporate/website-accessibility/">Website accessibility</a></li>
      </ul>
    </div>
  </div>
</div>

