[%

email_summary = [% site_name %] paskyros informacija / Your [% site_name %] account details;
email_columns = 1;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Dėkojame, kad naudojatės [% site_name %]</h1>
  <p style="[% p_style %]">Spustelėkite toliau esančią nuorodą, kad patvirtintumėte savo el. pašto adresą ir prisijunkite prie [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% url | replace('https://man', 'https://lt.man') | replace('http://man', 'http://lt.man') %]">Taip, tai mano adresas</a>
  </p>
  <p style="[% p_style %]">
    [% IF c.get_param('r').match('waste') %]
    Kai tai padarysite, galėsite peržiūrėti arba keisti savo atliekų prenumeratą ir surinkimą.
    [% ELSE %]
    Kai tai padarysite, galėsite peržiūrėti ir tvarkyti visas ataskaitas ir atnaujinimus, kuriuos atlikote [% site_name %] meniu „Jūsų paskyra“.
    [% END %]
  </p>
  <h2 style="[% h2_style %]; text-align:center; padding-top: 2em;">*** English ***</h2>
  <h1 style="[% h1_style %]">Thanks for using [% site_name %]</h1>
  <p style="[% p_style %]">Please click on the link below to confirm your email address and log into [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% url | replace('https://man', 'https://en.man') | replace('http://man', 'http://en.man') %]">Yes, this is my address</a>
  </p>
  <p style="[% p_style %]">
    [% IF c.get_param('r').match('waste') %]
    Once you&rsquo;ve done this, you&rsquo;ll be able to view or amend your waste subscriptions and collections.
    [% ELSE %]
    Once you&rsquo;ve done this, you&rsquo;ll be able to view and manage all reports and
    updates you&rsquo;ve made from the &ldquo;Your account&rdquo; menu on [% site_name %].
    [% END %]
  </p>
</th>

[% INCLUDE '_email_bottom.html' %]
