<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap">

[% IF c.config.BASE_URL == "https://www.fixmystreet.com" %]
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10804167-1"></script>
<script nonce="[% csp_nonce %]">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-10804167-1');
</script>
[% ELSE %]
<!-- Tracking code not inserted as "[% c.config.BASE_URL %]" not "https://www.fixmystreet.com" -->
[% END %]
