[%

color_rutland_dark_green = '#265123'
color_rutland_mid_green = '#A7B980'
color_rutland_pale_green = '#DCE6C9'
color_rutland_dark_grey = '#3C3C3C'

body_font_family = "'PT Sans', Verdana, sans-serif"

header_background_color = color_rutland_mid_green
header_text_color = color_black

secondary_column_background_color = color_rutland_pale_green

button_background_color = color_rutland_dark_green
button_text_color = color_white

logo_width = "150" # pixel measurement, but without 'px' suffix
logo_height = "77" # pixel measurement, but without 'px' suffix

%]
