[%

color_rutland_dark_green = '#009977'
color_rutland_golden = '#EAAF0F'
color_rutland_mid_green = '#A7B980'
color_rutland_pale_green = '#DCE6C9'
color_rutland_dark_grey = '#3C3C3C'

body_font_family = "PT Sans, Verdana, sans-serif"

header_background_color = '#d4eee8'
header_text_color = color_black

secondary_column_background_color = color_rutland_pale_green

button_background_color = color_rutland_golden
button_text_color = color_black

logo_file = 'rutland-logo.png'
logo_width = "190" # pixel measurement, but without 'px' suffix
logo_height = "70" # pixel measurement, but without 'px' suffix

%]
