/* COLOURS */

$menu-image: 'menu-black';

$trinidad_primary: #A90004;
$trinidad_secondary: white;

$primary: $trinidad_primary;
$primary_b: #000000;
$primary_text: $trinidad_secondary;

$base_bg: $trinidad_secondary;
$base_fg: #000;

$map_nav_bg: $trinidad_secondary;
$nav_fg: #000;
$nav_fg_hover: $primary;

$col_click_map: $trinidad_secondary;
$col_click_map_dark: darken($trinidad_secondary, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;
