@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

#site-header {
  background: #fff;
}


#site-logo {
    display: block;
    width: 175px;
    height: 40px;
    top: 0.4em;
    background: url("/cobrands/trinidadtobago/images/sprite.png") -3px -3px no-repeat;
    text-indent: -999999px;
    position: absolute;
    z-index: 2
}

#nav-link {
    background-image: url(/cobrands/fixmystreet/images/menu-black.png);
    background-image: url(/cobrands/fixmystreet/images/menu-black.svg), none;
}
