[%

color_cobrand_primary = '#142b50'
color_red = '#cc0000'
color_cobrand_light_grey = '#e8ecf6'
color_cobrand_white = '#fff'
color_black = '#333'
color_green = '#2a5d00'

body_font_family = "Arial,sans-serif"

header_background_color = color_cobrand_primary
header_text_color = color_cobrand_white

primary_column_text_color = color_cobrand_primary

secondary_column_background_color = color_cobrand_light_grey
secondary_column_text_color = color_black

button_background_color = color_cobrand_primary
button_text_color = color_white

link_text_color = color_green
link_hover_text_color = color_red

logo_file = "logo.png"
logo_width = "137" # pixel measurement, but without 'px' suffix
logo_height = "70" # pixel measurement, but without 'px' suffix

%]
