<footer class="council-footer">
    <div class="container">
        <div class="footer-main">
            <div class="footer-main--logos col-n1">
                <a class="council-logo" aria-label="Go to Northumberland county council webpage" href="https://www.northumberland.gov.uk/"></a>
            </div>

            <div class="footer-main--social col-n4">
                <h3>Social Media</h3>
                <div>
                    <a href="https://www.northumberland.gov.uk/About/Contact/social.aspx" rel="nofollow" aria-label="facebook logo" class="icon is--facebook"></a>
                    <a href="https://www.northumberland.gov.uk/About/Contact/social.aspx" rel="nofollow" aria-label="twitter logo" class="icon is--twitter"></a>
                    <a href="https://www.northumberland.gov.uk/About/Contact/social.aspx" rel="nofollow" aria-label="Instagram logo" class="icon is--instagram"></a>
                    <a href="https://www.northumberland.gov.uk/About/Contact/social.aspx" rel="nofollow"aria-label="Youtube logo" class="icon is--youtube" ></a>
                </div>
            </div>

            <div class="footer-main--links col-n2">
                <h3>Menu</h3>
                <a href="https://www.northumberland.gov.uk/About/Contact/contacts.aspx#contactus">Contact Us</a>
                <a href="[% c.cobrand.privacy_policy_url %]" rel="nofollow">Privacy Policy</a>
                <a href="https://www.northumberland.gov.uk/About/Accessibility.aspx" rel="nofollow">Accessibility</a>
                <a href="https://www.northumberland.gov.uk/About/Staff.aspx" rel="nofollow">Staff Resources</a>
                <a href="https://www.northumberland.gov.uk/Councillors/Info.aspx" rel="nofollow">Councillor Resources</a>
            </div>

            <div class="footer-main--links col-n3">
                <h3>Partner websites</h3>
                <a href="https://www.visitnorthumberland.com/" rel="nofollow">Visit Northumberland</a>
                <a href="https://www.activenorthumberland.org.uk/Home.aspx" rel="nofollow">Active Northumberland</a>
                <a href="https://www.advancenorthumberland.co.uk/" rel="nofollow">Advance Northumberland</a>
                <a href="https://northumberlandline.uk/">Northumberland Line</a>
            </div>
        </div>
        <div class="copyright">
            <a aria-label="Go to Northumberland county council webpage" href="https://www.northumberland.gov.uk/" rel="nofollow">© Northumberland County Council</a>
        </div>
    </div>
</footer>

[% PROCESS '_footer_extra_powered_by.html' %]
