<div class="cookie-warning">
	<div class="container">
		<h3>Cookies</h3>
		<p>This site stores certain information as 'cookies' on your device in order to improve your website experience. We also share information about your use of the site with analytics partners who may combine it with other information that you've provided to them or that they've collected from your use of their services. </p>
		<a href="#" class="cookieaccept">Yes, that's fine</a>
		<a class="cookiedeny" href="/about/privacy">No, I dont want these cookies</a>
	</div>
</div>
<script async src=https://www.googletagmanager.com/gtag/js?id=G-BX35RQ45LG></script>
<script src="[% version('/cobrands/thamesmead/cookies.js') %]"></script> <!-- this must be below the google gtag script -->
