/* COLOURS */

/* Primary is white on bluey */
$primary: rgb(0, 93, 167);
$primary_b: #000;
$primary_text: #fff;

$base_bg: #fff;
$base_fg: #222;

$map_nav_bg: #222;
$nav_fg: #fff;
$nav_fg_hover: rgb(246, 115, 33);

$col_click_map: #00BD08;

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$header-top-border: false;
