/* COLOURS */

$surrey_green: #00604d;
$primary: $surrey_green;
$primary_b: #222;
$primary_text: #fff;

$base_bg: #fff;
$base_fg: #222;

/* NAVBAR */

$nav_colour: $primary_text;
$nav_background_colour: $primary;
$nav_hover_background_colour: $primary_b;

/* OTHER VARIABLES */

$col_click_map: $primary;

$front-main-color: #222;
$form-hint-color: #fff;
$front-main-color-desktop: #222;
