@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";

#site-logo {
    background: url("/cobrands/surrey/logo.png") 0 0 no-repeat;
    background-size: auto 100%;
    width: 54px;
    height: 50px;
}

#site-header {
    padding: 10px 0;
}
