@import "_variables";
@import "../sass/layout";

/* GENERAL COMPONENTS */
html {
  font-size: 16px;
}

/* HEADER */
.nav-menu--main {
  span {
    color: $primary_text;
    text-decoration: underline;
  }

  a, span {
    font-size: 1rem;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  
    &:focus {
      color: $primary_b;
      background-color: $surrey_orange_light;
    }
  }

  span.report-a-problem-btn {
    &:hover {
      color: $primary_text;
      text-decoration: underline;
    }
  }

  a.report-a-problem-btn {
    @include navbar-btn;
    @include surrey-focus;
    &:focus {
      background-color: $surrey_orange;
      color: $primary_b;
    }
  }
}

/* HOMEPAGE */
#front-main {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.site-message {
  font-size: 1rem;
  padding: 20px;
  padding-top: 24px;
  padding-left: 75px;
}

/* MAPPAGE */
.big-green-banner {
  border-top: 0.1rem solid $base_bg;
}

.report-list-filters {
  #filter_categories + .multi-select-container--open {
    .govuk-multi-select__label {
      display: block;
    }

    .multi-select-menu {
      width: 250px !important;
      left: auto;
      right: 0; 
    }
  }
}

/* FOOTER */
.scc-footer {
  .footer-upper-section {
      display: flex;
      flex-direction:row;
  }

  .scc-footer__list--contact-channels {
    width: 30%;
  }

  .scc-footer__list--pages {
    text-align: right;
    width: 100%;
    ul {
      margin: 0;
    }
  }

  .scc-footer__item {
    display: inline-block;
  }

  .scc-footer__list {
    ul {
      margin: 0;
    }
  }
}
