/* This styling is based on https://www.gloucester.gov.uk/
Also here: https://3.basecamp.com/4020879/buckets/38208405/todos/7578740887
*/

/* COLOURS */
$gloucester_blue: #0054a4; // Links and buttons
$glucester_blue_hover: #0000b4;
$gloucester_primary_light: #cadcea;
$gloucester_primary_dark: $glucester_blue_hover;
$gloucester_red: #c0232e;
$gloucester_white: #fff;
$gloucester_grey: #f0f0f0; // Body bg
$gloucester_black: #333333;
$gloucester_yellow: #ffae04;

$primary: $gloucester_blue;
$yellow: $gloucester_yellow;

$primary_b: $gloucester_black;
$primary_text: $gloucester_white;

/* FRONTPAGE */
$base_bg: $gloucester_grey;
$base_fg: $gloucester_black;
$front_stats_bg: $gloucester_white;
$layout_front_stats_color: $primary_b;

/* LINKS */
$primary_link_color: $gloucester_blue;
$primary_link_hover_color: #2e8aca;
$primary_link_decoration: underline;
$primary_link_hover_decoration: underline;

// Found here: https://www.gloucester.gov.uk/planning-development/section-106-agreements/
$link-color: #0d6efd;
$link-hover-color: #6610f2;
$link-visited-color: $link-color;
$link-text-decoration: underline;
$link-hover-text-decoration: none;

/* BUTTONS */
$button-padding-top: 0.625rem;
$button-padding-bottom: 0.625rem;
$button-padding-left: 1.5625rem;
$button-padding-right: 1.5625rem;
$button-border-radius: 0;

// Usage 
/*
a#geolocate_link {
    @include button-variant($bg-top: $button-primary-bg-top, $bg-bottom: $button-primary-bg-bottom, $border: $button-primary-border, $text: $button-primary-text, $hover-bg-bottom: $button-primary-hover-bg-bottom, $hover-bg-top: $button-primary-hover-bg-top, $hover-border: $button-primary-hover-border, $hover-text: $button-primary-hover-text);
    @include focus-state;
}
*/
$button-primary-bg-top: $primary;
$button-primary-bg-bottom: $primary;
$button-primary-border: $primary;
$button-primary-text: $primary_text;
$button-primary-hover-bg-bottom: $gloucester_primary_dark;
$button-primary-hover-bg-top: $gloucester_primary_dark;
$button-primary-hover-border: $gloucester_primary_dark;
$button-primary-hover-text: $primary_text;

$geolocation-link: $primary;
$geolocation-link-border: $primary;

/* FONTS */

$heading-font: "Open Sans", sans-serif;
$body-font: "Open Sans", sans-serif;
$meta-font: "Open Sans", sans-serif;

/* NAVBAR */

$nav_colour: $gloucester_white;
$nav_background_colour: $primary;
$nav_hover_background_colour: $glucester_blue_hover;

$mappage-header-height: 5.625rem;
$header-top-border: false;
// $header-top-border-width: 0.25em;
// $header-top-border: $header-top-border-width solid $primary;
$menu-image: "menu-white";
// $close-menu-image: "close-#{$menu-image}";

/* OTHER VARIABLES */

$container-max-width: 82.5rem;

$col_click_map: $primary;
$col_fixed_label: $primary;
// $col_fixed_label_light: mix($col_fixed_label, #fff, 10%);

$search-help-background: #fff3f3;
$search-help-header-font-size-desktop: 1.25em;

$dropzone-button-text: $primary_text;

// $pagination_background: #f6f6f6;
$itemlist_item_background:  $base_bg;
$itemlist_item_background_hover: $gloucester_primary_light;
$col_big_numbers: $primary_b;

// $form-control-border-color: #aaaaaa;
$mobile-sticky-sidebar-button-menu-image: "menu-white";

$front-main-color: $primary_b;
$postcodeform-background: $gloucester_white;
$front-main-color-desktop: $primary_b;
$front-main-background-desktop: #fff;
$postcodeform-color: $primary_b;
$postcodeform-color-desktop: $primary_b;
