/* COLOURS */

$primary: #fff; //E6DBD6
$primary_b: #000000;
$primary_text: #222222;

$base_bg: #C7B299 url(images/pat3.png);
$base_fg: $primary_text;

$map_nav_bg: url('images/fmb-header.png') 30% 0% repeat-x;
$nav_fg: #fff;
$nav_fg_hover: rgba(0,0,0,0.8);

$col_click_map: #00BD08;
$col_click_map_dark: #4B8304;
$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$fmb_base_blue: #046AAA;
$fmb_dark_blue: #084E7A;
$fmb_tab_yellow: #FFD000;
