@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

$image-sprite: 'images/sprite.png';

@import "../sass/base";

#site-logo{
  width: 225px !important;
  background: url($image-sprite) -3px -3px no-repeat;
}

#barangay_buttons {
    padding: 1em;
}

.yellow-btn,
a.yellow-btn,
button.yellow-btn,
input.yellow-btn{
  @include button-reset(#FFD000, #cc9000, #aa7000, #300, #FFD000, #cc9000, #aa7000, #300);
  &:visited, &:hover {
    color:#300;
  }
}

.nav-menu--main a.report-a-problem-btn:hover {
  background: #fff;
}

.ie6 #site-logo {
    background-image: url('images/ie_logo.png');
}

// #site-header creates grey bar in mobile
// .nav-wrapper-2 is used on desktop
#site-header{
  border-top: 0.25em solid $fmb_tab_yellow;
  @include background(linear-gradient($fmb_dark_blue, $fmb_base_blue 10%, $fmb_base_blue 90%, $fmb_dark_blue));
}

ul#promo-list {
  margin: 0.5em;
  li {
    list-style:none;
  }
}
.promo-big, .promo-bigger {
    font-size: 130%;
    font-weight: bold;
    padding: 0 0.2em;
}
.promo-bigger {
    font-size: 150%;
}
.promo-example {
  font-size: 90%;
  font-style: italic;
  border: 1px solid #aaa;
  background-color:#f0ebe8; // pale tone of background image
  padding: 0.666em;
  margin: 1em 1em 1em 0;
  div {
    font-style: normal;
    font-family: monospace;
  }
}
