@import "_colours";
@import "../fixmystreet/_layout";

body {
  background: #1A1A1A;
}

#front-main {
  color: $primary_text;
  background: $primary;
  
  #postcodeForm {
    margin-left: 0;
    margin-right: 0;
  }

}

.nav-wrapper {
    .nav-wrapper-2 {
        border-top: solid 4px $primary;
        @include border-image(none);
    }
}
#main-nav {
    ul {
        &#mysoc-menu {
            background:$primary;
        }
    }
}

#front-howto {
    #front_stats {
        border-top: 0.25em solid #000;
        div {
            big {
                color: #000;
            }
        }
    }
}
