@import "_colours";

$mm_status_message_color: #a66;
$mm_border_color: #eee;

$color_reply_bg:         #cccccc;
$color_bg_reply_0:       #E8E8E8;
$color_bg_reply_1:       #DEDEDE;
$color_bg_reply_2:       #D6D6D6;
$color_bg_reply_3:       #D1D1D1;
$color_bg_reply_4:       #C9C9C9;
$color_bg_reply_5:       #BFBFBF;
$color_bg_reply_6:       #B8B8B8;
$color_bg_mm_list:       #F6F6F6;

$color_bg_btn_hide:      #ff0000;
$color_bg_btn_reply:     #008000;
$color_bg_btn_info:      #0000ff;
$color_bg_btn_detach:    #FFA500;

$weak_text_color:      #666;

p.mm-submitted-by-sms {
  color: $weak_text_color;
  font-style: italic;
  font-size: 0.8125em;
  img {
    border: none;
    margin-right: 0.5em;
    width: 22px;
    height: 40px;
    vertical-align:middle;
    display: inline;
  }
}

#message_manager {
  margin-top: 0;
  li#mm-admin-buttons {
    margin: -0.5em 0 0 0;
    text-align: right;
    font-size:80%;
    padding:4px 0;
    a {
      padding: 0.25em 0.5em;
      border:1px solid $mm_border_color;
      margin: 0 0.5em;
      display: inline-block;
    }
    background-color: #fff;
    &:hover {
      background-color: #fff;
    }
    #mm-link-to-toggle-archive {
      border-color: green;
    }
  }
  #message-control {
    background-color: #fff;
    &:hover {
      background-color: #fff;
    }
    #mm-username-container {
      display: none; // hidden during dev
      padding: 8px;
      text-align: right;
      color: $mm_status_message_color;
      font-style: italic;
      span {
        color: #000;
        font-style: normal;
      }
    }
    #mm-status-message-container {
      position: relative;
      min-height: 1.4em;
      margin: 0 0 8px 0.5em;
      padding: 8px 4px 8px 24px;
      color: $mm_status_message_color;
      font-style: italic;
      p {
        margin:0;
        padding:0;
      }
      #mm-spinner {
        position: absolute;
        left: 4px;
        top: 10px;
        display: none;
      }
    }
    #mm-login-container {
      display: none; // only shown on/after a 403
      border: 1px solid $mm_border_color;
      padding: 0 1em;
      margin: 1em;
      input {
        margin-bottom: 1em;
      }
    }
  }

  #mm-message-list {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li, ul.mm-reply-thread li  {
        position: relative;
        clear: both;
        margin: 4px 0 0 0;
        padding: 0;
        background-color: $color_bg_mm_list;
        p {
          background-color: inherit;
          margin: 0.25em 0 0 0;
          padding: 0.5em 1em;
          &:hover { background-color: #efe;}
          .msg-info-box {
            font-style: italic;
            font-size: 90%;
            color: #666;
            border-top: 1px dashed #666;
            padding:4px 0 0 0;
            margin: 4px 0 0 0;
            display: none;
          }
        }
        ul.mm-reply-thread {
          li {
            margin:0;
          }
          .mm-reply {
            background-color: #ccc;
            &:hover {background-color: #eef;}
          }
          .mm-reply-0 { margin-left: 0em; background-color: $color_bg_reply_0;}
          .mm-reply-1 { margin-left: 1em; background-color: $color_bg_reply_1;}
          .mm-reply-2 { margin-left: 2em; background-color: $color_bg_reply_2;}
          .mm-reply-3 { margin-left: 3em; background-color: $color_bg_reply_3;}
          .mm-reply-4 { margin-left: 4em; background-color: $color_bg_reply_4;}
          .mm-reply-5 { margin-left: 5em; background-color: $color_bg_reply_5;}
          .mm-reply-6 { margin-left: 6em; background-color: $color_bg_reply_6;}
        }
        &:hover { background-color: #efe;}
        &.msg-is-locked { background-color: #fdd;}
        &.msg-is-busy { background-color: #ffd;}
        &.msg-is-owned { background-color: #dfd;}
        &.msg-is-active { 
          background-color: $col_click_map; color:#fff;
          p:hover { background-color: $col_click_map; color:#fff; } // fix for mouseover on p
          p.mm-reply:hover {background-color: #eef; color:#000;} // fix for mouseover on p
        }
        span.msg-tag {
          width: 3em;
          float:left;
        }
        .mm-radio-filler,
        input[type=radio] {
          display: block;
          float: left;
        }
        label, span.msg-text {
          display: block;
          font-weight: normal;
          margin: 0.1em 0 0.1em 4.5em;
        }
        .mm-radio-filler {
          margin:0;
          padding:0;
        }
        .mm-msg-action {
          display: none;
          padding: 0.2em 0.4em;
          color: white;
          text-align: center;
          position: absolute;
          top: 4px;
          &:hover { background-color: black;}
        }
        .mm-hide {
          right:0px;
          background-color: $color_bg_btn_hide;
          cursor: pointer;
        }
        .mm-info {
          right:1.5em;
          background-color: $color_bg_btn_info;
          cursor: pointer;
        }
        .mm-rep {
          right:2.6em;
          background-color: $color_bg_btn_reply;
          cursor: pointer;
        }
        .mm-detach {
          right:5.65em;
          background-color: $color_bg_btn_detach;
          cursor: pointer;
        }
      }
      &.mm-archive {
        display: none; // archive only shown on interaction
        li label {
          cursor: default;
        }
      }
    }
  }
  p.mm-empty {
    margin: 1em;
  }
}
#show_messages, #copy_to_update, #reply-submit {
  margin: 1em;
}
#copy_to_update {
  display: none; // show on demand, not before
}
#show_messages {
  width: 11em; // hack to stop adjacent button hopping when button message changes
}

#detach-form-container,
#reply-form-container, 
#hide-form-container {
  p {
    color: #000;
    max-width: 25em;
    margin: 1em;
  }
  #hide-form,
  #reply-form{
    margin-top: 2em;
    textarea {
      min-height: 3em;
      margin-bottom: 0.5em;
    }
  }
  #mm-boilerplate-replies-box, #mm-boilerplate-hide-reasons-box {
    overflow: hidden;
    display: none;
  }
  select {
    width: 100%;
    max-width: 25em;
  }
}
#mm-help {
  .demo_hide_btn, .demo_reply_btn, .demo_info_btn, .demo_detach_btn {
    color: #fff;
    font-weight: bold;
    padding: 0.2em 0.4em;
  }
  .demo_hide_btn  { background-color: $color_bg_btn_hide;  }
  .demo_reply_btn { background-color: $color_bg_btn_reply; }
  .demo_info_btn  { background-color: $color_bg_btn_info;  }
  .demo_detach_btn{ background-color: $color_bg_btn_detach;  }
  h3 {
    border-top: 1px solid $color_reply_bg;
    padding-top: 0.8em;
  }
  p {
    margin: 1em;
  }
}
