
/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
}

h1 {
    border-bottom: solid 2px #999999;
    margin: 0;
}

a {
    color: #0000ff;
}
a:hover, a:active {
    color: #ff0000;
}

.v { display: none; }

#error {
    color: #cc0000;
    font-size: larger;
}

label {
    float: left;
    text-align: right;
    padding-right: 4px;
    width: 4em;
}

/* Site-wide layout */

#container {
}
#content {
}

#navigation {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em 1em 1em;
    background-color: #eeeeee;
    border: solid 2px #999999;
    margin: 0;
    list-style-type: none;
}

/* Individual pages */

#report_form div {
    margin-top: 2px;
}

#map {
    border: solid 1px #000000;
    width: 508px;
    height: 508px;
    position: relative;
    top: 0;
    overflow: hidden;
    float: right;
}
/*#drag {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
}
*/
#map input {
    position: absolute;
    cursor: crosshair;
}
#log {
    border: solid 1px #ff0000;
    padding: 3px;
    font-size: 83%;
}
#compass {
    float: right;
    margin: 0 1em 1em;
}
#compass img {
    border: 0;
}

#relativediv {
    position: relative;
}

ul#current img {
    position: absolute;
    border: none;
}
