
/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    dcolor: #a9aeb0;
}

h1 {
    font-size: 175%;
}

#header {
    font-size: 200%;
    font-weight: bold;
    border-bottom: solid 2px #968d63;
    margin: 0;
    padding: 5px 0.5em;
    background-color: #e3d595;
    color: #968d63;
}

#header a:link, #header a:visited {
    color: #968d63;
    background-color: #e3d595;
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:hover, a:active {
    color: #ff0000;
}

.v { display: none; }

#error {
    text-align: center;
    color: #cc0000;
    font-size: larger;
}

ul#error {
    color: #cc0000;
    background-color: #ffeeee;
    margin:0;
    padding: 0 0 0 1.5em;
    border: solid 1px #cc0000;
}

/* Site-wide layout */

#navigation {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#navigation li {
    float: right;
    padding: 0;
    margin: 0;
}

#navigation a:link, #navigation a:visited {
    color: #968d63;
    background-color: #e3d595;
    padding: 5px 2em;
}
#navigation a:hover, #navigation a:active {
    background-color: #968d63;
    color: #e3d595;
}

#footer {
    clear: both;
    text-align: right;
    font-size: 83%;
    border-top: solid 1px #968d63;
    display: table;
    margin: 1em 0 1em auto;
    padding: 2px 4px;
}

/* Forms */

input {
    font-size: 100%;
}

#postcodeForm {
    display: table;
    font-size: 150%;
    margin: 2em auto;
}

#postcodeForm label {
    float: none;
    padding-right: 0;
}

label {
    float: left;
    text-align: right;
    padding-right: 0.5em;
    width: 5em;
}
fieldset {
    border: none;
    padding: 0.5em;
}
fieldset div {
    margin-top: 2px;
}
fieldset div.checkbox {
    padding-left: 5.5em;
}
fieldset div.checkbox label {
    float: none;
    text-align: left;
    padding-right: 0;
    width: auto;
}

/* Individual pages */

#map {
    border: solid 1px #000000;
    width: 508px;
    height: 508px;
    position: relative;
    top: 0;
    overflow: hidden;
    float: right;
}

#side {
    margin-right: 530px;
}

/*#drag {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
}
*/
#map input {
    position: absolute;
    cursor: crosshair;
}
#log {
    border: solid 1px #ff0000;
    padding: 3px;
    font-size: 83%;
}
#compass {
    background-color: #ffffff;
    color: #000000;
    float: right;
    margin: 0 1em 1em;
}
#compass img {
    border: 0;
}

#content {
    margin: 0 2em;
    position: relative;
}

ul#current img {
    position: absolute;
    border: none;
}
