
/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1em;
}

h1 {
    border-bottom: solid 2px #999999;
    margin: 0;
}

a {
    color: #0000ff;
}
a:hover, a:active {
    color: #ff0000;
}

.v { display: none; }

#error {
    color: #cc0000;
    font-size: larger;
}

ul#error {
    color: #cc0000;
    background-color: #ffeeee;
    margin:0;
    padding: 0 0 0 1.5em;
    border: solid 1px #cc0000;
}

/* Site-wide layout */

#navigation {
    position: absolute;
    top: 2em;
    right: 1em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#navigation li {
    float: right;
    padding: 0 2em;
}

/* Forms */

label {
    float: left;
    text-align: right;
    padding-right: 0.5em;
    width: 5em;
}
fieldset {
    border: none;
    padding: 0.5em;
}
fieldset div {
    margin-top: 2px;
}
fieldset div.checkbox {
    padding-left: 5.5em;
}
fieldset div.checkbox label {
    float: none;
    text-align: left;
    padding-right: 0;
    width: auto;
}

/* Individual pages */

#map {
    border: solid 1px #000000;
    width: 508px;
    height: 508px;
    position: relative;
    top: 0;
    overflow: hidden;
    float: right;
}

#content {
    margin-right: 530px;
}

/*#drag {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
}
*/
#map input {
    position: absolute;
    cursor: crosshair;
}
#log {
    border: solid 1px #ff0000;
    padding: 3px;
    font-size: 83%;
}
#compass {
    background-color: #ffffff;
    color: #000000;
    float: right;
    margin: 0 1em 1em;
}
#compass img {
    border: 0;
}

#relativediv {
    position: relative;
}

ul#current img {
    position: absolute;
    border: none;
}
