/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* color: #a9aeb0; */
}

h1 {
    margin: 0;
    font-size: 175%;
}
h2 {
    font-size: 140%;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:hover, a:active {
    color: #ff0000;
}

form {
    margin: 0;
}

select, input, textarea {
    font-size: 99%;
}

label {
    float: left;
    text-align: right;
    padding-right: 0.5em;
    width: 5em;
}

fieldset {
    border: none;
    padding: 0.5em;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
}

.v { display: none; }

#error {
    text-align: center;
    color: #cc0000;
    font-size: larger;
}

ul#error {
    color: #cc0000;
    background-color: #ffeeee;
    margin: 0;
    padding: 0 0 0 1.5em;
    border: solid 1px #cc0000;
    text-align: left;
}

/* Site-wide layout */

#header {
    font-size: 200%;
    font-weight: bold;
    border-bottom: solid 2px #968d63;
    margin: 0;
    padding: 5px 0.5em;
    background-color: #e3d595;
    color: #968d63;
}

#header a:link, #header a:visited {
    color: #968d63;
    background-color: #e3d595;
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}

#content {
    width: 100%; /* Must specify a width or IE goes crazy wrong! */
    position: relative;
    margin: 0 auto;
    max-width: 60em;
}

/* Can't put the margin in #content because of above IE craziness */
#wrapper {
    margin: 2em;
}

#navigation {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

#navigation a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 0.5em 2em;
}
#navigation a:link, #navigation a:visited {
    color: #968d63;
    background-color: #e3d595;
}
#navigation a:hover, #navigation a:active {
    background-color: #968d63;
    color: #e3d595;
}

#footer {
    clear: both;
    text-align: right;
    font-size: 83%;
    border-top: solid 1px #968d63;
    display: table;
    margin: 1em 0 1em auto;
    padding: 2px 4px;
}

/* Forms */

#postcodeForm {
    display: table;
    _width: 18em;
    text-align: center;
    font-size: 150%;
    margin: 1em auto;
    padding: 1em;
    background-color: #e3d595;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#postcodeForm label {
    float: none;
    padding-right: 0;
}

fieldset div {
    margin-top: 2px;
}
fieldset div.checkbox {
    padding-left: 5.5em;
}
fieldset div.checkbox label {
    float: none;
    text-align: left;
    padding-right: 0;
    width: auto;
}

/* Map */

#map {
    border: solid 1px #000000;
    width: 508px;
    height: 508px;
    overflow: hidden;
    float: right;
    position: relative;
}

#drag {
    position: relative;
    width: 508px;
    height: 508px;
}

#side {
    margin-right: 530px;
}

/*#drag {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
}
*/
#drag input {
    cursor: crosshair;
    background-color: #cccccc;
}
#drag img {
    cursor: move;
}
#drag input, #drag img {
    position: absolute;
    border: none;
}
#drag img.pin {
    z-index: 100;
    background-color: inherit;
}
#drag a img.pin {
    cursor: pointer;
    cursor: hand;
}

#compass {
    background-color: #ffffff;
    color: #000000;
    float: right;
    margin: 0 1em 1em;
}

#compass img {
    border: 0;
}

/*
ol#current img {
    position: absolute;
    border: none;
}
*/

#expl {
    text-align: center;
    font-size: 150%;
    margin: 2em;
    font-weight: bolder;
}

#comments div em {
    border-bottom: dotted 1px #968d63;
}
