
/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
}

h1 {
    border-bottom: solid 1px #999999;
    margin: 0 0 1em 0;
}

.v { display: none; }

#error {
    color: #cc0000;
    font-size: larger;
}

/* Site-wide layout */

#container {
    margin-left: -8em;
    width: 100%;
    float: right;
}
#content {
    margin-left: 8em;
}
#content > *:first-child {
    margin-top: 0;
}
#navigation {
    width: 5em;
    float: left;
    padding: 0 1em 0 0;
    margin: 0 0 1em 2em;
}

/* Individual pages */

#map {
    border: solid 1px #000000;
    width: 500px;
    height: 500px;
    position: relative;
    top: 0;
    margin-left: 5em;
    overflow: hidden;
}
/*#drag {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
}
*/
#map input {
    position: absolute;
    cursor: crosshair;
}
#log {
    border: solid 1px #ff0000;
    padding: 3px;
    font-size: 83%;
}
#compass {
    float: left;
}
#compass img {
    border: 0;
}
