/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* color: #a9aeb0; */
}

h1 {
    margin: 0;
    font-size: 175%;
}
h2 {
    font-size: 140%;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:hover, a:active {
    color: #ff0000;
}

blockquote {
    border-left: solid 4px #5e552b;
    padding-left: 0.5em;
}
blockquote h2, blockquote p {
    margin: 0;
}

form {
    margin: 0;
}

select, input, textarea {
    font-size: 99%;
}

label {
    float: left;
    text-align: right;
    padding-right: 0.5em;
    width: 5em;
}

fieldset {
    border: none;
    padding: 0.5em;
}

legend {
    display: none;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
}

.v { display: none; }

.a {
    color: #000000;
    background-color: #f3e5a5;
}

#error {
    text-align: center;
    color: #cc0000;
    font-size: larger;
}

ul {
    padding: 0 0 0 1.5em;
    margin: 0;
}

ul#error {
    color: #cc0000;
    background-color: #ffeeee;
    padding-right: 4px;
    border: solid 1px #cc0000;
    text-align: left;
}

/* Site-wide layout */

#header {
    font-size: 200%;
    font-weight: bold;
    border-bottom: solid 2px #5e552b;
    margin: 0;
    padding: 5px 0.5em;
    background-color: #e3d595;
    color: #5e552b;
}

#my {
    color: #4e451b;
    background-color: #e3d595;
}
#beta {
    color: #6e653b;
    background-color: #e3d595;
    font-size: 50%;
    font-style: italic;
}

#header a:link, #header a:visited {
    color: #5e552b;
    background-color: #e3d595;
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}

#content {
    width: 100%; /* Must specify a width or IE goes crazy wrong! */
    position: relative;
    margin: 0 auto;
    max-width: 60em;
}

/* Can't put the margin in #content because of above IE craziness */
#wrapper {
    margin: 2em;
}

#navigation {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

#navigation a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 0.5em 1em;
}
#navigation a:link, #navigation a:visited {
    color: #5e552b;
}
#navigation a:hover, #navigation a:active {
    background-color: #5e552b;
    color: #e3d595;
}

#nav_new a {
    background-image: url("/i/new.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}


#footer {
    clear: both;
    text-align: right;
    font-size: 83%;
    border-top: solid 1px #5e552b;
    display: table;
    margin: 2em 0 1em auto;
    padding: 2px 4px;
}

/* Front page */

#expl {
    text-align: center;
    font-size: 150%;
    margin: 0 2em;
}

#postcodeForm {
    display: table;
    _width: 31em;
    text-align: center;
    font-size: 150%;
    margin: 1em auto;
    padding: 1em;
    background-color: #e3d595;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#postcodeForm label {
    float: none;
    padding-right: 0;
}

#postcodeForm #submit {
    font-size: 83%;
}

#front_intro {
    float: left;
    width: 48%;
}

#front_intro p {
    clear: both;
    margin-top: 0;
}

#front_stats div {
    text-align: center;
    width: 5.5em;
    background-color: #e3d595;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    float: left;
    margin: 0 1em 1em;
}

#front_stats div big {
    font-size: 150%;
    display: block;
}

#front_recent {
    float: right;
    width: 48%;
    margin-bottom: 1em;
}
#front_recent img {
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}
#front_recent > h2:first-child, #front_intro > h2:first-child {
    margin-top: 0;
}

/* Forms */

fieldset div {
    margin-top: 2px;
    clear: left;
}
fieldset div.checkbox {
    padding-left: 5.5em;
}
fieldset div.checkbox label, label.n {
    float: none;
    text-align: left;
    padding-right: 0;
    width: auto;
    cursor: pointer;
    cursor: hand;
}

#questionnaire label, #alerts label {
    float: none;
}

/* Map */

#map_box {
    float: right;
    width: 510px;
    position: relative;
}

p#copyright {
    float: right;
    margin: 0 0 1em 0;
    font-size: 78%;
}

#map {
    border: solid 1px #000000;
    width: 508px;
    height: 508px;
    overflow: hidden;
    position: relative;
    background-color: #f1f1f1;
}

#drag {
    position: absolute;
    width: 508px;
    height: 508px;
    left: 0;
    top: 0;
}

#side {
    margin-right: 530px;
}

#drag input {
    cursor: crosshair;
    background-color: #cccccc;
}
#drag img {
    cursor: move;
}
#drag input, #drag img {
    position: absolute;
    border: none;
}
#drag img.pin {
    z-index: 100;
    background-color: inherit;
}
#drag a img.pin {
    cursor: pointer;
    cursor: hand;
}

#compass {
    background-color: #ffffff;
    border: solid 1px #000000;
    border-width: 0 1px 1px 1px;
    color: #000000;
    position: absolute;
    top: 0px;
    right: 439px;
}

#compass img {
    border: 0;
}

#text_map {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#text_no_map {
    margin-top: 0;
}

/*
ol#current img {
    position: absolute;
    border: none;
}
*/

/* Problem pages */

#fixed, #unknown {
    margin: 1em auto;
    width: 80%;
    padding: 5px;
    text-align: center;
}
#fixed {
    background-color: #ccffcc;
    border: solid 2px #009900;
}
#unknown {
    background-color: #ffcccc;
    border: solid 2px #990000;
}

#updates div {
    padding: 0 0 0.5em;
    margin: 0 0 0.25em;
    border-bottom: dotted 1px #5e552b;
}
#alert_links {
    float: right;
}
#rss_link {
}
#email_alert {
}
#email_alert_box {
    display:none;
    position: absolute;
    padding: 3px;
    font-size:83%;
    border:solid 1px #7399C3;
    background-color: #eeeeff;
    color: #000000;
}
#email_alert_box p {
    margin: 0;
}

/* RSS feed XSL */

#rss_items {
    width:62%;
    float:left;
}
#rss_rhs {
    border-left:1px dashed #999;
    width:36%;
    float:right;
    padding: 0 0 0 0.5em;
    margin: 0 0 1em 0.5em;
}
#rss_box {
    padding:10px;
    border:1px solid #999999;
}

/* Alerts */
#rss_feed {
    list-style-type: none;
    margin-bottom: 2em;
}
#rss_feed li {
    margin-bottom: 1em;
}
#alert_or {
    font-style: italic;
    font-size: 125%;
    margin: 0;
}
#rss_list {
    float: left;
    width: 47%;
}
#rss_list ul {
    list-style-type: none;
}
#rss_buttons {
    float: right;
    width: 35%;
    text-align: center;
    margin-bottom: 2em;
}
#rss_local {
    margin-left: 1.5em;
    margin-bottom: 0;
}
#rss_local_alt {
    margin: 0 0 2em 4em;
}

#alert_photos {
    text-align: center;
    float: right;
    width: 150px;
    margin-left: 0.5em;
}
#alert_photos h2 {
    font-size: 100%;
}
#alert_photos img {
    margin-bottom: 0.25em;
}

/* Report page */

#col_problems, #col_fixed {
    float: left;
    width: 48%;
    margin-right: 1em;
}

/* Printign */
@media print {
    #map_box { float: none; margin: 0 auto; }
    #content { max-width: none; }
    #side { margin-right: 0; }
}
